<section id="basics" class="l-section js-section">
  <div class="m-card">
    <div class="m-card-head">
      <h1 class="m-card-title">Basics</h1>
      <button class="m-card-link-self button button-link js-card-link-self"></button>
      <button class="m-card-link-toggle button button-link button-small button-icon u-inline-with-input js-card-link-toggle"><span class="icon-reader-mode js-card-link-toggle-icon"></span></button>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> basics-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> basics-display }}
      </div>
    </div>
    <div class="js-display is-hidden">
      <div class="m-card-body-dark">
        {{> quick-stats }}
      </div>
    </div>
  </div>
</section>
