<section id="basics" class="l-section js-section js-section-basics" data-display-mode="false">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium button-icon js-card-title" tabindex="1">
          <span class="icon-account-circle"></span>
          <span class="button-text">Basics</span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-minimise" tabindex="1">
          <span class="icon-unfold-less js-card-minimise-icon"></span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-toggle" tabindex="1">
          <span class="icon-reader js-card-toggle-icon"></span>
        </button>
      </div>
      <div class="m-card-tabs js-card-tabs">
        <div class="m-tab-group js-tab-group">
          <button class="m-tab-arrow button button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="action:left" tabindex="1"><span class="icon-chevron-left"></span></button>
          <div class="m-tab-row js-tab-row">
            <button class="m-tab-item js-tab-item is-active" data-tab-options="tab:basics.character,target:js-tab-panel-character" data-tab-state="true" tabindex="1"><span class="m-tab-text">Character</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tab:basics.experience,target:js-tab-panel-experience" data-tab-state="false" tabindex="1"><span class="m-tab-text">EXP</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tab:basics.classes,target:js-tab-panel-classes" data-tab-state="false" tabindex="1"><span class="m-tab-text">Classes</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tab:basics.senses,target:js-tab-panel-senses" data-tab-state="false" tabindex="1"><span class="m-tab-text">Senses</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tab:basics.initiative,target:js-tab-panel-initiative" data-tab-state="false" tabindex="1"><span class="m-tab-text">Initiative</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tab:basics.speed,target:js-tab-panel-speed" data-tab-state="false" tabindex="1"><span class="m-tab-text">Speed</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tab:basics.image,target:js-tab-panel-character-image" data-tab-state="false" tabindex="1"><span class="m-tab-text">Image</span></button>
          </div>
          <button class="m-tab-arrow button button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="action:right" tabindex="1"><span class="icon-chevron-right"></span></button>
        </div>
      </div>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> basics-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> basics-display }}
      </div>
    </div>
  </div>
</section>
