<section id="basics" class="l-section js-section js-section-basics" data-display-mode="false">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-head-controls button-group">
        <button class="m-card-title button button-tertiary button-medium button-icon js-card-title" tabindex="1">
          <span class="icon-account-circle"></span>
          <span class="button-text">Basics</span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-minimise" tabindex="1">
          <span class="icon-unfold-less js-card-minimise-icon"></span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-toggle" tabindex="1">
          <span class="icon-reader-mode js-card-toggle-icon"></span>
        </button>
      </div>
    </div>
    <div class="m-tab-group js-tab-group">
      <button class="m-tab-item js-tab-item is-active"><span class="m-tab-text">Character Details</span></button>
      <button class="m-tab-item js-tab-item"><span class="m-tab-text">Classes</span></button>
      <button class="m-tab-item js-tab-item"><span class="m-tab-text">Initiative, Speed</span></button>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> basics-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> basics-display }}
      </div>
    </div>
  </div>
</section>
