<section id="basics" class="l-section js-section js-section-basics">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium button-icon js-card-title" tabindex="1">
          <span class="icon-account-circle"></span>
          <span class="button-text">Basics</span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-minimise" tabindex="1">
          <span class="icon-unfold-less js-card-minimise-icon"></span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-toggle" tabindex="1">
          <span class="icon-reader js-card-toggle-icon"></span>
        </button>
      </div>
      <div class="m-card-tabs js-card-tabs">
        <div class="m-tab-group js-tab-group">
          <button class="m-tab-arrow button button-medium button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="tabGroup:basics,action:left" tabindex="1"><span class="icon-chevron-left"></span></button>
          <div class="m-tab-row js-tab-row">
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:basics,tab:character,target:js-tab-panel-character" tabindex="1"><span class="m-tab-text">Character</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:basics,tab:experience,target:js-tab-panel-experience" tabindex="1"><span class="m-tab-text">EXP</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:basics,tab:classes,target:js-tab-panel-classes" tabindex="1"><span class="m-tab-text">Classes</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:basics,tab:senses,target:js-tab-panel-senses" tabindex="1"><span class="m-tab-text">Senses</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:basics,tab:initiative,target:js-tab-panel-initiative" tabindex="1"><span class="m-tab-text">Initiative</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:basics,tab:speed,target:js-tab-panel-speed" tabindex="1"><span class="m-tab-text">Speed</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:basics,tab:image,target:js-tab-panel-character-image" tabindex="1"><span class="m-tab-text">Image</span></button>
            <span class="m-tab-indicator"></span>
          </div>
          <button class="m-tab-arrow button button-medium button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="tabGroup:basics,action:right" tabindex="1"><span class="icon-chevron-right"></span></button>
        </div>
      </div>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> basics-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> basics-display }}
      </div>
    </div>
  </div>
</section>
