<section id="defense" class="l-section js-section js-section-defense">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium button-icon js-card-title" tabindex="1">
          <span class="icon-shield"></span>
          <span class="button-text">Defense</span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-minimise" tabindex="1">
          <span class="icon-unfold-less js-card-minimise-icon"></span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-toggle" tabindex="1">
          <span class="icon-reader js-card-toggle-icon"></span>
        </button>
      </div>
      <div class="m-card-tabs js-card-tabs">
        <div class="m-tab-group js-tab-group">
          <button class="m-tab-arrow button button-medium button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="tabGroup:defense,action:left" tabindex="1"><span class="icon-chevron-left"></span></button>
          <div class="m-tab-row js-tab-row">
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:defense,tab:hp,target:js-tab-panel-hit-points" tabindex="1"><span class="m-tab-text">HP</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:defense,tab:ac,target:js-tab-panel-armor-class" tabindex="1"><span class="m-tab-text">AC</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:defense,tab:cmd,target:js-tab-panel-combat-maneuver-defense" tabindex="1"><span class="m-tab-text">CMD</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:defense,tab:saves,target:js-tab-panel-saves" tabindex="1"><span class="m-tab-text">Saves</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:defense,tab:dr,target:js-tab-panel-damage-reduction" tabindex="1"><span class="m-tab-text">DR</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:defense,tab:sr,target:js-tab-panel-spell-resistance" tabindex="1"><span class="m-tab-text">SR</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:defense,tab:resistance,target:js-tab-panel-resistances" tabindex="1"><span class="m-tab-text">Resistances</span></button>
            <span class="m-tab-indicator"></span>
          </div>
          <button class="m-tab-arrow button button-medium button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="tabGroup:defense,action:right" tabindex="1"><span class="icon-chevron-right"></span></button>
        </div>
      </div>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> defense-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> defense-display }}
      </div>
    </div>
  </div>
</section>
