<section id="defense" class="l-section js-section js-section-defense" data-display-mode="false">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium button-icon js-card-title" tabindex="1">
          <span class="icon-shield"></span>
          <span class="button-text">Defense</span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-minimise" tabindex="1">
          <span class="icon-unfold-less js-card-minimise-icon"></span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-toggle" tabindex="1">
          <span class="icon-reader js-card-toggle-icon"></span>
        </button>
      </div>
    </div>
    <div class="m-card-tabs js-card-tabs">
      <div class="m-tab-group js-tab-group">
        <button class="m-tab-arrow button button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="action:left" tabindex="1"><span class="icon-chevron-left"></span></button>
        <div class="m-tab-row js-tab-row">
          <button class="m-tab-item js-tab-item is-active" data-tab-options="target:js-tab-panel-hit-points" data-tab-state="true" tabindex="1"><span class="m-tab-text">HP</span></button>
          <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-armor-class" data-tab-state="false" tabindex="1"><span class="m-tab-text">AC</span></button>
          <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-combat-maneuver-defense" data-tab-state="false" tabindex="1"><span class="m-tab-text">CMD</span></button>
          <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-saves" data-tab-state="false" tabindex="1"><span class="m-tab-text">Saves</span></button>
          <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-dr-sr-resist" data-tab-state="false" tabindex="1"><span class="m-tab-text">DR, SR, Resist</span></button>
        </div>
        <button class="m-tab-arrow button button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="action:right" tabindex="1"><span class="icon-chevron-right"></span></button>
      </div>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> defense-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> defense-display }}
      </div>
    </div>
  </div>
</section>
