<section id="equipment" class="l-section js-section js-section-equipment">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium button-icon js-card-title" tabindex="1">
          <span class="icon-bottle"></span>
          <span class="button-text">Equipment</span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-minimise" tabindex="1">
          <span class="icon-unfold-less js-card-minimise-icon"></span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-toggle" tabindex="1">
          <span class="icon-reader js-card-toggle-icon"></span>
        </button>
      </div>
      <div class="m-card-tabs js-card-tabs">
        <div class="m-tab-group js-tab-group">
          <button class="m-tab-arrow button button-medium button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="tabGroup:equipment,action:left" tabindex="1"><span class="icon-chevron-left"></span></button>
          <div class="m-tab-row js-tab-row">
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:equipment,tab:possessions,target:js-tab-panel-possessions" tabindex="1"><span class="m-tab-text">Possessions</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:equipment,tab:armor,target:js-tab-panel-armor" tabindex="1"><span class="m-tab-text">Armor & Shield</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:equipment,tab:body_slots,target:js-tab-panel-body-slots" tabindex="1"><span class="m-tab-text">Body Slots</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:equipment,tab:item,target:js-tab-panel-items" tabindex="1"><span class="m-tab-text">Items</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:equipment,tab:encumbrance,target:js-tab-panel-encumbrance" tabindex="1"><span class="m-tab-text">Encumbrance</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:equipment,tab:consumable,target:js-tab-panel-consumables" tabindex="1"><span class="m-tab-text">Consumables</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:equipment,tab:wealth,target:js-tab-panel-wealth" tabindex="1"><span class="m-tab-text">Wealth</span></button>
            <span class="m-tab-indicator"></span>
          </div>
          <button class="m-tab-arrow button button-medium button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="tabGroup:equipment,action:right" tabindex="1"><span class="icon-chevron-right"></span></button>
        </div>
      </div>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> equipment-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> equipment-display }}
      </div>
    </div>
  </div>
</section>
