<section id="equipment" class="l-section js-section">
  <div class="m-card">
    <div class="js-edit">
      {{> equipment-edit }}
    </div>
    <div class="js-display is-hidden">
      {{> equipment-display }}
    </div>
  </div>
</section>
