<section id="notes" class="l-section js-section">
  <div class="m-card">
    <div class="js-edit">
      {{> notes-edit }}
    </div>
    <div class="js-display is-hidden">
      {{> notes-display }}
    </div>
  </div>
</section>
