<section id="offense" class="l-section js-section">
  <div class="m-card">
    <div class="js-edit">
      {{> offense-edit }}
    </div>
    <div class="js-display is-hidden">
      {{> offense-display }}
    </div>
  </div>
</section>
