<section id="offense" class="l-section js-section js-section-offense" data-display-mode="false">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-head-controls button-group">
        <button class="m-card-title button button-tertiary button-medium button-icon js-card-title" tabindex="1">
          <span class="icon-combat"></span>
          <span class="button-text">Offense</span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-minimise" tabindex="1">
          <span class="icon-unfold-less js-card-minimise-icon"></span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-toggle" tabindex="1">
          <span class="icon-reader-mode js-card-toggle-icon"></span>
        </button>
      </div>
    </div>
    <div class="m-tab-group js-tab-group js-edit-tabs">
      <button class="m-tab-item js-tab-item is-active" data-tab-target="js-tab-panel-offense-stats"><span class="m-tab-text">Offense Stats</span></button>
      <button class="m-tab-item js-tab-item" data-tab-target="js-tab-panel-armor-attacks"><span class="m-tab-text">Attacks</span></button>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> offense-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> offense-display }}
      </div>
    </div>
  </div>
</section>
