<section id="offense" class="l-section js-section js-section-offense" data-display-mode="false">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-head-controls">
        <p class="m-card-title js-card-title"><span class="m-card-title-icon icon-combat"></span> Offense</p>
        <button class="m-card-button button button-link button-medium button-icon js-card-minimise">
          <span class="icon-unfold-less js-card-minimise-icon"></span>
        </button>
        <button class="m-card-button button button-link button-medium button-icon js-card-toggle">
          <span class="icon-reader-mode js-card-toggle-icon"></span>
        </button>
      </div>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> offense-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> offense-display }}
      </div>
    </div>
  </div>
</section>
