<section id="quick-stats" class="l-section js-section js-section-quick-stats" data-display-mode="false">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-head-controls">
        <p class="m-card-title js-card-title"><span class="m-card-title-icon icon-account-circle"></span> Quick Stats</p>
      </div>
    </div>
    <div class="m-card-body">
      <div class="js-display is-hidden">
        {{> quick-stats-display }}
      </div>
    </div>
  </div>
</section>
