<section id="skills" class="l-section js-section js-section-skills" data-display-mode="false">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium button-icon js-card-title" tabindex="1">
          <span class="icon-list"></span>
          <span class="button-text">Skills</span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-minimise" tabindex="1">
          <span class="icon-unfold-less js-card-minimise-icon"></span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-toggle" tabindex="1">
          <span class="icon-reader js-card-toggle-icon"></span>
        </button>
      </div>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> skills-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> skills-display }}
      </div>
    </div>
  </div>
</section>
