<section id="skills" class="l-section js-section">
  <div class="m-card">
    <div class="js-edit">
      {{> skills-edit }}
    </div>
    <div class="js-display is-hidden">
      {{> skills-display }}
    </div>
  </div>
</section>
