<section id="spells" class="l-section js-section js-section-spells">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium button-icon js-card-title" tabindex="1">
          <span class="icon-whatshot"></span>
          <span class="button-text">Spells</span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-minimise" tabindex="1">
          <span class="icon-unfold-less js-card-minimise-icon"></span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-toggle" tabindex="1">
          <span class="icon-reader js-card-toggle-icon"></span>
        </button>
      </div>
      <div class="m-card-tabs js-card-tabs">
        <div class="m-tab-group js-tab-group">
          <button class="m-tab-arrow button button-medium button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="tabGroup:spells,action:left" tabindex="1"><span class="icon-chevron-left"></span></button>
          <div class="m-tab-row js-tab-row">
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:spells,tab:stats,target:js-tab-panel-spell-stats" tabindex="1"><span class="m-tab-text">Stats</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:spells,tab:level_0,target:js-tab-panel-spell-level-0" tabindex="1"><span class="m-tab-text">Level 0</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:spells,tab:level_1,target:js-tab-panel-spell-level-1" tabindex="1"><span class="m-tab-text">Level 1</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:spells,tab:level_2,target:js-tab-panel-spell-level-2" tabindex="1"><span class="m-tab-text">Level 2</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:spells,tab:level_3,target:js-tab-panel-spell-level-3" tabindex="1"><span class="m-tab-text">Level 3</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:spells,tab:level_4,target:js-tab-panel-spell-level-4" tabindex="1"><span class="m-tab-text">Level 4</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:spells,tab:level_5,target:js-tab-panel-spell-level-5" tabindex="1"><span class="m-tab-text">Level 5</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:spells,tab:level_6,target:js-tab-panel-spell-level-6" tabindex="1"><span class="m-tab-text">Level 6</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:spells,tab:level_7,target:js-tab-panel-spell-level-7" tabindex="1"><span class="m-tab-text">Level 7</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:spells,tab:level_8,target:js-tab-panel-spell-level-8" tabindex="1"><span class="m-tab-text">Level 8</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="tabGroup:spells,tab:level_9,target:js-tab-panel-spell-level-9" tabindex="1"><span class="m-tab-text">Level 9</span></button>
            <span class="m-tab-indicator"></span>
          </div>
          <button class="m-tab-arrow button button-medium button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="tabGroup:spells,action:right" tabindex="1"><span class="icon-chevron-right"></span></button>
        </div>
      </div>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> spells-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> spells-display }}
      </div>
    </div>
  </div>
</section>
