<section id="spells" class="l-section js-section">
  <div class="m-card">
    <div class="js-edit">
      {{> spells-edit }}
    </div>
    <div class="js-display is-hidden">
      {{> spells-display }}
    </div>
  </div>
</section>
