<section id="spells" class="l-section js-section">
  <div class="m-card">
    <div class="m-card-head">
      <h1 class="m-card-title">Spells</h1>
      <button class="m-display-self-link button button-link js-display-self-link"></button>
      <button class="m-display-edit-link button button-link button-small button-icon js-display-edit-link"><span class="icon-edit"></span></button>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> spells-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> spells-display }}
      </div>
    </div>
  </div>
</section>
