<section id="spells" class="l-section js-section js-section-spells" data-display-mode="false">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium button-icon js-card-title" tabindex="1">
          <span class="icon-whatshot"></span>
          <span class="button-text">Spells</span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-minimise" tabindex="1">
          <span class="icon-unfold-less js-card-minimise-icon"></span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-toggle" tabindex="1">
          <span class="icon-reader js-card-toggle-icon"></span>
        </button>
      </div>
      <div class="m-card-tabs js-card-tabs">
        <div class="m-tab-group js-tab-group">
          <button class="m-tab-arrow button button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="action:left" tabindex="1"><span class="icon-chevron-left"></span></button>
          <div class="m-tab-row js-tab-row">
            <button class="m-tab-item js-tab-item is-active" data-tab-options="target:js-tab-panel-spell-stats" data-tab-state="true" tabindex="1"><span class="m-tab-text">Stats</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-spell-level-0" data-tab-state="false" tabindex="1"><span class="m-tab-text">Level 0</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-spell-level-1" data-tab-state="false" tabindex="1"><span class="m-tab-text">Level 1</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-spell-level-2" data-tab-state="false" tabindex="1"><span class="m-tab-text">Level 2</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-spell-level-3" data-tab-state="false" tabindex="1"><span class="m-tab-text">Level 3</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-spell-level-4" data-tab-state="false" tabindex="1"><span class="m-tab-text">Level 4</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-spell-level-5" data-tab-state="false" tabindex="1"><span class="m-tab-text">Level 5</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-spell-level-6" data-tab-state="false" tabindex="1"><span class="m-tab-text">Level 6</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-spell-level-7" data-tab-state="false" tabindex="1"><span class="m-tab-text">Level 7</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-spell-level-8" data-tab-state="false" tabindex="1"><span class="m-tab-text">Level 8</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-spell-level-9" data-tab-state="false" tabindex="1"><span class="m-tab-text">Level 9</span></button>
          </div>
          <button class="m-tab-arrow button button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="action:right" tabindex="1"><span class="icon-chevron-right"></span></button>
        </div>
      </div>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> spells-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> spells-display }}
      </div>
    </div>
  </div>
</section>
