<section id="statistics" class="l-section js-section" data-display-mode="false">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls">
        <h1 class="m-card-title js-card-title">Statistics</h1>
        <button class="m-card-display-toggle button button-link button-small button-icon js-card-display-toggle">
          <span class="icon-reader-mode js-card-display-toggle-icon"></span>
        </button>
      </div>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> statistics-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> statistics-display }}
      </div>
    </div>
  </div>
</section>
