<section id="statistics" class="l-section js-section js-section-statistics" data-display-mode="false">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium button-icon js-card-title" tabindex="1">
          <span class="icon-apps"></span>
          <span class="button-text">Statistics</span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-minimise" tabindex="1">
          <span class="icon-unfold-less js-card-minimise-icon"></span>
        </button>
        <button class="button button-tertiary button-medium button-icon js-card-toggle" tabindex="1">
          <span class="icon-reader js-card-toggle-icon"></span>
        </button>
      </div>
      <div class="m-card-tabs js-card-tabs">
        <div class="m-tab-group js-tab-group">
          <button class="m-tab-arrow button button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="action:left" tabindex="1"><span class="icon-chevron-left"></span></button>
          <div class="m-tab-row js-tab-row">
            <button class="m-tab-item js-tab-item is-active" data-tab-options="target:js-tab-panel-stats" data-tab-state="true" tabindex="1"><span class="m-tab-text">Stats</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-abilities" data-tab-state="false" tabindex="1"><span class="m-tab-text">Abilities</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-feats" data-tab-state="false" tabindex="1"><span class="m-tab-text">Feats</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-traits" data-tab-state="false" tabindex="1"><span class="m-tab-text">Traits</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-languages" data-tab-state="false" tabindex="1"><span class="m-tab-text">Languages</span></button>
            <button class="m-tab-item js-tab-item" data-tab-options="target:js-tab-panel-power" data-tab-state="false" tabindex="1"><span class="m-tab-text">Powers</span></button>
          </div>
          <button class="m-tab-arrow button button-tertiary button-icon js-tab-arrow" data-tab-arrow-options="action:right" tabindex="1"><span class="icon-chevron-right"></span></button>
        </div>
      </div>
    </div>
    <div class="m-card-body">
      <div class="js-edit">
        {{> statistics-edit }}
      </div>
      <div class="js-display is-hidden">
        {{> statistics-display }}
      </div>
    </div>
  </div>
</section>
