<section id="statistics" class="l-section js-section">
  <div class="m-card">
    <div class="js-edit">
      {{> statistics-edit }}
    </div>
    <div class="js-display is-hidden">
      {{> statistics-display }}
    </div>
  </div>
</section>
