@keyframes new-flash {
  0% {
    border-width: 0;
    border-color: $primary-color-06;
  }
  50% {
    width: 0;
    height: 0;
    border-width: 15px;
    border-color: $primary-color-10;
    opacity: 1;
  }
  100% {
    width: 45px;
    height: 45px;
    border-width: 0;
    border-color: $primary-color-10;
    opacity: 0;
  }
}
