@keyframes new-flash {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    background-color: $primary-color-05;
    box-shadow: 0 0 0 0 $primary-color-alpha-01;
  }
  50% {
    width: 20px;
    height: 20px;
    opacity: 1;
    background-color: $primary-color-10;
    box-shadow: 0 0 0 30px $primary-color-alpha-20;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    background-color: $primary-color-15;
    box-shadow: 0 0 0 60px transparent;
  }

}
@keyframes edit-controls-down-xs {
  0% {
    top: -10em;
  }
  50% {
    top: -10em;
  }
  100% {
    top: 5em;
  }
}
@keyframes edit-controls-down-lg {
  0% {
    top: -10em;
  }
  100% {
    top: 0.5em;
  }
}
