html {
  // font-size: 75%; // 1rem = 12px
  font-size: 87.5%; // 1rem = 14px
}
body {
  background-color: $gray-19;
  margin: 0;
  padding: 0 0 calc(100vh - 7em);
  font-weight: normal;
  color: $base-color;
  font-family: $base-font;
  font-size: $font-size-root-100;
  line-height: $line-height-160;
  &.is-night-mode {
    background-color: $black;
    color: $white;
  }
  &.is-header-pinned {
    padding: 0 0 calc(100vh - 4em);
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  html {
    // font-size: 87.5%; // 1rem = 14px
    // font-size: 100%; // 1rem = 16px
  }
}
@media (min-width: $screen-md) {
  html {
    font-size: 100%; // 1rem = 16px
  }
}
@media (min-width: $screen-lg) {
  body {
    padding-bottom: 90vh;
  }
}
@media (min-width: $screen-xl) {}
@media print {
  html {
    font-size: 12px;
  }
  body {
    margin: 2em;
    background: $white;
  }
}
