html {
  font-size: 75%; // 1rem = 12px
}

body {
  background: $white;
  margin: 0;
  padding: 0;
  padding-bottom: 20em;
  font-weight: normal;
  color: $base-color;
  font-family: $base-font;
  font-size: $font-size-root-100;
  line-height: $line-height-160;
  // transition: background-color $transition-ease-medium;
  &.is-night-mode {
    background-color: $gray-02;
    color: $white;
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  html {
    font-size: 87.5%; // 1rem = 14px
  }
}

@media (min-width: $screen-md) {
  html {
    font-size: 100%; // 1rem = 16px
  }
}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}

@media print {
  html {
    font-size: 10px;
  }
}
