.button,
button {
  background-color: $white;
  border-color: $gray-18;
  color: $base-color;
  border-width: 1px;
  border-style: solid;
  padding: 4px 12px;
  margin-bottom: 10px;
  text-align: center;
  font-family: $open-sans-semi-bold;
  text-decoration: none;
  white-space: nowrap;
  font-size: $root-font-size-medium;
  line-height: $root-line-height-medium;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: $border-radius-medium;
  transition: all $transition-ease-fast;
  display: inline-block;
  text-transform: uppercase;
  &:link,
  &:visited {
    background-color: $white;
    border-color: $gray-18;
    color: $base-color;
  }
  &:focus,
  &:hover {
    background-color: $gray-18;
    border-color: $gray-14;
    color: $base-color;
    outline: 0;
    text-decoration: none;
  }
  &:active,
  &.active {
    background-color: $gray-17;
    border-color: $gray-13;
    color: $base-color;
    outline: 0;
    text-decoration: none;
  }
  [class^="icon-"],
  [class*=" icon-"] {
    margin-right: 2px;
    font-size: 1.4em;
    vertical-align: text-bottom;
    line-height: 1em;
    display: inline-block;
  }
}

.button-primary {
  background-color: $primary-color-10;
  border-color: $primary-color-08;
  color: $white;
  &:link,
  &:visited {
    background-color: $primary-color-10;
    border-color: $primary-color-08;
    color: $white;
  }
  &:focus,
  &:hover {
    background-color: $primary-color-08;
    border-color: $primary-color-06;
    color: $white;
  }
  &:active,
  &.active {
    background-color: $primary-color-06;
    border-color: $primary-color-04;
  }
}

.button-secondary {
  background-color: $secondary-color-10;
  border-color: $secondary-color-08;
  color: $white;
  &:link,
  &:visited {
    background-color: $secondary-color-10;
    border-color: $secondary-color-08;
    color: $white;
  }
  &:focus,
  &:hover {
    background-color: $secondary-color-08;
    border-color: $secondary-color-06;
    color: $white;
  }
  &:active,
  &.active {
    background-color: $secondary-color-06;
    border-color: $secondary-color-04;
  }
}

.button-tertiary {
  background-color: transparent;
  border-color: $light-alpha-14;
  color: $light-alpha-04;
  &:link,
  &:visited {
    background-color: transparent;
    border-color: $light-alpha-14;
    color: $light-alpha-04;
  }
  &:focus,
  &:hover {
    background-color: $light-alpha-14;
    border-color: $light-alpha-12;
    color: $white;
  }
  &:active,
  &.active {
    background-color: $light-alpha-12;
    border-color: $light-alpha-10;
  }
}

.button-large {
  padding: 4px 20px;
  font-size: $root-font-size-large;
  line-height: $root-line-height-large;
}

.button-small {
  padding: 2px 10px;
  font-size: $root-font-size-small;
  line-height: $root-line-height-small;
}

.button-block {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}

.button-group {
  .button,
  button {
    margin-right: 0;
    margin-left: -1px;
    border-radius: 0;
    z-index: 1;
    position: relative;
    float: left;
    &:first-child {
      border-top-left-radius: $border-radius-medium;
      border-bottom-left-radius: $border-radius-medium;
    }
    &:last-child {
      border-top-right-radius: $border-radius-medium;
      border-bottom-right-radius: $border-radius-medium;
    }
    &:focus,
    &:hover {
      z-index: 2;
    }
    &.active,
    &:active {
      z-index: 2;
    }
  }
}

.button-group-strech {
  display: flex;
  flex-flow: row nowrap;
  .button,
  button {
    float: none;
    flex: 1 0 auto;
  }
}

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    padding: 6px 12px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
    font-family: $open-sans-semi-bold;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid;
    line-height: $root-line-height-small;
    background-color: $white;
    border-color: $gray-18;
    color: $base-color;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: $border-radius-medium;
    transition: all $transition-ease-fast;
    display: inline-block;
    text-transform: uppercase;
    &:link,
    &:visited {
      background-color: $white;
      border-color: $gray-18;
      color: $base-color;
    }
    &:focus,
    &:hover {
      background-color: $gray-18;
      border-color: $gray-14;
      color: $base-color;
      outline: 0;
      text-decoration: none;
    }
    &:active,
    &.active {
      background-color: $gray-17;
      border-color: $gray-13;
      color: $base-color;
      outline: 0;
      text-decoration: none;
    }
    [class^="icon-"],
    [class*=" icon-"] {
      margin-right: 2px;
      font-size: 1.4em;
      vertical-align: text-bottom;
      line-height: 1em;
      display: inline-block;
    }
  }
}

.button,
button,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
