.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: $white;
  border-color: $gray-18;
  color: $base-color;
  padding: $font-size-025 $font-size-100;
  border-width: 1px;
  border-style: solid;
  margin: 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: $font-size-root-100;
  line-height: $line-height-160;
  font-family: $open-sans-semi-bold;
  border-radius: $border-radius-medium;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  transition: all $transition-ease-extra-fast;
  display: inline-block;
  // transition: background-color $transition-ease-medium, border-color $transition-ease-medium, color $transition-ease-medium;
  &:link,
  &:visited {
    background-color: $white;
    border-color: $gray-18;
    color: $base-color;
  }
  &:focus,
  &:hover {
    background-color: $gray-18;
    border-color: $gray-14;
    color: $base-color;
    outline: 0;
    text-decoration: none;
  }
  &.is-active,
  &:active {
    background-color: $gray-16;
    border-color: $gray-12;
    color: $base-color;
    outline: 0;
    text-decoration: none;
  }
}
button:not(:last-child) {
  margin-bottom: $font-size-100;
}
.button-small {
  padding: 0 0.5em;
  font-size: $font-size-100;
  border-radius: $border-radius-small;
  .button-text {
    font-size: 0.6em;
  }
}
.button-medium {
  padding: 0.25em 1em;
  font-size: $font-size-100;
  border-radius: $border-radius-medium;
  .button-text {
    font-size: 0.8em;
  }
}
.button-large {
  padding: 1em 2em;
  font-size: $font-size-100;
  border-radius: $border-radius-medium;
  .button-text {
    font-size: 1em;
  }
}
.button-text {
  display: block;
}
.button-block {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}
.button-icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  span {
    flex: 0 0 auto;
    height: initial;
  }
  [class*=" icon-"],
  [class^="icon-"] {
    font-size: $font-size-150;
    display: inline-block;
    &:not(:only-child):not(:last-child) {
      margin-right: 0.4em;
    }
  }
}
.button-primary {
  background-color: $primary-color-10;
  border-color: $primary-color-08;
  color: $white;
  &:link,
  &:visited {
    background-color: $primary-color-10;
    border-color: $primary-color-08;
    color: $white;
  }
  &:focus,
  &:hover {
    background-color: $primary-color-08;
    border-color: $primary-color-06;
    color: $white;
  }
  &.is-active,
  &:active {
    background-color: $primary-color-06;
    border-color: $primary-color-04;
    color: $white;
  }
}
.button-secondary {
  background-color: $secondary-color-10;
  border-color: $secondary-color-08;
  color: $white;
  &:link,
  &:visited {
    background-color: $secondary-color-10;
    border-color: $secondary-color-08;
    color: $white;
  }
  &:focus,
  &:hover {
    background-color: $secondary-color-08;
    border-color: $secondary-color-06;
    color: $white;
  }
  &.is-active,
  &:active {
    background-color: $secondary-color-06;
    border-color: $secondary-color-04;
    color: $white;
  }
}
.button-link {
  background-color: transparent;
  border-color: transparent;
  font-family: $open-sans-regular;
  text-transform: initial;
  &:link,
  &:visited {
    background-color: transparent;
    border-color: transparent;
  }
  &:focus,
  &:hover {
    background-color: $dark-alpha-20;
    border-color: transparent;
  }
  &.is-active,
  &:active {
    background-color: $dark-alpha-18;
    border-color: transparent;
  }
}
.button-tertiary {
  background-color: transparent;
  border-color: $dark-alpha-18;
  color: $light-alpha-04;
  &:link,
  &:visited {
    background-color: transparent;
    border-color: $dark-alpha-20;
    color: $light-alpha-04;
  }
  &:focus,
  &:hover {
    background-color: $dark-alpha-18;
    border-color: $dark-alpha-15;
    color: $light-alpha-04;
  }
  &.is-active,
  &:active {
    background-color: $dark-alpha-16;
    border-color: $dark-alpha-12;
    color: $white;
  }
}
.button-tertiary-link {
  background-color: transparent;
  border-color: transparent;
  color: $light-alpha-04;
  text-transform: initial;
  &:link,
  &:visited {
    background-color: transparent;
    border-color: transparent;
    color: $light-alpha-04;
  }
  &:focus,
  &:hover {
    background-color: $dark-alpha-18;
    border-color: transparent;
    color: $light-alpha-04;
  }
  &.is-active,
  &:active {
    background-color: $dark-alpha-16;
    border-color: transparent;
    color: $white;
  }
}
.button-group {
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  .button,
  button {
    margin-right: 0;
    margin-left: -1px;
    margin-bottom: 0;
    border-radius: 0;
    z-index: 1;
    position: relative;
    float: left;
    &:first-child {
      border-top-left-radius: $border-radius-medium;
      border-bottom-left-radius: $border-radius-medium;
      margin-left: 0;
    }
    &:last-child {
      border-top-right-radius: $border-radius-medium;
      border-bottom-right-radius: $border-radius-medium;
    }
    &:focus,
    &:hover {
      z-index: 2;
    }
    &.is-active,
    &:active {
      z-index: 2;
    }
  }
}
.button-group:not(:last-child) {
  margin-bottom: $font-size-100;
}
.button-group-strech {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  .button,
  button {
    float: none;
    flex: 1 1 auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.button,
button,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.is-night-mode {
  .button,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    background-color: $secondary-color-04;
    border-color: $secondary-color-03;
    color: $white;
    &:link,
    &:visited {
      background-color: $secondary-color-04;
      border-color: $secondary-color-03;
      color: $white;
    }
    &:focus,
    &:hover {
      background-color: $secondary-color-05;
      border-color: $secondary-color-07;
      color: $white;
    }
    &.is-active,
    &:active {
      background-color: $secondary-color-06;
      border-color: $secondary-color-08;
      color: $white;
    }
  }
  .button-primary {
    background-color: $primary-color-08;
    border-color: $primary-color-10;
    color: $white;
    &:link,
    &:visited {
      background-color: $primary-color-08;
      border-color: $primary-color-10;
      color: $white;
    }
    &:focus,
    &:hover {
      background-color: $primary-color-10;
      border-color: $primary-color-12;
      color: $white;
    }
    &.is-active,
    &:active {
      background-color: $primary-color-12;
      border-color: $primary-color-14;
      color: $white;
    }
  }
  .button-secondary {
    background-color: $secondary-color-08;
    border-color: $secondary-color-10;
    color: $white;
    &:link,
    &:visited {
      background-color: $secondary-color-08;
      border-color: $secondary-color-10;
      color: $white;
    }
    &:focus,
    &:hover {
      background-color: $secondary-color-10;
      border-color: $secondary-color-12;
      color: $white;
    }
    &.is-active,
    &:active {
      background-color: $secondary-color-12;
      border-color: $secondary-color-14;
      color: $white;
    }
  }
  .button-link {
    background-color: transparent;
    border-color: transparent;
    font-family: $open-sans-regular;
    &:link,
    &:visited {
      background-color: transparent;
      border-color: transparent;
    }
    &:focus,
    &:hover {
      background-color: $light-alpha-20;
      border-color: transparent;
    }
    &.is-active,
    &:active {
      background-color: $light-alpha-18;
      border-color: transparent;
    }
  }
  .button-tertiary {
    background-color: transparent;
    border-color: $light-alpha-18;
    color: $light-alpha-04;
    &:link,
    &:visited {
      background-color: transparent;
      border-color: $light-alpha-20;
      color: $light-alpha-04;
    }
    &:focus,
    &:hover {
      background-color: $light-alpha-18;
      border-color: $light-alpha-15;
      color: $light-alpha-04;
    }
    &.is-active,
    &:active {
      background-color: $light-alpha-16;
      border-color: $light-alpha-12;
      color: $white;
    }
  }
  .button-tertiary-link {
    background-color: transparent;
    border-color: transparent;
    color: $light-alpha-04;
    &:link,
    &:visited {
      background-color: transparent;
      border-color: transparent;
      color: $light-alpha-04;
    }
    &:focus,
    &:hover {
      background-color: $light-alpha-18;
      border-color: transparent;
      color: $light-alpha-04;
    }
    &.is-active,
    &:active {
      background-color: $light-alpha-16;
      border-color: transparent;
      color: $white;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
