.button,
button {
  padding: 0 10px;
  margin-bottom: 10px;
  color: $gray-02;
  text-align: center;
  font-size: 1rem;
  font-family: $open-sans-semi-bold;
  height: 28px;
  line-height: 26px;
  text-decoration: none;
  white-space: nowrap;
  background-color: $white;
  border: 1px solid $gray-03;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: $border-radius-medium;
  transition: all $transition-ease-fast;
  text-decoration: none;
  display: inline-block;
  &:focus {
    outline: 0;
    text-decoration: none;
  }
  &:hover {
    color: $white;
    background-color: $gray-02;
    border-color: $gray-02;
    outline: 0;
    text-decoration: none;
  }
  &:active,
  &.active {
    color: $white;
    background-color: $gray-04;
    border-color: $gray-04;
    outline: 0;
    text-decoration: none;
  }
  &.button-icon {
    padding: 0 10px 0 6px;
  }
  [class^="icon-"],
  [class*=" icon-"] {
    margin: 0 5px 0 0;
    font-size: 1rem;
    height: 26px;
    line-height: 26px;
    display: inline-block;
  }
}

.button-primary {
  color: $white;
  background-color: $primary-color-10;
  border-color: $primary-color-08;
  &:link,
  &:visited {
    color: $white;
    background-color: $primary-color-10;
    border-color: $primary-color-08;
  }
  &:focus,
  &:hover {
    background-color: $primary-color-08;
  }
  &:active,
  &.active {
    background-color: $primary-color-06;
    border-color: $primary-color-06;
  }
}

.button-secondary {
  color: $white;
  background-color: $secondary-color-10;
  border-color: $secondary-color-08;
  &:link,
  &:visited {
    color: $white;
    background-color: $secondary-color-10;
    border-color: $secondary-color-08;
  }
  &:focus,
  &:hover {
    background-color: $secondary-color-08;
  }
  &:active,
  &.active {
    background-color: $secondary-color-06;
    border-color: $secondary-color-06;
  }
}

.button-tertiary {
  color: $gray-02;
  background-color: transparent;
  border-color: $gray-18;
  &:link,
  &:visited {
    color: $gray-02;
    background-color: transparent;
    border-color: $gray-18;
  }
  &:focus {
    background-color: $gray-19;
  }
  &:hover {
    color: $gray-06;
  }
  &:active,
  &.active {
    background-color: $dark-alpha-20;
    border-color: $gray-16;
  }
}

.button-quaternary {
  color: $light-alpha-02;
  background-color: transparent;
  border-color: $dark-alpha-18;
  &:link,
  &:visited {
    color: $light-alpha-02;
    background-color: transparent;
    border-color: $dark-alpha-18;
  }
  &:focus {
    background-color: $dark-alpha-19;
  }
  &:hover {
    color: $light-alpha-06;
    outline: 0;
    text-decoration: none;
  }
  &:active,
  &.active {
    background-color: $light-alpha-18;
    border-color: $light-alpha-16;
  }
}

.button-large {
  padding: 0 15px;
  height: 42px;
  line-height: 40px;
  font-size: $large-text;
  [class^="icon-"],
  [class*=" icon-"] {
    margin: 0 2px 0 0;
    line-height: 40px;
    height: 40px;
    font-size: $small-text;
    display: inline-block;
  }
}

.button-small {
  padding: 0 8px;
  height: 22px;
  line-height: 20px;
  font-size: $small-text;
  [class^="icon-"],
  [class*=" icon-"] {
    margin: 0 2px 0 0;
    line-height: 20px;
    height: 20px;
    font-size: $small-text;
    display: inline-block;
  }
}

.button-block {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}

.button-group {
  .button,
  button {
    margin-right: 0;
    margin-left: -1px;
    border-radius: 0;
    float: left;
    z-index: 1;
    position: relative;
    &:first-child {
      border-top-left-radius: $border-radius-medium;
      border-bottom-left-radius: $border-radius-medium;
    }
    &:last-child {
      border-top-right-radius: $border-radius-medium;
      border-bottom-right-radius: $border-radius-medium;
    }
    &:focus {
      z-index: 2;
    }
    &.active,
    &:active {
      z-index: 2;
    }
  }
}

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display: inline-block;
    height: 2rem;
    padding: 0 10px;
    color: $gray-01;
    text-align: center;
    font-size: 0.8rem;
    font-family: $open-sans-semi-bold;
    line-height: 2rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: $gray-04;
    border: 1px solid $gray-03;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: $border-radius-medium;
    &:hover,
    &:focus {
      color: $white;
      background-color: $gray-02;
      border-color: $gray-02;
      outline: 0;
    }
    &:active {
      color: $white;
      background-color: $gray-04;
      border-color: $gray-04;
    }
  }
}

.button,
button,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {
  .button,
  button {
    &.button-small {
      padding: 0 10px;
      height: 26px;
      line-height: 24px;
      [class^="icon-"],
      [class*=" icon-"] {
        line-height: 24px;
        height: 24px;
      }
    }
    &.button-icon {
      padding: 0 12px 0 8px;
    }
  }
}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
