.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: $white;
  border-color: $gray-18;
  color: $base-color;
  padding: $font-size-025 $font-size-075;
  border-width: 1px;
  border-style: solid;
  margin-bottom: $font-size-100;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: $font-size-root-100;
  line-height: $line-height-160;
  font-family: $open-sans-semi-bold;
  border-radius: $border-radius-medium;
  cursor: pointer;
  box-sizing: border-box;
  transition: all $transition-ease-extra-fast;
  display: inline-block;
  text-transform: uppercase;
  // transition: background-color $transition-ease-medium, border-color $transition-ease-medium, color $transition-ease-medium;
  &:link,
  &:visited {
    background-color: $white;
    border-color: $gray-18;
    color: $base-color;
  }
  &:focus,
  &:hover {
    background-color: $gray-18;
    border-color: $gray-14;
    color: $base-color;
    outline: 0;
    text-decoration: none;
  }
  &:active,
  &.is-active {
    background-color: $gray-16;
    border-color: $gray-12;
    color: $base-color;
    outline: 0;
    text-decoration: none;
  }
  [class^="icon-"],
  [class*=" icon-"] {
    font-size: $font-size-100;
    line-height: $line-height-160;
    display: inline-block;
  }
}

.button-normal {
  background: transparent;
  border-radius: inherit;
  text-transform: none;
  white-space: normal;
  border: 0;
  &:link,
  &:visited {
    background-color: transparent;
    border-color: transparent;
  }
  &:focus,
  &:hover {
    background-color: transparent;
    border-color: transparent;
  }
  &:active,
  &.is-active {
    background-color: transparent;
    border-color: transparent;
  }
}

.button-small {
  padding: $font-size-025 $font-size-050;
  font-size: $font-size-075;
  border-radius: $border-radius-medium;
  [class^="icon-"],
  [class*=" icon-"] {
    margin-right: 2px;
  }
}

.button-medium {
  padding: $font-size-025 $font-size-075;
  font-size: $font-size-100;
  border-radius: $border-radius-medium;
  [class^="icon-"],
  [class*=" icon-"] {
    margin-right: 5px;
  }
}

.button-large {
  padding: $font-size-100 $font-size-200;
  font-size: $font-size-100;
  border-radius: $border-radius-medium;
  [class^="icon-"],
  [class*=" icon-"] {
    margin-right: 8px;
  }
}

.button-block {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}

.button-primary {
  background-color: $primary-color-10;
  border-color: $primary-color-08;
  color: $white;
  &:link,
  &:visited {
    background-color: $primary-color-10;
    border-color: $primary-color-08;
    color: $white;
  }
  &:focus,
  &:hover {
    background-color: $primary-color-08;
    border-color: $primary-color-06;
    color: $white;
  }
  &:active,
  &.is-active {
    background-color: $primary-color-06;
    border-color: $primary-color-04;
    color: $white;
  }
}

.button-secondary {
  background-color: $secondary-color-10;
  border-color: $secondary-color-08;
  color: $white;
  &:link,
  &:visited {
    background-color: $secondary-color-10;
    border-color: $secondary-color-08;
    color: $white;
  }
  &:focus,
  &:hover {
    background-color: $secondary-color-08;
    border-color: $secondary-color-06;
    color: $white;
  }
  &:active,
  &.is-active {
    background-color: $secondary-color-06;
    border-color: $secondary-color-04;
    color: $white;
  }
}

.button-link {
  background-color: transparent;
  border: 0;
  color: $base-color;
  text-transform: inherit;
  font-family: $open-sans-regular;
  &:link,
  &:visited {
    background-color: transparent;
    color: $base-color;
  }
  &:focus,
  &:hover {
    background-color: $dark-alpha-20;
    color: $primary-color-08;
  }
  &:active,
  &.is-active {
    background-color: $dark-alpha-18;
    color: $primary-color-06;
  }
}

.button-tertiary {
  background-color: transparent;
  border-color: $light-alpha-14;
  color: $light-alpha-04;
  &:link,
  &:visited {
    background-color: transparent;
    border-color: $dark-alpha-18;
    color: $light-alpha-04;
  }
  &:focus,
  &:hover {
    background-color: $dark-alpha-18;
    border-color: $dark-alpha-16;
    color: $white;
  }
  &:active,
  &.is-active {
    background-color: $light-alpha-14;
    border-color: $light-alpha-12;
    color: $white;
  }
}

.button-tertiary-link {
  background-color: transparent;
  border: 0;
  color: $light-alpha-04;
  text-transform: inherit;
  &:link,
  &:visited {
    background-color: transparent;
    color: $light-alpha-04;
  }
  &:focus,
  &:hover {
    background-color: $dark-alpha-18;
    color: $white;
  }
  &:active,
  &.is-active {
    background-color: $light-alpha-14;
    color: $white;
  }
}

.button-group {
  .button,
  button {
    margin-right: 0;
    margin-left: -1px;
    border-radius: 0;
    z-index: 1;
    position: relative;
    float: left;
    &:first-child {
      border-top-left-radius: $border-radius-medium;
      border-bottom-left-radius: $border-radius-medium;
      margin-left: 0;
    }
    &:last-child {
      border-top-right-radius: $border-radius-medium;
      border-bottom-right-radius: $border-radius-medium;
    }
    &:focus,
    &:hover {
      z-index: 2;
    }
    &.is-active,
    &:active {
      z-index: 2;
    }
  }
}

.button-group-strech {
  display: flex;
  flex-flow: row nowrap;
  .button,
  button {
    float: none;
    flex: 1 0 auto;
  }
}

.button,
button,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.is-night-mode {
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    background-color: $secondary-color-04;
    border-color: $secondary-color-05;
    color: $white;
    &:link,
    &:visited {
      background-color: $secondary-color-04;
      border-color: $secondary-color-05;
      color: $white;
    }
    &:focus,
    &:hover {
      background-color: $secondary-color-05;
      border-color: $secondary-color-14;
      color: $white;
    }
    &:active,
    &.is-active {
      background-color: $secondary-color-16;
      border-color: $secondary-color-12;
      color: $white;
    }
  }
  .button-primary {
    background-color: $primary-color-10;
    border-color: $primary-color-08;
    color: $white;
    &:link,
    &:visited {
      background-color: $primary-color-10;
      border-color: $primary-color-08;
      color: $white;
    }
    &:focus,
    &:hover {
      background-color: $primary-color-08;
      border-color: $primary-color-06;
      color: $white;
    }
    &:active,
    &.is-active {
      background-color: $primary-color-06;
      border-color: $primary-color-04;
      color: $white;
    }
  }
  .button-secondary {
    background-color: $secondary-color-10;
    border-color: $secondary-color-08;
    color: $white;
    &:link,
    &:visited {
      background-color: $secondary-color-10;
      border-color: $secondary-color-08;
      color: $white;
    }
    &:focus,
    &:hover {
      background-color: $secondary-color-08;
      border-color: $secondary-color-06;
      color: $white;
    }
    &:active,
    &.is-active {
      background-color: $secondary-color-06;
      border-color: $secondary-color-04;
      color: $white;
    }
  }
  .button-link {
    background-color: transparent;
    border: 0;
    color: $white;
    text-transform: inherit;
    font-family: $open-sans-regular;
    &:link,
    &:visited {
      background-color: transparent;
      color: $white;
    }
    &:focus,
    &:hover {
      background-color: $dark-alpha-20;
      color: $primary-color-08;
    }
    &:active,
    &.is-active {
      background-color: $dark-alpha-18;
      color: $primary-color-06;
    }
  }
  .button-tertiary {
    background-color: transparent;
    border-color: $light-alpha-14;
    color: $light-alpha-04;
    &:link,
    &:visited {
      background-color: transparent;
      border-color: $dark-alpha-18;
      color: $light-alpha-04;
    }
    &:focus,
    &:hover {
      background-color: $dark-alpha-18;
      border-color: $dark-alpha-16;
      color: $white;
    }
    &:active,
    &.is-active {
      background-color: $light-alpha-14;
      border-color: $light-alpha-12;
      color: $white;
    }
  }
  .button-tertiary-link {
    background-color: transparent;
    border: 0;
    color: $light-alpha-04;
    text-transform: inherit;
    &:link,
    &:visited {
      background-color: transparent;
      color: $light-alpha-04;
    }
    &:focus,
    &:hover {
      background-color: $dark-alpha-18;
      color: $white;
    }
    &:active,
    &.is-active {
      background-color: $light-alpha-14;
      color: $white;
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
