select {
  background-color: $secondary-color-20;
  color: $base-color;
  border-width: 1px;
  border-style: solid;
  border-color: $gray-18;
  margin: 0;
  padding: 0.5em 0;
  color: $base-color;
  font-size: $font-size-100;
  line-height: $line-height-160;
  height: 2.5em;
  font-family: $open-sans-regular;
  box-sizing: border-box;
  &:hover {
    background-color: $secondary-color-19;
    border-color: $secondary-color-06;
    box-shadow: 0 0 0 3px $secondary-color-alpha-15;
  }
  &:focus {
    background-color: $white;
    border-color: $primary-color-10;
    box-shadow: 0 0 0 3px $primary-color-alpha-15;
    outline: 0;
  }
}
.textarea,
textarea {
  background-color: $secondary-color-20;
  padding: 0.5em;
  margin: 0;
  min-height: 2.5em;
  font-size: $font-size-100;
  line-height: $line-height-160;
  font-family: $open-sans-regular;
  box-sizing: border-box;
  border-radius: $border-radius-large;
  border: 0;
  border: $border;
  border-color: $gray-16;
  box-shadow: $shadow-medium-inset;
  resize: vertical;
  &:hover {
    background-color: $secondary-color-19;
    border-color: $secondary-color-06;
    box-shadow: 0 0 0 3px $secondary-color-alpha-15;
    &:focus {
      background-color: $white;
      border-color: $primary-color-10;
      box-shadow: 0 0 0 3px $primary-color-alpha-15;
    }
  }
  &:focus {
    background-color: $white;
    border-color: $primary-color-10;
    box-shadow: 0 0 0 3px $primary-color-alpha-15;
    outline: 0;
  }
}
.textarea-large {
  min-height: 4em;
}
input {
  &[type="email"],
  &[type="number"],
  &[type="password"],
  &[type="search"],
  &[type="tel"],
  &[type="text"] {
    background-color: $secondary-color-20;
    padding: 0 0.5em;
    margin: 0;
    height: 2.5em;
    font-size: $font-size-100;
    line-height: $line-height-250;
    font-family: $open-sans-regular;
    box-sizing: border-box;
    border-radius: $border-radius-large;
    border: 0;
    border: $border;
    border-color: $gray-16;
    box-shadow: $shadow-medium-inset;
    &:hover {
      background-color: $secondary-color-19;
      border-color: $secondary-color-06;
      box-shadow: 0 0 0 3px $secondary-color-alpha-15;
      &:focus {
        background-color: $white;
        border-color: $primary-color-10;
        box-shadow: 0 0 0 3px $primary-color-alpha-15;
      }
    }
    &:focus {
      background-color: $white;
      border-color: $primary-color-10;
      box-shadow: 0 0 0 3px $primary-color-alpha-15;
      outline: 0;
    }
  }
}
label {
  color: $secondary-color-06;
  font-size: $font-size-100;
  display: inline-block;
  cursor: text;
}
input {
  &[type="checkbox"],
  &[type="radio"] {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    display: block;
    font-size: $font-size-100;
    line-height: $line-height-250;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    & + label {
      height: 2.5em;
      line-height: $line-height-250;
      display: inline-block;
      cursor: pointer;
      color: $base-color;
      transition: color $transition-ease-fast;
      &:before {
        font-family: "Icons" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        display: block;
        font-size: $font-size-150;
        line-height: 1.7;
        color: $secondary-color-04;
        vertical-align: text-bottom;
        transition: color $transition-ease-fast;
      }
      &.label-left {
        text-align: left;
        &:before {
          margin-right: 5px;
          float: left;
        }
      }
      &.label-right {
        text-align: right;
        &:before {
          margin-left: 5px;
          float: right;
        }
      }
    }
    &:hover {
      & + label {
        color: $secondary-color-10;
        &:before {
          color: $secondary-color-10;
        }
      }
    }
    &:focus {
      & + label {
        color: $primary-color-10;
        &:before {
          color: $primary-color-10;
        }
      }
    }
    &:checked {
      &:hover {
        & + label {
          color: $secondary-color-10;
          &:before {
            color: $secondary-color-10;
          }
        }
      }
      &:focus {
        & + label {
          color: $primary-color-10;
          &:before {
            color: $primary-color-10;
          }
        }
      }
      & + label {
        cursor: pointer;
        &:before {}
      }
    }
  }
  &[type="radio"] {
    & + label {
      &:before {
        content: "\e25e";
      }
    }
    &:checked {
      & + label {
        &:before {
          content: "\e25f";
        }
      }
    }
  }
  &[type="checkbox"] {
    & + label {
      &:before {
        content: "\e25d";
      }
    }
    &:checked {
      & + label {
        &:before {
          content: "\e25c";
        }
      }
    }
  }
}
.is-night-mode {
  select {
    background-color: $secondary-color-06;
    border-color: $secondary-color-04;
  }
  label {
    color: $secondary-color-10;
  }
  .textarea,
  textarea {
    background-color: $secondary-color-01;
    border-color: $gray-06;
    &:hover {
      background-color: $secondary-color-02;
      border-color: $secondary-color-14;
      &:focus {
        background-color: $black;
        border-color: $primary-color-10;
      }
    }
    &:focus {
      background-color: $black;
      border-color: $primary-color-10;
    }
  }
  input {
    &[type="email"],
    &[type="number"],
    &[type="password"],
    &[type="search"],
    &[type="tel"],
    &[type="text"] {
      background-color: $secondary-color-01;
      border-color: $gray-06;
      box-shadow: none;
      &:hover {
        background-color: $secondary-color-02;
        border-color: $secondary-color-14;
        &:focus {
          background-color: $black;
          border-color: $primary-color-10;
        }
      }
      &:focus {
        background-color: $black;
        border-color: $primary-color-10;
      }
    }
  }
  input {
    &[type="checkbox"],
    &[type="radio"] {
      & + label {
        color: $white;
        &:before {
          color: $secondary-color-10;
        }
      }
      &:hover {
        & + label {
          color: $secondary-color-10;
          &:before {
            color: $secondary-color-10;
          }
        }
      }
      &:focus {
        & + label {
          color: $primary-color-10;
          &:before {
            color: $primary-color-10;
          }
        }
      }
      &:checked {
        &:hover {
          & + label {
            color: $secondary-color-10;
            &:before {
              color: $secondary-color-10;
            }
          }
        }
        &:focus {
          & + label {
            color: $primary-color-10;
            &:before {
              color: $primary-color-10;
            }
          }
        }
        & + label {
          &:before {
            // color: $secondary-color-10;
          }
        }
      }
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
