select {
  background-color: $secondary-color-20;
  color: $base-color;
  border: $border;
  border-color: $gray-16;
  border-radius: $border-radius-large;
  margin: 0;
  padding: 0 1.5em 0 0.5em;
  color: $base-color;
  font-size: $font-size-100;
  line-height: $line-height-250;
  height: 2.5em;
  font-family: $open-sans-regular;
  box-sizing: border-box;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  transition: background-color $transition-ease-fast, box-shadow $transition-ease-fast;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover {
    background-color: $secondary-color-19;
    border-color: $secondary-color-06;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $secondary-color-alpha-15;
    &:focus {
      background-color: $white;
      border-color: $primary-color-10;
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $primary-color-alpha-15;
    }
  }
  &:focus {
    background-color: $white;
    border-color: $primary-color-10;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $primary-color-alpha-15;
    outline: 0;
  }
}
.textarea,
textarea {
  background-color: $secondary-color-20;
  padding: 0.5em;
  margin: 0;
  min-height: 2.5em;
  font-size: $font-size-100;
  line-height: $line-height-160;
  font-family: $open-sans-regular;
  box-sizing: border-box;
  border-radius: $border-radius-large;
  border: 0;
  border: $border;
  border-color: $gray-16;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  transition: background-color $transition-ease-fast, box-shadow $transition-ease-fast;
  resize: vertical;
  &:hover {
    background-color: $secondary-color-19;
    border-color: $secondary-color-06;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $secondary-color-alpha-15;
    &:focus {
      background-color: $white;
      border-color: $primary-color-10;
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $primary-color-alpha-15;
    }
  }
  &:focus {
    background-color: $white;
    border-color: $primary-color-10;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $primary-color-alpha-15;
    outline: 0;
  }
}
.textarea-large {
  min-height: 4em;
}
input {
  &[type="email"],
  &[type="number"],
  &[type="password"],
  &[type="search"],
  &[type="tel"],
  &[type="text"] {
    background-color: $secondary-color-20;
    padding: 0 0.5em;
    margin: 0;
    font-size: $font-size-100;
    font-family: $open-sans-regular;
    line-height: $line-height-250;
    height: 2.5em;
    box-sizing: border-box;
    border-radius: $border-radius-large;
    border: 0;
    border: $border;
    border-color: $gray-16;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    transition: background-color $transition-ease-fast, box-shadow $transition-ease-fast;
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    &:hover {
      background-color: $secondary-color-19;
      border-color: $secondary-color-06;
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $secondary-color-alpha-15;
      &:focus {
        background-color: $white;
        border-color: $primary-color-10;
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $primary-color-alpha-15;
      }
    }
    &:focus {
      background-color: $white;
      border-color: $primary-color-10;
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $primary-color-alpha-15;
      outline: 0;
    }
  }
}
label {
  color: $secondary-color-06;
  font-size: $font-size-100;
  display: inline-block;
  cursor: text;
}
input {
  &[type="checkbox"],
  &[type="radio"] {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    display: block;
    font-size: $font-size-100;
    line-height: $line-height-250;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    & + label {
      line-height: $line-height-250;
      height: 2.5em;
      display: inline-block;
      cursor: pointer;
      color: $base-color;
      transition: color $transition-ease-fast;
      &:before {
        font-family: "Icons" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        display: block;
        font-size: $font-size-150;
        line-height: 1.7;
        color: $secondary-color-04;
        vertical-align: text-bottom;
        transition: color $transition-ease-fast;
      }
      &.label-left {
        text-align: left;
        &:before {
          margin-right: 5px;
          float: left;
        }
      }
      &.label-right {
        text-align: right;
        &:before {
          margin-left: 5px;
          float: right;
        }
      }
    }
    &:hover {
      & + label {
        color: $secondary-color-10;
        &:before {
          color: $secondary-color-10;
        }
      }
    }
    &:focus {
      & + label {
        color: $primary-color-10;
        &:before {
          color: $primary-color-10;
        }
      }
    }
    &:checked {
      &:hover {
        & + label {
          color: $secondary-color-10;
          &:before {
            color: $secondary-color-10;
          }
        }
      }
      &:focus {
        & + label {
          color: $primary-color-10;
          &:before {
            color: $primary-color-10;
          }
        }
      }
      & + label {
        cursor: pointer;
        &:before {}
      }
    }
  }
  &[type="radio"] {
    & + label {
      &:before {
        content: "\e25e";
      }
    }
    &:checked {
      & + label {
        &:before {
          content: "\e25f";
        }
      }
    }
  }
  &[type="checkbox"] {
    & + label {
      &:before {
        content: "\e25d";
      }
    }
    &:checked {
      & + label {
        &:before {
          content: "\e25c";
        }
      }
    }
  }
}
input {
  &[type="range"] {
    background-color: $gray-20;
    padding: 0;
    border: 0;
    border: $border;
    border-color: $gray-16;
    border-radius: $border-radius-large;
    font-size: $font-size-100;
    width: 100%;
    height: 2.5em;
    font-family: $open-sans-semi-bold;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: none;
    transition: background-color $transition-ease-fast, border-color $transition-ease-fast, color $transition-ease-fast, padding $transition-ease-fast, box-shadow $transition-ease-fast;
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    &:after {
      content: "";
      background-color: $gray-16;
      position: absolute;
      top: 50%;
      left: 1.5em;
      height: 1px;
      width: calc(100% - 3em);
      z-index: 1;
      display: block;
    }
    &::-webkit-slider-runnable-track {
      background-color: transparent;
      margin: 0 1em;
      padding: 0;
      border: 0;
      -webkit-appearance: none;
    }
    &::-webkit-slider-thumb {
      background-color: $gray-20;
      color: $base-color;
      margin: 0;
      padding: 0;
      border: 0;
      border: 2px solid $secondary-color-04;
      border-radius: 100%;
      position: relative;
      height: 1.5em;
      width: 1.5em;
      cursor: pointer;
      box-sizing: border-box;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
      transition: background-color $transition-ease-fast, border-color $transition-ease-fast, color $transition-ease-fast, padding $transition-ease-fast, box-shadow $transition-ease-fast;
      z-index: 2;
      -webkit-appearance: none;
      &:focus,
      &:hover {
        background-color: $gray-18;
        border-color: $secondary-color-10;
        color: $base-color;
        outline: 0;
        text-decoration: none;
        box-shadow: 0 0 0 3px $dark-alpha-20;
      }
      &:active {
        background-color: $gray-16;
        border-color: $primary-color-10;
        color: $base-color;
        outline: 0;
        text-decoration: none;
        box-shadow: 0 0 0 3px $dark-alpha-19;
      }
    }
    &::-moz-range-track {
      background-color: transparent;
      margin: 0 1em;
      padding: 0;
      border: 0;
      -webkit-appearance: none;
    }
    &::-moz-range-thumb {
      background-color: $gray-20;
      color: $base-color;
      margin: 0;
      padding: 0;
      border: 0;
      border: 2px solid $secondary-color-04;
      border-radius: 100%;
      position: relative;
      height: 1.5em;
      width: 1.5em;
      cursor: pointer;
      box-sizing: border-box;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
      transition: background-color $transition-ease-fast, border-color $transition-ease-fast, color $transition-ease-fast, padding $transition-ease-fast, box-shadow $transition-ease-fast;
      z-index: 2;
      -webkit-appearance: none;
      &:focus,
      &:hover {
        background-color: $gray-18;
        border-color: $secondary-color-10;
        color: $base-color;
        outline: 0;
        text-decoration: none;
        box-shadow: 0 0 0 3px $dark-alpha-20;
      }
      &:active {
        background-color: $gray-16;
        border-color: $primary-color-10;
        color: $base-color;
        outline: 0;
        text-decoration: none;
        box-shadow: 0 0 0 3px $dark-alpha-19;
      }
    }
    &:focus {
      outline: none;
    }
  }
}
.is-night-mode {
  select {
    background-color: $gray-02;
    border-color: $gray-06;
    color: $white;
    box-shadow: none;
    &:hover {
      background-color: $gray-01;
      border-color: $secondary-color-05;
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $secondary-color-alpha-05;
      &:focus {
        background-color: $black;
        border-color: $primary-color-05;
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $primary-color-alpha-05;
      }
    }
    &:focus {
      background-color: $black;
      border-color: $primary-color-05;
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $primary-color-alpha-05;
    }
  }
  .textarea,
  textarea {
    background-color: $gray-02;
    border-color: $gray-06;
    color: $white;
    box-shadow: none;
    &:hover {
      background-color: $gray-01;
      border-color: $secondary-color-05;
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $secondary-color-alpha-05;
      &:focus {
        background-color: $black;
        border-color: $primary-color-05;
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $primary-color-alpha-05;
      }
    }
    &:focus {
      background-color: $black;
      border-color: $primary-color-05;
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $primary-color-alpha-05;
    }
  }
  input {
    &[type="email"],
    &[type="number"],
    &[type="password"],
    &[type="search"],
    &[type="tel"],
    &[type="text"] {
      background-color: $gray-02;
      border-color: $gray-06;
      color: $white;
      box-shadow: none;
      &:hover {
        background-color: $gray-01;
        border-color: $secondary-color-05;
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $secondary-color-alpha-05;
        &:focus {
          background-color: $black;
          border-color: $primary-color-05;
          box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $primary-color-alpha-05;
        }
      }
      &:focus {
        background-color: $black;
        border-color: $primary-color-05;
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 3px $primary-color-alpha-05;
      }
    }
  }
  label {
    color: $secondary-color-16;
  }
  input {
    &[type="checkbox"],
    &[type="radio"] {
      & + label {
        color: $white;
        &:before {
          color: $secondary-color-10;
        }
      }
      &:hover {
        & + label {
          color: $secondary-color-10;
          &:before {
            color: $secondary-color-10;
          }
        }
      }
      &:focus {
        & + label {
          color: $primary-color-10;
          &:before {
            color: $primary-color-10;
          }
        }
      }
      &:checked {
        &:hover {
          & + label {
            color: $secondary-color-10;
            &:before {
              color: $secondary-color-10;
            }
          }
        }
        &:focus {
          & + label {
            color: $primary-color-10;
            &:before {
              color: $primary-color-10;
            }
          }
        }
        & + label {
          &:before {
            // color: $secondary-color-10;
          }
        }
      }
    }
  }
  input {
    &[type="range"] {
      background-color: $gray-04;
      border-color: $gray-06;
      color: $white;
      &:after {
        content: "";
        background-color: $gray-06;
      }
      &::-webkit-slider-thumb {
        background-color: $gray-04;
        border-color: $white;
        &:focus,
        &:hover {
          background-color: $gray-06;
          border-color: $secondary-color-10;
          box-shadow: 0 0 0 3px $light-alpha-10;
        }
        &:active {
          background-color: $gray-08;
          border-color: $primary-color-10;
          box-shadow: 0 0 0 3px $light-alpha-10;
        }
      }
      &::-moz-range-thumb {
        background-color: $gray-04;
        border-color: $white;
        &:focus,
        &:hover {
          background-color: $gray-06;
          border-color: $secondary-color-10;
          box-shadow: 0 0 0 3px $light-alpha-10;
        }
        &:active {
          background-color: $gray-08;
          border-color: $primary-color-10;
          box-shadow: 0 0 0 3px $light-alpha-10;
        }
      }
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  input {
    &[type="range"] {
      &::-webkit-slider-thumb {
        border-width: 3px;
      }
      &::-moz-range-thumb {
        border-width: 3px;
      }
    }
  }
}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
