// --------------------------------------------------
// grid
// --------------------------------------------------
.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  // padding-left: $gutter;
  // padding-right: $gutter;
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.row {
  margin-left: -$gutter;
  margin-right: -$gutter;
  box-sizing: border-box;
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
[class*=" col-"],
[class^="col-"] {
  position: relative;
  min-height: 1px;
  padding-left: $gutter;
  padding-right: $gutter;
  float: left;
  box-sizing: border-box;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: (100% / 12) * 11;
}
.col-xs-10 {
  width: (100% / 12) * 10;
}
.col-xs-9 {
  width: (100% / 12) * 9;
}
.col-xs-8 {
  width: (100% / 12) * 8;
}
.col-xs-7 {
  width: (100% / 12) * 7;
}
.col-xs-6 {
  width: (100% / 12) * 6;
}
.col-xs-5 {
  width: (100% / 12) * 5;
}
.col-xs-4 {
  width: (100% / 12) * 4;
}
.col-xs-3 {
  width: (100% / 12) * 3;
}
.col-xs-2 {
  width: (100% / 12) * 2;
}
.col-xs-1 {
  width: (100% / 12) * 1;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: (100% / 12) * 11;
}
.col-xs-offset-10 {
  margin-left: (100% / 12) * 10;
}
.col-xs-offset-9 {
  margin-left: (100% / 12) * 9;
}
.col-xs-offset-8 {
  margin-left: (100% / 12) * 8;
}
.col-xs-offset-7 {
  margin-left: (100% / 12) * 7;
}
.col-xs-offset-6 {
  margin-left: (100% / 12) * 6;
}
.col-xs-offset-5 {
  margin-left: (100% / 12) * 5;
}
.col-xs-offset-4 {
  margin-left: (100% / 12) * 4;
}
.col-xs-offset-3 {
  margin-left: (100% / 12) * 3;
}
.col-xs-offset-2 {
  margin-left: (100% / 12) * 2;
}
.col-xs-offset-1 {
  margin-left: (100% / 12) * 1;
}
.col-xs-offset-0 {
  margin-left: 0;
}
.col-xs-push-12 {
  margin-right: 100%;
}
.col-xs-push-11 {
  margin-right: (100% / 12) * 11;
}
.col-xs-push-10 {
  margin-right: (100% / 12) * 10;
}
.col-xs-push-9 {
  margin-right: (100% / 12) * 9;
}
.col-xs-push-8 {
  margin-right: (100% / 12) * 8;
}
.col-xs-push-7 {
  margin-right: (100% / 12) * 7;
}
.col-xs-push-6 {
  margin-right: (100% / 12) * 6;
}
.col-xs-push-5 {
  margin-right: (100% / 12) * 5;
}
.col-xs-push-4 {
  margin-right: (100% / 12) * 4;
}
.col-xs-push-3 {
  margin-right: (100% / 12) * 3;
}
.col-xs-push-2 {
  margin-right: (100% / 12) * 2;
}
.col-xs-push-1 {
  margin-right: (100% / 12) * 1;
}
.col-xs-push-0 {
  margin-right: 0;
}
.no-gutter {
  margin: 0;
   > [class^="col-"],
  > [class*=" col-"] {
    padding: 0;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: (100% / 12) * 11;
  }
  .col-sm-10 {
    width: (100% / 12) * 10;
  }
  .col-sm-9 {
    width: (100% / 12) * 9;
  }
  .col-sm-8 {
    width: (100% / 12) * 8;
  }
  .col-sm-7 {
    width: (100% / 12) * 7;
  }
  .col-sm-6 {
    width: (100% / 12) * 6;
  }
  .col-sm-5 {
    width: (100% / 12) * 5;
  }
  .col-sm-4 {
    width: (100% / 12) * 4;
  }
  .col-sm-3 {
    width: (100% / 12) * 3;
  }
  .col-sm-2 {
    width: (100% / 12) * 2;
  }
  .col-sm-1 {
    width: (100% / 12) * 1;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: (100% / 12) * 11;
  }
  .col-sm-offset-10 {
    margin-left: (100% / 12) * 10;
  }
  .col-sm-offset-9 {
    margin-left: (100% / 12) * 9;
  }
  .col-sm-offset-8 {
    margin-left: (100% / 12) * 8;
  }
  .col-sm-offset-7 {
    margin-left: (100% / 12) * 7;
  }
  .col-sm-offset-6 {
    margin-left: (100% / 12) * 6;
  }
  .col-sm-offset-5 {
    margin-left: (100% / 12) * 5;
  }
  .col-sm-offset-4 {
    margin-left: (100% / 12) * 4;
  }
  .col-sm-offset-3 {
    margin-left: (100% / 12) * 3;
  }
  .col-sm-offset-2 {
    margin-left: (100% / 12) * 2;
  }
  .col-sm-offset-1 {
    margin-left: (100% / 12) * 1;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-push-12 {
    margin-right: 100%;
  }
  .col-sm-push-11 {
    margin-right: (100% / 12) * 11;
  }
  .col-sm-push-10 {
    margin-right: (100% / 12) * 10;
  }
  .col-sm-push-9 {
    margin-right: (100% / 12) * 9;
  }
  .col-sm-push-8 {
    margin-right: (100% / 12) * 8;
  }
  .col-sm-push-7 {
    margin-right: (100% / 12) * 7;
  }
  .col-sm-push-6 {
    margin-right: (100% / 12) * 6;
  }
  .col-sm-push-5 {
    margin-right: (100% / 12) * 5;
  }
  .col-sm-push-4 {
    margin-right: (100% / 12) * 4;
  }
  .col-sm-push-3 {
    margin-right: (100% / 12) * 3;
  }
  .col-sm-push-2 {
    margin-right: (100% / 12) * 2;
  }
  .col-sm-push-1 {
    margin-right: (100% / 12) * 1;
  }
  .col-sm-push-0 {
    margin-right: 0;
  }
}
@media (min-width: $screen-md) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: (100% / 12) * 11;
  }
  .col-md-10 {
    width: (100% / 12) * 10;
  }
  .col-md-9 {
    width: (100% / 12) * 9;
  }
  .col-md-8 {
    width: (100% / 12) * 8;
  }
  .col-md-7 {
    width: (100% / 12) * 7;
  }
  .col-md-6 {
    width: (100% / 12) * 6;
  }
  .col-md-5 {
    width: (100% / 12) * 5;
  }
  .col-md-4 {
    width: (100% / 12) * 4;
  }
  .col-md-3 {
    width: (100% / 12) * 3;
  }
  .col-md-2 {
    width: (100% / 12) * 2;
  }
  .col-md-1 {
    width: (100% / 12) * 1;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: (100% / 12) * 11;
  }
  .col-md-offset-10 {
    margin-left: (100% / 12) * 10;
  }
  .col-md-offset-9 {
    margin-left: (100% / 12) * 9;
  }
  .col-md-offset-8 {
    margin-left: (100% / 12) * 8;
  }
  .col-md-offset-7 {
    margin-left: (100% / 12) * 7;
  }
  .col-md-offset-6 {
    margin-left: (100% / 12) * 6;
  }
  .col-md-offset-5 {
    margin-left: (100% / 12) * 5;
  }
  .col-md-offset-4 {
    margin-left: (100% / 12) * 4;
  }
  .col-md-offset-3 {
    margin-left: (100% / 12) * 3;
  }
  .col-md-offset-2 {
    margin-left: (100% / 12) * 2;
  }
  .col-md-offset-1 {
    margin-left: (100% / 12) * 1;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-push-12 {
    margin-right: 100%;
  }
  .col-md-push-11 {
    margin-right: (100% / 12) * 11;
  }
  .col-md-push-10 {
    margin-right: (100% / 12) * 10;
  }
  .col-md-push-9 {
    margin-right: (100% / 12) * 9;
  }
  .col-md-push-8 {
    margin-right: (100% / 12) * 8;
  }
  .col-md-push-7 {
    margin-right: (100% / 12) * 7;
  }
  .col-md-push-6 {
    margin-right: (100% / 12) * 6;
  }
  .col-md-push-5 {
    margin-right: (100% / 12) * 5;
  }
  .col-md-push-4 {
    margin-right: (100% / 12) * 4;
  }
  .col-md-push-3 {
    margin-right: (100% / 12) * 3;
  }
  .col-md-push-2 {
    margin-right: (100% / 12) * 2;
  }
  .col-md-push-1 {
    margin-right: (100% / 12) * 1;
  }
  .col-md-push-0 {
    margin-right: 0;
  }
}
@media (min-width: $screen-lg) {
  .container {
    // max-width: 70%;
  }
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: (100% / 12) * 11;
  }
  .col-lg-10 {
    width: (100% / 12) * 10;
  }
  .col-lg-9 {
    width: (100% / 12) * 9;
  }
  .col-lg-8 {
    width: (100% / 12) * 8;
  }
  .col-lg-7 {
    width: (100% / 12) * 7;
  }
  .col-lg-6 {
    width: (100% / 12) * 6;
  }
  .col-lg-5 {
    width: (100% / 12) * 5;
  }
  .col-lg-4 {
    width: (100% / 12) * 4;
  }
  .col-lg-3 {
    width: (100% / 12) * 3;
  }
  .col-lg-2 {
    width: (100% / 12) * 2;
  }
  .col-lg-1 {
    width: (100% / 12) * 1;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: (100% / 12) * 11;
  }
  .col-lg-offset-10 {
    margin-left: (100% / 12) * 10;
  }
  .col-lg-offset-9 {
    margin-left: (100% / 12) * 9;
  }
  .col-lg-offset-8 {
    margin-left: (100% / 12) * 8;
  }
  .col-lg-offset-7 {
    margin-left: (100% / 12) * 7;
  }
  .col-lg-offset-6 {
    margin-left: (100% / 12) * 6;
  }
  .col-lg-offset-5 {
    margin-left: (100% / 12) * 5;
  }
  .col-lg-offset-4 {
    margin-left: (100% / 12) * 4;
  }
  .col-lg-offset-3 {
    margin-left: (100% / 12) * 3;
  }
  .col-lg-offset-2 {
    margin-left: (100% / 12) * 2;
  }
  .col-lg-offset-1 {
    margin-left: (100% / 12) * 1;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-push-12 {
    margin-right: 100%;
  }
  .col-lg-push-11 {
    margin-right: (100% / 12) * 11;
  }
  .col-lg-push-10 {
    margin-right: (100% / 12) * 10;
  }
  .col-lg-push-9 {
    margin-right: (100% / 12) * 9;
  }
  .col-lg-push-8 {
    margin-right: (100% / 12) * 8;
  }
  .col-lg-push-7 {
    margin-right: (100% / 12) * 7;
  }
  .col-lg-push-6 {
    margin-right: (100% / 12) * 6;
  }
  .col-lg-push-5 {
    margin-right: (100% / 12) * 5;
  }
  .col-lg-push-4 {
    margin-right: (100% / 12) * 4;
  }
  .col-lg-push-3 {
    margin-right: (100% / 12) * 3;
  }
  .col-lg-push-2 {
    margin-right: (100% / 12) * 2;
  }
  .col-lg-push-1 {
    margin-right: (100% / 12) * 1;
  }
  .col-lg-push-0 {
    margin-right: 0;
  }
}
@media (min-width: $screen-xl) {
  .container {
    // max-width: 60%;
  }
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9 {
    float: left;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-11 {
    width: (100% / 12) * 11;
  }
  .col-xl-10 {
    width: (100% / 12) * 10;
  }
  .col-xl-9 {
    width: (100% / 12) * 9;
  }
  .col-xl-8 {
    width: (100% / 12) * 8;
  }
  .col-xl-7 {
    width: (100% / 12) * 7;
  }
  .col-xl-6 {
    width: (100% / 12) * 6;
  }
  .col-xl-5 {
    width: (100% / 12) * 5;
  }
  .col-xl-4 {
    width: (100% / 12) * 4;
  }
  .col-xl-3 {
    width: (100% / 12) * 3;
  }
  .col-xl-2 {
    width: (100% / 12) * 2;
  }
  .col-xl-1 {
    width: (100% / 12) * 1;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
  .col-xl-offset-11 {
    margin-left: (100% / 12) * 11;
  }
  .col-xl-offset-10 {
    margin-left: (100% / 12) * 10;
  }
  .col-xl-offset-9 {
    margin-left: (100% / 12) * 9;
  }
  .col-xl-offset-8 {
    margin-left: (100% / 12) * 8;
  }
  .col-xl-offset-7 {
    margin-left: (100% / 12) * 7;
  }
  .col-xl-offset-6 {
    margin-left: (100% / 12) * 6;
  }
  .col-xl-offset-5 {
    margin-left: (100% / 12) * 5;
  }
  .col-xl-offset-4 {
    margin-left: (100% / 12) * 4;
  }
  .col-xl-offset-3 {
    margin-left: (100% / 12) * 3;
  }
  .col-xl-offset-2 {
    margin-left: (100% / 12) * 2;
  }
  .col-xl-offset-1 {
    margin-left: (100% / 12) * 1;
  }
  .col-xl-offset-0 {
    margin-left: 0;
  }
  .col-xl-push-12 {
    margin-right: 100%;
  }
  .col-xl-push-11 {
    margin-right: (100% / 12) * 11;
  }
  .col-xl-push-10 {
    margin-right: (100% / 12) * 10;
  }
  .col-xl-push-9 {
    margin-right: (100% / 12) * 9;
  }
  .col-xl-push-8 {
    margin-right: (100% / 12) * 8;
  }
  .col-xl-push-7 {
    margin-right: (100% / 12) * 7;
  }
  .col-xl-push-6 {
    margin-right: (100% / 12) * 6;
  }
  .col-xl-push-5 {
    margin-right: (100% / 12) * 5;
  }
  .col-xl-push-4 {
    margin-right: (100% / 12) * 4;
  }
  .col-xl-push-3 {
    margin-right: (100% / 12) * 3;
  }
  .col-xl-push-2 {
    margin-right: (100% / 12) * 2;
  }
  .col-xl-push-1 {
    margin-right: (100% / 12) * 1;
  }
  .col-xl-push-0 {
    margin-right: 0;
  }
}
.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
  display: none !important;
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
// xs
@media (max-width: $screen-xs-max) {
  .visible-xs,
  .visible-xs-block {
    display: block !important;
  }
  .visible-xs-inline {
    display: inline !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
  .hidden-xs {
    display: none !important;
  }
}
// sm
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .visible-sm,
  .visible-sm-block {
    display: block !important;
  }
  .visible-sm-inline {
    display: inline !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }
  .hidden-sm {
    display: none !important;
  }
}
// md
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .visible-md,
  .visible-md-block {
    display: block !important;
  }
  .visible-md-inline {
    display: inline !important;
  }
  .visible-md-inline-block {
    display: inline-block !important;
  }
  .hidden-md {
    display: none !important;
  }
}
// lg
@media (min-width: $screen-lg-min) {
  .visible-lg,
  .visible-lg-block {
    display: block !important;
  }
  .visible-lg-inline {
    display: inline !important;
  }
  .visible-lg-inline-block {
    display: inline-block !important;
  }
  .hidden-lg {
    display: none !important;
  }
}
