h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 300;
}

h1 {
  font-size: 3.4rem;
  line-height: 1.2;
  font-family: $open-sans-light;
}

h2 {
  font-size: 3rem;
  line-height: 1.25;
  font-family: $open-sans-light;
}

h3 {
  font-size: 2.6rem;
  line-height: 1.3;
  font-family: $open-sans-light;
}

h4 {
  font-size: 2.2rem;
  line-height: 1.35;
  font-family: $open-sans-semi-bold;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: $open-sans-semi-bold;
}

h6 {
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: $open-sans-semi-bold;
}

p {
  color: $gray-03;
  margin: 0 0 1em 0;
}

hr {
  border: 0;
  border-top: 1px solid $secondary-color-alpha-18;
  margin: 0 0 2rem 0;
  clear: both;
}

b,
strong {
  font-family: $open-sans-semi-bold;
}

a {
  color: $primary-color-10;
  text-decoration: none;
  &:link,
  &:visited {
    color: $primary-color-10;
  }
  &:focus {
    background-color: $secondary-color-alpha-18;
    text-decoration: none;
    outline: 0;
  }
  &:hover {
    background-color: transparent;
    color: $primary-color-08;
    text-decoration: underline;
  }
  &:active {
    color: $primary-color-06;
  }
}

ul,
ol {
  margin: 0 0 1rem 0;
  padding: 0 0 0 3rem;
}

li {
  margin: 0 0 0.5rem 0;
}

table {
  border: 0;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  border-spacing: 0;
  thead {
    tr {
      td {
        padding: 0;
        margin: 0;
        height: 2.4rem;
        text-align: center;
        border: 0;
        border-bottom: $border;
        font-family: $open-sans-semi-bold;
        &:first-child {
          text-align: left;
        }
      }
    }
  }
  tr {
    td {
      padding: 0;
      margin: 0;
      border: 0;
      height: 2.5rem;
      text-align: center;
      box-sizing: border-box;
      p {
        margin: 0;
        min-height: 2.5rem;
        line-height: 2.5rem;
        box-sizing: border-box;
        border-bottom: $border;
      }
      &:first-child {
        text-align: left;
        p {
          text-align: left;
        }
      }
      input {
        &[type="email"],
        &[type="number"],
        &[type="search"],
        &[type="text"],
        &[type="tel"],
        &[type="url"],
        &[type="password"] {
          margin: 0;
          padding: 0;
          margin: 0;
          height: 2.5rem;
          line-height: 2.5rem;
          text-align: center;
          box-sizing: border-box;
        }
      }
    }
  }
}


/* media queries
------------------------------------------------- */

// @media (min-width: $screen-sm) {
//   html {
//     font-size: 12px;
//   }
// }
// @media (min-width: $screen-md) {
//   html {
//     font-size: 14px;
//   }
// }
// @media (min-width: $screen-lg) {}
// @media (min-width: $screen-xl) {}
