h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: $line-height-160;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 1em;
  }
}
h1 {
  // margin: 0 0 0.5em;
  font-size: $font-size-200;
  font-family: $open-sans-light;
}
h2 {
  // margin: 0 0 1em;
  font-size: $font-size-150;
  font-family: $open-sans-regular;
}
h3 {
  // margin: 0 0 1em;
  font-size: $font-size-150;
  font-family: $open-sans-regular;
}
h4 {
  // margin: 0 0 1em;
  font-size: $font-size-125;
  font-family: $open-sans-semi-bold;
}
h5 {
  // margin: 0 0 1em;
  font-size: $font-size-100;
  font-family: $open-sans-bold;
}
h6 {
  // margin: 0 0 1em;
  font-size: $font-size-075;
  font-family: $open-sans-bold;
}
p {
  color: $gray-03;
  margin: 0;
  line-height: $line-height-160;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 1em;
  }
}
hr {
  border: 0;
  border-top: $border;
  border-top-color: $gray-18;
  margin: 1em -2em;
  clear: both;
}
b,
strong {
  font-family: $open-sans-semi-bold;
}
a {
  color: $primary-color-10;
  text-decoration: none;
  &:link,
  &:visited {
    color: $primary-color-10;
  }
  &:focus {
    background-color: $secondary-color-alpha-17;
    text-decoration: none;
    outline: 0;
  }
  &:hover {
    background-color: transparent;
    color: $primary-color-08;
    text-decoration: underline;
  }
  &:active {
    color: $primary-color-06;
  }
}
ol,
ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}
ol:not(:last-child),
ul:not(:last-child) {
  margin-bottom: 1em;
}
li {
  margin: 0;
   > ol,
  > ul {
    margin: 0;
  }
}
li:not(:last-child) {
  margin-bottom: 0.5em;
   > ol:not(:last-child),
  > ul:not(:last-child) {
    margin-bottom: 0.5em;
  }
}
table {
  border: 0;
  margin: 0 0 1em;
  padding: 0;
  width: 100%;
  border-spacing: 0;
  thead {
    tr {
      td {
        padding: $font-size-050;
        margin: 0;
        border: 0;
        text-align: left;
        border-bottom: $border;
        border-color: $gray-18;
        font-family: $open-sans-semi-bold;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $gray-20;
      }
      td {
        padding: $font-size-050;
        margin: 0;
        border: 0;
        text-align: left;
        box-sizing: border-box;
      }
    }
  }
}
.is-display-mode {
  hr {
    margin: 2em -2em;
  }
}
.is-night-mode {
  hr {
    border-color: $gray-06;
  }
  table {
    thead {
      tr {
        td {
          border-color: $gray-08;
        }
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: $gray-04;
        }
      }
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {
  hr {
    display: none;
  }
}
