.u-full-width {
  width: 100%;
  // box-sizing: border-box;
}
.u-text-center {
  text-align: center;
}
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
.u-no-margin {
  margin: 0;
  &[type="email"],
  &[type="number"],
  &[type="password"],
  &[type="search"],
  &[type="tel"],
  &[type="text"] {
    margin: 0;
  }
  &:not(:only-child):not(:last-child) {
    margin: 0;
  }
}
.u-inline-with-input {
  padding-top: 0;
  padding-bottom: 0;
  height: 3em;
  line-height: 3;
  box-sizing: border-box;
}
.u-margin-with-input {
  margin: 1em 0;
}
.u-margin-bottom {
  margin-bottom: 1em;
}
.u-underline-with-input {
  border-bottom: $border;
  border-color: $gray-18;
}
.u-background-with-input {
  background-color: $gray-19;
}
.u-small-text {
  color: $gray-10;
  font-size: $font-size-075;
}
.u-muted-text {
  color: $gray-10;
  strong {
    color: $gray-04;
  }
}
.u-list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
  li {
    list-style-type: none;
  }
}
.u-list-inline {
  li {
    display: inline-block;
  }
}
.u-clearfix {
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.is-night-mode {
  .u-underline-with-input {
    border-color: $gray-04;
  }
  .u-background-with-input {
    background-color: $gray-02;
  }
  .u-muted-text {
    strong {
      color: $white;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .u-inline-with-input {
    height: 2.5em;
    line-height: 2.5;
  }
}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
