/* utilities
------------------------------------------------- */

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-text-center {
  text-align: center;
}

.u-no-margin {
  margin: 0;
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="password"] {
    margin: 0;
  }
}

.u-inline-with-input {
  padding-top: 0;
  padding-bottom: 0;
  height: $root-line-height-extra-large;
  line-height: $root-line-height-extra-large;
  box-sizing: border-box;
}

.u-margin-with-input {
  margin: 0 0 2rem 0;
}

.u-underline-with-input {
  border-bottom: $border;
  border-color: $secondary-color-alpha-20;
}

.text-right {
  text-align: right;
}

.small-text {
  color: $base-color;
  font-size: $font-size-small;
}

.right {
  float: right;
}

.hide {
  transform: scale(0) !important;
  opacity: 0 !important;
}

.show {
  transform: scale(1) !important;
  opacity: 1;
}

.hidden {
  display: none !important;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}


/* media queries
------------------------------------------------- */

// xs
@media (max-width: $screen-xs-max) {
  .visible-xs,
  .visible-xs-block {
    display: block !important;
  }
  .visible-xs-inline {
    display: inline !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
  .hidden-xs {
    display: none !important;
  }
}

// sm
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .visible-sm,
  .visible-sm-block {
    display: block !important;
  }
  .visible-sm-inline {
    display: inline !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }
  .hidden-sm {
    display: none !important;
  }
}

// md
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .visible-md,
  .visible-md-block {
    display: block !important;
  }
  .visible-md-inline {
    display: inline !important;
  }
  .visible-md-inline-block {
    display: inline-block !important;
  }
  .hidden-md {
    display: none !important;
  }
}

// lg
@media (min-width: $screen-lg-min) {
  .visible-lg,
  .visible-lg-block {
    display: block !important;
  }
  .visible-lg-inline {
    display: inline !important;
  }
  .visible-lg-inline-block {
    display: inline-block !important;
  }
  .hidden-lg {
    display: none !important;
  }
}
