<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Basics information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-area js-display-area">
  <div class="m-display-block js-display-block" data-display-options="path:+basics.image,type:image"></div>
</div>

<div class="m-display-area js-display-area">
  <h1 class="m-display-block js-display-block" data-display-options="path:+basics.character.name,type:snippet"></h1>
  <p class="m-display-block js-display-block" data-display-options="path:+basics.classes.string+basics.initiative.current+skills.default.perception.current+basics.speed.land+basics.speed.swim+basics.speed.climb+basics.speed.burrow+basics.speed.fly,prefix:+Class & Level+Initiative+Perception+Land Speed+Swim Speed+Climb Speed+Burrow Speed+Fly Speed,dependency:++++++++basics.speed.maneuverability,valueType:++bonus+bonus+++++,type:snippet"></p>
</div>

<div class="m-display-area js-display-area">
  <p class="m-display-block js-display-block" data-display-options="path:+basics.character.deity+basics.character.gender+basics.character.race+basics.experience.total+basics.character.alignment+basics.character.size.category+basics.character.height+basics.character.weight+basics.character.age+basics.character.hero_points,prefix:+Deity+Gender+Race+EXP+Alignment+Size+Height+Weight+Age+Hero Points,valueType:++++number++++++,type:snippet"></p>
</div>

<div class="m-display-area js-display-area">
  <p class="m-display-block js-display-block" data-display-options="path:+basics.character.description,prefix:+Description,type:block"></p>
</div>
