<!-- <div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Basics information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div> -->

<div class="m-display-grid">
  <div class="m-display-block m-display-grid-item js-display-block" data-display-options="section:image"></div>
  <div class="m-display-block m-display-grid-item js-display-block" data-display-options="section:name_class"></div>
</div>

<div class="m-display-grid">
  <div class="m-display-block m-display-grid-item js-display-block" data-display-options="section:basics"></div>
</div>
