<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Basics information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-block m-display-block-image-name-class js-display-block is-hidden" data-display-content="false">
  <div class="m-display-block-image">
    <div class="m-display-box-image js-display-block-target" data-display-type="image" data-display-path="basics.profile_image.image"></div>
  </div>
  <div class="m-display-block-name-class">
    <div class="m-display-block-name">
      <h1 class="u-no-margin js-display-block-target" data-display-type="text-snippet" data-display-path="basics.name"></h1>
    </div>
    <div class="m-display-block-class">
      <h2 class="m-display-box-accent u-no-margin js-display-block-target" data-display-type="clone" data-display-path="basics.classes"></h2>
    </div>
    <h2 class="m-display-box-accent u-no-margin js-display-block-target" data-display-type="text-snippet" data-display-path="basics.initiative.current,skills.perception.current,basics.speed.land,basics.speed.swim,basics.speed.climb,basics.speed.burrow,basics.speed.fly" data-display-prefix="Initiative,Perception,Speed,Swim,Climb,Burrow,Fly" data-display-value-type="bonus,bonus,,,,," data-display-dependency=",,,,,,basics.speed.maneuverability"></h2>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="js-display-block-target" data-display-type="text-snippet" data-display-path="basics.deity,basics.race,basics.xp.total,basics.alignment,basics.size.category,basics.height,basics.weight,basics.age,basics.luck_points,basics.hero_points" data-display-prefix="Deity,,,,,,,,Luck points,Hero points" data-display-suffix=",,XP,,,tall,,years old,,," data-display-value-type=",,number,,,,,,,"></p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="m-display-box-recess js-display-block-target" data-display-type="text-block" data-display-path="basics.character_description"></p>
</div>
