<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Basics information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-block m-display-character-intro js-display-block" data-display-content="false">
  <div class="m-display-character-image">
    <div class="js-display-block-target" data-display-type="image" data-display-path="basics.image.data"  data-display-scale="basics.image.scale" data-display-position="basics.image.position" data-display-color="basics.image.color"></div>
  </div>
  <div class="m-display-character-content">
    <h1 class="u-no-margin js-display-block-target" data-display-type="text-snippet" data-display-path="basics.character.name"></h1>
    <h2 class="m-display-box-accent u-no-margin js-display-block-target" data-display-type="clone" data-display-path="basics.classes.all"></h2>
    <h3 class="m-display-box-accent u-no-margin js-display-block-target" data-display-type="text-snippet" data-display-path="basics.initiative.current,skills.default.perception.current,basics.speed.land,basics.speed.swim,basics.speed.climb,basics.speed.burrow,basics.speed.fly" data-display-prefix="Initiative,Perception,Speed,Swim,Climb,Burrow,Fly" data-display-value-type="bonus,bonus,,,,," data-display-dependency=",,,,,,basics.speed.maneuverability"></h3>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="js-display-block-target" data-display-type="text-snippet" data-display-path="basics.character.deity,basics.character.gender,basics.character.race,basics.experience.total,basics.character.alignment,basics.character.size.category,basics.character.height,basics.character.weight,basics.character.age,basics.character.hero_points" data-display-prefix="Deity,,,,,,,,,Hero points" data-display-suffix=",,,XP,,,tall,,years old,," data-display-value-type=",,,number,,,,,,"></p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="js-display-block-target" data-display-type="text-block" data-display-path="basics.character_description"></p>
</div>
