<section class="l-section l-section-display js-section-display is-hidden">
  <div class="m-display-wrapper m-display-wrapper-nav-padding">
    <div class="container">
      <div class="m-display-section">
        <div class="row">
          <div class="col-xs-12">
            <div class="m-display-section-divider">
              <span class="m-display-section-icon icon-account-circle"></span>
            </div>
          </div>
          <div class="col-xs-12 col-md-11 col-md-offset-1">
            <h1 class="m-display-block js-display-block" data-display="basics.name"></h1>
            <p class="m-display-block js-display-block" data-display="basics.race,basics.class,basics.level"></p>
            <p class="m-display-block js-display-block" data-display="basics.speed,basics.initiative"></p>
            <p class="m-display-block js-display-block" data-display="basics.xp,basics.height,basics.weight,basics.age,basics.gender,basics.hero_points,basics.luck_points"></p>
            <a href="#" data-mini-view="basics" class="button button-small js-display-block-quick-edit"><span class="icon-edit"></span> Quick Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
