<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="m-display-body">
        <h2 class="js-display-block" data-display-type="text-snippet" data-display="basics.name">
          <span class="js-display-block-target"></span>
        </h2>
        <p class="js-display-block" data-display-type="text-snippet" data-display="basics.gender,basics.race,basics.class,basics.level,basics.xp,basics.size,basics.height,basics.weight,basics.age,basics.hero_points,basics.luck_points" data-display-suffix=",,,, xp,, tall,, years old, hero points, luck points">
          <span class="js-display-block-target"></span>
        </p>
      </div>

    </div>
  </div>
</div>
