<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Basics information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <h1 class="u-no-margin js-display-block-target" data-display-type="text-snippet" data-display-path="basics.name"></h1>
  <p class="m-display-box-accent js-display-block-target" data-display-type="clone" data-display-path="basics.classes"></p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <h2 class="u-no-margin m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="basics.initiative.current,basics.speed,skills.perception.current" data-display-prefix="Initiative,Speed,Perception" data-display-value-type="bonus,,bonus"></h2>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="js-display-block-target" data-display-type="text-snippet" data-display-path="basics.deity,basics.race,basics.xp,basics.alignment,basics.size.category,basics.height,basics.weight,basics.age,basics.luck_points,basics.hero_points" data-display-prefix="Deity,,,,,,,,Luck points,Hero points" data-display-suffix=",,XP,,,tall,,years old,,,"></p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="m-display-box-recess js-display-block-target" data-display-type="text-block" data-display-path="basics.character_description"></p>
</div>
