<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="m-placeholder js-placeholder-display">
        <p class="m-placeholder-description u-muted-text">No Basics information added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <h1 class="m-display-name">
          <span class="m-display-name-title js-display-block-target" data-display-type="text-snippet" data-display-path="basics.name"></span>
          <span class="m-display-name-description js-display-block-target" data-display-type="text-snippet" data-display-path="basics.gender,basics.race,basics.class,basics.level"></span>
        </h1>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Details</p>
        <p class="js-display-block-target" data-display-type="text-snippet" data-display-path="basics.speed,basics.initiative" data-display-prefix="Speed ,Initiative "></p>
        <p class="js-display-block-target" data-display-type="text-snippet" data-display-path="basics.xp,basics.alignment,basics.size,basics.height,basics.weight,basics.age,basics.hero_points,basics.luck_points" data-display-suffix=" xp,,, tall,, years old, hero points, luck points"></p>
      </div>

    </div>
  </div>
</div>
