<style media="screen">
</style>


<section id="classic" class="l-section">
  <div class="m-card">
    <div class="m-card-body">
      <div class="grid">
        <div class="item item-1">
          <div class="m-display-block js-display-block" data-display-options="sections:+basics.image"></div>
        </div>
        <div class="item item-2">
          <div class="m-display-block js-display-block" data-display-options="sections:+basics.nameClass"></div>
        </div>
        <div class="item item-3">3</div>
        <div class="item item-4">4</div>
        <div class="item item-5">5</div>
      </div>
    </div>
  </div>
</section>
