<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="m-placeholder js-placeholder-display">
        <p class="m-placeholder-description u-muted-text">No Defense information added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <h2>
          <span class="js-display-block-target" data-display-type="text-snippet" data-display-path="defense.hp.current" data-display-prefix="HP "></span>
          / <span class="js-display-block-target" data-display-type="text-snippet" data-display-path="defense.hp.total"></span>
        </h2>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <h2 class="js-display-block-target" data-display-type="text-snippet" data-display-path="defense.ac.current,defense.flat_footed.current,defense.touch.current" data-display-prefix="AC ,Flat Footed ,Touch "></h2>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Saves</p>
        <ul class="m-display-list m-display-list-line m-display-list-thirds u-list-unstyled js-display-block-target" data-display-type="list" data-display-path="defense.fortitude.current,defense.reflex.current,defense.will.current" data-display-prefix="Fortitude,Reflex,Will" data-display-value-type="bonus,bonus,bonus"></ul>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Notes</p>
        <p class="js-display-block-target" data-display-type="text-block" data-display-path="defense.save_notes"></p>
      </div>

    </div>
  </div>
</div>
