<section class="l-section l-section-display js-section-display is-hidden">
  <div class="m-display-wrapper">
    <div class="container">
      <div class="m-display-section">
        <div class="row">
          <div class="col-xs-12">
            <div class="m-display-section-divider">
              <span class="m-display-section-icon icon-shield"></span>
            </div>
          </div>
          <div class="col-xs-12 col-md-11 col-md-offset-1">
            <p class="m-display-block js-display-block" data-display="defense.hp.current,defense.hp.temp,defense.hp.non_lethal_damage"></p>
            <p class="m-display-block js-display-block" data-display="defense.ac.current,defense.flat_footed.current,defense.touch.current"></p>
            <p class="m-display-block js-display-block" data-display="defense.fortitude.current,defense.reflex.current,defense.will.current,defense.save_notes"></p>
            <a href="#" data-mini-view="defense" class="button button-small js-display-block-quick-edit"><span class="icon-edit"></span> Quick Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
