<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Defense information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<!-- <div class="m-display-block js-display-block" data-display-options="section:defense"></div> -->

<!-- <div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <h2 class="m-display-box-accent u-no-margin js-display-block-target" data-display-type="text-snippet" data-display-path="defense.hp.current,defense.hp.total" data-display-prefix="HP,"></h2>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <h2 class="m-display-box-accent u-no-margin js-display-block-target" data-display-type="text-snippet" data-display-path="defense.ac.armor_class.current,defense.ac.flat_footed.current,defense.ac.touch.current,defense.cmd.current,defense.dr.current,defense.sr.current,defense.resistance.current" data-display-prefix="AC,Flat Footed,Touch,CMD,DR,SR,Resistance" data-display-dependency=",,,,defense.dr.overcome,,"></h2>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="m-display-box-recess js-display-block-target" data-display-type="text-block" data-display-path="defense.ac.notes"></p>
  <p class="m-display-box-recess js-display-block-target" data-display-type="text-block" data-display-path="defense.dr.notes"></p>
  <p class="m-display-box-recess js-display-block-target" data-display-type="text-block" data-display-path="defense.sr.notes"></p>
  <p class="m-display-box-recess js-display-block-target" data-display-type="text-block" data-display-path="defense.resistance.notes"></p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <h2 class="m-display-box-accent u-no-margin js-display-block-target" data-display-type="text-snippet" data-display-path="defense.saves.fortitude.current,defense.saves.reflex.current,defense.saves.will.current" data-display-prefix="Fortitude,Reflex,Will" data-display-value-type="bonus,bonus,bonus"></h2>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="m-display-box-recess js-display-block-target" data-display-type="text-block" data-display-path="defense.saves.notes"></p>
</div> -->
