<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Equipment information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-block js-display-block" data-display-options="sections:+equipment.gear+equipment.magic_gear+equipment.potion_viles_oils+equipment.scrolls+equipment.armor+equipment.body_slots+equipment.item+equipment.encumbrance+equipment.consumable+equipment.wealth"></div>
