<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text">No Equipment information added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Gear</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <p class="js-display-block-target" data-display-type="text-block" data-display-path="equipment.gear"></p>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Magic Gear</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <p class="js-display-block-target" data-display-type="text-block" data-display-path="equipment.magic_gear"></p>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Items</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <ul class="m-display-list m-display-list-line m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="clone" data-display-path="equipment.item"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Armor</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <ul class="m-display-list m-display-list-stack m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="list" data-display-path="equipment.armor.armor,equipment.armor.shield" data-display-prefix="Armor,Shield"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Body Slots</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <ul class="m-display-list m-display-list-stack m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="list" data-display-path="equipment.body_slots.belts,equipment.body_slots.body,equipment.body_slots.chest,equipment.body_slots.eyes,equipment.body_slots.feet,equipment.body_slots.hands,equipment.body_slots.head,equipment.body_slots.headband,equipment.body_slots.neck,equipment.body_slots.ring_left_hand,equipment.body_slots.ring_right_hand,equipment.body_slots.shoulders,equipment.body_slots.wrist" data-display-prefix="Belts,Body,Chest,Eyes,Feet,Hands,Head,Headband,Neck,Ring (Left Hand),Ring (Right Hand),Shoulders,Wrist"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Encumbrance</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <p class="m-display-box-accent js-display-block-target" data-display-type="text-snippet"  data-display-path="equipment.encumbrance.light,equipment.encumbrance.medium,equipment.encumbrance.heavy" data-display-prefix="Light,Medium,Heavy"></p>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Wealth</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="u-no-margin m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="equipment.wealth.platinum,equipment.wealth.gold,equipment.wealth.silver,equipment.wealth.copper" data-display-suffix="pp,gp,sp,cp"></h2>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Consumables</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="clone" data-display-path="equipment.consumable"></ul>
      </div>
    </div>
  </div>
</div>
