<section class="l-section l-section-display js-section-display is-hidden">
  <div class="m-display-wrapper">
    <div class="container">
      <div class="m-display-section">
        <div class="row">
          <div class="col-xs-12">
            <div class="m-display-section-divider">
              <span class="m-display-section-icon icon-bottle"></span>
            </div>
          </div>
          <div class="col-xs-12 col-md-11 col-md-offset-1">
            <p class="m-display-block js-display-block" data-display="equipment.gear"></p>
            <p class="m-display-block js-display-block" data-display="equipment.magic_gear"></p>
            <p class="m-display-block js-display-block" data-display="equipment.body_slots.armor,equipment.body_slots.belts,equipment.body_slots.body,equipment.body_slots.chest,equipment.body_slots.eyes,equipment.body_slots.feet,equipment.body_slots.hands,equipment.body_slots.head,equipment.body_slots.headband,equipment.body_slots.neck,equipment.body_slots.ring_left_hand,equipment.body_slots.ring_right_hand,equipment.body_slots.shield,equipment.body_slots.shoulders,equipment.body_slots.wrist"></p>
            <p class="m-display-block js-display-block" data-display="equipment.wealth.platinum,equipment.wealth.gold,equipment.wealth.silver,equipment.wealth.copper"></p>
            <div class="js-display-block-consumable"></div>
            <a href="#" data-mini-view="equipment" class="button button-small js-display-block-quick-edit"><span class="icon-edit"></span> Quick Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
