<section class="l-section l-section-display l-section-display-body is-hidden js-section-display">
  <div class="m-display-bar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="m-display-bar-controls">
            <p class="m-display-bar-name u-no-margin"><span class="m-display-bar-name-icon icon-file"></span> <span>Notes</span></p>
            <div class="m-display-bar-edit">
              <button data-edit-jump="notes" data-scroll class="button button-icon button-small m-display-bar-edit-button js-display-bar-edit-button"><span class="icon-edit"></span><span>Edit Section</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="m-display-body">
          <p class="m-display-body-title">Character</p>
          <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.character">
          </ul>
        </div>

        <div class="m-display-body">
          <p class="m-display-body-title">Story</p>
          <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.story">
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
