<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="m-placeholder js-placeholder-display">
        <p class="m-placeholder-description u-muted-text">No Defense information added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <div class="m-display-body">
        <p class="m-display-body-title">Character</p>
        <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.character">
        </ul>
      </div>

      <div class="m-display-body">
        <p class="m-display-body-title">Story</p>
        <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.story">
        </ul>
      </div>

    </div>
  </div>
</div>
