<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="m-display-title">Notes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <div class="m-display-body">
        <p class="m-display-body-title">Character</p>
        <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.character">
        </ul>
      </div>

      <div class="m-display-body">
        <p class="m-display-body-title">Story</p>
        <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.story">
        </ul>
      </div>

    </div>
  </div>
</div>
