<section class="l-section l-section-display l-section-display-body l-section-display-last is-hidden js-section-display">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <p class="m-display-body-title">Character Notes</p>
        <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.character">
        </ul>

        <p class="m-display-body-title">Story Notes</p>
        <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.story">
        </ul>

      </div>
    </div>
  </div>
</section>
