<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Note information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Character</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <ul class="m-display-list m-display-list-stack u-list-unstyled js-display-block-target" data-display-type="clone" data-display-path="notes.character"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Story</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <ul class="m-display-list m-display-list-stack u-list-unstyled js-display-block-target" data-display-type="clone" data-display-path="notes.story"></ul>
      </div>
    </div>
  </div>
</div>
