<section id="display-notes" class="l-display js-display is-hidden">
  <button data-self-link="#display-notes" class="m-display-self-link button button-link js-display-self-link"></button>
  <div class="m-display-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="m-display-body">
            <p class="m-display-body-title">Character</p>
            <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.character">
            </ul>
          </div>

          <div class="m-display-body">
            <p class="m-display-body-title">Story</p>
            <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.story">
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
