<section class="l-display js-display l-section-last is-hidden">
  <div class="m-display-heading js-display-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="m-display-heading-wrapper">
            <h1 class="m-display-heading-title">Notes</h1>
            <span class="m-display-heading-icon icon-file"></span>
            <div class="m-display-heading-controls"><button data-edit-jump="notes" class="button m-display-heading-edit js-display-heading-edit"><span>Edit</span></button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-display-section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="m-display-body">
            <p class="m-display-body-title">Character</p>
            <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.character">
            </ul>
          </div>

          <div class="m-display-body">
            <p class="m-display-body-title">Story</p>
            <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.story">
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
