<section class="l-section l-section-display js-section-display is-hidden">
  <div class="m-display-wrapper">
    <div class="container">
      <div class="m-display-section">
        <div class="row">
          <div class="col-xs-12">
            <div class="m-display-section-divider">
              <span class="m-display-section-icon icon-combat"></span>
            </div>
          </div>
          <div class="col-xs-12">
            <p class="m-display-block js-display-block" data-display="offense.base_attack,offense.concentration,offense.cmb.current,offense.cmd.current,offense.melee_attack.current,offense.ranged_attack.current,offense.attack_notes"></p>
            <div class="js-display-block-attack"></div>
            <a href="#" data-mini-view="offense" class="button button-small js-display-block-quick-edit"><span class="icon-edit"></span> Quick Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
