<section class="l-display js-display is-hidden">
  <div class="m-display-heading js-display-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="m-display-heading-wrapper">
            <h1 class="m-display-heading-title">Offense</h1>
            <span class="m-display-heading-icon icon-combat"></span>
            <div class="m-display-heading-controls"><button data-edit-jump="offense" class="button m-display-heading-edit js-display-heading-edit"><span>Edit</span></button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-display-section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="m-display-body">
            <p class="js-display-block" data-display-type="text-snippet" data-display="offense.base_attack,offense.cmb.current,offense.cmd.current,offense.melee_attack.current,offense.ranged_attack.current" data-display-prefix="BAB ,CMB ,CMD ,Melee ,Ranged ">
              <span class="js-display-block-target"></span>
            </p>
          </div>

          <div class="m-display-body">
            <p class="m-display-body-title">Melee</p>
            <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="offense.attack.melee">
            </ul>
          </div>

          <div class="m-display-body">
            <p class="m-display-body-title">Ranged</p>
            <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="offense.attack.ranged">
            </ul>
          </div>

          <div class="m-display-body">
            <p class="js-display-block" data-display-type="text-snippet" data-display="offense.attack_notes" data-display-title="Notes ">
              <span class="js-display-block-target"></span>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
