<div class="js-display is-hidden">
  <div class="m-card-body-dark">

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="m-display-body">

            <p class="m-display-body-title">Quick Stats</p>

            <div class="m-display-quick-stats">

              <div class="m-display-quick-stats-item">
                <p class="m-display-quick-stats-item-title">Speed</p>
                <h2 class="m-display-quick-stats-item-value js-display-block" data-display-type="text-snippet" data-display="basics.speed">
                  <span class="js-display-block-target"></span>
                </h2>
              </div>

              <div class="m-display-quick-stats-item">
                <p class="m-display-quick-stats-item-title">Perception</p>
                <h2 class="m-display-quick-stats-item-value js-display-block" data-display-type="text-snippet" data-display="skills.perception.current">
                  <span class="js-display-block-target"></span>
                </h2>
              </div>

              <div class="m-display-quick-stats-item">
                <p class="m-display-quick-stats-item-title">Initiative</p>
                <h2 class="m-display-quick-stats-item-value js-display-block" data-display-type="text-snippet" data-display="basics.initiative">
                  <span class="js-display-block-target"></span>
                </h2>
              </div>

              <div class="m-display-quick-stats-item">
                <p class="m-display-quick-stats-item-title">AC</p>
                <h2 class="m-display-quick-stats-item-value js-display-block" data-display-type="text-snippet" data-display="defense.ac.current">
                  <span class="js-display-block-target"></span>
                </h2>
              </div>

              <div class="m-display-quick-stats-item m-display-quick-stats-item-highlight">
                <p class="m-display-quick-stats-item-title">HP</p>
                <h2 class="m-display-quick-stats-item-value">
                  <div class="m-display-quick-stats-hitpoints">
                    <span class="m-display-quick-stats-hitpoints-current js-display-block" data-display-type="text-snippet" data-display="defense.hp.current">
                      <span class="js-display-block-target"></span>
                    </span>
                    <span class="m-display-quick-stats-hitpoints-total js-display-block" data-display-type="text-snippet" data-display="defense.hp.total">
                      <span class="js-display-block-target"></span>
                    </span>
                  </div>
                </h2>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
