<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="m-placeholder js-placeholder-display">
        <p class="m-placeholder-description u-muted-text">No Skill information added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

        <div class="m-display-block js-display-block is-hidden" data-display-content="false">
          <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="skill" data-display-path="skills.acrobatics,skills.appraise,skills.bluff,skills.climb,skills.craft_1,skills.craft_2,skills.diplomacy,skills.disable_device,skills.disguise,skills.escape_artist,skills.fly,skills.handle_animal,skills.heal,skills.intimidate,skills.knowledge_arcana,skills.knowledge_dungeoneering,skills.knowledge_engineering,skills.knowledge_geography,skills.knowledge_history,skills.knowledge_local,skills.knowledge_nature,skills.knowledge_nobility,skills.knowledge_planes,skills.knowledge_religion,skills.linguistics,skills.perception,skills.perform_1,skills.perform_2,skills.profession_1,skills.profession_2,skills.ride,skills.sense_motive,skills.sleight_of_hand,skills.spellcraft,skills.stealth,skills.survival,skills.swim,skills.use_magic_device" data-display-prefix="Acrobatics ,Appraise ,Bluff ,Climb ,Craft ,Craft ,Diplomacy ,Disable Device ,Disguise ,Escape Artist ,Fly ,Handle Animal ,Heal ,Intimidate ,Knowledge Arcana ,Knowledge Dungeoneering ,Knowledge Engineering ,Knowledge Geography ,Knowledge History ,Knowledge Local ,Knowledge Nature ,Knowledge Nobility ,Knowledge Planes ,Knowledge Religion ,Linguistics ,Perception ,Perform ,Perform ,Profession ,Profession ,Ride ,Sense Motive ,Sleight of Hand ,Spellcraft ,Stealth ,Survival ,Swim ,Use Magic Device "></ul>
        </div>

    </div>
  </div>
</div>
