<section id="display-skills"class="l-display js-display is-hidden">
  <button data-self-link="#display-skills" class="m-display-self-link button button-link js-display-self-link"></button>
  <div class="m-display-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="m-display-body">
            <ul class="m-display-grid-multi-col u-list-unstyled js-display-block" data-display-type="skill" data-display="skills.acrobatics,skills.appraise,skills.bluff,skills.climb,skills.craft_1,skills.craft_2,skills.diplomacy,skills.disable_device,skills.disguise,skills.escape_artist,skills.fly,skills.handle_animal,skills.heal,skills.intimidate,skills.knowledge_arcana,skills.knowledge_dungeoneering,skills.knowledge_engineering,skills.knowledge_geography,skills.knowledge_history,skills.knowledge_local,skills.knowledge_nature,skills.knowledge_nobility,skills.knowledge_planes,skills.knowledge_religion,skills.linguistics,skills.perception,skills.perform_1,skills.perform_2,skills.profession_1,skills.profession_2,skills.ride,skills.sense_motive,skills.sleight_of_hand,skills.spellcraft,skills.stealth,skills.survival,skills.swim,skills.use_magic_device,skills.custom_1,skills.custom_2,skills.custom_3,skills.custom_4,skills.custom_5,skills.custom_6,skills.custom_7,skills.custom_8" data-display-prefix="Acrobatics ,Appraise ,Bluff ,Climb ,Craft ,Craft ,Diplomacy ,Disable Device ,Disguise ,Escape Artist ,Fly ,Handle Animal ,Heal ,Intimidate ,Knowledge Arcana ,Knowledge Dungeoneering ,Knowledge Engineering ,Knowledge Geography ,Knowledge History ,Knowledge Local ,Knowledge Nature ,Knowledge Nobility ,Knowledge Planes ,Knowledge Religion ,Linguistics ,Perception ,Perform ,Perform ,Profession ,Profession ,Ride ,Sense Motive ,Sleight of Hand ,Spellcraft ,Stealth ,Survival ,Swim ,Use Magic Device ,,,,,,,,">
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
