<section id="display-spells" class="l-display js-display is-hidden">
  <button class="m-display-self-link button button-link js-display-self-link" data-self-link="#display-spells"></button>
  <button class="m-display-edit-link button button-link button-small button-icon u-inline-with-input js-display-edit-link" data-edit-link="#spells"><span class="icon-edit"></span></button>
  <div class="m-display-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="m-display-title">Spells</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">

          <div class="m-display-body">
            <p class="js-display-block" data-display-type="text-snippet" data-display="spells.concentration.current" data-display-prefix="Concentration " data-total-type="bonus">
              <span class="js-display-block-target"></span>
            </p>
          </div>

          <div class="m-display-body">
            <div class="js-display-block" data-display-type="spell">
              <span class="js-display-block-target"></span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
