<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="m-placeholder js-placeholder-display">
        <p class="m-placeholder-description u-muted-text">No Spell information added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <h2 class="js-display-block-target" data-display-type="text-snippet" data-display-path="spells.concentration.current" data-display-prefix="Concentration " data-display-value-type="bonus"></h2>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Level 0</p>
        <h2 class="js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_0,spells.per_day.level_0,spells.dc.level_0" data-display-prefix="Kown , Daily , DC "></h2>
        <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.0"></ul>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Level 1</p>
        <h2 class="js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_1,spells.per_day.level_1,spells.dc.level_1" data-display-prefix="Kown , Daily , DC "></h2>
        <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.1"></ul>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Level 2</p>
        <h2 class="js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_2,spells.per_day.level_2,spells.dc.level_2" data-display-prefix="Kown , Daily , DC "></h2>
        <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.2"></ul>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Level 3</p>
        <h2 class="js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_3,spells.per_day.level_3,spells.dc.level_3" data-display-prefix="Kown , Daily , DC "></h2>
        <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.3"></ul>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Level 4</p>
        <h2 class="js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_4,spells.per_day.level_4,spells.dc.level_4" data-display-prefix="Kown , Daily , DC "></h2>
        <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.4"></ul>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Level 5</p>
        <h2 class="js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_5,spells.per_day.level_5,spells.dc.level_5" data-display-prefix="Kown , Daily , DC "></h2>
        <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.5"></ul>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Level 6</p>
        <h2 class="js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_6,spells.per_day.level_6,spells.dc.level_6" data-display-prefix="Kown , Daily , DC "></h2>
        <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.6"></ul>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Level 7</p>
        <h2 class="js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_7,spells.per_day.level_7,spells.dc.level_7" data-display-prefix="Kown , Daily , DC "></h2>
        <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.7"></ul>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Level 8</p>
        <h2 class="js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_8,spells.per_day.level_8,spells.dc.level_8" data-display-prefix="Kown , Daily , DC "></h2>
        <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.8"></ul>
      </div>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
        <p class="m-display-title">Level 9</p>
        <h2 class="js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_9,spells.per_day.level_9,spells.dc.level_9" data-display-prefix="Kown , Daily , DC "></h2>
        <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.9"></ul>
      </div>

    </div>
  </div>
</div>
