<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Spell information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-block js-display-block" data-display-options="sections:+spells.stats+spells.level_0+spells.level_1+spells.level_2+spells.level_3+spells.level_4+spells.level_5+spells.level_6+spells.level_7+spells.level_8+spells.level_9"></div>
