<section id="display-spells" class="l-display js-display is-hidden">
  <button data-self-link="#display-spells" class="m-display-self-link button button-link js-display-self-link"></button>
  <div class="m-display-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="m-display-body">
            <p class="js-display-block" data-display-type="text-snippet" data-display="spells.concentration.current" data-display-prefix="Concentration ">
              <span class="js-display-block-target"></span>
            </p>
          </div>

          <div class="m-display-body">
            <div class="js-display-block" data-display-type="spell">
              <span class="js-display-block-target"></span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
