<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Spell information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <h2 class="m-display-box-accent u-no-margin js-display-block-target" data-display-type="text-snippet" data-display-path="spells.concentration.current,spells.caster_level_check.current" data-display-prefix="Concentration,Caster Level Check" data-display-value-type="bonus,bonus"></h2>
  <p class="m-display-box m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.school,spells.opposition,spells.domains,spells.bloodline" data-display-prefix="School,Opposition,Domains,Bloodline"></p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="m-display-box-recess js-display-block-target" data-display-type="text-block" data-display-path="spells.spell_notes"></p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 0</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_0,spells.per_day.level_0,spells.dc.level_0.current" data-display-prefix="Known,Daily,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.0"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 1</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_1,spells.per_day.level_1,spells.dc.level_1.current" data-display-prefix="Known,Daily,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.1"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 2</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_2,spells.per_day.level_2,spells.dc.level_2.current" data-display-prefix="Known,Daily,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.2"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 3</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_3,spells.per_day.level_3,spells.dc.level_3.current" data-display-prefix="Known,Daily,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.3"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 4</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_4,spells.per_day.level_4,spells.dc.level_4.current" data-display-prefix="Known,Daily,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.4"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 5</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_5,spells.per_day.level_5,spells.dc.level_5.current" data-display-prefix="Known,Daily,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.5"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 6</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_6,spells.per_day.level_6,spells.dc.level_6.current" data-display-prefix="Known,Daily,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.6"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 7</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_7,spells.per_day.level_7,spells.dc.level_7.current" data-display-prefix="Known,Daily,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.7"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 8</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_8,spells.per_day.level_8,spells.dc.level_8.current" data-display-prefix="Known,Daily,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.8"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 9</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.known.level_9,spells.per_day.level_9,spells.dc.level_9.current" data-display-prefix="Known,Daily,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.9"></ul>
      </div>
    </div>
  </div>
</div>
