<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Spell information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <h2 class="m-display-box-accent u-no-margin js-display-block-target" data-display-type="text-snippet" data-display-path="spells.stats.concentration.current,spells.stats.caster_level_check.current" data-display-prefix="Concentration,Caster Level Check" data-display-value-type="bonus,bonus"></h2>
  <p class="m-display-box m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.stats.school,spells.stats.opposition,spells.stats.domains,spells.stats.bloodline" data-display-prefix="School,Opposition,Domains,Bloodline"></p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="m-display-box-recess js-display-block-target" data-display-type="text-block" data-display-path="spells.stats.notes"></p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 0</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.book.level_0.known,spells.book.level_0.per_day,spells.book.level_0.bonus,spells.book.level_0.dc.current" data-display-prefix="Known,Daily,Bonus,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.level_0.all" data-display-spell-level="0"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 1</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.book.level_1.known,spells.book.level_1.per_day,spells.book.level_1.bonus,spells.book.level_1.dc.current" data-display-prefix="Known,Daily,Bonus,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.level_1.all" data-display-spell-level="1"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 2</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.book.level_2.known,spells.book.level_2.per_day,spells.book.level_2.bonus,spells.book.level_2.dc.current" data-display-prefix="Known,Daily,Bonus,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.level_2.all" data-display-spell-level="2"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 3</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.book.level_3.known,spells.book.level_3.per_day,spells.book.level_3.bonus,spells.book.level_3.dc.current" data-display-prefix="Known,Daily,Bonus,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.level_3.all" data-display-spell-level="3"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 4</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.book.level_4.known,spells.book.level_4.per_day,spells.book.level_4.bonus,spells.book.level_4.dc.current" data-display-prefix="Known,Daily,Bonus,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.level_4.all" data-display-spell-level="4"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 5</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.book.level_5.known,spells.book.level_5.per_day,spells.book.level_5.bonus,spells.book.level_5.dc.current" data-display-prefix="Known,Daily,Bonus,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.level_5.all" data-display-spell-level="5"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 6</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.book.level_6.known,spells.book.level_6.per_day,spells.book.level_6.bonus,spells.book.level_6.dc.current" data-display-prefix="Known,Daily,Bonus,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.level_6.all" data-display-spell-level="6"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 7</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.book.level_7.known,spells.book.level_7.per_day,spells.book.level_7.bonus,spells.book.level_7.dc.current" data-display-prefix="Known,Daily,Bonus,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.level_7.all" data-display-spell-level="7"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 8</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.book.level_8.known,spells.book.level_8.per_day,spells.book.level_8.bonus,spells.book.level_8.dc.current" data-display-prefix="Known,Daily,Bonus,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.level_8.all" data-display-spell-level="8"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Level 9</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <h2 class="m-display-box-accent js-display-block-target" data-display-type="text-snippet" data-display-path="spells.book.level_9.known,spells.book.level_9.per_day,spells.book.level_9.bonus,spells.book.level_9.dc.current" data-display-prefix="Known,Daily,Bonus,DC"></h2>
        <ul class="m-display-list m-display-list-compact u-list-unstyled js-display-block-target" data-display-type="spell" data-display-path="spells.book.level_9.all" data-display-spell-level="9"></ul>
      </div>
    </div>
  </div>
</div>
