<section class="l-section l-section-display l-section-display-body is-hidden js-section-display">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="m-display-body">
          <p class="m-display-body-title">Spells</p>
          <p class="js-display-block" data-display-type="text-snippet" data-display="spells.concentration.current" data-display-prefix="Concentration ">
            <span class="js-display-block-target"></span>
          </p>
        </div>

        <div class="js-display-block" data-display-type="spell">
          <span class="js-display-block-target"></span>
        </div>

      </div>
    </div>
  </div>
</section>
