<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Spell information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-block js-display-block" data-display-options="sections:+spells.stats+spells.book.level_0+spells.book.level_1+spells.book.level_2+spells.book.level_3+spells.book.level_4+spells.book.level_5+spells.book.level_6+spells.book.level_7+spells.book.level_8+spells.book.level_9"></div>
