<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="m-placeholder js-placeholder-display">
        <p class="m-placeholder-description u-muted-text">No Spell information added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <div class="m-display-body">
        <h2 class="js-display-block" data-display-type="text-snippet" data-display="spells.concentration.current" data-display-prefix="Concentration " data-display-total-type="bonus">
          <span class="js-display-block-target"></span>
        </h2>
      </div>

      <div class="m-display-body">
        <div class="js-display-block" data-display-type="spell">
          <span class="js-display-block-target"></span>
        </div>
      </div>

    </div>
  </div>
</div>
