<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Statistics information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-block js-display-block" data-display-options="sections:+statistics.stats+statistics.abilities+statistics.feats+statistics.traits+statistics.languages+statistics.power"></div>
