<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="m-placeholder js-placeholder-display">
        <p class="m-placeholder-description u-muted-text"><strong>No Statistics information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <ul class="m-display-list u-list-unstyled">
        <li class="m-display-list-item">
          <span class="m-display-list-title">Alpha</span>
          <span class="m-display-list-value">1</span>
        </li>
        <li class="m-display-list-item">
          <span class="m-display-list-title">Beta</span>
          <span class="m-display-list-value">2</span>
        </li>
        <li class="m-display-list-item">
          <span class="m-display-list-title">Gamma</span>
          <span class="m-display-list-value">3</span>
        </li>
        <li class="m-display-list-item">
          <span class="m-display-list-title">Delta</span>
          <span class="m-display-list-value">4</span>
        </li>
        <li class="m-display-list-item">
          <span class="m-display-list-title">Epsilon</span>
          <span class="m-display-list-value">5</span>
        </li>
        <li class="m-display-list-item">
          <span class="m-display-list-title">Zeta</span>
          <span class="m-display-list-value">6</span>
        </li>
      </ul>

      <div class="m-display-block js-display-block is-hidden" data-display-content="false">
      </div>

      <!-- <div class="m-display-body">
        <ul class="m-display-grid u-list-unstyled">
          <li class="m-display-col-three">
            <div class="m-display-item">

              <div class="m-display-statistics-item">
                <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.str.score">
                  <span class="js-display-block-target"></span>
                </p>
                <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Str</span><span class="hidden-sm">Strength</span></p>
                <h2 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.str.modifier">
                  <span class="js-display-block-target"></span>
                </h2>
              </div>

            </div>
          </li>
          <li class="m-display-col-three">
            <div class="m-display-item">

              <div class="m-display-statistics-item">
                <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.dex.score">
                  <span class="js-display-block-target"></span>
                </p>
                <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Dex</span><span class="hidden-sm">Dexterity</span></p>
                <h2 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.dex.modifier">
                  <span class="js-display-block-target"></span>
                </h2>
              </div>

            </div>
          </li>
          <li class="m-display-col-three">
            <div class="m-display-item">

              <div class="m-display-statistics-item">
                <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.con.score">
                  <span class="js-display-block-target"></span>
                </p>
                <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Con</span><span class="hidden-sm">Constitution</span></p>
                <h2 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.con.modifier">
                  <span class="js-display-block-target"></span>
                </h2>
              </div>

            </div>
          </li>
          <li class="m-display-col-three">
            <div class="m-display-item">

              <div class="m-display-statistics-item">
                <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.int.score">
                  <span class="js-display-block-target"></span>
                </p>
                <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Int</span><span class="hidden-sm">Intelligence</span></p>
                <h2 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.int.modifier">
                  <span class="js-display-block-target"></span>
                </h2>
              </div>

            </div>
          </li>
          <li class="m-display-col-three">
            <div class="m-display-item">

              <div class="m-display-statistics-item">
                <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.wis.score">
                  <span class="js-display-block-target"></span>
                </p>
                <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Wis</span><span class="hidden-sm">Wisdom</span></p>
                <h2 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.wis.modifier">
                  <span class="js-display-block-target"></span>
                </h2>
              </div>

            </div>
          </li>
          <li class="m-display-col-three">
            <div class="m-display-item">

              <div class="m-display-statistics-item">
                <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.cha.score">
                  <span class="js-display-block-target"></span>
                </p>
                <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Cha</span><span class="hidden-sm">Charisma</span></p>
                <h2 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.cha.modifier">
                  <span class="js-display-block-target"></span>
                </h2>
              </div>

            </div>
          </li>
        </ul>
      </div>

      <div class="m-display-body">
        <p class="m-display-body-title">Feats</p>
        <p class="js-display-block" data-display-type="text-block" data-display="statistics.feats">
          <span class="js-display-block-target"></span>
        </p>
        <p class="m-display-body-title">Traits</p>
        <p class="js-display-block" data-display-type="text-block" data-display="statistics.traits">
          <span class="js-display-block-target"></span>
        </p>
        <p class="m-display-body-title">Special Abilities</p>
        <p class="js-display-block" data-display-type="text-block" data-display="statistics.special_abilities">
          <span class="js-display-block-target"></span>
        </p>
        <p class="m-display-body-title">Languages</p>
        <p class="js-display-block" data-display-type="text-block" data-display="statistics.languages">
          <span class="js-display-block-target"></span>
        </p>
      </div> -->

    </div>
  </div>
</div>
