<section class="l-section l-section-display l-section-display-body is-hidden js-section-display">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="m-display-body">
          <p class="m-display-body-title">Statistics</p>
          <ul class="m-display-grid-3-col u-list-unstyled">
            <li class="m-display-col">
              <div class="m-display-item">

                <div class="m-display-statistics-item">
                  <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.str.score">
                    <span class="js-display-block-target"></span>
                  </p>
                  <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Str</span><span class="hidden-sm">Strength</span></p>
                  <h3 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.str.modifier">
                    <span class="js-display-block-target"></span>
                  </h3>
                </div>

              </div>
            </li>
            <li class="m-display-col">
              <div class="m-display-item">

                <div class="m-display-statistics-item">
                  <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.dex.score">
                    <span class="js-display-block-target"></span>
                  </p>
                  <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Dex</span><span class="hidden-sm">Dexterity</span></p>
                  <h3 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.dex.modifier">
                    <span class="js-display-block-target"></span>
                  </h3>
                </div>

              </div>
            </li>
            <li class="m-display-col">
              <div class="m-display-item">

                <div class="m-display-statistics-item">
                  <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.con.score">
                    <span class="js-display-block-target"></span>
                  </p>
                  <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Con</span><span class="hidden-sm">Constitution</span></p>
                  <h3 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.con.modifier">
                    <span class="js-display-block-target"></span>
                  </h3>
                </div>

              </div>
            </li>
            <li class="m-display-col">
              <div class="m-display-item">

                <div class="m-display-statistics-item">
                  <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.int.score">
                    <span class="js-display-block-target"></span>
                  </p>
                  <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Int</span><span class="hidden-sm">Intelligence</span></p>
                  <h3 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.int.modifier">
                    <span class="js-display-block-target"></span>
                  </h3>
                </div>

              </div>
            </li>
            <li class="m-display-col">
              <div class="m-display-item">

                <div class="m-display-statistics-item">
                  <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.wis.score">
                    <span class="js-display-block-target"></span>
                  </p>
                  <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Wis</span><span class="hidden-sm">Wisdom</span></p>
                  <h3 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.wis.modifier">
                    <span class="js-display-block-target"></span>
                  </h3>
                </div>

              </div>
            </li>
            <li class="m-display-col">
              <div class="m-display-item">

                <div class="m-display-statistics-item">
                  <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.cha.score">
                    <span class="js-display-block-target"></span>
                  </p>
                  <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Cha</span><span class="hidden-sm">Charisma</span></p>
                  <h3 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.cha.modifier">
                    <span class="js-display-block-target"></span>
                  </h3>
                </div>

              </div>
            </li>
          </ul>
        </div>

        <div class="m-display-body">
          <p class="m-display-body-title">Feats</p>
          <p class="js-display-block" data-display-type="text-block" data-display="statistics.feats">
            <span class="js-display-block-target"></span>
          </p>
          <p class="m-display-body-title">Traits</p>
          <p class="js-display-block" data-display-type="text-block" data-display="statistics.traits">
            <span class="js-display-block-target"></span>
          </p>
          <p class="m-display-body-title">Special Abilities</p>
          <p class="js-display-block" data-display-type="text-block" data-display="statistics.special_abilities">
            <span class="js-display-block-target"></span>
          </p>
          <p class="m-display-body-title">Languages</p>
          <p class="js-display-block" data-display-type="text-block" data-display="statistics.languages">
            <span class="js-display-block-target"></span>
          </p>
        </div>

        <div class="m-display-body">
          <button data-edit-jump="statistics" class="button button-icon button-small m-display-edit-jump js-display-edit-jump"><span class="icon-edit"></span></button>
        </div>

      </div>
    </div>
  </div>
</section>
