<section class="l-section l-section-display js-section-display is-hidden">
  <div class="m-display-wrapper">
    <div class="container">
      <div class="m-display-section">
        <div class="row">
          <div class="col-xs-12">
            <div class="m-display-section-divider">
              <span class="m-display-section-icon icon-apps"></span>
            </div>
          </div>
          <div class="col-xs-12">
            <p class="m-display-block js-display-block" data-display="statistics.stats.str.score,statistics.stats.dex.score,statistics.stats.con.score,statistics.stats.int.score,statistics.stats.wis.score,statistics.stats.cha.score">
              <span class="js-display-block-target"></span>
            </p>
            <p class="m-display-block js-display-block" data-display="statistics.stats.str.temp,statistics.stats.dex.temp,statistics.stats.con.temp,statistics.stats.int.temp,statistics.stats.wis.temp,statistics.stats.cha.temp">
              <span class="js-display-block-target"></span>
            </p>
            <p class="m-display-block js-display-block" data-display="statistics.feats">
              <span class="js-display-block-target"></span>
            </p>
            <p class="m-display-block js-display-block" data-display="statistics.traits">
              <span class="js-display-block-target"></span>
            </p>
            <p class="m-display-block js-display-block" data-display="statistics.special_abilities">
              <span class="js-display-block-target"></span>
            </p>
            <p class="m-display-block js-display-block" data-display="statistics.languages">
              <span class="js-display-block-target"></span>
            </p>
            <a href="#" data-mini-view="statistics" class="button button-small m-display-block-quick-edit js-display-block-quick-edit"><span class="icon-edit"></span> Quick Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
