<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Statistics information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-name m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-body">
      <div class="m-display-box-item-stat">
        <p class="m-display-box-text u-text-center"><span class="hidden-sm hidden-md hidden-md hidden-lg hidden-xl">Str</span><span class="hidden-xs">Strength</span> <span class="js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.str.score"></span></p>
        <h2 class="m-display-box-accent u-text-center js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.str.modifier"></h2>
      </div>
      <div class="m-display-box-item-stat">
        <p class="m-display-box-text u-text-center"><span class="hidden-sm hidden-md hidden-md hidden-lg hidden-xl">Dex</span><span class="hidden-xs">Dexterity</span> <span class="js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.dex.score"></span></p>
        <h2 class="m-display-box-accent u-text-center js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.dex.modifier"></h2>
      </div>
      <div class="m-display-box-item-stat">
        <p class="m-display-box-text u-text-center"><span class="hidden-sm hidden-md hidden-md hidden-lg hidden-xl">Con</span><span class="hidden-xs">Constitution</span> <span class="js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.con.score"></span></p>
        <h2 class="m-display-box-accent u-text-center js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.con.modifier"></h2>
      </div>
      <div class="m-display-box-item-stat">
        <p class="m-display-box-text u-text-center"><span class="hidden-sm hidden-md hidden-md hidden-lg hidden-xl">Int</span><span class="hidden-xs">Intelligence</span> <span class="js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.int.score"></span></p>
        <h2 class="m-display-box-accent u-text-center js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.int.modifier"></h2>
      </div>
      <div class="m-display-box-item-stat">
        <p class="m-display-box-text u-text-center"><span class="hidden-sm hidden-md hidden-md hidden-lg hidden-xl">Wis</span><span class="hidden-xs">Wisdom</span> <span class="js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.wis.score"></span></p>
        <h2 class="m-display-box-accent u-text-center js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.wis.modifier"></h2>
      </div>
      <div class="m-display-box-item-stat">
        <p class="m-display-box-text u-text-center"><span class="hidden-sm hidden-md hidden-md hidden-lg hidden-xl">Cha</span><span class="hidden-xs">Charisma</span> <span class="js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.cha.score"></span></p>
        <h2 class="m-display-box-accent u-text-center js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.cha.modifier"></h2>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled">
    <li class="m-display-list-item">
      <span class="m-display-list-item-prefix">Strength <span class="js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.str.score"></span></span>
      <span class="m-display-list-item-value">
              <h2 class="js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.str.modifier"></h2>
            </span>
    </li>
    <li class="m-display-list-item">
      <span class="m-display-list-item-prefix">Dexterity <span class="js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.dex.score"></span></span>
      <span class="m-display-list-item-value">
              <h2 class="js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.dex.modifier"></h2>
            </span>
    </li>
    <li class="m-display-list-item">
      <span class="m-display-list-item-prefix">Constitution <span class="js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.con.score"></span></span>
      <span class="m-display-list-item-value">
              <h2 class="js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.con.modifier"></h2>
            </span>
    </li>
    <li class="m-display-list-item">
      <span class="m-display-list-item-prefix">Intelligence <span class="js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.int.score"></span></span>
      <span class="m-display-list-item-value">
              <h2 class="js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.int.modifier"></h2>
            </span>
    </li>
    <li class="m-display-list-item">
      <span class="m-display-list-item-prefix">Wisdom <span class="js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.wis.score"></span></span>
      <span class="m-display-list-item-value">
              <h2 class="js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.wis.modifier"></h2>
            </span>
    </li>
    <li class="m-display-list-item">
      <span class="m-display-list-item-prefix">Charisma <span class="js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.cha.score"></span></span>
      <span class="m-display-list-item-value">
              <h2 class="js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.cha.modifier"></h2>
            </span>
    </li>
  </ul>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="m-display-title">Feats</p>
  <p class="js-display-block-target" data-display-type="text-block" data-display-path="statistics.feats"></p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="m-display-title">Traits</p>
  <p class="js-display-block-target" data-display-type="text-block" data-display-path="statistics.traits"></p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="m-display-title">Special Abilities</p>
  <p class="js-display-block-target" data-display-type="text-block" data-display-path="statistics.special_abilities"></p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <p class="m-display-title">Languages</p>
  <p class="js-display-block-target" data-display-type="text-block" data-display-path="statistics.languages"></p>
</div>
