<div class="m-placeholder js-placeholder-display">
  <p class="m-placeholder-description u-muted-text"><strong>No Statistics information</strong> added yet, use <strong class="m-placeholder-key"><span class="icon-edit"></span> Edit</strong> to add some.</p>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-body">
      <div class="m-display-box-item-stat">
        <p class="u-text-center u-no-margin"><strong>STR <span class="m-display-box-accent js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.str.current"></span></strong></p>
        <h1 class="m-display-box-accent u-text-center u-no-margin js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.str.modifier"></h1>
      </div>
      <div class="m-display-box-item-stat">
        <p class="u-text-center u-no-margin"><strong>DEX <span class="m-display-box-accent js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.dex.current"></span></strong></p>
        <h1 class="m-display-box-accent u-text-center u-no-margin js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.dex.modifier"></h1>
      </div>
      <div class="m-display-box-item-stat">
        <p class="u-text-center u-no-margin"><strong>CON <span class="m-display-box-accent js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.con.current"></span></strong></p>
        <h1 class="m-display-box-accent u-text-center u-no-margin js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.con.modifier"></h1>
      </div>
      <div class="m-display-box-item-stat">
        <p class="u-text-center u-no-margin"><strong>INT <span class="m-display-box-accent js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.int.current"></span></strong></p>
        <h1 class="m-display-box-accent u-text-center u-no-margin js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.int.modifier"></h1>
      </div>
      <div class="m-display-box-item-stat">
        <p class="u-text-center u-no-margin"><strong>WIS <span class="m-display-box-accent js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.wis.current"></span></strong></p>
        <h1 class="m-display-box-accent u-text-center u-no-margin js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.wis.modifier"></h1>
      </div>
      <div class="m-display-box-item-stat">
        <p class="u-text-center u-no-margin"><strong>CHA <span class="m-display-box-accent js-display-block-target" data-display-type="stat" data-display-path="statistics.stats.cha.current"></span></strong></p>
        <h1 class="m-display-box-accent u-text-center u-no-margin js-display-block-target" data-display-type="modifier" data-display-value-type="bonus" data-display-path="statistics.stats.cha.modifier"></h1>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Feats</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <ul class="m-display-list m-display-list-compact m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="pill" data-display-path="statistics.feats.all"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Traits</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <ul class="m-display-list m-display-list-compact m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="pill" data-display-path="statistics.traits.all"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Abilities</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <ul class="m-display-list m-display-list-compact m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="pill" data-display-path="statistics.abilities.all"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Languages</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <ul class="m-display-list m-display-list-compact m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="pill" data-display-path="statistics.languages.all"></ul>
      </div>
    </div>
  </div>
</div>

<div class="m-display-block js-display-block is-hidden" data-display-content="false">
  <div class="m-display-box">
    <div class="m-display-box-head-small">
      <p class="m-display-box-title">Powers</p>
    </div>
    <div class="m-display-box-body m-display-box-body-indent">
      <div class="m-display-box-item-large">
        <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled js-display-block-target" data-display-type="clone" data-display-path="statistics.power.all"></ul>
      </div>
    </div>
  </div>
</div>