<div class="m-tab-panel js-tab-panel js-tab-panel-character-details">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Name</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-large">
          <div class="m-input-block m-input-block-large js-input-block js-basics-name" data-input-block-options="path:basics.name">
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-name" type="text" tabindex="1">
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Details</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-total">
          <p class="m-edit-box-label">Level</p>
          <p class="m-edit-box-text js-text-block js-tip" data-text-block-options="path:basics.level" data-tip-options="message:Total Level from all Classes.,state:hover"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-select-block js-select-block" data-select-block-options="path:basics.alignment">
            <label class="m-select-block-label js-select-block-label" for="basics-alignment">Alignment</label>
            <select class="m-select-block-dropdown u-full-width js-select-block-dropdown" id="basics-alignment" tabindex="1">
              <option></option>
              <option value="Lawful Good">Lawful Good</option>
              <option value="Lawful Neutral">Lawful Neutral</option>
              <option value="Lawful Evil">Lawful Evil</option>
              <option value="Neutral Good">Neutral Good</option>
              <option value="Neutral">Neutral</option>
              <option value="Neutral Evil">Neutral Evil</option>
              <option value="Chaotic Good">Chaotic Good</option>
              <option value="Chaotic Neutral">Chaotic Neutral</option>
              <option value="Chaotic Evil">Chaotic Evil</option>
            </select>
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-select-block js-select-block js-size" data-select-block-options="path:basics.size.category">
            <label class="m-select-block-label js-select-block-label" for="basics-size">Size</label>
            <select class="m-select-block-dropdown u-full-width js-select-block-dropdown js-tip" id="basics-size" data-tip-options="message:Size Modifiers are automatically applied to Attack Stats, Armor Class, Combat Maneuver Bonus, Combat Maneuver Defense, Fly and Stealth skills.,state:focus"
              tabindex="1">
              <option></option>
              <option value="Fine">Fine</option>
              <option value="Diminutive">Diminutive</option>
              <option value="Tiny">Tiny</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="Huge">Huge</option>
              <option value="Gargantuan">Gargantuan</option>
              <option value="Colossal">Colossal</option>
            </select>
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.race">
            <label class="m-input-block-label js-input-block-label" for="basics-race">Race</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-race" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.deity">
            <label class="m-input-block-label js-input-block-label" for="basics-deity">Deity</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-deity" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.gender">
            <label class="m-input-block-label js-input-block-label" for="basics-gender">Gender</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-gender" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-small">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.age">
            <label class="m-input-block-label js-input-block-label" for="basics-age">Age</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-age" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-small">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.height">
            <label class="m-input-block-label js-input-block-label" for="basics-height">Height</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-height" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-small">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.weight">
            <label class="m-input-block-label js-input-block-label" for="basics-weight">Weight</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-weight" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-thin js-input-block-increment" data-input-block-increment-options="target:basics-hero-points,action:subtraction" tabindex="1"><span class="icon-remove"></span></a>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:basics.hero_points,type:integer,minimum:#0,noZero:true">
              <label class="m-input-block-label js-input-block-label" for="basics-hero-points">Hero Points</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field" id="basics-hero-points" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-thin js-input-block-increment" data-input-block-increment-options="target:basics-hero-points,action:addition" tabindex="1"><span class="icon-add"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-max">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:basics.character_description">
            <label class="m-textarea-block-label js-textarea-block-label" for="basics-character-description">Description</label>
            <div id="basics-character-description" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Experience</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-text js-text-block" data-text-block-options="path:basics.xp.total,type:number"></p>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-aggregate-clear" data-input-block-aggregate-options="target:basics-xp,action:clear,snackMessage:Experience cleared.,promptHeading:Clear Experience?,promptMessage:Are you sure you want to clear the current Experience total?"
              tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-large">
            <div class="m-input-block js-input-block js-input-block-aggregate" data-input-block-aggregate-options="path:basics.xp.total,action:aggregate,eventType:xp,snackMessage:Experience.">
              <label class="m-input-block-label js-input-block-label" for="basics-xp">Experience to add/remove</label>
              <input id="basics-xp" class="m-input-block-field u-full-width u-text-center js-input-block-field js-tip" data-tip-options="message:Use negative numbers to remove Experience. Eg: Apply '-100' to remove 100 EXP.,state:focus" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input button js-input-block-aggregate-control" data-input-block-aggregate-options="target:basics-xp,action:aggregate" tabindex="1">Apply</a>
          </div>
        </div>
        <div class="m-edit-box-item-small m-edit-box-group">
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input button js-evets-log" data-events-options="type:xp,emptyMessage:No Experience logged yet. Why not add some?,modalHeading:Experience log." tabindex="1">Experience Log</a>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-evets-clear" data-events-options="type:xp,promptHeading:Clear Experience Log?,promptMessage:Are you sure you want to clear the Experience Log? This can not be undone."
              tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-small">
            <div class="m-select-block js-select-block js-advancement-speed" data-select-block-options="path:basics.xp.advancement_speed">
              <label class="m-select-block-label js-select-block-label" for="basics-xp-advancement-speed">Advancement Speed</label>
              <select class="m-select-block-dropdown u-full-width js-select-block-dropdown" id="basics-xp-advancement-speed" tabindex="1">
                <option></option>
                <option value="Slow">Slow</option>
                <option value="Medium">Medium</option>
                <option value="Fast">Fast</option>
                <option value="Pathfinder Society">Pathfinder Society</option>
              </select>
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <p class="m-edit-box-label">Next Level</p>
            <p class="m-edit-box-text js-text-block js-tip" data-text-block-options="path:basics.xp.next_level,type:number" data-tip-options="message:The total Experience for the next level.,state:hover"></p>
          </div>
          <div class="m-edit-box-item-small">
            <p class="m-edit-box-label">Experience Needed</p>
            <p class="m-edit-box-text js-text-block js-tip" data-text-block-options="path:basics.xp.needed,type:number" data-tip-options="message:The Experience needed to level up.,state:hover"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-classes is-hidden">

  <div class="m-clone-block js-clone-block-class">
    <div class="m-edit-controls button-group button-group-right js-clone-controls">
      <button type="button" class="button button-medium button-secondary button-icon js-clone-add-class" tabindex="1"><span class="icon-add"></span><span class="button-text">Class</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-clone-remove" tabindex="1"><span class="icon-close"></span><span class="button-text">Remove</span></button>
    </div>
    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Classes</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content">
          <div class="m-edit-box-item-max">
            <div class="m-placeholder js-placeholder-clone-class">
              <p class="m-placeholder-description u-muted-text">Add Classes using <strong class="m-placeholder-key"><span class="icon-add"></span> Class</strong>.</p>
            </div>
          </div>
        </div>
        <div class="m-clone-block-target js-clone-block-target js-clone-block-target-class"></div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-initiative-speed is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:basics.initiative,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Initiative</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:basics.initiative.current,type:bonus"></p>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:basics.initiative.feat,type:integer">
              <label class="m-input-block-label js-input-block-label" for="basics-Initiative-feat">Feat</label>
              <input id="basics-Initiative-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:basics.initiative.trait,type:integer">
              <label class="m-input-block-label js-input-block-label" for="basics-initiative-trait">Trait</label>
              <input id="basics-initiative-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:basics.initiative.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="basics-Initiative-misc">Misc</label>
              <input id="basics-Initiative-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:basics.initiative.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="basics-Initiative-temp">Temp</label>
              <input id="basics-Initiative-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:basics.initiative.bonuses,modalHeading:Initiative bonuses"
              tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="m-edit-box m-edit-box-indent m-edit-box-labels m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Speed</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.speed.land">
            <label class="m-input-block-label js-input-block-label" for="basics-speed-land">Land</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-speed-land" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.speed.swim">
            <label class="m-input-block-label js-input-block-label" for="basics-speed-swim">Swim</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-speed-swim" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.speed.climb">
            <label class="m-input-block-label js-input-block-label" for="basics-speed-climb">Climb</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-speed-climb" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.speed.burrow">
            <label class="m-input-block-label js-input-block-label" for="basics-speed-burrow">Burrow</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-speed-burrow" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-medium m-edit-box-group">
          <div class="m-edit-box-item-medium">
            <div class="m-input-block js-input-block" data-input-block-options="path:basics.speed.fly">
              <label class="m-input-block-label js-input-block-label" for="basics-speed-fly">Fly</label>
              <input class="m-input-block-field u-full-width js-input-block-field" id="basics-speed-fly" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-medium">
            <div class="m-input-block js-input-block" data-input-block-options="path:basics.speed.maneuverability">
              <label class="m-input-block-label js-input-block-label" for="basics-speed-maneuverability">Maneuverability</label>
              <input class="m-input-block-field u-full-width js-input-block-field" id="basics-speed-maneuverability" type="text" tabindex="1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-character-image is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Image</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-small">
          <div class="m-character-image-preview js-character-image-preview">
            <span class="m-character-image-placeholder icon-person"></span>
            <span class="m-character-image-background js-character-image-background"></span>
            <span class="m-character-image-preview-guide"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-no-head-small">
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-small m-edit-box-group">
          <div class="m-edit-box-item-small">
            <div class="m-input-file-block">
              <label class="m-input-file-block-label u-inline-with-input" for="character-image" tabindex="1">
                <span class="icon-file-upload"></span><span class="m-input-file-block-label-text">Select an image</span>
              </label>
              <input id="character-image" type="file" class="m-input-file-block-field js-character-image-input">
            </div>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-character-image-clear" tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-max">
          <p class="u-small-text">Drag image to reposition. Max width 2000px, max height 2000px. Max image size 500KB, (due to browser local storage limits).</p>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-labels m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Size &amp; Position</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-large">
          <div class="m-character-image-control-scale">
            <div class="m-input-range-block js-input-range-block" data-input-range-block-options="path:basics.character_image.scale,type:integer">
              <label class="m-input-range-block-label js-input-range-block-label" for="basics-character-image-scale">Scale (%)</label>
              <input class="m-input-range-block-field u-full-width js-input-range-block-field js-character-image-scale-input" id="basics-character-image-scale" type="range" min="50" max="400" tabindex="1">
            </div>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-character-image-scale-cover js-tip" data-tip-options="message:Scale and clip the image to fill the preview.,state:hover" tabindex="1"><span class="button-text">Cover</span></a>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-character-image-scale-contain js-tip" data-tip-options="message:Scale the image to show all of it.,state:hover" tabindex="1"><span class="button-text">Contain</span></a>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-character-image-scale-center js-tip" data-tip-options="message:Align the image to the center of the preview.,state:hover" tabindex="1"><span class="button-text">Center</span></a>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-character-image-scale-top js-tip" data-tip-options="message:Align the image to the top of the preview.,state:hover" tabindex="1"><span class="button-text">Top</span></a>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-character-image-scale-bottom js-tip" data-tip-options="message:Align the image to the bottom of the preview.,state:hover" tabindex="1"><span class="button-text">Bottom</span></a>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-character-image-scale-left js-tip" data-tip-options="message:Align the image to the left of the preview.,state:hover" tabindex="1"><span class="button-text">Left</span></a>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-character-image-scale-right js-tip" data-tip-options="message:Align the image to the right of the preview.,state:hover" tabindex="1"><span class="button-text">Right</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Background</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-small">
            <div class="m-radio-block js-radio-block" data-radio-block-options="path:basics.character_image.background">
              <p class="m-edit-box-label">Average</p>
              <input class="m-radio-block-radio js-basics-character-image-background-average js-radio-block-input" type="radio" name="basics-character-image-background" value="average" tabindex="1" checked>
              <span class="m-radio-block-radio-icon"></span>
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-radio-block js-radio-block" data-radio-block-options="path:basics.character_image.background">
              <p class="m-edit-box-label">Black</p>
              <input class="m-radio-block-radio js-basics-character-image-background-black js-radio-block-input" type="radio" name="basics-character-image-background" value="black" tabindex="1">
              <span class="m-radio-block-radio-icon"></span>
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-radio-block js-radio-block" data-radio-block-options="path:basics.character_image.background">
              <p class="m-edit-box-label">White</p>
              <input class="m-radio-block-radio js-basics-character-image-background-white js-radio-block-input" type="radio" name="basics-character-image-background" value="white" tabindex="1">
              <span class="m-radio-block-radio-icon"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
