<div class="m-tab-panel js-tab-panel js-tab-panel-character-details">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Name</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-large">
          <div class="m-input-block m-input-block-large js-input-block js-basics-name">
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-name" data-path="basics.name" type="text" tabindex="1">
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Details</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-total">
          <p class="m-edit-box-label">Level</p>
          <p class="m-edit-box-text js-text-block js-tip" data-tip-show-on="hover" data-tip-message="Total Level from all Classes." data-path="basics.level"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label js-input-block-label" for="basics-race">Race</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-race" data-path="basics.race" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-select-block js-select-block">
            <label class="m-select-block-label js-select-block-label" for="basics-alignment">Alignment</label>
            <select class="m-select-block-dropdown u-full-width js-select-block-dropdown" id="basics-alignment" data-path="basics.alignment" tabindex="1">
              <option></option>
              <option value="Lawful Good">Lawful Good</option>
              <option value="Lawful Neutral">Lawful Neutral</option>
              <option value="Lawful Evil">Lawful Evil</option>
              <option value="Neutral Good">Neutral Good</option>
              <option value="Neutral">Neutral</option>
              <option value="Neutral Evil">Neutral Evil</option>
              <option value="Chaotic Good">Chaotic Good</option>
              <option value="Chaotic Neutral">Chaotic Neutral</option>
              <option value="Chaotic Evil">Chaotic Evil</option>
            </select>
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label js-input-block-label" for="basics-deity">Deity</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-deity" data-path="basics.deity" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-select-block js-select-block js-size">
            <label class="m-select-block-label js-select-block-label" for="basics-size">Size</label>
            <select class="m-select-block-dropdown u-full-width js-select-block-dropdown js-tip" id="basics-size" data-tip-show-on="hover" data-tip-message="Size Modifiers are automatically applied to Attack Stats, Armor Class, Combat Maneuver Bonus, Combat Maneuver Defense, Fly and Stealth skills."
              data-path="basics.size.category" tabindex="1">
              <option></option>
              <option value="Fine">Fine</option>
              <option value="Diminutive">Diminutive</option>
              <option value="Tiny">Tiny</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="Huge">Huge</option>
              <option value="Gargantuan">Gargantuan</option>
              <option value="Colossal">Colossal</option>
            </select>
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label js-input-block-label" for="basics-gender">Gender</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-gender" data-path="basics.gender" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-small">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label js-input-block-label" for="basics-age">Age</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-age" data-path="basics.age" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-small">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label js-input-block-label" for="basics-height">Height</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-height" data-path="basics.height" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-small">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label js-input-block-label" for="basics-weight">Weight</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-weight" data-path="basics.weight" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-thin js-input-block-increment" data-increment-target="basics-hero-points" data-increment="subtraction" tabindex="1"><span class="icon-remove"></span></a>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label" for="basics-hero-points">Hero Points</label>
              <input class="m-input-block-field u-full-width js-input-block-field" id="basics-hero-points" data-minimum="0" data-path="basics.hero_points" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-thin js-input-block-increment" data-increment-target="basics-hero-points" data-increment="addition" tabindex="1"><span class="icon-add"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-max">
          <div class="m-textarea-block js-textarea-block">
            <label class="m-textarea-block-label js-textarea-block-label" for="basics-character-description">Description</label>
            <div id="basics-character-description" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="basics.character_description" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">XP</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-text js-text-block" data-path="basics.xp.total" data-text-type="number"></p>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-aggregate-clear" data-aggregate-path="basics.xp.total" data-aggregate-snack-message="XP cleared." data-aggregate-prompt-heading="Clear XP?"
              data-aggregate-prompt-message="Are you sure you want to clear the current XP total?" data-event-type="xp" tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-large">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label" for="basics-xp">XP to add/remove</label>
              <input id="basics-xp" class="m-input-block-field u-full-width js-input-block-field js-input-block-aggregate-input" data-aggregate-path="basics.xp.total" data-aggregate-snack-message="XP" data-event-type="xp" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input button js-input-block-aggregate-button" data-source="basics-xp" data-aggregate-path="basics.xp.total" data-aggregate-snack-message="XP" data-event-type="xp" tabindex="1">Apply</a>
          </div>
        </div>
        <div class="m-edit-box-item-button-small">
          <a href="javascript:void(0)" class="u-inline-with-input button js-evets-xp" tabindex="1">XP Log</a>
        </div>
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-small">
            <div class="m-select-block js-select-block js-size">
              <label class="m-select-block-label js-select-block-label" for="basics-xp-advancement-speed">Advancement Speed</label>
              <select class="m-select-block-dropdown u-full-width js-select-block-dropdown js-advancement-speed" id="basics-xp-advancement-speed" data-path="basics.xp.advancement_speed" tabindex="1">
                <option></option>
                <option value="Slow">Slow</option>
                <option value="Medium">Medium</option>
                <option value="Fast">Fast</option>
              </select>
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <p class="m-edit-box-label">Next Level</p>
            <p class="m-edit-box-text js-text-block js-tip" data-tip-show-on="hover" data-tip-message="The total XP for the next level." data-path="basics.xp.next_level" data-text-type="number"></p>
          </div>
          <div class="m-edit-box-item-small">
            <p class="m-edit-box-label">XP Needed</p>
            <p class="m-edit-box-text js-text-block js-tip" data-tip-show-on="hover" data-tip-message="The XP needed to level up." data-path="basics.xp.needed" data-text-type="number"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-classes is-hidden">

  <div class="m-clone-block js-clone-block-class">
    <div class="m-edit-controls js-edit-controls" data-pin-watch="js-clone-block-class">
      <div class="button-group button-group-right js-clone-controls">
        <button type="button" class="button button-medium button-secondary button-icon js-clone-add-class" tabindex="1"><span class="icon-add"></span><span class="button-text">Class</span></button>
        <button type="button" class="button button-medium button-secondary button-icon js-clone-remove" tabindex="1"><span class="icon-close"></span><span class="button-text">Remove</span></button>
      </div>
    </div>
    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Classes</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content">
          <div class="m-edit-box-item-max">
            <div class="m-placeholder js-placeholder-clone-class">
              <p class="m-placeholder-description u-muted-text">You dont have any Classes, add one using <strong class="m-placeholder-key"><span class="icon-add"></span> Class</strong>.</p>
            </div>
          </div>
        </div>
        <div class="m-clone-block-target js-clone-block-target js-clone-block-target-class"></div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-initiative-speed is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-path="basics.initiative" data-total-path-addition="misc,temp,feat" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level"
    data-total-type="bonus">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Initiative</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-total-block-total" data-path="basics.initiative.current"></p>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label" for="basics-Initiative-misc">Misc</label>
              <input id="basics-Initiative-misc" class="m-input-block-field u-full-width js-input-block-field" data-path="basics.initiative.misc" type="text" data-type="integer" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label" for="basics-Initiative-temp">Temp</label>
              <input id="basics-Initiative-temp" class="m-input-block-field u-full-width js-input-block-field" data-path="basics.initiative.temp" type="text" data-type="integer" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label" for="basics-Initiative-feat">Feat</label>
              <input id="basics-Initiative-feat" class="m-input-block-field u-full-width js-input-block-field" data-path="basics.initiative.feat" type="text" data-type="integer" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-modal-heading="Initiative bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="m-edit-box m-edit-box-indent m-edit-box-labels m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Speed</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-small">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label js-input-block-label" for="basics-speed-land">Land</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-speed-land" data-path="basics.speed.land" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label" for="basics-speed-fly">Fly</label>
              <input class="m-input-block-field u-full-width js-input-block-field" id="basics-speed-fly" data-path="basics.speed.fly" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label" for="basics-speed-maneuverability">Maneuverability</label>
              <input class="m-input-block-field u-full-width js-input-block-field" id="basics-speed-maneuverability" data-path="basics.speed.maneuverability" type="text" tabindex="1">
            </div>
          </div>
        </div>
        <div class="m-edit-box-item-small">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label js-input-block-label" for="basics-speed-swim">Swim</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-speed-swim" data-path="basics.speed.swim" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-small">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label js-input-block-label" for="basics-speed-climb">Climb</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-speed-climb" data-path="basics.speed.climb" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-small">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label js-input-block-label" for="basics-speed-burrow">Burrow</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-speed-burrow" data-path="basics.speed.burrow" type="text" tabindex="1">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
