<section id="basics" class="l-section l-section-dark l-nav-padding js-basics js-section-edit">
  <div class="m-section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-large m-input-block-label-dark js-input-block-label" for="basics-name">Character Name</label>
            <input class="m-input-block-field m-input-block-field-large m-input-block-field-dark u-full-width js-input-block-field js-basics-name" id="basics-name" data-character-nav="name" data-path="basics.name" type="text" tabindex="1">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-race">Race</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field" id="basics-race" data-path="basics.race" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-class">Class</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field js-basics-class" id="basics-class" data-character-nav="class" data-path="basics.class" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-level">Level</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field js-basics-level" id="basics-level" data-character-nav="level" data-path="basics.level" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-size">Size</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field" id="basics-size" data-path="basics.size" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-alignment">Alignment</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field" id="basics-alignment" data-path="basics.alignment" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-xp">XP</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field" id="basics-xp" data-path="basics.xp" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-height">Height</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field" id="basics-height" data-path="basics.height" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-weight">Weight</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field" id="basics-weight" data-path="basics.weight" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-age">Age</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field" id="basics-age" data-path="basics.age" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-gender">Gender</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field" id="basics-gender" data-path="basics.gender" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-speed">Speed</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field" id="basics-speed" data-path="basics.speed" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-initiative">Initiative</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field" id="basics-initiative" data-path="basics.initiative" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-hero-points">Hero Points</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field" id="basics-hero-points" data-path="basics.hero_points" type="text" tabindex="1">
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
          <div class="m-input-block js-input-block">
            <label class="m-input-block-label m-input-block-label-dark js-input-block-label" for="basics-luck-points">Luck Points</label>
            <input class="m-input-block-field m-input-block-field-dark u-full-width js-input-block-field" id="basics-luck-points" data-path="basics.luck_points" type="text" tabindex="1">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
