<div class="m-tab-panel js-tab-panel js-tab-panel-hit-points">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:defense.hp,addition:+total+temp,subtraction:+damage">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Hit Points</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Current</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:defense.hp.current"></p>
          </div>
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:defense.hp.total" data-tip-options="message:Total HP from all Classes + (CON bonus x Total Levels).,state:hover"></p>
          </div>
        </div>
        <div class="m-edit-box-item-shrink">
          <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button js-input-block-quick-value" data-input-block-quick-value-options="target:defense-hp-damage,action:subtraction,modalHeading:Healing to apply,modalMessage:This value will be added or subtracted to the Damage." tabindex="1"><span class="button-text">Healing</span></a>
        </div>
      </div>
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-12 m-edit-box-group">
          <div class="m-edit-box-item-button-md">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-thin js-input-block-increment" data-input-block-increment-options="target:defense-hp-damage,action:subtraction" tabindex="1"><span class="icon-remove"></span></a>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.hp.damage,type:integer,minimum:#0,noZero:true">
              <label class="m-input-block-label js-input-block-label" for="defense-hp-damage">Damage</label>
              <input id="defense-hp-damage" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-md">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-thin js-input-block-increment" data-input-block-increment-options="target:defense-hp-damage,action:addition" tabindex="1"><span class="icon-add"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button js-input-block-quick-value" data-input-block-quick-value-options="target:defense-hp-damage,action:addition,modalHeading:Damage to apply,modalMessage:This value will be added or subtracted to the Damage." tabindex="1"><span class="button-text">Damage</span></a>
          </div>
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-increment" data-input-block-increment-options="target:defense-hp-damage,action:clear,promptHeading:Clear Damage?,promptMessage:Are you sure you want to clear all Damage?" tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
      </div>
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-12 m-edit-box-group">
          <div class="m-edit-box-item-button-md">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-thin js-input-block-increment" data-input-block-increment-options="target:defense-hp-temp,action:subtraction" tabindex="1"><span class="icon-remove"></span></a>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.hp.temp,type:integer,minimum:#0,noZero:true">
              <label class="m-input-block-label js-input-block-label" for="defense-hp-temp">Temp HP</label>
              <input id="defense-hp-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-md">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-thin js-input-block-increment" data-input-block-increment-options="target:defense-hp-temp,action:addition" tabindex="1"><span class="icon-add"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button js-input-block-quick-value" data-input-block-quick-value-options="target:defense-hp-temp,action:addition,modalHeading:Temporary HP to apply,modalMessage:This value will be added or subtracted to the Temporary HP." tabindex="1"><span class="button-text">Temp HP</span></a>
          </div>
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-increment" data-input-block-increment-options="target:defense-hp-temp,action:clear,promptHeading:Clear Temp HP?,promptMessage:Are you sure you want to clear all Temp HP?" tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
      </div>
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-12 m-edit-box-group">
          <div class="m-edit-box-item-button-md">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-thin js-input-block-increment" data-input-block-increment-options="target:defense-hp-non-lethal-damage,action:subtraction" tabindex="1"><span class="icon-remove"></span></a>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.hp.non_lethal_damage,type:integer,minimum:#0,noZero:true">
              <label class="m-input-block-label js-input-block-label" for="defense-hp-non-lethal-damage">Non Lethal</label>
              <input id="defense-hp-non-lethal-damage" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-md">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-thin js-input-block-increment" data-input-block-increment-options="target:defense-hp-non-lethal-damage,action:addition" tabindex="1"><span class="icon-add"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button js-input-block-quick-value" data-input-block-quick-value-options="target:defense-hp-non-lethal-damage,action:addition,modalHeading:Non Lethal Damage to apply,modalMessage:This value will be added or subtracted to the Non Lethal Damage." tabindex="1"><span class="button-text">Non Lethal</span></a>
          </div>
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-increment" data-input-block-increment-options="target:defense-hp-non-lethal-damage,action:clear,promptHeading:Clear Non Lethal Damage?,promptMessage:Are you sure you want to clear all Non Lethal Damage?" tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-armor-class is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:defense.ac.armor_class,addition:+misc+temp,bonuses:+str+dex+con+int+wis+cha+plus_ten+armor+shield+deflect+dodge+natural+size_base+max_dex">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Armor Class</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-20 m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:defense.ac.armor_class.current"></p>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.ac.armor_class.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-ac-armor-class-misc">Misc</label>
              <input id="defense-ac-armor-class-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.ac.armor_class.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-ac-armor-class-temp">Temp</label>
              <input id="defense-ac-armor-class-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-sm">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:defense.ac.armor_class.bonuses,modalHeading:AC bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:defense.ac.flat_footed,addition:+misc+temp,bonuses:+str+dex+con+int+wis+cha+plus_ten+armor+shield+deflect+dodge+natural+size_base">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Flat Footed AC</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-20 m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:defense.ac.flat_footed.current"></p>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.ac.flat_footed.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-ac-flat-footed-misc">Misc</label>
              <input id="defense-ac-flat-footed-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.ac.flat_footed.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-ac-flat-footed-temp">Temp</label>
              <input id="defense-ac-flat-footed-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-sm">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:defense.ac.flat_footed.bonuses,modalHeading:Flat Footed AC bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:defense.ac.touch,addition:+misc+temp,bonuses:+str+dex+con+int+wis+cha+plus_ten+armor+shield+deflect+dodge+natural+size_base+max_dex">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Touch AC</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-20 m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:defense.ac.touch.current"></p>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.ac.touch.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-ac-touch-misc">Misc</label>
              <input id="defense-ac-touch-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.ac.touch.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-ac-touch-temp">Temp</label>
              <input id="defense-ac-touch-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-sm">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:defense.ac.touch.bonuses,modalHeading:Touch AC bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Defense Bonuses</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-4">
          <div class="m-input-block js-input-block" data-input-block-options="path:defense.ac.stats.armor,type:integer">
            <label class="m-input-block-label js-input-block-label" for="defense-ac-stats-armor">Armor Bonus</label>
            <input id="defense-ac-stats-armor" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-4">
          <div class="m-input-block js-input-block" data-input-block-options="path:defense.ac.stats.shield,type:integer">
            <label class="m-input-block-label js-input-block-label" for="defense-ac-stats-shield">Shield Bonus</label>
            <input id="defense-ac-stats-shield" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-4">
          <div class="m-input-block js-input-block" data-input-block-options="path:defense.ac.stats.deflect,type:integer">
            <label class="m-input-block-label js-input-block-label" for="defense-ac-stats-deflect">Deflect Bonus</label>
            <input id="defense-ac-stats-deflect" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-4">
          <div class="m-input-block js-input-block" data-input-block-options="path:defense.ac.stats.dodge,type:integer">
            <label class="m-input-block-label js-input-block-label" for="defense-ac-stats-dodge">Dodge Bonus</label>
            <input id="defense-ac-stats-dodge" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-4">
          <div class="m-input-block js-input-block" data-input-block-options="path:defense.ac.stats.natural,type:integer">
            <label class="m-input-block-label js-input-block-label" for="defense-ac-stats-natural">Natural Armor Bonus</label>
            <input id="defense-ac-stats-natural" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:defense.ac.notes">
            <label class="m-textarea-block-label js-textarea-block-label" for="defense-ac-notes">AC Notes</label>
            <div id="defense-ac-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-combat-maneuver-defense is-hidden">

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:defense.cmd,addition:+misc+temp,bonuses:+str+dex+con+int+wis+cha+bab+size_special+level+half_level">
      <div class="m-edit-box-head">
        <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
          <div class="m-edit-box-item-shrink">
            <h2 class="m-edit-box-title">Combat Maneuver Defense</h2>
          </div>
        </div>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-20 m-edit-box-group">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label">Total</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:defense.cmd.current,type:bonus"></p>
            </div>
            <div class="m-edit-box-item">
              <div class="m-input-block js-input-block" data-input-block-options="path:defense.cmd.misc,type:integer">
                <label class="m-input-block-label js-input-block-label" for="defense-cmd-misc">Misc</label>
                <input id="defense-cmd-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item">
              <div class="m-input-block js-input-block" data-input-block-options="path:defense.cmd.temp,type:integer">
                <label class="m-input-block-label js-input-block-label" for="defense-cmd-temp">Temp</label>
                <input id="defense-cmd-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-sm">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:defense.cmd.bonuses,modalHeading:CMD bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
          <div class="m-edit-box-item-100">
            <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:defense.cmd.notes">
              <label class="m-textarea-block-label js-textarea-block-label" for="defense-cmd-notes">Combat Maneuver Defense Notes</label>
              <div id="defense-cmd-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-saves is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:defense.saves.fortitude,addition:+base+resistance+feat+trait+misc+temp,bonuses:+str+dex+con+int+wis+cha+level+half_level">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Fortitude</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-36 m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:defense.saves.fortitude.current,type:bonus"></p>
          </div>
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Base</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:defense.saves.fortitude.base,type:bonus" data-tip-options="message:Total Base Fortitude from all Classes.,state:hover"></p>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.fortitude.resistance,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-fortitude-resistance"><span class="hidden-lg hidden-xl">Resist</span><span class="hidden-sm hidden-md hidden-xs">Resistance</span></label>
              <input id="defense-saves-fortitude-resistance" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.fortitude.feat,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-fortitude-feat">Feat</label>
              <input id="defense-saves-fortitude-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.fortitude.trait,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-fortitude-trait">Trait</label>
              <input id="defense-saves-fortitude-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.fortitude.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-fortitude-misc">Misc</label>
              <input id="defense-saves-fortitude-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.fortitude.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-fortitude-temp">Temp</label>
              <input id="defense-saves-fortitude-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-sm">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:defense.saves.fortitude.bonuses,modalHeading:Fortitude bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:defense.saves.reflex,addition:+base+resistance+feat+trait+misc+temp,bonuses:+str+dex+con+int+wis+cha+level+half_level">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Reflex</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-36 m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:defense.saves.reflex.current,type:bonus"></p>
          </div>
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Base</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:defense.saves.reflex.base,type:bonus" data-tip-options="message:Total Base Reflex from all Classes.,state:hover"></p>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.reflex.resistance,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-reflex-resistance"><span class="hidden-lg hidden-xl">Resist</span><span class="hidden-sm hidden-md hidden-xs">Resistance</span></label>
              <input id="defense-saves-reflex-resistance" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.reflex.feat,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-reflex-feat">Feat</label>
              <input id="defense-saves-reflex-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.reflex.trait,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-reflex-trait">Trait</label>
              <input id="defense-saves-reflex-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.reflex.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-reflex-misc">Misc</label>
              <input id="defense-saves-reflex-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.reflex.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-reflex-temp">Temp</label>
              <input id="defense-saves-reflex-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-sm">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:defense.saves.reflex.bonuses,modalHeading:Reflex bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:defense.saves.will,addition:+base+resistance+feat+trait+misc+temp,bonuses:+str+dex+con+int+wis+cha+level+half_level">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Will</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-36 m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:defense.saves.will.current,type:bonus"></p>
          </div>
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Base</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:defense.saves.will.base,type:bonus" data-tip-options="message:Total Base Will from all Classes.,state:hover"></p>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.will.resistance,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-will-resistance"><span class="hidden-lg hidden-xl">Resist</span><span class="hidden-sm hidden-md hidden-xs">Resistance</span></label>
              <input id="defense-saves-will-resistance" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.will.feat,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-will-feat">Feat</label>
              <input id="defense-saves-will-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.will.trait,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-will-trait">Trait</label>
              <input id="defense-saves-will-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.will.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-will-misc">Misc</label>
              <input id="defense-saves-will-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.saves.will.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-saves-will-temp">Temp</label>
              <input id="defense-saves-will-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-sm">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:defense.saves.will.bonuses,modalHeading:Will bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:defense.saves.notes">
            <label class="m-textarea-block-label js-textarea-block-label" for="defense-save-notes">Save Notes</label>
            <div id="defense-save-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="m-tab-panel js-tab-panel js-tab-panel-damage-reduction is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:defense.dr,addition:+feat+trait+misc+temp,bonuses:+str+dex+con+int+wis+cha+level+half_level">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Damage Reduction</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-36 m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:defense.dr.current"></p>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.dr.feat,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-dr-feat">Feat</label>
              <input id="defense-dr-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.dr.trait,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-dr-trait">Trait</label>
              <input id="defense-dr-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.dr.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-dr-misc">Misc</label>
              <input id="defense-dr-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.dr.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-dr-temp">Temp</label>
              <input id="defense-dr-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-sm">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:defense.dr.bonuses,modalHeading:Damage Reduction bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-100">
          <div class="m-input-block js-input-block" data-input-block-options="path:defense.dr.overcome">
            <label class="m-input-block-label js-input-block-label" for="defense-dr-overcome">Overcoming Damage Reduction</label>
            <input id="defense-dr-overcome" class="m-input-block-field u-full-width js-input-block-field js-tip" data-tip-options="message:The special materials, type of magic weapons, types of weapons or alignments which overcome the damage reduction. (The part after the slash.),state:focus" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:defense.dr.notes">
            <label class="m-textarea-block-label js-textarea-block-label" for="defense-dr-notes">Damage Reduction Notes</label>
            <div id="defense-dr-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-resistance is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:defense.sr,addition:+feat+trait+misc+temp,bonuses:+str+dex+con+int+wis+cha+level+half_level">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Spell Resistance</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-36 m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:defense.sr.current"></p>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.sr.feat,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-sr-feat">Feat</label>
              <input id="defense-sr-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.sr.trait,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-sr-trait">Trait</label>
              <input id="defense-sr-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.sr.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-sr-misc">Misc</label>
              <input id="defense-sr-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.sr.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-sr-temp">Temp</label>
              <input id="defense-sr-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-sm">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:defense.sr.bonuses,modalHeading:Spell Resistance bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:defense.sr.notes">
            <label class="m-textarea-block-label js-textarea-block-label" for="defense-sr-notes">Spell Resistance Notes</label>
            <div id="defense-sr-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-resistances is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:defense.resistance,addition:+feat+trait+misc+temp,bonuses:+str+dex+con+int+wis+cha+level+half_level">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Resistance</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-36 m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:defense.resistance.current"></p>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.resistance.feat,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-resistance-feat">Feat</label>
              <input id="defense-resistance-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.resistance.trait,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-resistance-trait">Trait</label>
              <input id="defense-resistance-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.resistance.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-resistance-misc">Misc</label>
              <input id="defense-resistance-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:defense.resistance.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="defense-resistance-temp">Temp</label>
              <input id="defense-resistance-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-sm">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:defense.resistance.bonuses,modalHeading:Resistance bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:defense.resistance.notes">
            <label class="m-textarea-block-label js-textarea-block-label" for="defense-resistance-notes">Resistance Notes</label>
            <div id="defense-resistance-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
