<div class="m-tab-panel js-tab-panel js-tab-panel-possessions">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Gear</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-max">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:equipment.gear">
            <div id="equipment-gear" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Magic Gear</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-max">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:equipment.magic_gear">
            <div id="equipment-magic-gear" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-items is-hidden">

  <div>
  <!-- <div class="js-total-block" data-total-path="equipment.item" data-total-path-addition="weight" data-total-clone-set="true" data-total-type="weight"> -->
    <div class="m-clone-block js-clone-block-item">
      <div class="m-edit-controls js-edit-controls" data-pin-watch="js-clone-block-item">
        <div class="button-group button-group-right js-clone-controls">
          <button type="button" class="button button-medium button-secondary button-icon js-clone-add-item" tabindex="1"><span class="icon-add"></span><span class="button-text">Items</span></button>
          <button type="button" class="button button-medium button-secondary button-icon js-clone-remove" tabindex="1"><span class="icon-close"></span><span class="button-text">Remove</span></button>
        </div>
      </div>

      <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
        <div class="m-edit-box-head">
          <h2 class="m-edit-box-title">Items</h2>
        </div>
        <div class="m-edit-box-body">

          <div class="m-placeholder js-placeholder-clone-item">
            <div class="m-edit-box-content">
              <div class="m-edit-box-item-max">
                <p class="m-placeholder-description u-muted-text">You dont have any Items, add one using <strong class="m-placeholder-key"><span class="icon-add"></span> Items</strong>.</p>
              </div>
            </div>
          </div>

          <div class="js-clone-block-prefix-item">
            <div class="m-edit-box-content">
              <div class="m-edit-box-item m-edit-box-group">
                <div class="m-edit-box-item-max">
                  <p class="m-edit-box-label">Name</p>
                </div>
                <div class="m-edit-box-item-small">
                  <p class="m-edit-box-label">Quantity</p>
                </div>
                <div class="m-edit-box-item-small">
                  <p class="m-edit-box-label">Weight</p>
                </div>
              </div>
            </div>
          </div>

          <div class="m-clone-block-target js-clone-block-target js-clone-block-target-item"></div>

          <div class="js-clone-block-suffix-item">
            <div class="m-edit-box-content m-edit-box-content-end">
              <div class="m-edit-box-item-shrink">
                <p class="m-edit-box-label">Total</p>
                <p class="m-edit-box-total js-total-block-total"></p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-armor is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Armor</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-max">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.armor">
            <label class="m-input-block-label js-input-block-label" for="equipment–armor-armor">Armor</label>
            <input id="equipment–armor-armor" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-large">
            <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.check_penalty,type:integer">
              <label class="m-input-block-label js-input-block-label" for="equipment-armor-check-penalty">Armour Check Penalty</label>
              <input id="equipment-armor-check-penalty" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-large">
            <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.max_dex,type:integer">
              <label class="m-input-block-label js-input-block-label" for="equipment-armor-max-dex">Max Dex</label>
              <input id="equipment-armor-max-dex" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
            </div>
          </div>
        </div>
        <div class="m-edit-box-item-max">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.shield">
            <label class="m-input-block-label js-input-block-label" for="equipment-armor-shield">Shield</label>
            <input id="equipment-armor-shield" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-body-slots is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Body Slots</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.head">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-head">Head</label>
            <input id="equipment-body-slots-head" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.headband">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-headband">Headband</label>
            <input id="equipment-body-slots-headband" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.eyes">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-eyes">Eyes</label>
            <input id="equipment-body-slots-eyes" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.shoulders">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-shoulders">Shoulders</label>
            <input id="equipment-body-slots-shoulders" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.neck">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-neck">Neck</label>
            <input id="equipment-body-slots-neck" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.chest">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-chest">Chest</label>
            <input id="equipment-body-slots-chest" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.body">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-body">Body</label>
            <input id="equipment-body-slots-body" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.belts">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-belts">Belts</label>
            <input id="equipment-body-slots-belts" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.wrist">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-wrist">Wrist</label>
            <input id="equipment-body-slots-wrist" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.hands">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-hands">Hands</label>
            <input id="equipment-body-slots-hands" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.ring_left_hand">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-ring-left-hand">Ring (Left Hand)</label>
            <input id="equipment-body-slots-ring-left-hand" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.ring_right_hand">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-ring-right-hand">Ring (Right Hand)</label>
            <input id="equipment-body-slots-ring-right-hand" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.feet">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-feet">Feet</label>
            <input id="equipment-body-slots-feet" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-large u-no-margin">
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-encumbrance is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Alt Strength</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-small">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.encumbrance.encumbrance_str,type:integer">
            <label class="m-input-block-label js-input-block-label" for="equipment-encumbrance-encumbrance-str">Score</label>
            <input id="equipment-encumbrance-encumbrance-str" class="m-input-block-field u-full-width js-input-block-field js-tip" data-tip-options="message:Use an alternative STR score to calculation Encumbrance.,state:focus" type="text" tabindex="1">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Carry</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <p class="m-edit-box-label">Light Load</p>
          <p class="m-edit-box-text js-text-block js-tip" data-text-block-options="path:equipment.encumbrance.carry_move.light" data-tip-options="message:Light Load calculated from STR.,state:hover"></p>
        </div>
        <div class="m-edit-box-item-shrink">
          <p class="m-edit-box-label">Medium Load</p>
          <p class="m-edit-box-text js-text-block js-tip" data-text-block-options="path:equipment.encumbrance.carry_move.medium" data-tip-options="message:Medium Load calculated from STR.,state:hover"></p>
        </div>
        <div class="m-edit-box-item-shrink">
          <p class="m-edit-box-label">Heavy Load</p>
          <p class="m-edit-box-text js-text-block js-tip" data-text-block-options="path:equipment.encumbrance.carry_move.heavy" data-tip-options="message:Heavy Load calculated from STR.,state:hover"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Move</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <p class="m-edit-box-label">Lift Object</p>
          <p class="m-edit-box-text js-text-block js-tip" data-text-block-options="path:equipment.encumbrance.carry_move.lift" data-tip-options="message:Lift (Heavy Load Max x 2) calculated from STR.,state:hover"></p>
        </div>
        <div class="m-edit-box-item-shrink">
          <p class="m-edit-box-label">Drag Object</p>
          <p class="m-edit-box-text js-text-block js-tip" data-text-block-options="path:equipment.encumbrance.carry_move.drag" data-tip-options="message:Drag (Heavy Load Max x 5) calculated from STR.,state:hover"></p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-wealth is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Platinum</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-text js-text-block js-tip" data-text-block-options="path:equipment.wealth.platinum,type:number" data-tip-options="message:1 PP = 10 GP,state:hover"></p>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-aggregate-clear" data-input-block-aggregate-options="target:equipment-wealth-platinum,action:clear,snackMessage:Platinum cleared.,promptHeading:Clear Platinum?,promptMessage:Are you sure you want to clear the current Platinum total?" tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-large">
            <div class="m-input-block js-input-block js-input-block-aggregate" data-input-block-aggregate-options="path:equipment.wealth.platinum,action:aggregate,eventType:platinum,snackMessage:Platinum.">
              <label class="m-input-block-label js-input-block-label" for="equipment-wealth-platinum">PP to add/remove</label>
              <input id="equipment-wealth-platinum" class="m-input-block-field u-full-width js-input-block-field js-input-block-aggregate-input js-tip" data-tip-options="message:Use negative numbers to spend Platinum. Eg: Apply '-100' to remove 100 PP.,state:focus" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input button js-input-block-aggregate-control" data-input-block-aggregate-options="target:equipment-wealth-platinum,action:aggregate" tabindex="1"><span class="button-text">Apply</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Gold</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-text js-text-block" data-text-block-options="path:equipment.wealth.gold,type:number"></p>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-aggregate-clear" data-input-block-aggregate-options="target:equipment-wealth-gold,action:clear,snackMessage:Gold cleared.,promptHeading:Clear Gold?,promptMessage:Are you sure you want to clear the current Gold total?" tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-large">
            <div class="m-input-block js-input-block js-input-block-aggregate" data-input-block-aggregate-options="path:equipment.wealth.gold,action:aggregate,eventType:gold,snackMessage:Gold.">
              <label class="m-input-block-label js-input-block-label" for="equipment-wealth-gold">GP to add/remove</label>
              <input id="equipment-wealth-gold" class="m-input-block-field u-full-width js-input-block-field js-input-block-aggregate-input js-tip" data-tip-options="message:Use negative numbers to spend Gold. Eg: Apply '-100' to remove 100 GP.,state:focus" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input button js-input-block-aggregate-control" data-input-block-aggregate-options="target:equipment-wealth-gold,action:aggregate" tabindex="1"><span class="button-text">Apply</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Silver</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-text js-text-block js-tip" data-text-block-options="path:equipment.wealth.silver,type:number" data-tip-options="message:10 SP = 1 GP,state:hover"></p>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-aggregate-clear" data-input-block-aggregate-options="target:equipment-wealth-silver,action:clear,snackMessage:Silver cleared.,promptHeading:Clear Silver?,promptMessage:Are you sure you want to clear the current Silver total?" tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-large">
            <div class="m-input-block js-input-block js-input-block-aggregate" data-input-block-aggregate-options="path:equipment.wealth.silver,action:aggregate,eventType:silver,snackMessage:Silver.">
              <label class="m-input-block-label js-input-block-label" for="equipment-wealth-silver">SP to add/remove</label>
              <input id="equipment-wealth-silver" class="m-input-block-field u-full-width js-input-block-field js-input-block-aggregate-input js-tip" data-tip-options="message:Use negative numbers to spend Silver. Eg: Apply '-100' to remove 100 SP.,state:focus" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input button js-input-block-aggregate-control" data-input-block-aggregate-options="target:equipment-wealth-silver,action:aggregate" tabindex="1"><span class="button-text">Apply</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Copper</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-text js-text-block js-tip" data-text-block-options="path:equipment.wealth.copper,type:number" data-tip-options="message:100 CP = 1 GP,state:hover"></p>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-aggregate-clear" data-input-block-aggregate-options="target:equipment-wealth-copper,action:clear,snackMessage:Copper cleared.,promptHeading:Clear Copper?,promptMessage:Are you sure you want to clear the current Copper total?" tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group-control-set">
          <div class="m-edit-box-item-large">
            <div class="m-input-block js-input-block js-input-block-aggregate" data-input-block-aggregate-options="path:equipment.wealth.copper,action:aggregate,eventType:copper,snackMessage:Copper.">
              <label class="m-input-block-label js-input-block-label" for="equipment-wealth-copper">CP to add/remove</label>
              <input id="equipment-wealth-copper" class="m-input-block-field u-full-width js-input-block-field js-input-block-aggregate-input js-tip" data-tip-options="message:Use negative numbers to spend Copper. Eg: Apply '-100' to remove 100 CP.,state:focus" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-large">
            <a href="javascript:void(0)" class="u-inline-with-input button js-input-block-aggregate-control" data-input-block-aggregate-options="target:equipment-wealth-copper,action:aggregate" tabindex="1"><span class="button-text">Apply</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-no-head-small m-edit-box-labels">
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <p class="m-edit-box-label">Total Wealth</p>
          <p class="m-edit-box-text js-text-block js-tip" data-text-block-options="path:equipment.wealth.total,type:currency" data-tip-options="message:Total given in the most common coin, GP.,state:hover"></p>
        </div>
        <div class="m-edit-box-item-button-small">
          <a href="javascript:void(0)" class="u-inline-with-input button js-evets-wealth" tabindex="1">Wealth Log</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-consumables is-hidden">

  <div class="m-clone-block js-clone-block-consumable">
    <div class="m-edit-controls js-edit-controls" data-pin-watch="js-clone-block-consumable">
      <div class="button-group button-group-right js-clone-controls">
        <button type="button" class="button button-medium button-secondary button-icon js-clone-add-consumable" tabindex="1"><span class="icon-add"></span><span class="button-text">Consumables</span></button>
        <button type="button" class="button button-medium button-secondary button-icon js-clone-remove" tabindex="1"><span class="icon-close"></span><span class="button-text">Remove</span></button>
      </div>
    </div>
    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Consumables</h2>
      </div>
      <div class="m-edit-box-body">

        <div class="m-placeholder js-placeholder-clone-consumable">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-max">
              <p class="m-placeholder-description u-muted-text">You dont have any Consumables, add one using <strong class="m-placeholder-key"><span class="icon-add"></span> Consumables</strong>.</p>
            </div>
          </div>
        </div>

        <div class="m-clone-block-target js-clone-block-target js-clone-block-target-consumable"></div>

      </div>
    </div>
  </div>

</div>
