<div class="m-edit-box">
  <div class="m-edit-box-head-small">
    <h2 class="m-edit-box-title-with-label">Possessions</h2>
  </div>
  <div class="m-edit-box-body m-edit-box-body-item-margin-large">
    <div class="m-edit-box-item-max">
      <div class="m-textarea-block js-textarea-block">
        <label class="m-textarea-block-label js-textarea-block-label" for="equipment-gear">Gear</label>
        <div id="equipment-gear" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="equipment.gear" contentEditable="true" tabindex="3"></div>
      </div>
    </div>
    <div class="m-edit-box-item-max">
      <div class="m-textarea-block js-textarea-block">
        <label class="m-textarea-block-label js-textarea-block-label" for="equipment-magic-gear">Magic Gear</label>
        <div id="equipment-magic-gear" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="equipment.magic_gear" contentEditable="true" tabindex="3"></div>
      </div>
    </div>
  </div>
</div>
<div class="js-total-block" data-total-path="equipment.item" data-total-path-addition="weight" data-total-clone-set="true" data-total-type="weight">
  <div class="m-clone-block js-clone-block-item">
    <div class="m-edit-controls js-edit-controls" data-pin-watch="js-clone-block-item">
      <div class="button-group button-group-right js-clone-controls">
        <button type="button" class="button button-medium button-secondary button-icon js-clone-add-item" tabindex="3"><span class="icon-add"></span><span class="button-text">Items</span></button>
        <button type="button" class="button button-medium button-secondary button-icon js-clone-remove" tabindex="3"><span class="icon-close"></span><span class="button-text">Remove</span></button>
      </div>
    </div>
    <div class="js-clone-block-prefix-item">
      <div class="m-edit-box m-edit-box-no-head-small">
        <div class="m-edit-box-body m-edit-box-body-group">
          <div class="m-edit-box-item-large">
            <p class="m-edit-box-label">Name</p>
          </div>
          <div class="m-edit-box-item-small">
            <p class="m-edit-box-label">Quantity</p>
          </div>
          <div class="m-edit-box-item-small">
            <p class="m-edit-box-label">Weight</p>
          </div>
        </div>
      </div>
    </div>
    <div class="m-edit-box">
      <div class="m-edit-box-head-small">
        <h2 class="m-edit-box-title">Items</h2>
      </div>
      <div class="m-edit-box-body-multiple">
        <div class="m-edit-box-body">
          <div class="m-edit-box-item-max">
            <div class="m-placeholder js-placeholder-clone-item">
              <p class="m-placeholder-description u-muted-text">You dont have any Items, add one using <strong class="m-placeholder-key"><span class="icon-add"></span> Items</strong>.</p>
            </div>
          </div>
        </div>
        <div class="m-clone-block-target js-clone-block-target js-clone-block-target-item"></div>
      </div>
    </div>
    <div class="js-clone-block-suffix-item">
      <div class="m-edit-box m-edit-box-no-head-small">
        <div class="m-edit-box-body m-edit-box-body-end m-edit-box-body-group">
          <div class="m-edit-box-item-small">
            <p class="m-total-block-label">Total</p>
            <p class="m-total-block-total js-total-block-total"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="m-edit-box">
  <div class="m-edit-box-head-small">
    <h2 class="m-edit-box-title-with-label">Armor</h2>
  </div>
  <div class="m-edit-box-body m-edit-box-body-item-margin-large">
    <div class="m-edit-box-item-max">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-armor">Armor</label>
        <input id="equipment-body-slots-armor" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.armor" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-max">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-shield">Shield</label>
        <input id="equipment-body-slots-shield" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.shield" type="text" tabindex="3">
      </div>
    </div>
  </div>
</div>
<hr>
<div class="m-edit-box">
  <div class="m-edit-box-head-small">
    <h2 class="m-edit-box-title-with-label">Body Slots</h2>
  </div>
  <div class="m-edit-box-body m-edit-box-body-item-margin-large">
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-head">Head</label>
        <input id="equipment-body-slots-head" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.head" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-headband">Headband</label>
        <input id="equipment-body-slots-headband" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.headband" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-eyes">Eyes</label>
        <input id="equipment-body-slots-eyes" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.eyes" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-shoulders">Shoulders</label>
        <input id="equipment-body-slots-shoulders" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.shoulders" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-neck">Neck</label>
        <input id="equipment-body-slots-neck" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.neck" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-chest">Chest</label>
        <input id="equipment-body-slots-chest" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.chest" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-body">Body</label>
        <input id="equipment-body-slots-body" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.body" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-belts">Belts</label>
        <input id="equipment-body-slots-belts" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.belts" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-wrist">Wrist</label>
        <input id="equipment-body-slots-wrist" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.wrist" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-hands">Hands</label>
        <input id="equipment-body-slots-hands" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.hands" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-ring-left-hand">Ring (Left Hand)</label>
        <input id="equipment-body-slots-ring-left-hand" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.ring_left_hand" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-ring-right-hand">Ring (Right Hand)</label>
        <input id="equipment-body-slots-ring-right-hand" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.ring_right_hand" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-feet">Feet</label>
        <input id="equipment-body-slots-feet" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.body_slots.feet" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
    </div>
  </div>
</div>
<hr>
<div class="m-edit-box">
  <div class="m-edit-box-head-small">
    <h2 class="m-edit-box-title-with-label">Encumbrance</h2>
  </div>
  <div class="m-edit-box-body m-edit-box-body-group m-edit-box-body-item-margin-large">
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-encumbrance-light">Light Load</label>
        <input id="equipment-encumbrance-light" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.encumbrance.light" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-encumbrance-medium">Medium Load</label>
        <input id="equipment-encumbrance-medium" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.encumbrance.medium" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-encumbrance-heavy">Heavy Load</label>
        <input id="equipment-encumbrance-heavy" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.encumbrance.heavy" type="text" tabindex="3">
      </div>
    </div>
  </div>
</div>
<hr>
<div class="m-edit-box">
  <div class="m-edit-box-head-small">
    <h2 class="m-edit-box-title-with-label">Wealth</h2>
  </div>
  <div class="m-edit-box-body m-edit-box-body-group m-edit-box-body-item-margin-large">
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-wealth-platinum">Platinum</label>
        <input id="equipment-wealth-platinum" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.wealth.platinum" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-wealth-gold">Gold</label>
        <input id="equipment-wealth-gold" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.wealth.gold" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-wealth-silver">Silver</label>
        <input id="equipment-wealth-silver" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.wealth.silver" type="text" tabindex="3">
      </div>
    </div>
    <div class="m-edit-box-item-large">
      <div class="m-input-block js-input-block">
        <label class="m-input-block-label js-input-block-label" for="equipment-wealth-copper">Copper</label>
        <input id="equipment-wealth-copper" class="m-input-block-field u-full-width js-input-block-field" data-path="equipment.wealth.copper" type="text" tabindex="3">
      </div>
    </div>
  </div>
</div>
<hr>
<div class="m-clone-block js-clone-block-consumable">
  <div class="m-edit-controls js-edit-controls" data-pin-watch="js-clone-block-consumable">
    <div class="button-group button-group-right js-clone-controls">
      <button type="button" class="button button-medium button-secondary button-icon js-clone-add-consumable" tabindex="3"><span class="icon-add"></span><span class="button-text">Consumables</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-clone-remove" tabindex="3"><span class="icon-close"></span><span class="button-text">Remove</span></button>
    </div>
  </div>
  <div class="js-clone-block-prefix-consumable">
    <div class="m-edit-box m-edit-box-no-head-small">
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-large">
          <p class="m-edit-box-label">Item</p>
        </div>
        <div class="m-edit-box-item-total">
          <p class="m-total-block-label">Total</p>
        </div>
        <div class="m-edit-box-item-small">
          <p class="m-edit-box-label">Max</p>
        </div>
        <div class="m-edit-box-item-small">
          <p class="m-edit-box-label">Used</p>
        </div>
      </div>
    </div>
  </div>
  <div class="m-edit-box">
    <div class="m-edit-box-head-small">
      <h2 class="m-edit-box-title">Consumables</h2>
    </div>
    <div class="m-edit-box-body-multiple">
      <div class="m-edit-box-body">
        <div class="m-edit-box-item-max">
          <div class="m-placeholder js-placeholder-clone-consumable">
            <p class="m-placeholder-description u-muted-text">You dont have any Consumables, add one using <strong class="m-placeholder-key"><span class="icon-add"></span> Consumables</strong>.</p>
          </div>
        </div>
      </div>
      <div class="m-clone-block-target js-clone-block-target js-clone-block-target-consumable"></div>
    </div>
  </div>
</div>
