<div class="m-tab-panel js-tab-panel js-tab-panel-possessions">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Gear</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:equipment.possessions.gear">
            <div id="equipment-gear" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Magic Gear</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:equipment.possessions.magic_gear">
            <div id="equipment-magic-gear" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Potions/Vials/Oils</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:equipment.possessions.potion_vials_oils">
            <div id="equipment-magic-gear" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Scrolls</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:equipment.possessions.scrolls">
            <div id="equipment-magic-gear" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-armor is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Armor Equipped</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large m-edit-box-content-outline">
        <div class="m-edit-box-item-100">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.armor.name">
            <label class="m-input-block-label js-input-block-label" for="equipment-armor-armor-name">Name</label>
            <input id="equipment-armor-armor-name" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.armor.check_penalty,type:integer">
            <label class="m-input-block-label js-input-block-label" for="equipment-armor-armor-check-penalty">Armour Check Penalty</label>
            <input id="equipment-armor-armor-check-penalty" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.armor.max_dex,type:integer">
            <label class="m-input-block-label js-input-block-label" for="equipment-armor-armor-max-dex">Maximum DEX Bonus</label>
            <input id="equipment-armor-armor-max-dex" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.armor.arcane_spell_failure,type:integer">
            <label class="m-input-block-label js-input-block-label" for="equipment-armor-armor-arcane-spell-failure">Arcane Spell Failure (%)</label>
            <input id="equipment-armor-armor-arcane-spell-failure" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.armor.weight">
            <label class="m-input-block-label js-input-block-label" for="equipment-armor-armor-weight">Weight</label>
            <input id="equipment-armor-armor-weight" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-no-head-small m-edit-box-labels">
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:equipment.armor.armor.notes">
            <label class="m-textarea-block-label js-textarea-block-label" for="equipment-armor-armor-notes">Armor Notes</label>
            <div id="equipment-armor-armor-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Shield Equipped</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large m-edit-box-content-outline">
        <div class="m-edit-box-item-100">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.shield.name">
            <label class="m-input-block-label js-input-block-label" for="equipment-armor-shield-name">Name</label>
            <input id="equipment-armor-shield-name" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.shield.check_penalty,type:integer">
            <label class="m-input-block-label js-input-block-label" for="equipment-armor-shield-check-penalty">Armour Check Penalty</label>
            <input id="equipment-armor-shield-check-penalty" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.shield.max_dex,type:integer">
            <label class="m-input-block-label js-input-block-label" for="equipment-armor-shield-max-dex">Maximum DEX Bonus</label>
            <input id="equipment-armor-shield-max-dex" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.shield.arcane_spell_failure,type:integer">
            <label class="m-input-block-label js-input-block-label" for="equipment-armor-shield-arcane-spell-failure">Arcane Spell Failure (%)</label>
            <input id="equipment-armor-shield-arcane-spell-failure" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.armor.shield.weight">
            <label class="m-input-block-label js-input-block-label" for="equipment-armor-shield-weight">Weight</label>
            <input id="equipment-armor-shield-weight" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-no-head-small m-edit-box-labels">
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:equipment.armor.shield.notes">
            <label class="m-textarea-block-label js-textarea-block-label" for="equipment-armor-shield-notes">Shield Notes</label>
            <div id="equipment-armor-shield-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-no-head-small m-edit-box-labels">
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-total">
          <p class="m-edit-box-label">Armour Check Penalty</p>
          <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:equipment.armor.stats.check_penalty.current" data-tip-options="message:Total Armour Check Penalty from equipped Armor and Shield.,state:hover"></p>
        </div>
        <div class="m-edit-box-item-total">
          <p class="m-edit-box-label">Maximum DEX Bonus</p>
          <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:equipment.armor.stats.max_dex.current,type:bonus,check:null" data-tip-options="message:Maximum DEX Bonus from equipped Armor and Shield.,state:hover"></p>
        </div>
        <div class="m-edit-box-item-total">
          <p class="m-edit-box-label">Arcane Spell Failure</p>
          <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:equipment.armor.stats.arcane_spell_failure.current,type:percentage" data-tip-options="message:Total Arcane Spell Failure from equipped Armor and Shield.,state:hover"></p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-body-slots is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Body Slots</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.head">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-head">Head</label>
            <input id="equipment-body-slots-head" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.headband">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-headband">Headband</label>
            <input id="equipment-body-slots-headband" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.eyes">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-eyes">Eyes</label>
            <input id="equipment-body-slots-eyes" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.shoulders">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-shoulders">Shoulders</label>
            <input id="equipment-body-slots-shoulders" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.neck">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-neck">Neck</label>
            <input id="equipment-body-slots-neck" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.chest">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-chest">Chest</label>
            <input id="equipment-body-slots-chest" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.body">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-body">Body</label>
            <input id="equipment-body-slots-body" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.belts">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-belts">Belts</label>
            <input id="equipment-body-slots-belts" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.wrist">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-wrist">Wrist</label>
            <input id="equipment-body-slots-wrist" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.hands">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-hands">Hands</label>
            <input id="equipment-body-slots-hands" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.ring_left_hand">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-ring-left-hand">Ring (Left Hand)</label>
            <input id="equipment-body-slots-ring-left-hand" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.ring_right_hand">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-ring-right-hand">Ring (Right Hand)</label>
            <input id="equipment-body-slots-ring-right-hand" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-16 m-edit-box-item-grow">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.body_slots.feet">
            <label class="m-input-block-label js-input-block-label" for="equipment-body-slots-feet">Feet</label>
            <input id="equipment-body-slots-feet" class="m-input-block-field u-full-width js-input-block-field" type="text" tabindex="1">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-items is-hidden">

  <div class="m-clone-block js-clone-block-item">

    <div class="m-edit-controls button-group button-group-right js-clone-controls">
      <button type="button" class="button button-medium button-secondary button-icon js-clone-add-item" tabindex="1"><span class="icon-add"></span><span class="button-text">Item</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-clone-remove" tabindex="1"><span class="icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
      <div class="m-edit-box-head">
        <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
          <div class="m-edit-box-item-shrink">
            <h2 class="m-edit-box-title">Items</h2>
          </div>
        </div>
      </div>
      <div class="m-edit-box-body">

        <div class="m-placeholder js-placeholder-clone-item">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-100">
              <p class="m-placeholder-description u-muted-text">Add Items using <strong class="m-placeholder-key"><span class="icon-add"></span> Item</strong>.</p>
            </div>
          </div>
        </div>

        <div class="js-clone-block-prefix-item">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-100 m-edit-box-group">
              <div class="m-edit-box-item-100">
                <p class="m-edit-box-label">Name</p>
              </div>
              <div class="m-edit-box-item-12">
                <p class="m-edit-box-label">Weight (lbs)</p>
              </div>
              <div class="m-edit-box-item-12">
                <p class="m-edit-box-label">Value (GP)</p>
              </div>
              <div class="m-edit-box-item-12">
                <p class="m-edit-box-label">Quantity</p>
              </div>
              <div class="m-edit-box-item-check">
                <p class="m-edit-box-label js-tip" data-tip-options="message:Include Item in the Total Weight and Total Value.,state:hover">Include</p>
              </div>
            </div>
          </div>
        </div>

        <div class="m-clone-block-target js-clone-block-target js-clone-block-target-item"></div>

        <div class="js-clone-block-suffix-item">
          <div class="m-edit-box-content m-edit-box-content-margin-small">
            <div class="m-edit-box-item-total js-total-block" data-total-block-options="path:equipment.item.all,addition:+weight,multiply:quantity,cloneSet:true,cloneSetPath:equipment.item.weight">
              <p class="m-edit-box-label">Total Weight</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:equipment.item.weight.current,type:weight"></p>
            </div>
            <div class="m-edit-box-item-total js-total-block" data-total-block-options="path:equipment.item.all,addition:+value,multiply:quantity,cloneSet:true,cloneSetPath:equipment.item.value">
              <p class="m-edit-box-label">Total Value</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:equipment.item.value.current,type:currency"></p>
            </div>
          </div>
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-100">
              <p class="m-edit-box-description">Adding a <strong>Quantity</strong> to an <strong>Item</strong> will multiply its <strong>Weight</strong> and <strong>Value</strong>. This is also calculated into the <strong>Total Weight</strong> and <strong>Total Value</strong>.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-encumbrance is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Alt Strength</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-4">
          <div class="m-input-block js-input-block" data-input-block-options="path:equipment.encumbrance.str,type:integer">
            <label class="m-input-block-label js-input-block-label" for="equipment-encumbrance-str">Score</label>
            <input id="equipment-encumbrance-str" class="m-input-block-field u-full-width u-text-center js-input-block-field js-tip" data-tip-options="message:Use an alternative STR score to calculation Encumbrance.,state:focus" type="number" tabindex="1">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Carry</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Light Load</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:equipment.encumbrance.carry_move.light" data-tip-options="message:Light Load calculated from STR.,state:hover"></p>
          </div>
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Medium Load</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:equipment.encumbrance.carry_move.medium" data-tip-options="message:Medium Load calculated from STR.,state:hover"></p>
          </div>
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Heavy Load</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:equipment.encumbrance.carry_move.heavy" data-tip-options="message:Heavy Load calculated from STR.,state:hover"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Move</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Lift Object</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:equipment.encumbrance.carry_move.lift" data-tip-options="message:Lift (Heavy Load Max x 2) calculated from STR.,state:hover"></p>
          </div>
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Drag Object</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:equipment.encumbrance.carry_move.drag" data-tip-options="message:Drag (Heavy Load Max x 5) calculated from STR.,state:hover"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-consumables is-hidden">

  <div class="m-clone-block js-clone-block-consumable">
    <div class="m-edit-controls button-group button-group-right js-clone-controls">
      <button type="button" class="button button-medium button-secondary button-icon js-clone-add-consumable" tabindex="1"><span class="icon-add"></span><span class="button-text">Consumables</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-clone-remove" tabindex="1"><span class="icon-close"></span><span class="button-text">Remove</span></button>
    </div>
    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
          <div class="m-edit-box-item-shrink">
            <h2 class="m-edit-box-title">Consumables</h2>
          </div>
        </div>
      </div>
      <div class="m-edit-box-body">

        <div class="m-placeholder js-placeholder-clone-consumable">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-100">
              <p class="m-placeholder-description u-muted-text">Add Consumables using <strong class="m-placeholder-key"><span class="icon-add"></span> Consumables</strong>.</p>
            </div>
          </div>
        </div>

        <div class="m-clone-block-target js-clone-block-target js-clone-block-target-consumable"></div>

      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-wealth is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Platinum</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-12 m-edit-box-group">
          <div class="m-edit-box-item-100">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:equipment.wealth.platinum,type:number" data-tip-options="message:1 PP = 10 GP,state:hover"></p>
          </div>
          <div class="m-edit-box-item-button-md">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-aggregate-clear" data-input-block-aggregate-options="target:equipment-wealth-platinum,action:clear,snackMessage:Platinum cleared.,promptHeading:Clear Platinum?,promptMessage:Are you sure you want to clear the current Platinum total?"
              tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-12 m-edit-box-group">
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block js-input-block-aggregate" data-input-block-aggregate-options="path:equipment.wealth.platinum,action:aggregate,eventType:platinum,snackMessage:Platinum.">
              <label class="m-input-block-label js-input-block-label" for="equipment-wealth-platinum">PP to add/remove</label>
              <input id="equipment-wealth-platinum" class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-aggregate-input js-tip" data-tip-options="message:Use negative numbers to spend Platinum. Eg: Apply '-100' to remove 100 PP.,state:focus"
                type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input button js-input-block-aggregate-control" data-input-block-aggregate-options="target:equipment-wealth-platinum,action:aggregate" tabindex="1"><span class="button-text">Apply</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Gold</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-12 m-edit-box-group">
          <div class="m-edit-box-item-100">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:equipment.wealth.gold,type:number"></p>
          </div>
          <div class="m-edit-box-item-button-md">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-aggregate-clear" data-input-block-aggregate-options="target:equipment-wealth-gold,action:clear,snackMessage:Gold cleared.,promptHeading:Clear Gold?,promptMessage:Are you sure you want to clear the current Gold total?"
              tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-12 m-edit-box-group">
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block js-input-block-aggregate" data-input-block-aggregate-options="path:equipment.wealth.gold,action:aggregate,eventType:gold,snackMessage:Gold.">
              <label class="m-input-block-label js-input-block-label" for="equipment-wealth-gold">GP to add/remove</label>
              <input id="equipment-wealth-gold" class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-aggregate-input js-tip" data-tip-options="message:Use negative numbers to spend Gold. Eg: Apply '-100' to remove 100 GP.,state:focus"
                type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input button js-input-block-aggregate-control" data-input-block-aggregate-options="target:equipment-wealth-gold,action:aggregate" tabindex="1"><span class="button-text">Apply</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Silver</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-12 m-edit-box-group">
          <div class="m-edit-box-item-100">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:equipment.wealth.silver,type:number" data-tip-options="message:10 SP = 1 GP,state:hover"></p>
          </div>
          <div class="m-edit-box-item-button-md">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-aggregate-clear" data-input-block-aggregate-options="target:equipment-wealth-silver,action:clear,snackMessage:Silver cleared.,promptHeading:Clear Silver?,promptMessage:Are you sure you want to clear the current Silver total?"
              tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-12 m-edit-box-group">
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block js-input-block-aggregate" data-input-block-aggregate-options="path:equipment.wealth.silver,action:aggregate,eventType:silver,snackMessage:Silver.">
              <label class="m-input-block-label js-input-block-label" for="equipment-wealth-silver">SP to add/remove</label>
              <input id="equipment-wealth-silver" class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-aggregate-input js-tip" data-tip-options="message:Use negative numbers to spend Silver. Eg: Apply '-100' to remove 100 SP.,state:focus"
                type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input button js-input-block-aggregate-control" data-input-block-aggregate-options="target:equipment-wealth-silver,action:aggregate" tabindex="1"><span class="button-text">Apply</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Copper</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-12 m-edit-box-group">
          <div class="m-edit-box-item-100">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:equipment.wealth.copper,type:number" data-tip-options="message:100 CP = 1 GP,state:hover"></p>
          </div>
          <div class="m-edit-box-item-button-md">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-input-block-aggregate-clear" data-input-block-aggregate-options="target:equipment-wealth-copper,action:clear,snackMessage:Copper cleared.,promptHeading:Clear Copper?,promptMessage:Are you sure you want to clear the current Copper total?"
              tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-12 m-edit-box-group">
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block js-input-block-aggregate" data-input-block-aggregate-options="path:equipment.wealth.copper,action:aggregate,eventType:copper,snackMessage:Copper.">
              <label class="m-input-block-label js-input-block-label" for="equipment-wealth-copper">CP to add/remove</label>
              <input id="equipment-wealth-copper" class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-aggregate-input js-tip" data-tip-options="message:Use negative numbers to spend Copper. Eg: Apply '-100' to remove 100 CP.,state:focus"
                type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input button js-input-block-aggregate-control" data-input-block-aggregate-options="target:equipment-wealth-copper,action:aggregate" tabindex="1"><span class="button-text">Apply</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-no-head-small m-edit-box-labels">
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total Wealth</p>
            <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:equipment.wealth.total,type:currency" data-tip-options="message:Total given in the most common coin, GP.,state:hover"></p>
          </div>
          <div class="m-edit-box-item-check">
            <div class="m-check-block js-check-block" data-check-block-options="path:equipment.wealth.include_item">
              <label for="equipment-wealth-include-item" class="m-check-block-label">Include Item Wealth</label>
              <input id="equipment-wealth-include-item" class="m-check-block-check m-check-block-check-with-label js-check-block-input js-equipment-wealth-include-item" type="checkbox" tabindex="1">
              <span class="m-check-block-check-icon"></span>
            </div>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input button js-evets-log" data-events-options="type:wealth,emptyMessage:No wealth logged yet. Why not add some?,modalHeading:Wealth log." tabindex="1">Wealth Log</a>
          </div>
          <div class="m-edit-box-item-button-md">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-evets-clear" data-events-options="type:wealth,promptHeading:Clear Wealth Log?,promptMessage:Are you sure you want to clear the Wealth Log? This can not be undone."
              tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
