<section id="notes" class="l-section m-clone-block js-notes js-section-edit js-clone-block-note">
  <div class="m-section-heading js-section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div class="js-section-title">
            <h1>Notes</h1>
          </div>
        </div>
        <div class="col-xs-10">
          <div class="m-section-controls js-section-controls">
            <div class="button-group js-clone-controls">
              <button type="button" class="js-clone-add-character-note button button-icon button-small button-tertiary-link" tabindex="3"><span class="icon-add"></span><span>Character</span></button>
              <button type="button" class="js-clone-add-story-note button button-icon button-small button-tertiary-link" tabindex="3"><span class="icon-add"></span><span>Story</span></button>
              <button type="button" class="js-clone-remove button button-icon button-small button-tertiary-link" tabindex="3"><span class="icon-close"></span><span>Remove</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2 id="notes-character" class="m-section-heading-sub u-inline-with-input u-margin-with-input">Character</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="m-clone-block-target js-clone-block-target js-clone-block-target-note-character"></div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2 id="notes-story" class="m-section-heading-sub u-inline-with-input u-margin-with-input">Story</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="m-clone-block-target js-clone-block-target js-clone-block-target-note-story"></div>
        </div>
      </div>
    </div>
  </div>
</section>
