<section id="notes" class="l-edit l-edit-last m-clone-block js-notes js-edit js-clone-block-note">
  <div class="m-edit-heading js-edit-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <h1 class="m-edit-heading-title">Notes</h1>
        </div>
        <div class="col-xs-10">
          <div class="m-edit-controls js-edit-controls">
            <div class="button-group js-clone-controls">
              <button type="button" class="js-clone-add-character-note button button-icon button-small button-tertiary-link" tabindex="3"><span class="icon-add"></span><span>Character</span></button>
              <button type="button" class="js-clone-add-story-note button button-icon button-small button-tertiary-link" tabindex="3"><span class="icon-add"></span><span>Story</span></button>
              <button type="button" class="js-clone-remove button button-icon button-small button-tertiary-link" tabindex="3"><span class="icon-close"></span><span>Remove</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-edit-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2 id="notes-character" class="m-edit-heading-sub u-inline-with-input u-margin-with-input">Character</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="m-clone-placeholder js-clone-placeholder-note-character">
            <p class="m-clone-placeholder-description u-muted-text">Nothing here yet, add a <strong>Character Note</strong> from the <strong>Sub Nav.</strong></p>
          </div>
          <div class="m-clone-block-target js-clone-block-target js-clone-block-target-note-character"></div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2 id="notes-story" class="m-edit-heading-sub u-inline-with-input u-margin-with-input">Story</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="m-clone-placeholder js-clone-placeholder-note-story">
            <p class="m-clone-placeholder-description u-muted-text">Nothing here yet, add a <strong>Story Note</strong> from the <strong>Sub Nav.</strong></p>
          </div>
          <div class="m-clone-block-target js-clone-block-target js-clone-block-target-note-story"></div>
        </div>
      </div>
    </div>
  </div>
</section>
