<div class="container">
  <div class="m-clone-block js-clone-block-note">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-md-offset-3">
        <div class="m-edit-controls js-edit-controls" data-pin-watch="js-clone-block-note">
          <div class="button-group button-group-strech js-clone-controls">
            <button type="button" class="button button-medium button-secondary button-icon js-clone-add-character-note" tabindex="3"><span class="icon-add"></span><span class="button-text">Character</span></button>
            <button type="button" class="button button-medium button-secondary button-icon js-clone-add-story-note" tabindex="3"><span class="icon-add"></span><span class="button-text">Story</span></button>
            <button type="button" class="button button-medium button-secondary button-icon js-clone-remove" tabindex="3"><span class="icon-close"></span><span class="button-text">Remove</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <h2 id="notes-character" class="m-edit-title u-inline-with-input u-margin-with-input">Character</h2>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="m-placeholder js-placeholder-clone-note-character">
          <p class="m-placeholder-description u-muted-text">No notes here yet, use <strong class="m-placeholder-key"><span class="icon-add"></span> Character</strong> to add a Character Note.</p>
        </div>
        <div class="m-clone-block-target js-clone-block-target js-clone-block-target-note-character"></div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <h2 id="notes-story" class="m-edit-title u-inline-with-input u-margin-with-input">Story</h2>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="m-placeholder js-placeholder-clone-note-story">
          <p class="m-placeholder-description u-muted-text">No notes here yet, use <strong class="m-placeholder-key"><span class="icon-add"></span> Story</strong> to add a Story Note.</p>
        </div>
        <div class="m-clone-block-target js-clone-block-target js-clone-block-target-note-story"></div>
      </div>
    </div>
  </div>
</div>
