<div class="m-tab-panel js-tab-panel js-tab-panel-offense-stats">

  <div class="m-edit-box m-edit-box-indent box m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Base Attack Bonus</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-total">
          <p class="m-edit-box-total js-text-block js-tip" data-text-block-options="path:offense.stats.base_attack.string" data-tip-options="message:Total BAB from all Classes.,state:hover"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:offense.stats.melee,addition:+misc+temp+size_base,bonuses:+str+dex+con+int+wis+cha+bab+size_base+level+half_level">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Melee</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-20 m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:offense.stats.melee.current,type:bonus"></p>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:offense.stats.melee.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="offense-stats-melee-misc">Misc</label>
              <input id="offense-stats-melee-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:offense.stats.melee.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="offense-stats-melee-temp">Temp</label>
              <input id="offense-stats-melee-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-sm">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:offense.stats.melee.bonuses,modalHeading:Melee bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:offense.stats.ranged,addition:+misc+temp+size_base,bonuses:+str+dex+con+int+wis+cha+bab+size_base+level+half_level">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Ranged</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-20 m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:offense.stats.ranged.current,type:bonus"></p>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:offense.stats.ranged.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="offense-stats-ranged-misc">Misc</label>
              <input id="offense-stats-ranged-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:offense.stats.ranged.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="offense-stats-ranged-temp">Temp</label>
              <input id="offense-stats-ranged-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-sm">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:offense.stats.ranged.bonuses,modalHeading:Ranged bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:offense.attack.notes">
            <label class="m-textarea-block-label js-textarea-block-label" for="offense-attack-notes">Attack Notes</label>
            <div id="offense-attack-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-combat-maneuver-bonus is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:offense.cmb,addition:+misc+temp+size_base,bonuses:+str+dex+con+int+wis+cha+bab+size_special+level+half_level">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Combat Maneuver Bonus</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-20 m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:offense.cmb.current,type:bonus"></p>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:offense.cmb.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="offense-cmb-misc">Misc</label>
              <input id="offense-cmb-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:offense.cmb.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="offense-cmb-temp">Temp</label>
              <input id="offense-cmb-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-sm">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:offense.cmb.bonuses,modalHeading:CMB bonuses" tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:offense.cmb.notes">
            <label class="m-textarea-block-label js-textarea-block-label" for="offense-cmb-notes">Combat Maneuver Bonuse Notes</label>
            <div id="offense-cmb-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-armor-attacks is-hidden">

  <div class="m-clone-block js-clone-block-attack">
    <div class="m-edit-controls button-group button-group-right js-clone-controls">
      <button type="button" class="button button-medium button-secondary button-icon js-clone-add-melee" tabindex="1"><span class="icon-add"></span><span class="button-text">Melee</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-clone-add-ranged" tabindex="1"><span class="icon-add"></span><span class="button-text">Ranged</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-clone-remove" tabindex="1"><span class="icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Melee Attacks</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content">
          <div class="m-edit-box-item-100">
            <div class="m-placeholder js-placeholder-clone-attack-melee">
              <p class="m-placeholder-description u-muted-text">Add Melee Attacks using <strong class="m-placeholder-key"><span class="icon-add"></span> Melee</strong>.</p>
            </div>
          </div>
        </div>
        <div class="m-clone-block-target js-clone-block-target js-clone-block-target-attack-melee"></div>
      </div>
    </div>

    <hr>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Ranged Attacks</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content">
          <div class="m-edit-box-item-100">
            <div class="m-placeholder js-placeholder-clone-attack-ranged">
              <p class="m-placeholder-description u-muted-text">Add Ranged Attacks using <strong class="m-placeholder-key"><span class="icon-add"></span> Ranged</strong>.</p>
            </div>
          </div>
        </div>
        <div class="m-clone-block-target js-clone-block-target js-clone-block-target-attack-ranged"></div>
      </div>
    </div>

  </div>

</div>
