<div class="m-clone-block js-clone-block-skill">
  <div class="m-edit-controls js-edit-controls" data-pin-watch="js-clone-block-skill">
    <div class="button-group button-group-right js-clone-controls">
      <button type="button" class="button button-medium button-secondary button-icon js-clone-add-skill" tabindex="3"><span class="icon-add"></span><span class="button-text">Skill</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-clone-remove" tabindex="3"><span class="icon-close"></span><span class="button-text">Remove</span></button>
    </div>
  </div>
  <div class="m-edit-box m-edit-box-no-head-large">
    <div class="m-edit-box-body m-edit-box-body-group">
      <span class="m-edit-box-item-large-spacer"></span>
      <div class="m-edit-box-item-total">
        <p class="m-edit-box-label-total u-text-center">Total</p>
      </div>
      <div class="m-edit-box-item-medium">
        <p class="m-edit-box-label u-text-center">Ranks</p>
      </div>
      <div class="m-edit-box-item-medium">
        <p class="m-edit-box-label u-text-center">Misc</p>
      </div>
      <div class="m-edit-box-item-check">
        <p class="m-edit-box-label u-text-center">Class Skill</p>
      </div>
      <div class="m-edit-box-item-button">
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.acrobatics" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Acrobatics</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.acrobatics.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.acrobatics.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.acrobatics.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.acrobatics.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Acrobatics bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.appraise" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Appraise</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.appraise.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.appraise.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.appraise.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.appraise.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Appraise bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.bluff" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Bluff</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.bluff.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.bluff.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.bluff.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.bluff.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Bluff bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.climb" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Climb</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.climb.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.climb.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.climb.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.climb.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Climb bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.craft_1" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Craft</h2>
        <div class="m-skill-variant-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" data-path="skills.craft_1.variant_name" type="text" tabindex="3" placeholder="Name">
        </div>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.craft_1.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.craft_1.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.craft_1.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.craft_1.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Craft bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.craft_2" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Craft</h2>
        <div class="m-skill-variant-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" data-path="skills.craft_2.variant_name" type="text" tabindex="3" placeholder="Name">
        </div>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.craft_2.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.craft_2.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.craft_2.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.craft_2.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Craft bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.diplomacy" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Diplomacy</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.diplomacy.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.diplomacy.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.diplomacy.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.diplomacy.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Diplomacy bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.disable_device" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Disable Device</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.disable_device.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.disable_device.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.disable_device.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.disable_device.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Disable Device bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.disguise" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Disguise</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.disguise.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.disguise.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.disguise.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.disguise.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Disguise bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.escape_artist" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Escape Artist</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.escape_artist.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.escape_artist.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.escape_artist.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.escape_artist.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Escape Artist bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.fly" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,size_modifier_fly,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Fly</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.fly.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.fly.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.fly.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.fly.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Fly bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.handle_animal" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Handle Animal</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.handle_animal.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.handle_animal.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.handle_animal.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.handle_animal.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Handle Animal bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.heal" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Heal</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.heal.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.heal.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.heal.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.heal.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Heal bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.intimidate" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Intimidate</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.intimidate.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.intimidate.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.intimidate.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.intimidate.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Intimidate bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.knowledge_arcana" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Arcana)</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.knowledge_arcana.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.knowledge_arcana.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.knowledge_arcana.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.knowledge_arcana.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Knowledge (Arcana) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.knowledge_dungeoneering" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Dungeoneering)</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.knowledge_dungeoneering.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.knowledge_dungeoneering.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.knowledge_dungeoneering.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.knowledge_dungeoneering.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Knowledge (Dungeoneering) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.knowledge_engineering" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Engineering)</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.knowledge_engineering.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.knowledge_engineering.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.knowledge_engineering.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.knowledge_engineering.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Knowledge (Engineering) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.knowledge_geography" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Geography)</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.knowledge_geography.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.knowledge_geography.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.knowledge_geography.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.knowledge_geography.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Knowledge (Geography) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.knowledge_history" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (History)</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.knowledge_history.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.knowledge_history.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.knowledge_history.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.knowledge_history.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Knowledge (History) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.knowledge_local" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Local)</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.knowledge_local.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.knowledge_local.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.knowledge_local.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.knowledge_local.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Knowledge (Local) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.knowledge_nature" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Nature)</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.knowledge_nature.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.knowledge_nature.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.knowledge_nature.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.knowledge_nature.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Knowledge (Nature) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.knowledge_nobility" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Nobility)</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.knowledge_nobility.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.knowledge_nobility.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.knowledge_nobility.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.knowledge_nobility.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Knowledge (Nobility) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.knowledge_planes" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Planes)</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.knowledge_planes.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.knowledge_planes.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.knowledge_planes.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.knowledge_planes.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Knowledge (Planes) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.knowledge_religion" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Religion)</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.knowledge_religion.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.knowledge_religion.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.knowledge_religion.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.knowledge_religion.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Knowledge (Religion) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.linguistics" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Linguistics</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.linguistics.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.linguistics.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.linguistics.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.linguistics.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Linguistics bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.perception" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Perception</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.perception.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.perception.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.perception.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.perception.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Perception bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.perform_1" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Perform</h2>
        <div class="m-skill-variant-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" data-path="skills.perform_1.variant_name" type="text" tabindex="3" placeholder="Name">
        </div>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.perform_1.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.perform_1.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.perform_1.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.perform_1.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Perform bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.perform_2" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Perform</h2>
        <div class="m-skill-variant-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" data-path="skills.perform_2.variant_name" type="text" tabindex="3" placeholder="Name">
        </div>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.perform_2.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.perform_2.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.perform_2.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.perform_2.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Perform bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.profession_1" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Profession</h2>
        <div class="m-skill-variant-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" data-path="skills.profession_1.variant_name" type="text" tabindex="3" placeholder="Name">
        </div>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.profession_1.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.profession_1.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.profession_1.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.profession_1.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Profession bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.profession_2" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Profession</h2>
        <div class="m-skill-variant-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" data-path="skills.profession_2.variant_name" type="text" tabindex="3" placeholder="Name">
        </div>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.profession_2.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.profession_2.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.profession_2.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.profession_2.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Profession bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.ride" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Ride</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.ride.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.ride.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.ride.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.ride.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Ride bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.sense_motive" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Sense Motive</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.sense_motive.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.sense_motive.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.sense_motive.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.sense_motive.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Sense Motive bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.sleight_of_hand" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Sleight Of Hand</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.sleight_of_hand.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.sleight_of_hand.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.sleight_of_hand.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.sleight_of_hand.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Sleight Of Hand bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.spellcraft" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Spellcraft</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.spellcraft.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.spellcraft.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.spellcraft.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.spellcraft.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Spellcraft bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.stealth" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,size_modifier_stealth,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Stealth</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.stealth.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.stealth.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.stealth.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.stealth.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Stealth bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.survival" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Survival</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.survival.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.survival.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.survival.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.survival.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Survival bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.swim" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Swim</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.swim.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.swim.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.swim.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.swim.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Swim bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-skill js-total-block" data-total-path="skills.use_magic_device" data-total-path-addition="ranks,misc" data-total-bonuses="true" data-total-bonuses-include="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-total-type="bonus">
    <div class="m-edit-box m-edit-box-guides">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title">Use Magic Device</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-total-block-total" data-path="skills.use_magic_device.current"></p>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-input-block-field-ranks" data-path="skills.use_magic_device.ranks" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-medium">
          <div class="m-input-block js-input-block">
            <input class="m-input-block-field u-full-width u-text-center js-input-block-field" data-path="skills.use_magic_device.misc" data-total="addition" data-type="integer" type="text" tabindex="3">
          </div>
        </div>
        <div class="m-edit-box-item-check">
          <div class="m-check-block js-total-block-toggle">
            <input class="m-check-block-check js-total-block-bonus-check" data-bonus-type="class-skill" data-path="skills.use_magic_device.bonuses.class_skill" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
        <div class="m-edit-box-item-button">
          <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon js-total-block-bonuses" data-modal-heading="Use Magic Device bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-placeholder js-placeholder-clone-skill">
    <p class="m-placeholder-description u-muted-text">You dont have any Custom Skills, add one using <strong class="m-placeholder-key"><span class="icon-add"></span> Skill</strong>.</p>
  </div>
  <div class="m-clone-block-target js-clone-block-target js-clone-block-target-skills"></div>
  <hr>
  <div class="m-skill-spent-ranks">
    <div class="m-edit-box">
      <div class="m-edit-box-head-large">
        <h2 class="m-edit-box-title-with-label">Skill ranks spent</h2>
      </div>
      <div class="m-edit-box-body m-edit-box-body-group">
        <div class="m-edit-box-item-total">
          <p class="m-total-block-total js-skill-spent-ranks-total" data-path="skills.spent_ranks.current"></p>
        </div>
        <div class="m-edit-box-item-small">
          <div class="m-check-block js-skill-spent-ranks-toggle">
            <label for="skill-spent-ranks-toggle" class="m-check-block-label">Include custom skill ranks</label>
            <input id="skill-spent-ranks-toggle" class="m-check-block-check m-check-block-check-with-label js-skill-spent-ranks-input" data-path="skills.spent_ranks.include_custom" type="checkbox" tabindex="3">
            <span class="m-check-block-check-icon"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
