<section id="skills" class="l-section m-clone-block js-section-edit">
  <div class="m-section-heading js-section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Skills</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="m-section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="skill-list u-clearfix">
            <div class="m-skill">
              <p class="u-inline-with-input u-small-text m-skill-name">Skill</p>
              <p class="u-inline-with-input u-small-text m-skill-stat">Stat</p>
              <p class="u-inline-with-input u-small-text m-skill-total">Total</p>
              <p class="u-inline-with-input u-small-text m-skill-ranks">Ranks</p>
              <p class="u-inline-with-input u-small-text m-skill-misc">Misc</p>
              <p class="u-inline-with-input u-small-text m-skill-class-skill">Class Skill</p>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.acrobatics.bonuses">Acrobatics</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Dex</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.acrobatics.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-acrobatics-ranks" data-path="skills.acrobatics.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-acrobatics-misc" data-path="skills.acrobatics.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-acrobatics-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.acrobatics.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-acrobatics-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.appraise.bonuses">Appraise</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.appraise.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-appraise-ranks" data-path="skills.appraise.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-appraise-misc" data-path="skills.appraise.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-appraise-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.appraise.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-appraise-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.bluff.bonuses">Bluff</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Cha</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.bluff.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-bluff-ranks" data-path="skills.bluff.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-bluff-misc" data-path="skills.bluff.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-bluff-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.bluff.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-bluff-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.climb.bonuses">Climb</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Str</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.climb.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-climb-ranks" data-path="skills.climb.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-climb-misc" data-path="skills.climb.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-climb-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.climb.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-climb-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill m-skill-variant js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.craft_1.bonuses">Craft</p>
              <div class="m-skill-variant-name m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-craft-1-variant-name" data-path="skills.craft_1.variant_name" type="text" tabindex="3">
              </div>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.craft_1.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-craft-1-ranks" data-path="skills.craft_1.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-craft-1-misc" data-path="skills.craft_1.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-craft-1-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.craft_1.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-craft-1-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill m-skill-variant js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.craft_2.bonuses">Craft</p>
              <div class="m-skill-variant-name m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-craft-2-variant-name" data-path="skills.craft_2.variant_name" type="text" tabindex="3">
              </div>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.craft_2.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-craft-2-ranks" data-path="skills.craft_2.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-craft-2-misc" data-path="skills.craft_2.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-craft-2-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.craft_2.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-craft-2-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.diplomacy.bonuses">Diplomacy</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Cha</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.diplomacy.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-diplomacy-ranks" data-path="skills.diplomacy.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-diplomacy-misc" data-path="skills.diplomacy.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-diplomacy-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.diplomacy.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-diplomacy-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.disable_device.bonuses">Disable Device</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Dex</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.disable_device.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-disable-device-ranks" data-path="skills.disable_device.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-disable-device-misc" data-path="skills.disable_device.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-disable-device-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.disable_device.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-disable-device-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.disguise.bonuses">Disguise</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Cha</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.disguise.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-disguise-ranks" data-path="skills.disguise.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-disguise-misc" data-path="skills.disguise.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-disguise-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.disguise.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-disguise-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.escape_artist.bonuses">Escape Artist</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Dex</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.escape_artist.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-escape-artist-ranks" data-path="skills.escape_artist.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-escape-artist-misc" data-path="skills.escape_artist.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-escape-artist-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.escape_artist.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-escape-artist-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.fly.bonuses">Fly</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Dex</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.fly.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-fly-ranks" data-path="skills.fly.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-fly-misc" data-path="skills.fly.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-fly-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.fly.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-fly-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.handle_animal.bonuses">Handle Animal</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Cha</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.handle_animal.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-handle-animal-ranks" data-path="skills.handle_animal.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-handle-animal-misc" data-path="skills.handle_animal.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-handle-animal-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.handle_animal.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-handle-animal-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.heal.bonuses">Heal</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Wis</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.heal.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-heal-ranks" data-path="skills.heal.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-heal-misc" data-path="skills.heal.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-heal-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.heal.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-heal-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.intimidate.bonuses">Intimidate</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Cha</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.intimidate.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-intimidate-ranks" data-path="skills.intimidate.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-intimidate-misc" data-path="skills.intimidate.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-intimidate-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.intimidate.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-intimidate-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.knowledge_arcana.bonuses">Knowledge (Arcana)</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.knowledge_arcana.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-arcana-ranks" data-path="skills.knowledge_arcana.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-arcana-misc" data-path="skills.knowledge_arcana.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-knowledge-arcana-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_arcana.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-knowledge-arcana-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.knowledge_dungeoneering.bonuses">Knowledge (Dungeoneering)</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.knowledge_dungeoneering.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-dungeoneering-ranks" data-path="skills.knowledge_dungeoneering.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-dungeoneering-misc" data-path="skills.knowledge_dungeoneering.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-knowledge-dungeoneering-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_dungeoneering.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-knowledge-dungeoneering-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.knowledge_engineering.bonuses">Knowledge (Engineering)</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.knowledge_engineering.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-engineering-ranks" data-path="skills.knowledge_engineering.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-engineering-misc" data-path="skills.knowledge_engineering.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-knowledge-engineering-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_engineering.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-knowledge-engineering-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.knowledge_geography.bonuses">Knowledge (Geography)</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.knowledge_geography.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-geography-ranks" data-path="skills.knowledge_geography.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-geography-misc" data-path="skills.knowledge_geography.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-knowledge-geography-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_geography.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-knowledge-geography-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.knowledge_history.bonuses">Knowledge (History)</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.knowledge_history.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-history-ranks" data-path="skills.knowledge_history.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-history-misc" data-path="skills.knowledge_history.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-knowledge-history-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_history.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-knowledge-history-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.knowledge_local.bonuses">Knowledge (Local)</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.knowledge_local.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-local-ranks" data-path="skills.knowledge_local.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-local-misc" data-path="skills.knowledge_local.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-knowledge-local-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_local.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-knowledge-local-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.knowledge_nature.bonuses">Knowledge (Nature)</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.knowledge_nature.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-nature-ranks" data-path="skills.knowledge_nature.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-nature-misc" data-path="skills.knowledge_nature.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-knowledge-nature-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_nature.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-knowledge-nature-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.knowledge_nobility.bonuses">Knowledge (Nobility)</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.knowledge_nobility.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-nobility-ranks" data-path="skills.knowledge_nobility.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-nobility-misc" data-path="skills.knowledge_nobility.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-knowledge-nobility-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_nobility.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-knowledge-nobility-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.knowledge_planes.bonuses">Knowledge (Planes)</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.knowledge_planes.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-planes-ranks" data-path="skills.knowledge_planes.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-planes-misc" data-path="skills.knowledge_planes.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-knowledge-planes-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_planes.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-knowledge-planes-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.knowledge_religion.bonuses">Knowledge (Religion)</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.knowledge_religion.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-religion-ranks" data-path="skills.knowledge_religion.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-religion-misc" data-path="skills.knowledge_religion.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-knowledge-religion-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_religion.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-knowledge-religion-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.linguistics.bonuses">Linguistics</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.linguistics.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-linguistics-ranks" data-path="skills.linguistics.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-linguistics-misc" data-path="skills.linguistics.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-linguistics-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.linguistics.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-linguistics-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.perception.bonuses">Perception</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Wis</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.perception.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perception-ranks" data-path="skills.perception.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perception-misc" data-path="skills.perception.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-perception-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.perception.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-perception-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill m-skill-variant js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.perform_1.bonuses">Perform</p>
              <div class="m-skill-variant-name m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perform-1-variant-name" data-path="skills.perform_1.variant_name" type="text" tabindex="3">
              </div>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Cha</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.perform_1.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perform-1-variant-ranks" data-path="skills.perform_1.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perform-1-misc" data-path="skills.perform_1.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-perform-1-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.perform_1.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-perform-1-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill m-skill-variant js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.perform_2.bonuses">Perform</p>
              <div class="m-skill-variant-name m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perform-2-variant-name" data-path="skills.perform_2.variant_name" type="text" tabindex="3">
              </div>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Cha</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.perform_2.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perform-2-variant-ranks" data-path="skills.perform_2.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perform-2-misc" data-path="skills.perform_2.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-perform-2-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.perform_2.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-perform-2-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill m-skill-variant js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.profession_1.bonuses">Profession</p>
              <div class="m-skill-variant-name m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-profession-1-variant-name" data-path="skills.profession_1.variant_name" type="text" tabindex="3">
              </div>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Wis</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.profession_1.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-profession-1-ranks" data-path="skills.profession_1.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-profession-1-misc" data-path="skills.profession_1.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-profession-1-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.profession_1.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-profession-1-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill m-skill-variant js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.profession_2.bonuses">Profession</p>
              <div class="m-skill-variant-name m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-profession-2-variant-name" data-path="skills.profession_2.variant_name" type="text" tabindex="3">
              </div>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Wis</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.profession_2.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-profession-2-ranks" data-path="skills.profession_2.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-profession-2-misc" data-path="skills.profession_2.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-profession-2-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.profession_2.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-profession-2-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.ride.bonuses">Ride</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Dex</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.ride.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-ride-ranks" data-path="skills.ride.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-ride-misc" data-path="skills.ride.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-ride-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.ride.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-ride-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.sense_motive.bonuses">Sense Motive</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Wis</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.sense_motive.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-sense-motive-ranks" data-path="skills.sense_motive.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-sense-motive-misc" data-path="skills.sense_motive.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-sense-motive-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.sense_motive.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-sense-motive-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.sleight_of_hand.bonuses">Sleight Of Hand</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Dex</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.sleight_of_hand.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-sleight-of-hand-ranks" data-path="skills.sleight_of_hand.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-sleight-of-hand-misc" data-path="skills.sleight_of_hand.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-sleight-of-hand-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.sleight_of_hand.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-sleight-of-hand-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.spellcraft.bonuses">Spellcraft</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Int</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.spellcraft.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-spellcraft-ranks" data-path="skills.spellcraft.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-spellcraft-misc" data-path="skills.spellcraft.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-spellcraft-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.spellcraft.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-spellcraft-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.stealth.bonuses">Stealth</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Dex</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.stealth.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-stealth-ranks" data-path="skills.stealth.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-stealth-misc" data-path="skills.stealth.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-stealth-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.stealth.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-stealth-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.survival.bonuses">Survival</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Wis</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.survival.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-survival-ranks" data-path="skills.survival.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-survival-misc" data-path="skills.survival.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-survival-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.survival.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-survival-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.swim.bonuses">Swim</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Str</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.swim.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-swim-ranks" data-path="skills.swim.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-swim-misc" data-path="skills.swim.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-swim-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.swim.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-swim-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill js-total-block">
              <p class="m-skill-name u-inline-with-input u-underline-with-input js-total-block-bonuses" data-bonus-path="skills.use_magic_device.bonuses">Use Magic Device</p>
              <p class="m-skill-stat u-inline-with-input u-underline-with-input">Cha</p>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.use_magic_device.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-use-magic-device-ranks" data-path="skills.use_magic_device.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-use-magic-device-misc" data-path="skills.use_magic_device.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-use-magic-device-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.use_magic_device.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-use-magic-device-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill m-skill-custom js-total-block">
              <div class="m-skill-name m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-1-name" data-path="skills.custom_1.name" type="text" tabindex="3" placeholder="Skill">
              </div>
              <div class="m-skill-stat u-inline-with-input u-underline-with-input">
                <a href="javascript:void(0)" class="button button-medium button-link button-block u-inline-with-input u-no-margin js-total-block-bonuses" data-bonus-path="skills.custom_1.bonuses" data-modal-heading="Bonuses to add to Custom Skill 1">Bonuses</a>
              </div>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.custom_1.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-1-ranks" data-path="skills.custom_1.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-1-misc" data-path="skills.custom_1.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-custom-1-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.custom_1.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-custom-1-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill m-skill-custom js-total-block">
              <div class="m-skill-name m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-2-name" data-path="skills.custom_2.name" type="text" tabindex="3" placeholder="Skill">
              </div>
              <div class="m-skill-stat u-inline-with-input u-underline-with-input">
                <a href="javascript:void(0)" class="button button-medium button-link button-block u-inline-with-input u-no-margin js-total-block-bonuses" data-bonus-path="skills.custom_2.bonuses" data-modal-heading="Bonuses to add to Custom Skill 2">Bonuses</a>
              </div>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.custom_2.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-2-ranks" data-path="skills.custom_2.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-2-misc" data-path="skills.custom_2.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-custom-2-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.custom_2.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-custom-2-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill m-skill-custom js-total-block">
              <div class="m-skill-name m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-3-name" data-path="skills.custom_3.name" type="text" tabindex="3" placeholder="Skill">
              </div>
              <div class="m-skill-stat u-inline-with-input u-underline-with-input">
                <a href="javascript:void(0)" class="button button-medium button-link button-block u-inline-with-input u-no-margin js-total-block-bonuses" data-bonus-path="skills.custom_3.bonuses" data-modal-heading="Bonuses to add to Custom Skill 3">Bonuses</a>
              </div>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.custom_3.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-3-ranks" data-path="skills.custom_3.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-3-misc" data-path="skills.custom_3.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-custom-3-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.custom_3.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-custom-3-class-skill" class="u-full-width"></label>
              </div>
            </div>
            <div class="m-total-block m-skill m-skill-custom js-total-block">
              <div class="m-skill-name m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-4-name" data-path="skills.custom_4.name" type="text" tabindex="3" placeholder="Skill">
              </div>
              <div class="m-skill-stat u-inline-with-input u-underline-with-input">
                <a href="javascript:void(0)" class="button button-medium button-link button-block u-inline-with-input u-no-margin js-total-block-bonuses" data-bonus-path="skills.custom_4.bonuses" data-modal-heading="Bonuses to add to Custom Skill 4">Bonuses</a>
              </div>
              <p class="m-skill-total u-inline-with-input u-underline-with-input js-total-block-total" data-path="skills.custom_4.current"></p>
              <div class="m-skill-ranks m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-4-ranks" data-path="skills.custom_4.ranks" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-skill-misc m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-4-misc" data-path="skills.custom_4.misc" data-total="addition" type="number" tabindex="3">
              </div>
              <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
                <input id="skill-custom-4-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.custom_4.bonuses.class_skill" type="checkbox" tabindex="3">
                <label for="skill-custom-4-class-skill" class="u-full-width"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
