<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="m-skill-title u-clearfix">
        <p class="u-small-text m-skill-name-title">Skill Name</p>
        <p class="u-small-text m-skill-total-title">Total</p>
        <p class="u-small-text m-skill-ranks-title">Ranks</p>
        <p class="u-small-text m-skill-misc-title">Misc</p>
        <p class="u-small-text m-skill-class-skill-title">Class Skill</p>
        <p class="m-skill-bonus-title">
          <span class="m-skill-bonus-title-spacer is-invisible"><span class="icon-more-vertical"></span></span>
        </p>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Acrobatics <span class="u-small-text hidden-xs hidden-sm">Dex</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.acrobatics.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-acrobatics-ranks" data-path="skills.acrobatics.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-acrobatics-misc" data-path="skills.acrobatics.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-acrobatics-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.acrobatics.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-acrobatics-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.acrobatics.bonuses" data-modal-heading="Acrobatics bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Appraise <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.appraise.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-appraise-ranks" data-path="skills.appraise.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-appraise-misc" data-path="skills.appraise.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-appraise-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.appraise.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-appraise-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.appraise.bonuses" data-modal-heading="Appraise bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Bluff <span class="u-small-text hidden-xs hidden-sm">Cha</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.bluff.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-bluff-ranks" data-path="skills.bluff.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-bluff-misc" data-path="skills.bluff.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-bluff-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.bluff.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-bluff-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.bluff.bonuses" data-modal-heading="Bluff bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Climb <span class="u-small-text hidden-xs hidden-sm">Str</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.climb.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-climb-ranks" data-path="skills.climb.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-climb-misc" data-path="skills.climb.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-climb-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.climb.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-climb-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.climb.bonuses" data-modal-heading="Climb bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill m-skill-variant u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Craft <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <div class="m-skill-variant-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-craft-1-variant-name" data-path="skills.craft_1.variant_name" type="text" tabindex="3">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.craft_1.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-craft-1-ranks" data-path="skills.craft_1.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-craft-1-misc" data-path="skills.craft_1.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-craft-1-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.craft_1.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-craft-1-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.craft_1.bonuses" data-modal-heading="Craft bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill m-skill-variant u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Craft <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <div class="m-skill-variant-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-craft-2-variant-name" data-path="skills.craft_2.variant_name" type="text" tabindex="3">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.craft_2.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-craft-2-ranks" data-path="skills.craft_2.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-craft-2-misc" data-path="skills.craft_2.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-craft-2-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.craft_2.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-craft-2-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.craft_2.bonuses" data-modal-heading="Craft bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Diplomacy <span class="u-small-text hidden-xs hidden-sm">Cha</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.diplomacy.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-diplomacy-ranks" data-path="skills.diplomacy.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-diplomacy-misc" data-path="skills.diplomacy.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-diplomacy-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.diplomacy.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-diplomacy-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.diplomacy.bonuses" data-modal-heading="Diplomacy bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Disable Device <span class="u-small-text hidden-xs hidden-sm">Dex</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.disable_device.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-disable-device-ranks" data-path="skills.disable_device.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-disable-device-misc" data-path="skills.disable_device.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-disable-device-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.disable_device.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-disable-device-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.disable_device.bonuses" data-modal-heading="Disable Device bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Disguise <span class="u-small-text hidden-xs hidden-sm">Cha</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.disguise.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-disguise-ranks" data-path="skills.disguise.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-disguise-misc" data-path="skills.disguise.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-disguise-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.disguise.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-disguise-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.disguise.bonuses" data-modal-heading="Disguise bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Escape Artist <span class="u-small-text hidden-xs hidden-sm">Dex</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.escape_artist.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-escape-artist-ranks" data-path="skills.escape_artist.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-escape-artist-misc" data-path="skills.escape_artist.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-escape-artist-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.escape_artist.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-escape-artist-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.escape_artist.bonuses" data-modal-heading="Escape Artist bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Fly <span class="u-small-text hidden-xs hidden-sm">Dex</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.fly.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-fly-ranks" data-path="skills.fly.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-fly-misc" data-path="skills.fly.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-fly-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.fly.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-fly-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.fly.bonuses" data-modal-heading="Fly bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Handle Animal <span class="u-small-text hidden-xs hidden-sm">Cha</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.handle_animal.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-handle-animal-ranks" data-path="skills.handle_animal.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-handle-animal-misc" data-path="skills.handle_animal.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-handle-animal-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.handle_animal.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-handle-animal-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.handle_animal.bonuses" data-modal-heading="Handle Animal bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Heal <span class="u-small-text hidden-xs hidden-sm">Wis</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.heal.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-heal-ranks" data-path="skills.heal.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-heal-misc" data-path="skills.heal.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-heal-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.heal.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-heal-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.heal.bonuses" data-modal-heading="Heal bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Intimidate <span class="u-small-text hidden-xs hidden-sm">Cha</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.intimidate.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-intimidate-ranks" data-path="skills.intimidate.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-intimidate-misc" data-path="skills.intimidate.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-intimidate-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.intimidate.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-intimidate-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.intimidate.bonuses" data-modal-heading="Intimidate bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Arcana) <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.knowledge_arcana.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-knowledge-arcana-ranks" data-path="skills.knowledge_arcana.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-arcana-misc" data-path="skills.knowledge_arcana.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-knowledge-arcana-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_arcana.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-knowledge-arcana-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.knowledge_arcana.bonuses" data-modal-heading="Knowledge (Arcana) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Dungeoneering) <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.knowledge_dungeoneering.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-knowledge-dungeoneering-ranks" data-path="skills.knowledge_dungeoneering.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-dungeoneering-misc" data-path="skills.knowledge_dungeoneering.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-knowledge-dungeoneering-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_dungeoneering.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-knowledge-dungeoneering-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.knowledge_dungeoneering.bonuses" data-modal-heading="Knowledge (Dungeoneering) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Engineering) <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.knowledge_engineering.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-knowledge-engineering-ranks" data-path="skills.knowledge_engineering.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-engineering-misc" data-path="skills.knowledge_engineering.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-knowledge-engineering-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_engineering.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-knowledge-engineering-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.knowledge_engineering.bonuses" data-modal-heading="Knowledge (Engineering) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Geography) <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.knowledge_geography.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-knowledge-geography-ranks" data-path="skills.knowledge_geography.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-geography-misc" data-path="skills.knowledge_geography.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-knowledge-geography-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_geography.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-knowledge-geography-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.knowledge_geography.bonuses" data-modal-heading="Knowledge (Geography) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (History) <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.knowledge_history.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-knowledge-history-ranks" data-path="skills.knowledge_history.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-history-misc" data-path="skills.knowledge_history.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-knowledge-history-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_history.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-knowledge-history-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.knowledge_history.bonuses" data-modal-heading="Knowledge (History) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Local) <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.knowledge_local.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-knowledge-local-ranks" data-path="skills.knowledge_local.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-local-misc" data-path="skills.knowledge_local.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-knowledge-local-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_local.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-knowledge-local-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.knowledge_local.bonuses" data-modal-heading="Knowledge (Local) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Nature) <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.knowledge_nature.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-knowledge-nature-ranks" data-path="skills.knowledge_nature.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-nature-misc" data-path="skills.knowledge_nature.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-knowledge-nature-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_nature.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-knowledge-nature-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.knowledge_nature.bonuses" data-modal-heading="Knowledge (Nature) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Nobility) <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.knowledge_nobility.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-knowledge-nobility-ranks" data-path="skills.knowledge_nobility.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-nobility-misc" data-path="skills.knowledge_nobility.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-knowledge-nobility-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_nobility.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-knowledge-nobility-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.knowledge_nobility.bonuses" data-modal-heading="Knowledge (Nobility) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Planes) <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.knowledge_planes.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-knowledge-planes-ranks" data-path="skills.knowledge_planes.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-planes-misc" data-path="skills.knowledge_planes.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-knowledge-planes-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_planes.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-knowledge-planes-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.knowledge_planes.bonuses" data-modal-heading="Knowledge (Planes) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input"><span class="hidden-sm hidden-md hidden-lg hidden-xl">K</span><span class="hidden-xs">Knowledge</span> (Religion) <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.knowledge_religion.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-knowledge-religion-ranks" data-path="skills.knowledge_religion.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-knowledge-religion-misc" data-path="skills.knowledge_religion.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-knowledge-religion-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.knowledge_religion.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-knowledge-religion-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.knowledge_religion.bonuses" data-modal-heading="Knowledge (Religion) bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Linguistics <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.linguistics.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-linguistics-ranks" data-path="skills.linguistics.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-linguistics-misc" data-path="skills.linguistics.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-linguistics-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.linguistics.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-linguistics-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.linguistics.bonuses" data-modal-heading="Linguistics bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Perception <span class="u-small-text hidden-xs hidden-sm">Wis</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.perception.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-perception-ranks" data-path="skills.perception.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perception-misc" data-path="skills.perception.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-perception-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.perception.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-perception-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.perception.bonuses" data-modal-heading="Perception bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill m-skill-variant u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Perform <span class="u-small-text hidden-xs hidden-sm">Cha</span></p>
        <div class="m-skill-variant-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perform-1-variant-name" data-path="skills.perform_1.variant_name" type="text" tabindex="3">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.perform_1.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-perform-1-variant-ranks" data-path="skills.perform_1.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perform-1-misc" data-path="skills.perform_1.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-perform-1-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.perform_1.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-perform-1-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.perform_1.bonuses" data-modal-heading="Perform bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill m-skill-variant u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Perform <span class="u-small-text hidden-xs hidden-sm">Cha</span></p>
        <div class="m-skill-variant-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perform-2-variant-name" data-path="skills.perform_2.variant_name" type="text" tabindex="3">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.perform_2.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-perform-2-variant-ranks" data-path="skills.perform_2.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-perform-2-misc" data-path="skills.perform_2.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-perform-2-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.perform_2.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-perform-2-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.perform_2.bonuses" data-modal-heading="Perform bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill m-skill-variant u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Profession <span class="u-small-text hidden-xs hidden-sm">Wis</span></p>
        <div class="m-skill-variant-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-profession-1-variant-name" data-path="skills.profession_1.variant_name" type="text" tabindex="3">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.profession_1.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-profession-1-ranks" data-path="skills.profession_1.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-profession-1-misc" data-path="skills.profession_1.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-profession-1-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.profession_1.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-profession-1-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.profession_1.bonuses" data-modal-heading="Profession bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill m-skill-variant u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Profession <span class="u-small-text hidden-xs hidden-sm">Wis</span></p>
        <div class="m-skill-variant-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-profession-2-variant-name" data-path="skills.profession_2.variant_name" type="text" tabindex="3">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.profession_2.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-profession-2-ranks" data-path="skills.profession_2.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-profession-2-misc" data-path="skills.profession_2.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-profession-2-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.profession_2.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-profession-2-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.profession_2.bonuses" data-modal-heading="Profession bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Ride <span class="u-small-text hidden-xs hidden-sm">Dex</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.ride.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-ride-ranks" data-path="skills.ride.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-ride-misc" data-path="skills.ride.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-ride-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.ride.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-ride-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.ride.bonuses" data-modal-heading="Ride bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Sense Motive <span class="u-small-text hidden-xs hidden-sm">Wis</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.sense_motive.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-sense-motive-ranks" data-path="skills.sense_motive.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-sense-motive-misc" data-path="skills.sense_motive.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-sense-motive-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.sense_motive.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-sense-motive-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.sense_motive.bonuses" data-modal-heading="Sense Motive bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Sleight Of Hand <span class="u-small-text hidden-xs hidden-sm">Dex</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.sleight_of_hand.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-sleight-of-hand-ranks" data-path="skills.sleight_of_hand.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-sleight-of-hand-misc" data-path="skills.sleight_of_hand.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-sleight-of-hand-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.sleight_of_hand.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-sleight-of-hand-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.sleight_of_hand.bonuses" data-modal-heading="Sleight Of Hand bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Spellcraft <span class="u-small-text hidden-xs hidden-sm">Int</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.spellcraft.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-spellcraft-ranks" data-path="skills.spellcraft.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-spellcraft-misc" data-path="skills.spellcraft.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-spellcraft-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.spellcraft.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-spellcraft-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.spellcraft.bonuses" data-modal-heading="Spellcraft bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Stealth <span class="u-small-text hidden-xs hidden-sm">Dex</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.stealth.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-stealth-ranks" data-path="skills.stealth.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-stealth-misc" data-path="skills.stealth.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-stealth-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.stealth.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-stealth-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.stealth.bonuses" data-modal-heading="Stealth bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Survival <span class="u-small-text hidden-xs hidden-sm">Wis</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.survival.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-survival-ranks" data-path="skills.survival.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-survival-misc" data-path="skills.survival.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-survival-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.survival.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-survival-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.survival.bonuses" data-modal-heading="Survival bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Swim <span class="u-small-text hidden-xs hidden-sm">Str</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.swim.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-swim-ranks" data-path="skills.swim.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-swim-misc" data-path="skills.swim.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-swim-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.swim.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-swim-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.swim.bonuses" data-modal-heading="Swim bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <p class="m-skill-name u-inline-with-input u-underline-with-input">Use Magic Device <span class="u-small-text hidden-xs hidden-sm">Cha</span></p>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.use_magic_device.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-ranks" id="skill-use-magic-device-ranks" data-path="skills.use_magic_device.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-use-magic-device-misc" data-path="skills.use_magic_device.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-use-magic-device-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.use_magic_device.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-use-magic-device-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.use_magic_device.bonuses" data-modal-heading="Use Magic Device bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <div class="m-skill-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-1-name" data-path="skills.custom_1.name" type="text" tabindex="3" placeholder="Custom skill">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.custom_1.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-custom-ranks" id="skill-custom-1-ranks" data-path="skills.custom_1.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-1-misc" data-path="skills.custom_1.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-custom-1-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.custom_1.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-custom-1-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.custom_1.bonuses" data-modal-heading="Custom Skill 1 bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <div class="m-skill-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-2-name" data-path="skills.custom_2.name" type="text" tabindex="3" placeholder="Custom skill">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.custom_2.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-custom-ranks" id="skill-custom-2-ranks" data-path="skills.custom_2.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-2-misc" data-path="skills.custom_2.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-custom-2-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.custom_2.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-custom-2-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.custom_2.bonuses" data-modal-heading="Custom Skill 2 bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <div class="m-skill-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-3-name" data-path="skills.custom_3.name" type="text" tabindex="3" placeholder="Custom skill">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.custom_3.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-custom-ranks" id="skill-custom-3-ranks" data-path="skills.custom_3.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-3-misc" data-path="skills.custom_3.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-custom-3-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.custom_3.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-custom-3-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.custom_3.bonuses" data-modal-heading="Custom Skill 3 bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <div class="m-skill-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-4-name" data-path="skills.custom_4.name" type="text" tabindex="3" placeholder="Custom skill">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.custom_4.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-custom-ranks" id="skill-custom-4-ranks" data-path="skills.custom_4.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-4-misc" data-path="skills.custom_4.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-custom-4-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.custom_4.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-custom-4-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.custom_4.bonuses" data-modal-heading="Custom Skill 4 bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <div class="m-skill-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-5-name" data-path="skills.custom_5.name" type="text" tabindex="3" placeholder="Custom skill">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.custom_5.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-custom-ranks" id="skill-custom-5-ranks" data-path="skills.custom_5.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-5-misc" data-path="skills.custom_5.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-custom-5-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.custom_5.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-custom-5-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.custom_5.bonuses" data-modal-heading="Custom Skill 5 bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <div class="m-skill-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-6-name" data-path="skills.custom_6.name" type="text" tabindex="3" placeholder="Custom skill">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.custom_6.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-custom-ranks" id="skill-custom-6-ranks" data-path="skills.custom_6.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-6-misc" data-path="skills.custom_6.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-custom-6-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.custom_6.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-custom-6-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.custom_6.bonuses" data-modal-heading="Custom Skill 6 bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <div class="m-skill-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-7-name" data-path="skills.custom_7.name" type="text" tabindex="3" placeholder="Custom skill">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.custom_7.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-custom-ranks" id="skill-custom-7-ranks" data-path="skills.custom_7.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-7-misc" data-path="skills.custom_7.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-custom-7-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.custom_7.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-custom-7-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.custom_7.bonuses" data-modal-heading="Custom Skill 7 bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

      <div class="m-total-block m-skill u-clearfix js-total-block" data-total-type="bonus">
        <div class="m-skill-name m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-8-name" data-path="skills.custom_8.name" type="text" tabindex="3" placeholder="Custom skill">
        </div>
        <p class="m-skill-total u-background-with-input u-inline-with-input u-underline-with-input m-total-block-total js-total-block-total" data-path="skills.custom_8.current"></p>
        <div class="m-skill-ranks m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field js-input-block-field-custom-ranks" id="skill-custom-8-ranks" data-path="skills.custom_8.ranks" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-skill-misc m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-no-margin js-input-block-field" id="skill-custom-8-misc" data-path="skills.custom_8.misc" data-total="addition" data-type="number" type="text" tabindex="3">
        </div>
        <div class="m-total-block-toggle m-skill-class-skill u-inline-with-input u-underline-with-input js-total-block-toggle">
          <input id="skill-custom-8-class-skill" class="m-total-block-toggle-check js-total-block-toggle-check" data-bonus-type="class-skill" data-path="skills.custom_8.bonuses.class_skill" type="checkbox" tabindex="3">
          <label for="skill-custom-8-class-skill" class="u-full-width"></label>
        </div>
        <div class="m-skill-bonus u-inline-with-input u-underline-with-input">
          <a href="javascript:void(0)" class="m-skill-bonus-button button button-secondary button-medium button-icon u-inline-with-input u-no-margin js-total-block-bonuses" data-bonuses="str_bonus,dex_bonus,con_bonus,int_bonus,wis_bonus,cha_bonus,level,half_level,check_penalty" data-bonus-path="skills.custom_8.bonuses" data-modal-heading="Custom Skill 8 bonuses" tabindex="3"><span class="icon-more-vertical"></span></a>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="m-skill-spent-ranks">
      <div class="col-xs-12">
        <h2 class="m-edit-heading-sub u-no-margin u-inline-with-input">Skill ranks spent <span class="js-skill-spent-ranks-total" data-path="skills.spent_ranks.current"></span></h2>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="m-skill-spent-ranks-toggle js-skill-spent-ranks-toggle">
          <input id="skill-spent-ranks-toggle" class="m-skill-spent-ranks-input js-skill-spent-ranks-input" data-path="skills.spent_ranks.include_custom" type="checkbox" tabindex="3">
          <label for="skill-spent-ranks-toggle" class="u-full-width label-left">Include custom skills in total</label>
        </div>
      </div>
    </div>
  </div>

</div>
