<div class="m-tab-panel js-tab-panel js-tab-panel-spell-stats">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.concentration,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Concentration</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.concentration.current,type:bonus"></p>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.concentration.racial,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-concentration-racial">Racial</label>
              <input id="spells-concentration-racial" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.concentration.feat,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-concentration-feat">Feat</label>
              <input id="spells-concentration-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.concentration.trait,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-concentration-trait">Trait</label>
              <input id="spells-concentration-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.concentration.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-concentration-misc">Misc</label>
              <input id="spells-concentration-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.concentration.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-concentration-temp">Temp</label>
              <input id="spells-concentration-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.concentration.bonuses,modalHeading:Concentration bonuses"
              tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.caster_level_check,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Caster Level Check</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.caster_level_check.current,type:bonus"></p>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.caster_level_check.racial,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-caster-level_check-racial">Racial</label>
              <input id="spells-caster-level_check-racial" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.caster_level_check.feat,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-caster-level-check-feat">Feat</label>
              <input id="spells-caster-level-check-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.caster_level_check.trait,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-caster-level-check-trait">Trait</label>
              <input id="spells-caster-level-check-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.caster_level_check.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-caster-level-check-misc">Misc</label>
              <input id="spells-caster-level-check-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.caster_level_check.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-caster-level-check-temp">Temp</label>
              <input id="spells-caster-level-check-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.caster_level_check.bonuses,modalHeading:Caster Level Check bonuses"
              tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-no-head-small">
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item-max">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:spells.spell_notes">
            <label class="m-textarea-block-label js-textarea-block-label" for="spells-spell-notes">Spell Notes</label>
            <div id="spells-spell-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-0 is-hidden">
  <div class="m-spell-book js-spell-book 0" data-spell-book-options="path:spells.book[0]level_0,level:#0">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Counts</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_0,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-0">Known Spells</label>
                <input id="spells-known-level-0" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_0,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-0">Bonus Spells</label>
                <input id="spells-bonus-level-0" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_0,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-0">Spells Per Day</label>
                <input id="spells-daily-level-0" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.dc.level_0,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level+spell_level+plus_ten">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Save DC</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">

          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label">Total</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.dc.level_0.current,type:bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_0.feat,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-feat">Feat</label>
                <input id="basics-Initiative-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_0.trait,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-trait">Trait</label>
                <input id="basics-Initiative-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_0.misc,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-misc">Misc</label>
                <input id="basics-Initiative-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_0.temp,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-temp">Temp</label>
                <input id="basics-Initiative-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.dc.level_0.bonuses,modalHeading:Spell Level 0 DC bonuses"
                tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell List</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-0">Add New Spell</label>
                <input id="add-new-spell-level-0" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-0"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-1 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[1]level_1,level:#1">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Counts</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_1,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-1">Known Spells</label>
                <input id="spells-known-level-1" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_1,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-1">Bonus Spells</label>
                <input id="spells-bonus-level-1" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_1,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-1">Spells Per Day</label>
                <input id="spells-daily-level-1" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.dc.level_1,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level+spell_level+plus_ten">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Save DC</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">

          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label">Total</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.dc.level_1.current,type:bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_1.feat,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-feat">Feat</label>
                <input id="basics-Initiative-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_1.trait,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-trait">Trait</label>
                <input id="basics-Initiative-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_1.misc,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-misc">Misc</label>
                <input id="basics-Initiative-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_1.temp,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-temp">Temp</label>
                <input id="basics-Initiative-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.dc.level_1.bonuses,modalHeading:Spell Level 1 DC bonuses"
                tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell List</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-1">Add New Spell</label>
                <input id="add-new-spell-level-1" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-1"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-2 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[2]level_2,level:#2">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Counts</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_2,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-2">Known Spells</label>
                <input id="spells-known-level-2" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_2,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-2">Bonus Spells</label>
                <input id="spells-bonus-level-2" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_2,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-2">Spells Per Day</label>
                <input id="spells-daily-level-2" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.dc.level_2,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level+spell_level+plus_ten">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Save DC</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">

          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label">Total</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.dc.level_2.current,type:bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_2.feat,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-feat">Feat</label>
                <input id="basics-Initiative-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_2.trait,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-trait">Trait</label>
                <input id="basics-Initiative-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_2.misc,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-misc">Misc</label>
                <input id="basics-Initiative-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_2.temp,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-temp">Temp</label>
                <input id="basics-Initiative-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.dc.level_2.bonuses,modalHeading:Spell Level 2 DC bonuses"
                tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell List</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-2">Add New Spell</label>
                <input id="add-new-spell-level-2" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-2"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-3 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[3]level_3,level:#3">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Counts</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_3,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-3">Known Spells</label>
                <input id="spells-known-level-3" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_3,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-3">Bonus Spells</label>
                <input id="spells-bonus-level-3" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_3,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-3">Spells Per Day</label>
                <input id="spells-daily-level-3" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.dc.level_3,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level+spell_level+plus_ten">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Save DC</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">

          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label">Total</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.dc.level_3.current,type:bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_3.feat,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-feat">Feat</label>
                <input id="basics-Initiative-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_3.trait,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-trait">Trait</label>
                <input id="basics-Initiative-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_3.misc,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-misc">Misc</label>
                <input id="basics-Initiative-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_3.temp,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-temp">Temp</label>
                <input id="basics-Initiative-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.dc.level_3.bonuses,modalHeading:Spell Level 3 DC bonuses"
                tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell List</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-3">Add New Spell</label>
                <input id="add-new-spell-level-3" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-3"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-4 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[4]level_4,level:#4">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Counts</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_4,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-4">Known Spells</label>
                <input id="spells-known-level-4" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_4,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-4">Bonus Spells</label>
                <input id="spells-bonus-level-4" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_4,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-4">Spells Per Day</label>
                <input id="spells-daily-level-4" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.dc.level_4,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level+spell_level+plus_ten">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Save DC</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">

          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label">Total</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.dc.level_4.current,type:bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_4.feat,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-feat">Feat</label>
                <input id="basics-Initiative-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_4.trait,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-trait">Trait</label>
                <input id="basics-Initiative-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_4.misc,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-misc">Misc</label>
                <input id="basics-Initiative-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_4.temp,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-temp">Temp</label>
                <input id="basics-Initiative-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.dc.level_4.bonuses,modalHeading:Spell Level 4 DC bonuses"
                tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell List</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-4">Add New Spell</label>
                <input id="add-new-spell-level-4" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-4"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-5 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[5]level_5,level:#5">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Counts</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_5,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-5">Known Spells</label>
                <input id="spells-known-level-5" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_5,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-5">Bonus Spells</label>
                <input id="spells-bonus-level-5" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_5,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-5">Spells Per Day</label>
                <input id="spells-daily-level-5" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.dc.level_5,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level+spell_level+plus_ten">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Save DC</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">

          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label">Total</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.dc.level_5.current,type:bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_5.feat,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-feat">Feat</label>
                <input id="basics-Initiative-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_5.trait,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-trait">Trait</label>
                <input id="basics-Initiative-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_5.misc,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-misc">Misc</label>
                <input id="basics-Initiative-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_5.temp,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-temp">Temp</label>
                <input id="basics-Initiative-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.dc.level_5.bonuses,modalHeading:Spell Level 5 DC bonuses"
                tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell List</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-5">Add New Spell</label>
                <input id="add-new-spell-level-5" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-5"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-6 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[6]level_6,level:#6">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Counts</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_6,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-6">Known Spells</label>
                <input id="spells-known-level-6" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_6,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-6">Bonus Spells</label>
                <input id="spells-bonus-level-6" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_6,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-6">Spells Per Day</label>
                <input id="spells-daily-level-6" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.dc.level_6,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level+spell_level+plus_ten">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Save DC</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">

          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label">Total</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.dc.level_6.current,type:bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_6.feat,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-feat">Feat</label>
                <input id="basics-Initiative-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_6.trait,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-trait">Trait</label>
                <input id="basics-Initiative-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_6.misc,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-misc">Misc</label>
                <input id="basics-Initiative-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_6.temp,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-temp">Temp</label>
                <input id="basics-Initiative-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.dc.level_6.bonuses,modalHeading:Spell Level 6 DC bonuses"
                tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell List</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-6">Add New Spell</label>
                <input id="add-new-spell-level-6" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-6"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-7 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[7]level_7,level:#7">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Counts</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_7,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-7">Known Spells</label>
                <input id="spells-known-level-7" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_7,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-7">Bonus Spells</label>
                <input id="spells-bonus-level-7" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_7,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-7">Spells Per Day</label>
                <input id="spells-daily-level-7" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.dc.level_7,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level+spell_level+plus_ten">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Save DC</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">

          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label">Total</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.dc.level_7.current,type:bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_7.feat,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-feat">Feat</label>
                <input id="basics-Initiative-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_7.trait,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-trait">Trait</label>
                <input id="basics-Initiative-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_7.misc,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-misc">Misc</label>
                <input id="basics-Initiative-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_7.temp,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-temp">Temp</label>
                <input id="basics-Initiative-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.dc.level_7.bonuses,modalHeading:Spell Level 7 DC bonuses"
                tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell List</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-7">Add New Spell</label>
                <input id="add-new-spell-level-7" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-7"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-8 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[8]level_8,level:#8">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Counts</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_8,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-8">Known Spells</label>
                <input id="spells-known-level-8" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_8,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-8">Bonus Spells</label>
                <input id="spells-bonus-level-8" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_8,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-8">Spells Per Day</label>
                <input id="spells-daily-level-8" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.dc.level_8,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level+spell_level+plus_ten">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Save DC</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">

          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label">Total</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.dc.level_8.current,type:bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_8.feat,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-feat">Feat</label>
                <input id="basics-Initiative-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_8.trait,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-trait">Trait</label>
                <input id="basics-Initiative-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_8.misc,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-misc">Misc</label>
                <input id="basics-Initiative-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_8.temp,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-temp">Temp</label>
                <input id="basics-Initiative-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.dc.level_8.bonuses,modalHeading:Spell Level 8 DC bonuses"
                tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell List</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-8">Add New Spell</label>
                <input id="add-new-spell-level-8" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-8"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-9 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[9]level_9,level:#9">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm hidden-md icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Counts</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_9,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-9">Known Spells</label>
                <input id="spells-known-level-9" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_9,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-9">Bonus Spells</label>
                <input id="spells-bonus-level-9" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_9,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-9">Spells Per Day</label>
                <input id="spells-daily-level-9" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.dc.level_9,addition:+misc+temp+feat+trait,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level+spell_level+plus_ten">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell Save DC</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">

          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label">Total</p>
              <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.dc.level_9.current,type:bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_9.feat,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-feat">Feat</label>
                <input id="basics-Initiative-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_9.trait,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-trait">Trait</label>
                <input id="basics-Initiative-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_9.misc,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-misc">Misc</label>
                <input id="basics-Initiative-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_9.temp,type:integer">
                <label class="m-input-block-label js-input-block-label" for="basics-Initiative-temp">Temp</label>
                <input id="basics-Initiative-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.dc.level_9.bonuses,modalHeading:Spell Level 9 DC bonuses"
                tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Spell List</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-9">Add New Spell</label>
                <input id="add-new-spell-level-9" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-9"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
