<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-0">
  <div class="m-spell-book js-spell-book 0" data-spell-book-options="path:spells.book[0]level_0,level:#0">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Level 0</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_0,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-0">Known</label>
                <input id="spells-known-level-0" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_0,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-0">Daily</label>
                <input id="spells-daily-level-0" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_0,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-0">Bonus</label>
                <input id="spells-bonus-level-0" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_0,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-dc-level-0">DC</label>
                <input id="spells-dc-level-0" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-0">Add Spell</label>
                <input id="add-new-spell-level-0" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-0"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-1 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[1]level_1,level:#1">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Level 1</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_1,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-1">Known</label>
                <input id="spells-known-level-1" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_1,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-1">Daily</label>
                <input id="spells-daily-level-1" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_1,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-1">Bonus</label>
                <input id="spells-bonus-level-1" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_1,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-dc-level-1">DC</label>
                <input id="spells-dc-level-1" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-1">Add Spell</label>
                <input id="add-new-spell-level-1" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-1"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-2 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[2]level_2,level:#2">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Level 2</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_2,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-2">Known</label>
                <input id="spells-known-level-2" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_2,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-2">Daily</label>
                <input id="spells-daily-level-2" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_2,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-2">Bonus</label>
                <input id="spells-bonus-level-2" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_2,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-dc-level-2">DC</label>
                <input id="spells-dc-level-2" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-2">Add Spell</label>
                <input id="add-new-spell-level-2" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-2"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-3 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[3]level_3,level:#3">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Level 3</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_3,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-3">Known</label>
                <input id="spells-known-level-3" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_3,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-3">Daily</label>
                <input id="spells-daily-level-3" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_3,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-3">Bonus</label>
                <input id="spells-bonus-level-3" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_3,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-dc-level-3">DC</label>
                <input id="spells-dc-level-3" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-3">Add Spell</label>
                <input id="add-new-spell-level-3" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-3"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-4 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[4]level_4,level:#4">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Level 4</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_4,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-4">Known</label>
                <input id="spells-known-level-4" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_4,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-4">Daily</label>
                <input id="spells-daily-level-4" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_4,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-4">Bonus</label>
                <input id="spells-bonus-level-4" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_4,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-dc-level-4">DC</label>
                <input id="spells-dc-level-4" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-4">Add Spell</label>
                <input id="add-new-spell-level-4" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-4"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-5 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[5]level_5,level:#5">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Level 5</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_5,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-5">Known</label>
                <input id="spells-known-level-5" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_5,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-5">Daily</label>
                <input id="spells-daily-level-5" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_5,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-5">Bonus</label>
                <input id="spells-bonus-level-5" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_5,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-dc-level-5">DC</label>
                <input id="spells-dc-level-5" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-5">Add Spell</label>
                <input id="add-new-spell-level-5" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-5"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-6 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[6]level_6,level:#6">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Level 6</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_6,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-6">Known</label>
                <input id="spells-known-level-6" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_6,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-6">Daily</label>
                <input id="spells-daily-level-6" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_6,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-6">Bonus</label>
                <input id="spells-bonus-level-6" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_6,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-dc-level-6">DC</label>
                <input id="spells-dc-level-6" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-6">Add Spell</label>
                <input id="add-new-spell-level-6" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-6"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-7 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[7]level_7,level:#7">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Level 7</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_7,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-7">Known</label>
                <input id="spells-known-level-7" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_7,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-7">Daily</label>
                <input id="spells-daily-level-7" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_7,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-7">Bonus</label>
                <input id="spells-bonus-level-7" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_7,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-dc-level-7">DC</label>
                <input id="spells-dc-level-7" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-7">Add Spell</label>
                <input id="add-new-spell-level-7" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-7"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-8 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[8]level_8,level:#8">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Level 8</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_8,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-8">Known</label>
                <input id="spells-known-level-8" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_8,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-8">Daily</label>
                <input id="spells-daily-level-8" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_8,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-8">Bonus</label>
                <input id="spells-bonus-level-8" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_8,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-dc-level-8">DC</label>
                <input id="spells-dc-level-8" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-8">Add Spell</label>
                <input id="add-new-spell-level-8" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-8"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-level-9 is-hidden">
  <div class="m-spell-book js-spell-book" data-spell-book-options="path:spells.book[9]level_9,level:#9">

    <div class="m-edit-controls button-group button-group-right">
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:prepare" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-checked"></span><span class="button-text">Prepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:unprepare" tabindex="1"><span class="hidden-xs hidden-sm icon-refresh"></span><span class="button-text">Unprepare</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:cast" tabindex="1"><span class="hidden-xs hidden-sm icon-radio-button-unchecked"></span><span class="button-text">Cast</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:active" tabindex="1"><span class="hidden-xs hidden-sm icon-play-arrow"></span><span class="button-text">Active</span></button>
      <button type="button" class="button button-medium button-secondary button-icon js-spell-control" data-spell-control-options="action:changeState,state:remove" tabindex="1"><span class="hidden-xs hidden-sm icon-close"></span><span class="button-text">Remove</span></button>
    </div>

    <div class="button-group button-group-right">
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:reset" tabindex="1"><span class="icon-renew"></span><span class="button-text">Reset</span></button>
      <button type="button" class="button button-medium button-icon js-spell-control" data-spell-control-options="action:sort" tabindex="1"><span class="icon-sort-az"></span><span class="button-text">Sort</span></button>
    </div>

    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Level 9</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item m-edit-box-group">
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.known.level_9,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-known-level-9">Known</label>
                <input id="spells-known-level-9" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.per_day.level_9,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-daily-level-9">Daily</label>
                <input id="spells-daily-level-9" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.bonus.level_9,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-bonus-level-9">Bonus</label>
                <input id="spells-bonus-level-9" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:spells.dc.level_9,type:integer">
                <label class="m-input-block-label js-input-block-label" for="spells-dc-level-9">DC</label>
                <input id="spells-dc-level-9" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="add-new-spell-level-9">Add Spell</label>
                <input id="add-new-spell-level-9" class="m-new-spell-field m-input-block-field u-full-width js-add-new-spell-field" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button-small">
              <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-add-new-spell" tabindex="1"><span class="icon-add"></span></a>
            </div>
          </div>
        </div>
        <div class="m-edit-box-content m-edit-box-content-margin-large">
          <div class="m-edit-box-item-max">
            <div class="m-spell-book-known js-spell-book-known js-spell-book-known-level-9"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-spell-stats is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.concentration,addition:+misc+temp+feat,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Concentration</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.concentration.current,type:bonus"></p>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.concentration.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-concentration-misc">Misc</label>
              <input id="spells-concentration-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.concentration.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-concentration-temp">Temp</label>
              <input id="spells-concentration-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.concentration.feat,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-concentration-feat">Feat</label>
              <input id="spells-concentration-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.concentration.trait,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-concentration-trait">Trait</label>
              <input id="spells-concentration-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.concentration.bonuses,modalHeading:Concentration bonuses"
              tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels js-total-block" data-total-block-options="path:spells.caster_level_check,addition:+misc+temp+feat,bonuses:+str_bonus+dex_bonus+con_bonus+int_bonus+wis_bonus+cha_bonus+level+half_level">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Caster Level Check</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Total</p>
            <p class="m-edit-box-total js-text-block" data-text-block-options="path:spells.caster_level_check.current,type:bonus"></p>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.caster_level_check.misc,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-caster-level-check-misc">Misc</label>
              <input id="spells-caster-level-check-misc" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.caster_level_check.temp,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-caster-level-check-temp">Temp</label>
              <input id="spells-caster-level-check-temp" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.caster_level_check.feat,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-caster-level-check-feat">Feat</label>
              <input id="spells-caster-level-check-feat" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-small">
            <div class="m-input-block js-input-block" data-input-block-options="path:spells.caster_level_check.trait,type:integer">
              <label class="m-input-block-label js-input-block-label" for="spells-caster-level-check-trait">Trait</label>
              <input id="spells-caster-level-check-trait" class="m-input-block-field u-full-width u-text-center js-input-block-field" type="number" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-button-small">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-secondary button-large button-icon button-thin js-total-block-bonuses" data-total-block-bonuses-options="path:spells.caster_level_check.bonuses,modalHeading:Caster Level Check bonuses"
              tabindex="1"><span class="icon-more-vertical"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-no-head-small">
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item-max">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:spells.spell_notes">
            <label class="m-textarea-block-label js-textarea-block-label" for="spells-spell-notes">Spell Notes</label>
            <div id="spells-spell-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
