<div class="m-tab-panel js-tab-panel js-tab-panel-stats">

  <div class="m-edit-box m-edit-box-indent m-edit-box-no-head-small hidden-xs">
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item m-edit-box-group">

          <div class="m-edit-box-item-total">
            <p class="m-edit-box-label">Score</p>
          </div>
          <div class="m-edit-box-item-text">
            <p class="m-edit-box-label">Modifier</p>
          </div>
          <div class="m-edit-box-item-small">
            <p class="m-edit-box-label">Base</p>
          </div>
          <div class="m-edit-box-item-small">
            <p class="m-edit-box-label">Racial</p>
          </div>
          <div class="m-edit-box-item-small">
            <p class="m-edit-box-label">Enhance</p>
          </div>
          <div class="m-edit-box-item-small">
            <p class="m-edit-box-label">Misc</p>
          </div>
          <div class="m-edit-box-item-small">
            <p class="m-edit-box-label">Temp</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="js-stats" data-path="statistics.stats.str">
    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Strength</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content">

          <div class="m-edit-box-item m-edit-box-group m-edit-box-content-margin-small">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Score</p>
              <p class="m-edit-box-total js-stats-score js-text-block" data-path="statistics.stats.str.current"></p>
            </div>
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Modifier</p>
              <p class="m-edit-box-text js-text-block" data-path="statistics.stats.str.modifier" data-text-type="bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.str.base,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-str-base">Base</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-str-base" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.str.racial,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-str-racial">Racial</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-str-racial" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.str.enhancement,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-str-enhancement">Enhance</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-str-enhancement" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.str.misc,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-str-misc">Misc</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-str-misc" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.str.temp,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-str-temp">Temp</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-str-temp" type="text" tabindex="1">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="js-stats" data-path="statistics.stats.dex">
    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Dexterity</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content">

          <div class="m-edit-box-item m-edit-box-group m-edit-box-content-margin-small">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Score</p>
              <p class="m-edit-box-total js-stats-score js-text-block" data-path="statistics.stats.dex.current"></p>
            </div>
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Modifier</p>
              <p class="m-edit-box-text js-text-block" data-path="statistics.stats.dex.modifier" data-text-type="bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.dex.base,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-dex-base">Base</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-dex-base" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.dex.racial,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-dex-racial">Racial</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-dex-racial" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.dex.enhancement,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-dex-enhancement">Enhance</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-dex-enhancement" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.dex.misc,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-dex-misc">Misc</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-dex-misc" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.dex.temp,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-dex-temp">Temp</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-dex-temp" type="text" tabindex="1">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="js-stats" data-path="statistics.stats.con">
    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Constitution</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content">

          <div class="m-edit-box-item m-edit-box-group m-edit-box-content-margin-small">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Score</p>
              <p class="m-edit-box-total js-stats-score js-text-block" data-path="statistics.stats.con.current"></p>
            </div>
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Modifier</p>
              <p class="m-edit-box-text js-text-block" data-path="statistics.stats.con.modifier" data-text-type="bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.con.base,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-con-base">Base</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-con-base" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.con.racial,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-con-racial">Racial</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-con-racial" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.con.enhancement,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-con-enhancement">Enhance</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-con-enhancement" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.con.misc,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-con-misc">Misc</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-con-misc" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.con.temp,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-con-temp">Temp</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-con-temp" type="text" tabindex="1">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="js-stats" data-path="statistics.stats.int">
    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Intelligence</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content">

          <div class="m-edit-box-item m-edit-box-group m-edit-box-content-margin-small">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Score</p>
              <p class="m-edit-box-total js-stats-score js-text-block" data-path="statistics.stats.int.current"></p>
            </div>
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Modifier</p>
              <p class="m-edit-box-text js-text-block" data-path="statistics.stats.int.modifier" data-text-type="bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.int.base,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-int-base">Base</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-int-base" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.int.racial,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-int-racial">Racial</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-int-racial" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.int.enhancement,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-int-enhancement">Enhance</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-int-enhancement" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.int.misc,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-int-misc">Misc</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-int-misc" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.int.temp,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-int-temp">Temp</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-int-temp" type="text" tabindex="1">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="js-stats" data-path="statistics.stats.wis">
    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Wisdom</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content">

          <div class="m-edit-box-item m-edit-box-group m-edit-box-content-margin-small">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Score</p>
              <p class="m-edit-box-total js-stats-score js-text-block" data-path="statistics.stats.wis.current"></p>
            </div>
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Modifier</p>
              <p class="m-edit-box-text js-text-block" data-path="statistics.stats.wis.modifier" data-text-type="bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.wis.base,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-wis-base">Base</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-wis-base" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.wis.racial,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-wis-racial">Racial</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-wis-racial" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.wis.enhancement,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-wis-enhancement">Enhance</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-wis-enhancement" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.wis.misc,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-wis-misc">Misc</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-wis-misc" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.wis.temp,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-wis-temp">Temp</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-wis-temp" type="text" tabindex="1">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="js-stats" data-path="statistics.stats.cha">
    <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
      <div class="m-edit-box-head">
        <h2 class="m-edit-box-title">Charisma</h2>
      </div>
      <div class="m-edit-box-body">
        <div class="m-edit-box-content">

          <div class="m-edit-box-item m-edit-box-group m-edit-box-content-margin-small">
            <div class="m-edit-box-item-total">
              <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Score</p>
              <p class="m-edit-box-total js-stats-score js-text-block" data-path="statistics.stats.cha.current"></p>
            </div>
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Modifier</p>
              <p class="m-edit-box-text js-text-block" data-path="statistics.stats.cha.modifier" data-text-type="bonus"></p>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.cha.base,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-cha-base">Base</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-cha-base" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.cha.racial,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-cha-racial">Racial</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-cha-racial" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.cha.enhancement,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-cha-enhancement">Enhance</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-cha-enhancement" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.cha.misc,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-cha-misc">Misc</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-cha-misc" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block js-input-block" data-input-block-options="path:statistics.stats.cha.temp,type:integer">
                <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-cha-temp">Temp</label>
                <input class="m-input-block-field u-full-width u-text-center js-stats-field js-input-block-field" id="statistics-stats-cha-temp" type="text" tabindex="1">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-abilities is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Feats</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-max">
          <div class="m-textarea-block js-textarea-block">
            <div class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.feats" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Traits</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-max">
          <div class="m-textarea-block js-textarea-block">
            <div class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.traits" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Special Abilities</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-max">
          <div class="m-textarea-block js-textarea-block">
            <label class="m-textarea-block-label js-textarea-block-label" for="statistics-special-abilities"></label>
            <div class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.special_abilities" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Languages</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-max">
          <div class="m-textarea-block js-textarea-block">
            <label class="m-textarea-block-label js-textarea-block-label" for="statistics-languages"></label>
            <div class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.languages" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
