<div class="container">
  <div class="m-stat-block">
    <div class="row">
      <div class="js-stats">
        <div class="col-xs-3">
          <h2 class="m-edit-heading-sub u-inline-with-input u-no-margin">Str</h2>
        </div>
        <div class="col-xs-9 col-md-8 col-lg-7 col-xl-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-text-center u-no-margin js-input-block-field js-stats-score" id="statistics-stats-str-score" data-path="statistics.stats.str.score" data-type="number" type="text" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="m-stat-block-modifier u-background-with-input u-text-center u-no-margin u-inline-with-input u-underline-with-input js-stats-modifier js-stats-str-modifier" data-path="statistics.stats.str.modifier"></p>
            </div>
            <div class="col-xs-3">
              <div class="m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-text-center u-no-margin js-input-block-field js-stats-temp-score" id="statistics-stats-str-temp" data-path="statistics.stats.str.temp_score" data-temp-score="statistics.stats.str.temp" data-type="number" type="text" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="m-stat-block-modifier u-background-with-input u-text-center u-no-margin u-inline-with-input u-underline-with-input js-stats-temp-modifier js-stats-str-modifier-temp" data-path="statistics.stats.str.temp_modifier"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="js-stats">
        <div class="col-xs-3">
          <h2 class="m-edit-heading-sub u-inline-with-input u-no-margin">Dex</h2>
        </div>
        <div class="col-xs-9 col-md-8 col-lg-7 col-xl-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-text-center u-no-margin js-input-block-field js-stats-score" id="statistics-stats-dex-score" data-path="statistics.stats.dex.score" data-type="number" type="text" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="m-stat-block-modifier u-background-with-input u-text-center u-no-margin u-inline-with-input u-underline-with-input js-stats-modifier js-stats-dex-modifier" data-path="statistics.stats.dex.modifier"></p>
            </div>
            <div class="col-xs-3">
              <div class="m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-text-center u-no-margin js-input-block-field js-stats-temp-score" id="statistics-stats-dex-temp" data-path="statistics.stats.dex.temp_score" data-temp-score="statistics.stats.dex.temp" data-type="number" type="text" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="m-stat-block-modifier u-background-with-input u-text-center u-no-margin u-inline-with-input u-underline-with-input js-stats-temp-modifier js-stats-dex-modifier-temp" data-path="statistics.stats.dex.temp_modifier"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="js-stats">
        <div class="col-xs-3">
          <h2 class="m-edit-heading-sub u-inline-with-input u-no-margin">Con</h2>
        </div>
        <div class="col-xs-9 col-md-8 col-lg-7 col-xl-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-text-center u-no-margin js-input-block-field js-stats-score" id="statistics-stats-con-score" data-path="statistics.stats.con.score" data-type="number" type="text" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="m-stat-block-modifier u-background-with-input u-text-center u-no-margin u-inline-with-input u-underline-with-input js-stats-modifier js-stats-con-modifier" data-path="statistics.stats.con.modifier"></p>
            </div>
            <div class="col-xs-3">
              <div class="m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-text-center u-no-margin js-input-block-field js-stats-temp-score" id="statistics-stats-con-temp" data-path="statistics.stats.con.temp_score" data-temp-score="statistics.stats.con.temp" data-type="number" type="text" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="m-stat-block-modifier u-background-with-input u-text-center u-no-margin u-inline-with-input u-underline-with-input js-stats-temp-modifier js-stats-con-modifier-temp" data-path="statistics.stats.con.temp_modifier"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="js-stats">
        <div class="col-xs-3">
          <h2 class="m-edit-heading-sub u-inline-with-input u-no-margin">Int</h2>
        </div>
        <div class="col-xs-9 col-md-8 col-lg-7 col-xl-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-text-center u-no-margin js-input-block-field js-stats-score" id="statistics-stats-int-score" data-path="statistics.stats.int.score" data-type="number" type="text" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="m-stat-block-modifier u-background-with-input u-text-center u-no-margin u-inline-with-input u-underline-with-input js-stats-modifier js-stats-int-modifier" data-path="statistics.stats.int.modifier"></p>
            </div>
            <div class="col-xs-3">
              <div class="m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-text-center u-no-margin js-input-block-field js-stats-temp-score" id="statistics-stats-int-temp" data-path="statistics.stats.int.temp_score" data-temp-score="statistics.stats.int.temp" data-type="number" type="text" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="m-stat-block-modifier u-background-with-input u-text-center u-no-margin u-inline-with-input u-underline-with-input js-stats-temp-modifier js-stats-int-modifier-temp" data-path="statistics.stats.int.temp_modifier"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="js-stats">
        <div class="col-xs-3">
          <h2 class="m-edit-heading-sub u-inline-with-input u-no-margin">Wis</h2>
        </div>
        <div class="col-xs-9 col-md-8 col-lg-7 col-xl-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-text-center u-no-margin js-input-block-field js-stats-score" id="statistics-stats-wis-score" data-path="statistics.stats.wis.score" data-type="number" type="text" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="m-stat-block-modifier u-background-with-input u-text-center u-no-margin u-inline-with-input u-underline-with-input js-stats-modifier js-stats-wis-modifier" data-path="statistics.stats.wis.modifier"></p>
            </div>
            <div class="col-xs-3">
              <div class="m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-text-center u-no-margin js-input-block-field js-stats-temp-score" id="statistics-stats-wis-temp" data-path="statistics.stats.wis.temp_score" data-temp-score="statistics.stats.wis.temp" data-type="number" type="text" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="m-stat-block-modifier u-background-with-input u-text-center u-no-margin u-inline-with-input u-underline-with-input js-stats-temp-modifier js-stats-wis-modifier-temp" data-path="statistics.stats.wis.temp_modifier"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="js-stats">
        <div class="col-xs-3">
          <h2 class="m-edit-heading-sub u-inline-with-input u-no-margin">Cha</h2>
        </div>
        <div class="col-xs-9 col-md-8 col-lg-7 col-xl-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-text-center u-no-margin js-input-block-field js-stats-score" id="statistics-stats-cha-score" data-path="statistics.stats.cha.score" data-type="number" type="text" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="m-stat-block-modifier u-background-with-input u-text-center u-no-margin u-inline-with-input u-underline-with-input js-stats-modifier js-stats-cha-modifier" data-path="statistics.stats.cha.modifier"></p>
            </div>
            <div class="col-xs-3">
              <div class="m-input-block js-input-block">
                <input class="m-input-block-field u-full-width u-text-center u-no-margin js-input-block-field js-stats-temp-score" id="statistics-stats-cha-temp" data-path="statistics.stats.cha.temp_score" data-temp-score="statistics.stats.cha.temp" data-type="number" type="text" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="m-stat-block-modifier u-background-with-input u-text-center u-no-margin u-inline-with-input u-underline-with-input js-stats-temp-modifier js-stats-cha-modifier-temp" data-path="statistics.stats.cha.temp_modifier"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2 class="m-edit-heading-sub u-inline-with-input u-margin-with-input">Abilities</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12">
          <div class="m-textarea-block js-textarea-block">
            <label class="m-textarea-block-label js-textarea-block-label" for="statistics-feats">Feats</label>
            <div id="statistics-feats" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.feats" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="m-textarea-block js-textarea-block">
            <label class="m-textarea-block-label js-textarea-block-label" for="statistics-traits">Traits</label>
            <div id="statistics-feats" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.traits" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="m-textarea-block js-textarea-block">
            <label class="m-textarea-block-label js-textarea-block-label" for="statistics-special-abilities">Special Abilities</label>
            <div id="statistics-feats" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.special_abilities" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="m-textarea-block js-textarea-block">
            <label class="m-textarea-block-label js-textarea-block-label" for="statistics-languages">Languages</label>
            <div id="statistics-feats" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.languages" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
