<div class="m-edit-box m-edit-box-indent m-edit-box-no-head-small hidden-xs">
  <div class="m-edit-box-body">
    <div class="m-edit-box-content">
      <div class="m-edit-box-item-max m-edit-box-group">
        <div class="m-edit-box-item-stat">
          <p class="m-edit-box-label">Score</p>
        </div>
        <div class="m-edit-box-item-modifier">
          <p class="m-edit-box-label">Mod</p>
        </div>
        <div class="m-edit-box-item-stat">
          <p class="m-edit-box-label">Temp Score</p>
        </div>
        <div class="m-edit-box-item-modifier">
          <p class="m-edit-box-label">Temp Mod</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-stats js-stats">
  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Strength</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item-max m-edit-box-group m-edit-box-content-margin-small">
          <div class="m-edit-box-item-stat">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-str-score">Score</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-score" id="statistics-stats-str-score" data-path="statistics.stats.str.score" data-type="integer" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-modifier">
            <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Mod</p>
            <p class="m-edit-box-total js-stats-modifier js-stats-str-modifier" data-path="statistics.stats.str.modifier"></p>
          </div>
          <div class="m-edit-box-item-stat">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-str-temp-score">Score</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-temp-score" id="statistics-stats-str-temp-score" data-path="statistics.stats.str.temp_score" data-temp-score="statistics.stats.str.temp" data-type="integer" type="text"
                tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-modifier">
            <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Temp Mod</p>
            <p class="m-edit-box-total js-stats-temp-modifier js-stats-str-modifier-temp" data-path="statistics.stats.str.temp_modifier"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-stats js-stats">
  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Dexterity</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item-max m-edit-box-group m-edit-box-content-margin-small">
          <div class="m-edit-box-item-stat">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-dex-score">Score</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-score" id="statistics-stats-dex-score" data-path="statistics.stats.dex.score" data-type="integer" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-modifier">
            <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Mod</p>
            <p class="m-edit-box-total js-stats-modifier js-stats-dex-modifier" data-path="statistics.stats.dex.modifier"></p>
          </div>
          <div class="m-edit-box-item-stat">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-dex-temp-score">Score</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-temp-score" id="statistics-stats-dex-temp-score" data-path="statistics.stats.dex.temp_score" data-temp-score="statistics.stats.dex.temp" data-type="integer" type="text"
                tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-modifier">
            <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Temp Mod</p>
            <p class="m-edit-box-total js-stats-temp-modifier js-stats-dex-modifier-temp" data-path="statistics.stats.dex.temp_modifier"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-stats js-stats">
  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Constitution</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item-max m-edit-box-group m-edit-box-content-margin-small">
          <div class="m-edit-box-item-stat">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-con-score">Score</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-score" id="statistics-stats-con-score" data-path="statistics.stats.con.score" data-type="integer" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-modifier">
            <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Mod</p>
            <p class="m-edit-box-total js-stats-modifier js-stats-con-modifier" data-path="statistics.stats.con.modifier"></p>
          </div>
          <div class="m-edit-box-item-stat">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-con-temp-score">Score</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-temp-score" id="statistics-stats-con-temp-score" data-path="statistics.stats.con.temp_score" data-temp-score="statistics.stats.con.temp" data-type="integer" type="text"
                tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-modifier">
            <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Temp Mod</p>
            <p class="m-edit-box-total js-stats-temp-modifier js-stats-con-modifier-temp" data-path="statistics.stats.con.temp_modifier"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-stats js-stats">
  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Intelligence</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item-max m-edit-box-group m-edit-box-content-margin-small">
          <div class="m-edit-box-item-stat">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-int-score">Score</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-score" id="statistics-stats-int-score" data-path="statistics.stats.int.score" data-type="integer" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-modifier">
            <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Mod</p>
            <p class="m-edit-box-total js-stats-modifier js-stats-int-modifier" data-path="statistics.stats.int.modifier"></p>
          </div>
          <div class="m-edit-box-item-stat">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-int-temp-score">Score</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-temp-score" id="statistics-stats-int-temp-score" data-path="statistics.stats.int.temp_score" data-temp-score="statistics.stats.int.temp" data-type="integer" type="text"
                tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-modifier">
            <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Temp Mod</p>
            <p class="m-edit-box-total js-stats-temp-modifier js-stats-int-modifier-temp" data-path="statistics.stats.int.temp_modifier"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-stats js-stats">
  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Wisdom</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item-max m-edit-box-group m-edit-box-content-margin-small">
          <div class="m-edit-box-item-stat">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-wis-score">Score</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-score" id="statistics-stats-wis-score" data-path="statistics.stats.wis.score" data-type="integer" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-modifier">
            <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Mod</p>
            <p class="m-edit-box-total js-stats-modifier js-stats-wis-modifier" data-path="statistics.stats.wis.modifier"></p>
          </div>
          <div class="m-edit-box-item-stat">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-wis-temp-score">Score</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-temp-score" id="statistics-stats-wis-temp-score" data-path="statistics.stats.wis.temp_score" data-temp-score="statistics.stats.wis.temp" data-type="integer" type="text"
                tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-modifier">
            <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Temp Mod</p>
            <p class="m-edit-box-total js-stats-temp-modifier js-stats-wis-modifier-temp" data-path="statistics.stats.wis.temp_modifier"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-stats js-stats">
  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <h2 class="m-edit-box-title">Charisma</h2>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item-max m-edit-box-group m-edit-box-content-margin-small">
          <div class="m-edit-box-item-stat">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-cha-score">Score</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-score" id="statistics-stats-cha-score" data-path="statistics.stats.cha.score" data-type="integer" type="text" tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-modifier">
            <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Mod</p>
            <p class="m-edit-box-total js-stats-modifier js-stats-cha-modifier" data-path="statistics.stats.cha.modifier"></p>
          </div>
          <div class="m-edit-box-item-stat">
            <div class="m-input-block js-input-block">
              <label class="m-input-block-label js-input-block-label hidden-sm hidden-md hidden-lg hidden-xl" for="statistics-stats-cha-temp-score">Score</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-temp-score" id="statistics-stats-cha-temp-score" data-path="statistics.stats.cha.temp_score" data-temp-score="statistics.stats.cha.temp" data-type="integer" type="text"
                tabindex="1">
            </div>
          </div>
          <div class="m-edit-box-item-modifier">
            <p class="m-edit-box-label hidden-sm hidden-md hidden-lg hidden-xl">Temp Mod</p>
            <p class="m-edit-box-total js-stats-temp-modifier js-stats-cha-modifier-temp" data-path="statistics.stats.cha.temp_modifier"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
  <div class="m-edit-box-head">
    <p class="m-edit-box-title">Abilities</p>
  </div>
  <div class="m-edit-box-body">
    <div class="m-edit-box-content m-edit-box-content-margin-large">
      <div class="m-edit-box-item-max">
        <div class="m-textarea-block js-textarea-block">
          <label class="m-textarea-block-label js-textarea-block-label" for="statistics-feats">Feats</label>
          <div id="statistics-feats" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.feats" contentEditable="true" tabindex="1"></div>
        </div>
      </div>
      <div class="m-edit-box-item-max">
        <div class="m-textarea-block js-textarea-block">
          <label class="m-textarea-block-label js-textarea-block-label" for="statistics-traits">Traits</label>
          <div id="statistics-feats" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.traits" contentEditable="true" tabindex="1"></div>
        </div>
      </div>
      <div class="m-edit-box-item-max">
        <div class="m-textarea-block js-textarea-block">
          <label class="m-textarea-block-label js-textarea-block-label" for="statistics-special-abilities">Special Abilities</label>
          <div id="statistics-feats" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.special_abilities" contentEditable="true" tabindex="1"></div>
        </div>
      </div>
      <div class="m-edit-box-item-max">
        <div class="m-textarea-block js-textarea-block">
          <label class="m-textarea-block-label js-textarea-block-label" for="statistics-languages">Languages</label>
          <div id="statistics-feats" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.languages" contentEditable="true" tabindex="1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
