<div class="m-edit-box m-edit-box-no-head-small">
  <div class="m-edit-box-body m-edit-box-body-group">
    <div class="m-edit-box-item-small">
      <p class="m-edit-box-label">Score</p>
    </div>
    <div class="m-edit-box-item-total">
      <p class="m-edit-box-label">Mod</p>
    </div>
    <div class="m-edit-box-item-small">
      <p class="m-edit-box-label">Temp Score</p>
    </div>
    <div class="m-edit-box-item-total">
      <p class="m-edit-box-label">Temp Mod</p>
    </div>
  </div>
</div>
<div class="m-stats js-stats">
  <div class="m-edit-box">
    <div class="m-edit-box-head-small">
      <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">Str</span><span class="hidden-xs">Strength</span></h2>
    </div>
    <div class="m-edit-box-body m-edit-box-body-group m-edit-box-body-item-margin-large">
      <div class="m-edit-box-item-small">
        <div class="m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-score" id="statistics-stats-str-score" data-path="statistics.stats.str.score" data-type="number" type="text" tabindex="1">
        </div>
      </div>
      <div class="m-edit-box-item-total">
        <p class="m-stat-modifier js-stats-modifier js-stats-str-modifier" data-path="statistics.stats.str.modifier"></p>
      </div>
      <div class="m-edit-box-item-small">
        <div class="m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-temp-score" id="statistics-stats-str-temp" data-path="statistics.stats.str.temp_score" data-temp-score="statistics.stats.str.temp" data-type="number" type="text"
            tabindex="2">
        </div>
      </div>
      <div class="m-edit-box-item-total">
        <p class="m-stat-modifier js-stats-temp-modifier js-stats-str-modifier-temp" data-path="statistics.stats.str.temp_modifier"></p>
      </div>
    </div>
  </div>
</div>
<div class="m-stats js-stats">
  <div class="m-edit-box">
    <div class="m-edit-box-head-small">
      <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">Dex</span><span class="hidden-xs">Dexterity</span></h2>
    </div>
    <div class="m-edit-box-body m-edit-box-body-group m-edit-box-body-item-margin-large">
      <div class="m-edit-box-item-small">
        <div class="m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-score" id="statistics-stats-dex-score" data-path="statistics.stats.dex.score" data-type="number" type="text" tabindex="1">
        </div>
      </div>
      <div class="m-edit-box-item-total">
        <p class="m-stat-modifier js-stats-modifier js-stats-dex-modifier" data-path="statistics.stats.dex.modifier"></p>
      </div>
      <div class="m-edit-box-item-small">
        <div class="m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-temp-score" id="statistics-stats-dex-temp" data-path="statistics.stats.dex.temp_score" data-temp-score="statistics.stats.dex.temp" data-type="number" type="text"
            tabindex="2">
        </div>
      </div>
      <div class="m-edit-box-item-total">
        <p class="m-stat-modifier js-stats-temp-modifier js-stats-dex-modifier-temp" data-path="statistics.stats.dex.temp_modifier"></p>
      </div>
    </div>
  </div>
</div>
<div class="m-stats js-stats">
  <div class="m-edit-box">
    <div class="m-edit-box-head-small">
      <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">Con</span><span class="hidden-xs">Constitution</span></h2>
    </div>
    <div class="m-edit-box-body m-edit-box-body-group m-edit-box-body-item-margin-large">
      <div class="m-edit-box-item-small">
        <div class="m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-score" id="statistics-stats-con-score" data-path="statistics.stats.con.score" data-type="number" type="text" tabindex="1">
        </div>
      </div>
      <div class="m-edit-box-item-total">
        <p class="m-stat-modifier js-stats-modifier js-stats-con-modifier" data-path="statistics.stats.con.modifier"></p>
      </div>
      <div class="m-edit-box-item-small">
        <div class="m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-temp-score" id="statistics-stats-con-temp" data-path="statistics.stats.con.temp_score" data-temp-score="statistics.stats.con.temp" data-type="number" type="text"
            tabindex="2">
        </div>
      </div>
      <div class="m-edit-box-item-total">
        <p class="m-stat-modifier js-stats-temp-modifier js-stats-con-modifier-temp" data-path="statistics.stats.con.temp_modifier"></p>
      </div>
    </div>
  </div>
</div>
<div class="m-stats js-stats">
  <div class="m-edit-box">
    <div class="m-edit-box-head-small">
      <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">Int</span><span class="hidden-xs">Intelligence</span></h2>
    </div>
    <div class="m-edit-box-body m-edit-box-body-group m-edit-box-body-item-margin-large">
      <div class="m-edit-box-item-small">
        <div class="m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-score" id="statistics-stats-int-score" data-path="statistics.stats.int.score" data-type="number" type="text" tabindex="1">
        </div>
      </div>
      <div class="m-edit-box-item-total">
        <p class="m-stat-modifier js-stats-modifier js-stats-int-modifier" data-path="statistics.stats.int.modifier"></p>
      </div>
      <div class="m-edit-box-item-small">
        <div class="m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-temp-score" id="statistics-stats-int-temp" data-path="statistics.stats.int.temp_score" data-temp-score="statistics.stats.int.temp" data-type="number" type="text"
            tabindex="2">
        </div>
      </div>
      <div class="m-edit-box-item-total">
        <p class="m-stat-modifier js-stats-temp-modifier js-stats-int-modifier-temp" data-path="statistics.stats.int.temp_modifier"></p>
      </div>
    </div>
  </div>
</div>
<div class="m-stats js-stats">
  <div class="m-edit-box">
    <div class="m-edit-box-head-small">
      <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">Wis</span><span class="hidden-xs">Wisdom</span></h2>
    </div>
    <div class="m-edit-box-body m-edit-box-body-group m-edit-box-body-item-margin-large">
      <div class="m-edit-box-item-small">
        <div class="m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-score" id="statistics-stats-wis-score" data-path="statistics.stats.wis.score" data-type="number" type="text" tabindex="1">
        </div>
      </div>
      <div class="m-edit-box-item-total">
        <p class="m-stat-modifier js-stats-modifier js-stats-wis-modifier" data-path="statistics.stats.wis.modifier"></p>
      </div>
      <div class="m-edit-box-item-small">
        <div class="m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-temp-score" id="statistics-stats-wis-temp" data-path="statistics.stats.wis.temp_score" data-temp-score="statistics.stats.wis.temp" data-type="number" type="text"
            tabindex="2">
        </div>
      </div>
      <div class="m-edit-box-item-total">
        <p class="m-stat-modifier js-stats-temp-modifier js-stats-wis-modifier-temp" data-path="statistics.stats.wis.temp_modifier"></p>
      </div>
    </div>
  </div>
</div>
<div class="m-stats js-stats">
  <div class="m-edit-box">
    <div class="m-edit-box-head-small">
      <h2 class="m-edit-box-title"><span class="hidden-sm hidden-md hidden-lg hidden-xl">Cha</span><span class="hidden-xs">Charisma</span></h2>
    </div>
    <div class="m-edit-box-body m-edit-box-body-group m-edit-box-body-item-margin-large">
      <div class="m-edit-box-item-small">
        <div class="m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-score" id="statistics-stats-cha-score" data-path="statistics.stats.cha.score" data-type="number" type="text" tabindex="1">
        </div>
      </div>
      <div class="m-edit-box-item-total">
        <p class="m-stat-modifier js-stats-modifier js-stats-cha-modifier" data-path="statistics.stats.cha.modifier"></p>
      </div>
      <div class="m-edit-box-item-small">
        <div class="m-input-block js-input-block">
          <input class="m-input-block-field u-full-width u-text-center js-input-block-field js-stats-temp-score" id="statistics-stats-cha-temp" data-path="statistics.stats.cha.temp_score" data-temp-score="statistics.stats.cha.temp" data-type="number" type="text"
            tabindex="2">
        </div>
      </div>
      <div class="m-edit-box-item-total">
        <p class="m-stat-modifier js-stats-temp-modifier js-stats-cha-modifier-temp" data-path="statistics.stats.cha.temp_modifier"></p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="m-edit-box">
  <div class="m-edit-box-head-small">
    <h2 class="m-edit-box-title-with-label">Abilities</h2>
  </div>
  <div class="m-edit-box-body m-edit-box-body-item-margin-large">
    <div class="m-edit-box-item-max">
      <div class="m-textarea-block js-textarea-block">
        <label class="m-textarea-block-label js-textarea-block-label" for="statistics-feats">Feats</label>
        <div id="statistics-feats" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.feats" contentEditable="true" tabindex="3"></div>
      </div>
    </div>
    <div class="m-edit-box-item-max">
      <div class="m-textarea-block js-textarea-block">
        <label class="m-textarea-block-label js-textarea-block-label" for="statistics-traits">Traits</label>
        <div id="statistics-feats" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.traits" contentEditable="true" tabindex="3"></div>
      </div>
    </div>
    <div class="m-edit-box-item-max">
      <div class="m-textarea-block js-textarea-block">
        <label class="m-textarea-block-label js-textarea-block-label" for="statistics-special-abilities">Special Abilities</label>
        <div id="statistics-feats" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.special_abilities" contentEditable="true" tabindex="3"></div>
      </div>
    </div>
    <div class="m-edit-box-item-max">
      <div class="m-textarea-block js-textarea-block">
        <label class="m-textarea-block-label js-textarea-block-label" for="statistics-languages">Languages</label>
        <div id="statistics-feats" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="statistics.languages" contentEditable="true" tabindex="3"></div>
      </div>
    </div>
  </div>
</div>
