<div class="m-character-select js-character-select">
  <ul class="m-character-select-list js-character-select-list"></ul>
  <ul class="m-character-select-control">
    <li class="m-character-select-control-item">
      <a href="javascript:void(0)" class="m-character-select-control-link js-header-control-button-import" tabindex="1">
        <span class="icon-file-upload"></span>
        <span class="m-character-select-control-link-text">Import</span>
      </a>
    </li>
    <li class="m-character-select-control-item">
      <a href="javascript:void(0)" class="m-character-select-control-link js-header-control-button-export" tabindex="1">
        <span class="icon-file-download"></span>
        <span class="m-character-select-control-link-text">Export/Backup</span>
      </a>
    </li>
    <li class="m-character-select-control-item">
      <a href="javascript:void(0)" class="m-character-select-control-link js-header-control-button-add" tabindex="1">
        <span class="icon-add"></span>
        <span class="m-character-select-control-link-text">Add Character</span>
      </a>
    </li>
    <li class="m-character-select-control-item">
      <a href="javascript:void(0)" class="m-character-select-control-link js-header-control-button-remove" tabindex="1">
        <span class="icon-remove"></span>
        <span class="m-character-select-control-link-text">Remove Character</span>
      </a>
    </li>
  </ul>
</div>
