<div class="m-character-select js-character-select">
  <ul class="m-character-select-list js-character-select-list"></ul>
  <ul class="m-character-select-control">
    <li class="m-character-select-control-item">
      <a href="javascript:void(0)" class="m-character-select-control-link js-character-select-add" tabindex="1">
        <span class="icon-add"></span>
        <span class="m-character-select-control-link-text">Add Character</span>
      </a>
    </li>
    <li class="m-character-select-control-item">
      <a href="javascript:void(0)" class="m-character-select-control-link js-character-select-remove" tabindex="1">
        <span class="icon-remove"></span>
        <span class="m-character-select-control-link-text">Remove Character</span>
      </a>
    </li>
    <li class="m-character-select-control-item">
      <a href="javascript:void(0)" class="m-character-select-control-link js-character-select-import" tabindex="1">
        <span class="icon-file-upload"></span>
        <span class="m-character-select-control-link-text">Import</span>
        <span class="m-character-select-control-link-shortcut hidden-xs hidden-sm hidden-md">ctrl + alt + i</span>
      </a>
    </li>
    <li class="m-character-select-control-item">
      <a href="javascript:void(0)" class="m-character-select-control-link js-character-select-export" tabindex="1">
        <span class="icon-file-download"></span>
        <span class="m-character-select-control-link-text">Export</span>
        <span class="m-character-select-control-link-shortcut hidden-xs hidden-sm hidden-md">ctrl + alt + e</span>
      </a>
    </li>
    <li class="m-character-select-control-item">
      <a href="javascript:void(0)" class="m-character-select-control-link js-character-select-update" tabindex="1">
        <span class="icon-refresh"></span>
        <span class="m-character-select-control-link-text">Replace</span>
        <span class="m-character-select-control-link-shortcut hidden-xs hidden-sm hidden-md">ctrl + alt + r</span>
      </a>
    </li>
  </ul>
</div>
