<section id="defense" class="l-section js-section">
  <div class="m-section-heading js-section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Defense</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="m-section-wrapper">
    <div class="container">
      <div class="js-total-block">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <h2 class="m-section-heading-sub u-inline-with-input">Hit Points <span class="js-total-block-total" data-path="defense.hp.current"></span></h2>
          </div>
          <div class="col-xs-12 col-md-9">
            <div class="row no-gutter">
              <div class="col-xs-6 col-md-2">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-hp-total">Total HP</label>
                  <input id="defense-hp-total" class="m-input-block-field u-full-width js-input-block-field" data-total="addition" data-path="defense.hp.total" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6 col-md-2">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-hp-temp">Temp HP</label>
                  <input id="defense-hp-temp" class="m-input-block-field u-full-width js-input-block-field" data-total="addition" data-path="defense.hp.temp" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6 col-md-4">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-hp-damage">Damage</label>
                  <input id="defense-hp-damage" class="m-input-block-field u-full-width js-input-block-field" data-total="subtract" data-path="defense.hp.damage" type="number" tabindex="3"> {{!--
                  <div class="input-controls">
                    <button class="button button-small button-tertiary minus" data-minus="defense-hp-damage"><span class="icon-remove"></span></button>
                    <button class="button button-small button-tertiary add" data-add="defense-hp-damage"><span class="icon-add"></span></button>
                  </div>
                  --}}
                </div>
              </div>
              <div class="col-xs-6 col-md-4">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-hp-non-lethal-damage">Nonlethal Damage</label>
                  <input id="defense-hp-non-lethal-damage" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.hp.non_lethal_damage" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-md-9 col-md-offset-3">
          <div class="row no-gutter">
            <div class="col-xs-2">
              <div class="m-input-block js-input-block">
                <label class="m-input-block-label js-input-block-label" for="defense-ac-armor">Armor</label>
                <input id="defense-ac-armor" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.ac.armor" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="m-input-block js-input-block">
                <label class="m-input-block-label js-input-block-label" for="defense-ac-shield">Shield</label>
                <input id="defense-ac-shield" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.ac.shield" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="m-input-block js-input-block">
                <label class="m-input-block-label js-input-block-label" for="defense-ac-deflect">Deflect</label>
                <input id="defense-ac-deflect" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.ac.deflect" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="m-input-block js-input-block">
                <label class="m-input-block-label js-input-block-label" for="defense-ac-dodge">Dodge</label>
                <input id="defense-ac-dodge" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.ac.dodge" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="m-input-block js-input-block">
                <label class="m-input-block-label js-input-block-label" for="defense-ac-natural">Natural</label>
                <input id="defense-ac-natural" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.ac.natural" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="m-input-block js-input-block">
                <label class="m-input-block-label js-input-block-label" for="defense-ac-size-bonus">Size</label>
                <input id="defense-ac-size-bonus" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.ac.size_bonus" type="number" tabindex="3">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="js-total-block" data-plus-ten-bonus="true" data-ac-armor="true" data-ac-shield="true" data-ac-deflect="true" data-ac-dodge="true" data-ac-natural="true" data-size-bonus="true">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <h2 class="m-section-heading-sub u-inline-with-input">AC <span class="js-total-block-total" data-path="defense.ac.current"></span></h2>
          </div>
          <div class="col-xs-8 col-md-6">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-ac-misc">Misc</label>
                  <input id="defense-ac-misc" class="m-input-block-field u-full-width js-input-block-field" data-total="addition" data-path="defense.ac.misc" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-ac-temp">Temp</label>
                  <input id="defense-ac-temp" class="m-input-block-field u-full-width js-input-block-field" data-total="addition" data-path="defense.ac.temp" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-md-3">
            <a href="javascript:void(0)" class="button button-medium button-block js-total-block-bonuses" data-bonus-path="defense.ac.bonuses">Bonuses</a>
          </div>
        </div>
      </div>
      <div class="js-total-block" data-plus-ten-bonus="true" data-ac-armor="true" data-ac-shield="true" data-ac-deflect="true" data-ac-natural="true" data-size-bonus="true">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <h2 class="m-section-heading-sub u-inline-with-input"><span class="hidden-xs">Flat Footed</span><span class="visible-xs-inline">FF AC</span> <span class="js-total-block-total" data-path="defense.flat_footed.current"></span></h2>
          </div>
          <div class="col-xs-8 col-md-6">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-flat-footed-misc">Misc</label>
                  <input id="defense-flat-footed-misc" class="m-input-block-field u-full-width js-input-block-field" data-total="addition" data-path="defense.flat_footed.misc" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-flat-footed-temp">Temp</label>
                  <input id="defense-flat-footed-temp" class="m-input-block-field u-full-width js-input-block-field" data-total="addition" data-path="defense.flat_footed.temp" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-md-3">
            <a href="javascript:void(0)" class="button button-medium button-block js-total-block-bonuses" data-bonus-path="defense.flat_footed.bonuses">Bonuses</a>
          </div>
        </div>
      </div>
      <div class="js-total-block" data-plus-ten-bonus="true" data-ac-deflect="true" data-ac-dodge="true" data-size-bonus="true">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <h2 class="m-section-heading-sub u-inline-with-input"><span class="hidden-xs">Touch</span><span class="visible-xs-inline">T AC</span> <span class="js-total-block-total" data-path="defense.touch.current"></span></h2>
          </div>
          <div class="col-xs-8 col-md-6">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-touch-misc">Misc</label>
                  <input id="defense-touch-misc" class="m-input-block-field u-full-width js-input-block-field" data-total="addition" data-path="defense.touch.misc" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-touch-temp">Temp</label>
                  <input id="defense-touch-temp" class="m-input-block-field u-full-width js-input-block-field" data-total="addition" data-path="defense.touch.temp" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-md-3">
            <a href="javascript:void(0)" class="button button-medium button-block js-total-block-bonuses" data-bonus-path="defense.touch.bonuses">Bonuses</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-9 col-lg-offset-3">
          <div class="m-textarea-block js-textarea-block">
            <label class="m-textarea-block-label js-textarea-block-label" for="defense-ac-notes">Notes</label>
            <div id="defense-ac-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="defense.ac_notes" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
      </div>
      <hr>
      <div class="js-total-block" data-con-bonus="true">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <h2 class="m-section-heading-sub u-inline-with-input"><span class="hidden-xs">Fortitude</span><span class="visible-xs-inline">Fort</span> <span class="js-total-block-total" data-path="defense.fortitude.current"></span></h2>
          </div>
          <div class="col-xs-8 col-md-6">
            <div class="row no-gutter">
              <div class="col-xs-2">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-fortitude-base">Base</label>
                  <input id="defense-fortitude-base" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.fortitude.base" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-fortitude-racial">Racial</label>
                  <input id="defense-fortitude-racial" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.fortitude.racial" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-fortitude-resistance">Resistance</label>
                  <input id="defense-fortitude-resistance" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.fortitude.resistance" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-fortitude-misc">Misc</label>
                  <input id="defense-fortitude-misc" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.fortitude.misc" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-fortitude-temp">Temp</label>
                  <input id="defense-fortitude-temp" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.fortitude.temp" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-md-3">
            <a href="javascript:void(0)" class="button button-medium button-block js-total-block-bonuses" data-bonus-path="defense.fortitude.bonuses">Bonuses</a>
          </div>
        </div>
      </div>
      <div class="js-total-block" data-dex-bonus="true">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <h2 class="m-section-heading-sub u-inline-with-input"><span class="hidden-xs">Reflex</span><span class="visible-xs-inline">Ref</span> <span class="js-total-block-total" data-path="defense.reflex.current"></span></h2>
          </div>
          <div class="col-xs-8 col-md-6">
            <div class="row no-gutter">
              <div class="col-xs-2">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-reflex-base">Base</label>
                  <input id="defense-reflex-base" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.reflex.base" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-reflex-racial">Racial</label>
                  <input id="defense-reflex-racial" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.reflex.racial" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-reflex-resistance">Resistance</label>
                  <input id="defense-reflex-resistance" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.reflex.resistance" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-reflex-misc">Misc</label>
                  <input id="defense-reflex-misc" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.reflex.misc" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-reflex-temp">Temp</label>
                  <input id="defense-reflex-temp" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.reflex.temp" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-md-3">
            <a href="javascript:void(0)" class="button button-medium button-block js-total-block-bonuses" data-bonus-path="defense.reflex.bonuses">Bonuses</a>
          </div>
        </div>
      </div>
      <div class="js-total-block" data-wis-bonus="true">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <h2 class="m-section-heading-sub u-inline-with-input"><span class="hidden-xs">Will</span><span class="visible-xs-inline">Wil</span> <span class="js-total-block-total" data-path="defense.will.current"></span></h2>
          </div>
          <div class="col-xs-8 col-md-6">
            <div class="row no-gutter">
              <div class="col-xs-2">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-will-base">Base</label>
                  <input id="defense-will-base" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.will.base" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-will-racial">Racial</label>
                  <input id="defense-will-racial" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.will.racial" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-will-resistance">Resistance</label>
                  <input id="defense-will-resistance" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.will.resistance" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-will-misc">Misc</label>
                  <input id="defense-will-misc" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.will.misc" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="m-input-block js-input-block">
                  <label class="m-input-block-label js-input-block-label" for="defense-will-temp">Temp</label>
                  <input id="defense-will-temp" class="m-input-block-field u-full-width js-input-block-field" data-path="defense.will.temp" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-md-3">
            <a href="javascript:void(0)" class="button button-medium button-block js-total-block-bonuses" data-bonus-path="defense.will.bonuses">Bonuses</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-9 col-lg-offset-3">
          <div class="m-textarea-block js-textarea-block">
            <label class="m-textarea-block-label js-textarea-block-label" for="defense-save-notes">Notes</label>
            <div id="defense-save-notes" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="defense.save_notes" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
