<section id="display" class="l-section l-section-display">
  <div class="container">
    <div class="m-display-block js-display-block">
      <div class="row">
        <div class="col-xs-2">
          <span class="icon-account-circle"></span>
        </div>
        <div class="col-xs-10">
          <h1 class="js-display-item" data-path="basics.name"><span class="js-display-target"></span></h1>
          <p>
            <strong class="js-display-item" data-path="basics.race"><span class="js-display-target"></span> </strong><strong class="js-display-item" data-path="basics.class"><span class="js-display-target"></span> </strong><strong class="js-display-item" data-path="basics.level"><span class="js-display-target"></span></strong>
          </p>
          <p class="u-small-text">
            <span class="js-display-item" data-path="basics.xp"><span class="js-display-target"></span> xp</span><span class="js-display-item" data-path="basics.height">, <span class="js-display-target"></span> tall</span><span class="js-display-item" data-path="basics.weight">, <span class="js-display-target"></span></span><span class="js-display-item" data-path="basics.age">, <span class="js-display-target"></span> years old</span><span class="js-display-item" data-path="basics.gender">, <span class="js-display-target"></span></span><span class="js-display-item" data-path="basics.hero_points">, <span class="js-display-target"></span> hero points</span><span class="js-display-item" data-path="basics.luck_points">, <span class="js-display-target"></span> luck points</span>
          </p>
          <p>
            <span class="js-display-item" data-path="statistics.stats.str.score"><strong>Str</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="statistics.stats.str.temp">, <strong>Str Temp</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="statistics.stats.dex.score">, <strong>Dex</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="statistics.stats.dex.temp">, <strong>Dex Temp</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="statistics.stats.con.score">, <strong>Con</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="statistics.stats.con.temp">, <strong>Con Temp</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="statistics.stats.int.score">, <strong>Int</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="statistics.stats.int.temp">, <strong>Int Temp</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="statistics.stats.wis.score">, <strong>Wis</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="statistics.stats.wis.temp">, <strong>Wis Temp</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="statistics.stats.cha.score">, <strong>Cha</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="statistics.stats.cha.temp">, <strong>Cha Temp</strong> <span class="js-display-target"></span></span>
          </p>
          <p>
            <span class="js-display-item" data-path="statistics.feats"><strong>Feats</strong> <span class="js-display-target"></span></span>
          </p>
          <p>
            <span class="js-display-item" data-path="statistics.traits"><strong>Traits</strong> <span class="js-display-target"></span></span>
          </p>
          <p>
            <span class="js-display-item" data-path="statistics.special_abilities"><strong>Special Abilities</strong> <span class="js-display-target"></span></span>
          </p>
          <p>
            <span class="js-display-item" data-path="statistics.languages"><strong>Languages</strong> <span class="js-display-target"></span></span>
          </p>
          <p>
            <span class="js-display-item" data-path="equipment.gear"><strong>Gear</strong> <span class="js-display-target"></span></span>
          </p>
          <p>
            <span class="js-display-item" data-path="equipment.magic_gear"><strong>Magic Gear</strong> <span class="js-display-target"></span></span>
          </p>
          <p>
            <span class="js-display-item" data-path="equipment.body_slots.armor"><strong>Armor</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.belts"><strong>Belts</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.body"><strong>Body</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.chest"><strong>Chest</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.eyes"><strong>Eyes</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.feet"><strong>Feet</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.hands"><strong>Hands</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.head"><strong>Head</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.headband"><strong>Headband</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.neck"><strong>Neck</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.ring_left_hand"><strong>Ring (Left Hand)</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.ring_right_hand"><strong>Ring (Right Hand)</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.shield"><strong>Shield</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.shoulders"><strong>Shoulders</strong> <span class="js-display-target"></span> </span><span class="js-display-item" data-path="equipment.body_slots.wrist"><strong>Wrist</strong> <span class="js-display-target"></span> </span>
          </p>
          <p>
            <span class="js-display-item" data-path="equipment.encumbrance.light"><strong>Light Load</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="equipment.encumbrance.medium"><strong>Medium Load</strong> <span class="js-display-target"></span></span><span class="js-display-item" data-path="equipment.encumbrance.heavy"><strong>Heavy Load</strong> <span class="js-display-target"></span></span>
          </p>
          <p>
            <span class="js-display-item" data-path="equipment.wealth.platinum"> <span class="js-display-target"></span> <strong>Platinum</strong></span><span class="js-display-item" data-path="equipment.wealth.gold"> <span class="js-display-target"></span> <strong>Gold</strong></span><span class="js-display-item" data-path="equipment.wealth.silver"> <span class="js-display-target"></span> <strong>Silver</strong></span><span class="js-display-item" data-path="equipment.wealth.copper"> <span class="js-display-target"></span> <strong>Copper</strong></span>
          </p>
          <p>
            <span class="js-display-item" data-path="defense.hp.total"><strong>Hit Points</strong> <span class="js-display-target"></span></span>
            <span class="js-display-item" data-path="defense.hp.damage"><strong>Damage</strong> <span class="js-display-target"></span></span>
            <span class="js-display-item" data-path="defense.hp.non_lethal_damage"><strong>Nonlethal Damage</strong> <span class="js-display-target"></span></span>
          </p>



        </div>
      </div>
    </div>
  </div>
</section>
