<section class="l-section l-section-display l-section-display-head is-hidden js-section-display">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="m-display-head">

          <div class="m-display-head-item">
            <p class="m-display-head-item-title js-display-block" data-display-type="text-snippet" data-display="basics.gender,basics.race,basics.class,basics.level">
              <span class="js-display-block-target"></span>
            </p>
            <h1 class="m-display-head-item-value js-display-block" data-display-type="text-snippet" data-display="basics.name">
              <span class="js-display-block-target"></span>
            </h1>
          </div>

        </div>

        <div class="m-display-head">

          <div class="m-display-head-item">
            <p class="m-display-head-item-title">Speed</p>
            <h2 class="m-display-head-item-value js-display-block" data-display-type="text-snippet" data-display="basics.speed">
              <span class="js-display-block-target"></span>
            </h2>
          </div>

          <div class="m-display-head-item">
            <p class="m-display-head-item-title">Perception</p>
            <h2 class="m-display-head-item-value js-display-block" data-display-type="text-snippet" data-display="skills.perception.current">
              <span class="js-display-block-target"></span>
            </h2>
          </div>

          <div class="m-display-head-item">
            <p class="m-display-head-item-title">Initiative</p>
            <h2 class="m-display-head-item-value js-display-block" data-display-type="text-snippet" data-display="basics.initiative">
              <span class="js-display-block-target"></span>
            </h2>
          </div>

          <div class="m-display-head-item">
            <p class="m-display-head-item-title">AC</p>
            <h2 class="m-display-head-item-value js-display-block" data-display-type="text-snippet" data-display="defense.ac.current">
              <span class="js-display-block-target"></span>
            </h2>
          </div>

          <div class="m-display-head-item m-display-head-item-highlight">
            <p class="m-display-head-item-title">HP</p>
            <h2 class="m-display-head-item-value">
              <div class="m-display-head-hitpoints">
                <span class="m-display-head-hitpoints-current js-display-block" data-display-type="text-snippet" data-display="defense.hp.current">
                  <span class="js-display-block-target"></span>
                </span>
                <span class="m-display-head-hitpoints-total js-display-block" data-display-type="text-snippet" data-display="defense.hp.total">
                  <span class="js-display-block-target"></span>
                </span>
              </div>
            </h2>
          </div>

        </div>

        <div class="m-display-body">
          <p class="js-display-block" data-display-type="text-snippet" data-display="basics.xp,basics.size,basics.height,basics.weight,basics.age,basics.hero_points,basics.luck_points" data-display-suffix="xp,, tall,, years old, hero points, luck points">
            <span class="js-display-block-target"></span>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="l-section l-section-display l-section-display-body is-hidden js-section-display">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="m-display-body">
          <p class="m-display-body-title">Statistics</p>
          <ul class="m-display-grid-3-col u-list-unstyled">
            <li class="m-display-col">
              <div class="m-display-item">

                <div class="m-display-statistics-item">
                  <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.str.score">
                    <span class="js-display-block-target"></span>
                  </p>
                  <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Str</span><span class="hidden-sm">Strength</span></p>
                  <h3 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.str.modifier">
                    <span class="js-display-block-target"></span>
                  </h3>
                </div>

              </div>
            </li>
            <li class="m-display-col">
              <div class="m-display-item">

                <div class="m-display-statistics-item">
                  <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.dex.score">
                    <span class="js-display-block-target"></span>
                  </p>
                  <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Dex</span><span class="hidden-sm">Dexterity</span></p>
                  <h3 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.dex.modifier">
                    <span class="js-display-block-target"></span>
                  </h3>
                </div>

              </div>
            </li>
            <li class="m-display-col">
              <div class="m-display-item">

                <div class="m-display-statistics-item">
                  <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.con.score">
                    <span class="js-display-block-target"></span>
                  </p>
                  <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Con</span><span class="hidden-sm">Constitution</span></p>
                  <h3 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.con.modifier">
                    <span class="js-display-block-target"></span>
                  </h3>
                </div>

              </div>
            </li>
            <li class="m-display-col">
              <div class="m-display-item">

                <div class="m-display-statistics-item">
                  <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.int.score">
                    <span class="js-display-block-target"></span>
                  </p>
                  <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Int</span><span class="hidden-sm">Intelligence</span></p>
                  <h3 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.int.modifier">
                    <span class="js-display-block-target"></span>
                  </h3>
                </div>

              </div>
            </li>
            <li class="m-display-col">
              <div class="m-display-item">

                <div class="m-display-statistics-item">
                  <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.wis.score">
                    <span class="js-display-block-target"></span>
                  </p>
                  <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Wis</span><span class="hidden-sm">Wisdom</span></p>
                  <h3 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.wis.modifier">
                    <span class="js-display-block-target"></span>
                  </h3>
                </div>

              </div>
            </li>
            <li class="m-display-col">
              <div class="m-display-item">

                <div class="m-display-statistics-item">
                  <p class="m-display-statistics-item-score js-display-block" data-display-type="stat" data-display="statistics.stats.cha.score">
                    <span class="js-display-block-target"></span>
                  </p>
                  <p class="m-display-statistics-item-title"><span class="hidden-xs hidden-md hidden-lg hidden-xl">Cha</span><span class="hidden-sm">Charisma</span></p>
                  <h3 class="m-display-statistics-item-value js-display-block" data-display-type="modifier" data-display="statistics.stats.cha.modifier">
                    <span class="js-display-block-target"></span>
                  </h3>
                </div>

              </div>
            </li>
          </ul>
        </div>

        <div class="m-display-body">
          <p class="m-display-body-title">Feats</p>
          <p class="js-display-block" data-display-type="text-block" data-display="statistics.feats">
            <span class="js-display-block-target"></span>
          </p>
          <p class="m-display-body-title">Traits</p>
          <p class="js-display-block" data-display-type="text-block" data-display="statistics.traits">
            <span class="js-display-block-target"></span>
          </p>
          <p class="m-display-body-title">Special Abilities</p>
          <p class="js-display-block" data-display-type="text-block" data-display="statistics.special_abilities">
            <span class="js-display-block-target"></span>
          </p>
          <p class="m-display-body-title">Languages</p>
          <p class="js-display-block" data-display-type="text-block" data-display="statistics.languages">
            <span class="js-display-block-target"></span>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="l-section l-section-display l-section-display-body is-hidden js-section-display">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="m-display-body">
          <p class="m-display-body-title">Gear</p>
          <p class="js-display-block" data-display-type="text-block" data-display="equipment.gear">
            <span class="js-display-block-target"></span>
          </p>
          <p class="m-display-body-title">Magic Gear</p>
          <p class="js-display-block" data-display-type="text-block" data-display="equipment.magic_gear">
            <span class="js-display-block-target"></span>
          </p>
        </div>

        <div class="m-display-body">
          <p class="m-display-body-title">Body Slots</p>
          <ul class="m-display-grid-3-col u-list-unstyled js-display-block" data-display-type="list" data-display="equipment.body_slots.armor,equipment.body_slots.belts,equipment.body_slots.body,equipment.body_slots.chest,equipment.body_slots.eyes,equipment.body_slots.feet,equipment.body_slots.hands,equipment.body_slots.head,equipment.body_slots.headband,equipment.body_slots.neck,equipment.body_slots.ring_left_hand,equipment.body_slots.ring_right_hand,equipment.body_slots.shield,equipment.body_slots.shoulders,equipment.body_slots.wrist" data-display-prefix="Armor ,Belts ,Body ,Chest ,Eyes ,Feet ,Hands ,Head ,Headband ,Neck ,Ring (Left Hand) ,Ring (Right Hand) ,Shield ,Shoulders ,Wrist ">
          </ul>
        </div>

        <div class="m-display-body">
          <p class="m-display-body-title">Wealth</p>
          <p class="js-display-block" data-display-type="text-snippet" data-display="equipment.wealth.platinum,equipment.wealth.gold,equipment.wealth.silver,equipment.wealth.copper" data-display-suffix=" pp, gp, sp, cp">
            <span class="js-display-block-target"></span>
          </p>
        </div>

        <div class="m-display-body">
          <p class="m-display-body-title">Consumables</p>
          <ul class="m-display-grid-3-col u-list-unstyled js-display-block" data-display-type="clone" data-display="equipment.consumable">
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="l-section l-section-display l-section-display-body is-hidden js-section-display">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="m-display-body">
          <p class="m-display-body-title">Defense</p>
          <p class="js-display-block" data-display-type="text-snippet" data-display="defense.ac.current,defense.flat_footed.current,defense.touch.current" data-display-prefix="AC ,Flat Footed ,Touch ">
            <span class="js-display-block-target"></span>
          </p>
          <p class="js-display-block" data-display-type="text-snippet" data-display="defense.ac_notes" data-display-title="Notes ">
            <span class="js-display-block-target"></span>
          </p>
        </div>

        <div class="m-display-body">
          <p class="m-display-body-title">Saves</p>
          <ul class="m-display-grid-3-col u-list-unstyled">
            <li class="m-display-col">

              <div class="m-display-item m-display-item-col">
                <span class="m-display-item-prefix">Fortitude</span>
                <span class="m-display-item-value js-display-block" data-display-type="text-snippet" data-display="defense.fortitude.current">
                  <span class="js-display-block-target"></span>
                </span>
              </div>

            </li>
            <li class="m-display-col">

              <div class="m-display-item m-display-item-col">
                <span class="m-display-item-prefix">Reflex</span>
                <span class="m-display-item-value js-display-block" data-display-type="text-snippet" data-display="defense.reflex.current">
                  <span class="js-display-block-target"></span>
                </span>
              </div>

            </li>
            <li class="m-display-col">

              <div class="m-display-item m-display-item-col">
                <span class="m-display-item-prefix">Will</span>
                <span class="m-display-item-value js-display-block" data-display-type="text-snippet" data-display="defense.will.current">
                  <span class="js-display-block-target"></span>
                </span>
              </div>

            </li>
          </ul>
        </div>

        <div class="m-display-body">
          <p class="js-display-block" data-display-type="text-snippet" data-display="defense.save_notes" data-display-title="Notes ">
            <span class="js-display-block-target"></span>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="l-section l-section-display l-section-display-body is-hidden js-section-display">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="m-display-body">
          <p class="m-display-body-title">Offense</p>
          <p class="js-display-block" data-display-type="text-snippet" data-display="offense.base_attack,offense.cmb.current,offense.cmd.current,offense.melee_attack.current,offense.ranged_attack.current" data-display-prefix="BAB ,CMB ,CMD ,Melee ,Ranged ">
            <span class="js-display-block-target"></span>
          </p>
        </div>

        <div class="m-display-body">
          <p class="m-display-body-title">Melee</p>
          <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="offense.attack.melee">
          </ul>
        </div>

        <div class="m-display-body">
          <p class="m-display-body-title">Ranged</p>
          <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="offense.attack.ranged">
          </ul>
        </div>

        <div class="m-display-body">
          <p class="js-display-block" data-display-type="text-snippet" data-display="offense.attack_notes" data-display-title="Notes ">
            <span class="js-display-block-target"></span>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="l-section l-section-display l-section-display-body is-hidden js-section-display">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="m-display-body">
          <p class="m-display-body-title">Skills</p>
          <ul class="m-display-grid-3-col u-list-unstyled js-display-block" data-display-type="skill" data-display="skills.acrobatics,skills.appraise,skills.bluff,skills.climb,skills.craft_1,skills.craft_2,skills.diplomacy,skills.disable_device,skills.disguise,skills.escape_artist,skills.fly,skills.handle_animal,skills.heal,skills.intimidate,skills.knowledge_arcana,skills.knowledge_dungeoneering,skills.knowledge_engineering,skills.knowledge_geography,skills.knowledge_history,skills.knowledge_local,skills.knowledge_nature,skills.knowledge_nobility,skills.knowledge_planes,skills.knowledge_religion,skills.linguistics,skills.perception,skills.perform_1,skills.perform_2,skills.profession_1,skills.profession_2,skills.ride,skills.sense_motive,skills.sleight_of_hand,skills.spellcraft,skills.stealth,skills.survival,skills.swim,skills.use_magic_device,skills.custom_1,skills.custom_2,skills.custom_3,skills.custom_4,skills.custom_5,skills.custom_6,skills.custom_7,skills.custom_8" data-display-prefix="Acrobatics ,Appraise ,Bluff ,Climb ,Craft ,Craft ,Diplomacy ,Disable Device ,Disguise ,Escape Artist ,Fly ,Handle Animal ,Heal ,Intimidate ,Knowledge Arcana ,Knowledge Dungeoneering ,Knowledge Engineering ,Knowledge Geography ,Knowledge History ,Knowledge Local ,Knowledge Nature ,Knowledge Nobility ,Knowledge Planes ,Knowledge Religion ,Linguistics ,Perception ,Perform ,Perform ,Profession ,Profession ,Ride ,Sense Motive ,Sleight of Hand ,Spellcraft ,Stealth ,Survival ,Swim ,Use Magic Device ,,,,,,,,">
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="l-section l-section-display l-section-display-body is-hidden js-section-display">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="m-display-body">
          <p class="m-display-body-title">Spells</p>
          <p class="js-display-block" data-display-type="text-snippet" data-display="spells.concentration.current" data-display-prefix="Concentration ">
            <span class="js-display-block-target"></span>
          </p>
        </div>

        <div class="js-display-block" data-display-type="spell">
          <span class="js-display-block-target"></span>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="l-section l-section-display l-section-display-body is-hidden js-section-display">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <p class="m-display-body-title">Character Notes</p>
        <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.character">
        </ul>

        <p class="m-display-body-title">Story Notes</p>
        <ul class="m-display-grid-1-col u-list-unstyled js-display-block" data-display-type="clone" data-display="notes.story">
        </ul>

      </div>
    </div>
  </div>
</section>
