<section id="display" class="l-section l-section-display js-section-display">
  <div class="container">
    <div class="m-display-section">
      <div class="row">
        <div class="col-xs-2">
          <span class="m-display-section-icon icon-account-circle"></span>
        </div>
        <div class="col-xs-10">
          <h1 class="m-display-name js-display-block" data-display="basics.name"></h1>
          <p class="m-display-block js-display-block" data-display="basics.race,basics.class,basics.level"></p>
          <p class="m-display-block js-display-block" data-display="basics.speed,basics.initiative"></p>
          <p class="m-display-block js-display-block" data-display="basics.xp,basics.height,basics.weight,basics.age,basics.gender,basics.hero_points,basics.luck_points"></p>
        </div>
      </div>
    </div>
    <div class="m-display-section">
      <div class="row">
        <div class="col-xs-2">
          <span class="m-display-section-icon icon-apps"></span>
        </div>
        <div class="col-xs-10">
          <p class="m-display-block js-display-block" data-display="statistics.stats.str.score,statistics.stats.dex.score,statistics.stats.con.score,statistics.stats.int.score,statistics.stats.wis.score,statistics.stats.cha.score"></p>
          <p class="m-display-block js-display-block" data-display="statistics.stats.str.temp,statistics.stats.dex.temp,statistics.stats.con.temp,statistics.stats.int.temp,statistics.stats.wis.temp,statistics.stats.cha.temp"></p>
          <p class="m-display-block js-display-block" data-display="statistics.feats"></p>
          <p class="m-display-block js-display-block" data-display="statistics.traits"></p>
          <p class="m-display-block js-display-block" data-display="statistics.special_abilities"></p>
          <p class="m-display-block js-display-block" data-display="statistics.languages"></p>
        </div>
      </div>
    </div>
    <div class="m-display-section">
      <div class="row">
        <div class="col-xs-2">
          <span class="m-display-section-icon icon-bottle"></span>
        </div>
        <div class="col-xs-10">
          <p class="m-display-block js-display-block" data-display="equipment.gear"></p>
          <p class="m-display-block js-display-block" data-display="equipment.magic_gear"></p>
          <p class="m-display-block js-display-block" data-display="equipment.body_slots.armor,equipment.body_slots.belts,equipment.body_slots.body,equipment.body_slots.chest,equipment.body_slots.eyes,equipment.body_slots.feet,equipment.body_slots.hands,equipment.body_slots.head,equipment.body_slots.headband,equipment.body_slots.neck,equipment.body_slots.ring_left_hand,equipment.body_slots.ring_right_hand,equipment.body_slots.shield,equipment.body_slots.shoulders,equipment.body_slots.wrist"></p>
          <p class="m-display-block js-display-block" data-display="equipment.wealth.platinum,equipment.wealth.gold,equipment.wealth.silver,equipment.wealth.copper"></p>
          <div class="js-display-block-consumable"></div>
        </div>
      </div>
    </div>
    <div class="m-display-section">
      <div class="row">
        <div class="col-xs-2">
          <span class="m-display-section-icon icon-shield"></span>
        </div>
        <div class="col-xs-10">
          <p class="m-display-block js-display-block" data-display="defense.hp.current,defense.hp.total,defense.hp.non_lethal_damage"></p>
          <p class="m-display-block js-display-block" data-display="defense.ac.current,defense.flat_footed.current,defense.touch.current"></p>
          <p class="m-display-block js-display-block" data-display="defense.fortitude.current,defense.reflex.current,defense.will.current,defense.save_notes"></p>
        </div>
      </div>
    </div>
    <div class="m-display-section">
      <div class="row">
        <div class="col-xs-2">
          <span class="m-display-section-icon icon-combat"></span>
        </div>
        <div class="col-xs-10">
          <p class="m-display-block js-display-block" data-display="offense.base_attack,offense.concentration,offense.cmb.current,offense.cmd.current,offense.melee_attack.current,offense.ranged_attack.current,offense.attack_notes"></p>
          <div class="js-display-block-attack"></div>
        </div>
      </div>
    </div>
    <div class="m-display-section">
      <div class="row">
        <div class="col-xs-2">
          <span class="m-display-section-icon icon-list"></span>
        </div>
        <div class="col-xs-10">
          <p class="m-display-block js-display-block" data-display="skills.acrobatics.current,skills.appraise.current,skills.bluff.current,skills.climb.current,skills.craft_1.current,skills.craft_2.current,skills.diplomacy.current,skills.disable_device.current,skills.disguise.current,skills.escape_artist.current,skills.fly.current,skills.handle_animal.current,skills.heal.current,skills.intimidate.current,skills.knowledge_arcana.current,skills.knowledge_dungeoneering.current,skills.knowledge_engineering.current,skills.knowledge_geography.current,skills.knowledge_history.current,skills.knowledge_local.current,skills.knowledge_nature.current,skills.knowledge_nobility.current,skills.knowledge_planes.current,skills.knowledge_religion.current,skills.linguistics.current,skills.perception.current,skills.perform_1.current,skills.perform_2.current,skills.profession_1.current,skills.profession_2.current,skills.ride.current,skills.sense_motive.current,skills.sleight_of_hand.current,skills.spellcraft.current,skills.stealth.current,skills.survival.current,skills.swim.current,skills.use_magic_device.current,skills.custom_1.current,skills.custom_2.current,skills.custom_3.current,skills.custom_4.current"></p>
        </div>
      </div>
    </div>
    <div class="m-display-section">
      <div class="row">
        <div class="col-xs-2">
          <span class="m-display-section-icon icon-whatshot"></span>
        </div>
        <div class="col-xs-10">
          <div class="js-display-block-spell"></div>
        </div>
      </div>
    </div>
    <div class="m-display-section">
      <div class="row">
        <div class="col-xs-2">
          <span class="m-display-section-icon icon-file"></span>
        </div>
        <div class="col-xs-10">
          <p class="m-display-block js-display-block" data-display="notes.character"></p>
          <p class="m-display-block js-display-block" data-display="notes.story"></p>
        </div>
      </div>
    </div>
  </div>
</section>
