<div class="m-fab js-fab" data-display-mode="false">
  <a href="javascript:void(0)" class="m-fab-button button button-large button-secondary js-fab-button" tabindex="3"><span class="icon-reader-mode js-fab-icon"></span></a>
</div>
