<div class="m-fab js-fab" data-display-mode="false">
  <button class="m-fab-button button button-icon button-primary js-fab-button" tabindex="3"><span class="icon-reader js-fab-icon"></span></button>
</div>
