<!-- build:js js/vendor.min.js -->
<script src="bower_components/smooth-scroll/src/js/smooth-scroll.js"></script>
<script src="js/vendor-options.js"></script>
<!-- endbuild -->
<!-- build:js js/awesomeSheet.min.js -->
<script src="js/strict.js"></script>
<script src="js/characters/blank.js"></script>
<script src="js/characters/nif.js"></script>
<script src="js/characters/ro.js"></script>
<script src="js/characters/vos.js"></script>
<script src="js/characters/marika.js"></script>
<script src="js/characters.js"></script>
<script src="js/helper.js"></script>
<script src="js/sheet.js"></script>
<script src="js/nav.js"></script>
<script src="js/prompt.js"></script>
<script src="js/snack.js"></script>
<script src="js/clone.js"></script>
<script src="js/consumable.js"></script>
<script src="js/input-block.js"></script>
<script src="js/check-block.js"></script>
<script src="js/textarea-block.js"></script>
<script src="js/spells.js"></script>
<script src="js/stats.js"></script>
<script src="js/total-block.js"></script>
<script src="js/init.js"></script>
<!-- endbuild -->
</body>

</html>
