<header class="m-header js-header">
  <div class="m-header-bar">

    <div class="m-header-control">
      <a href="javascript:void(0)" class="m-header-control-button js-menu-toggle" tabindex="1">
        <span class="m-hamburger js-hamburger">
          <span class="m-hamburger-inner"></span>
        </span>
      </a>
    </div>

    <div class="m-header-bar-area">

      <div class="m-header-bar-area-spacer">

        <p class="m-header-select-title hidden-xs hidden-sm">Character Select:</p>

        <div class="m-header-select">
          {{> character-select }}
        </div>
        <div class="m-header-control">
          <a href="javascript:void(0)" class="m-header-control-button js-header-control-export" tabindex="1">
            <span class="icon-file-download"></span>
          </a>
        </div>

      </div>

    </div>


  </div>
</header>
