<header class="m-header js-header">
  <div class="m-header-bar">

    <div class="m-header-control">
      <a href="javascript:void(0)" class="m-header-control-button js-menu-toggle" tabindex="1">
        <span class="m-hamburger js-hamburger">
          <span class="m-hamburger-inner"></span>
        </span>
      </a>
    </div>

    <div class="m-header-select">
      <p class="m-header-select-title hidden-xs hidden-sm">Character Select:</p>
      <h2 class="m-character-select-toggle js-character-select-toggle" tabindex="1">
        <span class="m-character-select-name js-character-select-name"></span>
        <span class="m-character-select-class-level js-character-select-class-level"></span>
        <span class="m-character-select-arrow"></span>
      </h2>
    </div>

    <div class="m-header-control">
      <a href="javascript:void(0)" class="m-header-control-button js-header-control-export" tabindex="1">
        <span class="icon-file-download"></span>
      </a>
    </div>

  </div>
</header>
