<header class="m-header js-header">
  <!-- <div class="m-header-logo">
    <h1 class="m-header-name">awesomeSheet</h1>
  </div> -->
  <div class="m-header-select">
    <div class="m-character-select js-character-select" data-character-select-open="false">
      <div class="m-character-select-current">
        <h2 class="m-character-select-current-title js-character-select-current-title"></h2>
        <span class="m-character-select-current-arrow"></span>
      </div>
      <ul class="m-character-select-list js-character-select-list">
        <li>
          <ul class="m-character-select-index js-character-select-index"></ul>
        </li>
        <li>
          <a href="javascript:void(0)" class="m-nav-link js-character-select-add u-clearfix" tabindex="10">
            <span class="icon-add"></span>
            <span class="m-nav-link-name">Add</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="m-nav-link js-character-select-remove u-clearfix" tabindex="10">
            <span class="icon-remove"></span>
            <span class="m-nav-link-name">Remove</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="m-nav-link js-character-select-import u-clearfix" tabindex="10">
            <span class="icon-file-upload"></span>
            <span class="m-nav-link-name">Import</span>
            <span class="m-nav-link-shortcut hidden-xs hidden-sm hidden-md u-small-text">ctrl + alt + i</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="m-nav-link js-character-select-export u-clearfix" tabindex="10">
            <span class="icon-file-download"></span><span class="m-nav-link-name">Export</span>
            <span class="m-nav-link-shortcut hidden-xs hidden-sm hidden-md u-small-text">ctrl + alt + e</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-header-hamburger">
    <a href="javascript:void(0)" class="m-nav-toggle js-nav-toggle" tabindex="1">
      <div class="m-hamburger js-hamburger">
        <div class="m-hamburger-inner"></div>
      </div>
    </a>
  </div>
</header>
