<header class="m-header js-header">
  <div class="m-header-hamburger">
    <a href="javascript:void(0)" class="m-nav-toggle js-nav-toggle" tabindex="1">
      <div class="m-hamburger js-hamburger">
        <div class="m-hamburger-inner"></div>
      </div>
    </a>
  </div>
  <div class="m-header-logo">
    <h1 class="m-header-name">awesomeSheet</h1>
  </div>
  <div class="m-header-dropdown">
    <div class="m-character-dropdown">
      <h2 class="m-character-dropdown-current js-character-dropdown-current">Name</h2>
      <ul class="m-character-dropdown-list">
        <li>
          <p class="m-nav-title js-nav-title" tabindex="10">Characters</p>
        </li>
        <li>
          <ul class="m-nav-characters js-nav-characters"></ul>
        </li>
        <li class="m-nav-divide"></li>
        <li>
          <a href="javascript:void(0)" class="m-nav-link js-character-add u-clearfix" tabindex="10">
            <span class="icon-add"></span>
            <span class="m-nav-link-name">Add</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="m-nav-link js-character-remove u-clearfix" tabindex="10">
            <span class="icon-remove"></span>
            <span class="m-nav-link-name">Remove</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="m-nav-link js-character-import u-clearfix" tabindex="10">
            <span class="icon-file-upload"></span>
            <span class="m-nav-link-name">Import</span>
            <span class="m-nav-link-shortcut hidden-xs hidden-sm hidden-md u-small-text">ctrl + alt + i</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="m-nav-link js-character-export u-clearfix" tabindex="10">
            <span class="icon-file-download"></span><span class="m-nav-link-name">Export</span>
            <span class="m-nav-link-shortcut hidden-xs hidden-sm hidden-md u-small-text">ctrl + alt + e</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
