<header class="m-header js-header">
  <div class="m-header-bar">

    <div class="m-header-control">
      <a href="javascript:void(0)" class="m-header-control-button js-menu-toggle" tabindex="1">
        <span class="m-hamburger js-hamburger">
          <span class="m-hamburger-inner"></span>
        </span>
      </a>
    </div>

    <!-- <div class="m-header-logo">
      <h1 class="m-logo">
        <span class="m-logo-icon icon-awesomSheet hidden-md hidden-lg hidden-xl"></span>
        <span class="m-logo-text hidden-xs hidden-sm">awesomeSheet</span>
      </h1>
    </div> -->

    <div class="m-header-select">
      <h2 class="m-character-select-toggle js-character-select-toggle" tabindex="1">
        <span class="m-character-select-title hidden-xs hidden-sm">Current Character:</span>
        <span class="m-character-select-name js-character-select-name"></span>
        <span class="m-character-select-class-level hidden-xs js-character-select-class-level"></span>
        <span class="m-character-select-arrow"></span>
      </h2>
    </div>

    <div class="m-header-control">
      <a href="javascript:void(0)" class="m-header-control-button js-header-control-button-export" tabindex="1">
        <span class="icon-file-download"></span>
      </a>
    </div>

  </div>
</header>
