<header class="m-header js-header">
  <div class="m-header-bar">

    <div class="m-header-hamburger">

      <a href="javascript:void(0)" class="m-menu-toggle js-menu-toggle" tabindex="1">
        <div class="m-hamburger js-hamburger">
          <div class="m-hamburger-inner"></div>
        </div>
      </a>

    </div>
    <div class="m-header-select">

      <div class="m-character-select-wrapper js-character-select-wrapper">
        <div class="m-character-select-toggle js-character-select-toggle" tabindex="1">
          <h2 class="m-character-select-name">
            <span class="m-character-select-name-title">Character:</span>
            <span class="m-character-select-name-text js-character-select-name-text"></span>
          </h2>
          <span class="m-character-select-arrow"></span>
        </div>
        <ul class="m-character-select-control">
          <li class="m-character-select-control-item">
            <button class="m-character-select-button button button-small button-tertiary button-icon js-header-control-button-import u-clearfix" tabindex="1">
              <span class="icon-file-upload"></span>
              <span class="m-character-select-button-name button-text hidden-xs hidden-sm hidden-md">Import</span>
            </button>
          </li>
          <li class="m-character-select-control-item">
            <button class="m-character-select-button button button-small button-tertiary button-icon js-header-control-button-export u-clearfix" tabindex="1">
              <span class="icon-file-download"></span>
              <span class="m-character-select-button-name button-text hidden-xs hidden-sm hidden-md">Export</span>
            </button>
          </li>
          <li class="m-character-select-control-item">
            <button class="m-character-select-button button button-small button-tertiary button-icon js-header-control-button-add u-clearfix" tabindex="1">
              <span class="icon-add"></span>
              <span class="m-character-select-button-name button-text hidden-xs hidden-sm hidden-md">Add</span>
            </button>
          </li>
          <li class="m-character-select-control-item">
            <button class="m-character-select-button button button-small button-tertiary button-icon js-header-control-button-remove u-clearfix" tabindex="1">
              <span class="icon-remove"></span>
              <span class="m-character-select-button-name button-text hidden-xs hidden-sm hidden-md">Remove</span>
            </button>
          </li>
        </ul>
      </div>

    </div>

  </div>
</header>
