<div class="m-menu js-menu">
  <h1 class="m-logo">
    <span class="m-logo-icon icon-awesomSheet"></span>
    <span class="m-logo-text">awesomeSheet</span>
  </h1>
  <ul class="m-menu-list">
    <li>
      <a href="https://github.com/zombieFox/awesomeSheet/issues" class="m-menu-link u-clearfix" target="_blank" tabindex="10">
        <span class="icon-feedback"></span>
        <span class="m-menu-link-name">Feedback or Issues</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-menu-link js-menu-link-chnage-log u-clearfix" tabindex="10">
        <span class="icon-bookmark"></span>
        <span class="m-menu-link-name">Change Log</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-menu-link js-menu-link-night-mode u-clearfix" tabindex="10">
        <span class="icon-moon"></span>
        <span class="m-menu-link-name">Night Mode</span>
        <span class="m-menu-link-shortcut hidden-xs hidden-sm hidden-md">ctrl + alt + n</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-menu-link js-menu-link-fullscreen-mode u-clearfix" tabindex="10">
        <span class="icon-fullscreen js-menu-link-fullscreen-mode-icon"></span>
        <span class="m-menu-link-name">Fullscreen</span>
        <span class="m-menu-link-shortcut hidden-xs hidden-sm hidden-md">ctrl + alt + f</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-menu-link js-menu-link-clear-all u-clearfix" tabindex="10">
        <span class="icon-delete"></span>
        <span class="m-menu-link-name">Clear All</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-menu-link js-menu-link-restore-demo-pcs u-clearfix" tabindex="10">
        <span class="icon-renew"></span>
        <span class="m-menu-link-name">Restore Demo PCs</span>
      </a>
    </li>
  </ul>
</div>
