<div class="m-menu js-menu">
  <h1 class="m-logo">
    <span class="m-logo-icon icon-awesomSheet"></span>
    <span class="m-logo-text">awesomeSheet</span>
  </h1>
  <ul class="m-menu-list">
    <li>
      <a href="https://github.com/zombieFox/awesomeSheet/issues" class="m-menu-link u-clearfix" target="_blank" tabindex="10">
        <span class="icon-feedback js-menu-link-icon"></span>
        <span class="m-menu-link-text js-menu-link-text">Feedback or Issues</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-menu-link js-menu-link-chnage-log u-clearfix" tabindex="10">
        <span class="icon-bookmark js-menu-link-icon"></span>
        <span class="m-menu-link-text js-menu-link-text">Change Log</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-menu-link js-menu-link-display-mode u-clearfix" data-menu-item-options="mode:display,inactiveText:Display Mode,activeText:Edit Mode" tabindex="10">
        <span class="icon-reader js-menu-link-icon"></span>
        <span class="m-menu-link-text js-menu-link-text">Display Mode</span>
        <span class="m-menu-link-shortcut hidden-xs hidden-sm hidden-md">ctrl + alt + d</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-menu-link js-menu-link-night-mode u-clearfix" data-menu-item-options="mode:night,inactiveText:Night Mode,activeText:Day Mode" tabindex="10">
        <span class="icon-moon js-menu-link-icon"></span>
        <span class="m-menu-link-text js-menu-link-text">Night Mode</span>
        <span class="m-menu-link-shortcut hidden-xs hidden-sm hidden-md">ctrl + alt + n</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-menu-link js-menu-link-fullscreen-mode u-clearfix" data-menu-item-options="mode:fullscreen,inactiveText:Fullscreen Mode,activeText:Window Mode" tabindex="10">
        <span class="icon-fullscreen js-menu-link-icon"></span>
        <span class="m-menu-link-text js-menu-link-text">Fullscreen Mode</span>
        <span class="m-menu-link-shortcut hidden-xs hidden-sm hidden-md">ctrl + alt + f</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-menu-link js-menu-link-clear-all u-clearfix" tabindex="10">
        <span class="icon-delete js-menu-link-icon"></span>
        <span class="m-menu-link-text js-menu-link-text">Clear All Characters</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-menu-link js-menu-link-restore-demo-characters u-clearfix" tabindex="10">
        <span class="icon-renew js-menu-link-icon"></span>
        <span class="m-menu-link-text js-menu-link-text">Restore Demo Characters</span>
      </a>
    </li>
  </ul>
</div>
