<nav class="m-nav js-nav">
  <ul class="m-nav-list">
    <li>
      <p class="m-nav-title">Characters</p>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-nav-link js-character-add u-clearfix" tabindex="10"><span class="icon icon-add"></span><span class="m-nav-link-name">Add</span></a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-nav-link js-character-remove u-clearfix" tabindex="10"><span class="icon icon-remove"></span><span class="m-nav-link-name">Remove</span></a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-nav-link js-character-export u-clearfix" tabindex="10"><span class="icon icon-file-download"></span><span class="m-nav-link-name">Export</span></a>
    </li>
    <li class="m-nav-divide"></li>
    <li>
      <ul class="m-nav-characters js-nav-characters"></ul>
    </li>
    <li class="m-nav-divide"></li>
    <li>
      <p class="m-nav-title">Tools</p>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-nav-link js-fullscreen u-clearfix" tabindex="10"><span class="icon icon-fullscreen"></span><span class="m-nav-link-name">Fullscreen</span></a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-nav-link js-clear-all u-clearfix" tabindex="10"><span class="icon icon-delete"></span><span class="m-nav-link-name">Clear All</span></a>
    </li>
  </ul>
</nav>
