<nav class="m-nav js-nav">
  <div class="m-nav-bar">
    <ul class="m-nav-list js-nav-list">
      <li class="m-nav-list-item">
        <a href="javascript:void(0)" class="m-nav-link js-nav-link is-active" data-link="basics" tabindex="1"><span class="icon-account-circle"></span></a>
      </li>
      <li class="m-nav-list-item">
        <a href="javascript:void(0)" class="m-nav-link js-nav-link" data-link="statistics" tabindex="1"><span class="icon-apps"></span></a>
      </li>
      <li class="m-nav-list-item">
        <a href="javascript:void(0)" class="m-nav-link js-nav-link" data-link="equipment" tabindex="1"><span class="icon-bottle"></span></a>
      </li>
      <li class="m-nav-list-item">
        <a href="javascript:void(0)" class="m-nav-link js-nav-link" data-link="defense" tabindex="1"><span class="icon-shield"></span></a>
      </li>
      <li class="m-nav-list-item">
        <a href="javascript:void(0)" class="m-nav-link js-nav-link" data-link="offense" tabindex="1"><span class="icon-combat"></span></a>
      </li>
      <li class="m-nav-list-item">
        <a href="javascript:void(0)" class="m-nav-link js-nav-link" data-link="skills" tabindex="1"><span class="icon-list"></span></a>
      </li>
      <li class="m-nav-list-item">
        <a href="javascript:void(0)" class="m-nav-link js-nav-link" data-link="spells" tabindex="1"><span class="icon-whatshot"></span></a>
      </li>
      <li class="m-nav-list-item">
        <a href="javascript:void(0)" class="m-nav-link js-nav-link" data-link="notes" tabindex="1"><span class="icon-file"></span></a>
      </li>
    </ul>
  </div>
</nav>
