<nav class="m-nav js-nav">
  <ul class="m-nav-list">
    <li>
      <p class="m-nav-title">Tools</p>
    </li>
    <li>
      <a href="https://github.com/zombieFox/awesomeSheet/issues" class="m-nav-link u-clearfix" target="_blank" tabindex="10">
        <span class="icon-feedback"></span>
        <span class="m-nav-link-name">Feedback/Issues</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-nav-link js-chnage-log u-clearfix" tabindex="10">
        <span class="icon-bookmark"></span>
        <span class="m-nav-link-name">Change Log</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-nav-link js-night-mode u-clearfix" tabindex="10">
        <span class="icon-moon"></span>
        <span class="m-nav-link-name">Night Mode</span>
        <span class="m-nav-link-shortcut hidden-xs hidden-sm hidden-md u-small-text">ctrl + alt + n</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-nav-link js-fullscreen-mode u-clearfix" tabindex="10">
        <span class="icon-fullscreen js-icon-fullscreen"></span>
        <span class="m-nav-link-name">Fullscreen</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-nav-link js-clear-all u-clearfix" tabindex="10">
        <span class="icon-delete"></span>
        <span class="m-nav-link-name">Clear All</span>
        <span class="m-nav-link-shortcut hidden-xs hidden-sm hidden-md u-small-text">ctrl + alt + del</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="m-nav-link js-restore-demo-pcs u-clearfix" tabindex="10">
        <span class="icon-renew"></span>
        <span class="m-nav-link-name">Restore Demo PCs</span>
      </a>
    </li>
  </ul>
</nav>
