<ul class="m-nav js-nav">
  <li class="m-nav-title">Characters</li>
  <li>
    <a href="javascript:void(0)" class="m-nav-link js-character-add clearfix" tabindex="10"><span class="icon icon-add"></span><span class="m-nav-link-name">Add</span></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="m-nav-link js-character-remove clearfix" tabindex="10"><span class="icon icon-remove"></span><span class="m-nav-link-name">Remove</span></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="m-nav-link js-character-export clearfix" tabindex="10"><span class="icon icon-file-download"></span><span class="m-nav-link-name">Export</span></a>
  </li>
  <li class="m-nav-divide"></li>
  <li>
    <ul class="m-nav-characters js-nav-characters"></ul>
  </li>
  <li class="m-nav-divide"></li>
  <li class="m-nav-title">Tools</li>
  <li>
    <a href="javascript:void(0)" class="m-nav-link js-display clearfix" tabindex="10"><span class="icon icon-bookmark"></span><span class="m-nav-link-name">Display Mode</span></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="m-nav-link js-fullscreen clearfix" tabindex="10"><span class="icon icon-fullscreen"></span><span class="m-nav-link-name">Fullscreen</span></a>
  </li>
  <li>
    <a href="javascript:void(0)" class="m-nav-link js-clear-all clearfix" tabindex="10"><span class="icon icon-delete"></span><span class="m-nav-link-name">Clear All</span></a>
  </li>
</ul>
