<section id="notes" class="l-section js-section">
  <div class="m-section-heading js-section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Notes</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="m-section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="m-textarea-block js-textarea-block">
            <label class="m-textarea-block-label js-textarea-block-label" for="notes-character">Character Notes</label>
            <div id="notes-character" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="notes.character" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="m-textarea-block js-textarea-block">
            <label class="m-textarea-block-label js-textarea-block-label" for="notes-story">Story Notes</label>
            <div id="notes-story" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" data-path="notes.story" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
