<div class="m-quick-nav js-quick-nav">
  <div class="container">
    <ul class="m-quick-nav-list u-clearfix">
      <li>
        <a href="#basics" class="m-quick-nav-link js-quick-nav-link is-active" data-scroll tabindex="1"><span class="icon-account-circle"></span></a>
      </li>
      <li>
        <a href="#statistics" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-apps"></span></a>
      </li>
      <li>
        <a href="#equipment" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-bottle"></span></a>
      </li>
      <li>
        <a href="#defense" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-shield"></span></a>
      </li>
      <li>
        <a href="#offense" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-combat"></span></a>
      </li>
      <li>
        <a href="#skills" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-list"></span></a>
      </li>
      <li>
        <a href="#spells" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-whatshot"></span></a>
      </li>
      <li>
        <a href="#notes" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-file"></span></a>
      </li>
      <li>
        <a href="javascript:void(0)" class="m-quick-nav-link m-nav-toggle js-nav-toggle" tabindex="1">
          <div class="m-hamburger js-hamburger">
            <div class="m-hamburger-inner"></div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
