<nav class="m-quick-nav js-quick-nav">
  <div class="container">
    <ul class="m-quick-nav-list clearfix">
      <li>
        <a href="#basics" class="m-quick-nav-link js-quick-nav-link is-active" data-scroll tabindex="1"><span class="icon-account-circle"></span></a>
      </li>
      <li>
        <a href="#statistics" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-apps"></span></a>
      </li>
      <li>
        <a href="#equipment" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-bottle"></span></a>
      </li>
      <li>
        <a href="#defense" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-shield"></span></a>
      </li>
      <li>
        <a href="#offense" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-combat"></span></a>
      </li>
      <li>
        <a href="#skills" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-list"></span></a>
      </li>
      <li>
        <a href="#spells" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-whatshot"></span></a>
      </li>
      <li>
        <a href="#notes" class="m-quick-nav-link js-quick-nav-last-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-edit"></span></a>
      </li>
      <li>
        <a href="javascript:void(0)" class="m-quick-nav-link m-nav-toggle js-nav-toggle" tabindex="1">
          <span class="m-nav-toggle-line m-nav-toggle-line-top"></span>
          <span class="m-nav-toggle-line m-nav-toggle-line-middle"></span>
          <span class="m-nav-toggle-line m-nav-toggle-line-bottom"></span>
        </a>
        {{> nav }}
      </li>
    </ul>
  </div>
</nav>
