<div class="m-quick-nav js-quick-nav">
  <div class="container">

    <div class="m-quick-nav-wrapper">

      <div class="m-quick-nav-display js-quick-nav-display is-hidden">
        <span class="m-quick-nav-display-icon icon-account-circle js-quick-nav-display-icon"></span>
        <h1 class="m-quick-nav-display-title js-quick-nav-display-title">Basics</h1>
        <button data-edit-jump="basics" class="button button-tertiary-link button-small button-icon m-quick-nav-display-edit js-quick-nav-display-edit"><span class="icon-edit"> </span><span>Edit</span></button>
      </div>

      <ul class="m-quick-nav-list js-quick-nav-list">
        <li class="m-quick-nav-list-item">
          <a href="#basics" class="m-quick-nav-link js-quick-nav-link is-active" data-scroll tabindex="1"><span class="icon-account-circle"></span></a>
        </li>
        <li class="m-quick-nav-list-item">
          <a href="#statistics" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-apps"></span></a>
        </li>
        <li class="m-quick-nav-list-item">
          <a href="#equipment" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-bottle"></span></a>
        </li>
        <li class="m-quick-nav-list-item">
          <a href="#defense" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-shield"></span></a>
        </li>
        <li class="m-quick-nav-list-item">
          <a href="#offense" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-combat"></span></a>
        </li>
        <li class="m-quick-nav-list-item">
          <a href="#skills" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-list"></span></a>
        </li>
        <li class="m-quick-nav-list-item">
          <a href="#spells" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-whatshot"></span></a>
        </li>
        <li class="m-quick-nav-list-item">
          <a href="#notes" class="m-quick-nav-link js-quick-nav-link" data-scroll tabindex="1"><span class="icon-file"></span></a>
        </li>
      </ul>

      <div class="m-quick-nav-hamburger">
        <a href="javascript:void(0)" class="m-quick-nav-link m-nav-toggle js-nav-toggle" tabindex="1">
          <div class="m-hamburger js-hamburger">
            <div class="m-hamburger-inner"></div>
          </div>
        </a>
      </div>

    </div>

  </div>
</div>
