<div class="m-quick-nav js-quick-nav">
  <div class="m-quick-nav-bar">

    <ul class="m-quick-nav-list js-quick-nav-list">
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link is-active" data-link="#basics" tabindex="1"><span class="icon-account-circle"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-link="#statistics" tabindex="1"><span class="icon-apps"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-link="#equipment" tabindex="1"><span class="icon-bottle"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-link="#defense" tabindex="1"><span class="icon-shield"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-link="#offense" tabindex="1"><span class="icon-combat"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-link="#skills" tabindex="1"><span class="icon-list"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-link="#spells" tabindex="1"><span class="icon-whatshot"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-link="#notes" tabindex="1"><span class="icon-file"></span></a>
      </li>
    </ul>

  </div>
</div>
