<div class="m-quick-nav js-quick-nav">
  <div class="m-quick-nav-wrapper">

    <ul class="m-quick-nav-list js-quick-nav-list">
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link is-active" data-edit-link="#basics" data-display-link="#display-basics" tabindex="1"><span class="icon-account-circle"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-edit-link="#statistics" data-display-link="#display-statistics" tabindex="1"><span class="icon-apps"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-edit-link="#equipment" data-display-link="#display-equipment" tabindex="1"><span class="icon-bottle"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-edit-link="#defense" data-display-link="#display-defense" tabindex="1"><span class="icon-shield"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-edit-link="#offense" data-display-link="#display-offense" tabindex="1"><span class="icon-combat"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-edit-link="#skills" data-display-link="#display-skills" tabindex="1"><span class="icon-list"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-edit-link="#spells" data-display-link="#display-spells" tabindex="1"><span class="icon-whatshot"></span></a>
      </li>
      <li class="m-quick-nav-list-item">
        <a href="javascript:void(0)" class="m-quick-nav-link js-quick-nav-link" data-edit-link="#notes" data-display-link="#display-notes" tabindex="1"><span class="icon-file"></span></a>
      </li>
    </ul>

    <div class="m-quick-nav-hamburger">
      <a href="javascript:void(0)" class="m-nav-toggle js-nav-toggle" tabindex="1">
        <div class="m-hamburger js-hamburger">
          <div class="m-hamburger-inner"></div>
        </div>
      </a>
    </div>

  </div>
</div>
