<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#1e4a76">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="author" content="zombieFox">
  <meta name="description" content="An Pathfinder RPG online character sheet which auto calculates many scores and bonuses.">
  <meta name="keywords" content="Pathfinder, RPG, Role Playing Game, Character Sheet, Pathfinder Character Sheet, Automatic Character Sheet">
  <meta name="robots" content="index">
  <title>awesomeSheet</title>
  <link rel="icon" sizes="128x128" href="images/chrome-touch-icon-128x128.png">
  <link rel="manifest" href="manifest.json">
  <!-- build:css css/vendor.min.css -->
  <link rel="stylesheet" href="css/vendor.css">
  <!-- endbuild -->
  <!-- build:css css/awesomeSheet.min.css -->
  <link rel="stylesheet" href="css/awesomeSheet.css">
  <!-- endbuild -->
</head>

<body id="body">
