// --------------------------------------------------
// basic colors
// --------------------------------------------------

$black:                               #000000;
$white:                               #ffffff;

$background-color:                    #fafafa;

$primary-color-01:                    #170006;
$primary-color-02:                    saturate(lighten($primary-color-01, 5), 3);
$primary-color-03:                    saturate(lighten($primary-color-01, 10), 6);
$primary-color-04:                    saturate(lighten($primary-color-01, 15), 9);
$primary-color-05:                    saturate(lighten($primary-color-01, 20), 12);
$primary-color-06:                    saturate(lighten($primary-color-01, 25), 15);
$primary-color-07:                    saturate(lighten($primary-color-01, 30), 18);
$primary-color-08:                    saturate(lighten($primary-color-01, 35), 21);
$primary-color-09:                    saturate(lighten($primary-color-01, 40), 24);
$primary-color-10:                    saturate(lighten($primary-color-01, 45), 27);
$primary-color-11:                    saturate(lighten($primary-color-01, 50), 30);
$primary-color-12:                    saturate(lighten($primary-color-01, 55), 33);
$primary-color-13:                    saturate(lighten($primary-color-01, 60), 36);
$primary-color-14:                    saturate(lighten($primary-color-01, 65), 39);
$primary-color-15:                    saturate(lighten($primary-color-01, 70), 42);
$primary-color-16:                    saturate(lighten($primary-color-01, 75), 45);
$primary-color-17:                    saturate(lighten($primary-color-01, 80), 47);
$primary-color-18:                    saturate(lighten($primary-color-01, 85), 50);
$primary-color-19:                    saturate(lighten($primary-color-01, 90), 53);
$primary-color-20:                    saturate(lighten($primary-color-01, 95), 56);

$primary-color-alpha-01:              rgba($primary-color-10, 1);
$primary-color-alpha-02:              rgba($primary-color-10, 0.95);
$primary-color-alpha-03:              rgba($primary-color-10, 0.90);
$primary-color-alpha-04:              rgba($primary-color-10, 0.85);
$primary-color-alpha-05:              rgba($primary-color-10, 0.80);
$primary-color-alpha-06:              rgba($primary-color-10, 0.75);
$primary-color-alpha-07:              rgba($primary-color-10, 0.70);
$primary-color-alpha-08:              rgba($primary-color-10, 0.65);
$primary-color-alpha-09:              rgba($primary-color-10, 0.60);
$primary-color-alpha-10:              rgba($primary-color-10, 0.55);
$primary-color-alpha-11:              rgba($primary-color-10, 0.50);
$primary-color-alpha-12:              rgba($primary-color-10, 0.45);
$primary-color-alpha-13:              rgba($primary-color-10, 0.40);
$primary-color-alpha-14:              rgba($primary-color-10, 0.35);
$primary-color-alpha-15:              rgba($primary-color-10, 0.30);
$primary-color-alpha-16:              rgba($primary-color-10, 0.25);
$primary-color-alpha-17:              rgba($primary-color-10, 0.20);
$primary-color-alpha-18:              rgba($primary-color-10, 0.15);
$primary-color-alpha-19:              rgba($primary-color-10, 0.10);
$primary-color-alpha-20:              rgba($primary-color-10, 0.05);

$secondary-color-01:                  #070b0e;
$secondary-color-02:                  saturate(lighten($secondary-color-01, 5), 3);
$secondary-color-03:                  saturate(lighten($secondary-color-01, 10), 6);
$secondary-color-04:                  saturate(lighten($secondary-color-01, 15), 9);
$secondary-color-05:                  saturate(lighten($secondary-color-01, 20), 12);
$secondary-color-06:                  saturate(lighten($secondary-color-01, 25), 15);
$secondary-color-07:                  saturate(lighten($secondary-color-01, 30), 18);
$secondary-color-08:                  saturate(lighten($secondary-color-01, 35), 21);
$secondary-color-09:                  saturate(lighten($secondary-color-01, 40), 24);
$secondary-color-10:                  saturate(lighten($secondary-color-01, 45), 27);
$secondary-color-11:                  saturate(lighten($secondary-color-01, 50), 30);
$secondary-color-12:                  saturate(lighten($secondary-color-01, 55), 33);
$secondary-color-13:                  saturate(lighten($secondary-color-01, 60), 36);
$secondary-color-14:                  saturate(lighten($secondary-color-01, 65), 39);
$secondary-color-15:                  saturate(lighten($secondary-color-01, 70), 42);
$secondary-color-16:                  saturate(lighten($secondary-color-01, 75), 45);
$secondary-color-17:                  saturate(lighten($secondary-color-01, 80), 47);
$secondary-color-18:                  saturate(lighten($secondary-color-01, 85), 50);
$secondary-color-19:                  saturate(lighten($secondary-color-01, 90), 53);
$secondary-color-20:                  saturate(lighten($secondary-color-01, 95), 56);

$secondary-color-alpha-01:            rgba($secondary-color-10, 100);
$secondary-color-alpha-02:            rgba($secondary-color-10, 0.95);
$secondary-color-alpha-03:            rgba($secondary-color-10, 0.90);
$secondary-color-alpha-04:            rgba($secondary-color-10, 0.85);
$secondary-color-alpha-05:            rgba($secondary-color-10, 0.80);
$secondary-color-alpha-06:            rgba($secondary-color-10, 0.75);
$secondary-color-alpha-07:            rgba($secondary-color-10, 0.70);
$secondary-color-alpha-08:            rgba($secondary-color-10, 0.65);
$secondary-color-alpha-09:            rgba($secondary-color-10, 0.60);
$secondary-color-alpha-10:            rgba($secondary-color-10, 0.55);
$secondary-color-alpha-11:            rgba($secondary-color-10, 0.50);
$secondary-color-alpha-12:            rgba($secondary-color-10, 0.45);
$secondary-color-alpha-13:            rgba($secondary-color-10, 0.40);
$secondary-color-alpha-14:            rgba($secondary-color-10, 0.35);
$secondary-color-alpha-15:            rgba($secondary-color-10, 0.30);
$secondary-color-alpha-16:            rgba($secondary-color-10, 0.25);
$secondary-color-alpha-17:            rgba($secondary-color-10, 0.20);
$secondary-color-alpha-18:            rgba($secondary-color-10, 0.15);
$secondary-color-alpha-19:            rgba($secondary-color-10, 0.10);
$secondary-color-alpha-20:            rgba($secondary-color-10, 0.05);

$gray-01:                             #000000;
$gray-02:                             lighten($gray-01, 5);
$gray-03:                             lighten($gray-01, 15);
$gray-04:                             lighten($gray-01, 20);
$gray-05:                             lighten($gray-01, 25);
$gray-06:                             lighten($gray-01, 30);
$gray-07:                             lighten($gray-01, 35);
$gray-08:                             lighten($gray-01, 40);
$gray-09:                             lighten($gray-01, 45);
$gray-10:                             lighten($gray-01, 50);
$gray-11:                             lighten($gray-01, 55);
$gray-12:                             lighten($gray-01, 60);
$gray-13:                             lighten($gray-01, 65);
$gray-14:                             lighten($gray-01, 70);
$gray-15:                             lighten($gray-01, 75);
$gray-16:                             lighten($gray-01, 80);
$gray-17:                             lighten($gray-01, 85);
$gray-18:                             lighten($gray-01, 90);
$gray-19:                             lighten($gray-01, 95);
$gray-20:                             lighten($gray-01, 98);

$dark-alpha-01:                       rgba(0, 0, 0, 1);
$dark-alpha-02:                       rgba($dark-alpha-01, 0.95);
$dark-alpha-03:                       rgba($dark-alpha-01, 0.90);
$dark-alpha-04:                       rgba($dark-alpha-01, 0.85);
$dark-alpha-05:                       rgba($dark-alpha-01, 0.80);
$dark-alpha-06:                       rgba($dark-alpha-01, 0.75);
$dark-alpha-07:                       rgba($dark-alpha-01, 0.70);
$dark-alpha-08:                       rgba($dark-alpha-01, 0.65);
$dark-alpha-09:                       rgba($dark-alpha-01, 0.60);
$dark-alpha-10:                       rgba($dark-alpha-01, 0.55);
$dark-alpha-11:                       rgba($dark-alpha-01, 0.50);
$dark-alpha-12:                       rgba($dark-alpha-01, 0.45);
$dark-alpha-13:                       rgba($dark-alpha-01, 0.40);
$dark-alpha-14:                       rgba($dark-alpha-01, 0.35);
$dark-alpha-15:                       rgba($dark-alpha-01, 0.30);
$dark-alpha-16:                       rgba($dark-alpha-01, 0.25);
$dark-alpha-17:                       rgba($dark-alpha-01, 0.20);
$dark-alpha-18:                       rgba($dark-alpha-01, 0.15);
$dark-alpha-19:                       rgba($dark-alpha-01, 0.10);
$dark-alpha-20:                       rgba($dark-alpha-01, 0.05);

$light-alpha-01:                      rgba(255, 255, 255, 1);
$light-alpha-02:                      rgba($light-alpha-01, 0.95);
$light-alpha-03:                      rgba($light-alpha-01, 0.90);
$light-alpha-04:                      rgba($light-alpha-01, 0.85);
$light-alpha-05:                      rgba($light-alpha-01, 0.80);
$light-alpha-06:                      rgba($light-alpha-01, 0.75);
$light-alpha-07:                      rgba($light-alpha-01, 0.70);
$light-alpha-08:                      rgba($light-alpha-01, 0.65);
$light-alpha-09:                      rgba($light-alpha-01, 0.60);
$light-alpha-10:                      rgba($light-alpha-01, 0.55);
$light-alpha-11:                      rgba($light-alpha-01, 0.50);
$light-alpha-12:                      rgba($light-alpha-01, 0.45);
$light-alpha-13:                      rgba($light-alpha-01, 0.40);
$light-alpha-14:                      rgba($light-alpha-01, 0.35);
$light-alpha-15:                      rgba($light-alpha-01, 0.30);
$light-alpha-16:                      rgba($light-alpha-01, 0.25);
$light-alpha-17:                      rgba($light-alpha-01, 0.20);
$light-alpha-18:                      rgba($light-alpha-01, 0.15);
$light-alpha-19:                      rgba($light-alpha-01, 0.10);
$light-alpha-20:                      rgba($light-alpha-01, 0.05);

$critical-20:                         #33c3f0;
$critical-1:                          #990000;

// --------------------------------------------------
// grid
// --------------------------------------------------

$screen-xs:                           400px;
$screen-xs-min:                       $screen-xs;

$screen-sm:                           550px;
$screen-sm-min:                       $screen-sm;

$screen-md:                           700px;
$screen-md-min:                       $screen-md;

$screen-lg:                           900px;
$screen-lg-min:                       $screen-lg;

$screen-xl:                           1300px;
$screen-xl-min:                       $screen-xl;

$screen-xs-max:                       ($screen-sm-min - 1);
$screen-sm-max:                       ($screen-md-min - 1);
$screen-md-max:                       ($screen-lg-min - 1);
$screen-lg-max:                       ($screen-xl-min - 1);

$gutter:                              14px;

// --------------------------------------------------
// typography
// --------------------------------------------------

$open-sans-bold:                      "Open Sans Bold", Helvetica, Arial, sans-serif;
$open-sans-regular:                   "Open Sans Regular", Helvetica, Arial, sans-serif;
$open-sans-light:                     "Open Sans Light", Helvetica, Arial, sans-serif;
$open-sans-bold-italic:               "Open Sans Bold Italic", Helvetica, Arial, sans-serif;
$open-sans-italic:                    "Open Sans Italic", Helvetica, Arial, sans-serif;
$open-sans-light-italic:              "Open Sans Light Italic", Helvetica, Arial, sans-serif;
$open-sans-semi-bold-italic:          "Open Sans Semi Bold Italic", Helvetica, Arial, sans-serif;
$open-sans-semi-bold:                 "Open Sans Semi Bold", Helvetica, Arial, sans-serif;
$open-sans-condensed-bold:            "Open Sans Condensed Bold", Helvetica, Arial, sans-serif;
$open-sans-condensed-light-italic:    "Open Sans Condensed Light Italic", Helvetica, Arial, sans-serif;
$open-sans-condensed-light:           "Open Sans Condensed Light", Helvetica, Arial, sans-serif;

$base-color:                          $gray-04;
$base-font:                           $open-sans-regular;

$font-size-root-050:                  0.50rem;
$font-size-root-075:                  0.75rem;
$font-size-root-100:                  1.00rem;
$font-size-root-125:                  1.25rem;
$font-size-root-150:                  1.50rem;
$font-size-root-175:                  1.75rem;
$font-size-root-200:                  2.00rem;
$font-size-root-250:                  2.50rem;
$font-size-root-300:                  3.00rem;

$font-size-025:                       0.25em;
$font-size-050:                       0.50em;
$font-size-075:                       0.75em;
$font-size-100:                       1.00em;
$font-size-125:                       1.25em;
$font-size-150:                       1.50em;
$font-size-175:                       1.75em;
$font-size-200:                       2.00em;
$font-size-225:                       2.25em;
$font-size-250:                       2.50em;
$font-size-275:                       2.75em;
$font-size-300:                       3.00em;
$font-size-325:                       3.25em;
$font-size-350:                       3.50em;
$font-size-375:                       3.75em;
$font-size-400:                       4.00em;
$font-size-425:                       4.25em;
$font-size-450:                       4.50em;
$font-size-475:                       4.75em;
$font-size-500:                       5.00em;

$line-height-100:                     1.00em;
$line-height-160:                     1.6666666667em;
$line-height-200:                     2.00em;
$line-height-300:                     3.00em;
$line-height-400:                     4.00em;
$line-height-root-250:                2.50rem;

$border:                              2px solid transparent;

// --------------------------------------------------
// transitions
// --------------------------------------------------

$transition-bounce-extra-fast:       0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
$transition-bounce-fast:             0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
$transition-bounce-medium:           0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
$transition-bounce-slow:             0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
$transition-bounce-extra-slow:       0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);

$transition-ease-extra-fast:         0.1s ease-in-out;
$transition-ease-fast:               0.2s ease-in-out;
$transition-ease-medium:             0.3s ease-in-out;
$transition-ease-slow:               0.4s ease-in-out;
$transition-ease-extra-slow:         0.5s ease-in-out;

// --------------------------------------------------
// z-index
// --------------------------------------------------

$body:                               1000;
$results:                            2000;
$section-heading:                    3000;
$display:                            4000;
$nav:                                5000;
$fab:                                6000;
$snacks:                             7000;
$quick-nav:                          8000;
$prompt:                             9000;
$modal:                              10000;

// --------------------------------------------------
// drop shadows
// --------------------------------------------------

$shadow-small:                      0 1px 8px rgba(0, 0, 0, 0.15);

$shadow-medium:                     0 4px 10px rgba(0, 0, 0, 0.2),
                                    0 6px 15px rgba(0, 0, 0, 0.2);

$shadow-large:                      0 4px 10px rgba(0, 0, 0, 0.3),
                                    0 6px 30px rgba(0, 0, 0, 0.3);

$shadow-small-inset:                inset 0 1px 1px rgba(0, 0, 0, 0.1),
                                    inset 0 1px 10px rgba(0, 0, 0, 0.1);

$shadow-medium-inset:               inset 0 1px 2px rgba(0, 0, 0, 0.2),
                                    inset 0 1px 20px rgba(0, 0, 0, 0.2);

$shadow-large-inset:                inset 0 1px 3px rgba(0, 0, 0, 0.3),
                                    inset 0 1px 30px rgba(0, 0, 0, 0.3);

// --------------------------------------------------
// radius
// --------------------------------------------------

$border-radius-small:               2px;
$border-radius-medium:              3px;
$border-radius-large:               4px;
