.is-hidden {
  display: none !important;
}

.is-inline-block {
  display: inline-block !important;
}

.is-block {
  display: block !important;
}

.is-transparent {
  opacity: 0 !important;
}

.is-opaque {
  opacity: 1 !important;
}

.is-invisible {
  visibility: hidden !important;
}

.is-visible {
  visibility: visible !important;
}

.is-onscreen-nav {
  overflow: hidden;
}

.is-unrotate-in {
  transform-origin: center bottom !important;
  transform: translate(0, 0) scale(1) rotateX(0deg) !important;
}

.is-unrotate-out {
  transform-origin: center botoom !important;
  transform: translate(0, 0) scale(0.4) rotateX(90deg) !important;
}

.is-dropped-out {
  transform-origin: left bottom !important;
  transform: translate(-10%, 150%) scale(1) rotateZ(60deg) !important;
  transition: transform $transition-ease-medium !important;
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .is-onscreen-nav {
    overflow: auto;
  }
}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
