.is-hidden {
  display: none !important;
}

.is-inline-block {
  display: inline-block !important;
}

.is-block {
  display: block !important;
}

.is-transparent {
  opacity: 0 !important;
}

.is-opaque {
  opacity: 1 !important;
}

.is-invisible {
  visibility: hidden !important;
}

.is-visible {
  visibility: visible !important;
}

.is-collapsed {
  height: 0 !important;
  overflow-y: hidden !important;
  transition: height $transition-ease-medium, height $transition-ease-medium !important;
}

.is-onscreen-nav {
  overflow: hidden !important;
}

.is-unrotate-in {
  transform-origin: center center !important;
  transform: translate(0, 0) scale(1) rotateX(0deg) !important;
}

.is-unrotate-out {
  transform-origin: center center !important;
  transform: translate(0, -30px) scale(0.9) rotateX(15deg) !important;
}

.is-dropped-out {
  transform-origin: center center !important;
  transform: translate(0, 30px) scale(0.9) rotateX(-15deg) !important;
  transition: transform $transition-ease-fast !important;
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .is-onscreen-nav {
    overflow: auto !important;
  }
}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
