<section class="style-guide">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Buttons</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <button class="button button-small">Small</button>
        <br>
        <button class="button">Default</button>
        <br>
        <button class="button button-large">Large</button>
      </div>
      <div class="col-xs-12 col-md-3">
        <button class="button button-primary button-small">Primary</button>
        <br>
        <button class="button button-primary">Primary</button>
        <br>
        <button class="button button-primary button-large">Primary</button>
      </div>
      <div class="col-xs-12 col-md-3">
        <button class="button button-secondary button-small">Secondary</button>
        <br>
        <button class="button button-secondary">Secondary</button>
        <br>
        <button class="button button-secondary button-large">Secondary</button>
      </div>
      <div class="col-xs-12 col-md-3">
        <button class="button button-link button-small">Link</button>
        <br>
        <button class="button button-link">Link</button>
        <br>
        <button class="button button-link button-large">Link</button>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="style-guide-dark u-clearfix">
          <button class="button button-small button-tertiary">Tertiary</button>
          <br>
          <button class="button button-tertiary">Tertiary</button>
          <br>
          <button class="button button-large button-tertiary">Tertiary</button>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="style-guide-dark u-clearfix">
          <button class="button button-small button-tertiary-link">Tertiary link</button>
          <br>
          <button class="button button-tertiary-link">Tertiary link</button>
          <br>
          <button class="button button-large button-tertiary-link">Tertiary link</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <button class="button button-small"><span class="icon icon-radio-button-checked"></span>Small</button>
        <br>
        <button class="button"><span class="icon icon-radio-button-checked"></span>Default</button>
        <br>
        <button class="button button-large"><span class="icon icon-radio-button-checked"></span>Large</button>
      </div>
      <div class="col-xs-12 col-md-3">
        <button class="button button-primary button-small"><span class="icon icon-radio-button-checked"></span>Primary</button>
        <br>
        <button class="button button-primary"><span class="icon icon-radio-button-checked"></span>Primary</button>
        <br>
        <button class="button button-primary button-large"><span class="icon icon-radio-button-checked"></span>Primary</button>
      </div>
      <div class="col-xs-12 col-md-3">
        <button class="button button-secondary button-small"><span class="icon icon-radio-button-checked"></span>Secondary</button>
        <br>
        <button class="button button-secondary"><span class="icon icon-radio-button-checked"></span>Secondary</button>
        <br>
        <button class="button button-secondary button-large"><span class="icon icon-radio-button-checked"></span>Secondary</button>
      </div>
      <div class="col-xs-12 col-md-3">
        <button class="button button-link button-small"><span class="icon icon-radio-button-checked"></span>Link</button>
        <br>
        <button class="button button-link"><span class="icon icon-radio-button-checked"></span>Link</button>
        <br>
        <button class="button button-link button-large"><span class="icon icon-radio-button-checked"></span>Link</button>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="style-guide-dark u-clearfix">
          <button class="button button-small button-tertiary"><span class="icon icon-radio-button-checked"></span>Tertiary</button>
          <br>
          <button class="button button-tertiary"><span class="icon icon-radio-button-checked"></span>Tertiary</button>
          <br>
          <button class="button button-large button-tertiary"><span class="icon icon-radio-button-checked"></span>Tertiary</button>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="style-guide-dark u-clearfix">
          <button class="button button-small button-tertiary-link"><span class="icon icon-radio-button-checked"></span>Tertiary link</button>
          <br>
          <button class="button button-tertiary-link"><span class="icon icon-radio-button-checked"></span>Tertiary link</button>
          <br>
          <button class="button button-large button-tertiary-link"><span class="icon icon-radio-button-checked"></span>Tertiary link</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p><strong>Button groups</strong></p>
        <div class="row">
          <div class="col-xs-12">
            <div class="button-group">
              <button class="button button-small">1</button>
              <button class="button button-small">2</button>
              <button class="button button-small">3</button>
              <button class="button button-small">4</button>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="button-group">
              <button class="button">1</button>
              <button class="button">2</button>
              <button class="button">3</button>
              <button class="button">4</button>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="button-group">
              <button class="button button-large">1</button>
              <button class="button button-large">2</button>
              <button class="button button-large">3</button>
              <button class="button button-large">4</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <p><strong>Strech button groups</strong></p>
        <div class="row">
          <div class="col-xs-12">
            <div class="button-group button-group-strech">
              <button class="button button-small">1</button>
              <button class="button button-small">2</button>
              <button class="button button-small">3</button>
              <button class="button button-small">4</button>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="button-group button-group-strech">
              <button class="button">1</button>
              <button class="button">2</button>
              <button class="button">3</button>
              <button class="button">4</button>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="button-group button-group-strech">
              <button class="button button-large">1</button>
              <button class="button button-large">2</button>
              <button class="button button-large">3</button>
              <button class="button button-large">4</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
