<section class="style-guide style-guide-buttons">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Buttons</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="row">
          <div class="col-xs-12">
            <button class="button button-small">Default</button>
            <button class="button button-small button-primary">Primary</button>
            <button class="button button-small button-secondary">Secondary</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="button">Default</button>
            <button class="button button-primary">Primary</button>
            <button class="button button-secondary">Secondary</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="button button-large">Default</button>
            <button class="button button-large button-primary">Primary</button>
            <button class="button button-large button-secondary">Secondary</button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="style-guide-dark">
          <div class="row">
            <div class="col-xs-12">
              <button class="button button-small button-tertiary">Tertiary</button>
            </div>
            <div class="col-xs-12">
              <button class="button button-tertiary">Tertiary</button>
            </div>
            <div class="col-xs-12">
              <button class="button button-large button-tertiary">Tertiary</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="button-group button-group-strech">
          <button class="button">1</button>
          <button class="button">2</button>
          <button class="button">3</button>
          <button class="button">4</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-primary">1</button>
          <button class="button button-primary">2</button>
          <button class="button button-primary">3</button>
          <button class="button button-primary">4</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-secondary">1</button>
          <button class="button button-secondary">2</button>
          <button class="button button-secondary">3</button>
          <button class="button button-secondary">4</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-tertiary">1</button>
          <button class="button button-tertiary">2</button>
          <button class="button button-tertiary">3</button>
          <button class="button button-tertiary">4</button>
        </div>
      </div>
    </div>
  </div>
</section>
