<section class="style-guide style-guide-buttons">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Buttons</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="button button-small">Button Default</button>
        <button class="button button-primary button-small">Button Primary</button>
        <button class="button button-secondary button-small">Button Secondary</button>
        <button class="button button-tertiary button-small">Button Tertiary</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="button">Button Default</button>
        <button class="button button-primary">Button Primary</button>
        <button class="button button-secondary">Button Secondary</button>
        <button class="button button-tertiary">Button Tertiary</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="button button-large">Button Default</button>
        <button class="button button-primary button-large">Button Primary</button>
        <button class="button button-secondary button-large">Button Secondary</button>
        <button class="button button-tertiary button-large">Button Tertiary</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-small">1</button>
          <button class="button button-small">2</button>
          <button class="button button-small">3</button>
          <button class="button button-small">4</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-primary button-small">1</button>
          <button class="button button-primary button-small">2</button>
          <button class="button button-primary button-small">3</button>
          <button class="button button-primary button-small">4</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-secondary button-small">1</button>
          <button class="button button-secondary button-small">2</button>
          <button class="button button-secondary button-small">3</button>
          <button class="button button-secondary button-small">4</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-tertiary button-small">1</button>
          <button class="button button-tertiary button-small">2</button>
          <button class="button button-tertiary button-small">3</button>
          <button class="button button-tertiary button-small">4</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button">1</button>
          <button class="button">2</button>
          <button class="button">3</button>
          <button class="button">4</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-primary">1</button>
          <button class="button button-primary">2</button>
          <button class="button button-primary">3</button>
          <button class="button button-primary">4</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-secondary">1</button>
          <button class="button button-secondary">2</button>
          <button class="button button-secondary">3</button>
          <button class="button button-secondary">4</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-tertiary">1</button>
          <button class="button button-tertiary">2</button>
          <button class="button button-tertiary">3</button>
          <button class="button button-tertiary">4</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-large">1</button>
          <button class="button button-large">2</button>
          <button class="button button-large">3</button>
          <button class="button button-large">4</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-primary button-large">1</button>
          <button class="button button-primary button-large">2</button>
          <button class="button button-primary button-large">3</button>
          <button class="button button-primary button-large">4</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-secondary button-large">1</button>
          <button class="button button-secondary button-large">2</button>
          <button class="button button-secondary button-large">3</button>
          <button class="button button-secondary button-large">4</button>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="button-group">
          <button class="button button-tertiary button-large">1</button>
          <button class="button button-tertiary button-large">2</button>
          <button class="button button-tertiary button-large">3</button>
          <button class="button button-tertiary button-large">4</button>
        </div>
      </div>
    </div>
  </div>
</section>
