<section class="l-section">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium">Buttons</button>
      </div>
    </div>
    <div class="m-card-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <button class="button button-small"><span class="button-text">Default</span></button>
            <br>
            <button class="button button-medium"><span class="button-text">Default</span></button>
            <br>
            <button class="button button-large"><span class="button-text">Default</span></button>
          </div>
          <div class="col-xs-12 col-md-6">
            <button class="button button-small button-primary"><span class="button-text">Primary</span></button>
            <br>
            <button class="button button-medium button-primary"><span class="button-text">Primary</span></button>
            <br>
            <button class="button button-large button-primary"><span class="button-text">Primary</span></button>
          </div>
          <div class="col-xs-12 col-md-6">
            <button class="button button-small button-secondary"><span class="button-text">Secondary</span></button>
            <br>
            <button class="button button-medium button-secondary"><span class="button-text">Secondary</span></button>
            <br>
            <button class="button button-large button-secondary"><span class="button-text">Secondary</span></button>
          </div>
          <div class="col-xs-12 col-md-6">
            <button class="button button-small button-link"><span class="button-text">Link</span></button>
            <br>
            <button class="button button-medium button-link"><span class="button-text">Link</span></button>
            <br>
            <button class="button button-large button-link"><span class="button-text">Link</span></button>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="style-guide-dark u-clearfix">
              <button class="button button-small button-tertiary"><span class="button-text">Tertiary</span></button>
              <br>
              <button class="button button-medium button-tertiary"><span class="button-text">Tertiary</span></button>
              <br>
              <button class="button button-large button-tertiary"><span class="button-text">Tertiary</span></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <button class="button button-icon button-small"><span class="icon-radio-button-checked"></span><span class="button-text">Default</span></button>
            <br>
            <button class="button button-icon button-medium"><span class="icon-radio-button-checked"></span><span class="button-text">Default</span></button>
            <br>
            <button class="button button-icon button-large"><span class="icon-radio-button-checked"></span><span class="button-text">Default</span></button>
          </div>
          <div class="col-xs-12 col-md-6">
            <button class="button button-icon button-small button-primary"><span class="icon-radio-button-checked"></span><span class="button-text">Primary</span></button>
            <br>
            <button class="button button-icon button-medium button-primary"><span class="icon-radio-button-checked"></span><span class="button-text">Primary</span></button>
            <br>
            <button class="button button-icon button-large button-primary"><span class="icon-radio-button-checked"></span><span class="button-text">Primary</span></button>
          </div>
          <div class="col-xs-12 col-md-6">
            <button class="button button-icon button-small button-secondary"><span class="icon-radio-button-checked"></span><span class="button-text">Secondary</span></button>
            <br>
            <button class="button button-icon button-medium button-secondary"><span class="icon-radio-button-checked"></span><span class="button-text">Secondary</span></button>
            <br>
            <button class="button button-icon button-large button-secondary"><span class="icon-radio-button-checked"></span><span class="button-text">Secondary</span></button>
          </div>
          <div class="col-xs-12 col-md-6">
            <button class="button button-icon button-small button-link"><span class="icon-radio-button-checked"></span><span class="button-text">Link</span></button>
            <br>
            <button class="button button-icon button-medium button-link"><span class="icon-radio-button-checked"></span><span class="button-text">Link</span></button>
            <br>
            <button class="button button-icon button-large button-link"><span class="icon-radio-button-checked"></span><span class="button-text">Link</span></button>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="style-guide-dark u-clearfix">
              <button class="button button-icon button-small button-tertiary"><span class="icon-radio-button-checked"></span><span class="button-text">Tertiary</span></button>
              <br>
              <button class="button button-icon button-medium button-tertiary"><span class="icon-radio-button-checked"></span><span class="button-text">Tertiary</span></button>
              <br>
              <button class="button button-icon button-large button-tertiary"><span class="icon-radio-button-checked"></span><span class="button-text">Tertiary</span></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p><strong>Button groups</strong></p>
            <div class="row">
              <div class="col-xs-12">
                <div class="button-group">
                  <button class="button button-small"><span class="button-text">1</span></button>
                  <button class="button button-small"><span class="button-text">2</span></button>
                  <button class="button button-small"><span class="button-text">3</span></button>
                  <button class="button button-small"><span class="button-text">4</span></button>
                </div>
                <div class="button-group">
                  <button class="button"><span class="button-text">1</span></button>
                  <button class="button"><span class="button-text">2</span></button>
                  <button class="button"><span class="button-text">3</span></button>
                  <button class="button"><span class="button-text">4</span></button>
                </div>
                <div class="button-group">
                  <button class="button button-large"><span class="button-text">1</span></button>
                  <button class="button button-large"><span class="button-text">2</span></button>
                  <button class="button button-large"><span class="button-text">3</span></button>
                  <button class="button button-large"><span class="button-text">4</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <p><strong>Button groups strech</strong></p>
            <div class="row">
              <div class="col-xs-12">
                <div class="button-group button-group-strech">
                  <button class="button button-small"><span class="button-text">1</span></button>
                  <button class="button button-small"><span class="button-text">2</span></button>
                  <button class="button button-small"><span class="button-text">3</span></button>
                  <button class="button button-small"><span class="button-text">4</span></button>
                </div>
                <div class="button-group button-group-strech">
                  <button class="button"><span class="button-text">1</span></button>
                  <button class="button"><span class="button-text">2</span></button>
                  <button class="button"><span class="button-text">3</span></button>
                  <button class="button"><span class="button-text">4</span></button>
                </div>
                <div class="button-group button-group-strech">
                  <button class="button button-large"><span class="button-text">1</span></button>
                  <button class="button button-large"><span class="button-text">2</span></button>
                  <button class="button button-large"><span class="button-text">3</span></button>
                  <button class="button button-large"><span class="button-text">4</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <p><strong>Button groups line</strong></p>
            <div class="row">
              <div class="col-xs-12">
                <div class="button-group button-group-line">
                  <button class="button button-small"><span class="button-text">1</span></button>
                  <button class="button button-small"><span class="button-text">2</span></button>
                  <button class="button button-small"><span class="button-text">3</span></button>
                  <button class="button button-small"><span class="button-text">4</span></button>
                </div>
                <div class="button-group button-group-line">
                  <button class="button"><span class="button-text">1</span></button>
                  <button class="button"><span class="button-text">2</span></button>
                  <button class="button"><span class="button-text">3</span></button>
                  <button class="button"><span class="button-text">4</span></button>
                </div>
                <div class="button-group button-group-line">
                  <button class="button button-large"><span class="button-text">1</span></button>
                  <button class="button button-large"><span class="button-text">2</span></button>
                  <button class="button button-large"><span class="button-text">3</span></button>
                  <button class="button button-large"><span class="button-text">4</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
