<section class="style-guide">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Colours</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Primary color</strong></p>
        <div class="style-guide-color-group u-clearfix">
          <div class="style-guide-color style-guide-primary-color-01"></div>
          <div class="style-guide-color style-guide-primary-color-02"></div>
          <div class="style-guide-color style-guide-primary-color-03"></div>
          <div class="style-guide-color style-guide-primary-color-04"></div>
          <div class="style-guide-color style-guide-primary-color-05"></div>
          <div class="style-guide-color style-guide-primary-color-06"></div>
          <div class="style-guide-color style-guide-primary-color-07"></div>
          <div class="style-guide-color style-guide-primary-color-08"></div>
          <div class="style-guide-color style-guide-primary-color-09"></div>
          <div class="style-guide-color style-guide-primary-color-10"></div>
          <div class="style-guide-color style-guide-primary-color-11"></div>
          <div class="style-guide-color style-guide-primary-color-12"></div>
          <div class="style-guide-color style-guide-primary-color-13"></div>
          <div class="style-guide-color style-guide-primary-color-14"></div>
          <div class="style-guide-color style-guide-primary-color-15"></div>
          <div class="style-guide-color style-guide-primary-color-16"></div>
          <div class="style-guide-color style-guide-primary-color-17"></div>
          <div class="style-guide-color style-guide-primary-color-18"></div>
          <div class="style-guide-color style-guide-primary-color-19"></div>
          <div class="style-guide-color style-guide-primary-color-20"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-01"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-02"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-03"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-04"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-05"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-06"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-07"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-08"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-09"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-10"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-11"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-12"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-13"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-14"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-15"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-16"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-17"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-18"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-19"></div>
          <div class="style-guide-color style-guide-primary-color-alpha-20"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Secondary color</strong></p>
        <div class="style-guide-color-group u-clearfix">
          <div class="style-guide-color style-guide-secondary-color-01"></div>
          <div class="style-guide-color style-guide-secondary-color-02"></div>
          <div class="style-guide-color style-guide-secondary-color-03"></div>
          <div class="style-guide-color style-guide-secondary-color-04"></div>
          <div class="style-guide-color style-guide-secondary-color-05"></div>
          <div class="style-guide-color style-guide-secondary-color-06"></div>
          <div class="style-guide-color style-guide-secondary-color-07"></div>
          <div class="style-guide-color style-guide-secondary-color-08"></div>
          <div class="style-guide-color style-guide-secondary-color-09"></div>
          <div class="style-guide-color style-guide-secondary-color-10"></div>
          <div class="style-guide-color style-guide-secondary-color-11"></div>
          <div class="style-guide-color style-guide-secondary-color-12"></div>
          <div class="style-guide-color style-guide-secondary-color-13"></div>
          <div class="style-guide-color style-guide-secondary-color-14"></div>
          <div class="style-guide-color style-guide-secondary-color-15"></div>
          <div class="style-guide-color style-guide-secondary-color-16"></div>
          <div class="style-guide-color style-guide-secondary-color-17"></div>
          <div class="style-guide-color style-guide-secondary-color-18"></div>
          <div class="style-guide-color style-guide-secondary-color-19"></div>
          <div class="style-guide-color style-guide-secondary-color-20"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-01"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-02"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-03"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-04"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-05"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-06"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-07"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-08"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-09"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-10"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-11"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-12"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-13"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-14"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-15"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-16"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-17"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-18"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-19"></div>
          <div class="style-guide-color style-guide-secondary-color-alpha-20"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Gray color</strong></p>
        <div class="style-guide-color-group u-clearfix">
          <div class="style-guide-color style-guide-gray-01"></div>
          <div class="style-guide-color style-guide-gray-02"></div>
          <div class="style-guide-color style-guide-gray-03"></div>
          <div class="style-guide-color style-guide-gray-04"></div>
          <div class="style-guide-color style-guide-gray-05"></div>
          <div class="style-guide-color style-guide-gray-06"></div>
          <div class="style-guide-color style-guide-gray-07"></div>
          <div class="style-guide-color style-guide-gray-08"></div>
          <div class="style-guide-color style-guide-gray-09"></div>
          <div class="style-guide-color style-guide-gray-10"></div>
          <div class="style-guide-color style-guide-gray-11"></div>
          <div class="style-guide-color style-guide-gray-12"></div>
          <div class="style-guide-color style-guide-gray-13"></div>
          <div class="style-guide-color style-guide-gray-14"></div>
          <div class="style-guide-color style-guide-gray-15"></div>
          <div class="style-guide-color style-guide-gray-16"></div>
          <div class="style-guide-color style-guide-gray-17"></div>
          <div class="style-guide-color style-guide-gray-18"></div>
          <div class="style-guide-color style-guide-gray-19"></div>
          <div class="style-guide-color style-guide-gray-20"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Light and dark color</strong></p>
        <div class="style-guide-color-group style-guide-dark u-clearfix">
          <div class="style-guide-color style-guide-dark-alpha-01"></div>
          <div class="style-guide-color style-guide-dark-alpha-02"></div>
          <div class="style-guide-color style-guide-dark-alpha-03"></div>
          <div class="style-guide-color style-guide-dark-alpha-04"></div>
          <div class="style-guide-color style-guide-dark-alpha-05"></div>
          <div class="style-guide-color style-guide-dark-alpha-06"></div>
          <div class="style-guide-color style-guide-dark-alpha-07"></div>
          <div class="style-guide-color style-guide-dark-alpha-08"></div>
          <div class="style-guide-color style-guide-dark-alpha-09"></div>
          <div class="style-guide-color style-guide-dark-alpha-10"></div>
          <div class="style-guide-color style-guide-dark-alpha-11"></div>
          <div class="style-guide-color style-guide-dark-alpha-12"></div>
          <div class="style-guide-color style-guide-dark-alpha-13"></div>
          <div class="style-guide-color style-guide-dark-alpha-14"></div>
          <div class="style-guide-color style-guide-dark-alpha-15"></div>
          <div class="style-guide-color style-guide-dark-alpha-16"></div>
          <div class="style-guide-color style-guide-dark-alpha-17"></div>
          <div class="style-guide-color style-guide-dark-alpha-18"></div>
          <div class="style-guide-color style-guide-dark-alpha-19"></div>
          <div class="style-guide-color style-guide-dark-alpha-20"></div>
          <div class="style-guide-color style-guide-light-alpha-01"></div>
          <div class="style-guide-color style-guide-light-alpha-02"></div>
          <div class="style-guide-color style-guide-light-alpha-03"></div>
          <div class="style-guide-color style-guide-light-alpha-04"></div>
          <div class="style-guide-color style-guide-light-alpha-05"></div>
          <div class="style-guide-color style-guide-light-alpha-06"></div>
          <div class="style-guide-color style-guide-light-alpha-07"></div>
          <div class="style-guide-color style-guide-light-alpha-08"></div>
          <div class="style-guide-color style-guide-light-alpha-09"></div>
          <div class="style-guide-color style-guide-light-alpha-10"></div>
          <div class="style-guide-color style-guide-light-alpha-11"></div>
          <div class="style-guide-color style-guide-light-alpha-12"></div>
          <div class="style-guide-color style-guide-light-alpha-13"></div>
          <div class="style-guide-color style-guide-light-alpha-14"></div>
          <div class="style-guide-color style-guide-light-alpha-15"></div>
          <div class="style-guide-color style-guide-light-alpha-16"></div>
          <div class="style-guide-color style-guide-light-alpha-17"></div>
          <div class="style-guide-color style-guide-light-alpha-18"></div>
          <div class="style-guide-color style-guide-light-alpha-19"></div>
          <div class="style-guide-color style-guide-light-alpha-20"></div>
        </div>
      </div>
    </div>
  </div>
</section>
