<section class="l-section js-section">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium">Display</button>
      </div>
    </div>
    <div class="m-card-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p><strong>Display list</strong></p>
            <ul class="m-display-list u-list-unstyled">
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Alpha</span>
                <span class="m-display-list-item-value">1</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Beta</span>
                <span class="m-display-list-item-value">2</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Gamma</span>
                <span class="m-display-list-item-value">3</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Delta</span>
                <span class="m-display-list-item-value">4</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Epsilon</span>
                <span class="m-display-list-item-value">5</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Zeta</span>
                <span class="m-display-list-item-value">6</span>
              </li>
            </ul>
            <p><strong>Display list line</strong></p>
            <ul class="m-display-list m-display-list-line u-list-unstyled">
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Alpha</span>
                <span class="m-display-list-item-value">1</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Beta</span>
                <span class="m-display-list-item-value">2</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Gamma</span>
                <span class="m-display-list-item-value">3</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Delta</span>
                <span class="m-display-list-item-value">4</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Epsilon</span>
                <span class="m-display-list-item-value">5</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Zeta</span>
                <span class="m-display-list-item-value">6</span>
              </li>
            </ul>
            <p><strong>Display list line responsive</strong></p>
            <ul class="m-display-list m-display-list-line m-display-list-responsive u-list-unstyled">
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Alpha</span>
                <span class="m-display-list-item-value">1</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Beta</span>
                <span class="m-display-list-item-value">2</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Gamma</span>
                <span class="m-display-list-item-value">3</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Delta</span>
                <span class="m-display-list-item-value">4</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Epsilon</span>
                <span class="m-display-list-item-value">5</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Zeta</span>
                <span class="m-display-list-item-value">6</span>
              </li>
            </ul>
            <p><strong>Display list line thirds</strong></p>
            <ul class="m-display-list m-display-list-line m-display-list-thirds u-list-unstyled">
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Alpha</span>
                <span class="m-display-list-item-value">1</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Beta</span>
                <span class="m-display-list-item-value">2</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Gamma</span>
                <span class="m-display-list-item-value">3</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Delta</span>
                <span class="m-display-list-item-value">4</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Epsilon</span>
                <span class="m-display-list-item-value">5</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Zeta</span>
                <span class="m-display-list-item-value">6</span>
              </li>
            </ul>
            <p><strong>Display list stack responsive</strong></p>
            <ul class="m-display-list m-display-list-stack m-display-list-responsive u-list-unstyled">
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Alpha</span>
                <span class="m-display-list-item-value">1</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Beta</span>
                <span class="m-display-list-item-value">2</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Gamma</span>
                <span class="m-display-list-item-value">3</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Delta</span>
                <span class="m-display-list-item-value">4</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Epsilon</span>
                <span class="m-display-list-item-value">5</span>
              </li>
              <li class="m-display-list-item">
                <span class="m-display-list-item-prefix">Zeta</span>
                <span class="m-display-list-item-value">6</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
