<section class="l-section js-section">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-head-controls button-group">
        <button class="m-card-title button button-tertiary button-medium">Edit</button>
      </div>
    </div>
    <div class="m-card-body">
      <div class="m-edit-box">
        <div class="m-edit-box-head-small">
          <div class="m-edit-box-title">
            <p>Edit Head</p>
          </div>
        </div>
        <div class="m-edit-box-body">
          <p class="u-inline-with-input">Edit Body</p>
        </div>
      </div>
    </div>
  </div>
</section>
