<section class="l-section js-section">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-head-controls button-group">
        <button class="m-card-title button button-tertiary button-medium">Edit Box</button>
      </div>
    </div>
    <div class="m-card-body">

      <div class="m-edit-box m-edit-box-head-small m-edit-box-labels">
        <div class="m-edit-box-head">
          <p class="m-edit-box-title">Small head, label</p>
        </div>
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label">Text</p>
              <p class="m-edit-box-text">0</p>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-1">Large</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-1" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-medium">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-2">Medium</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-2" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-3">Small</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-3" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button">
              <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon" tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="m-edit-box m-edit-box-head-small m-edit-box-group m-edit-box-labels">
        <div class="m-edit-box-head">
          <p class="m-edit-box-title">Small head, group, label</p>
        </div>
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label">Text</p>
              <p class="m-edit-box-text">0</p>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-1">Large</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-1" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-medium">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-2">Medium</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-2" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-3">Small</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-3" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button">
              <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon" tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="m-edit-box m-edit-box-head-small m-edit-box-group m-edit-box-labels m-edit-box-margin-large">
        <div class="m-edit-box-head">
          <p class="m-edit-box-title">Small head, group, label, margin large</p>
        </div>
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label">Text</p>
              <p class="m-edit-box-text">0</p>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-1">Large</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-1" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-medium">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-2">Medium</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-2" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-3">Small</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-3" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button">
              <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon" tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="m-edit-box m-edit-box-head-small m-edit-box-labels m-edit-box-group m-edit-box-outline">
        <div class="m-edit-box-head">
          <p class="m-edit-box-title">Small head, label, group outline</p>
        </div>
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label">Text</p>
              <p class="m-edit-box-text">0</p>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-1">Large</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-1" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-medium">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-2">Medium</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-2" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-3">Small</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-3" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button">
              <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon" tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="m-edit-box m-edit-box-head-small m-edit-box-labels m-edit-box-outline m-edit-box-margin-large">
        <div class="m-edit-box-head">
          <p class="m-edit-box-title">Small head, label, outline, margin large</p>
        </div>
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label">Text</p>
              <p class="m-edit-box-text">0</p>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-1">Large</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-1" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-medium">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-2">Medium</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-2" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-3">Small</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-3" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button">
              <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon" tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label">Text</p>
              <p class="m-edit-box-text">0</p>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-1">Large</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-1" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-medium">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-2">Medium</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-2" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-3">Small</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-3" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button">
              <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon" tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="m-edit-box m-edit-box-head-small m-edit-box-group m-edit-box-labels m-edit-box-outline m-edit-box-margin-large">
        <div class="m-edit-box-head">
          <p class="m-edit-box-title">Small head, label, outline, group, margin large</p>
        </div>
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label">Text</p>
              <p class="m-edit-box-text">0</p>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-1">Large</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-1" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-medium">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-2">Medium</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-2" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-3">Small</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-3" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button">
              <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon" tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label">Text</p>
              <p class="m-edit-box-text">0</p>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-1">Large</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-1" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-medium">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-2">Medium</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-2" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-3">Small</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-3" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button">
              <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon" tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="m-edit-box m-edit-box-no-head-small">
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label">Text</p>
              <p class="m-edit-box-text">0</p>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-1">Large</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-1" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-medium">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-2">Medium</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-2" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-3">Small</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-3" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button">
              <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon" tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="m-edit-box m-edit-box-head-small m-edit-box-end">
        <div class="m-edit-box-head">
          <p class="m-edit-box-title">Small head, end</p>
        </div>
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-small">
              <div class="m-input-block">
                <input class="m-input-block-field u-full-width" type="text" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="m-edit-box m-edit-box-head-large">
        <div class="m-edit-box-head">
          <p class="m-edit-box-title">Large head</p>
        </div>
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label">Text</p>
              <p class="m-edit-box-text">0</p>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-1">Large</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-1" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-medium">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-2">Medium</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-2" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-3">Small</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-3" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button">
              <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon" tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="m-edit-box m-edit-box-head-large m-edit-box-group">
        <div class="m-edit-box-head">
          <p class="m-edit-box-title">Large head, group</p>
        </div>
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-text">
              <p class="m-edit-box-label">Text</p>
              <p class="m-edit-box-text">0</p>
            </div>
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-1">Large</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-1" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-medium">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-2">Medium</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-2" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-small">
              <div class="m-input-block">
                <label class="m-input-block-label" for="style-guide-input-3">Small</label>
                <input class="m-input-block-field u-full-width" id="style-guide-input-3" type="text" tabindex="1">
              </div>
            </div>
            <div class="m-edit-box-item-button">
              <a href="javascript:void(0)" class="u-inline-with-input button button-secondary button-large button-icon" tabindex="1"><span class="icon-more-vertical"></span></a>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="m-edit-box m-edit-box-head-large m-edit-box-guides">
        <div class="m-edit-box-head">
          <p class="m-edit-box-title">Large head, guides</p>
        </div>
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <input class="m-input-block-field u-full-width" type="text" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="m-edit-box m-edit-box-head-large m-edit-box-guides">
        <div class="m-edit-box-head">
          <p class="m-edit-box-title">Large head, guides</p>
        </div>
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <input class="m-input-block-field u-full-width" type="text" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="m-edit-box m-edit-box-head-large m-edit-box-guides">
        <div class="m-edit-box-head">
          <p class="m-edit-box-title">Large head, guides</p>
        </div>
        <div class="m-edit-box-body">
          <div class="m-edit-box-content">
            <div class="m-edit-box-item-large">
              <div class="m-input-block">
                <input class="m-input-block-field u-full-width" type="text" tabindex="1">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
