<section class="style-guide">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Forms</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <label for="style-guide-input">Input</label>
        <input id="style-guide-input" type="text" placeholder="Placeholder">
        <label for="style-guide-textarea">Textarea</label>
        <textarea class="textarea-large" placeholder="Placeholder"></textarea>
        {{!--
        <div class="textarea textarea-large" id="style-guide-textarea" contentEditable="true">Textarea Div</div> --}}
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-6">
            <input id="style-guide-checkbox-1" type="checkbox" checked>
            <label for="style-guide-checkbox-1">Checkbox 1</label>
            <input id="style-guide-checkbox-2" type="checkbox">
            <label for="style-guide-checkbox-2">Checkbox 2</label>
            <input id="style-guide-checkbox-3" type="checkbox">
            <label for="style-guide-checkbox-3">Checkbox 3</label>
            <input id="style-guide-checkbox-4" type="checkbox">
            <label for="style-guide-checkbox-4">Checkbox 4</label>
          </div>
          <div class="col-xs-6">
            <input id="style-guide-radio-1" name="style-guide-radiogroup" type="radio" checked>
            <label for="style-guide-radio-1">Radio 1</label>
            <input id="style-guide-radio-2" name="style-guide-radiogroup" type="radio">
            <label for="style-guide-radio-2">Radio 2</label>
            <input id="style-guide-radio-3" name="style-guide-radiogroup" type="radio">
            <label for="style-guide-radio-3">Radio 3</label>
            <input id="style-guide-radio-4" name="style-guide-radiogroup" type="radio">
            <label for="style-guide-radio-4">Radio 4</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
