<section class="style-guide">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Forms</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <label for="style-guide-input">Input</label>
        <input id="style-guide-input" class="u-full-width" type="text" placeholder="Placeholder">
        <label for="style-guide-textarea">Textarea</label>
        <textarea id="style-guide-textarea" class="textarea-large u-full-width" placeholder="Placeholder"></textarea>
        <label for="style-guide-textarea-div">Textarea Div</label>
        <div id="style-guide-textarea-div" class="textarea textarea-large u-full-width" contentEditable="true">Placeholder</div>
        <select class="u-full-width">
          <option value="Option 1">Option 1</option>
          <option value="Option 2">Option 2</option>
          <option value="Option 3">Option 3</option>
          <option value="Option 4">Option 4</option>
        </select>
        <input type="reset">
        <input type="submit">
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-6">
            <input id="style-guide-checkbox-1" type="checkbox" checked>
            <label for="style-guide-checkbox-1" class="label-left u-full-width">Checkbox 1</label>
            <input id="style-guide-checkbox-2" type="checkbox">
            <label for="style-guide-checkbox-2" class="label-left u-full-width">Checkbox 2</label>
            <input id="style-guide-checkbox-3" type="checkbox">
            <label for="style-guide-checkbox-3" class="label-left u-full-width">Checkbox 3</label>
            <input id="style-guide-checkbox-4" type="checkbox">
            <label for="style-guide-checkbox-4" class="label-left u-full-width">Checkbox 4</label>
          </div>
          <div class="col-xs-6">
            <input id="style-guide-checkbox-5" type="checkbox" checked>
            <label for="style-guide-checkbox-5" class="label-right u-full-width">Checkbox 5</label>
            <input id="style-guide-checkbox-6" type="checkbox">
            <label for="style-guide-checkbox-6" class="label-right u-full-width">Checkbox 6</label>
            <input id="style-guide-checkbox-7" type="checkbox">
            <label for="style-guide-checkbox-7" class="label-right u-full-width">Checkbox 7</label>
            <input id="style-guide-checkbox-8" type="checkbox">
            <label for="style-guide-checkbox-8" class="label-right u-full-width">Checkbox 8</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <input id="style-guide-radio-1" name="style-guide-radiogroup" type="radio" checked>
            <label for="style-guide-radio-1" class="label-left u-full-width">Radio 1</label>
            <input id="style-guide-radio-2" name="style-guide-radiogroup" type="radio">
            <label for="style-guide-radio-2" class="label-left u-full-width">Radio 2</label>
            <input id="style-guide-radio-3" name="style-guide-radiogroup" type="radio">
            <label for="style-guide-radio-3" class="label-left u-full-width">Radio 3</label>
            <input id="style-guide-radio-4" name="style-guide-radiogroup" type="radio">
            <label for="style-guide-radio-4" class="label-left u-full-width">Radio 4</label>
          </div>
          <div class="col-xs-6">
            <input id="style-guide-radio-5" name="style-guide-radiogroup" type="radio" checked>
            <label for="style-guide-radio-5" class="label-right u-full-width">Radio 5</label>
            <input id="style-guide-radio-6" name="style-guide-radiogroup" type="radio">
            <label for="style-guide-radio-6" class="label-right u-full-width">Radio 6</label>
            <input id="style-guide-radio-7" name="style-guide-radiogroup" type="radio">
            <label for="style-guide-radio-7" class="label-right u-full-width">Radio 7</label>
            <input id="style-guide-radio-8" name="style-guide-radiogroup" type="radio">
            <label for="style-guide-radio-8" class="label-right u-full-width">Radio 8</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
