<section class="l-section js-section">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium">Icons</button>
      </div>
    </div>
    <div class="m-card-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <span class="style-guide-icon icon-error"></span>
            <span class="style-guide-icon icon-error-outline"></span>
            <span class="style-guide-icon icon-playlist-add"></span>
            <span class="style-guide-icon icon-clear-all"></span>
            <span class="style-guide-icon icon-add"></span>
            <span class="style-guide-icon icon-add-circle"></span>
            <span class="style-guide-icon icon-add-circle-outline"></span>
            <span class="style-guide-icon icon-remove"></span>
            <span class="style-guide-icon icon-remove-circle"></span>
            <span class="style-guide-icon icon-remove-circle-outline"></span>
            <span class="style-guide-icon icon-cancel"></span>
            <span class="style-guide-icon icon-chevron-left"></span>
            <span class="style-guide-icon icon-chevron-right"></span>
            <span class="style-guide-icon icon-close"></span>
            <span class="style-guide-icon icon-expand-less"></span>
            <span class="style-guide-icon icon-expand-more"></span>
            <span class="style-guide-icon icon-fullscreen"></span>
            <span class="style-guide-icon icon-fullscreen-exit"></span>
            <span class="style-guide-icon icon-unfold-less"></span>
            <span class="style-guide-icon icon-unfold-more"></span>
            <span class="style-guide-icon icon-check-box"></span>
            <span class="style-guide-icon icon-check-box-outline-blank"></span>
            <span class="style-guide-icon icon-radio-button-unchecked"></span>
            <span class="style-guide-icon icon-radio-button-checked"></span>
            <span class="style-guide-icon icon-bookmark"></span>
            <span class="style-guide-icon icon-bookmark-outline"></span>
            <span class="style-guide-icon icon-refresh"></span>
            <span class="style-guide-icon icon-delete"></span>
            <span class="style-guide-icon icon-play-arrow"></span>
            <span class="style-guide-icon icon-file-download"></span>
            <span class="style-guide-icon icon-file-upload"></span>
            <span class="style-guide-icon icon-account-circle"></span>
            <span class="style-guide-icon icon-apps"></span>
            <span class="style-guide-icon icon-bottle"></span>
            <span class="style-guide-icon icon-shield"></span>
            <span class="style-guide-icon icon-list"></span>
            <span class="style-guide-icon icon-combat"></span>
            <span class="style-guide-icon icon-whatshot"></span>
            <span class="style-guide-icon icon-edit"></span>
            <span class="style-guide-icon icon-file"></span>
            <span class="style-guide-icon icon-file-blank"></span>
            <span class="style-guide-icon icon-reader"></span>
            <span class="style-guide-icon icon-renew"></span>
            <span class="style-guide-icon icon-check"></span>
            <span class="style-guide-icon icon-moon"></span>
            <span class="style-guide-icon icon-more-horizontal"></span>
            <span class="style-guide-icon icon-more-vertical"></span>
            <span class="style-guide-icon icon-sort-az"></span>
            <span class="style-guide-icon icon-sort"></span>
            <span class="style-guide-icon icon-feedback"></span>
            <span class="style-guide-icon icon-person"></span>
            <span class="style-guide-icon icon-awesomSheet"></span>
            <span class="style-guide-icon icon-lostD20"></span>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
