<section class="l-section js-section">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-head-controls">
        <p class="m-card-title js-card-title">Section</p>
        <button class="m-card-display-toggle button button-link button-small button-icon js-card-display-toggle">
          <span class="icon-reader-mode js-card-display-toggle-icon"></span>
        </button>
      </div>
    </div>
    <div class="m-card-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Card</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
