<section class="l-section js-section">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-controls button-group">
        <button class="m-card-title button button-tertiary button-medium">Section</button>
      </div>
    </div>
    <div class="m-card-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Section</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
