<section class="l-section js-section">
  <div class="m-card">
    <div class="m-card-head">
      <div class="m-card-head-controls button-group">
        <button class="m-card-title button button-tertiary button-medium">Tabs</button>
      </div>
    </div>
    <div class="m-tab-group js-tab-group">
      <button class="m-tab-item js-tab-item"><span class="m-tab-text">Tab 01</span></button>
      <button class="m-tab-item js-tab-item is-active"><span class="m-tab-text">Tab 02</span></button>
      <button class="m-tab-item js-tab-item"><span class="m-tab-text">Tab 03</span></button>
      <button class="m-tab-item js-tab-item"><span class="m-tab-text">Tab 04</span></button>
      <button class="m-tab-item js-tab-item"><span class="m-tab-text">Tab 05</span></button>
      <button class="m-tab-item js-tab-item"><span class="m-tab-text">Tab 06</span></button>
      <button class="m-tab-item js-tab-item"><span class="m-tab-text">Tab 07</span></button>
      <button class="m-tab-item js-tab-item"><span class="m-tab-text">Tab 08</span></button>
      <button class="m-tab-item js-tab-item"><span class="m-tab-text">Tab 09</span></button>
      <button class="m-tab-item js-tab-item"><span class="m-tab-text">Tab 10</span></button>
    </div>
    <div class="m-card-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Tabs</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
