<section class="style-guide">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Typography</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
      </div>
      <div class="col-xs-12 col-md-8">
        <p><strong>This is a strong line of text.</strong></p>
        <p>Lorem ipsum dolor sit amet, his at intellegat scribentur, virtute admodum ex sit, equidem dignissim cu per. Mentitum persecuti nam ne, quo appareat molestiae no, cu veri nonumes corrumpit per. Ut unum repudiare torquatos his, per ne sumo exerci eloquentiam. Ludus similique vel no, aeque graeco torquatos ne sed, natum diceret eam in. Stet petentium vel no, explicari temporibus ea eos.</p>
        <p> Vel ea euripidis persequeris, cu possim sanctus invenire pro, his ne dicunt deterruisset. Te sit probo cetero. Vel ut noluisse salutandi, eam porro equidem oporteat an. Ad est numquam senserit, mea ad graecis volumus phaedrum. Mei reprimique definitiones an, ius eu dicta intellegam, habeo dicat assum ne vim.</p>
        <p> Posse gubergren cu duo, ne nam omnes nominavi comprehensam, ut etiam labores laboramus has. Dico eleifend salutandi his ea, qualisque quaerendum adversarium eam ei, ei sed assueverit scripserit vituperatoribus. Te eam aperiam urbanitas reformidans, errem dicant nec te. Quot sententiae incorrupte in nec, vim bonorum consequat ut.</p>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <ul>
              <li>Unordered lists</li>
              <li>List item</li>
              <li>List item</li>
              <li>
                list item
                <ul>
                  <li>Sub list item</li>
                  <li>Sub list item</li>
                </ul>
              </li>
              <li>List item</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6">
            <ol>
              <li>Unordered lists</li>
              <li>List item</li>
              <li>List item</li>
              <li>
                list item
                <ul>
                  <li>Sub list item</li>
                  <li>Sub list item</li>
                </ul>
              </li>
              <li>List item</li>
            </ol>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <td>Head 1</td>
              <td>Head 2</td>
              <td>Head 3</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Row 1, Col 1</td>
              <td>Row 1, Col 2</td>
              <td>Row 1, Col 3</td>
            </tr>
            <tr>
              <td>Row 2, Col 1</td>
              <td>Row 2, Col 2</td>
              <td>Row 2, Col 3</td>
            </tr>
            <tr>
              <td>Row 3, Col 1</td>
              <td>Row 3, Col 2</td>
              <td>Row 3, Col 3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
