<section class="style-guide style-guide-buttons">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Typography</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
      </div>
      <div class="col-xs-12 col-md-9">
        <p><strong>This is a strong line of text.</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor imperdiet ex ornare sollicitudin. Praesent tempus elit vitae leo lacinia fermentum. Phasellus a lorem augue. Morbi at feugiat neque. Proin lobortis, lacus sit amet pharetra tincidunt, felis lacus suscipit ipsum, ac facilisis lectus velit in urna. In at massa ut elit vulputate ornare. Curabitur suscipit, augue quis placerat blandit, mauris dolor dapibus urna, at consequat purus turpis sed risus. Duis volutpat sem odio, in commodo arcu dapibus in. Aenean varius ex eget ligula euismod aliquam. Aenean metus enim, porta ac eros vitae, mattis feugiat quam. Nam vitae est tempor, pharetra nisl ac, aliquet nunc. Etiam commodo magna ut sagittis hendrerit.</p>
        <a href="javascript:void(0)">This is a link.</a>
      </div>
    </div>
  </div>
</section>
