<section class="style-guide">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Typography</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
      </div>
      <div class="col-xs-12 col-md-8">
        <p><strong>This is a strong line of text.</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor imperdiet ex ornare sollicitudin. Praesent tempus elit vitae leo lacinia fermentum. Phasellus a lorem augue. Morbi at feugiat neque. Proin lobortis, lacus sit amet pharetra tincidunt, felis lacus suscipit ipsum, ac facilisis lectus velit in urna.</p>
        <a href="javascript:void(0)">This is a text link.</a>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <ul>
              <li>Unordered lists</li>
              <li>List item</li>
              <li>List item</li>
              <li>
                list item
                <ul>
                  <li>Sub list item</li>
                  <li>Sub list item</li>
                </ul>
              </li>
              <li>List item</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6">
            <ol>
              <li>Unordered lists</li>
              <li>List item</li>
              <li>List item</li>
              <li>
                list item
                <ul>
                  <li>Sub list item</li>
                  <li>Sub list item</li>
                </ul>
              </li>
              <li>List item</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
