.l-display {
  position: relative;
  z-index: $display;
  &.is-pinned {
    padding-top: 4.5em;
  }
}
.l-display-last {
  min-height: 100vh;
}
.l-display-dark {
  background-color: $gray-18;
}
.is-night-mode {
  .l-display-head {
    background-color: $secondary-color-03;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {
  .l-display {
    display: block !important;
    &.is-hidden {
      display: block !important;
    }
  }
}
