.l-section-display {
  background-color: $white;
  position: absolute;
  margin: 0;
  padding: 80px 0;
  top: 60px;
  left: 0;
  z-index: $display;
  width: 100%;
  // border-radius: $border-radius-large;
  // box-shadow: $shadow-medium;
}
