.l-edit {
  position: relative;
  z-index: $body;
  &.is-pinned {
    padding-top: 3em;
  }
}
.l-edit-last {
  min-height: 100vh;
}
.l-edit-dark {
  background-color: $secondary-color-06;
}
.is-night-mode {
  .l-edit-dark {
    background-color: $secondary-color-03;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {
  .l-edit {
    display: none !important;
  }
}
