.l-edit {
  background-color: $white;
  margin: 0 0 1em;
  position: relative;
  z-index: $body;
  border: 2px solid transparent;
  box-shadow: $shadow-small;
  border-radius: $border-radius-medium;
  overflow: hidden;
  box-sizing: border-box;
}
.is-night-mode {
  .l-edit {
    background-color: $gray-03;
    border-color: $secondary-color-05;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .l-edit {
    margin: 0 0 1em;
  }
}
@media (min-width: $screen-md) {
  .l-edit {
    margin: 0 auto 2em;
    width: 80%;
  }
}
@media (min-width: $screen-lg) {
  .l-edit {
    margin: 0 auto 3em;
    width: 50%;
  }
}
@media (min-width: $screen-xl) {}
@media print {
  .l-edit {
    display: none !important;
  }
}
