.l-edit {
  background-color: $white;
  margin: 2em 0 0;
  position: relative;
  z-index: $body;
  box-shadow: $shadow-small;
  border-radius: $border-radius-medium;
  box-sizing: border-box;
  width: 100%;
}
.is-night-mode {
  .l-edit {
    background-color: $gray-03;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .l-edit {
    width: 90%;
  }
}
@media (min-width: $screen-md) {
  .l-edit {
    width: 80%;
  }
}
@media (min-width: $screen-lg) {
  .l-edit {
    margin: 3em 0 0;
  }
}
@media (min-width: $screen-xl) {
  .l-edit {
    width: 60%;
  }
}
@media print {
  .l-edit {
    display: none !important;
  }
}
