.l-quick-edit {
  padding-bottom: 10em;
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
