.l-section {
  width: 100%;
}
.l-section-wrapper {
  margin: 4em 0 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .l-section {
    margin: 2em 0 0;
    width: 90%;
  }
}
@media (min-width: $screen-md) {
  .l-section {
    width: 85%;
  }
}
@media (min-width: $screen-lg) {
  .l-section-wrapper {
    margin: 0 0 0 4em;
  }
}
@media (min-width: $screen-xl) {
  .l-section {
    width: 60%;
  }
}
@media (min-width: 2000px) {
  .l-section {
    width: 55%;
  }
}
@media print {
  .l-section-wrapper {
    margin: 0;
    display: block;
    columns: 10em 2;
    column-gap: 2em;
    & > * {
      break-inside: avoid;
    }
  }
  .l-section {
    margin: 0 0 1em;
    width: 100%;
  }
}
