.l-section {
  margin: 2em 0 0;
  width: 100%;
}
.l-section-wrapper {
  margin: 4.5em 1em 2em;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .l-section {
    width: 90%;
  }
  .l-section-wrapper {
    margin: 4.5em 1em 2em;
  }
}
@media (min-width: $screen-md) {
  .l-section {
    width: 80%;
  }
  .l-section-wrapper {
    margin: 4.5em 0 0;
  }
}
@media (min-width: $screen-lg) {
  .l-section {
    margin: 3em 0 0;
  }
  .l-section-wrapper {
    margin: 0 0 0 4.5em;
  }
}
@media (min-width: $screen-xl) {
  .l-section {
    width: 60%;
  }
  // .l-section {
  //   width: 100%;
  //   margin: 0 0 2em;
  //   break-inside: avoid;
  // }
  // .l-section-wrapper {
  //   display: block;
  //   margin: 0 0 0 4.5em;
  //   padding: 2em 4vw;
  //   column-gap: 2em;
  //   column-count: 2;
  // }
}
@media (min-width: 2000px) {
  .l-section {
    width: 40%;
  }
//   .l-section-wrapper {
//     column-count: 3;
//   }
}
