.l-section {
  position: relative;
  z-index: $body;
  &.is-pinned {
    padding-top: 40px;
  }
}

.l-section-dark {
  background-color: $secondary-color-07;
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}

@media print {
  .l-section {
    display: none !important;
  }
}
