/* structure
------------------------------------------------- */

body {
  background: $white;
  // background: $secondary-color-07;
  padding: 0 0 300px 0;
}

section {
  z-index: $body;
  .section-heading {
    // background-color: $secondary-color-20;
    background-color: $secondary-color-08;
    padding: 5px 0;
    text-transform: uppercase;
    position: relative;
    z-index: $section-heading;
    height: 30px;
    box-shadow: $shadow-medium;
    // transition: all $transition-ease-fast;
    h1 {
      color: $white;
      margin: 0;
      font-size: 1rem;
      line-height: 30px;
    }
  }
  .section-controls {
    height: 30px;
    position: relative;
    .button-group {
      position: relative;
      top: 50%;
      left: 1px;
      transform: translateY(-50%);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      .button {
        flex: 0 0 auto;
      }
    }
  }
  .section-wrapper {
    padding: 3rem 0;
  }
  &.pinned {
    padding-top: 40px;
    .section-heading {
      margin: 0;
      position: fixed;
      top: 50px;
      width: 100%;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid $secondary-color-alpha-18;
  margin: 0 0 2rem 0;
  clear: both;
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {
  section {
    .section-heading {
      padding: 10px 0;
      h1 {
        font-size: 1.4rem;
      }
    }
    &.pinned {
      padding-top: 50px;
      .section-heading {
        top: 70px;
      }
    }
  }
}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}


/* animations
------------------------------------------------- */

@keyframes header-flash {
  0% {
    background-color: $secondary-color-07;
  }
  100% {
    background-color: $secondary-color-04;
  }
}
