.l-section {
  z-index: $body;
  &.is-pinned {
    padding-top: 40px;
  }
}

.l-section-dark {
  background-color: $secondary-color-07;
}

.l-nav-padding {
  padding-top: 6em;
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
