/* basics
------------------------------------------------- */

#basics {
  padding: 70px 0 30px;
  margin: 0 0 3rem 0;
  background-color: $secondary-color-dark;
  .input-block {
    .input-label {
      color: $gray-alpha-06;
      &.input-label-focus {
        color: $secondary-color-light;
      }
      &.input-label-active {
        color: $light-alpha-06;
      }
    }
    .input-field {
      background-color: $gray-alpha-12;
      color: $white;
      border-color: transparent;
      &:hover,
      &:focus {
        border-color: $primary-color;
      }
    }
  }
  .awesome-name {
    background-color: $gray-alpha-12;
    padding: 0 30px;
    margin: 0 0 2rem 0;
    .input-block {
      .input-field {
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 2rem;
        height: 4rem;
        color: $white;
        font-family: $open-sans-light;
        line-height: 4rem;
        position: relative;
        z-index: 1;
      }
    }
  }
  ::-webkit-input-placeholder {
    color: $gray-alpha-06;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $gray-alpha-06;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $gray-alpha-06;
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {
  #basics {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}