/* basics
------------------------------------------------- */

#basics {
  margin: 0;
  padding: 120px 0 30px;
  background-color: $secondary-color-03;
  .input-block {
    .input-label {
      color: $secondary-color-05;
      &.input-label-focus {
        color: $secondary-color-07;
      }
      &.input-label-active {
        color: $light-alpha-06;
      }
    }
    .input-field {
      background-color: $gray-alpha-12;
      color: $white;
      border-color: transparent;
      &:hover,
      &:focus {
        border-color: $primary-color-07;
      }
    }
  }
  .awesome-name {
    background-color: $gray-alpha-12;
    padding: 0 20px;
    margin: 0 0 2rem 0;
    border-left: 2px solid $primary-color-07;
    .input-block {
      .input-field {
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 2rem;
        height: 4rem;
        color: $white;
        font-family: $open-sans-light;
        line-height: 4rem;
        position: relative;
        z-index: 1;
      }
    }
  }
  ::-webkit-input-placeholder {
    color: $secondary-color-05;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $secondary-color-05;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $secondary-color-05;
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}