/* basics
------------------------------------------------- */

#basics {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $secondary-color-dark;
  input {
    background-color: $gray-alpha-12;
    color: $white;
    border-color: transparent;
    &:hover,
    &:focus {
      border-color: $primary-color;
    }
  }
  .awesome-name {
    padding: 0 30px;
    margin: 0 0 60px 0;
    .input-block {
      .input-field {
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 2.8rem;
        height: 6rem;
        color: $white;
        font-family: $open-sans-light;
        line-height: 6rem;
        position: relative;
        z-index: 1;
      }
    }
  }
  ::-webkit-input-placeholder {
    color: $gray-alpha-08;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $gray-alpha-08;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $gray-alpha-08;
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {
  #basics {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
