/* buttons
------------------------------------------------- */

.button,
button {
  padding: 0 10px;
  color: $gray-02;
  text-align: center;
  font-size: 1rem;
  font-family: $open-sans-semi-bold;
  height: 28px;
  line-height: 26px;
  text-decoration: none;
  white-space: nowrap;
  background-color: $white;
  border: 1px solid $gray-03;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: $border-radius-medium;
  transition: all $transition-ease-fast;
  text-decoration: none;
  display: inline-block;
  [class^="icon-"],
  [class*=" icon-"] {
    margin: 0 5px 0 0;
    font-size: 1rem;
    height: 26px;
    line-height: 26px;
    display: inline-block;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
  &:hover {
    color: $white;
    background-color: $gray-02;
    border-color: $gray-02;
    outline: 0;
    text-decoration: none;
  }
  &:active,
  &.active {
    color: $white;
    background-color: $gray-04;
    border-color: $gray-04;
  }
  &.button-primary {
    color: $white;
    background-color: $primary-color-04;
    border-color: $primary-color-02;
    &:link,
    &:visited {
      color: $white;
      background-color: $primary-color-02;
      border-color: $primary-color-01;
    }
    &:focus,
    &:hover {
      background-color: $primary-color-06;
      outline: 0;
      text-decoration: none;
    }
    &:active,
    &.active {
      background-color: $primary-color-02;
    }
  }
  &.button-secondary {
    color: $white;
    background-color: $secondary-color-04;
    border-color: $secondary-color-02;
    &:link,
    &:visited {
      color: $white;
      background-color: $secondary-color-02;
      border-color: $secondary-color-01;
    }
    &:focus,
    &:hover {
      background-color: $secondary-color-06;
      outline: 0;
      text-decoration: none;
    }
    &:active,
    &.active {
      background-color: $secondary-color-02;
    }
  }
  &.button-tertiary {
    color: $gray-alpha-02;
    background-color: transparent;
    border-color: $gray-alpha-13;
    &:link,
    &:visited {
      color: $gray-alpha-02;
      background-color: transparent;
      border-color: $gray-alpha-13;
    }
    &:focus {
      border-color: $gray-alpha-12;
      outline: 0;
      text-decoration: none;
    }
    &:hover {
      color: $gray-alpha-02;
      outline: 0;
      text-decoration: none;
    }
    &:active,
    &.active {
      background-color: $gray-alpha-13;
      border-color: $gray-alpha-12;
    }
  }
  &.button-dark {
    color: $gray-10;
    background-color: transparent;
    border-color: $gray-alpha-10;
    &:link,
    &:visited {
      color: $gray-10;
      background-color: transparent;
      border-color: $gray-alpha-10;
    }
    &:focus {
      color: $gray-10;
      background-color: $gray-alpha-08;
      outline: 0;
      text-decoration: none;
    }
    &:hover {
      color: $gray-10;
      background-color: $light-alpha-12;
      border-color: $light-alpha-11;
      outline: 0;
      text-decoration: none;
    }
    &:active,
    &.active {
      color: $white;
      background-color: $light-alpha-08;
    }
  }
  &.button-small {
    padding: 0 10px;
    height: 22px;
    line-height: 20px;
    font-size: $small-text;
    [class^="icon-"],
    [class*=" icon-"] {
      margin: 0 2px 0 0;
      line-height: 20px;
      height: 20px;
      font-size: $small-text;
      display: inline-block;
    }
  }
  &.button-block {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
  }
  &.button-icon {
    padding: 0 12px 0 8px;
  }
}

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display: inline-block;
    height: 2rem;
    padding: 0 10px;
    color: $gray-01;
    text-align: center;
    font-size: 0.8rem;
    font-family: $open-sans-semi-bold;
    line-height: 2rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: $gray-04;
    border: 1px solid $gray-03;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: $border-radius-medium;
    &:hover,
    &:focus {
      color: $white;
      background-color: $gray-02;
      border-color: $gray-02;
      outline: 0;
    }
    &:active {
      color: $white;
      background-color: $gray-04;
      border-color: $gray-04;
    }
  }
}

.button,
button,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
