/* clone
------------------------------------------------- */

.clone-block {
  .clone {
    padding: 0;
    border: 0 solid transparent;
    border-radius: 0;
    transition: all $transition-ease-medium;
    .clone-delete-controls {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all $transition-ease-medium;
      text-align: right;
      .button {
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        [class^="icon-"],
        [class*=" icon-"] {
          margin: 0;
        }
      }
    }
  }
  &.delete-state {
    .clone-target {
      input {
        &[type="email"],
        &[type="number"],
        &[type="search"],
        &[type="text"],
        &[type="tel"],
        &[type="password"] {
          background-color: transparent;
          border-color: $primary-color-alpha-10;
          color: $primary-color-05;
          margin: 0;
        }
      }
      label {
        color: transparent;
        visibility: hidden;
      }
      .clone {
        background-color: $primary-color-alpha-18;
        margin: 0 0 1rem 0;
        padding: 5px 10px 0 10px;
        border-radius: $border-radius-medium;
        .clone-delete-controls {
          height: 40px;
          opacity: 1;
        }
      }
    }
  }
}

/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {
}

@media (min-width: $screen-md) {
}

@media (min-width: $screen-lg) {
}

@media (min-width: $screen-xl) {
}
