/* clone
------------------------------------------------- */

.clone-block {
  .clone-controls {
    margin: 0 0 1.5rem 0;
    .button {
      margin: 0 10px 10px 0;
    }
  }
  .clone {
    padding: 0;
    margin: 1rem 0;
    border: 0 solid transparent;
    border-radius: 0;
    transition: all $transition-ease-medium;
    .clone-delete-controls {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all $transition-ease-medium;
      text-align: right;
      .button {
        margin: 0;
        line-height: 2rem;
        height: 2rem;
        [class^="icon-"],
        [class*=" icon-"] {
          margin: 0;
          font-size: 1.2rem;
          display: block;
        }
      }
    }
  }
  &.delete-state {
    input {
      &[type="email"],
      &[type="number"],
      &[type="search"],
      &[type="text"],
      &[type="tel"],
      &[type="password"] {
        background-color: $white;
        border-color: $primary-color;
        color: $primary-color;
        margin: 0;
      }
    }
    label {
      color: transparent;
      visibility: hidden;
    }
    .clone {
      .clone-delete-controls {
        height: 2rem;
        margin: 1rem 0 0 0;
        opacity: 1;
      }
    }
    &.attack {
      .clone {
        .clone-delete-controls {}
      }
    }
    &.consumable {
      .clone {
        .clone-delete-controls {}
        .consumable-bar {
          .consumable-bar-percentage {
            background-color: transparent;
            border-color: transparent;
            .percentage-total {
              color: transparent;
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {
  .clone-block {
    .clone-controls {
      margin: 0 0 2rem 0;
    }
  }
}

@media (min-width: $screen-lg) {
  .clone-block {
    &.consumable {
      .consumable-counts {
        margin: 0;
      }
    }
  }
}

@media (min-width: $screen-xl) {}
