/* consumable
------------------------------------------------- */

.consumable {
  .clone {
    margin: 0 0 2rem 0;
    input {
      &[type="email"],
      &[type="number"],
      &[type="search"],
      &[type="text"],
      &[type="tel"],
      &[type="password"] {
        margin: 0;
      }
    }
  }
  .consumable-bar {
    background-color: transparent;
    margin: 0;
    width: 100%;
    height: 2.5rem;
    position: absolute;
    top: 1px;
    left: 0;
    .consumable-bar-percentage {
      background-color: $secondary-color-alpha-07;
      border: 0 solid transparent;
      border-right: 1px solid $gray-alpha-12;
      width: 100%;
      height: 100%;
      position: relative;
      transition: all $transition-ease-fast;
      box-sizing: border-box;
      .percentage-total {
        padding: 0;
        position: absolute;
        bottom: -1.5rem;
        right: -20px;
        color: $gray-alpha-08;
        font-size: $small-text;
        height: 1.5rem;
        width: 40px;
        line-height: 1.5rem;
        display: block;
        text-align: center;
        transition: all $transition-ease-fast;
      }
      &.empty {
        border: 0 solid transparent;
      }
    }
  }
  &.delete-state {
    &.consumable {
      .clone {
        .consumable-bar {
          .consumable-bar-percentage {
            background-color: transparent;
            border-color: transparent;
            .percentage-total {
              color: transparent;
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}
