/* core
------------------------------------------------- */

body {
  background: $white;
}

section {
  margin: 0 0 40px 0;
}

nav {
  display: none;
}

.sheet {
  h1,
  h2 {}
  #basics {}
}

hr {
  border: 0;
  margin: 0 0 40px 0;
  border-bottom: 1px solid $gray-12;
  &:last-child {
    margin: 0;
    border: 0;
  }
}

// basics
#statistics {
  .stats {
    margin: 0 0 10px 0;
    > p,
    > input {
      box-sizing: border-box;
      margin: 0 4% 0 0;
      padding: 0;
      width: 16%;
      float: left;
      &:last-child {
        margin: 0;
      }
    }
    p {
      line-height: 2rem;
    }
    > input {
      text-align: center;
    }
  }
}

// skills
#skills {
  .skill-list {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    thead {
      border: 0;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid $gray-08;
    }
    tr {
      border: 0;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid $gray-12;
      &:last-child {
        border: 0;
      }
      td {
        border: 0;
        padding: 10px 0;
        margin: 10px 0;
        text-align: right;
        &:first-child {
          text-align: left;
        }
        &.skill-name {}
        &.skill-total {}
        &.skill-ability,
        &.skill-mod,
        &.skill-ranks,
        &.skill-misc {
          color: $gray-04;
          font-size: 0.6rem;
        }
      }
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: 550px) {}

@media (min-width: 750px) {
  nav {
    width: 18%;
    position: fixed;
    float: left;
    display: block;
    ul {
      margin: 100px 0 0 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        a {
          padding: 5px 0;
          display: block;
          font-size: 0.8rem;
        }
      }
    }
  }
  .sheet {
    width: 70%;
    float: right;
    h1,
    h2 {
      padding-top: 100px;
    }
    #basics {}
  }
}

@media (min-width: 900px) {}

@media (min-width: 1000px) {}
