/* core
------------------------------------------------- */

body {
  background: $white;
  padding: 100px 0;
}

section {
  margin: 0 0 40px 0;
  h1 {
    padding: 0 0 0 20px;
    border-left: 5px solid $primary-color;
    text-transform: uppercase;
  }
}

nav {
  display: none;
}

hr {
  border: 0;
  margin: 0 0 40px 0;
  border-bottom: $border;
  &:last-child {
    margin: 0;
    border: 0;
  }
}

// input with lables
.input-block {
  position: relative;
  .input-label {
    margin: 0;
    padding: 0;
    color: $gray-08;
    display: block;
    position: absolute;
    top: 3rem;
    left: 0;
    font-size: $small-text;
    line-height: 1rem;
    z-index: 2;
    transition: all $transition-ease-medium;
    cursor: text;
    &.input-label-focus {
      color: $primary-color;
    }
  }
  .input-field {
    margin: 0 0 2.5rem 0;
    position: relative;
    z-index: 1;
  }
}

.awesome-name {
  .input-block {
    .input-field {
      margin: 0;
      border: 0;
      font-size: 2.5rem;
      height: 4rem;
      font-family: $open-sans-light;
      line-height: 4rem;
      position: relative;
      z-index: 1;
    }
  }
}

.inline-with-input {
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0 0 10px 0;
}

.underline-with-input {
  border-bottom: $border;
}

// stats
#statistics {
  .stat-block {
    margin: 0 0 60px 0;
    .stats {
      margin: 0;
      padding: 0;
      list-style-type: none;
      .score {
        font-family: $open-sans-semi-bold;
      }
    }
  }
}

// defense
#defense {}

// skills
#skills {
  .skill-list {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    border-spacing: 0;
    thead {
      tr {
        td {
          padding: 0 10px;
          margin: 0;
          width: 15%;
          text-align: center;
          height: 2.5rem;
          border-bottom: $border;
          &:first-child {
            width: 55%;
            padding: 0;
            text-align: left;
          }
        }
      }
    }
    tr {
      td {
        padding: 0;
        margin: 0;
        text-align: center;
        height: 2.5rem;
        p {
          border-bottom: $border;
        }
        &:first-child {
          p {
            text-align: left;
          }
        }
        .skill-value {
          padding: 0;
          margin: 0;
          height: 2.5rem;
          line-height: 2.5rem;
          text-align: center;
          box-sizing: content-box;
        }
        .ranks,
        .misc {
          color: $gray-08;
          font-size: $small-text;
        }
        .total {
          font-family: $open-sans-semi-bold;
        }
      }
    }
  }
}

// spells
#spells {
  .spells-known {
    margin: 0 0 30px 0;
    h2 {
      margin: 0;
    }
    .spell-list,
    .prepared-list {
      margin: 0 0 20px 0;
      .button {
        margin: 2px 0;
        display: inline-block;
      }
    }
    .spell-list {
      .spell-item {
        &:link,
        &:visited,
        &:focus {
          border-color: $gray-14;
        }
      }
    }
    .prepared-list {
      .spell-cast {
        &:link,
        &:visited,
        &:focus {
          color: $gray-06;
          background-color: transparent;
          border-color: $gray-09;
        }
        &:hover {
          color: $gray-06;
          background-color: transparent;
          border-color: $gray-06;
        }
        &:active,
        &.active {
          color: $gray-06;
          background-color: transparent;
          border-color: transparent;
        }
      }
      [class^="icon-"],
      [class*=" icon-"] {
        font-size: 0.8rem;
        margin: 0 3px 0 0;
      }
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: 550px) {
  // skills
  #skills {
    .skill-list {
      thead {
        tr {
          td {
            &.ability-title,
            &.mod-title,
            &.ranks-title,
            &.misc-title {
              display: table-cell;
            }
          }
        }
      }
      tr {
        td {
          &.ability,
          &.mod,
          &.ranks,
          &.misc {
            display: table-cell;
          }
        }
      }
    }
  }
  // defense
  #defense {
    .ac,
    .ac-touch,
    .ac-flat-footed {
      .title {
        min-width: 120px;
      }
    }
  }
  // spellbook
  #spells {
    .spell-list {
      li {
        [class^="icon-"],
        [class*=" icon-"] {
          padding-left: 5px;
          padding-right: 5px;
        }
        p {
          max-width: inherit;
        }
      }
    }
  }
}

@media (min-width: 750px) {
  nav {
    width: 25%;
    position: fixed;
    left: 0;
    display: block;
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: right;
        a {
          line-height: 2rem;
          padding: 5px 20px;
          display: block;
          font-size: $small-text;
          font-family: $open-sans-semi-bold;
          transition: background-color $transition-ease-medium, color $transition-ease-medium;
          &:focus,
          &:hover {
            background-color: $gray-13;
            text-decoration: none;
          }
          &:active {
            background-color: $primary-color;
            color: $white;
            transition: background-color $transition-ease-fast, color $transition-ease-fast;
          }
        }
      }
    }
  }
  .sheet {
    width: 75%;
    float: right;
  }
  // defense
  #defense {
    .ac,
    .ac-touch,
    .ac-flat-footed {
      .title {
        min-width: 140px;
      }
    }
  }
}

@media (min-width: 900px) {}

@media (min-width: 1000px) {}
