/* core
------------------------------------------------- */

body {
  background: $white;
  padding: 100px 0;
}

section {
  margin: 0 0 40px 0;
  > h2 {
    padding: 5px 0 5px 10px;
    border-left: 5px solid $primary-color;
  }
}

nav {
  display: none;
}

.sheet {
  h1,
  h2 {}
  #basics {}
}

hr {
  border: 0;
  margin: 0 0 40px 0;
  border-bottom: 1px solid $gray-12;
  &:last-child {
    margin: 0;
    border: 0;
  }
}

// basics
#statistics {
  ul {
    margin: 0 0 20px 0;
    padding: 0;
    .stats {
      margin: 0;
      padding: 0;
      list-style-type: none;
      .name,
      .modifier,
      .temp-modifier,
      .score,
      .temp-score {
        margin: 0;
        padding: 0;
        float: left;
        width: 20%;
        text-align: center;
        height: 3rem;
        line-height: 3rem;
        box-sizing: border-box;
      }
      .score,
      .temp-score {}
      .name,
      .modifier,
      .temp-modifier {
        border-bottom: 1px solid $gray-13;
      }
      .name {
        text-align: left;
        font-family: $open-sans-semi-bold;
      }
    }
  }
}

// skills
#skills {
  .skill-list {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    border-spacing: 0;
    thead {
      border-bottom: 1px solid $gray-08;
      tr {
        td {
          padding: 0 1%;
          margin: 0;
          height: 3rem;
          line-height: 3rem;
          width: 1%;
          font-family: $open-sans-semi-bold;
          &:first-child {
            width: 99%;
            padding: 0;
            text-align: left;
          }
          &.ability-title,
          &.mod-title,
          &.ranks-title,
          &.misc-title {
            display: none;
          }
          &.ability-title,
          &.mod-title,
          &.ranks-title,
          &.misc-title {
            color: $gray-09;
            font-size: 0.8rem;
          }
        }
      }
    }
    tr {
      td {
        padding: 0;
        margin: 0;
        text-align: center;
        &:first-child {
          width: 99%;
          p {
            text-align: left;
          }
        }
        .skill-value {
          padding: 0;
          margin: 0;
          height: 3rem;
          line-height: 3rem;
          text-align: center;
          width: 100%;
          box-sizing: border-box;
        }
        &.ability,
        &.mod,
        &.ranks,
        &.misc {
          display: none;
        }
        &.name,
        &.total,
        &.ability,
        &.mod,
        &.ranks,
        &.misc {
          p {
            border-bottom: 1px solid $gray-13;
          }
        }
        &.ability,
        &.mod,
        &.ranks,
        &.misc {
          p,
          input {
            color: $gray-09;
            font-size: 0.7rem;
          }
        }
        &.total {
          font-family: $open-sans-semi-bold;
        }
      }
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: 550px) {
  // basics
  #statistics {
    ul {
      .stats {
        .name,
        .modifier,
        .temp-modifier,
        .score,
        .temp-score {
          width: 15%;
        }
      }
    }
  }
  // skills
  #skills {
    .skill-list {
      thead {
        tr {
          td {
            &.ability-title,
            &.mod-title,
            &.ranks-title,
            &.misc-title {
              display: table-cell;
            }
          }
        }
      }
      tr {
        td {
          &.ability,
          &.mod,
          &.ranks,
          &.misc {
            display: table-cell;
          }
        }
      }
    }
  }
}

@media (min-width: 750px) {
  nav {
    width: 18%;
    position: fixed;
    float: left;
    display: block;
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        a {
          padding: 5px 0;
          display: block;
          font-size: 0.8rem;
        }
      }
    }
  }
  .sheet {
    width: 70%;
    float: right;
    h1,
    h2 {
      // padding-top: 100px;
    }
    #basics {}
  }
}

@media (min-width: 900px) {}

@media (min-width: 1000px) {}
