/* core
------------------------------------------------- */

body {
  background: $white;
  padding: 0 0 500px 0;
}

section {
  position: relative;
  z-index: $body;
  padding: 40px 0 20px 0;
  h1 {
    padding: 0 0 3rem 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    position: relative;
    &:before {
      content: "";
      border-left: 10px solid $primary-color;
      position: absolute;
      height: 3rem;
      top: -0.5rem;
      left: 0;
      border-radius: $border-radius-small;
    }
  }
  h2 {
    background-color: $secondary-color-dark;
    color: $white;
    padding: 0 10px;
    min-height: 2.4rem;
    line-height: 2.4rem;
    box-sizing: border-box;
    border-radius: $border-radius-small $border-radius-small 0 0;
  }
}

hr {
  border: 0;
  border-top: 5px solid $gray-13;
  margin: 0 0 30px 0;
  background-color: transparent;
  position: relative;
  clear: both;
}

.input-block {
  position: relative;
  .input-label {
    margin: 0;
    padding: 0;
    color: $gray-08;
    display: block;
    position: absolute;
    top: -1.5rem;
    left: 0;
    font-size: $small-text;
    height: 1.5rem;
    line-height: 1.5rem;
    z-index: 2;
    width: 100%;
    transition: all $transition-ease-medium;
    cursor: text;
    box-sizing: border-box;
    &.input-label-focus {
      color: $primary-color;
    }
  }
  .input-field {
    position: relative;
    z-index: 1;
  }
  .input-plus,
  .input-minus {
    float: left;
  }
}

.hidable-block {
  .hidable-toggle {
    margin: 0.5rem 0 0 0;
  }
}

.clone-block {
  .clone-controls {
    margin: 2rem 0 3rem 0;
  }
  .clone {
    padding: 0;
    margin: -1px;
    margin-bottom: 2rem;
    border: 1px solid transparent;
    border-radius: 0;
    transition: all $transition-ease-medium;
    .clone-delete-controls {
      height: 0;
      overflow: hidden;
      transition: all $transition-ease-medium;
      .button {
        // transform-origin: 0 0;
        // transform: scale(0);
        margin: 0;
      }
    }
  }
  &.consumables {
    .consumable-counts {
      margin: -15px 0 10px 0;
      .check-group {
        margin: 0 5px 5px 0;
        float: left;
        position: relative;
        transition: all $transition-ease-medium;
        .check {
          background-color: $primary-color-light;
          border: 1px solid $primary-color-dark;
          margin: 0 -1px -1px 0;
          padding: 0;
          float: left;
          font-size: 1.5rem;
          width: 8px;
          height: 8px;
          box-sizing: border-box;
          position: relative;
          transition: all $transition-ease-medium;
          &.used {
            background-color: $gray-13;
            border-color: $gray-12;
          }
          &:nth-child(1) {
            border-radius: $border-radius-small 0 0 0;
            z-index: 10;
          }
          &:nth-child(2) {
            z-index: 9;
          }
          &:nth-child(3) {
            z-index: 8;
          }
          &:nth-child(4) {
            z-index: 7;
          }
          &:nth-child(5) {
            border-radius: 0 $border-radius-small 0 0;
            z-index: 6;
          }
          &:nth-child(6) {
            border-radius: 0 0 0 $border-radius-small;
            clear: left;
            z-index: 5;
          }
          &:nth-child(7) {
            z-index: 4;
          }
          &:nth-child(8) {
            z-index: 3;
          }
          &:nth-child(9) {
            z-index: 2;
          }
          &:nth-child(10) {
            border-radius: 0 0 $border-radius-small 0;
            z-index: 1;
          }
        }
      }
    }
  }
  &.delete-state {
    input {
      &[type="email"],
      &[type="number"],
      &[type="search"],
      &[type="text"],
      &[type="tel"],
      &[type="password"] {
        background-color: $white;
        border-color: $primary-color;
        color: $primary-color;
      }
    }
    label {
      color: $primary-color;
    }
    .clone {
      padding: 40px 20px 20px 20px;
      margin: 0;
      margin-bottom: 2rem;
      border-radius: $border-radius-small;
      border: 1px solid $primary-color;
      .clone-delete-controls {
        height: 24px;
        .button {
          // transform: scale(1);
        }
      }
      .consumable-counts {
        .check-group {
          .check {
            border-color: $white;
            &.used {
              background-color: $white;
              border-color: $white;
            }
          }
        }
      }
    }
  }
}

.prompt {
  .container {
    max-width: 100%;
  }
  h1 {
    margin: 1rem 0;
  }
  &.prompt-shade {
    background-color: $gray-alpha-02;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $prompt;
    opacity: 0;
    transition: all $transition-bounce-medium;
  }
  &.prompt-clear-awesome-sheet {
    border-left: 10px solid $primary-color;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: $prompt;
    background: $white;
    width: 90%;
    padding: 20px 15px 20px 25px;
    box-sizing: border-box;
    border-radius: $border-radius-small;
    transform: translate(-50%, -50%);
    box-shadow: $shadow-large;
    opacity: 0;
    transition: all $transition-bounce-medium;
  }
  .button {
    margin: 0 5px 5px 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

#basics {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $secondary-color-dark;
  border-bottom: 10px solid $secondary-color-light;
  input {
    background-color: $gray-alpha-12;
    color: $white;
    border-color: transparent;
    &:hover,
    &:focus {
      border-color: $primary-color;
    }
  }
  .awesome-name {
    padding: 2rem 0 4rem 20px;
    &:before {
      height: 4rem;
      top: 2rem;
    }
    .input-block {
      .input-field {
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 2.5rem;
        height: 4rem;
        color: $white;
        font-family: $open-sans-light;
        line-height: 4rem;
        position: relative;
        z-index: 1;
      }
    }
  }
}

#statistics {
  .stat-block {
    margin-bottom: 30px;
    .stats {
      p,
      input,
      .name {
        margin: 0;
      }
      .name {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .str {
      h2 {
        border-radius: $border-radius-small $border-radius-small 0 0;
      }
    }
    .dex,
    .con,
    .int,
    .wis {
      h2 {
        border-radius: 0;
      }
    }
    .cha {
      h2 {
        border-radius: 0 0 $border-radius-small $border-radius-small;
      }
    }
  }
}

#skills {
  .skill-list {
    tr {
      td {
        width: 15%;
        display: inline-block;
        .name {
          white-space: nowrap;
        }
        .total {
          font-family: $open-sans-semi-bold;
        }
        &:first-child {
          width: 40%;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
  &[data-all-hidden="true"] {
    .skill-list {
      tr {
        width: 47%;
        float: left;
        margin: 0 3% 0 0;
        &:nth-child(even) {
          margin: 0 0 0 3%;
        }
        td {
          width: 15%;
          display: inline-block;
          float: left;
          text-align: right;
          &:first-child {
            width: 85%;
            text-align: left;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }
}

#spells {
  .spell-level {
    margin: 0 0 2rem 0;
    .spells-known {
      .button {
        padding: 3px 10px;
        margin: 0 0.5% 0.5% 0;
        width: 49.5%;
        text-align: left;
        overflow: hidden;
        font-size: 0.9rem;
        font-family: $open-sans-regular;
        white-space: normal;
        float: left;
        .spell-marks {
          float: right;
          margin: 0 0 0 5px;
          [class^="icon-"],
          [class*=" icon-"] {
            float: right;
            margin: 0 0 0 1px;
            line-height: 1.5rem;
          }
        }
        .spell-active {
          float: left;
          margin: 0 5px 0 0;
          [class^="icon-"],
          [class*=" icon-"] {
            float: left;
            margin: 0;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
  .spell-state-controls {
    margin: 10px 0 3rem 0;
    .button {
      margin: 0 5px 5px 0;
    }
  }
  .new-spell {
    position: relative;
    .spell-name {
      input {
        padding-right: 40px;
        box-sizing: border-box;
      }
    }
    .add-spell {
      position: absolute;
      right: 5px;
      top: 1.25rem;
      transform: translateY(-50%);
      padding: 4px 6px;
      [class^="icon-"],
      [class*=" icon-"] {
        margin: 0;
      }
    }
  }
  &.prepare-state {
    .spell-level {
      .spells-known {
        .button-tertiary {
          &:link,
          &:visited {
            background-color: $primary-color-light-alpha;
          }
        }
      }
    }
  }
  &.unprepare-state {
    .spell-level {
      .spells-known {
        .button-tertiary {
          &:link,
          &:visited {
            background-color: $primary-color-light-alpha;
          }
        }
      }
    }
  }
  &.cast-state {
    .spell-level {
      .spells-known {
        .button-tertiary {
          &:link,
          &:visited {
            background-color: $secondary-color-light-alpha;
          }
        }
      }
    }
  }
  &.active-state {
    .spell-level {
      .spells-known {
        .button-tertiary {
          &:link,
          &:visited {
            background-color: $gray-13;
          }
        }
      }
    }
  }
  &.delete-state {
    .spell-level {
      .spells-known {
        .button {
          &:link,
          &:visited {
            background-color: $white;
            color: $primary-color-dark;
            border-color: $primary-color-light;
          }
          &:active,
          &:focus,
          &:hover {
            color: $white;
            background-color: $primary-color-light;
            border-color: $primary-color-dark;
          }
        }
      }
    }
  }
}

::-webkit-full-screen {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {
  .clone-block {
    .clone-controls {
      margin: 5px 0 2rem 0;
    }
  }
  .prompt {
    &.prompt-clear-awesome-sheet {
      width: 70%;
    }
  }
  #basics {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #defense {
    .ac,
    .ac-touch,
    .ac-flat-footed {
      .title {
        min-width: 140px;
      }
    }
  }
}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {
  .consumable-counts {
    .check-group {
      .check {
        &:nth-child(6n) {
          clear: none;
        }
      }
    }
  }
  #skills {
    .skill-list {
      thead {
        tr {
          td {
            color: $gray-03;
            &:first-child {}
          }
        }
      }
      tr {
        td {
          width: 10%;
          &:first-child {
            width: 60%;
          }
        }
      }
    }
    &[data-all-hidden="true"] {
      .skill-list {
        tr {
          width: 30.3333333333%;
          float: left;
          margin: 0 3% 0 0;
          &:nth-child(even) {
            margin: 0 3% 0 0;
          }
          &:nth-child(3n-1) {
            width: 33.3333333333%;
            margin: 0;
          }
          &:nth-child(3n) {
            width: 30.3333333333%;
            margin: 0 0 0 3%;
          }
        }
      }
    }
  }
  #spells {
    .spell-level {
      .spells-known {
        .button {
          width: 32.8%;
        }
      }
    }
  }
}
