/* core
------------------------------------------------- */

body {
  background: $white;
  padding: 100px 0;
}

section {
  margin: 0 0 40px 0;
  > h2 {
    padding: 5px 0 5px 10px;
    border-left: 5px solid $primary-color;
  }
}

nav {
  display: none;
}

hr {
  border: 0;
  margin: 0 0 40px 0;
  border-bottom: 1px solid $gray-12;
  &:last-child {
    margin: 0;
    border: 0;
  }
}

// basics
#statistics {
  ul {
    margin: 0 0 20px 0;
    padding: 0;
    .stats {
      margin: 0;
      padding: 0;
      list-style-type: none;
      .name,
      .modifier,
      .temp-modifier,
      .score,
      .temp-score {
        margin: 0;
        padding: 0;
        float: left;
        width: 20%;
        text-align: center;
        height: 2.5rem;
        line-height: 2.5rem;
        box-sizing: content-box;
      }
      .name,
      .modifier,
      .temp-modifier {
        border-bottom: 1px solid $gray-13;
      }
      .name {
        text-align: left;
        font-family: $open-sans-semi-bold;
      }
    }
  }
}

// defense
#defense {
  .hp {
    &.hp-leathal,
    &.hp-non-leathal {}
  }
  .ac,
  .ac-touch,
  .ac-flat-footed {
    .title,
    .base,
    .armor,
    .shield,
    .dex,
    .deflection,
    .plus,
    .misc {
      display: block;
      float: left;
      padding: 0 0;
      max-width: 12%;
      box-sizing: border-box;
      height: 2.5rem;
      line-height: 2.5rem;
      input {
        margin: 0;
        padding: 0 10px;
        text-align: center;
      }
    }
    .base {
      padding: 0 10px 0 0;
    }
    .dex {
      padding: 0 10px;
    }
    .base,
    .dex,
    .plus {
      border-bottom: 1px solid $gray-13;
    }
    .armor,
    .shield,
    .deflection,
    .misc {
      width: 14%;
    }
    .plus {
      padding: 0 1px;
    }
    .title {
      min-width: 100px;
    }
    .total {
      font-family: $open-sans-semi-bold;
    }
    .base,
    .armor,
    .shield,
    .dex,
    .deflection,
    .plus,
    .misc {
      color: $gray-08;
      font-size: $small-text;
      input {
        color: $gray-08;
        font-size: $small-text;
      }
    }
  }
}

// skills
#skills {
  .skill-list {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    border-spacing: 0;
    thead {
      border-bottom: 1px solid $gray-08;
      tr {
        td {
          padding: 0 1%;
          margin: 0;
          height: 2.5rem;
          width: 1%;
          font-family: $open-sans-semi-bold;
          &:first-child {
            width: 99%;
            padding: 0;
            text-align: left;
          }
          &.ability-title,
          &.mod-title,
          &.ranks-title,
          &.misc-title {
            display: none;
          }
          &.ability-title,
          &.mod-title,
          &.ranks-title,
          &.misc-title {
            color: $gray-08;
            font-size: $small-text;
          }
        }
      }
    }
    tr {
      td {
        padding: 0;
        margin: 0;
        text-align: center;
        &:first-child {
          width: 99%;
          p {
            text-align: left;
          }
        }
        .skill-value {
          padding: 0;
          margin: 0;
          height: 2.5rem;
          text-align: center;
          width: 100%;
          height: 2.5rem;
          line-height: 2.5rem;
          box-sizing: content-box;
        }
        &.ability,
        &.mod,
        &.ranks,
        &.misc {
          display: none;
        }
        &.name,
        &.total,
        &.ability,
        &.mod,
        &.ranks,
        &.misc {
          p {
            border-bottom: 1px solid $gray-13;
          }
        }
        &.ability,
        &.mod,
        &.ranks,
        &.misc {
          p,
          input {
            color: $gray-08;
            font-size: $small-text;
          }
        }
        &.total {
          font-family: $open-sans-semi-bold;
        }
      }
    }
  }
}

// spellbook
#spellbook {
  .spell-list {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      border-bottom: 1px solid $gray-13;
      p,
      [class^="icon-"],
      [class*=" icon-"] {
        margin: 0;
        line-height: 2.5rem;
      }
      p {
        float: left;
      }
      .icon-check-box-checked,
      .icon-check-box-unchecked {
        padding: 0 5px;
        float: right;
        cursor: pointer;
        font-size: 1.5rem;
      }
      .icon-check-box-unchecked {
        color: $gray-13;
      }
      .icon-check-box-checked {
        color: $primary-color;
        &.spell-cast {
          color: $gray-08;
        }
      }
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: 550px) {
  // skills
  #skills {
    .skill-list {
      thead {
        tr {
          td {
            &.ability-title,
            &.mod-title,
            &.ranks-title,
            &.misc-title {
              display: table-cell;
            }
          }
        }
      }
      tr {
        td {
          &.ability,
          &.mod,
          &.ranks,
          &.misc {
            display: table-cell;
          }
        }
      }
    }
  }
  // defense
  #defense {
    .ac,
    .ac-touch,
    .ac-flat-footed {
      .title {
        min-width: 120px;
      }
    }
  }
}

@media (min-width: 750px) {
  nav {
    width: 25%;
    position: fixed;
    left: 0;
    display: block;
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: right;
        a {
          line-height: 2rem;
          padding: 5px 20px;
          display: block;
          font-size: $small-text;
          font-family: $open-sans-semi-bold;
          transition: background-color $transition-ease-medium, color $transition-ease-medium;
          &:focus,
          &:hover {
            background-color: $gray-13;
            text-decoration: none;
          }
          &:active {
            background-color: $primary-color;
            color: $white;
            transition: background-color $transition-ease-fast, color $transition-ease-fast;
          }
        }
      }
    }
  }
  .sheet {
    width: 75%;
    float: right;
  }
  // basics
  #statistics {
    ul {
      .stats {
        .name,
        .modifier,
        .temp-modifier,
        .score,
        .temp-score {
          width: 15%;
        }
      }
    }
  }
  // defense
  #defense {
    .ac,
    .ac-touch,
    .ac-flat-footed {
      .title {
        min-width: 140px;
      }
    }
  }
}

@media (min-width: 900px) {}

@media (min-width: 1000px) {}
