/* core
------------------------------------------------- */

body {
  background: $white;
  padding: 0 0 500px 0;
}

section {
  position: relative;
  z-index: $body;
  h1 {
    padding: 6rem 0 0 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
    position: relative;
    &:before {
      content: "";
      border-left: 10px solid $primary-color;
      position: absolute;
      height: 3rem;
      top: 5.5rem;
      left: 0;
      border-radius: $border-radius-small;
    }
  }
  h2 {
    background-color: $secondary-color-dark;
    color: $white;
    padding: 0 10px;
    min-height: 2.4rem;
    line-height: 2.4rem;
    box-sizing: border-box;
    border-radius: $border-radius-small $border-radius-small 0 0;
  }
}

.sheet {
  position: relative;
  z-index: $body;
}

hr {
  border: 0;
  border-top: 1px solid $gray-12;
  margin: 0 0 30px 0;
  background-color: transparent;
  position: relative;
  clear: both;
}

// input with lables
.input-block {
  position: relative;
  .input-label {
    margin: 0;
    padding: 0;
    color: $gray-08;
    display: block;
    position: absolute;
    top: -1.5rem;
    left: 0;
    font-size: $small-text;
    height: 1.5rem;
    line-height: 1.5rem;
    z-index: 2;
    width: 100%;
    transition: all $transition-ease-medium;
    cursor: text;
    box-sizing: border-box;
    &.input-label-focus {
      color: $primary-color;
    }
  }
  .input-field {
    position: relative;
    z-index: 1;
  }
  .input-plus,
  .input-minus {
    float: left;
  }
}

// input with lables
.hidable-block {
  .hidable-toggle {
    margin: 6.5rem 0 0 0;
  }
}

// consumables
.consumable-block {
  margin-bottom: 2rem;
  .consumable-counts {
    margin: -15px 0 0 0;
    .check-group {
      margin: 0 8px 8px 0;
      float: left;
      .check {
        background-color: $secondary-color-light;
        border: 1px solid $secondary-color-light;
        margin: 0 3px 3px 0;
        padding: 0;
        float: left;
        font-size: 1.5rem;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        &.used {
          background-color: transparent;
          border-color: $gray-09;
        }
        &:nth-child(6n) {
          clear: left;
        }
      }
    }
  }
}

// clone
.clone-block {
  .clone-controls {
    margin: 2rem 0 3rem 0;
  }
}

// basics
#basics {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $secondary-color-dark;
  border-bottom: 10px solid $secondary-color-light;
  input {
    background-color: $gray-alpha-12;
    color: $white;
    border-color: transparent;
    &:hover,
    &:focus {
      border-color: $primary-color;
    }
  }
  .awesome-name {
    padding-top: 0;
    &:before {
      height: 5rem;
      top: -0.5rem;
    }
    .input-block {
      .input-field {
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 2.5rem;
        height: 4rem;
        color: $white;
        font-family: $open-sans-light;
        line-height: 4rem;
        position: relative;
        z-index: 1;
      }
    }
  }
  ::-webkit-input-placeholder {
    color: $secondary-color-light-alpha;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $secondary-color-light-alpha;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $secondary-color-light-alpha;
  }
}

// stats
#statistics {
  .stat-block {
    margin-bottom: 30px;
    .stats {
      p,
      input,
      .name {
        margin: 0;
      }
      .name {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .str {
      h2 {
        border-radius: $border-radius-small $border-radius-small 0 0;
      }
    }
    .dex,
    .con,
    .int,
    .wis {
      h2 {
        border-radius: 0;
      }
    }
    .cha {
      h2 {
        border-radius: 0 0 $border-radius-small $border-radius-small;
      }
    }
  }
}

// skills
#skills {
  .skill-list {
    thead {
      tr {
        td {
          width: 1%;
          color: $gray-03;
          &:first-child {
            width: 99%;
          }
        }
      }
    }
    tr {
      td {
        .name {
          white-space: nowrap;
          overflow: hidden;
        }
        .ranks,
        .misc {
          color: $gray-08;
          font-size: $small-text;
        }
        .total {
          font-family: $open-sans-semi-bold;
        }
      }
    }
  }
  &[data-all-hidden="true"] {
    .skill-list {
      tr {
        width: 47%;
        float: left;
        margin: 0 3% 0 0;
        &:nth-child(even) {
          margin: 0 0 0 3%;
        }
        td {
          padding-bottom: 2px;
          width: 15%;
          display: inline-block;
          float: left;
          text-align: right;
          &:first-child {
            width: 85%;
            float: left;
            text-align: left;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }
}

// spells
#spells {
  .spell-level {
    margin: 0 0 2rem 0;
    .spells-known {
      .button {
        margin: 0 0.5% 0.5% 0;
        width: 49.5%;
        text-align: left;
        overflow: hidden;
        font-size: 0.9rem;
        font-family: $open-sans-regular;
        white-space: normal;
        float: left;
        [class^="icon-"],
        [class*=" icon-"] {
          float: right;
          margin: 0 0 0 3px;
          line-height: 1.5rem;
        }
        .spell-active {
          float: left;
          margin: 0 8px 0 0;
        }
      }
    }
  }
  .spell-state-controls {
    margin: 10px 0 3rem 0;
  }
  .new-spell {
    position: relative;
    .spell-name {
      input {
        padding-right: 40px;
        box-sizing: border-box;
      }
    }
    .add-spell {
      position: absolute;
      right: 5px;
      top: 1.25rem;
      transform: translateY(-50%);
      padding: 4px 6px;
      [class^="icon-"],
      [class*=" icon-"] {
        margin: 0;
      }
    }
  }
  &.prepare-state {
    .spell-level {
      .spells-known {
        .button-tertiary {
          &:link,
          &:visited {
            background-color: $primary-color-light-alpha;
          }
        }
      }
    }
  }
  &.unprepare-state {
    .spell-level {
      .spells-known {
        .button-tertiary {
          &:link,
          &:visited {
            background-color: $primary-color-light-alpha;
          }
        }
      }
    }}
  &.cast-state {
    .spell-level {
      .spells-known {
        .button-tertiary {
          &:link,
          &:visited {
            background-color: $secondary-color-light-alpha;
          }
        }
      }
    }}
  &.active-state {
    .spell-level {
      .spells-known {
        .button-tertiary {
          &:link,
          &:visited {
            background-color: $gray-13;
          }
        }
      }
    }}
  &.delete-state {
    .spell-level {
      .spells-known {
        .button {
          &:link,
          &:visited {
            background-color: $white;
            color: $primary-color-dark;
            border-color: $primary-color-light;
          }
          &:active,
          &:focus,
          &:hover {
            color: $white;
            background-color: $primary-color-light;
            border-color: $primary-color-dark;
          }
        }
      }
    }
  }
}

::-webkit-full-screen {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {
  // defense
  #defense {
    .ac,
    .ac-touch,
    .ac-flat-footed {
      .title {
        min-width: 120px;
      }
    }
  }
}

@media (min-width: $screen-md) {
  section {
    h1 {
      margin-bottom: 60px;
    }
  }
  // clone
  .clone-block {
    .clone-controls {
      margin: 5px 0 2rem 0;
    }
  }
  // basics
  #basics {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .sheet {
    width: 75%;
    float: right;
  }
  // defense
  #defense {
    .ac,
    .ac-touch,
    .ac-flat-footed {
      .title {
        min-width: 140px;
      }
    }
  }
}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {
  // consumables
  .consumable-counts {
    .check-group {
      .check {
        &:nth-child(6n) {
          clear: none;
        }
      }
    }
  }
  // skills
  #skills {
    &[data-all-hidden="true"] {
      .skill-list {
        tr {
          width: 31.3333333333%;
          float: left;
          margin: 0 2% 0 0;
          &:nth-child(even) {
            margin: 0 2% 0 0;
          }
        }
      }
    }
  }
  // spells
  #spells {
    .spell-level {
      .spells-known {
        .button {
          width: 32.8%;
        }
      }
    }
  }
}
