/* core
------------------------------------------------- */

body {
  background: $white;
  margin: 50px 0;
}

section {
  margin: 0 0 40px 0;
}

// nav
nav {
  width: 30%;
  position: fixed;
  top: 100px;
  left: 15%;
  margin: 0 0 40px 0;
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0 0 10px 0;
      padding: 0;
      list-style-type: none;
      a {
        font-size: 0.8rem;
      }
    }
  }
}

.sheet {
  width: 70%;
  float: right;
}

hr {
  border: 0;
  margin: 0 0 40px 0;
  border-bottom: 1px solid $gray-12;
  &:last-child {
    margin: 0;
    border: 0;
  }
}

// basics
#statistics {
  .stats {
    margin: 0 0 10px 0;
    > p,
    > input {
      box-sizing: border-box;
      margin: 0 4% 0 0;
      padding: 0;
      width: 16%;
      float: left;
      &:last-child {
        margin: 0;
      }
    }
    p {
      line-height: 2rem;
    }
    > input {
      text-align: center;
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: 550px) {}

@media (min-width: 750px) {
  body {
    margin: 100px 0;
  }
}

@media (min-width: 900px) {}

@media (min-width: 1000px) {}
