/* core
------------------------------------------------- */

body {
  background: $white;
  padding: 0 0 300px 0;
}

section {
  position: relative;
  z-index: $body;
  h1 {
    padding: 4rem 0 0 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
    &:before {
      content: "";
      border-left: 5px solid $primary-color;
      position: absolute;
      height: 3rem;
      top: 3.5rem;
      left: 0;
    }
  }
}

.sheet {
  position: relative;
  z-index: $body;
}

hr {
  border: 0;
  border-bottom: 1px solid $gray-13;
  margin: 10px 0 20px 0;
  background-color: transparent;
  position: relative;
  clear: both;
}

// input with lables
.input-block {
  position: relative;
  .input-label {
    margin: 0;
    padding: 0;
    color: $gray-08;
    display: block;
    position: absolute;
    top: -0.5rem;
    left: 0;
    font-size: $small-text;
    line-height: 1.5rem;
    z-index: 2;
    width: 100%;
    transition: all $transition-ease-medium;
    cursor: text;
    box-sizing: border-box;
    &.input-label-focus {
      color: $primary-color;
    }
  }
  .input-field {
    position: relative;
    z-index: 1;
  }
}

// input with lables
.hidable-block {
  .hidable-toggle {
    margin: 4rem 0 0 0;
  }
}

// basics
#basics {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $secondary-color-dark;
  border-bottom: 5px solid $secondary-color-light;
  input {
    background-color: $gray-alpha-12;
    color: $white;
    border-color: $gray-alpha-08;
    &:hover,
    &:focus {
      border-color: $primary-color;
    }
  }
  .awesome-name {
    padding-top: 0;
    &:before {
      height: 5rem;
      top: -0.5rem;
    }
    .input-block {
      .input-field {
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 2.5rem;
        height: 4rem;
        color: $white;
        font-family: $open-sans-light;
        line-height: 4rem;
        position: relative;
        z-index: 1;
      }
    }
  }
  ::-webkit-input-placeholder {
    color: $secondary-color-light-alpha;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $secondary-color-light-alpha;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $secondary-color-light-alpha;
  }
}

// stats
#statistics {
  .stat-block {
    margin-bottom: 30px;
    .stats {
      p,
      input,
      .name {
        margin: 0;
      }
      input {
        font-family: $open-sans-semi-bold;
      }
    }
  }
}

// skills
#skills {
  .skill-list {
    thead {
      tr {
        td {
          width: 1%;
          color: $gray-03;
          &:first-child {
            width: 99%;
          }
        }
      }
    }
    tr {
      td {
        .name {
          span {
            float: right;
          }
        }
        .ranks,
        .misc {
          color: $gray-08;
          font-size: $small-text;
        }
        .total {
          font-family: $open-sans-semi-bold;
        }
      }
    }
  }
  &[data-all-hidden="true"] {
    .skill-list {
      tr {
        width: 50%;
        float: left;
        td {
          width: 10%;
          display: inline-block;
          float: left;
          margin: 0 10% 0 0;
          text-align: right;
          &:first-child {
            width: 80%;
            display: inline-block;
            float: left;
            margin: 0;
          }
        }
      }
    }
  }
}

// spells
#spells {
  .spell-stats {
    thead {
      td {
        width: 3%;
        &:first-child {
          width: 1%;
        }
      }
    }
  }
  .spells-known,
  .spells-prepared {
    .button {
      float: left;
      margin: 0 1% 1% 0;
      width: 49%;
      text-align: left;
      overflow: hidden;
      font-size: 0.9rem;
      font-family: $open-sans-regular;
      white-space: normal;
      &:nth-child(even) {
        margin: 0 0 1% 0;
        width: 50%;
      }
      [class^="icon-"],
      [class*=" icon-"] {
        float: right;
        margin: 0 0 0 3px;
        line-height: 1.5rem;
      }
    }
  }
  .spell-level {
    .spells-known {
      .button {
        &:link,
        &:visited {
          border-color: $gray-13;
        }
        &:active,
        &:focus,
        &:hover {
          border-color: $gray-12;
        }
      }
      .button-primary {
        &:link,
        &:visited {
          color: $white;
          background-color: $primary-color;
          border-color: $primary-color-dark;
        }
      }
      &.prepare-state,
      &.unprepare-state,
      &.cast-state {
        .button-tertiary {
          &:link,
          &:visited {
            border-color: $gray-12;
          }
          &:active,
          &:focus,
          &:hover {}
        }
      }
      &.delete-state {
        .button {
          &:link,
          &:visited {
            background-color: $white;
            color: $primary-color-dark;
            border-color: $primary-color-light;
          }
          &:active,
          &:focus,
          &:hover {
            color: $white;
            background-color: $primary-color-light;
            border-color: $primary-color-dark;
          }
        }
      }
      &.prepare-state,
      &.unprepare-state,
      &.cast-state,
      &.delete-state {
        &.button-primary {
          &:link,
          &:visited {
            color: $white;
            background-color: $primary-color;
            border-color: $primary-color-dark;
          }
        }
      }
    }
  }
  .spell-state {
    margin: 0 0 20px 0;
  }
  .new-spell {
    position: relative;
    .spell-name {
      input {
        padding-right: 40px;
        box-sizing: border-box;
      }
    }
    .add-spell {
      position: absolute;
      right: 5px;
      top: 14px;
      padding: 4px 6px;
      [class^="icon-"],
      [class*=" icon-"] {
        margin: 0;
      }
    }
  }
}

::-webkit-full-screen {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {
  // skills
  #skills {
    .skill-list {
      thead {
        tr {
          td {
            width: 15%;
            &:first-child {
              width: 55%;
            }
          }
        }
      }
    }
  }
  // spells
  #spells {
    .spells-known,
    .spells-prepared {
      .button {
        margin: 0 1% 1% 0;
        width: 32.333333333%;
        &:nth-child(even) {
          margin: 0 1% 1% 0;
          width: 32.333333333%;
        }
        &:nth-child(3n) {
          margin: 0 0 1% 0;
          width: 33.333333333%;
        }
      }
    }
    .new-spell {
      .add-spell {
        top: 17px;
      }
    }
  }
  // defense
  #defense {
    .ac,
    .ac-touch,
    .ac-flat-footed {
      .title {
        min-width: 120px;
      }
    }
  }
}

@media (min-width: $screen-md) {
  section {
    h1 {
      margin-bottom: 60px;
    }
  }
  // basics
  #basics {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .sheet {
    width: 75%;
    float: right;
  }
  // defense
  #defense {
    .ac,
    .ac-touch,
    .ac-flat-footed {
      .title {
        min-width: 140px;
      }
    }
  }
  // spells
  #spells {
    .new-spell {
      .add-spell {
        top: 21px;
      }
    }
  }
}

@media (min-width: $screen-lg) {}
