/* nav
------------------------------------------------- */

#nav {
  position: fixed;
  top: -800px;
  right: 20px;
  z-index: $nav;
  transition: all $transition-bounce-medium;
  .nav-list {
    background-color: $white;
    box-shadow: $shadow-medium;
    border-radius: $border-radius-small;
    margin: 0;
    padding: 8px 0;
    width: 240px;
    transition: all $transition-ease-medium;
    overflow-y: auto;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      &.divide {
        margin: 10px 0;
        background-color: $gray-alpha-12;
        height: 1px;
      }
      h1,
      h2 {
        padding: 0;
        margin: 0 0 0 20%;
        line-height: 3rem;
        font-size: 1rem;
        width: 80%;
        display: block;
        font-family: $open-sans-bold;
        text-transform: uppercase;
      }
      a {
        padding: 0;
        margin: 0;
        line-height: 3rem;
        font-size: 1rem;
        display: block;
        font-family: $open-sans-bold;
        text-transform: uppercase;
        clear: both;
        transition: background-color $transition-ease-medium, color $transition-ease-medium;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        span {
          display: inline-block;
          float: left;
          &.name {
            width: 70%;
            overflow: hidden;
            white-space: nowrap;
          }
          &.icon {
            color: $secondary-color-03;
            font-size: 1.5rem;
            line-height: 3rem;
            width: 20%;
            text-align: center;
            transition: background-color $transition-ease-medium, color $transition-ease-medium;
          }
        }
        &:link,
        &:visited {
          color: $primary-color-07;
          background-color: transparent;
        }
        &:hover {
          color: $primary-color-07;
          background-color: $gray-alpha-12;
          text-decoration: none;
          border-color: $primary-color-07;
        }
        &:focus {
          background-color: $gray-alpha-12;
          text-decoration: none;
          outline: 0;
        }
        &.active,
        &:active {
          color: $white;
          transition: background-color $transition-ease-fast, color $transition-ease-fast;
          .icon {
            color: $white;
            transition: background-color $transition-ease-fast, color $transition-ease-fast;
          }
        }
        &:active {
          background-color: $primary-color-01;
        }
        &.active {
          background-color: $primary-color-07;
        }
        &.active {
          &:hover {}
          &:active {
            background-color: $primary-color-01;
          }
        }
      }
    }
  }
  &.open {
    top: 80px;
    transition: all $transition-bounce-slow;
    .nav-list {}
  }
  &.bright {
    .nav-toggle {
      background-color: $primary-color-07;
      box-shadow: $shadow-medium;
      &:hover {
        background-color: $primary-color-07;
      }
      .line {
        background-color: $white;
      }
    }
  }
}

.nav-toggle {
  cursor: pointer;
  transition: all $transition-ease-medium;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .line {
    display: block;
    height: 2px;
    width: 24px;
    left: 50%;
    position: absolute;
    background-color: $primary-color-07;
    border-radius: $border-radius-small;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all $transition-ease-medium;
    &.top {
      top: 38%;
      transition-delay: 0.1s;
    }
    &.middle {
      top: 50%;
      transition-delay: 0.2s;
    }
    &.bottom {
      top: 62%;
      transition-delay: 0.1s;
    }
  }
  &:hover {}
  &.open {
    .line {
      background-color: $white;
      &.top {
        top: 50%;
        transform: translate(-12px, -1px) rotate(135deg);
        transition-delay: 0.3s;
      }
      &.middle {
        opacity: 0;
        transition-delay: 0s;
      }
      &.bottom {
        top: 50%;
        transform: translate(-12px, -1px) rotate(-135deg);
        transition-delay: 0.3s;
      }
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}