/* quick nav
------------------------------------------------- */

#quick-nav {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $secondary-color-06;
  z-index: $quick-nav;
  transition: border $transition-ease-medium;
  .quick-nav-list {
    margin: 0;
    padding: 0;
    > li {
      margin: 0;
      padding: 0;
      width: 11.1111111111%;
      display: block;
      float: left;
      list-style-type: none;
      text-align: center;
      .quick-link {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 2rem;
        text-decoration: none;
        color: $secondary-color-04;
        transform: scale(1);
        display: block;
        transition: all $transition-ease-fast;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:focus {
          color: $secondary-color-10;
          outline: 0;
        }
        &:hover {
          color: $secondary-color-12;
          outline: 0;
        }
        &:active {
          color: $secondary-color-16;
        }
        &.active {
          color: $white;
          // transform: scale(1.3);
        }
      }
      .nav-toggle {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 2rem;
        text-decoration: none;
        display: block;
        position: relative;
        transition: all $transition-ease-fast;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:focus,
        &:hover {
          outline: 0;
        }
        .line {
          display: block;
          height: 3px;
          width: 24px;
          left: 50%;
          position: absolute;
          background-color: $primary-color-10;
          border-radius: $border-radius-small;
          transform: translate(-50%, -50%);
          opacity: 1;
          transition: all $transition-ease-medium;
          &.top {
            top: 38%;
            transition-delay: 0.1s;
          }
          &.middle {
            top: 50%;
            transition-delay: 0.2s;
          }
          &.bottom {
            top: 62%;
            transition-delay: 0.1s;
          }
        }
        &.open {
          .line {
            background-color: $white;
            &.top {
              top: 50%;
              transform: translate(-12px, -1px) rotate(135deg);
              transition-delay: 0.3s;
            }
            &.middle {
              opacity: 0;
              transition-delay: 0s;
            }
            &.bottom {
              top: 50%;
              transform: translate(-12px, -1px) rotate(-135deg);
              transition-delay: 0.3s;
            }
          }
        }
      }
    }
  }
  .nav {
    .nav-list {
      background-color: $white;
      box-shadow: $shadow-medium;
      border-radius: $border-radius-small;
      margin: 0;
      padding: 8px 0;
      position: absolute;
      top: 70px;
      right: -440px;
      width: 250px;
      transition: right $transition-bounce-slow;
      overflow-y: auto;
      li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: left;
        &.divide {
          margin: 10px 0;
          background-color: $dark-alpha-19;
          height: 1px;
        }
        ul {
          margin: 0;
          padding: 0;
        }
        h1 {
          font-family: $open-sans-bold;
        }
        h1,
        h2 {
          padding: 0;
          margin: 0 0 0 20%;
          line-height: 3rem;
          font-size: 1rem;
          width: 80%;
          display: block;
          text-transform: uppercase;
        }
        a {
          padding: 0;
          margin: 0;
          display: block;
          font-family: $open-sans-bold;
          clear: both;
          transition: all $transition-ease-medium;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          .nav-link {
            line-height: 3rem;
            display: block;
            text-transform: uppercase;
            float: left;
          }
          .icon {
            color: $secondary-color-03;
            font-size: 1.5rem;
            line-height: 3rem;
            width: 20%;
            text-align: center;
            display: block;
            float: left;
            vertical-align: bottom;
            transition: background-color $transition-ease-medium, color $transition-ease-medium;
          }
          &.character-toggle {
            padding: 0.5rem 0;
            .character {
              width: 80%;
              display: block;
              float: left;
              .name,
              .class,
              .level {
                line-height: 1.5rem;
                font-size: 1rem;
              }
              .name {
                font-family: $open-sans-bold;
                width: 100%;
                display: block;
              }
              .class,
              .level {
                font-family: $open-sans-semi-bold;
                color: $gray-14;
              }
            }
          }
          &:link,
          &:visited {
            color: $primary-color-10;
            background-color: transparent;
          }
          &:hover {
            color: $primary-color-10;
            background-color: $dark-alpha-19;
            text-decoration: none;
            border-color: $primary-color-10;
          }
          &:focus {
            background-color: $dark-alpha-19;
            text-decoration: none;
            outline: 0;
          }
          &.active,
          &:active {
            color: $white;
            transition: all $transition-ease-fast;
            .icon {
              color: $white;
              transition: all $transition-ease-fast;
            }
            &.character-toggle {
              .class,
              .level {
                color: $primary-color-05;
              }
            }
          }
          &:active {
            background-color: $primary-color-10;
          }
          &.active {
            background-color: $primary-color-08;
          }
          &.active {
            &:active {
              background-color: $primary-color-10;
            }
          }
        }
      }
      &.open {
        right: 20px;
      }
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {
  #quick-nav {
    .nav {
      .nav-list {
        top: 90px;
        width: 340px;
      }
    }
    .quick-nav-list {
      > li {
        .quick-link {
          height: 70px;
          line-height: 70px;
        }
        .nav-toggle {
          height: 70px;
          line-height: 70px;
        }
      }
    }
  }
}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
