/* prompt
------------------------------------------------- */

.prompt {
  .container {
    max-width: 100%;
  }
  .prompt-message {
    h1 {
      margin: 0 0 20px 0;
    }
    pre {
      background-color: $gray-alpha-13;
      max-height: 200px;
      overflow-y: scroll;
      border-radius: $border-radius-medium;
      padding: 15px;
      box-sizing: border-box;
      box-shadow: $shadow-small-inset;
      white-space: pre-wrap;
    }
    &:last-child {
      margin: 0 0 20px 0;
    }
  }
  &.prompt-shade {
    background-color: $secondary-color-dark-alpha;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $prompt;
    opacity: 0;
    transition: all $transition-ease-medium;
  }
  &.prompt-modal {
    border-top: 10px solid $primary-color;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: $prompt;
    background: $white;
    width: 80%;
    max-height: 90%;
    min-width: 250px;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: $border-radius-medium;
    transform: translate(-50%, -50%);
    box-shadow: $shadow-large;
    opacity: 0;
    transition: all $transition-ease-medium;
  }
  .button {
    &:last-child {
      margin-right: 0;
    }
  }
  &.reveal {
    opacity: 1;
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {
  .prompt {
    .prompt-message {
      :last-child {
        margin: 0 0 60px 0;
      }
    }
    &.prompt-modal {
      width: 80%;
    }
  }
}

@media (min-width: $screen-lg) {
  .prompt {
    &.prompt-modal {
      width: 55%;
    }
  }
}

@media (min-width: $screen-xl) {
  .prompt {
    &.prompt-modal {
      width: 40%;
    }
  }
}
