/* prompt
------------------------------------------------- */

.prompt {
  .container {
    max-width: 100%;
  }
  &.prompt-shade {
    background-color: $gray-alpha-04;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $prompt;
    opacity: 0;
    transition: all $transition-ease-medium;
  }
  &.prompt-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: $prompt;
    width: 80%;
    max-height: 80%;
    min-width: 300px;
    box-sizing: border-box;
    border-radius: $border-radius-small;
    transform: translate(-50%, -50%);
    box-shadow: $shadow-large;
    opacity: 0;
    transition: all $transition-ease-medium;
    .prompt-message {
      background-color: $white;
      border-radius: $border-radius-small $border-radius-small 0 0;
      padding: 40px 0;
      .prompt-heading {
        border-left: 40px solid $primary-color-07;
        padding: 0 60px 0 20px;
      }
      .prompt-text {
        margin: 0 60px;
      }
    }
    .prompt-code {
      background-color: $gray-alpha-02;
      max-height: 300px;
      overflow-y: scroll;
      margin: 0;
      padding: 20px 60px;
      color: $white;
      box-sizing: border-box;
      box-shadow: $shadow-large-inset;
      white-space: pre-wrap;
    }
    .prompt-controls {
      background-color: $white;
      border-radius: 0 0 $border-radius-small $border-radius-small;
      .button {
        width: 50%;
        height: 50px;
        line-height: 48px;
        &:first-child {
          border-radius: 0 0 0 $border-radius-small;
        }
        &:last-child {
          border-radius: 0 0 $border-radius-small 0;
        }
      }
    }
    &.confirm {
      .prompt-message {
        .prompt-heading {
          margin: 0 0 20px 0;
        }
      }
    }
    &.download {
      .prompt-message {
        .prompt-heading {
          margin: 0;
        }
      }
    }
  }
  .button {
    &:last-child {
      margin-right: 0;
    }
  }
  &.reveal {
    opacity: 1;
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {
  .prompt {
    &.prompt-modal {
      width: 80%;
    }
  }
}

@media (min-width: $screen-lg) {
  .prompt {
    &.prompt-modal {
      width: 55%;
    }
  }
}

@media (min-width: $screen-xl) {
  .prompt {
    &.prompt-modal {
      width: 40%;
    }
  }
}
