/* prompt
------------------------------------------------- */

.prompt {
  .container {
    max-width: 100%;
  }
  .prompt-heading {
    margin: 1rem 0;
  }
  &.prompt-shade {
    background-color: $gray-alpha-02;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $prompt;
    opacity: 0;
    transition: all $transition-bounce-medium;
  }
  &.prompt-modal {
    border-left: 10px solid $primary-color;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: $prompt;
    background: $white;
    width: 70%;
    max-width: 60%;
    min-width: 300px;
    padding: 20px 15px 20px 25px;
    box-sizing: border-box;
    border-radius: $border-radius-small;
    transform: translate(-50%, -50%);
    box-shadow: $shadow-large;
    opacity: 0;
    transition: all $transition-bounce-medium;
  }
  .button {
    margin: 0 5px 5px 0;
    &:last-child {
      margin-right: 0;
    }
  }
  &.reveal {
    opacity: 1;
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {
  .prompt {
    &.prompt-clear-awesome-sheet {
      width: 70%;
    }
  }
}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {
  .prompt {
    &.prompt-clear-awesome-sheet {
      width: 40%;
    }
  }
}
