/* skills
------------------------------------------------- */

#skills {
  .skill-list {
    .skill {
      .name,
      .type,
      .stat,
      .total,
      .ranks,
      .misc,
      .class-skill {
        float: left;
        display: block;
        margin: 0;
      }
      .name {
        width: 35%;
        white-space: nowrap;
        overflow: hidden;
        &.with-type {
          width: 15%;
        }
      }
      .type {
        width: 20%;
      }
      .stat {
        width: 10%;
        text-align: center;
        &.stat-select {
          cursor: pointer;
        }
      }
      .total {
        width: 20%;
        font-family: $open-sans-semi-bold;
        text-align: center;
      }
      .class-skill {
        width: 15%;
        height: 2.5rem;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        .input-check {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          width: 100%;
          height: 100%;
          line-height: 100%;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        .class-skill-icon {
          font-size: 1.5rem;
          line-height: 2.5rem;
          height: 2.5rem;
          display: block;
          &.icon-check-box-unchecked {
            color: $secondary-color-02;
          }
          &.icon-check-box-checked {
            color: $primary-color-07;
          }
        }
      }
      .ranks,
      .misc {
        width: 10%;
        text-align: center;
        input {
          &[type="email"],
          &[type="number"],
          &[type="search"],
          &[type="text"],
          &[type="tel"],
          &[type="url"],
          &[type="password"] {
            text-align: center;
            padding: 0;
          }
        }
      }
    }
  }
  &[data-all-hidden="true"] {
    .skill-list {
      .skill {
        width: 47%;
        margin: 0 3% 0 0;
        float: left;
        .name {
          width: 85%;
          &.with-type {
            width: 30%;
          }
          .input-field {
            background-color: transparent;
            border-color: $gray-13;
            padding: 0;
            &:hover {
              border-color: $primary-color-07;
            }
          }
        }
        .type {
          width: 55%;
          .input-field {
            background-color: transparent;
            border-color: $gray-13;
            padding: 0;
            &:hover {
              border-color: $primary-color-07;
            }
          }
        }
        .total {
          width: 15%;
        }
        &:nth-child(odd) {
          margin: 0 0 0 3%;
        }
      }
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {
  #skills {
    .skill-list {
      .skill {
        .name {
          width: 45%;
          &.with-type {
            width: 15%;
          }
        }
        .type {
          width: 30%;
        }
        .stat {
          width: 10%;
        }
        .total {
          width: 15%;
        }
        .class-skill {
          width: 10%;
        }
        .ranks,
        .misc {
          width: 10%;
        }
      }
    }
  }
}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {
  #skills {
    &[data-all-hidden="true"] {
      .skill-list {
        .skill {
          width: 31.3333333333%;
          margin: 0;
          float: left;
          &:nth-child(3n) {
            margin: 0;
          }
          &:nth-child(3n+1) {
            margin: 0 0 0 2%;
          }
          &:nth-child(3n+2) {
            margin: 0 2% 0 0;
          }
        }
      }
    }
  }
}
