/* snacks
------------------------------------------------- */

.snacks {
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  z-index: $snacks;
  box-sizing: border-box;
  .container {
    max-width: 100%;
    padding: 0;
  }
  .snack-bar {
    background-color: $gray-01;
    padding: 5px 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: all $transition-ease-medium;
    transform: translateY(100px);
    opacity: 0;
    .snack-message {
      margin: 0;
      color: $white;
      height: 30px;
      line-height: 30px;
      font-size: 1rem;
      font-family: $open-sans-semi-bold;
      white-space: nowrap;
      overflow: hidden;
    }
    .button {
      border: 0;
      margin: 0 0 0 5px;
      height: 30px;
      line-height: 30px;
      font-size: 1rem;
      float: right;
      color: $white;
      [class^="icon-"],
      [class*=" icon-"] {
        margin: 0;
        height: 30px;
        line-height: 30px;
        font-size: 1.4rem;
      }
    }
    &.reveal {
      transform: translateY(0);
      opacity: 1;
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {
  .snacks {
    max-width: 92%;
    width: 92%;
    margin: 4%;
    .snack-bar {
      border-radius: $border-radius-medium;
      box-shadow: $shadow-medium;
      box-sizing: border-box;
      .snack-message {
        height: 35px;
        line-height: 35px;
      }
      .button {
        height: 35px;
        line-height: 35px;
        [class^="icon-"],
        [class*=" icon-"] {
          height: 35px;
          line-height: 35px;
        }
      }
    }
  }
}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {
  .snacks {
    max-width: 60%;
    width: 60%;
    margin: 2%;
  }
}

@media (min-width: $screen-xl) {
  .snacks {
    max-width: 50%;
    width: 50%;
    margin: 2%;
  }
}