/* spells
------------------------------------------------- */
#spells {
  .spell-level {
    margin: 0 0 2rem;
    h2,
    input {
      margin: 0 0 0.5rem;
    }
    .spells-known {
      .button {
        padding: 0 10px;
        margin: 0 0.5% 1px 0;
        width: 49.5%;
        text-align: left;
        font-size: 0.9rem;
        overflow: hidden;
        font-family: $open-sans-regular;
        white-space: normal;
        float: left;
        line-height: 2rem;
        height: auto;
        .spell-name {
          white-space: nowrap;
          overflow: hidden;
        }
        .spell-marks {
          float: right;
          margin: 0 0 0 5px;
          display: block;
          visibility: visible;
          [class*=" icon-"],
          [class^="icon-"] {
            float: right;
            margin: 0 0 0 1px;
            line-height: 2rem;
            height: auto;
          }
        }
        .spell-active {
          float: left;
          margin: 0 5px 0 0;
          display: block;
          visibility: visible;
          [class*=" icon-"],
          [class^="icon-"] {
            float: left;
            margin: 0;
            line-height: 2rem;
            height: auto;
          }
        }
        .spell-remove {
          float: right;
          margin: 0 0 0 5px;
          display: none;
          visibility: hidden;
          [class*=" icon-"],
          [class^="icon-"] {
            float: right;
            margin: 0 0 0 1px;
            line-height: 2rem;
            height: auto;
          }
        }
      }
    }
  }
  .new-spell {
    position: relative;
    z-index: 1;
    .spell-name {
      padding-right: 40px;
    }
    .new-spell-controls {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      .button {
        border: 0;
        height: 2.5rem;
        line-height: 2.5rem;
        margin: 0;
        padding: 0 15px;
        float: left;
        [class*=" icon-"],
        [class^="icon-"] {
          margin: 0;
          height: 2.5rem;
          line-height: 2.5rem;
        }
      }
    }
  }
  &.prepare-state {
    .spell-level {
      .spells-known {
        .button-tertiary {
          background-color: $secondary-color-alpha-07;
          &:link,
          &:visited {
            background-color: $secondary-color-alpha-07;
          }
        }
      }
    }
  }
  &.unprepare-state {
    .spell-level {
      .spells-known {
        .button-tertiary {
          background-color: $secondary-color-alpha-07;
          &:link,
          &:visited {
            background-color: $secondary-color-alpha-07;
          }
        }
      }
    }
  }
  &.cast-state {
    .spell-level {
      .spells-known {
        .button-primary {
          background-color: $gray-09;
          border-color: $gray-06;
          &:link,
          &:visited {
            background-color: $gray-09;
          }
        }
      }
    }
  }
  &.active-state {
    .spell-level {
      .spells-known {
        .button-primary {
          background-color: $gray-09;
          border-color: $gray-06;
          &:link,
          &:visited {
            background-color: $gray-09;
          }
        }
      }
    }
  }
  &.delete-state {
    .spell-level {
      .spells-known {
        .button {
          background-color: $primary-color-alpha-07;
          color: $primary-color-07;
          border-color: transparent;
          .spell-marks {
            display: none;
            visibility: hidden;
          }
          .spell-active {
            display: none;
            visibility: hidden;
          }
          .spell-remove {
            display: block;
            visibility: visible;
          }
        }
      }
    }
  }
}
/* media queries
------------------------------------------------- */
@media (min-width: $screen-sm) {
  #spells {
    .spell-level {
      .spells-known {
        .button {
          margin-bottom: 2px;
        }
      }
    }
  }
}
@media (min-width: $screen-md) {
  #spells {
    .spell-level {
      .spells-known {
        .button {
          margin-bottom: 3px;
        }
      }
    }
  }
}
@media (min-width: $screen-lg) {
  #spells {
    .spell-level {
      .spells-known {
        .button {
          margin-bottom: 4px;
        }
      }
    }
  }
}
@media (min-width: $screen-xl) {
  #spells {
    .spell-level {
      .spells-known {
        .button {
          width: 32.3333333333%;
          margin: 0 1% 6px 0;
        }
      }
    }
  }
}
