/* statistics
------------------------------------------------- */

#statistics {
  .stat-block {
    margin-bottom: 2rem;
    .stats {
      p,
      input,
      .name {
        margin: 0;
      }
    }
    .str {
      h2 {
        border-radius: $border-radius-medium $border-radius-medium 0 0;
      }
    }
    .dex,
    .con,
    .int,
    .wis {
      h2 {
        border-radius: 0;
      }
    }
    .cha {
      h2 {
        border-radius: 0 0 $border-radius-medium $border-radius-medium;
      }
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
