/* structure
------------------------------------------------- */

body {
  background: $white;
  padding: 0 0 500px 0;
}

section {
  position: relative;
  z-index: $body;
  padding: 0 0 1rem 0;
  h1 {
    padding: 5px 10px;
    background-color: $secondary-color;
    color: $white;
    text-transform: uppercase;
    position: relative;
    border-left: 5px solid $primary-color;
    border-radius: $border-radius-medium;
  }
  h2 {
    background-color: $gray-13;
    padding: 0 10px;
    min-height: 2.3rem;
    line-height: 2.3rem;
    box-sizing: border-box;
    border-left: 5px solid $secondary-color;
    border-radius: $border-radius-medium;
  }
}

hr {
  border: 0;
  border-top: 2px solid $secondary-color;
  margin: 0 0 2.5rem 0;
  clear: both;
}

.section-controls {
  margin: 0 0 1rem 0;
  .button {
    margin: 0 5px 5px 0;
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
