/* structure
------------------------------------------------- */

body {
  background: $white;
  padding: 0 0 300px 0;
}

section {
  z-index: $body;
  .section-heading {
    padding: 10px 0;
    position: relative;
    background-color: $secondary-color-02;
    text-transform: uppercase;
    position: relative;
    z-index: $section-heading;
    height: 30px;
    h1 {
      margin: 0;
      line-height: 30px;
      color: $white;
    }
  }
  .section-controls {
    text-align: right;
    .button {
      margin: 0 0 0 10px;
    }
  }
  .section-wrapper {
    padding: 3rem 0;
  }
  &.pinned {
    padding-top: 50px;
    .section-heading {
      margin: 0;
      background-color: $secondary-color-02;
      position: fixed;
      top: 70px;
      width: 100%;
      h1 {}
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid $secondary-color-05;
  margin: 0 0 2rem 0;
  clear: both;
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}