/* structure
------------------------------------------------- */

body {
  background: $white;
  padding: 0 0 300px 0;
}

section {
  z-index: $body;
  .section-heading {
    padding: 10px 0;
    position: relative;
    background-color: $gray-13;
    text-transform: uppercase;
    position: relative;
    z-index: $section-heading;
    height: 30px;
    transition: all $transition-ease-fast;
    h1 {
      margin: 0;
      line-height: 30px;
    }
  }
  .section-controls {
    text-align: right;
    height: 30px;
    .button {
      margin: 0 0 0 10px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .section-wrapper {
    padding: 3rem 0;
  }
  &.pre-pinned {
    .section-heading {
      box-shadow: $shadow-small;
    }
  }
  &.pinned {
    padding-top: 50px;
    .section-heading {
      margin: 0;
      position: fixed;
      top: 70px;
      width: 100%;
      box-shadow: $shadow-small;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid $secondary-color-alpha-06;
  margin: 0 0 2rem 0;
  clear: both;
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {
}

@media (min-width: $screen-md) {
}

@media (min-width: $screen-lg) {
}

@media (min-width: $screen-xl) {
}


/* animations
------------------------------------------------- */

@keyframes header-flash {
  0% {
    background-color: $secondary-color-07;
  }
  100% {
    background-color: $secondary-color-04;
  }
}
