/* structure
------------------------------------------------- */

body {
  background: $white;
  padding: 0 0 200px 0;
}

.section {
  margin: 0 0 1rem 0;
  z-index: $body;
  .section-heading {
    border-top: 2px solid $secondary-color-01;
    margin: 0 0 3rem 0;
    padding: 20px 0;
    background-color: $gray-12;
    text-transform: uppercase;
    position: relative;
    h1 {
      margin: 0;
      color: $secondary-color-01;
    }
  }
  .section-controls {
    text-align: right;
    .button {
      margin: 0 0 0 10px;
    }
  }
}

hr {
  border: 0;
  border-top: 2px solid $secondary-color;
  margin: 0 0 2.5rem 0;
  clear: both;
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}