/* typography
------------------------------------------------- */

html {
  font-size: 14px;
  font-family: $open-sans-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-03;
  margin-top: 0;
}

h1,
h2 {
  margin-bottom: 40px;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  font-family: $open-sans-light;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.25;
  font-family: $open-sans-bold;
  text-transform: uppercase;
}

h3 {
  font-size: 1rem;
  line-height: 1.3;
  font-family: $open-sans-bold;
  text-transform: uppercase;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.4rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.6;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: $gray-03;
  margin: 0 0 20px 0;
}

b,
strong {
  font-family: $open-sans-semi-bold;
}

.text-center {
  text-align: center;
}


/* Links
------------------------------------------------- */

a {
  color: $primary-color;
  text-decoration: none;
  &:visited {
    color: $primary-color;
  }
  &:hover,
  &:focus {
    color: $primary-color-dark;
    text-decoration: underline;
  }
  &:active {
    color: $primary-color-light;
  }
}

.textarea,
textarea {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  width: 100%;
  background-color: transparent;
  color: $gray-02;
  border: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  border-bottom: $border;
  box-sizing: border-box;
  transition: border $transition-ease-medium;
  resize: vertical;
  &:hover {
    border-color: $primary-color;
  }
  &:focus {
    border-color: $primary-color;
    outline: 0;
  }
}

input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    background-color: transparent;
    font-family: $open-sans-regular;
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0;
    margin: 0 0 10px 0;
    color: $gray-02;
    border: 0;
    width: 100%;
    border-bottom: $border;
    box-shadow: none;
    box-sizing: content-box;
    transition: border $transition-ease-medium, padding $transition-ease-medium, background-color $transition-ease-medium;
    &:hover {
      border-color: $primary-color;
    }
    &:focus {
      border-color: $primary-color;
      outline: 0;
    }
    &:active {}
    &.input-inline {
      margin: -0.5rem 5px;
      height: 2.5rem;
      line-height: 2.5rem;
      text-align: center;
      display: inline-block;
    }
    &.input-small {
      width: 50px;
    }
    &.input-medium {
      width: 100px;
    }
    &.input-large {
      width: 15px;
    }
  }
  &.dark {
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="text"],
    &[type="tel"],
    &[type="url"],
    &[type="password"] {
      color: $white;
      &:hover {}
      &:focus {
        background-color: $secondary-color-light;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: $border-radius-small;
      }
    }
  }
}

.inline-with-input {
  line-height: 2.5rem;
  margin: 0 0 10px 0;
}

::-webkit-input-placeholder {
  color: $gray-10;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $gray-10;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $gray-10;
}


/* media queries
------------------------------------------------- */

@media (min-width: 550px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 750px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 900px) {}

@media (min-width: 1000px) {}
