/* typography
------------------------------------------------- */

html {
  font-size: 11px;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: $open-sans-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-03;
  margin-top: 0;
}

h1 {
  margin-bottom: 30px;
  line-height: 2rem;
}

h2 {
  margin-bottom: 10px;
  line-height: 1.6rem;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  line-height: 1.6rem;
}

h1 {
  font-size: 1.8rem;
  font-family: $open-sans-light;
}

h2 {
  font-size: 1.1rem;
  font-family: $open-sans-bold;
}

h3 {
  font-size: 1rem;
  font-family: $open-sans-bold;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.8rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: $gray-03;
  margin: 0 0 20px 0;
}

b,
strong {
  font-family: $open-sans-semi-bold;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:visited {
    color: $primary-color;
  }
  &:hover,
  &:focus {
    color: $primary-color-dark;
    text-decoration: underline;
  }
  &:active {
    color: $primary-color-light;
  }
}

.textarea,
textarea {
  background-color: $gray-13;
  padding: 10px;
  margin: 0 0 20px 0;
  width: 100%;
  color: $gray-02;
  border: 0;
  border-bottom: $border;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border $transition-ease-medium, padding $transition-ease-medium, background-color $transition-ease-medium;
  resize: vertical;
  &:hover {
    border-color: $primary-color;
  }
  &:focus {
    border-color: $primary-color;
    outline: 0;
  }
}

input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    background-color: $gray-13;
    font-family: $open-sans-regular;
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 10px;
    margin: 1rem 0 20px 0;
    color: $gray-02;
    border: 0;
    width: 100%;
    border-bottom: $border;
    box-shadow: none;
    box-sizing: border-box;
    transition: border $transition-ease-medium, padding $transition-ease-medium, background-color $transition-ease-medium;
    &:hover {
      border-color: $primary-color;
    }
    &:focus {
      border-color: $primary-color;
      outline: 0;
    }
  }
  &.dark {
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="text"],
    &[type="tel"],
    &[type="url"],
    &[type="password"] {
      color: $white;
      &:hover {}
      &:focus {
        background-color: $secondary-color-light;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: $border-radius-small;
      }
    }
  }
}

table {
  border: 0;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  border-spacing: 0;
  thead {
    tr {
      td {
        padding: 0 5px;
        margin: 0;
        height: 2.5rem;
        text-align: center;
        border-bottom: $border;
        font-family: $open-sans-semi-bold;
        &:first-child {
          padding-left: 0;
          text-align: left;
        }
      }
    }
  }
  tr {
    td {
      padding: 0;
      margin: 0;
      height: 2.5rem;
      text-align: center;
      box-sizing: content-box;
      p {
        margin: 0;
        height: 2.5rem;
        line-height: 2.5rem;
        box-sizing: content-box;
        border-bottom: $border;
      }
      &:first-child {
        text-align: left;
        p {
          text-align: left;
        }
      }
      input {
        &[type="email"],
        &[type="number"],
        &[type="search"],
        &[type="text"],
        &[type="tel"],
        &[type="url"],
        &[type="password"] {
          margin: 0;
          padding: 0;
          margin: 0;
          height: 2.5rem;
          line-height: 2.5rem;
          text-align: center;
          box-sizing: content-box;
        }
      }
    }
  }
}

.text-center {
  text-align: center;
}

.small-text {
  color: $gray-08;
  font-size: $small-text;
}

.inline-with-input {
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 1rem 0 20px 0;
  box-sizing: border-box;
}

.underline-with-input {
  border-bottom: $border;
}


/* vendor
------------------------------------------------- */

::-webkit-input-placeholder {
  color: $gray-12;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $gray-12;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $gray-12;
}

::selection {
  background-color: $primary-color;
  color: $white;
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {
  html {
    font-size: 13px;
  }
}

@media (min-width: $screen-md) {
  html {
    font-size: 15px;
  }
}

@media (min-width: $screen-lg) {}
