/* utilities
------------------------------------------------- */

.hide {
  transform: scale(0) !important;
  opacity: 0 !important;
}

.show {
  transform: scale(1) !important;
  opacity: 1;
}

.hidden {
  display: none !important;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Responsive utilities
//
// More easily include all the states for responsive-utilities.less.
// [converter] $parent hack
@mixin responsive-visibility($parent) {
  #{$parent} {
    display: block !important;
  }
  // table#{$parent}  { display: table !important; }
  // tr#{$parent}     { display: table-row !important; }
  // th#{$parent},
  // td#{$parent}     { display: table-cell !important; }
}

// [converter] $parent hack
@mixin responsive-invisibility($parent) {
  #{$parent} {
    display: none !important;
  }
}

.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (min-width: 550px) {
  .visible-xs {
    display: block !important;
  }
  .visible-xs-block {
    display: block !important;
  }
  .visible-xs-inline {
    display: inline !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 750px) {
  .visible-sm {
    display: block !important;
  }
  .visible-sm-block {
    display: block !important;
  }
  .visible-sm-inline {
    display: inline !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 900px) {
  .visible-md {
    display: block !important;
  }
  .visible-md-block {
    display: block !important;
  }
  .visible-md-inline {
    display: inline !important;
  }
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1000px) {
  .visible-lg {
    display: block !important;
  }
  .visible-lg-block {
    display: block !important;
  }
  .visible-lg-inline {
    display: inline !important;
  }
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 550px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 750px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 900px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1000px) {
  .hidden-lg {
    display: none !important;
  }
}
