/* basic colors
------------------------------------------------- */

$black:                               #000000;
$white:                               #ffffff;

$background-color:                    #fafafa;

$primary-color:                       #ff0055;
$primary-color-dark:                  #cc0044;
$primary-color-light:                 #ff3276;
$primary-color-alpha:                 rgba(255, 0, 85, 0.5);
$primary-color-dark-alpha:            rgba(204, 0, 68, 0.9);
$primary-color-light-alpha:           rgba(255, 50, 118, 0.1);

$secondary-color:                     #336688;
$secondary-color-light:               #5599cc;
$secondary-color-dark:                #225577;
$secondary-color-alpha:               rgba(51, 102, 136, 0.5);
$secondary-color-dark-alpha:          rgba(34, 85, 119, 0.9);
$secondary-color-light-alpha:         rgba(85, 153, 204, 0.1);

$primary-color-01:                    #770022;
$primary-color-02:                    #850027;
$primary-color-03:                    #93002d;
$primary-color-04:                    #a10033;
$primary-color-05:                    #af0038;
$primary-color-06:                    #bd003e;
$primary-color-07:                    #cc0044;

$secondary-color-01:                  #223344;
$secondary-color-02:                  #2a445a;
$secondary-color-03:                  #335571;
$secondary-color-04:                  #3b6688;
$secondary-color-05:                  #44779e;
$secondary-color-06:                  #4c88b5;
$secondary-color-07:                  #5599cc;

$gray-01:                             #222222; // dark
$gray-02:                             #343434;
$gray-03:                             #464646;
$gray-04:                             #585858;
$gray-05:                             #6a6a6a;
$gray-06:                             #7c7c7c;
$gray-07:                             #8e8e8e;
$gray-08:                             #a0a0a0;
$gray-09:                             #b2b2b2;
$gray-10:                             #c4c4c4;
$gray-11:                             #d6d6d6;
$gray-12:                             #e8e8e8;
$gray-13:                             #fafafa; // light

$critical-20:                         #33c3f0;
$critical-1:                          #990000;

$gray-alpha-01:                       rgba(0, 0, 0, 0.87); // dark
$gray-alpha-02:                       rgba(0, 0, 0, 0.80);
$gray-alpha-03:                       rgba(0, 0, 0, 0.72);
$gray-alpha-04:                       rgba(0, 0, 0, 0.65);
$gray-alpha-05:                       rgba(0, 0, 0, 0.59);
$gray-alpha-06:                       rgba(0, 0, 0, 0.51);
$gray-alpha-07:                       rgba(0, 0, 0, 0.44);
$gray-alpha-08:                       rgba(0, 0, 0, 0.37);
$gray-alpha-09:                       rgba(0, 0, 0, 0.30);
$gray-alpha-10:                       rgba(0, 0, 0, 0.23);
$gray-alpha-11:                       rgba(0, 0, 0, 0.16);
$gray-alpha-12:                       rgba(0, 0, 0, 0.09);
$gray-alpha-13:                       rgba(0, 0, 0, 0.02); // light

$light-alpha-01:                      rgba(255, 255, 255, 0.87); // light
$light-alpha-02:                      rgba(255, 255, 255, 0.80);
$light-alpha-03:                      rgba(255, 255, 255, 0.72);
$light-alpha-04:                      rgba(255, 255, 255, 0.65);
$light-alpha-05:                      rgba(255, 255, 255, 0.59);
$light-alpha-06:                      rgba(255, 255, 255, 0.51);
$light-alpha-07:                      rgba(255, 255, 255, 0.44);
$light-alpha-08:                      rgba(255, 255, 255, 0.37);
$light-alpha-09:                      rgba(255, 255, 255, 0.30);
$light-alpha-10:                      rgba(255, 255, 255, 0.23);
$light-alpha-11:                      rgba(255, 255, 255, 0.16);
$light-alpha-12:                      rgba(255, 255, 255, 0.09);
$light-alpha-13:                      rgba(255, 255, 255, 0.02); // dark


/* grid
------------------------------------------------- */

$screen-xs:                           400px;
$screen-xs-min:                       $screen-xs;

$screen-sm:                           550px;
$screen-sm-min:                       $screen-sm;

$screen-md:                           700px;
$screen-md-min:                       $screen-md;

$screen-lg:                           900px;
$screen-lg-min:                       $screen-lg;

$screen-xl:                           1300px;
$screen-xl-min:                       $screen-xl;

$screen-xs-max:                       ($screen-sm-min - 1);
$screen-sm-max:                       ($screen-md-min - 1);
$screen-md-max:                       ($screen-lg-min - 1);
$screen-lg-max:                       ($screen-xl-min - 1);

$gutter:                              14px;

/* typography
------------------------------------------------- */

$open-sans-bold:                      "Open Sans Bold", Helvetica, Arial, sans-serif;
$open-sans-regular:                   "Open Sans Regular", Helvetica, Arial, sans-serif;
$open-sans-light:                     "Open Sans Light", Helvetica, Arial, sans-serif;
$open-sans-bold-italic:               "Open Sans Bold Italic", Helvetica, Arial, sans-serif;
$open-sans-italic:                    "Open Sans Italic", Helvetica, Arial, sans-serif;
$open-sans-light-italic:              "Open Sans Light Italic", Helvetica, Arial, sans-serif;
$open-sans-semi-bold-italic:          "Open Sans Semi Bold Italic", Helvetica, Arial, sans-serif;
$open-sans-semi-bold:                 "Open Sans Semi Bold", Helvetica, Arial, sans-serif;
$open-sans-condensed-bold:            "Open Sans Condensed Bold", Helvetica, Arial, sans-serif;
$open-sans-condensed-light-italic:    "Open Sans Condensed Light Italic", Helvetica, Arial, sans-serif;
$open-sans-condensed-light:           "Open Sans Condensed Light", Helvetica, Arial, sans-serif;

$small-text:                          0.8rem;

$border:                              2px solid transparent;

/* transitions
------------------------------------------------- */

$transition-bounce-slow:             0.5s cubic-bezier(0.7, -0.6, 0.3, 1.6);
$transition-bounce-medium:           0.3s cubic-bezier(0.7, -0.6, 0.3, 1.6);
$transition-bounce-fast:             0.1s cubic-bezier(0.7, -0.6, 0.3, 1.6);
$transition-ease-slow:               0.5s ease-in-out;
$transition-ease-medium:             0.3s ease-in-out;
$transition-ease-fast:               0.1s ease-in-out;

/* z-index
------------------------------------------------- */

$body:                               1000;
$results:                            2000;
$section-heading:                    3000;
$quick-nav:                          4000;
$snacks:                             5000;
$nav:                                6000;
$prompt:                             7000;

/* drop shadows
------------------------------------------------- */

$shadow-small:                      0 1px 1px rgba(0, 0, 0, 0.1),
                                    0 1px 10px rgba(0, 0, 0, 0.1);

$shadow-medium:                     0 1px 2px rgba(0, 0, 0, 0.2),
                                    0 1px 20px rgba(0, 0, 0, 0.2);

$shadow-large:                      0 1px 3px rgba(0, 0, 0, 0.3),
                                    0 1px 30px rgba(0, 0, 0, 0.3);

$shadow-small-inset:                inset 0 1px 1px rgba(0, 0, 0, 0.1),
                                    inset 0 1px 10px rgba(0, 0, 0, 0.1);

$shadow-medium-inset:               inset 0 1px 2px rgba(0, 0, 0, 0.2),
                                    inset 0 1px 20px rgba(0, 0, 0, 0.2);

$shadow-large-inset:                inset 0 1px 3px rgba(0, 0, 0, 0.3),
                                    inset 0 1px 30px rgba(0, 0, 0, 0.3);

/* radius
------------------------------------------------- */

$border-radius-small:               2px;
$border-radius-medium:              4px;
$border-radius-large:               6px;
