{{> header }}
{{> nav }}
{{> menu }}
{{> character-select }}
<main class="l-section-wrapper js-section-wrapper">
  {{> basics }}
  {{> statistics }}
  {{> equipment }}
  {{> defense }}
  {{> offense }}
  {{> skills }}
  {{> spells }}
  {{> notes }}
  {{> classic }}
</main>
{{> fab }}
