{{> quick-nav }}
{{> nav }}
<div class="l-section-wrapper">
  {{> basics-edit }}
  {{> statistics-edit }}
  {{> equipment-edit }}
  {{> defense-edit }}
  {{> offense-edit }}
  {{> skills-edit }}
  {{> spells-edit }}
  {{> notes-edit }}
  {{> basics-display }}
  {{> statistics-display }}
  {{> equipment-display }}
  {{> defense-display }}
  {{> offense-display }}
  {{> skills-display }}
  {{> spells-display }}
  {{> notes-display }}
</div>
{{> fab }}
