{{> header }}
{{> quick-nav }}
{{> nav }}
<div class="l-section-wrapper">
  {{> basics }}
  {{> statistics }}
  {{> equipment }}
  {{> defense }}
  {{> offense }}
  {{> skills }}
  {{> spells }}
  {{> notes }}
</div>
{{> fab }}
