{{> quick-nav }}
{{> nav }}
<div class="m-mode-wrapper-edit">
  {{> basics }}
  {{> statistics }}
  {{> equipment }}
  {{> defense }}
  {{> offense }}
  {{> skills }}
  {{> spells }}
  {{> notes }}
</div>
<div class="m-mode-wrapper-display is-hidden">
  {{> display }}
</div>
{{> fab }}