<div class="container">
  <nav>
    <ul>
      <li><a href="#basics" data-scroll>Basics</a></li>
      <li><a href="#statistics" data-scroll>Stats</a></li>
      <li><a href="#defense" data-scroll>Defense</a></li>
      <li><a href="#offense" data-scroll>Offense</a></li>
      <li><a href="#skills" data-scroll>Skills</a></li>
      <li><a href="#spellbook" data-scroll>Spellbook</a></li>
      <li><a href="#special-abilities" data-scroll>Special Abilities</a></li>
      <li><a href="#notes" data-scroll>Notes</a></li>
      <li><a href="#utilities" data-scroll>Utilities</a></li>
    </ul>
  </nav>
  <div class="sheet">
    <div class="row">
      <div class="col-12">
        <section id="basics">
          <div class="input-block input-name">
            <!-- name -->
            <label class="input-label" for="input-name">Name</label>
            <input class="input-field" id="input-name" type="text" value="Nif Amakir">
          </div>
          <div class="row">
            <div class="col-8">
              <div class="input-block">
                <!-- race classes -->
                <label class="input-label" for="input-race-class">Race/Class</label>
                <input class="input-field" id="input-race-class" type="text" value="Elf Wizard">
              </div>
            </div>
            <div class="col-4">
              <div class="input-block">
                <!-- level -->
                <label class="input-label" for="input-level">Level</label>
                <input class="input-field" id="input-level" type="text" value="5">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="input-block">
                <!-- alignment -->
                <label class="input-label" for="input-alignment">Alignment</label>
                <input class="input-field" id="input-alignment" type="text" value="Lawful Neutral">
              </div>
            </div>
            <div class="col-4">
              <div class="input-block">
                <!-- size -->
                <label class="input-label" for="input-size">Size</label>
                <input class="input-field" id="input-size" type="text" value="Medium">
              </div>
            </div>
            <div class="col-4">
              <div class="input-block">
                <!-- xp -->
                <label class="input-label" for="input-xp">XP</label>
                <input class="input-field" id="input-xp" type="text" value="15,000">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="input-block">
                <!-- height -->
                <label class="input-label" for="input-height">Height</label>
                <input class="input-field" id="input-height" type="text" value="6'0, 136 lbs">
              </div>
            </div>
            <div class="col-4">
              <div class="input-block">
                <!-- age -->
                <label class="input-label" for="input-age">Age</label>
                <input class="input-field" id="input-age" type="text" value="120 years">
              </div>
            </div>
            <div class="col-4">
              <div class="input-block">
                <!-- gender -->
                <label class="input-label" for="input-gender">Gender</label>
                <input class="input-field" id="input-gender" type="text" value="Male">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="input-block">
                <!-- initiative -->
                <label class="input-label" for="input-initiative">Initiative</label>
                <input class="input-field" id="input-initiative" type="text" value="3">
              </div>
            </div>
            <div class="col-8">
              <div class="input-block">
                <!-- speed -->
                <label class="input-label" for="input-speed">Speed</label>
                <input class="input-field" id="input-speed" type="text" value="30 feet, 6 squares">
              </div>
            </div>
          </div>
        </section>
        <section id="statistics" class="clearfix">
          <h2>Stats</h2>
          <div class="row">
            <div class="col-12">
              <ul>
                <li class="stats str clearfix">
                  <p class="name">Str</p>
                  <input class="score" type="number" placeholder="Score" value="8">
                  <p class="modifier">-1</p>
                  <input class="temp-score" type="number" placeholder="Temp">
                  <p class="temp-modifier"></p>
                </li>
                <li class="stats dex clearfix">
                  <p class="name">Dex</p>
                  <input class="score" type="number" placeholder="Score" value="17">
                  <p class="modifier">3</p>
                  <input class="temp-score" type="number" placeholder="Temp">
                  <p class="temp-modifier"></p>
                </li>
                <li class="stats con clearfix">
                  <p class="name">Con</p>
                  <input class="score" type="number" placeholder="Score" value="14">
                  <p class="modifier">2</p>
                  <input class="temp-score" type="number" placeholder="Temp">
                  <p class="temp-modifier"></p>
                </li>
                <li class="stats int clearfix">
                  <p class="name">Int</p>
                  <input class="score" type="number" placeholder="Score" value="21">
                  <p class="modifier">5</p>
                  <input class="temp-score" type="number" placeholder="Temp" value="23">
                  <p class="temp-modifier">6</p>
                </li>
                <li class="stats wis clearfix">
                  <p class="name">Wis</p>
                  <input class="score" type="number" placeholder="Score" value="12">
                  <p class="modifier">1</p>
                  <input class="temp-score" type="number" placeholder="Temp">
                  <p class="temp-modifier"></p>
                </li>
                <li class="stats cha clearfix">
                  <p class="name">Cha</p>
                  <input class="score" type="number" placeholder="Score" value="10">
                  <p class="modifier">0</p>
                  <input class="temp-score" type="number" placeholder="Temp">
                  <p class="temp-modifier"></p>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="input-block">
                <!-- base attack -->
                <label class="input-label" for="input-base-attack">Base Attack</label>
                <input class="input-field" id="input-base-attack" type="text" value="2">
              </div>
            </div>
            <div class="col-4">
              <div class="input-block">
                <!-- cmb -->
                <label class="input-label" for="input-cmb">CMB</label>
                <input class="input-field" id="input-cmb" type="text" value="1">
              </div>
            </div>
            <div class="col-4">
              <div class="input-block">
                <!-- cmd -->
                <label class="input-label" for="input-cmd">CMD</label>
                <input class="input-field" id="input-cmd" type="text" value="14">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p><strong>Feats</strong></p>
            </div>
            <div class="col-9">
              <div contentEditable="true" class="textarea textarea-feats">Alertness, Augment Summoning, Craft Wondrous Item, Greater Spell Focus (Conjuration), Scribe Scroll, Spell Focus (Conjuration)</div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p><strong>Traits</strong></p>
            </div>
            <div class="col-9">
              <div contentEditable="true" class="textarea textarea-traits">Resilient</div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p><strong>Languages</strong></p>
            </div>
            <div class="col-9">
              <div contentEditable="true" class="textarea textarea-languages">Celestial, Common, Draconic, Dwarven, Elven, Giant, Gnome, Goblin, Orc, Sylvan</div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p><strong>SQ</strong></p>
            </div>
            <div class="col-9">
              <div contentEditable="true" class="textarea textarea-sq">Arcane Bond, Bonus Feats, Cantrips, Conjuration School, Elven Immunities, Elven Magic, Enchantment Opposition School, Familiar, Keen Senses, Low-light Vision, Necromancy Opposition School, Shift, Summoner's Charm, Low-light Vision</div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p><strong>Equipment</strong></P>
            </div>
            <div class="col-9">
              <div contentEditable="true" class="textarea textarea-equipment">Headband of Vast Intelligence +2, Ring of Sustenance, Cloak of Resistance +2, Pearl of Power (1st Level)</div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p><strong>Gear</strong></P>
            </div>
            <div class="col-9">
              <div contentEditable="true" class="textarea textarea-gear">Spell component pouch, Spellbook, Backpack, Pouch (belt), Sack, Candle, Flint and Steel, Tindertwig, Rations (5 days), Waterskin, Bedroll, Blanket, Bloodblock, Healer's Kik, Rope (silk), Mirror, Compass, Ink, Inkpen, Paper sheets, Case for maps/scrolls, Scroll Case</div>
            </div>
          </div>
        </section>
        <section id="defense">
          <h2>Defense</h2>
          <div class="row">
            <div class="col-4">
              <div class="input-block">
                <!-- hp -->
                <label class="input-label" for="input-hp">HP</label>
                <input class="input-field" id="input-hp" type="text" value="35">
              </div>
            </div>
            <div class="col-4">
              <div class="input-block">
                <!-- current hp -->
                <label class="input-label" for="input-current-hp">Current HP</label>
                <input class="input-field" id="input-current-hp" type="text">
              </div>
            </div>
            <div class="col-4">
              <div class="input-block">
                <!-- current non ethal hp -->
                <label class="input-label" for="input-current-non-ethal-hp">Current Non Lethal HP</label>
                <input class="input-field" id="input-current-non-ethal-hp" type="text">
              </div>
            </div>
          </div>
          <!-- ac -->
          <div class="row">
            <div class="col-12">
              <div class="ac">
                <p class="title">AC
                  <span class="total">13</span>
                </p>
                <p class="base">10</p>
                <p class="plus">+</p>
                <p class="dex">3</p>
                <p class="plus">+</p>
                <p class="armor">
                  <input type="number" placeholder="Armor">
                </p>
                <p class="plus">+</p>
                <p class="shield">
                  <input type="number" placeholder="Shield">
                </p>
                <p class="plus">+</p>
                <p class="deflection">
                  <input type="number" placeholder="Deflec">
                </p>
                <p class="plus">+</p>
                <p class="misc">
                  <input type="number" placeholder="Misc">
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="ac-touch">
                <p class="title">Touch
                  <span class="total">13</span>
                </p>
                <p class="base">10</p>
                <p class="plus">+</p>
                <p class="dex">3</p>
                <p class="plus">+</p>
                <p class="deflection">
                  <input type="number" placeholder="Deflec">
                </p>
                <p class="plus">+</p>
                <p class="misc">
                  <input type="number" placeholder="Misc">
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="ac-flat-footed">
                <p class="title">Flat Flooted
                  <span class="total">10</span>
                </p>
                <p class="base">10</p>
                <p class="plus">+</p>
                <p class="armor">
                  <input type="number" placeholder="Armor">
                </p>
                <p class="plus">+</p>
                <p class="shield">
                  <input type="number" placeholder="Shield">
                </p>
                <p class="plus">+</p>
                <p class="deflection">
                  <input type="number" placeholder="Deflec">
                </p>
                <p class="plus">+</p>
                <p class="misc">
                  <input type="number" placeholder="Misc">
                </p>
              </div>
            </div>
          </div>
          <!-- hit points -->
          <p><strong>Fort</strong> +8</p>
          <p><strong>Ref</strong> +6</p>
          <p><strong>Will</strong> +7, +2 vs. enchantment spells and effects</p>
          <div class="row">
            <div class="col-12">
              <input type="text" placeholder="Temporary Saves">
            </div>
          </div>
          </p>
          <!-- End SaveBonus TYPE Abilities -->
          <!-- defensive abilities, damager reduction, immune, resist, SR --->
          <!-- Defensive TYPE Abilities -->
          <!-- End Defensive TYPE Abilities -->
          <!-- Immunity TYPE Abilities -->
          <!-- End Immunity TYPE Abilities -->
          <!-- Resistance TYPE Abilities -->
          <!-- End Resistance TYPE Abilities -->
          <!-- Weakness TYPE Abilities -->
          <!-- End Weakness TYPE Abilities -->
          <!-- Defensive Gear -->
          <!-- End Defensive Gear -->
        </section>
        <section id="offense">
          <h2>Offense</h2>
          <p><strong>Speed</strong> 30 ft.</p>
          <!-- ModifyMovement TYPE Abilities -->
          <!-- End ModifyMovement TYPE Abilities -->
          <!-- Attacks -->
          <!-- End Attacks -->
          <!-- Space and Reach -->
          <!-- SpecialAttack TYPE Abilities -->
          <!-- End SpecialAttack TYPE Abilities -->
          <!-- Innate Spell-Like Abilities -->
          <!-- End Innate Spell-Like Abilities -->
          <!-- Other Spell-Like Abilities -->
          <!-- End Other Spell-Like Abilities -->
          <!-- Domain Power Spell-Like Abilities -->
          <!-- Known Spells -->
          <!-- End Known Spells -->
          <!-- Prepared Spells -->
          <!-- End Prepared Spells -->
          <!-- domains -->
          <!-- End Domain list -->
        </section>
        <section id="skills">
          <h2>Skills</h2>
          <table class="skill-list">
            <thead>
              <tr>
                <td class="name-title">Skill</td>
                <td class="total-title">Total</td>
                <td class="ability-title">Ability</td>
                <td class="mod-title">Modifier</td>
                <td class="ranks-title">Ranks</td>
                <td class="misc-title">Misc</td>
              </tr>
            </thead>
            <tbody>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Acrobatics</p>
                </td>
                <td class="total">
                  <p class="skill-value">3</p>
                </td>
                <td class="ability">
                  <p class="skill-value">DEX</p>
                </td>
                <td class="mod">
                  <p class="skill-value">3</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Appraise</p>
                </td>
                <td class="total">
                  <p class="skill-value">13</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="4">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Bluff</p>
                </td>
                <td class="total">
                  <p class="skill-value">0</p>
                </td>
                <td class="ability">
                  <p class="skill-value">CHA</p>
                </td>
                <td class="mod">
                  <p class="skill-value">0</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Climb</p>
                </td>
                <td class="total">
                  <p class="skill-value">-1</p>
                </td>
                <td class="ability">
                  <p class="skill-value">STR</p>
                </td>
                <td class="mod">
                  <p class="skill-value">-1</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Craft</p>
                </td>
                <td class="total">
                  <p class="skill-value">6</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Diplomacy</p>
                </td>
                <td class="total">
                  <p class="skill-value">0</p>
                </td>
                <td class="ability">
                  <p class="skill-value">CHA</p>
                </td>
                <td class="mod">
                  <p class="skill-value">0</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Disguise</p>
                </td>
                <td class="total">
                  <p class="skill-value">0</p>
                </td>
                <td class="ability">
                  <p class="skill-value">CHA</p>
                </td>
                <td class="mod">
                  <p class="skill-value">0</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Escape Artist</p>
                </td>
                <td class="total">
                  <p class="skill-value">3</p>
                </td>
                <td class="ability">
                  <p class="skill-value">DEX</p>
                </td>
                <td class="mod">
                  <p class="skill-value">3</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Fly</p>
                </td>
                <td class="total">
                  <p class="skill-value">3</p>
                </td>
                <td class="ability">
                  <p class="skill-value">DEX</p>
                </td>
                <td class="mod">
                  <p class="skill-value">3</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Heal</p>
                </td>
                <td class="total">
                  <p class="skill-value">1</p>
                </td>
                <td class="ability">
                  <p class="skill-value">WIS</p>
                </td>
                <td class="mod">
                  <p class="skill-value">1</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Intimidate</p>
                </td>
                <td class="total">
                  <p class="skill-value">0</p>
                </td>
                <td class="ability">
                  <p class="skill-value">CHA</p>
                </td>
                <td class="mod">
                  <p class="skill-value">0</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Knowledge (Arcana)</p>
                </td>
                <td class="total">
                  <p class="skill-value">11</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="2">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Knowledge (Dungeoneering)</p>
                </td>
                <td class="total">
                  <p class="skill-value">11</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="2">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Knowledge (Engineering)</p>
                </td>
                <td class="total">
                  <p class="skill-value">10</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="1">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Knowledge (Geography)</p>
                </td>
                <td class="total">
                  <p class="skill-value">10</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="1">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Knowledge (History)</p>
                </td>
                <td class="total">
                  <p class="skill-value">10</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="1">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Knowledge (Local)</p>
                </td>
                <td class="total">
                  <p class="skill-value">10</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="1">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Knowledge (Nature)</p>
                </td>
                <td class="total">
                  <p class="skill-value">10</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="1">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Knowledge (Nobility)</p>
                </td>
                <td class="total">
                  <p class="skill-value">10</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="1">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Knowledge (Planes)</p>
                </td>
                <td class="total">
                  <p class="skill-value">11</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="2">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Knowledge (Religion)</p>
                </td>
                <td class="total">
                  <p class="skill-value">11</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="2">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Linguistics (Dwarven, Giant)</p>
                </td>
                <td class="total">
                  <p class="skill-value">11</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="2">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Perception</p>
                </td>
                <td class="total">
                  <p class="skill-value">10</p>
                </td>
                <td class="ability">
                  <p class="skill-value">WIS</p>
                </td>
                <td class="mod">
                  <p class="skill-value">1</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="5">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="4">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Perform (Untrained)</p>
                </td>
                <td class="total">
                  <p class="skill-value">0</p>
                </td>
                <td class="ability">
                  <p class="skill-value">CHA</p>
                </td>
                <td class="mod">
                  <p class="skill-value">0</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Ride</p>
                </td>
                <td class="total">
                  <p class="skill-value">3</p>
                </td>
                <td class="ability">
                  <p class="skill-value">DEX</p>
                </td>
                <td class="mod">
                  <p class="skill-value">3</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Sense Motive</p>
                </td>
                <td class="total">
                  <p class="skill-value">8</p>
                </td>
                <td class="ability">
                  <p class="skill-value">WIS</p>
                </td>
                <td class="mod">
                  <p class="skill-value">1</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="5">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="2">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Spellcraft</p>
                </td>
                <td class="total">
                  <p class="skill-value">14</p>
                </td>
                <td class="ability">
                  <p class="skill-value">INT</p>
                </td>
                <td class="mod">
                  <p class="skill-value">6</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="5">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="3">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Stealth</p>
                </td>
                <td class="total">
                  <p class="skill-value">3</p>
                </td>
                <td class="ability">
                  <p class="skill-value">DEX</p>
                </td>
                <td class="mod">
                  <p class="skill-value">3</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Survival</p>
                </td>
                <td class="total">
                  <p class="skill-value">1</p>
                </td>
                <td class="ability">
                  <p class="skill-value">WIS</p>
                </td>
                <td class="mod">
                  <p class="skill-value">1</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Swim</p>
                </td>
                <td class="total">
                  <p class="skill-value">-1</p>
                </td>
                <td class="ability">
                  <p class="skill-value">STR</p>
                </td>
                <td class="mod">
                  <p class="skill-value">-1</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="0">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
              <tr class="skill-details">
                <td class="name">
                  <p class="skill-value">Use Magic Device</p>
                </td>
                <td class="total">
                  <p class="skill-value">5</p>
                </td>
                <td class="ability">
                  <p class="skill-value">CHA</p>
                </td>
                <td class="mod">
                  <p class="skill-value">0</p>
                </td>
                <td class="ranks">
                  <input class="skill-value" type="number" value="5">
                </td>
                <td class="misc">
                  <input class="skill-value" type="number" value="0">
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <section id="spellbook">
          <h2>Spellbook</h2>
          <!-- SpellBooks -->
          {{!--
          <div class="new">
            <a class="new-spell">Bleed (DC 16)</a>
            <a class="new-spell">Daze (DC 16)</a>
            <a class="new-spell">Disrupt Undead</a>
            <a class="new-spell">Touch of Fatigue (DC 16)</a>
            <a class="new-spell">Prestidigitation (DC 16)</a>
            <a class="new-spell">Light</a>
            <a class="new-spell">Ghost Sound (DC 16)</a>
            <a class="new-spell">Spark (DC 16)</a>
            <a class="new-spell">Acid Splash</a>
            <a class="new-spell">Mage Hand</a>
            <a class="new-spell">Flare (DC 16)</a>
            <a class="new-spell">Detect Magic</a>
            <a class="new-spell">Detect Poison</a>
            <a class="new-spell">Dancing Lights</a>
            <a class="new-spell">Mending (DC 16)</a>
            <a class="new-spell">Arcane Mark</a>
            <a class="new-spell">Message</a>
            <a class="new-spell">Ray of Frost</a>
            <a class="new-spell">Read Magic</a>
            <a class="new-spell">Open/Close (DC 16)</a>
            <a class="new-spell">Resistance (DC 16)</a>
            <a class="new-spell">Comprehend Languages</a>
          </div>
          <div class="new">
            <a class="new-spell">Enlarge Person (DC 17)</a>
            <a class="new-spell">Feather Fall (DC 17)</a>
            <a class="new-spell">Grease (DC 19)</a>
            <a class="new-spell">Mage Armor (DC 19)</a>
            <a class="new-spell">Mount</a>
            <a class="new-spell">Obscuring Mist</a>
            <a class="new-spell">Protection from Chaos (DC 17)</a>
            <a class="new-spell">Protection from Evil (DC 17)</a>
            <a class="new-spell">Shield</a>
            <a class="new-spell">Summon Monster I</a>
            <a class="new-spell">Unseen Servant</a>
          </div>
          <div class="new">
            <a class="new-spell">Create Pit (DC 20)</a>
            <a class="new-spell">Flaming Sphere (DC 18)</a>
            <a class="new-spell">Glitterdust (DC 20)</a>
            <a class="new-spell">Invisibility (DC 18)</a>
            <a class="new-spell">Levitate</a>
            <a class="new-spell">Mirror Image</a>
            <a class="new-spell">Resist Energy (DC 18)</a>
            <a class="new-spell">Stone Call</a>
            <a class="new-spell">Summon Monster II</a>
            <a class="new-spell">Web (DC 20)</a>
          </div>
          <div class="new">
            <a class="new-spell">Stinking Cloud (DC 21)</a>
            <a class="new-spell">Summon Monster III</a>
          </div>
          --}}
          <p><strong>Spell List Class</strong> Wizard</p>
          <p><strong>Concentration</strong> +7</p>
          <h3>Spell Level 0</h3>
          <p><strong>Cast Per Day</strong> 4+0</p>
          <ul class="spell-list">
            <li class="clearfix">
              <p>Bleed (DC 16)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Daze (DC 16)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Disrupt Undead</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Touch of Fatigue (DC 16)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Prestidigitation (DC 16)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Light</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Ghost Sound (DC 16)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Spark (DC 16)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Acid Splash</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Mage Hand</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Flare (DC 16)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Detect Magic</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Detect Poison</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Dancing Lights</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Mending (DC 16)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Arcane Mark</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Message</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Ray of Frost</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Read Magic</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Open/Close (DC 16)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Resistance (DC 16)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
          </ul>
          <h3>Spell Level 1</h3>
          <p><strong>Cast Per Day</strong> 5+1</p>
          <ul class="spell-list">
            <li class="clearfix">
              <p>Comprehend Languages</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Enlarge Person (DC 17)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Feather Fall (DC 17)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Grease (DC 19)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Mage Armor (DC 19)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Mount</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Obscuring Mist</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Protection from Chaos (DC 17)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Protection from Evil (DC 17)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Shield</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Summon Monster I</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Unseen Servant</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
          </ul>
          <h3>Spell Level 2</h3>
          <p><strong>Cast Per Day</strong> 4+1</p>
          <ul class="spell-list">
            <li class="clearfix">
              <p>Create Pit (DC 20)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Flaming Sphere (DC 18)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Glitterdust (DC 20)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Invisibility (DC 18)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Levitate</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Mirror Image</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Resist Energy (DC 18)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Stone Call</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Summon Monster II</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Web (DC 20)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
          </ul>
          <h3>Spell Level 3</h3>
          <p><strong>Cast Per Day</strong> 2+1</p>
          <ul class="spell-list">
            <li class="clearfix">
              <p>Stinking Cloud (DC 21)</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
            <li class="clearfix">
              <p>Summon Monster III</p>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
              <span class="spell-check icon-check-box-unchecked"></span>
            </li>
          </ul>
        </section>
        <section id="special-abilities">
          <h2>Special Abilities</h2>
          <div contentEditable="true" class="textarea textarea-special-abilities">
            <p><strong>Arcane Bond (Su)</strong> You have selected to establish a powerful arcane bond with a creature.</p>
            <p><strong>Bonus Feats</strong> At 5th, 10th, 15th, and 20th level, a wizard gains a bonus feat. At each such opportunity, he can choose a metamagic feat, an item creation feat, or Spell Mastery. The wizard must still meet all prerequisites for a bonus feat, including caster level minimums. These bonus feats are in addition to the feats that a character of any class gets from advancing levels. The wizard is not limited to the categories of item creation feats, metamagic feats, or Spell Mastery when choosing those feats.</p>
            <p><strong>Cantrips</strong> You can prepare a number of cantrips, or 0-level spells, each day. These spells are cast like any other spell, but they are not expended when cast and may be used again. You can prepare a cantrip from a prohibited school, but it uses up two of your available slots.</p>
            <p><strong>Conjuration School</strong> You have chosen to specialize in conjuration spells.</p>
            <p><strong>Elven Immunities (Ex)</strong> Elves are immune to magic sleep effects and get a +2 racial saving throw bonus against enchantment spells and effects.</p>
            <p><strong>Elven Magic (Ex)</strong> Elves receive a +2 racial bonus on caster level checks made to overcome spell resistance. In addition, elves receive a +2 racial bonus on Spellcraft skill checks made to identify the properties of magic items.</p>
            <p><strong>Enchantment Opposition School</strong> You have chosen enchantment spells as an opposition school. Preparing an enchantment spell takes up two spell slots of the same level. You take a -4 penalty on any skill checks made when crafting a magic item that has an enchantment spell as a prerequisite.</p>
            <p><strong>Familiar</strong> A familiar grants special abilities to its master. These special abilities apply only when the master and familiar are within 1 mile of each other.</p>
            <p><strong>Headband of Intellect Skill Selection (Use Magic Device)</strong> </p>
            <p><strong>Keen Senses (Ex)</strong> Elves receive a +2 bonus on Perception skill checks.</p>
            <p><strong>Low-Light Vision (Ex)</strong> You can see x2 as far as humans in low illumination. Characters with low-light vision have eyes that are so sensitive to light that they can see twice as far as normal in dim light. Low-Light Vision is color vision. A spellcaster with low-light vision can read a scroll as long as even the tiniest candle flame is next to her as a source of light. Characters with low-light vision can see outdoors on a moonlit night as well as they can during the day.</p>
            <p><strong>Necromancy Opposition School</strong> You have chosen necromancy spells as an opposition school. Preparing an necromancy spell takes up two spell slots of the same level. You take a -4 penalty on any skill checks made when crafting a magic item that has an necromancy spell as a prerequisite.</p>
            <p><strong>Resilient</strong> Growing up in a violent neighborhood or in the unforgiving wilds often forced you to subsist on food and water from doubtful sources. You gain a +1 trait bonus on Fortitude saves.</p>
            <p><strong>Shift (Su)</strong> At 1st level, you can teleport to a nearby space as a swift action as if using dimension door. This movement does not provoke an attack of opportunity. You must be able to see the space that you are moving into. You cannot take other creatures with you when you use this ability (except for familiars). You can move 10 feet. You can use this ability 9 times per day.</p>
            <p><strong>Summoner's Charm (Su)</strong> When casting Conjuration (summoning) spells the duration is increased by 2 rounds.</p>
            <p><strong>Teleportation School</strong> </p>
            <p><strong>Weapon Familiarity (Ex)</strong> Elves are proficient with longbows (including composite longbows), longswords, rapiers, and shortbows (including composite shortbows), and treat any weapon with the word "elven" in its name as a martial weapon.</p>
          </div>
        </section>
        <section id="notes">
          <p><strong>Notes</strong></P>
          <div contentEditable="true" class="textarea textarea-notes"></div>
        </section>
        <section id="utilities">
          <a href="javascript:void(0)" class="button button-primary clear-local-storage">
            <span class="icon-clear-all"></span> Clear local storage
          </a>
          <a href="javascript:void(0)" class="button button-primary toggle-fullscreen">
            <span class="icon-fullscreen"></span> Fullscreen
          </a>
        </section>
      </div>
    </div>
  </div>
</div>
