<nav>
  <ul>
    <li><a href="#body" data-scroll tabindex="10">Basics</a></li>
    <li><a href="#statistics" data-scroll tabindex="10">Statistics</a></li>
    <li><a href="#equipment" data-scroll tabindex="10">Equipment</a></li>
    <li><a href="#defense" data-scroll tabindex="10">Defense</a></li>
    <li><a href="#offense" data-scroll tabindex="10">Offense</a></li>
    <li><a href="#skills" data-scroll tabindex="10">Skills</a></li>
    <li><a href="#spells" data-scroll tabindex="10">Spells</a></li>
    <li><a href="#special-abilities" data-scroll tabindex="10">Special Abilities</a></li>
    <li><a href="#notes" data-scroll tabindex="10">Notes</a></li>
    <li><a href="#utilities" data-scroll tabindex="10">Utilities</a></li>
  </ul>
</nav>
<div class="sheet">
  <div class="container">
    {{> basics }}
    {{> statistics }}
    {{> equipment }}
    {{> defense }}
    {{> offense }}
    {{> skills }}
    {{> spells }}
    {{> special-abilities }}
    {{!-- {{> notes }} --}}
    {{> utilities }}
  </div>
</div>
