{{> nav }}
{{> basics }}
<div class="container">
  {{!-- <div class="row"> --}}
    {{!-- <div class="col-xs-12 col-xl-6"> --}}
      {{> statistics }}
      {{> equipment }}
      {{> defense }}
      {{> offense }}
    {{!-- </div> --}}
    {{!-- <div class="col-xs-12 col-xl-6"> --}}
      {{> skills }}
      {{> spells }}
      {{> notes }}
    {{!-- </div> --}}
  {{!-- </div> --}}
</div>
{{> snacks }}
