<nav>
  <ul>
    <li><a href="#body" data-scroll>Basics</a></li>
    <li><a href="#statistics" data-scroll>Statistics</a></li>
    <li><a href="#equipment" data-scroll>Equipment</a></li>
    <li><a href="#defense" data-scroll>Defense</a></li>
    <li><a href="#offense" data-scroll>Offense</a></li>
    <li><a href="#skills" data-scroll>Skills</a></li>
    <li><a href="#spells" data-scroll>Spells</a></li>
    <li><a href="#special-abilities" data-scroll>Special Abilities</a></li>
    <li><a href="#notes" data-scroll>Notes</a></li>
    <li><a href="#utilities" data-scroll>Utilities</a></li>
  </ul>
</nav>
<div class="sheet">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {{> basics }}
        {{> statistics }}
        {{> equipment }}
        {{> defense }}
        {{> offense }}
        {{> skills }}
        {{> spells }}
        {{> special-abilities }}
        {{> notes }}
        {{> utilities }}
      </div>
    </div>
  </div>
</div>
