{{> quick-nav }}
<div class="edit-wrapper">
  {{> basics }}
  {{> statistics }}
  {{> equipment }}
  {{> defense }}
  {{> offense }}
  {{> skills }}
  {{> spells }}
  {{> notes }}
</div>
<div class="display-wrapper is-hidden">
  {{> display }}
</div>
{{> fab }}