{{> nav }}
{{> basics }}
<div class="container">
  {{> statistics }}
  {{> equipment }}
  {{> defense }}
  {{> offense }}
  {{> skills }}
  {{> spells }}
  {{> special-abilities }}
  {{> notes }}
</div>
