<section id="basics">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="awesome-name">
<div class="input-block">
  <input class="input-field" id="basics-name" data-path="basics.name" maxlength="150" type="text" placeholder="Character Name" tabindex="1">
</div>
</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-race">Race</label>
          <input class="input-field" id="basics-race" data-path="basics.race" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-class">Class</label>
          <input class="input-field" id="basics-class" data-path="basics.class" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-level">Level</label>
          <input class="input-field" id="basics-level" data-path="basics.level" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-size">Size</label>
          <input class="input-field" id="basics-size" data-path="basics.size" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-alignment">Alignment</label>
          <input class="input-field" id="basics-alignment" data-path="basics.alignment" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-xp">XP</label>
          <input class="input-field" id="basics-xp" data-path="basics.xp" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-height">Height</label>
          <input class="input-field" id="basics-height" data-path="basics.height" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-weight">Weight</label>
          <input class="input-field" id="basics-weight" data-path="basics.weight" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-age">Age</label>
          <input class="input-field" id="basics-age" data-path="basics.age" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-gender">Gender</label>
          <input class="input-field" id="basics-gender" data-path="basics.gender" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-speed">Speed</label>
          <input class="input-field" id="basics-speed" data-path="basics.speed" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-initiative">Initiative</label>
          <input class="input-field" id="basics-initiative" data-path="basics.initiative" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-hero-points">Hero Points</label>
          <input class="input-field" id="basics-hero-points" data-path="basics.hero_points" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-3 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="basics-luck-points">Luck Points</label>
          <input class="input-field" id="basics-luck-points" data-path="basics.luck_points" type="text" tabindex="1">
        </div>
      </div>
    </div>
  </div>
</section>
