<section id="basics">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="awesome-name">
          <div class="input-block">
            <input class="input-field" id="input-name" type="text" value="Nif Amakir" placeholder="Character Name" tabindex="1">
          </div>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="input-block">
          <label class="input-label" for="input-race-class">Race &amp; Class</label>
          <input class="input-field" id="input-race-class" type="text" value="Elf Wizard" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-level">Level</label>
          <input class="input-field" id="input-level" type="text" value="6" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-size">Size</label>
          <input class="input-field" id="input-size" type="text" value="Medium" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-alignment">Alignment</label>
          <input class="input-field" id="input-alignment" type="text" value="Lawful Neutral" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-xp">XP</label>
          <input class="input-field" id="input-xp" type="text" value="23,264" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-height">Height</label>
          <input class="input-field" id="input-height" type="text" value="6'0" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-weight">Weight</label>
          <input class="input-field" id="input-weight" type="text" value="136 lbs" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-age">Age</label>
          <input class="input-field" id="input-age" type="text" value="120 years" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-gender">Gender</label>
          <input class="input-field" id="input-gender" type="text" value="Male" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-speed">Speed</label>
          <input class="input-field" id="input-speed" type="text" value="30 feet, 6 squares" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-initiative">Initiative</label>
          <input class="input-field" id="input-initiative" type="text" value="3" tabindex="1">
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-platinum">Platinum</label>
          <input class="input-field" id="input-platinum" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-gold">Gold</label>
          <input class="input-field" id="input-gold" type="text" value="1,090" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-silver">Silver</label>
          <input class="input-field" id="input-silver" type="text" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-copper">Copper</label>
          <input class="input-field" id="input-copper" type="text" tabindex="1">
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-hero-points">Hero Points</label>
          <input class="input-field" id="input-hero-points" type="text" value="2" tabindex="1">
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-xl-2">
        <div class="input-block">
          <label class="input-label" for="input-luck-points">Luck Points</label>
          <input class="input-field" id="input-luck-points" type="text" tabindex="1">
        </div>
      </div>
    </div>
  </div>
</section>