<section id="basics">
  <div class="row">
    <div class="col-12">
      <h1 class="awesome-name">
        <div class="input-block">
          <!-- name -->
          <input class="input-field" id="input-name" type="text" value="Nif Amakir" placeholder="Name">
        </div>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="input-block">
        <!-- race classes -->
        <label class="input-label" for="input-race-class">Race/Class</label>
        <input class="input-field" id="input-race-class" type="text" value="Elf Wizard">
      </div>
    </div>
    <div class="col-4">
      <div class="input-block">
        <!-- level -->
        <label class="input-label" for="input-level">Level</label>
        <input class="input-field" id="input-level" type="text" value="5">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="input-block">
        <!-- alignment -->
        <label class="input-label" for="input-alignment">Alignment</label>
        <input class="input-field" id="input-alignment" type="text" value="Lawful Neutral">
      </div>
    </div>
    <div class="col-4">
      <div class="input-block">
        <!-- size -->
        <label class="input-label" for="input-size">Size</label>
        <input class="input-field" id="input-size" type="text" value="Medium">
      </div>
    </div>
    <div class="col-4">
      <div class="input-block">
        <!-- xp -->
        <label class="input-label" for="input-xp">XP</label>
        <input class="input-field" id="input-xp" type="text" value="15,000">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="input-block">
        <!-- height -->
        <label class="input-label" for="input-height">Height</label>
        <input class="input-field" id="input-height" type="text" value="6'0, 136 lbs">
      </div>
    </div>
    <div class="col-4">
      <div class="input-block">
        <!-- age -->
        <label class="input-label" for="input-age">Age</label>
        <input class="input-field" id="input-age" type="text" value="120 years">
      </div>
    </div>
    <div class="col-4">
      <div class="input-block">
        <!-- gender -->
        <label class="input-label" for="input-gender">Gender</label>
        <input class="input-field" id="input-gender" type="text" value="Male">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="input-block">
        <!-- initiative -->
        <label class="input-label" for="input-initiative">Initiative</label>
        <input class="input-field" id="input-initiative" type="text" value="3">
      </div>
    </div>
    <div class="col-4">
      <div class="input-block">
        <!-- speed -->
        <label class="input-label" for="input-speed">Speed</label>
        <input class="input-field" id="input-speed" type="text" value="30 feet, 6 squares">
      </div>
    </div>
    <div class="col-4">
      <div class="input-block">
        <!-- wealth -->
        <label class="input-label" for="input-wealth">Wealth</label>
        <input class="input-field" id="input-wealth" type="text" value="2,690GP">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="input-block">
        <!-- hero points -->
        <label class="input-label" for="input-hero-points">Hero Points</label>
        <input class="input-field" id="input-hero-points" type="text" value="1">
      </div>
    </div>
  </div>
</section>
