<section id="defense" class="hidable-block" data-all-hidden="false">
  <div class="section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>Defense</h1>
        </div>
        <div class="col-xs-6">
          <div class="section-controls">
            <button class="hidable-toggle button button-primary button-icon button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="input-total-block">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h2 id="hp" class="margin-with-input">HP <span class="total"></span></h2>
        </div>
        <div class="col-xs-12 col-sm-9">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-hp-total">HP</label>
                <input class="input-field" id="defense-hp-total" data-modifier="true" data-path="defense.hp.total" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-hp-temp">Temp HP</label>
                <input class="input-field" id="defense-hp-temp" data-modifier="true" data-path="defense.hp.temp" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-hp-current">Current HP</label>
                <input class="input-field" id="defense-hp-current" data-path="defense.hp.current" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-hp-non-lethal">Non Lethal HP</label>
                <input class="input-field" id="defense-hp-non-lethal" data-path="defense.hp.non_lethal" type="number" tabindex="3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="input-total-block" data-dex-bonus="true" data-plus-ten-bonus="true" data-ac-armor="true" data-ac-shield="true" data-ac-deflect="true" data-ac-dodge="true" data-ac-natural="true" data-size-bonus="true">
          <div class="row">
            <div class="col-xs-12">
              <h2 id="ac" class="margin-with-input">AC <span class="total"></span></h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="input-block">
                    <label class="input-label" for="defense-ac-misc">Misc</label>
                    <input class="input-field" id="defense-ac-misc" data-modifier="true" data-path="defense.ac.misc" type="number" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-block">
                    <label class="input-label" for="defense-ac-temp">Temp</label>
                    <input class="input-field" id="defense-ac-temp" data-modifier="true" data-path="defense.ac.temp" type="number" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="input-total-block" data-plus-ten-bonus="true" data-ac-armor="true" data-ac-shield="true" data-ac-deflect="true" data-ac-natural="true" data-size-bonus="true">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="margin-with-input"><span class="hidden-xs">Flat Footed</span><span class="visible-xs-inline">FF AC</span> <span class="total"></span></h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="input-block">
                    <label class="input-label" for="defense-ac-flat-footed-misc">Misc</label>
                    <input class="input-field" id="defense-ac-flat-footed-misc" data-modifier="true" data-path="defense.ac.flat_footed.misc" type="number" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-block">
                    <label class="input-label" for="defense-ac-flat-footed-temp">Temp</label>
                    <input class="input-field" id="defense-ac-flat-footed-temp" data-modifier="true" data-path="defense.ac.flat_footed.temp" type="number" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="input-total-block" data-dex-bonus="true" data-plus-ten-bonus="true" data-ac-deflect="true" data-ac-dodge="true" data-size-bonus="true">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="margin-with-input"><span class="hidden-xs">Touch</span><span class="visible-xs-inline">T AC</span> <span class="total"></span></h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="input-block">
                    <label class="input-label" for="defense-ac-touch-misc">Misc</label>
                    <input class="input-field" id="defense-ac-touch-misc" data-modifier="true" data-path="defense.ac.touch.misc" type="number" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-block">
                    <label class="input-label" for="defense-ac-touch-temp">Temp</label>
                    <input class="input-field" id="defense-ac-touch-temp" data-modifier="true" data-path="defense.ac.touch.temp" type="number" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutter hidable">
      <div class="col-xs-2">
        <div class="input-block">
          <label class="input-label" for="defense-ac-armor">Armor</label>
          <input class="input-field" id="defense-ac-armor" data-path="defense.ac.armor" type="number" tabindex="3">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="input-block">
          <label class="input-label" for="defense-ac-shield">Shield</label>
          <input class="input-field" id="defense-ac-shield" data-path="defense.ac.shield" type="number" tabindex="3">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="input-block">
          <label class="input-label" for="defense-ac-deflect">Deflect</label>
          <input class="input-field" id="defense-ac-deflect" data-path="defense.ac.deflect" type="number" tabindex="3">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="input-block">
          <label class="input-label" for="defense-ac-dodge">Dodge</label>
          <input class="input-field" id="defense-ac-dodge" data-path="defense.ac.dodge" type="number" tabindex="3">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="input-block">
          <label class="input-label" for="defense-ac-natural">Natural</label>
          <input class="input-field" id="defense-ac-natural" data-path="defense.ac.natural" type="number" tabindex="3">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="input-block">
          <label class="input-label" for="defense-ac-size-bonus">Size</label>
          <input class="input-field" id="defense-ac-size-bonus" data-path="defense.ac.size_bonus" type="number" tabindex="3">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-total-block" data-con-bonus="true">
        <div class="col-xs-4">
          <h2 class="margin-with-input"><span class="hidden-xs">Fortitude</span><span class="visible-xs-inline">Fort</span> <span class="total"></span></h2>
        </div>
        <div class="col-xs-8 hidable">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-fortitude-base">Base</label>
                <input class="input-field" id="defense-fortitude-base" data-path="defense.fortitude.base" data-modifier="true" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-fortitude-racial">Racial</label>
                <input class="input-field" id="defense-fortitude-racial" data-path="defense.fortitude.racial" data-modifier="true" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-fortitude-misc">Misc</label>
                <input class="input-field" id="defense-fortitude-misc" data-path="defense.fortitude.misc" data-modifier="true" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-fortitude-temp">Temp</label>
                <input class="input-field" id="defense-fortitude-temp" data-path="defense.fortitude.temp" data-modifier="true" type="number" tabindex="3">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-total-block" data-dex-bonus="true">
        <div class="col-xs-4">
          <h2 class="margin-with-input"><span class="hidden-xs">Reflex</span><span class="visible-xs-inline">Ref</span> <span class="total"></span></h2>
        </div>
        <div class="col-xs-8 hidable">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-reflex-base">Base</label>
                <input class="input-field" id="defense-reflex-base" data-path="defense.reflex.base" data-modifier="true" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-reflex-racial">Racial</label>
                <input class="input-field" id="defense-reflex-racial" data-path="defense.reflex.racial" data-modifier="true" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-reflex-misc">Misc</label>
                <input class="input-field" id="defense-reflex-misc" data-path="defense.reflex.misc" data-modifier="true" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-reflex-temp">Temp</label>
                <input class="input-field" id="defense-reflex-temp" data-path="defense.reflex.temp" data-modifier="true" type="number" tabindex="3">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-total-block" data-wis-bonus="true">
        <div class="col-xs-4">
          <h2 class="margin-with-input"><span class="hidden-xs">Will</span><span class="visible-xs-inline">Wil</span> <span class="total"></span></h2>
        </div>
        <div class="col-xs-8 hidable">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-will-base">Base</label>
                <input class="input-field" id="defense-will-base" data-path="defense.will.base" data-modifier="true" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-will-racial">Racial</label>
                <input class="input-field" id="defense-will-racial" data-path="defense.will.racial" data-modifier="true" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-will-misc">Misc</label>
                <input class="input-field" id="defense-will-misc" data-path="defense.will.misc" data-modifier="true" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="defense-will-temp">Temp</label>
                <input class="input-field" id="defense-will-temp" data-path="defense.will.temp" data-modifier="true" type="number" tabindex="3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="textarea-block">
          <label class="textarea-label" for="defense-defense-notes">Notes</label>
          <div class="textarea-box" id="defense-defense-notes" data-path="defense.defense_notes" contentEditable="true" tabindex="3"></div>
        </div>
      </div>
    </div>
  </div>
</section>