<section id="defense" class="hidable-block" data-all-hidden="false">
  <div class="row">
    <div class="col-xs-6">
      <h1>Defense</h1>
    </div>
    <div class="col-xs-6">
      <a href="javascript:void(0)" class="hidable-toggle right button button-secondary button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide Fields</span></a>
    </div>
  </div>
  <div class="input-total-block">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h2 class="margin-with-input">HP <span class="total">35</span></h2>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="row no-gutter">
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-hp">HP</label>
              <input class="input-field" id="input-hp" type="number" value="35" data-modifier="true" tabindex="3">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-temp-hp">Temp HP</label>
              <input class="input-field" id="input-temp-hp" type="number" data-modifier="true" tabindex="3">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-current-hp">Current HP</label>
              <input class="input-field" id="input-current-hp" type="number" value="30" tabindex="3">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-current-non-lethal-hp">Non Lethal HP</label>
              <input class="input-field" id="input-current-non-lethal-hp" type="number" tabindex="3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="input-total-block" data-dex-bonus="true" data-plus-ten-bonus="true" data-ac-armor="true" data-ac-shield="true" data-ac-deflect="true" data-ac-dodge="true" data-ac-natural="true" data-size-bonus="true">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="margin-with-input">AC <span class="total">13</span></h2>
          </div>
          <div class="col-xs-12 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="input-ac-misc">Misc</label>
                  <input class="input-field" id="input-ac-misc" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="input-ac-temp">Temp</label>
                  <input class="input-field" id="input-ac-temp" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="input-total-block" data-plus-ten-bonus="true" data-ac-armor="true" data-ac-shield="true" data-ac-deflect="true" data-ac-natural="true" data-size-bonus="true">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="margin-with-input"><span class="hidden-xs">Flat Footed</span><span class="visible-xs-inline">FF AC</span> <span class="total">10</span></h2>
          </div>
          <div class="col-xs-12 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="input-ac-flat-footed-misc">Misc</label>
                  <input class="input-field" id="input-ac-flat-footed-misc" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="input-ac-flat-footed-temp">Temp</label>
                  <input class="input-field" id="input-ac-flat-footed-temp" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="input-total-block" data-dex-bonus="true" data-plus-ten-bonus="true" data-ac-deflect="true" data-ac-dodge="true" data-size-bonus="true">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="margin-with-input"><span class="hidden-xs">Touch</span><span class="visible-xs-inline">T AC</span> <span class="total">13</span></h2>
          </div>
          <div class="col-xs-12 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="input-ac-touch-misc">Misc</label>
                  <input class="input-field" id="input-ac-touch-misc" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="input-ac-touch-temp">Temp</label>
                  <input class="input-field" id="input-ac-touch-temp" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutter hidable">
    <div class="col-xs-2">
      <div class="input-block">
        <label class="input-label" for="input-ac-armor">Armor</label>
        <input class="input-field" id="input-ac-armor" type="number" tabindex="3">
      </div>
    </div>
    <div class="col-xs-2">
      <div class="input-block">
        <label class="input-label" for="input-ac-shield">Shield</label>
        <input class="input-field" id="input-ac-shield" type="number" tabindex="3">
      </div>
    </div>
    <div class="col-xs-2">
      <div class="input-block">
        <label class="input-label" for="input-ac-deflect">Deflect</label>
        <input class="input-field" id="input-ac-deflect" type="number" tabindex="3">
      </div>
    </div>
    <div class="col-xs-2">
      <div class="input-block">
        <label class="input-label" for="input-ac-dodge">Dodge</label>
        <input class="input-field" id="input-ac-dodge" type="number" tabindex="3">
      </div>
    </div>
    <div class="col-xs-2">
      <div class="input-block">
        <label class="input-label" for="input-ac-natural">Natural</label>
        <input class="input-field" id="input-ac-natural" type="number" tabindex="3">
      </div>
    </div>
    <div class="col-xs-2">
      <div class="input-block">
        <label class="input-label" for="input-size-bonus">Size</label>
        <input class="input-field" id="input-size-bonus" type="number" tabindex="3">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-total-block" data-con-bonus="true">
      <div class="col-xs-4">
        <h2 class="margin-with-input"><span class="hidden-xs">Fortitude</span><span class="visible-xs-inline">Fort</span> <span class="total">8</span></h2>
      </div>
      <div class="col-xs-8 hidable">
        <div class="row no-gutter">
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-fortitude-base">Base</label>
              <input class="input-field" id="input-fortitude-base" type="number" value="1" data-modifier="true" tabindex="3">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-fortitude-racial">Racial</label>
              <input class="input-field" id="input-fortitude-racial" type="number" data-modifier="true" tabindex="3">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-fortitude-misc">Misc</label>
              <input class="input-field" id="input-fortitude-misc" type="number" value="5" data-modifier="true" tabindex="3">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-fortitude-temp">Temp</label>
              <input class="input-field" id="input-fortitude-temp" type="number" data-modifier="true" tabindex="3">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="input-total-block" data-dex-bonus="true">
      <div class="col-xs-4">
        <h2 class="margin-with-input"><span class="hidden-xs">Reflex</span><span class="visible-xs-inline">Ref</span> <span class="total">6</span></h2>
      </div>
      <div class="col-xs-8 hidable">
        <div class="row no-gutter">
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-reflex-base">Base</label>
              <input class="input-field" id="input-reflex-base" type="number" value="1" data-modifier="true" tabindex="3">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-reflex-racial">Racial</label>
              <input class="input-field" id="input-reflex-racial" type="number" data-modifier="true" tabindex="3">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-reflex-misc">Misc</label>
              <input class="input-field" id="input-reflex-misc" type="number" value="2" data-modifier="true" tabindex="3">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-reflex-temp">Temp</label>
              <input class="input-field" id="input-reflex-temp" type="number" data-modifier="true" tabindex="3">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="input-total-block" data-wis-bonus="true">
      <div class="col-xs-4">
        <h2 class="margin-with-input"><span class="hidden-xs">Will</span><span class="visible-xs-inline">Wil</span> <span class="total">7</span></h2>
      </div>
      <div class="col-xs-8 hidable">
        <div class="row no-gutter">
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-will-base">Base</label>
              <input class="input-field" id="input-will-base" type="number" value="4" data-modifier="true" tabindex="3">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-will-racial">Racial</label>
              <input class="input-field" id="input-will-racial" type="number" data-modifier="true" tabindex="3">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-will-misc">Misc</label>
              <input class="input-field" id="input-will-misc" type="number" value="2" data-modifier="true" tabindex="3">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-block">
              <label class="input-label" for="input-will-temp">Temp</label>
              <input class="input-field" id="input-will-temp" type="number" data-modifier="true" tabindex="3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h3>Notes</h3>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div contentEditable="true" class="textarea textarea-defense-notes" tabindex="3">+2 vs. Enchantment spells and effects</div>
    </div>
  </div>
</section>
