<section id="defense" class="hidable-block" data-all-hidden="false">
  <div class="section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <h1>Defense</h1>
        </div>
        <div class="col-xs-10">
          <div class="section-controls">
            <div class="button-group clearfix">
              <button class="hidable-toggle button button-quaternary button-icon button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="container">
      <div class="total-block">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <h2 class="inline-with-input margin-with-input">Hit Points <span class="total"></span></h2>
          </div>
          <div class="col-xs-12 col-md-9">
            <div class="row no-gutter">
              <div class="col-xs-6 col-md-2 hidable">
                <div class="input-block">
                  <label class="input-label" for="defense-hp-total">Total HP</label>
                  <input class="input-field" id="defense-hp-total" data-total="addition" data-path="defense.hp.total" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6 col-md-2 hidable">
                <div class="input-block">
                  <label class="input-label" for="defense-hp-temp">Temp HP</label>
                  <input class="input-field" id="defense-hp-temp" data-total="addition" data-path="defense.hp.temp" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6 col-md-4">
                <div class="input-block">
                  <label class="input-label" for="defense-hp-damage">Damage</label>
                  <input class="input-field" id="defense-hp-damage" data-total="subtract" data-path="defense.hp.damage" type="number" tabindex="3">
                  <div class="input-controls">
                    <button class="button button-tertiary button-small minus" data-minus="defense-hp-damage"><span class="icon-remove"></span></button>
                    <button class="button button-tertiary button-small add" data-add="defense-hp-damage"><span class="icon-add"></span></button>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-4">
                <div class="input-block">
                  <label class="input-label" for="defense-hp-non-lethal-damage">Nonlethal Damage</label>
                  <input class="input-field" id="defense-hp-non-lethal-damage" data-path="defense.hp.non_lethal_damage" type="number" tabindex="3">
                  <div class="input-controls">
                    <button class="button button-tertiary button-small minus" data-minus="defense-hp-non-lethal-damage"><span class="icon-remove"></span></button>
                    <button class="button button-tertiary button-small add" data-add="defense-hp-non-lethal-damage"><span class="icon-add"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="hidable">
      <div class="row">
        <div class="col-xs-12 col-md-9 col-md-offset-3 hidable">
          <div class="row no-gutter hidable">
            <div class="col-xs-2">
              <div class="input-block">
                <label class="input-label" for="defense-ac-armor">Armor</label>
                <input class="input-field" id="defense-ac-armor" data-path="defense.ac.armor" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="input-block">
                <label class="input-label" for="defense-ac-shield">Shield</label>
                <input class="input-field" id="defense-ac-shield" data-path="defense.ac.shield" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="input-block">
                <label class="input-label" for="defense-ac-deflect">Deflect</label>
                <input class="input-field" id="defense-ac-deflect" data-path="defense.ac.deflect" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="input-block">
                <label class="input-label" for="defense-ac-dodge">Dodge</label>
                <input class="input-field" id="defense-ac-dodge" data-path="defense.ac.dodge" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="input-block">
                <label class="input-label" for="defense-ac-natural">Natural</label>
                <input class="input-field" id="defense-ac-natural" data-path="defense.ac.natural" type="number" tabindex="3">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="input-block">
                <label class="input-label" for="defense-ac-size-bonus">Size</label>
                <input class="input-field" id="defense-ac-size-bonus" data-path="defense.ac.size_bonus" type="number" tabindex="3">
              </div>
            </div>
          </div>
        </div>
        <div class="total-block" data-plus-ten-bonus="true" data-ac-armor="true" data-ac-shield="true" data-ac-deflect="true" data-ac-dodge="true" data-ac-natural="true" data-size-bonus="true">
          <div class="col-xs-4 col-md-3">
            <h2 class="inline-with-input margin-with-input">AC <span class="total"></span></h2>
          </div>
          <div class="col-xs-8 col-md-9 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="defense-ac-misc">Misc</label>
                  <input class="input-field no-margin" id="defense-ac-misc" data-total="addition" data-path="defense.ac.misc" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="defense-ac-temp">Temp</label>
                  <input class="input-field no-margin" id="defense-ac-temp" data-total="addition" data-path="defense.ac.temp" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-12">
                <div class="row no-gutter">
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-str-bonus" data-bonus-type="str-bonus" data-path="defense.ac.str_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-str-bonus">Str</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-dex-bonus" data-bonus-type="dex-bonus" data-path="defense.ac.dex_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-dex-bonus">Dex</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-con-bonus" data-bonus-type="con-bonus" data-path="defense.ac.con_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-con-bonus">Con</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-int-bonus" data-bonus-type="int-bonus" data-path="defense.ac.int_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-int-bonus">Int</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-wis-bonus" data-bonus-type="wis-bonus" data-path="defense.ac.wis_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-wis-bonus">Wis</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-cha-bonus" data-bonus-type="cha-bonus" data-path="defense.ac.cha_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-cha-bonus">Cha</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="total-block" data-plus-ten-bonus="true" data-ac-armor="true" data-ac-shield="true" data-ac-deflect="true" data-ac-natural="true" data-size-bonus="true">
          <div class="col-xs-4 col-md-3">
            <h2 class="inline-with-input margin-with-input"><span class="hidden-xs">Flat Footed</span><span class="visible-xs-inline">FF AC</span> <span class="total"></span></h2>
          </div>
          <div class="col-xs-8 col-md-9 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="defense-flat-footed-misc">Misc</label>
                  <input class="input-field no-margin" id="defense-flat-footed-misc" data-total="addition" data-path="defense.flat_footed.misc" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="defense-flat-footed-temp">Temp</label>
                  <input class="input-field no-margin" id="defense-flat-footed-temp" data-total="addition" data-path="defense.flat_footed.temp" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-12">
                <div class="row no-gutter">
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-str-bonus" data-bonus-type="str-bonus" data-path="defense.flat_footed.str_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-str-bonus">Str</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-dex-bonus" data-bonus-type="dex-bonus" data-path="defense.flat_footed.dex_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-dex-bonus">Dex</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-con-bonus" data-bonus-type="con-bonus" data-path="defense.flat_footed.con_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-con-bonus">Con</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-int-bonus" data-bonus-type="int-bonus" data-path="defense.flat_footed.int_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-int-bonus">Int</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-wis-bonus" data-bonus-type="wis-bonus" data-path="defense.flat_footed.wis_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-wis-bonus">Wis</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-cha-bonus" data-bonus-type="cha-bonus" data-path="defense.flat_footed.cha_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-cha-bonus">Cha</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="total-block" data-plus-ten-bonus="true" data-ac-deflect="true" data-ac-dodge="true" data-size-bonus="true">
          <div class="col-xs-4 col-md-3">
            <h2 class="inline-with-input margin-with-input"><span class="hidden-xs">Touch</span><span class="visible-xs-inline">T AC</span> <span class="total"></span></h2>
          </div>
          <div class="col-xs-8 col-md-9 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="defense-touch-misc">Misc</label>
                  <input class="input-field no-margin" id="defense-touch-misc" data-total="addition" data-path="defense.touch.misc" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="defense-touch-temp">Temp</label>
                  <input class="input-field no-margin" id="defense-touch-temp" data-total="addition" data-path="defense.touch.temp" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-12">
                <div class="row no-gutter">
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-str-bonus" data-bonus-type="str-bonus" data-path="defense.touch.str_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-str-bonus">Str</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-dex-bonus" data-bonus-type="dex-bonus" data-path="defense.touch.dex_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-dex-bonus">Dex</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-con-bonus" data-bonus-type="con-bonus" data-path="defense.touch.con_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-con-bonus">Con</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-int-bonus" data-bonus-type="int-bonus" data-path="defense.touch.int_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-int-bonus">Int</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-wis-bonus" data-bonus-type="wis-bonus" data-path="defense.touch.wis_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-wis-bonus">Wis</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="check-block inline-with-input margin-with-input">
                      <input class="input-check" id="defense-ac-cha-bonus" data-bonus-type="cha-bonus" data-path="defense.touch.cha_bonus" data-total="addition" type="checkbox" tabindex="3">
                      <label class="input-label" for="defense-ac-cha-bonus">Cha</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-9 col-lg-offset-3">
          <div class="textarea-block">
            <label class="textarea-label" for="defense-ac-notes">Notes</label>
            <div class="textarea-box tall" id="defense-ac-notes" data-path="defense.ac_notes" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
      </div>
      <hr class="hidable">
      <div class="row">
        <div class="total-block" data-con-bonus="true">
          <div class="col-xs-4 col-md-3">
            <h2 class="inline-with-input margin-with-input"><span class="hidden-xs">Fortitude</span><span class="visible-xs-inline">Fort</span> <span class="total"></span></h2>
          </div>
          <div class="col-xs-8 col-md-9 hidable">
            <div class="row no-gutter">
              <div class="col-xs-2">
                <div class="input-block">
                  <label class="input-label" for="defense-fortitude-base">Base</label>
                  <input class="input-field" id="defense-fortitude-base" data-path="defense.fortitude.base" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-block">
                  <label class="input-label" for="defense-fortitude-racial">Racial</label>
                  <input class="input-field" id="defense-fortitude-racial" data-path="defense.fortitude.racial" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="input-block">
                  <label class="input-label" for="defense-fortitude-resistance">Resistance</label>
                  <input class="input-field" id="defense-fortitude-resistance" data-path="defense.fortitude.resistance" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-block">
                  <label class="input-label" for="defense-fortitude-misc">Misc</label>
                  <input class="input-field" id="defense-fortitude-misc" data-path="defense.fortitude.misc" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="input-block">
                  <label class="input-label" for="defense-fortitude-temp">Temp</label>
                  <input class="input-field" id="defense-fortitude-temp" data-path="defense.fortitude.temp" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="total-block" data-dex-bonus="true">
          <div class="col-xs-4 col-md-3">
            <h2 class="inline-with-input margin-with-input"><span class="hidden-xs">Reflex</span><span class="visible-xs-inline">Ref</span> <span class="total"></span></h2>
          </div>
          <div class="col-xs-8 col-md-9 hidable">
            <div class="row no-gutter">
              <div class="col-xs-2">
                <div class="input-block">
                  <label class="input-label" for="defense-reflex-base">Base</label>
                  <input class="input-field" id="defense-reflex-base" data-path="defense.reflex.base" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-block">
                  <label class="input-label" for="defense-reflex-racial">Racial</label>
                  <input class="input-field" id="defense-reflex-racial" data-path="defense.reflex.racial" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="input-block">
                  <label class="input-label" for="defense-reflex-resistance">Resistance</label>
                  <input class="input-field" id="defense-reflex-resistance" data-path="defense.reflex.resistance" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-block">
                  <label class="input-label" for="defense-reflex-misc">Misc</label>
                  <input class="input-field" id="defense-reflex-misc" data-path="defense.reflex.misc" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="input-block">
                  <label class="input-label" for="defense-reflex-temp">Temp</label>
                  <input class="input-field" id="defense-reflex-temp" data-path="defense.reflex.temp" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="total-block" data-wis-bonus="true">
          <div class="col-xs-4 col-md-3">
            <h2 class="inline-with-input margin-with-input"><span class="hidden-xs">Will</span><span class="visible-xs-inline">Wil</span> <span class="total"></span></h2>
          </div>
          <div class="col-xs-8 col-md-9 hidable">
            <div class="row no-gutter">
              <div class="col-xs-2">
                <div class="input-block">
                  <label class="input-label" for="defense-will-base">Base</label>
                  <input class="input-field" id="defense-will-base" data-path="defense.will.base" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-block">
                  <label class="input-label" for="defense-will-racial">Racial</label>
                  <input class="input-field" id="defense-will-racial" data-path="defense.will.racial" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="input-block">
                  <label class="input-label" for="defense-will-resistance">Resistance</label>
                  <input class="input-field" id="defense-will-resistance" data-path="defense.will.resistance" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="input-block">
                  <label class="input-label" for="defense-will-misc">Misc</label>
                  <input class="input-field" id="defense-will-misc" data-path="defense.will.misc" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="input-block">
                  <label class="input-label" for="defense-will-temp">Temp</label>
                  <input class="input-field" id="defense-will-temp" data-path="defense.will.temp" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-9 col-lg-offset-3">
          <div class="textarea-block">
            <label class="textarea-label" for="defense-save-notes">Notes</label>
            <div class="textarea-box tall" id="defense-save-notes" data-path="defense.save_notes" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
