<section id="equipment" class="hidable-block" data-all-hidden="false">
  <div class="row">
    <div class="col-xs-12">
      <h1>Equipment</h1>
    </div>
    <div class="col-xs-12">
      <div class="section-controls">
        <button class="hidable-toggle button button-secondary button-icon button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide</span></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2>Gear</h2>
    </div>
    <div class="col-xs-12 col-md-9 hidable-on-empty-textarea">
      <div class="textarea-block" id="equipment-gear" data-store="equipment" contentEditable="true" tabindex="3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2>Magic Gear</h2>
    </div>
    <div class="col-xs-12 col-md-9 hidable-on-empty-textarea">
      <div class="textarea-block" id="equipment-magic-gear" data-store="equipment" contentEditable="true" tabindex="3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2 class="margin-with-input">Encumbrance</h2>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 hidable-on-empty-input">
      <div class="input-block" data-input-store="true">
        <label class="input-label" for="equipment-encumbrance-light-load">Light Load</label>
        <input class="input-field" id="equipment-encumbrance-light-load" data-store="equipment-encumbrance" type="text" tabindex="3">
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 hidable-on-empty-input">
      <div class="input-block" data-input-store="true">
        <label class="input-label" for="equipment-encumbrance-medium-load">Medium Load</label>
        <input class="input-field" id="equipment-encumbrance-medium-load" data-store="equipment-encumbrance" type="text" tabindex="3">
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 hidable-on-empty-input">
      <div class="input-block" data-input-store="true">
        <label class="input-label" for="equipment-encumbrance-heavy-load">Heavy Load</label>
        <input class="input-field" id="equipment-encumbrance-heavy-load" data-store="equipment-encumbrance" type="text" tabindex="3">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2 class="margin-with-input">Body Slots</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-armor">Armor</label>
            <input class="input-field" id="equipment-body-slots-armor" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-belts">Belts</label>
            <input class="input-field" id="equipment-body-slots-belts" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-body">Body</label>
            <input class="input-field" id="equipment-body-slots-body" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-chest">Chest</label>
            <input class="input-field" id="equipment-body-slots-chest" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-eyes">Eyes</label>
            <input class="input-field" id="equipment-body-slots-eyes" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-feet">Feet</label>
            <input class="input-field" id="equipment-body-slots-feet" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-hands">Hands</label>
            <input class="input-field" id="equipment-body-slots-hands" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-head">Head</label>
            <input class="input-field" id="equipment-body-slots-head" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-headband">Headband</label>
            <input class="input-field" id="equipment-body-slots-headband" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-neck">Neck</label>
            <input class="input-field" id="equipment-body-slots-neck" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-ring-left-hand">Ring (Left Hand)</label>
            <input class="input-field" id="equipment-body-slots-ring-left-hand" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-ring-right-hand">Ring (Right Hand)</label>
            <input class="input-field" id="equipment-body-slots-ring-right-hand" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-shield">Shield</label>
            <input class="input-field" id="equipment-body-slots-shield" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-shoulders">Shoulders</label>
            <input class="input-field" id="equipment-body-slots-shoulders" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-6 hidable-on-empty-input">
          <div class="input-block" data-input-store="true">
            <label class="input-label" for="equipment-body-slots-wrist">Wrist</label>
            <input class="input-field" id="equipment-body-slots-wrist" data-store="equipment-body-slots" type="text" tabindex="3">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clone-block consumable" data-delete-clone-state="false">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <h2>Consumables</h2>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="clone-controls">
          <button class="clone-add button button-secondary button-icon button-small" tabindex="3"><span class="icon-add"></span>Add</button>
          <button class="clone-remove button button-secondary button-icon button-small" tabindex="3"><span class="icon-remove"></span>Remove</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-9 col-lg-offset-3 col-xl-12 col-xl-offset-0">
        <div class="clone-target"></div>
      </div>
    </div>
  </div>
</section>
