<section id="equipment">
  <h1>Equipment</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h2>Body Slots</h2>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="row">
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-armor">Armor</label>
            <input class="input-field" id="input-body-slot-armor" type="text">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-belts">Belts</label>
            <input class="input-field" id="input-body-slot-belts" type="text">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-body">Body</label>
            <input class="input-field" id="input-body-slot-body" type="text">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-chest">Chest</label>
            <input class="input-field" id="input-body-slot-chest" type="text">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-eyes">Eyes</label>
            <input class="input-field" id="input-body-slot-eyes" type="text">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-feet">Feet</label>
            <input class="input-field" id="input-body-slot-feet" type="text">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-hands">Hands</label>
            <input class="input-field" id="input-body-slot-hands" type="text">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-head">Head</label>
            <input class="input-field" id="input-body-slot-head" type="text" value="Headband of Vast Intelligence +2">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-headband">Headband</label>
            <input class="input-field" id="input-body-slot-headband" type="text">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-neck">Neck</label>
            <input class="input-field" id="input-body-slot-neck" type="text">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-ring-left-hand">Ring (Left Hand)</label>
            <input class="input-field" id="input-body-slot-ring-left-hand" type="text" value="Ring of Sustenance">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-ring-right-hand">Ring (Right Hand)</label>
            <input class="input-field" id="input-body-slot-ring-right-hand" type="text">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-shield">Shield</label>
            <input class="input-field" id="input-body-slot-shield" type="number" value="Cloak of Resistance +2">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-shoulders">Shoulders</label>
            <input class="input-field" id="input-body-slot-shoulders" type="number">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-wrist">Wrist</label>
            <input class="input-field" id="input-body-slot-wrist" type="number">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h2>Magical Gear</h2>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div contentEditable="true" class="textarea textarea-magic-gear">Pearl of Power (1st Level), Scroll of Acid Pit, Potion of CLW x2, Potion of Aid, Vile of Antitoxin, Vile of Holy Water, Wand of Infernal Healing (12), Scroll of Summon Monster III x2, Scroll of Invisibility x2, Scroll of Create Pit x1, Scroll of Web x1, Scroll of Stinking Cloud x1</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h2>Gear</h2>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div contentEditable="true" class="textarea textarea-gear">Spell component pouch, Spellbook, Backpack, Pouch (belt), Sack, Candle, Flint and Steel, Tindertwig, Rations (5 days), Waterskin, Bedroll, Blanket, Bloodblock, Healer's Kik, Rope (silk), Mirror, Compass, Ink, Inkpen, Paper sheets, Case for maps/scrolls, Scroll Case, Combat trained horse</div>
    </div>
  </div>
  {{!--
  <div class="consumable-block">
    <div class="row">
      <div class="col-9 col-offset-3">
        <div class="row">
          <div class="col-8">
            <div class="input-block">
              <label class="input-label" for="input-consumable-1">Consumable</label>
              <input class="input-field" id="input-consumable-1" type="text" value="Wand of Infernal Healing">
            </div>
          </div>
          <div class="col-4">
            <div class="input-block">
              <label class="input-label" for="input-consumable-1-total-cahrges">Total Charges</label>
              <input class="input-field" id="input-consumable-1-total-cahrges" type="text" value="50">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="consumable-count">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="javascript:void(0)" class="button button-secondary button-small"><span class="icon-add"></span>Add Consumable</a>
          </div>
        </div>
      </div>
    </div>
  </div> --}}
</section>
