<section id="equipment" class="hidable-block clone-block consumable" data-delete-clone-state="false" data-all-hidden="false">
  <div class="section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <h1>Equipment</h1>
        </div>
        <div class="col-xs-10">
          <div class="section-controls">
            <div class="clone-controls button-group clearfix">
              <button class="clone-add button button-tertiary button-icon button-small" tabindex="3"><span class="icon-add"></span>Add</button>
              <button class="clone-remove button button-tertiary button-icon button-small" tabindex="3"><span class="icon-close"></span>Remove</button>
              <button class="hidable-toggle button button-tertiary button-icon button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2 class="inline-with-input margin-with-input">Possessions</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="row">
            <div class="col-xs-12 hidable-on-empty-textarea">
              <div class="textarea-block">
                <label class="textarea-label" for="equipment-gear">Gear</label>
                <div class="textarea-box" id="equipment-gear" data-path="equipment.gear" contentEditable="true" tabindex="3"></div>
              </div>
            </div>
            <div class="col-xs-12 hidable-on-empty-textarea">
              <div class="textarea-block">
                <label class="textarea-label" for="equipment-magic-gear">Magic Gear</label>
                <div class="textarea-box" id="equipment-magic-gear" data-path="equipment.magic_gear" contentEditable="true" tabindex="3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2 class="inline-with-input margin-with-input">Body Slots</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="row">
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-armor">Armor</label>
                <input class="input-field" id="equipment-body-slots-armor" data-path="equipment.body_slots.armor" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-belts">Belts</label>
                <input class="input-field" id="equipment-body-slots-belts" data-path="equipment.body_slots.belts" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-body">Body</label>
                <input class="input-field" id="equipment-body-slots-body" data-path="equipment.body_slots.body" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-chest">Chest</label>
                <input class="input-field" id="equipment-body-slots-chest" data-path="equipment.body_slots.chest" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-eyes">Eyes</label>
                <input class="input-field" id="equipment-body-slots-eyes" data-path="equipment.body_slots.eyes" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-feet">Feet</label>
                <input class="input-field" id="equipment-body-slots-feet" data-path="equipment.body_slots.feet" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-hands">Hands</label>
                <input class="input-field" id="equipment-body-slots-hands" data-path="equipment.body_slots.hands" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-head">Head</label>
                <input class="input-field" id="equipment-body-slots-head" data-path="equipment.body_slots.head" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-headband">Headband</label>
                <input class="input-field" id="equipment-body-slots-headband" data-path="equipment.body_slots.headband" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-neck">Neck</label>
                <input class="input-field" id="equipment-body-slots-neck" data-path="equipment.body_slots.neck" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-ring-left-hand">Ring (Left Hand)</label>
                <input class="input-field" id="equipment-body-slots-ring-left-hand" data-path="equipment.body_slots.ring_left_hand" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-ring-right-hand">Ring (Right Hand)</label>
                <input class="input-field" id="equipment-body-slots-ring-right-hand" data-path="equipment.body_slots.ring_right_hand" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-shield">Shield</label>
                <input class="input-field" id="equipment-body-slots-shield" data-path="equipment.body_slots.shield" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-shoulders">Shoulders</label>
                <input class="input-field" id="equipment-body-slots-shoulders" data-path="equipment.body_slots.shoulders" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-6 col-lg-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-body-slots-wrist">Wrist</label>
                <input class="input-field" id="equipment-body-slots-wrist" data-path="equipment.body_slots.wrist" type="text" tabindex="3">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2 class="inline-with-input margin-with-input">Encumbrance</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="row no-gutter">
            <div class="col-xs-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-encumbrance-light">Light Load</label>
                <input class="input-field" id="equipment-encumbrance-light" data-path="equipment.encumbrance.light" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-encumbrance-medium">Medium Load</label>
                <input class="input-field" id="equipment-encumbrance-medium" data-path="equipment.encumbrance.medium" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-4 hidable-on-empty-input">
              <div class="input-block">
                <label class="input-label" for="equipment-encumbrance-heavy">Heavy Load</label>
                <input class="input-field" id="equipment-encumbrance-heavy" data-path="equipment.encumbrance.heavy" type="text" tabindex="3">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2 class="inline-with-input margin-with-input">Wealth</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="equipment-wealth-platinum">Platinum</label>
                <input class="input-field" id="equipment-wealth-platinum" data-path="equipment.wealth.platinum" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="equipment-wealth-gold">Gold</label>
                <input class="input-field" id="equipment-wealth-gold" data-path="equipment.wealth.gold" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="equipment-wealth-silver">Silver</label>
                <input class="input-field" id="equipment-wealth-silver" data-path="equipment.wealth.silver" type="text" tabindex="3">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <label class="input-label" for="equipment-wealth-copper">Copper</label>
                <input class="input-field" id="equipment-wealth-copper" data-path="equipment.wealth.copper" type="text" tabindex="3">
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2 class="inline-with-input">Consumables</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="clone-target"></div>
        </div>
      </div>
    </div>
  </div>
</section>
