<section id="equipment" class="hidable-block" data-all-hidden="false">
  <div class="row">
    <div class="col-xs-6">
      <h1>Equipment</h1>
    </div>
    <div class="col-xs-6">
      <a href="javascript:void(0)" class="hidable-toggle right button button-secondary button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide Fields</span></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2 class="margin-with-input">Body Slots</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-armor">Armor</label>
            <input class="input-field" id="input-body-slot-armor" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-belts">Belts</label>
            <input class="input-field" id="input-body-slot-belts" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-body">Body</label>
            <input class="input-field" id="input-body-slot-body" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-chest">Chest</label>
            <input class="input-field" id="input-body-slot-chest" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-eyes">Eyes</label>
            <input class="input-field" id="input-body-slot-eyes" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-feet">Feet</label>
            <input class="input-field" id="input-body-slot-feet" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-hands">Hands</label>
            <input class="input-field" id="input-body-slot-hands" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-head">Head</label>
            <input class="input-field" id="input-body-slot-head" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-headband">Headband</label>
            <input class="input-field" id="input-body-slot-headband" type="text" tabindex="3" value="Headband of Vast Intelligence +2">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-neck">Neck</label>
            <input class="input-field" id="input-body-slot-neck" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-ring-left-hand">Ring (Left Hand)</label>
            <input class="input-field" id="input-body-slot-ring-left-hand" type="text" tabindex="3" value="Ring of Sustenance">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-ring-right-hand">Ring (Right Hand)</label>
            <input class="input-field" id="input-body-slot-ring-right-hand" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-shield">Shield</label>
            <input class="input-field" id="input-body-slot-shield" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-shoulders">Shoulders</label>
            <input class="input-field" id="input-body-slot-shoulders" type="text" tabindex="3" value="Cloak of Resistance +2">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidable-on-empty-input">
          <div class="input-block">
            <label class="input-label" for="input-body-slot-wrist">Wrist</label>
            <input class="input-field" id="input-body-slot-wrist" type="text" tabindex="3">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2>Magic Gear</h2>
    </div>
    <div class="col-xs-12 col-md-9 hidable-on-empty-textarea">
      <div contentEditable="true" class="textarea textarea-magic-gear" tabindex="3">Pearl of Power (1st Level), Potion of CLW x2, Potion of Aid, Vile of Antitoxin, Vile of Holy Water, Wand of Infernal Healing (7), Scroll of Acid Pit x1, Scroll of Summon Monster III x4, Scroll of Invisibility x2, Scroll of Create Pit x2, Scroll of Web x1, Scroll of Stinking Cloud x1, Scroll of Grease x1</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2>Gear</h2>
    </div>
    <div class="col-xs-12 col-md-9 hidable-on-empty-textarea">
      <div contentEditable="true" class="textarea textarea-gear" tabindex="3">Spell component pouch, Spellbook, Backpack, Flask of Oil x3, Pouch (belt), Sack, Candle, Flint and Steel, Tindertwig, Rations (5 days), Waterskin, Bedroll, Blanket, Bloodblock, Healer's Kik, Rope (silk), Mirror, Compass, Ink, Inkpen, Paper sheets, Case for maps/scrolls, Scroll Case, Combat trained horse</div>
    </div>
  </div>
  <div class="clone-block consumables">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <h2>Consumables</h2>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="clone-controls">
          <a href="javascript:void(0)" class="clone-add button button-secondary button-small"><span class="icon-add"></span>Add Consumables</a>
          <a href="javascript:void(0)" class="clone-remove button button-secondary button-small"><span class="icon-remove"></span>Remove Consumables</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="clone-target"></div>
      </div>
    </div>
  </div>
</section>
