<section id="statistics">
  <h1>Equipment</h1>
  <div class="row">
    <div class="col-3">
      <p><strong>Magical Equipment</strong></P>
    </div>
    <div class="col-9">
      <div contentEditable="true" class="textarea textarea-equipment">Headband of Vast Intelligence +2, Ring of Sustenance, Cloak of Resistance +2, Pearl of Power (1st Level)</div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p><strong>Magical Gear</strong></P>
    </div>
    <div class="col-9">
      <div contentEditable="true" class="textarea textarea-magic-gear">Scroll of Acid Pit, Potion of CLW x2, Potion of Aid, Vile of Antitoxin, Vile of Holy Water, Wand of Infernal Healing (12), Scroll of Summon Monster III x2, Scroll of Invisibility x2, Scroll of Create Pit x1, Scroll of Web x1, Scroll of Stinking Cloud x1</div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p><strong>Gear</strong></P>
    </div>
    <div class="col-9">
      <div contentEditable="true" class="textarea textarea-gear">Spell component pouch, Spellbook, Backpack, Pouch (belt), Sack, Candle, Flint and Steel, Tindertwig, Rations (5 days), Waterskin, Bedroll, Blanket, Bloodblock, Healer's Kik, Rope (silk), Mirror, Compass, Ink, Inkpen, Paper sheets, Case for maps/scrolls, Scroll Case, Combat trained horse</div>
    </div>
  </div>
  <div class="consumable-block">
    <div class="row">
      <div class="col-9 col-offset-3">
        <div class="row">
          <div class="col-8">
            <div class="input-block">
              <label class="input-label" for="input-consumable-1">Consumable</label>
              <input class="input-field" id="input-consumable-1" type="text" value="Wand of Infernal Healing">
            </div>
          </div>
          <div class="col-4">
            <div class="input-block">
              <label class="input-label" for="input-consumable-1-total-cahrges">Total Charges</label>
              <input class="input-field" id="input-consumable-1-total-cahrges" type="text" value="50">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="consumable-count">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="javascript:void(0)" class="button button-secondary button-small"><span class="icon-add"></span>Add Consumable</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
