
<!-- build:js js/vendor.min.js -->
<script src="bower_components/smooth-scroll/src/js/smooth-scroll.js"></script>
<!-- endbuild -->
<!-- build:js js/awesomeSheet.min.js -->
<script src="js/nif-amakir.js"></script>
<script src="js/helper.js"></script>
<script src="js/nav.js"></script>
<script src="js/prompt.js"></script>
<script src="js/snack.js"></script>
<script src="js/sheet.js"></script>
<script src="js/inputBlock.js"></script>
<script src="js/textareaBlock.js"></script>
<script src="js/spells.js"></script>
<script src="js/stats.js"></script>
<script src="js/totalBlock.js"></script>


<script src="js/awesomeSheet.js"></script>


<script src="js/init.js"></script>


<script src="js/vendorOptions.js"></script>
<!-- endbuild -->
</body>
</html>