
<!-- build:js js/vendor.min.js -->
<script src="bower_components/smooth-scroll/src/js/smooth-scroll.js"></script>
<!-- endbuild -->
<!-- build:js js/awesomesheet.min.js -->
<script src="js/awesomeSheet.js"></script>
<!-- endbuild -->
</body>
</html>