<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Awesome Sheet</title>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="icon" sizes="128x128" href="images/icon-128.png">
  <link rel="manifest" href="/manifest.json">
  <!-- build:css css/vendor.min.css -->
  <link rel="stylesheet" href="css/vendor.css">
  <!-- endbuild -->
  <!-- build:css css/awesomeSheet.min.css -->
  <link rel="stylesheet" href="css/awesomeSheet.css">
  <!-- endbuild -->
</head>

<body id="body" class="clearfix">
