<nav id="nav">
  <div class="nav-toggle">
    <span class="line top"></span>
    <span class="line middle"></span>
    <span class="line bottom"></span>
  </div>
  <ul class="nav-list">
    <li><h1>Characters</h1></li>
    <li><a href="javascript:void(0)" class="character-add clearfix" tabindex="10"><span class="icon icon-add"></span><span class="name">Add</span></a></li>
    <li><a href="javascript:void(0)" class="character-remove clearfix" tabindex="10"><span class="icon icon-remove"></span><span class="name">Remove</span></a></li>
    <li><a href="javascript:void(0)" class="character-export clearfix" tabindex="10"><span class="icon icon-file-download"></span><span class="name">Export</span></a></li>
    <li class="divide"></li>
    <li>
      <ul class="nav-characters"></ul>
    </li>
    <li class="divide"></li>
    <li><h2>Tools</h2></li>
    <li><a href="javascript:void(0)" class="fullscreen clearfix" tabindex="10"><span class="icon icon-fullscreen"></span><span class="name">Fullscreen</span></a></li>
    <li><a href="javascript:void(0)" class="clear-all clearfix" tabindex="10"><span class="icon icon-delete"></span><span class="name">Clear All</span></a></li>
  </ul>
</nav>
