<nav>
  <div class="toggle-nav">
    <span class="line top"></span>
    <span class="line middle"></span>
    <span class="line bottom"></span>
  </div>
  <ul class="nav-list">
    <li><h1>Characters</h1></li>
    <li>
      <ul class="nav-characters"></ul>
    </li>
    {{!-- <li><a href="#body" data-scroll tabindex="10">Basics</a></li> --}}
    {{!-- <li><a href="#statistics" data-scroll tabindex="10">Statistics</a></li> --}}
    {{!-- <li><a href="#equipment" data-scroll tabindex="10">Equipment</a></li> --}}
    {{!-- <li><a href="#defense" data-scroll tabindex="10">Defense</a></li> --}}
    {{!-- <li><a href="#offense" data-scroll tabindex="10">Offense</a></li> --}}
    {{!-- <li><a href="#skills" data-scroll tabindex="10">Skills</a></li> --}}
    {{!-- <li><a href="#spells" data-scroll tabindex="10">Spells</a></li> --}}
    {{!-- <li><a href="#notes" data-scroll tabindex="10">Notes</a></li> --}}
    <li><a href="javascript:void(0)" class="add-character" tabindex="10"><span class="icon-add"></span><span>New Character</span></a></li>
    <li><a href="javascript:void(0)" class="remove-character" tabindex="10"><span class="icon-remove"></span><span>Clear Character</span></a></li>
    <li class="divide"></li>
    <li><h2>Tools</h2></li>
    <li><a href="javascript:void(0)" class="fullscreen" tabindex="10"><span class="icon-fullscreen"></span><span>Fullscreen</span></a></li>
    <li><a href="javascript:void(0)" class="export" tabindex="10"><span class="icon-expand-more"></span><span>Export</span></a></li>
    <li><a href="javascript:void(0)" class="clear-all" tabindex="10"><span class="icon-delete"></span><span>Clear All</span></a></li>
  </ul>
</nav>
