<nav id="quick-nav">
  <div class="container">
    <ul class="quick-nav-list clearfix">
      <li>
        <a href="#basics" class="quick-link basics active" data-scroll tabindex="1"><span class="icon-account-circle"></span></a>
      </li>
      <li>
        <a href="#statistics" class="quick-link statistics" data-scroll tabindex="1"><span class="icon-apps"></span></a>
      </li>
      <li>
        <a href="#equipment" class="quick-link equipment" data-scroll tabindex="1"><span class="icon-bottle"></span></a>
      </li>
      <li>
        <a href="#defense" class="quick-link defense" data-scroll tabindex="1"><span class="icon-shield"></span></a>
      </li>
      <li>
        <a href="#offense" class="quick-link offense" data-scroll tabindex="1"><span class="icon-combat"></span></a>
      </li>
      <li>
        <a href="#skills" class="quick-link skills" data-scroll tabindex="1"><span class="icon-list"></span></a>
      </li>
      <li>
        <a href="#spells" class="quick-link spells" data-scroll tabindex="1"><span class="icon-whatshot"></span></a>
      </li>
      <li>
        <a href="#notes" class="quick-link notes" data-scroll tabindex="1"><span class="icon-edit"></span></a>
      </li>
      <li class="nav">
        <a href="javascript:void(0)" class="nav-toggle" tabindex="1">
          <span class="line top"></span>
          <span class="line middle"></span>
          <span class="line bottom"></span>
        </a>
        <ul class="nav-list">
          <li>
            <h1>Characters</h1>
          </li>
          <li>
            <a href="javascript:void(0)" class="character-add clearfix" tabindex="10"><span class="icon icon-add"></span><span class="name">Add</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" class="character-remove clearfix" tabindex="10"><span class="icon icon-remove"></span><span class="name">Remove</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" class="character-export clearfix" tabindex="10"><span class="icon icon-file-download"></span><span class="name">Export</span></a>
          </li>
          <li class="divide"></li>
          <li>
            <ul class="nav-characters"></ul>
          </li>
          <li class="divide"></li>
          <li>
            <h2>Tools</h2>
          </li>
          <li>
            <a href="javascript:void(0)" class="fullscreen clearfix" tabindex="10"><span class="icon icon-fullscreen"></span><span class="name">Fullscreen</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" class="clear-all clearfix" tabindex="10"><span class="icon icon-delete"></span><span class="name">Clear All</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
