<nav>
  <div class="toggle-nav">
    <span class="line top"></span>
    <span class="line middle"></span>
    <span class="line bottom"></span>
  </div>
  <ul class="nav-list">
    <li><a href="#body" data-scroll tabindex="10">Basics</a></li>
    <li><a href="#statistics" data-scroll tabindex="10">Statistics</a></li>
    <li><a href="#equipment" data-scroll tabindex="10">Equipment</a></li>
    <li><a href="#defense" data-scroll tabindex="10">Defense</a></li>
    <li><a href="#offense" data-scroll tabindex="10">Offense</a></li>
    <li><a href="#skills" data-scroll tabindex="10">Skills</a></li>
    <li><a href="#spells" data-scroll tabindex="10">Spells</a></li>
    <li><a href="#special-abilities" data-scroll tabindex="10">Special Abilities</a></li>
    <li><a href="#notes" data-scroll tabindex="10">Notes</a></li>
    <li class="divide"></li>
    <li><a href="javascript:void(0)" class="toggle-fullscreen"><span class="icon-fullscreen"></span>Fullscreen</a></li>
    <li class="divide"></li>
    <li><a href="javascript:void(0)" class="clear-all"><span class="icon-delete"></span>Clear All</a></li>
  </ul>
</nav>
