<section id="notes">
  <div class="row">
    <div class="col-xs-12">
      <h1>Notes</h1>
      <div class="textarea-block" id="notes" data-path="notes" contentEditable="true" tabindex="3"></div>
    </div>
  </div>
</section>
