<section id="notes">
  <div class="section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>Notes</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="textarea-block">
            <label class="textarea-label" for="character-notes">Story & Character Notes</label>
            <div class="textarea-box" id="character-notes" data-path="character_notes" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>