<section id="notes">
  <div class="section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>Notes</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <div class="textarea-block">
            <label class="textarea-label" for="notes-character">Character Notes</label>
            <div class="textarea-box" id="notes-character" data-path="notes.character" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="textarea-block">
            <label class="textarea-label" for="notes-story">Story Notes</label>
            <div class="textarea-box" id="notes-story" data-path="notes.story" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>