<section id="notes">
  <div class="row">
    <div class="col-xs-12">
      <h1>Notes</h1>
      <div contentEditable="true" class="textarea-block" id="textarea-notes" tabindex="3"></div>
    </div>
  </div>
</section>
