<section id="notes">
  <div class="row">
    <div class="col-xs-12">
      <h1>Notes</h1>
      <div contentEditable="true" class="textarea textarea-notes" tabindex="3">
        <!-- <p>
          <strong>Eagle</strong> (Augment, Celestial) CR 1<br/>
          N Small Animal<br/>
          Init +2; Senses low-light vision darkvision 60 ft.<br/>
          <strong>AC 14, touch 13, flat-footed 12 (+2 Dex +1 natural +1 size )</strong><br/>
          <strong>HP 7 (1d8+3)</strong><br/>
          <strong>Fort +5, Ref +4, Will +2</strong><br/>
          <strong>Resist</strong> cold 5, acid 5, electricity 5 <strong>SR</strong> 6<br/>
          <strong>Speed</strong> 10ft., fly 80 ft. (average)<br/>
          Melee Bite +3 (1d4+2), 2 x Claws +3 (1d4+2)<br/>
          <strong>Special Attacks</strong> Smite Evil<br/>
          Str 14, Dex 15, Con 16, Int 2, Wis 15, Cha 7<br/>
          Base Atk +0, CMB +1, CMD 13<br/>
          <strong>Feats</strong> Weapon Finesse<br/>
          <strong>Skills</strong> Perception +8<br/>
        </p>
        <p>
          <strong>Small Air Elemental (Augment) CR 1</strong><br/>
          N Small Outsider (air, elemental, extraplanar)<br/>
          Init +7; Senses darkvision 60 ft.; Perception +4<br/>
          <strong>AC 17, touch 14, flat-footed 14 (+3 Dex +3 natural +1 size )</strong><br/>
          <strong>HP 17 (2d10+6)</strong><br/>
          <strong>Fort +6, Ref +6, Will +0</strong><br/>
          Defensive Abilities air mastery Immune elemental traits<br/>
          Speed fly 100 ft. (perfect)<br/>
          Melee Slam +6 (1d4+4)<br/>
          Special Attacks whirlwind (DC 14)<br/>
          Str 16, Dex 17, Con 16, Int 4, Wis 11, Cha 11<br/>
          Base Atk +2, CMB +4, CMD 17<br/>
          Feats Flyby Attack, Improved Initiative, Weapon Finesse<br/>
          Skills Acrobatics +7, Escape Artist +9, Fly +17, Knowledge (planes) +1, Perception +4, Stealth +11<br/>
          Languages Auran<br/>
          Special Abilities<br/>
          Air Mastery (Ex) Airborne creatures take a –1 penalty on attack and damage rolls against an air elemental.<br/>
          Whirlwind (Su) DC 14<br/>
        </p>
        <p>
          <strong>Aurochs (herd animal) (Augment, Celestial) CR 2</strong><br/>
          N Large Animal<br/>
          Init +0; Senses low-light vision, scent darkvision 60 ft. ; Perception +9<br/>
          <strong>AC 13, touch 9, flat-footed 13 (+4 natural -1 size )</strong><br/>
          <strong>HP 28 (3d8+15)</strong><br/>
          <strong>Fort +8, Ref +3, Will +1</strong><br/>
          Resist cold 5, acid 5, electricity 5<br/>
          SR 7<br/>
          Speed 40 ft.<br/>
          Melee Gore +9 (1d8+12)<br/>
          Space 10 ft. Reach 5 ft.<br/>
          Special Attacks Stampede (Ex), trample (2d6+12, DC 19), Smite Evil<br/>
          Str 27, Dex 10, Con 21, Int 2, Wis 11, Cha 4<br/>
          Base Atk +2, CMB +11, CMD 21(25 vs. trip)<br/>
          Feats Endurance, Skill Focus (Perception)<br/>
          Skills Perception +9<br/>
          Special Abilities<br/>
          Stampede (Ex) A stampede occurs if t/divee or more creatures with stampede make a trample attack while remaining adjacent to each other. While stampeding, the creatures can trample foes of their size or smaller, and the trample's save DC increases by +2.<br/>
          Smite Evil 1/day as a swift action (adds CHA bonus (+0) to attack rolls and damage bonus equal to HD (3) against evil foes; smite persists until target is dead or the celestial creature rests).<br/>
        </p>
        <p>
          <strong>Hound Archon (Augment) CR 4</strong><br/>
          LG Medium Outsider (archon, extraplanar, good, lawful)<br/>
          Init +4; Senses darkvision 60 ft., detect evil, low-light vision, scent; Perception +10<br/>
          Aura aura of menace (DC 16), magic circle against evil<br/>
          <strong>AC 19, touch 10, flat-footed 19 (+9 natural +2 deflection vs. evil)</strong><br/>
          <strong>HP 51 (6d10+18)</strong><br/>
          <strong>Fort +8, Ref +5, Will +5; +4 vs. poison, +2 resistance vs. evil</strong><br/>
          DR 10/evil Immune electricity, petrification SR 15<br/>
          Speed 40 ft.<br/>
          Melee Bite +10 (1d8+4), Slam +10 (1d4+4) or Bite +5 (1d8+2), Mwk Greatsword +11/+6 (2d6+6)<br/>
          Spell-Like Abilities (CL 6th)<br/>
          Constant—detect evil, magic circle against evil<br/>
          At Will—aid, continual flame, message<br/>
          Str 19, Dex 10, Con 17, Int 10, Wis 13, Cha 12<br/>
          Base Atk +6, CMB +10, CMD 20<br/>
          Feats Improved Initiative, Iron Will, Power Attack<br/>
          Skills Acrobatics +9, Intimidate +10, Perception +10, Sense Motive +10, Stealth +13, Survival +14<br/>
          Languages Celestial, Draconic, Infernal, Truespeech<br/>
          SQ Change Shape (beast shape II)<br/>
          Special Abilities<br/>
          Aura of Menace (Su) Any hostile creature within a 20-foot radius of an archon must succeed on a Will save (DC 16) to resist its effects. The save DC is Charisma-based, and includes a +2 racial bonus. Those who fail take a –2 penalty on attacks, AC, and saves for 24 hours or until they successfully hit the archon that generated the aura. A creature that has resisted or broken the effect cannot be affected again by the same archon's aura for 24 hours.<br/>
          Change Shape (Su) A hound archon can assume any canine form of Small to Large size, as if using beast shape II. While in canine form, the hound archon loses its bite, slam, and greatsword attacks, but gains the bite attack of the form it chooses. For the purposes of this ability, canines include any dog-like or wolf-like creature of the animal type.<br/>
        </p> -->
      </div>
    </div>
  </div>
</section>
