<section id="offense" class="hidable-block clone-block attack" data-delete-clone-state="false" data-all-hidden="false">
  <div class="section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <h1>Offense</h1>
        </div>
        <div class="col-xs-10">
          <div class="section-controls">
            <div class="clone-controls button-group clearfix">
              <button class="clone-add-melee button button-quaternary button-icon button-small" tabindex="3"><span class="icon-add"></span>Melee</button>
              <button class="clone-add-ranged button button-quaternary button-icon button-small" tabindex="3"><span class="icon-add"></span>Ranged</button>
              <button class="clone-remove button button-quaternary button-icon button-small" tabindex="3"><span class="icon-close"></span>Remove</button>
              <button class="hidable-toggle button button-quaternary button-icon button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="container">
      <div class="row hidable">
        <div class="col-xs-4 col-sm-3 col-sm-offset-3">
          <div class="input-block">
            <label class="input-label" for="offense-base-attack">Base Attack</label>
            <input class="input-field" id="offense-base-attack" data-path="offense.base_attack" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-4 col-sm-3">
          <div class="input-block">
            <label class="input-label" for="offense-special-size-bonus">Size</label>
            <input class="input-field" id="offense-special-size-bonus" data-path="offense.special_size_bonus" type="text" tabindex="3">
          </div>
        </div>
        <div class="col-xs-4 col-sm-3">
          <div class="input-block">
            <label class="input-label" for="offense-concentration">Concentration</label>
            <input class="input-field" id="offense-concentration" data-path="offense.concentration" type="text" tabindex="3">
          </div>
        </div>
      </div>
      <hr class="hidable">
      <div class="row">
        <div class="total-block" data-str-bonus="true" data-bab-bonus="true" data-special-size-bonus="true">
          <div class="col-xs-3">
            <h2 class="inline-with-input margin-with-input">CMB <span class="total"></span></h2>
          </div>
          <div class="col-xs-9 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="offense-cmb-misc">Misc</label>
                  <input class="input-field" id="offense-cmb-misc" data-path="offense.cmb.misc" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="offense-cmb-temp">Temp</label>
                  <input class="input-field" id="offense-cmb-temp" data-path="offense.cmb.temp" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="total-block" data-str-bonus="true" data-dex-bonus="true" data-bab-bonus="true" data-special-size-bonus="true" data-plus-ten-bonus="true">
          <div class="col-xs-3">
            <h2 class="inline-with-input margin-with-input">CMD <span class="total"></span></h2>
          </div>
          <div class="col-xs-9 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="offense-cmd-misc">Misc</label>
                  <input class="input-field" id="offense-cmd-misc" data-path="offense.cmd.misc" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="offense-cmd-temp">Temp</label>
                  <input class="input-field" id="offense-cmd-temp" data-path="offense.cmd.temp" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="total-block" data-str-bonus="true" data-bab-bonus="true" data-special-size-bonus="true">
          <div class="col-xs-3">
            <h2 class="inline-with-input margin-with-input">Melee <span class="total"></span></h2>
          </div>
          <div class="col-xs-9 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="offense-melee-attack-misc">Misc</label>
                  <input class="input-field" id="offense-melee-attack-misc" data-path="offense.melee_attack.misc" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="offense-melee-attack-temp">Temp</label>
                  <input class="input-field" id="offense-melee-attack-temp" data-path="offense.melee_attack.temp" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="total-block" data-dex-bonus="true" data-bab-bonus="true" data-special-size-bonus="true">
          <div class="col-xs-3">
            <h2 class="inline-with-input margin-with-input">Ranged <span class="total"></span></h2>
          </div>
          <div class="col-xs-9 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="offense-ranged-attack-misc">Misc</label>
                  <input class="input-field" id="offense-ranged-attack-misc" data-path="offense.ranged_attack.misc" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block">
                  <label class="input-label" for="offense-ranged-attack-temp">Temp</label>
                  <input class="input-field" id="offense-ranged-attack-temp" data-path="offense.ranged_attack.temp" data-total="addition" type="number" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h2 class="inline-with-input">Attacks</h2>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="clone-target attack-melee"></div>
          <div class="clone-target attack-ranged"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-9 col-lg-offset-3">
          <div class="textarea-block">
            <label class="textarea-label" for="offense-attack-notes">Notes</label>
            <div class="textarea-box tall" id="offense-attack-notes" data-path="offense.attack_notes" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
