<section id="offense" class="hidable-block" data-all-hidden="false">
  <div class="row">
    <div class="col-xs-12">
      <h1>Offense</h1>
    </div>
    <div class="col-xs-12">
      <div class="section-controls">
        <button class="hidable-toggle button button-secondary button-icon button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide</span></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="input-total-block" data-str-bonus="true" data-bab-bonus="true" data-special-size-bonus="true">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="margin-with-input">CMB <span class="total"></span></h2>
          </div>
          <div class="col-xs-12 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block" data-input-store="true">
                  <label class="input-label" for="input-cmb-misc">Misc</label>
                  <input class="input-field" id="input-cmb-misc" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block" data-input-store="true">
                  <label class="input-label" for="input-cmb-temp">Temp</label>
                  <input class="input-field" id="input-cmb-temp" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="input-total-block" data-str-bonus="true" data-dex-bonus="true" data-bab-bonus="true" data-special-size-bonus="true" data-plus-ten-bonus="true">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="margin-with-input">CMD <span class="total"></span></h2>
          </div>
          <div class="col-xs-12 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block" data-input-store="true">
                  <label class="input-label" for="input-cmd-misc">Misc</label>
                  <input class="input-field" id="input-cmd-misc" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block" data-input-store="true">
                  <label class="input-label" for="input-cmd-temp">Temp</label>
                  <input class="input-field" id="input-cmd-temp" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="input-total-block" data-str-bonus="true" data-bab-bonus="true" data-special-size-bonus="true">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="margin-with-input">Melee <span class="total"></span></h2>
          </div>
          <div class="col-xs-12 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block" data-input-store="true">
                  <label class="input-label" for="input-melee-attack-misc">Misc</label>
                  <input class="input-field" id="input-melee-attack-misc" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block" data-input-store="true">
                  <label class="input-label" for="input-melee-attack-temp">Temp</label>
                  <input class="input-field" id="input-melee-attack-temp" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="input-total-block" data-dex-bonus="true" data-bab-bonus="true" data-special-size-bonus="true">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="margin-with-input">Ranged <span class="total"></span></h2>
          </div>
          <div class="col-xs-12 hidable">
            <div class="row no-gutter">
              <div class="col-xs-6">
                <div class="input-block" data-input-store="true">
                  <label class="input-label" for="input-ranged-attack-misc">Misc</label>
                  <input class="input-field" id="input-ranged-attack-misc" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-block" data-input-store="true">
                  <label class="input-label" for="input-ranged-attack-temp">Temp</label>
                  <input class="input-field" id="input-ranged-attack-temp" type="number" data-modifier="true" tabindex="3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidable">
    <div class="col-xs-4 col-sm-4">
      <div class="input-block" data-input-store="true">
        <label class="input-label" for="input-base-attack">Base Attack</label>
        <input class="input-field" id="input-base-attack" type="number" tabindex="3">
      </div>
    </div>
    <div class="col-xs-4 col-sm-4">
      <div class="input-block" data-input-store="true">
        <label class="input-label" for="input-special-size-bonus">Size</label>
        <input class="input-field" id="input-special-size-bonus" type="number" tabindex="3">
      </div>
    </div>
    <div class="col-xs-4 col-sm-4">
      <div class="input-block" data-input-store="true">
        <label class="input-label" for="input-concentration">Concentration</label>
        <input class="input-field" id="input-concentration" type="number" tabindex="3">
      </div>
    </div>
  </div>
  <div class="clone-block attack" data-delete-clone-state="false">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <h2>Attacks</h2>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="clone-controls">
          <button class="clone-add button button-secondary button-icon button-small" tabindex="3"><span class="icon-add"></span>Add</button>
          <button class="clone-remove button button-secondary button-icon button-small" tabindex="3"><span class="icon-remove"></span>Remove</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="clone-target"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Notes</h3>
    </div>
    <div class="col-xs-12">
      <div contentEditable="true" class="textarea-block" id="textarea-attack-notes" tabindex="3"></div>
    </div>
  </div>
</section>
