<section id="offense">
  <div class="row">
    <div class="col-12">
      <h1>Offense</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="input-block">
        <!-- base attack -->
        <label class="input-label" for="input-base-attack">Base Attack</label>
        <input class="input-field" id="input-base-attack" type="number" value="2">
      </div>
    </div>
    <div class="col-4">
      <div class="input-block">
        <!-- cmb -->
        <label class="input-label" for="input-cmb">CMB</label>
        <input class="input-field" id="input-cmb" type="number" value="1">
      </div>
    </div>
    <div class="col-4">
      <div class="input-block">
        <!-- cmd -->
        <label class="input-label" for="input-cmd">CMD</label>
        <input class="input-field" id="input-cmd" type="number" value="14">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="input-block">
        <!-- concentration -->
        <label class="input-label" for="input-concentration">Concentration</label>
        <input class="input-field" id="input-concentration" type="number" value="11">
      </div>
    </div>
    <div class="col-4">
      <div class="input-block">
        <!-- melee attack -->
        <label class="input-label" for="input-melee-attack">Melee Attack</label>
        <input class="input-field" id="input-melee-attack" type="number" value="1">
      </div>
    </div>
    <div class="col-4">
      <div class="input-block">
        <!-- ranged attack -->
        <label class="input-label" for="input-ranged-attack">Ranged Attack</label>
        <input class="input-field" id="input-ranged-attack" type="number" value="5">
      </div>
    </div>
  </div>
  <!-- ModifyMovement TYPE Abilities -->
  <!-- End ModifyMovement TYPE Abilities -->
  <!-- Attacks -->
  <!-- End Attacks -->
  <!-- Space and Reach -->
  <!-- SpecialAttack TYPE Abilities -->
  <!-- End SpecialAttack TYPE Abilities -->
  <!-- Innate Spell-Like Abilities -->
  <!-- End Innate Spell-Like Abilities -->
  <!-- Other Spell-Like Abilities -->
  <!-- End Other Spell-Like Abilities -->
  <!-- Domain Power Spell-Like Abilities -->
  <!-- Known Spells -->
  <!-- End Known Spells -->
  <!-- Prepared Spells -->
  <!-- End Prepared Spells -->
  <!-- domains -->
  <!-- End Domain list -->
</section>
