<section id="offense">
  <div class="row">
    <div class="col-xs-12">
      <h1>Offense</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4">
      <div class="input-block">
        <label class="input-label" for="input-base-attack">Base Attack</label>
        <input class="input-field" id="input-base-attack" type="number" value="2">
      </div>
    </div>
    <div class="col-xs-4 col-sm-4">
      <div class="input-block">
        <label class="input-label" for="input-special-size-bonus">Special Size Bonus</label>
        <input class="input-field" id="input-special-size-bonus" type="number">
      </div>
    </div>
    <div class="col-xs-4 col-sm-4">
      <div class="input-block">
        <label class="input-label" for="input-concentration">Concentration</label>
        <input class="input-field" id="input-concentration" type="number" value="11">
      </div>
    </div>
  </div>
  <div class="input-total-block" data-str-bonus="true" data-bab-bonus="true" data-special-size-bonus="true">
    <div class="row">
      <div class="col-xs-4">
        <h2 class="inline-with-input">CMB <span class="total">1</span></h2>
      </div>
      <div class="col-xs-8">
        <div class="row no-gutter">
          <div class="col-xs-6">
            <div class="input-block">
              <label class="input-label" for="input-cmb-temp">Temp</label>
              <input class="input-field" id="input-cmb-temp" type="number" data-modifier="true">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-block">
              <label class="input-label" for="input-cmb-misc">Misc</label>
              <input class="input-field" id="input-cmb-misc" type="number" data-modifier="true">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="input-total-block" data-str-bonus="true" data-dex-bonus="true" data-bab-bonus="true" data-special-size-bonus="true" data-plus-ten-bonus="true">
    <div class="row">
      <div class="col-xs-4">
        <h2 class="inline-with-input">CMD <span class="total">14</span></h2>
      </div>
      <div class="col-xs-8">
        <div class="row no-gutter">
          <div class="col-xs-6">
            <div class="input-block">
              <label class="input-label" for="input-cmd-temp">Temp</label>
              <input class="input-field" id="input-cmd-temp" type="number" data-modifier="true">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-block">
              <label class="input-label" for="input-cmd-misc">Misc</label>
              <input class="input-field" id="input-cmd-misc" type="number" data-modifier="true">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="input-total-block" data-str-bonus="true" data-bab-bonus="true" data-special-size-bonus="true">
    <div class="row">
      <div class="col-xs-4">
        <h2 class="inline-with-input">Melee <span class="total">1</span></h2>
      </div>
      <div class="col-xs-8">
        <div class="row no-gutter">
          <div class="col-xs-6">
            <div class="input-block">
              <label class="input-label" for="input-melee-attack-temp">Temp</label>
              <input class="input-field" id="input-melee-attack-temp" type="number" data-modifier="true">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-block">
              <label class="input-label" for="input-melee-attack-misc">Misc</label>
              <input class="input-field" id="input-melee-attack-misc" type="number" data-modifier="true">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="input-total-block" data-dex-bonus="true" data-bab-bonus="true" data-special-size-bonus="true">
    <div class="row">
      <div class="col-xs-4">
        <h2 class="inline-with-input">Ranged <span class="total">5</span></h2>
      </div>
      <div class="col-xs-8">
        <div class="row no-gutter">
          <div class="col-xs-6">
            <div class="input-block">
              <label class="input-label" for="input-ranged-attack-temp">Temp</label>
              <input class="input-field" id="input-ranged-attack-temp" type="number" data-modifier="true">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-block">
              <label class="input-label" for="input-ranged-attack-misc">Misc</label>
              <input class="input-field" id="input-ranged-attack-misc" type="number" data-modifier="true">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h2 class="inline-with-input">Attacks</h2>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="row no-gutter">
        <div class="col-xs-12 col-sm-8">
          <div class="input-block">
            <label class="input-label" for="input-weapon">Weapon</label>
            <input class="input-field" id="input-weapon" type="text">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="input-block">
            <label class="input-label" for="input-attack">Attack</label>
            <input class="input-field" id="input-attack" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <div class="row no-gutter">
            <div class="col-xs-6">
              <div class="input-block">
                <label class="input-label" for="input-range">Range</label>
                <input class="input-field" id="input-range" type="text">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="input-block">
                <label class="input-label" for="input-ammo">Ammo</label>
                <input class="input-field" id="input-ammo" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-7">
          <div class="row no-gutter">
            <div class="col-xs-6">
              <div class="input-block">
                <label class="input-label" for="input-damage">Damage</label>
                <input class="input-field" id="input-damage" type="text">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="input-block">
                <label class="input-label" for="input-critical">Critical</label>
                <input class="input-field" id="input-critical" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h3 class="inline-with-input">Offense Notes</h3>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div contentEditable="true" class="textarea textarea-offense-notes"></div>
    </div>
  </div>
</section>
