<nav id="quick-nav">
  <div class="container">
    <ul>
      {{!-- <li><a href="#defense" class="quick-data quick-nav-hp" data-scroll tabindex="1"><span class="text">HP</span><span class="total"></span></a></li> --}}
      {{!-- <li><a href="#offense" class="quick-data quick-nav-ac" data-scroll tabindex="1"><span class="text">AC</span><span class="total"></span></a></li> --}}
      {{!-- <li><a href="#skills" class="quick-data quick-nav-perception" data-scroll tabindex="1"><span class="text">Perception</span><span class="total"></span></a></li> --}}
      <li><a href="#basics" class="quick-link" data-scroll tabindex="1"><span class="icon-account-circle"></span></a></li>
      <li><a href="#statistics" class="quick-link" data-scroll tabindex="1"><span class="icon-apps"></span></a></li>
      <li><a href="#equipment" class="quick-link" data-scroll tabindex="1"><span class="icon-bottle"></span></a></li>
      <li><a href="#defense" class="quick-link" data-scroll tabindex="1"><span class="icon-shield"></span></a></li>
      <li><a href="#offense" class="quick-link" data-scroll tabindex="1"><span class="icon-combat"></span></a></li>
      <li><a href="#skills" class="quick-link" data-scroll tabindex="1"><span class="icon-list"></span></a></li>
      <li><a href="#spells" class="quick-link" data-scroll tabindex="1"><span class="icon-whatshot"></span></a></li>
      <li><a href="#notes" class="quick-link" data-scroll tabindex="1"><span class="icon-edit"></span></a></li>
    </ul>
  </div>
</nav>