<nav id="quick-nav">
  <div class="container">
    <ul>
      <li>
        <a href="#basics" class="quick-link basics active" data-scroll tabindex="1">
          <span class="icon-account-circle"></span>
        </a>
      </li>
      <li>
        <a href="#statistics" class="quick-link statistics" data-scroll tabindex="1">
          <span class="icon-apps"></span>
        </a>
      </li>
      <li>
        <a href="#equipment" class="quick-link equipment" data-scroll tabindex="1">
          <span class="icon-bottle"></span>
        </a>
      </li>
      <li>
        <a href="#defense" class="quick-link defense" data-scroll tabindex="1">
          <span class="icon-shield"></span>
        </a>
      </li>
      <li>
        <a href="#offense" class="quick-link offense" data-scroll tabindex="1">
          <span class="icon-combat"></span>
        </a>
      </li>
      <li>
        <a href="#skills" class="quick-link skills" data-scroll tabindex="1">
          <span class="icon-list"></span>
        </a>
      </li>
      <li>
        <a href="#spells" class="quick-link spells" data-scroll tabindex="1">
          <span class="icon-whatshot"></span>
        </a>
      </li>
      <li>
        <a href="#notes" class="quick-link notes" data-scroll tabindex="1">
          <span class="icon-edit"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>