<section>
  <div class="container">
    <div class="col-xs-1"><a href="#basics" data-scroll>test</a></div>
    <div class="col-xs-1"><a href="#basics" data-scroll>test</a></div>
    <div class="col-xs-1"><a href="#basics" data-scroll>test</a></div>
    <div class="col-xs-1"><a href="#basics" data-scroll>test</a></div>
    <div class="col-xs-1"><a href="#basics" data-scroll>test</a></div>
    <div class="col-xs-1"><a href="#basics" data-scroll>test</a></div>
    <div class="col-xs-1"><a href="#basics" data-scroll>test</a></div>
    <div class="col-xs-1"><a href="#basics" data-scroll>test</a></div>
  </div>
</section>