<section id="skills" class="hidable-block" data-all-hidden="false">
  <div class="section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>Skills</h1>
        </div>
        <div class="col-xs-6">
          <div class="section-controls">
            <button class="hidable-toggle button button-primary button-icon button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <table class="skill-list">
          <thead class="hidable">
            <tr>
              <td></td>
              <td></td>
              <td>Total</td>
              <td class="small-text">Ranks</td>
              <td class="small-text">Misc</td>
            </tr>
          </thead>
          <tbody>
            <tr id="skill-acrobatics" class="input-total-block" data-dex-bonus="true">
              <td>
                <p class="name underline-with-input">Acrobatics</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Dex</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-acrobatics-ranks" data-path="skills.acrobatics.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-acrobatics-misc" data-path="skills.acrobatics.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-appraise" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Appraise</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-appraise-ranks" data-path="skills.appraise.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-appraise-misc" data-path="skills.appraise.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-bluff" class="input-total-block" data-cha-bonus="true">
              <td>
                <p class="name underline-with-input">Bluff</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Cha</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-bluff-ranks" data-path="skills.bluff.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-bluff-misc" data-path="skills.bluff.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-climb" class="input-total-block" data-str-bonus="true">
              <td>
                <p class="name underline-with-input">Climb</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Str</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-climb-ranks" data-path="skills.climb.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-climb-misc" data-path="skills.climb.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-craft" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Craft</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-craft-ranks" data-path="skills.craft.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-craft-misc" data-path="skills.craft.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-diplomacy" class="input-total-block" data-cha-bonus="true">
              <td>
                <p class="name underline-with-input">Diplomacy</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Cha</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-diplomacy-ranks" data-path="skills.diplomacy.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-diplomacy-misc" data-path="skills.diplomacy.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-disguise" class="input-total-block" data-cha-bonus="true">
              <td>
                <p class="name underline-with-input">Disguise</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Cha</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-disguise-ranks" data-path="skills.disguise.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-disguise-misc" data-path="skills.disguise.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-escape-artist" class="input-total-block" data-dex-bonus="true">
              <td>
                <p class="name underline-with-input">Escape Artist</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Dex</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-escape-artist-ranks" data-path="skills.escape_artist.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-escape-artist-misc" data-path="skills.escape_artist.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-fly" class="input-total-block" data-dex-bonus="true">
              <td>
                <p class="name underline-with-input">Fly</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Dex</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-fly-ranks" data-path="skills.fly.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-fly-misc" data-path="skills.fly.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-heal" class="input-total-block" data-wis-bonus="true">
              <td>
                <p class="name underline-with-input">Heal</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Wis</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-heal-ranks" data-path="skills.heal.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-heal-misc" data-path="skills.heal.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-intimidate" class="input-total-block" data-cha-bonus="true">
              <td>
                <p class="name underline-with-input">Intimidate</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Cha</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-intimidate-ranks" data-path="skills.intimidate.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-intimidate-misc" data-path="skills.intimidate.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-knowledge-arcana" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Knowledge Arcana</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-arcana-ranks" data-path="skills.knowledge_arcana.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-arcana-misc" data-path="skills.knowledge_arcana.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-knowledge-dungeoneering" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Knowledge Dungeoneering</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-dungeoneering-ranks" data-path="skills.knowledge_dungeoneering.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-dungeoneering-misc" data-path="skills.knowledge_dungeoneering.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-knowledge-engineering" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Knowledge Engineering</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-engineering-ranks" data-path="skills.knowledge_engineering.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-engineering-misc" data-path="skills.knowledge_engineering.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-knowledge-geography" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Knowledge Geography</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-geography-ranks" data-path="skills.knowledge_geography.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-geography-misc" data-path="skills.knowledge_geography.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-knowledge-history" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Knowledge History</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-history-ranks" data-path="skills.knowledge_history.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-history-misc" data-path="skills.knowledge_history.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-knowledge-local" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Knowledge Local</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-local-ranks" data-path="skills.knowledge_local.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-local-misc" data-path="skills.knowledge_local.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-knowledge-nature" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Knowledge Nature</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-nature-ranks" data-path="skills.knowledge_nature.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-nature-misc" data-path="skills.knowledge_nature.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-knowledge-nobility" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Knowledge Nobility</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-nobility-ranks" data-path="skills.knowledge_nobility.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-nobility-misc" data-path="skills.knowledge_nobility.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-knowledge-planes" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Knowledge Planes</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-planes-ranks" data-path="skills.knowledge_planes.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-planes-misc" data-path="skills.knowledge_planes.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-knowledge-religion" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Knowledge Religion</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-religion-ranks" data-path="skills.knowledge_religion.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-knowledge-religion-misc" data-path="skills.knowledge_religion.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-linguistics" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Linguistics</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-linguistics-ranks" data-path="skills.linguistics.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-linguistics-misc" data-path="skills.linguistics.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-perception" class="input-total-block" data-wis-bonus="true">
              <td>
                <p class="name underline-with-input">Perception</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Wis</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-perception-ranks" data-path="skills.perception.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-perception-misc" data-path="skills.perception.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-perform" class="input-total-block" data-cha-bonus="true">
              <td>
                <p class="name underline-with-input">Perform</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Cha</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-perform-ranks" data-path="skills.perform.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-perform-misc" data-path="skills.perform.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-ride" class="input-total-block" data-dex-bonus="true">
              <td>
                <p class="name underline-with-input">Ride</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Dex</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-ride-ranks" data-path="skills.ride.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-ride-misc" data-path="skills.ride.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-sense-motive" class="input-total-block" data-wis-bonus="true">
              <td>
                <p class="name underline-with-input">Sense Motive</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Wis</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-sense-motive-ranks" data-path="skills.sense_motive.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-sense-motive-misc" data-path="skills.sense_motive.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-spellcraft" class="input-total-block" data-int-bonus="true">
              <td>
                <p class="name underline-with-input">Spellcraft</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Int</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-spellcraft-ranks" data-path="skills.spellcraft.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-spellcraft-misc" data-path="skills.spellcraft.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-stealth" class="input-total-block" data-dex-bonus="true">
              <td>
                <p class="name underline-with-input">Stealth</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Dex</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-stealth-ranks" data-path="skills.stealth.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-stealth-misc" data-path="skills.stealth.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-survival" class="input-total-block" data-wis-bonus="true">
              <td>
                <p class="name underline-with-input">Survival</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Wis</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-survival-ranks" data-path="skills.survival.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-survival-misc" data-path="skills.survival.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-swim" class="input-total-block" data-str-bonus="true">
              <td>
                <p class="name underline-with-input">Swim</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Str</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-swim-ranks" data-path="skills.swim.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-swim-misc" data-path="skills.swim.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
            <tr id="skill-use-magic-device" class="input-total-block" data-cha-bonus="true">
              <td>
                <p class="name underline-with-input">Use Magic Device</p>
              </td>
              <td class="hidable">
                <p class="small-text underline-with-input">Cha</p>
              </td>
              <td>
                <p class="total underline-with-input"></p>
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-use-magic-device-ranks" data-path="skills.use_magic_device.ranks" data-modifier="true" type="number" tabindex="3">
              </td>
              <td class="hidable input-block">
                <input class="input-field" id="skill-use-magic-device-misc" data-path="skills.use_magic_device.misc" data-modifier="true" type="number" tabindex="3">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>