<section id="skills" class="hidable-block" data-all-hidden="false">
  <div class="row">
    <div class="col-xs-6">
      <h1>Skills</h1>
    </div>
    <div class="col-xs-6">
      <a href="javascript:void(0)" class="hidable-toggle right button button-secondary button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide Fields</span></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="skill-list">
        <thead class="hidable">
          <tr>
            <td class="name-title"></td>
            <td class="stat-title"></td>
            <td class="total-title">Total</td>
            <td class="ranks-title small-text">Ranks</td>
            <td class="misc-title small-text">Misc</td>
          </tr>
        </thead>
        <tbody>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="dex">Acrobatics</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Dex</p></td>
            <td><p class="total skill-value underline-with-input">3</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Appraise</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">13</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="4"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="cha">Bluff</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Cha</p></td>
            <td><p class="total skill-value underline-with-input">0</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="str">Climb</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Str</p></td>
            <td><p class="total skill-value underline-with-input">-1</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Craft</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">6</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="cha">Diplomacy</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Cha</p></td>
            <td><p class="total skill-value underline-with-input">0</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="cha">Disguise</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Cha</p></td>
            <td><p class="total skill-value underline-with-input">0</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="dex">Escape Artist</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Dex</p></td>
            <td><p class="total skill-value underline-with-input">3</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="dex">Fly</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Dex</p></td>
            <td><p class="total skill-value underline-with-input">3</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="wis">Heal</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Wis</p></td>
            <td><p class="total skill-value underline-with-input">1</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="cha">Intimidate</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Cha</p></td>
            <td><p class="total skill-value underline-with-input">0</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Knowledge (Arcana)</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">11</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="2"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Knowledge (Dungeoneering)</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">11</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="2"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Knowledge (Engineering)</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">10</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="1"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Knowledge (Geography)</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">10</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="1"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Knowledge (History)</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">10</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="1"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Knowledge (Local)</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">10</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="1"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Knowledge (Nature)</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">10</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="1"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Knowledge (Nobility)</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">10</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="1"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Knowledge (Planes)</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">11</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="2"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Knowledge (Religion)</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">11</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="2"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Linguistics</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">11</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="2"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="wis">Perception</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Wis</p></td>
            <td><p class="total skill-value underline-with-input">10</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="5"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="4"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="cha">Perform</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Cha</p></td>
            <td><p class="total skill-value underline-with-input">0</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="dex">Ride</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Dex</p></td>
            <td><p class="total skill-value underline-with-input">3</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="wis">Sense Motive</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Wis</p></td>
            <td><p class="total skill-value underline-with-input">8</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="5"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="2"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="int">Spellcraft</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Int</p></td>
            <td><p class="total skill-value underline-with-input">14</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="5"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="dex">Stealth</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Dex</p></td>
            <td><p class="total skill-value underline-with-input">3</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="wis">Survival</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Wis</p></td>
            <td><p class="total skill-value underline-with-input">1</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="str">Swim</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Str</p></td>
            <td><p class="total skill-value underline-with-input">-1</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value underline-with-input" data-ability="cha">Use Magic Device</p></td>
            <td class="hidable"><p class="name skill-value small-text underline-with-input">Cha</p></td>
            <td><p class="total skill-value underline-with-input">5</p></td>
            <td class="hidable"><input class="ranks skill-value small-text" type="number" value="5"></td>
            <td class="hidable"><input class="misc skill-value small-text" type="number"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
