<section id="skills" class="hidable-block" data-all-hidden="false">
  <div class="row">
    <div class="col-xs-12">
      <h1>Skills</h1>
    </div>
    <div class="col-xs-12">
      <div class="section-controls">
        <button class="hidable-toggle button button-secondary button-icon button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide</span></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="skill-list">
        <thead class="hidable">
          <tr>
            <td></td>
            <td></td>
            <td>Total</td>
            <td class="small-text">Ranks</td>
            <td class="small-text">Misc</td>
          </tr>
        </thead>
        <tbody>
          <tr class="input-total-block" data-dex-bonus="true">
            <td><p class="name underline-with-input">Acrobatics</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Dex</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-acrobatics-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-acrobatics-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Appraise</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-appraise-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-appraise-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-cha-bonus="true">
            <td><p class="name underline-with-input">Bluff</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Cha</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-bluff-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-bluff-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-str-bonus="true">
            <td><p class="name underline-with-input">Climb</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Str</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-climb-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-climb-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Craft</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-craft-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-craft-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-cha-bonus="true">
            <td><p class="name underline-with-input">Diplomacy</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Cha</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-diplomacy-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-diplomacy-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-cha-bonus="true">
            <td><p class="name underline-with-input">Disguise</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Cha</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-disguise-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-disguise-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-dex-bonus="true">
            <td><p class="name underline-with-input">Escape Artist</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Dex</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-escape-artist-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-escape-artist-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-dex-bonus="true">
            <td><p class="name underline-with-input">Fly</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Dex</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-fly-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-fly-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-wis-bonus="true">
            <td><p class="name underline-with-input">Heal</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Wis</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-heal-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-heal-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-cha-bonus="true">
            <td><p class="name underline-with-input">Intimidate</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Cha</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-intimidate-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-intimidate-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Knowledge Arcana</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-arcana-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-arcana-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Knowledge Dungeoneering</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-dungeoneering-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-dungeoneering-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Knowledge Engineering</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-engineering-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-engineering-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Knowledge Geography</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-geography-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-geography-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Knowledge History</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-history-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-history-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Knowledge Local</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-local-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-local-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Knowledge Nature</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-nature-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-nature-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Knowledge Nobility</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-nobility-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-nobility-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Knowledge Planes</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-planes-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-planes-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Knowledge Religion</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-religion-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-knowledge-religion-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Linguistics</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-linguistics-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-linguistics-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-wis-bonus="true">
            <td><p class="name underline-with-input">Perception</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Wis</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-perception-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-perception-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-cha-bonus="true">
            <td><p class="name underline-with-input">Perform</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Cha</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-perform-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-perform-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-dex-bonus="true">
            <td><p class="name underline-with-input">Ride</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Dex</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-ride-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-ride-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-wis-bonus="true">
            <td><p class="name underline-with-input">Sense Motive</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Wis</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-sense-motive-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-sense-motive-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-int-bonus="true">
            <td><p class="name underline-with-input">Spellcraft</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Int</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-spellcraft-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-spellcraft-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-dex-bonus="true">
            <td><p class="name underline-with-input">Stealth</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Dex</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-stealth-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-stealth-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-wis-bonus="true">
            <td><p class="name underline-with-input">Survival</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Wis</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-survival-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-survival-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-str-bonus="true">
            <td><p class="name underline-with-input">Swim</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Str</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-swim-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-swim-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
          <tr class="input-total-block" data-cha-bonus="true">
            <td><p class="name underline-with-input">Use Magic Device</p></td>
            <td class="hidable"><p class="small-text underline-with-input">Cha</p></td>
            <td><p class="total underline-with-input"></p></td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-use-magic-device-ranks" type="number" data-modifier="true" tabindex="3">
            </td>
            <td class="hidable input-block">
              <input class="input-field" id="input-skill-use-magic-device-misc" type="number" data-modifier="true" tabindex="3">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>