<section id="skills" class="hidable-block" data-all-hidden="false">
  <div class="section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>Skills</h1>
        </div>
        <div class="col-xs-6">
          <div class="section-controls">
            <button class="hidable-toggle button button-secondary button-icon button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="skill-list">
            <div class="skill hidable clearfix">
              <p class="inline-with-input small-text name">Skill</p>
              <p class="inline-with-input small-text stat">Stat</p>
              <p class="inline-with-input total">Total</p>
              <p class="inline-with-input small-text ranks">Ranks</p>
              <p class="inline-with-input small-text misc">Misc</p>
              <p class="inline-with-input small-text class-skill">Class</p>
            </div>
            <div id="skill-acrobatics" class="skill input-total-block clearfix" data-class-skill="false" data-dex-bonus="true">
              <p class="underline-with-input inline-with-input name">Acrobatics</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Dex</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-acrobatics-ranks" data-path="skills.acrobatics.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-acrobatics-misc" data-path="skills.acrobatics.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-acrobatics-misc" data-path="skills.acrobatics.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-appraise" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Appraise</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-appraise-ranks" data-path="skills.appraise.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-appraise-misc" data-path="skills.appraise.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-appraise-misc" data-path="skills.appraise.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-bluff" class="skill input-total-block clearfix" data-class-skill="false" data-cha-bonus="true">
              <p class="underline-with-input inline-with-input name">Bluff</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Cha</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-bluff-ranks" data-path="skills.bluff.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-bluff-misc" data-path="skills.bluff.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-bluff-misc" data-path="skills.bluff.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-climb" class="skill input-total-block clearfix" data-class-skill="false" data-str-bonus="true">
              <p class="underline-with-input inline-with-input name">Climb</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Str</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-climb-ranks" data-path="skills.climb.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-climb-misc" data-path="skills.climb.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-climb-misc" data-path="skills.climb.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-craft" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Craft</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-craft-ranks" data-path="skills.craft.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-craft-misc" data-path="skills.craft.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-craft-misc" data-path="skills.craft.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-diplomacy" class="skill input-total-block clearfix" data-class-skill="false" data-cha-bonus="true">
              <p class="underline-with-input inline-with-input name">Diplomacy</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Cha</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-diplomacy-ranks" data-path="skills.diplomacy.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-diplomacy-misc" data-path="skills.diplomacy.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-diplomacy-misc" data-path="skills.diplomacy.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-disguise" class="skill input-total-block clearfix" data-class-skill="false" data-cha-bonus="true">
              <p class="underline-with-input inline-with-input name">Disguise</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Cha</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-disguise-ranks" data-path="skills.disguise.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-disguise-misc" data-path="skills.disguise.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-disguise-misc" data-path="skills.disguise.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-escape-artist" class="skill input-total-block clearfix" data-class-skill="false" data-dex-bonus="true">
              <p class="underline-with-input inline-with-input name">Escape Artist</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Dex</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-escape-artist-ranks" data-path="skills.escape_artist.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-escape-artist-misc" data-path="skills.escape_artist.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-escape-artist-misc" data-path="skills.escape_artist.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-fly" class="skill input-total-block clearfix" data-class-skill="false" data-dex-bonus="true">
              <p class="underline-with-input inline-with-input name">Fly</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Dex</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-fly-ranks" data-path="skills.fly.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-fly-misc" data-path="skills.fly.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-fly-misc" data-path="skills.fly.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-heal" class="skill input-total-block clearfix" data-class-skill="false" data-wis-bonus="true">
              <p class="underline-with-input inline-with-input name">Heal</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Wis</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-heal-ranks" data-path="skills.heal.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-heal-misc" data-path="skills.heal.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-heal-misc" data-path="skills.heal.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-intimidate" class="skill input-total-block clearfix" data-class-skill="false" data-cha-bonus="true">
              <p class="underline-with-input inline-with-input name">Intimidate</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Cha</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-intimidate-ranks" data-path="skills.intimidate.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-intimidate-misc" data-path="skills.intimidate.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-intimidate-misc" data-path="skills.intimidate.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-knowledge-arcana" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Knowledge Arcana</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-knowledge-arcana-ranks" data-path="skills.knowledge_arcana.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-knowledge-arcana-misc" data-path="skills.knowledge_arcana.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-knowledge-arcana-misc" data-path="skills.knowledge_arcana.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-knowledge-dungeoneering" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Knowledge Dungeoneering</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-knowledge-dungeoneering-ranks" data-path="skills.knowledge_dungeoneering.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-knowledge-dungeoneering-misc" data-path="skills.knowledge_dungeoneering.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-knowledge-dungeoneering-misc" data-path="skills.knowledge_dungeoneering.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-knowledge-engineering" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Knowledge Engineering</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-knowledge-engineering-ranks" data-path="skills.knowledge_engineering.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-knowledge-engineering-misc" data-path="skills.knowledge_engineering.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-knowledge-engineering-misc" data-path="skills.knowledge_engineering.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-knowledge-geography" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Knowledge Geography</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-knowledge-geography-ranks" data-path="skills.knowledge_geography.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-knowledge-geography-misc" data-path="skills.knowledge_geography.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-knowledge-geography-misc" data-path="skills.knowledge_geography.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-knowledge-history" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Knowledge History</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-knowledge-history-ranks" data-path="skills.knowledge_history.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-knowledge-history-misc" data-path="skills.knowledge_history.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-knowledge-history-misc" data-path="skills.knowledge_history.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-knowledge-local" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Knowledge Local</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-knowledge-local-ranks" data-path="skills.knowledge_local.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-knowledge-local-misc" data-path="skills.knowledge_local.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-knowledge-local-misc" data-path="skills.knowledge_local.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-knowledge-nature" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Knowledge Nature</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-knowledge-nature-ranks" data-path="skills.knowledge_nature.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-knowledge-nature-misc" data-path="skills.knowledge_nature.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-knowledge-nature-misc" data-path="skills.knowledge_nature.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-knowledge-nobility" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Knowledge Nobility</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-knowledge-nobility-ranks" data-path="skills.knowledge_nobility.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-knowledge-nobility-misc" data-path="skills.knowledge_nobility.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-knowledge-nobility-misc" data-path="skills.knowledge_nobility.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-knowledge-planes" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Knowledge Planes</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-knowledge-planes-ranks" data-path="skills.knowledge_planes.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-knowledge-planes-misc" data-path="skills.knowledge_planes.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-knowledge-planes-misc" data-path="skills.knowledge_planes.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-knowledge-religion" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Knowledge Religion</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-knowledge-religion-ranks" data-path="skills.knowledge_religion.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-knowledge-religion-misc" data-path="skills.knowledge_religion.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-knowledge-religion-misc" data-path="skills.knowledge_religion.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-linguistics" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Linguistics</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-linguistics-ranks" data-path="skills.linguistics.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-linguistics-misc" data-path="skills.linguistics.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-linguistics-misc" data-path="skills.linguistics.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-perception" class="skill input-total-block clearfix" data-class-skill="false" data-wis-bonus="true">
              <p class="underline-with-input inline-with-input name">Perception</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Wis</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-perception-ranks" data-path="skills.perception.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-perception-misc" data-path="skills.perception.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-perception-misc" data-path="skills.perception.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-perform" class="skill input-total-block clearfix" data-class-skill="false" data-cha-bonus="true">
              <p class="underline-with-input inline-with-input name">Perform</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Cha</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-perform-ranks" data-path="skills.perform.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-perform-misc" data-path="skills.perform.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-perform-misc" data-path="skills.perform.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-profession" class="skill input-total-block clearfix" data-class-skill="false" data-wis-bonus="true">
              <p class="underline-with-input inline-with-input name">Profession</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Wis</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-profession-ranks" data-path="skills.profession.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-profession-misc" data-path="skills.profession.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-profession-misc" data-path="skills.profession.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-ride" class="skill input-total-block clearfix" data-class-skill="false" data-dex-bonus="true">
              <p class="underline-with-input inline-with-input name">Ride</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Dex</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-ride-ranks" data-path="skills.ride.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-ride-misc" data-path="skills.ride.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-ride-misc" data-path="skills.ride.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-sense-motive" class="skill input-total-block clearfix" data-class-skill="false" data-wis-bonus="true">
              <p class="underline-with-input inline-with-input name">Sense Motive</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Wis</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-sense-motive-ranks" data-path="skills.sense_motive.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-sense-motive-misc" data-path="skills.sense_motive.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-sense-motive-misc" data-path="skills.sense_motive.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-spellcraft" class="skill input-total-block clearfix" data-class-skill="false" data-int-bonus="true">
              <p class="underline-with-input inline-with-input name">Spellcraft</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Int</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-spellcraft-ranks" data-path="skills.spellcraft.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-spellcraft-misc" data-path="skills.spellcraft.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-spellcraft-misc" data-path="skills.spellcraft.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-stealth" class="skill input-total-block clearfix" data-class-skill="false" data-dex-bonus="true">
              <p class="underline-with-input inline-with-input name">Stealth</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Dex</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-stealth-ranks" data-path="skills.stealth.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-stealth-misc" data-path="skills.stealth.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-stealth-misc" data-path="skills.stealth.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-survival" class="skill input-total-block clearfix" data-class-skill="false" data-wis-bonus="true">
              <p class="underline-with-input inline-with-input name">Survival</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Wis</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-survival-ranks" data-path="skills.survival.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-survival-misc" data-path="skills.survival.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-survival-misc" data-path="skills.survival.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-swim" class="skill input-total-block clearfix" data-class-skill="false" data-str-bonus="true">
              <p class="underline-with-input inline-with-input name">Swim</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Str</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-swim-ranks" data-path="skills.swim.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-swim-misc" data-path="skills.swim.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-swim-misc" data-path="skills.swim.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
            <div id="skill-use-magic-device" class="skill input-total-block clearfix" data-class-skill="false" data-cha-bonus="true">
              <p class="underline-with-input inline-with-input name">Use Magic Device</p>
              <p class="underline-with-input inline-with-input hidable  small-text stat">Cha</p>
              <p class="underline-with-input inline-with-input total"></p>
              <div class="hidable input-block ranks">
                <input class="input-field no-margin" id="skill-use-magic-device-ranks" data-path="skills.use_magic_device.ranks" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable input-block misc">
                <input class="input-field no-margin" id="skill-use-magic-device-misc" data-path="skills.use_magic_device.misc" data-modifier="true" type="number" tabindex="3">
              </div>
              <div class="hidable check-block class-skill">
                <input class="input-check no-margin" id="skill-use-magic-device-misc" data-path="skills.use_magic_device.class_skill" data-modifier="true" type="checkbox" tabindex="3">
                <span class="class-skill-icon icon-check-box-unchecked"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>