<section id="skills">
  <div class="row">
    <div class="col-xs-12">
      <h1>Skills</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="skill-list">
        <thead>
          <tr>
            <td class="name-title"></td>
            <td class="total-title">Total</td>
            <td class="ranks-title small-text">Ranks</td>
            <td class="misc-title small-text">Misc</td>
          </tr>
        </thead>
        <tbody>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="dex">Acrobatics <span class="small-text">Dex</span></p></td>
            <td><p class="total skill-value">3</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Appraise <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">13</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="4"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="cha">Bluff <span class="small-text">Cha</span></p></td>
            <td><p class="total skill-value">0</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="str">Climb <span class="small-text">Str</span></p></td>
            <td><p class="total skill-value">-1</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Craft <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">6</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="cha">Diplomacy <span class="small-text">Cha</span></p></td>
            <td><p class="total skill-value">0</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="cha">Disguise <span class="small-text">Cha</span></p></td>
            <td><p class="total skill-value">0</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="dex">Escape Artist <span class="small-text">Dex</span></p></td>
            <td><p class="total skill-value">3</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="dex">Fly <span class="small-text">Dex</span></p></td>
            <td><p class="total skill-value">3</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="wis">Heal <span class="small-text">Wis</span></p></td>
            <td><p class="total skill-value">1</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="cha">Intimidate <span class="small-text">Cha</span></p></td>
            <td><p class="total skill-value">0</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Knowledge (Arcana) <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">11</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="2"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Knowledge (Dungeoneering) <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">11</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="2"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Knowledge (Engineering) <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">10</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="1"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Knowledge (Geography) <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">10</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="1"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Knowledge (History) <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">10</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="1"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Knowledge (Local) <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">10</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="1"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Knowledge (Nature) <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">10</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="1"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Knowledge (Nobility) <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">10</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="1"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Knowledge (Planes) <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">11</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="2"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Knowledge (Religion) <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">11</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="2"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Linguistics <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">11</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="2"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="wis">Perception <span class="small-text">Wis</span></p></td>
            <td><p class="total skill-value">10</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="5"></td>
            <td><input class="misc skill-value small-text" type="number" value="4"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="cha">Perform <span class="small-text">Cha</span></p></td>
            <td><p class="total skill-value">0</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="dex">Ride <span class="small-text">Dex</span></p></td>
            <td><p class="total skill-value">3</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="wis">Sense Motive <span class="small-text">Wis</span></p></td>
            <td><p class="total skill-value">8</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="5"></td>
            <td><input class="misc skill-value small-text" type="number" value="2"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="int">Spellcraft <span class="small-text">Int</span></p></td>
            <td><p class="total skill-value">14</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="5"></td>
            <td><input class="misc skill-value small-text" type="number" value="3"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="dex">Stealth <span class="small-text">Dex</span></p></td>
            <td><p class="total skill-value">3</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="wis">Survival <span class="small-text">Wis</span></p></td>
            <td><p class="total skill-value">1</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="str">Swim <span class="small-text">Str</span></p></td>
            <td><p class="total skill-value">-1</p></td>
            <td><input class="ranks skill-value small-text" type="number"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
          <tr class="skill-details">
            <td><p class="name skill-value" data-ability="cha">Use Magic Device <span class="small-text">Cha</span></p></td>
            <td><p class="total skill-value">5</p></td>
            <td><input class="ranks skill-value small-text" type="number" value="5"></td>
            <td><input class="misc skill-value small-text" type="number"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
