<section id="spells">
  <div class="row">
    <div class="col-12">
      <h1>Spells</h1>
    </div>
  </div>
  <div class="spells-known spell-level-0" data-spell-level="0">
    <div class="row">
      <div class="col-8">
        <h2>Level 0</h2>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-0-per-day">Per Day</label>
          <input class="input-field" id="input-level-0-per-day" type="number" value="4">
        </div>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-0-dc">Base DC</label>
          <input class="input-field" id="input-level-0-dc" type="number" value="16">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="spell-list">
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Bleed</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Erase</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Daze</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Disrupt Undead</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Touch of Fatigue</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Prestidigitation</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Light</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Ghost Sound</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Spark</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Acid Splash</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Mage Hand</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Flare</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Detect Magic</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Detect Poison</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Dancing Lights</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Mending</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Arcane Mark</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Message</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Ray of Frost</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Read Magic</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Open/Close</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Resistance</a>
        </div>
      </div>
    </div>
  </div>
  <div class="spells-known spell-level-1" data-spell-level="1">
    <div class="row">
      <div class="col-8">
        <h2>Level 1</h2>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-1-per-day">Per Day</label>
          <input class="input-field" id="input-level-1-per-day" type="number" value="5">
        </div>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-1-dc">Base DC</label>
          <input class="input-field" id="input-level-1-dc" type="number" value="17">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="spell-list">
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Comprehend Languages</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Enlarge Person</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Feather Fall</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Grease</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Mage Armor</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Mount</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Obscuring Mist</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Protection from Chaos</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Protection from Evil</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Shield</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Summon Monster I</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Unseen Servant</a>
        </div>
      </div>
    </div>
  </div>
  <div class="spells-known spell-level-2" data-spell-level="2">
    <div class="row">
      <div class="col-8">
        <h2>Level 2</h2>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-2-per-day">Per Day</label>
          <input class="input-field" id="input-level-2-per-day" type="number" value="4">
        </div>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-2-dc">Base DC</label>
          <input class="input-field" id="input-level-2-dc" type="number" value="18">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="spell-list">
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Blur</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Create Pit</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Flaming Sphere</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Glitterdust</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Invisibility</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Levitate</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Mirror Image</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Resist Energy</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Stone Call</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Summon Monster II</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Web</a>
        </div>
      </div>
    </div>
  </div>
  <div class="spells-known spell-level-3" data-spell-level="3">
    <div class="row">
      <div class="col-8">
        <h2>Level 3</h2>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-3-per-day">Per Day</label>
          <input class="input-field" id="input-level-3-per-day" type="number" value="2">
        </div>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-3-dc">Base DC</label>
          <input class="input-field" id="input-level-3-dc" type="number" value="19">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="spell-list">
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Stinking Cloud</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Summon Monster III</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Spiked Pit</a>
          <a href="javascript:void(0)" class="spell-item button button-secondary button-small">Aqueous Orb</a>
        </div>
      </div>
    </div>
  </div>
  <div class="spells-known spell-level-4" data-spell-level="4">
    <div class="row">
      <div class="col-8">
        <h2>Level 4</h2>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-4-per-day">Per Day</label>
          <input class="input-field" id="input-level-4-per-day" type="number">
        </div>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-4-dc">Base DC</label>
          <input class="input-field" id="input-level-4-dc" type="number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="spell-list">
        </div>
      </div>
    </div>
  </div>
  <div class="spells-known spell-level-5" data-spell-level="5">
    <div class="row">
      <div class="col-8">
        <h2>Level 5</h2>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-5-per-day">Per Day</label>
          <input class="input-field" id="input-level-5-per-day" type="number">
        </div>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-5-dc">Base DC</label>
          <input class="input-field" id="input-level-5-dc" type="number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="spell-list">
        </div>
      </div>
    </div>
  </div>
  <div class="spells-known spell-level-6" data-spell-level="6">
    <div class="row">
      <div class="col-8">
        <h2>Level 6</h2>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-6-per-day">Per Day</label>
          <input class="input-field" id="input-level-6-per-day" type="number">
        </div>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-6-dc">Base DC</label>
          <input class="input-field" id="input-level-6-dc" type="number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="spell-list">
        </div>
      </div>
    </div>
  </div>
  <div class="spells-known spell-level-7" data-spell-level="7">
    <div class="row">
      <div class="col-8">
        <h2>Level 7</h2>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-7-per-day">Per Day</label>
          <input class="input-field" id="input-level-7-per-day" type="number">
        </div>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-7-dc">Base DC</label>
          <input class="input-field" id="input-level-7-dc" type="number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="spell-list">
        </div>
      </div>
    </div>
  </div>
  <div class="spells-known spell-level-8" data-spell-level="8">
    <div class="row">
      <div class="col-8">
        <h2>Level 8</h2>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-8-per-day">Per Day</label>
          <input class="input-field" id="input-level-8-per-day" type="number">
        </div>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-8-dc">Base DC</label>
          <input class="input-field" id="input-level-8-dc" type="number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="spell-list">
        </div>
      </div>
    </div>
  </div>
  <div class="spells-known spell-level-9" data-spell-level="9">
    <div class="row">
      <div class="col-8">
        <h2>Level 9</h2>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-9-per-day">Per Day</label>
          <input class="input-field" id="input-level-9-per-day" type="number">
        </div>
      </div>
      <div class="col-2">
        <div class="input-block">
          <label class="input-label" for="input-level-9-dc">Base DC</label>
          <input class="input-field" id="input-level-9-dc" type="number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="spell-list">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Prepared</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h3>0</h3>
    </div>
    <div class="col-11">
      <div class="prepared-list spell-level-0"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h3>1</h3>
    </div>
    <div class="col-11">
      <div class="prepared-list spell-level-1"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h3>2</h3>
    </div>
    <div class="col-11">
      <div class="prepared-list spell-level-2"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h3>3</h3>
    </div>
    <div class="col-11">
      <div class="prepared-list spell-level-3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h3>4</h3>
    </div>
    <div class="col-11">
      <div class="prepared-list spell-level-4"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h3>5</h3>
    </div>
    <div class="col-11">
      <div class="prepared-list spell-level-5"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h3>6</h3>
    </div>
    <div class="col-11">
      <div class="prepared-list spell-level-6"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h3>7</h3>
    </div>
    <div class="col-11">
      <div class="prepared-list spell-level-7"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h3>8</h3>
    </div>
    <div class="col-11">
      <div class="prepared-list spell-level-8"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h3>9</h3>
    </div>
    <div class="col-11">
      <div class="prepared-list spell-level-9"></div>
    </div>
  </div>
</section>
