<section id="spells">
  <div class="row">
    <div class="col-xs-12">
      <h1>Spells</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="spell-level" data-spell-level="0">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <h2 class="inline-with-input"><span class="hidden-xs">Level</span><span class="visible-xs-inline">L</span> 0</h2>
          </div>
          <div class="col-xs-10 col-sm-5 col-md-6">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4">
            <div class="row no-gutter">
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-known-level-0">Known</label>
                  <input class="input-field" id="input-spells-known-level-0" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-daily-level-0">Daily</label>
                  <input class="input-field" id="input-spells-daily-level-0" type="text" value="4">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spell-dc-level-0">DC</label>
                  <input class="input-field" id="input-spell-dc-level-0" type="text" value="16">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spells-known spell-level-0" data-prepare-spell-state="false" data-unprepare-spell-state="false" data-cast-spell-state="false" data-delete-spell-state="false">
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Bleed <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Erase <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Daze <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Disrupt Undead <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Touch of Fatigue <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Prestidigitation <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Light <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Ghost Sound <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Spark <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Acid Splash <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Mage Hand <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Flare <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Detect Magic <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Detect Poison <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Dancing Lights <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Mending <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Arcane Mark <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Message <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Ray of Frost <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Read Magic <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Open/Close <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Resistance <span class="spell-marks"></span></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spell-state">
              <a href="javascript:void(0)" class="prepare-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-checked"></span><span class="text">Prepare spell</span></a>
              <a href="javascript:void(0)" class="unprepare-spell button button-secondary button-small hidden"><span class="icon icon-refresh"></span><span class="text">Unprepare spell</span></a>
              <a href="javascript:void(0)" class="cast-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-unchecked"></span><span class="text">Cast spell</span></a>
              <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete spell</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="1">
        <div class="row">
        </div>
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <h2 class="inline-with-input"><span class="hidden-xs">Level</span><span class="visible-xs-inline">L</span> 1</h2>
          </div>
          <div class="col-xs-10 col-sm-5 col-md-6">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4">
            <div class="row no-gutter">
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-known-level-1">Known</label>
                  <input class="input-field" id="input-spells-known-level-1" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-daily-level-1">Daily</label>
                  <input class="input-field" id="input-spells-daily-level-1" type="text" value="5">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spell-dc-level-1">DC</label>
                  <input class="input-field" id="input-spell-dc-level-1" type="text" value="17">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spells-known spell-level-1" data-prepare-spell-state="false" data-unprepare-spell-state="false" data-cast-spell-state="false" data-delete-spell-state="false">
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Comprehend Languages <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Enlarge Person <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Feather Fall <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Grease <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Mage Armor <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Mount <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Obscuring Mist <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Protection from Chaos <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Protection from Evil <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Shield <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Summon Monster I <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Unseen Servant <span class="spell-marks"></span></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spell-state">
              <a href="javascript:void(0)" class="prepare-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-checked"></span><span class="text">Prepare spell</span></a>
              <a href="javascript:void(0)" class="unprepare-spell button button-secondary button-small hidden"><span class="icon icon-refresh"></span><span class="text">Unprepare spell</span></a>
              <a href="javascript:void(0)" class="cast-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-unchecked"></span><span class="text">Cast spell</span></a>
              <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete spell</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="2">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <h2 class="inline-with-input"><span class="hidden-xs">Level</span><span class="visible-xs-inline">L</span> 2</h2>
          </div>
          <div class="col-xs-10 col-sm-5 col-md-6">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4">
            <div class="row no-gutter">
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-known-level-2">Known</label>
                  <input class="input-field" id="input-spells-known-level-2" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-daily-level-2">Daily</label>
                  <input class="input-field" id="input-spells-daily-level-2" type="text" value="4">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spell-dc-level-2">DC</label>
                  <input class="input-field" id="input-spell-dc-level-2" type="text" value="18">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spells-known spell-level-2" data-prepare-spell-state="false" data-unprepare-spell-state="false" data-cast-spell-state="false" data-delete-spell-state="false">
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Blur <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Create Pit <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Flaming Sphere <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Glitterdust <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Invisibility <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Levitate <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Mirror Image <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Resist Energy <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Stone Call <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Summon Monster II <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Web <span class="spell-marks"></span></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spell-state">
              <a href="javascript:void(0)" class="prepare-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-checked"></span><span class="text">Prepare spell</span></a>
              <a href="javascript:void(0)" class="unprepare-spell button button-secondary button-small hidden"><span class="icon icon-refresh"></span><span class="text">Unprepare spell</span></a>
              <a href="javascript:void(0)" class="cast-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-unchecked"></span><span class="text">Cast spell</span></a>
              <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete spell</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="3">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <h2 class="inline-with-input"><span class="hidden-xs">Level</span><span class="visible-xs-inline">L</span> 3</h2>
          </div>
          <div class="col-xs-10 col-sm-5 col-md-6">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4">
            <div class="row no-gutter">
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-known-level-3">Known</label>
                  <input class="input-field" id="input-spells-known-level-3" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-daily-level-3">Daily</label>
                  <input class="input-field" id="input-spells-daily-level-3" type="text" value="2">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spell-dc-level-3">DC</label>
                  <input class="input-field" id="input-spell-dc-level-3" type="text" value="19">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spells-known spell-level-3" data-prepare-spell-state="false" data-unprepare-spell-state="false" data-cast-spell-state="false" data-delete-spell-state="false">
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Stinking Cloud <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Summon Monster III <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Spiked Pit <span class="spell-marks"></span></a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-tertiary">Aqueous Orb <span class="spell-marks"></span></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spell-state">
              <a href="javascript:void(0)" class="prepare-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-checked"></span><span class="text">Prepare spell</span></a>
              <a href="javascript:void(0)" class="unprepare-spell button button-secondary button-small hidden"><span class="icon icon-refresh"></span><span class="text">Unprepare spell</span></a>
              <a href="javascript:void(0)" class="cast-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-unchecked"></span><span class="text">Cast spell</span></a>
              <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete spell</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="4">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <h2 class="inline-with-input"><span class="hidden-xs">Level</span><span class="visible-xs-inline">L</span> 4</h2>
          </div>
          <div class="col-xs-10 col-sm-5 col-md-6">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4">
            <div class="row no-gutter">
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-known-level-4">Known</label>
                  <input class="input-field" id="input-spells-known-level-4" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-daily-level-4">Daily</label>
                  <input class="input-field" id="input-spells-daily-level-4" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spell-dc-level-4">DC</label>
                  <input class="input-field" id="input-spell-dc-level-4" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spells-known spell-level-4" data-prepare-spell-state="false" data-unprepare-spell-state="false" data-cast-spell-state="false" data-delete-spell-state="false"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spell-state">
              <a href="javascript:void(0)" class="prepare-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-checked"></span><span class="text">Prepare spell</span></a>
              <a href="javascript:void(0)" class="unprepare-spell button button-secondary button-small hidden"><span class="icon icon-refresh"></span><span class="text">Unprepare spell</span></a>
              <a href="javascript:void(0)" class="cast-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-unchecked"></span><span class="text">Cast spell</span></a>
              <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete spell</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="5">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <h2 class="inline-with-input"><span class="hidden-xs">Level</span><span class="visible-xs-inline">L</span> 5</h2>
          </div>
          <div class="col-xs-10 col-sm-5 col-md-6">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4">
            <div class="row no-gutter">
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-known-level-5">Known</label>
                  <input class="input-field" id="input-spells-known-level-5" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-daily-level-5">Daily</label>
                  <input class="input-field" id="input-spells-daily-level-5" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spell-dc-level-5">DC</label>
                  <input class="input-field" id="input-spell-dc-level-5" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spells-known spell-level-5" data-prepare-spell-state="false" data-unprepare-spell-state="false" data-cast-spell-state="false" data-delete-spell-state="false"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spell-state">
              <a href="javascript:void(0)" class="prepare-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-checked"></span><span class="text">Prepare spell</span></a>
              <a href="javascript:void(0)" class="unprepare-spell button button-secondary button-small hidden"><span class="icon icon-refresh"></span><span class="text">Unprepare spell</span></a>
              <a href="javascript:void(0)" class="cast-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-unchecked"></span><span class="text">Cast spell</span></a>
              <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete spell</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="6">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <h2 class="inline-with-input"><span class="hidden-xs">Level</span><span class="visible-xs-inline">L</span> 6</h2>
          </div>
          <div class="col-xs-10 col-sm-5 col-md-6">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4">
            <div class="row no-gutter">
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-known-level-6">Known</label>
                  <input class="input-field" id="input-spells-known-level-6" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-daily-level-6">Daily</label>
                  <input class="input-field" id="input-spells-daily-level-6" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spell-dc-level-6">DC</label>
                  <input class="input-field" id="input-spell-dc-level-6" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spells-known spell-level-6" data-prepare-spell-state="false" data-unprepare-spell-state="false" data-cast-spell-state="false" data-delete-spell-state="false"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spell-state">
              <a href="javascript:void(0)" class="prepare-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-checked"></span><span class="text">Prepare spell</span></a>
              <a href="javascript:void(0)" class="unprepare-spell button button-secondary button-small hidden"><span class="icon icon-refresh"></span><span class="text">Unprepare spell</span></a>
              <a href="javascript:void(0)" class="cast-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-unchecked"></span><span class="text">Cast spell</span></a>
              <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete spell</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="7">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <h2 class="inline-with-input"><span class="hidden-xs">Level</span><span class="visible-xs-inline">L</span> 7</h2>
          </div>
          <div class="col-xs-10 col-sm-5 col-md-6">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4">
            <div class="row no-gutter">
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-known-level-7">Known</label>
                  <input class="input-field" id="input-spells-known-level-7" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-daily-level-7">Daily</label>
                  <input class="input-field" id="input-spells-daily-level-7" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spell-dc-level-7">DC</label>
                  <input class="input-field" id="input-spell-dc-level-7" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spells-known spell-level-7" data-prepare-spell-state="false" data-unprepare-spell-state="false" data-cast-spell-state="false" data-delete-spell-state="false"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spell-state">
              <a href="javascript:void(0)" class="prepare-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-checked"></span><span class="text">Prepare spell</span></a>
              <a href="javascript:void(0)" class="unprepare-spell button button-secondary button-small hidden"><span class="icon icon-refresh"></span><span class="text">Unprepare spell</span></a>
              <a href="javascript:void(0)" class="cast-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-unchecked"></span><span class="text">Cast spell</span></a>
              <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete spell</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="8">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <h2 class="inline-with-input"><span class="hidden-xs">Level</span><span class="visible-xs-inline">L</span> 8</h2>
          </div>
          <div class="col-xs-10 col-sm-5 col-md-6">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4">
            <div class="row no-gutter">
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-known-level-8">Known</label>
                  <input class="input-field" id="input-spells-known-level-8" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-daily-level-8">Daily</label>
                  <input class="input-field" id="input-spells-daily-level-8" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spell-dc-level-8">DC</label>
                  <input class="input-field" id="input-spell-dc-level-8" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spells-known spell-level-8" data-prepare-spell-state="false" data-unprepare-spell-state="false" data-cast-spell-state="false" data-delete-spell-state="false"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spell-state">
              <a href="javascript:void(0)" class="prepare-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-checked"></span><span class="text">Prepare spell</span></a>
              <a href="javascript:void(0)" class="unprepare-spell button button-secondary button-small hidden"><span class="icon icon-refresh"></span><span class="text">Unprepare spell</span></a>
              <a href="javascript:void(0)" class="cast-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-unchecked"></span><span class="text">Cast spell</span></a>
              <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete spell</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="9">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <h2 class="inline-with-input"><span class="hidden-xs">Level</span><span class="visible-xs-inline">L</span> 9</h2>
          </div>
          <div class="col-xs-10 col-sm-5 col-md-6">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4">
            <div class="row no-gutter">
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-known-level-9">Known</label>
                  <input class="input-field" id="input-spells-known-level-9" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spells-daily-level-9">Daily</label>
                  <input class="input-field" id="input-spells-daily-level-9" type="text">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="input-block">
                  <label class="input-label" for="input-spell-dc-level-9">DC</label>
                  <input class="input-field" id="input-spell-dc-level-9" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spells-known spell-level-9" data-prepare-spell-state="false" data-unprepare-spell-state="false" data-cast-spell-state="false" data-delete-spell-state="false"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="spell-state">
              <a href="javascript:void(0)" class="prepare-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-checked"></span><span class="text">Prepare spell</span></a>
              <a href="javascript:void(0)" class="unprepare-spell button button-secondary button-small hidden"><span class="icon icon-refresh"></span><span class="text">Unprepare spell</span></a>
              <a href="javascript:void(0)" class="cast-spell button button-secondary button-small hidden"><span class="icon icon-radio-button-unchecked"></span><span class="text">Cast spell</span></a>
              <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete spell</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
