<section id="spells">
  <div class="row">
    <div class="col-12">
      <h1>Spells</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="spell-level" data-spell-level="0">
        <div class="row">
          <div class="col-1">
            <h2>0</h2>
          </div>
          <div class="col-7">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell" value="">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spells-daily-level-0">Daily</label>
              <input class="input-field" id="input-spells-daily-level-0" type="text" value="4">
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spell-dc-level-0">DC</label>
              <input class="input-field" id="input-spell-dc-level-0" type="text" value="16">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <div class="spells-known spell-level-0" data-delete-spell-state="false">
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Bleed</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Erase</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Daze</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Disrupt Undead</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Touch of Fatigue</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Prestidigitation</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Light</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Ghost Sound</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Spark</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Acid Splash</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Mage Hand</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Flare</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Detect Magic</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Detect Poison</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Dancing Lights</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Mending</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Arcane Mark</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Message</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Ray of Frost</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Read Magic</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Open/Close</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Resistance</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete a Spell</span></a>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="1">
        <div class="row">
          <div class="col-1">
            <h2>1</h2>
          </div>
          <div class="col-7">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell" value="">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spells-daily-level-1">Daily</label>
              <input class="input-field" id="input-spells-daily-level-1" type="text" value="5">
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spell-dc-level-1">DC</label>
              <input class="input-field" id="input-spell-dc-level-1" type="text" value="17">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <div class="spells-known spell-level-1" data-delete-spell-state="false">
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Comprehend Languages</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Enlarge Person</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Feather Fall</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Grease</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Mage Armor</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Mount</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Obscuring Mist</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Protection from Chaos</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Protection from Evil</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Shield</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Summon Monster I</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Unseen Servant</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete a Spell</span></a>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="2">
        <div class="row">
          <div class="col-1">
            <h2>2</h2>
          </div>
          <div class="col-7">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell" value="">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spells-daily-level-2">Daily</label>
              <input class="input-field" id="input-spells-daily-level-2" type="text" value="4">
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spell-dc-level-2">DC</label>
              <input class="input-field" id="input-spell-dc-level-2" type="text" value="18">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <div class="spells-known spell-level-2" data-delete-spell-state="false">
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Blur</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Create Pit</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Flaming Sphere</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Glitterdust</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Invisibility</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Levitate</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Mirror Image</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Resist Energy</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Stone Call</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Summon Monster II</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Web</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete a Spell</span></a>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="3">
        <div class="row">
          <div class="col-1">
            <h2>3</h2>
          </div>
          <div class="col-7">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell" value="">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spells-daily-level-3">Daily</label>
              <input class="input-field" id="input-spells-daily-level-3" type="text" value="2">
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spell-dc-level-3">DC</label>
              <input class="input-field" id="input-spell-dc-level-3" type="text" value="19">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <div class="spells-known spell-level-3" data-delete-spell-state="false">
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Stinking Cloud</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Summon Monster III</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Spiked Pit</a>
              <a href="javascript:void(0)" data-event-listener class="spell-known-item button button-secondary"><span class="icon-bookmark-outline"></span>Aqueous Orb</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete a Spell</span></a>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="4">
        <div class="row">
          <div class="col-1">
            <h2>4</h2>
          </div>
          <div class="col-7">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell" value="">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spells-daily-level-4">Daily</label>
              <input class="input-field" id="input-spells-daily-level-4" type="text" value="0">
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spell-dc-level-4">DC</label>
              <input class="input-field" id="input-spell-dc-level-4" type="text" value="20">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <div class="spells-known spell-level-4" data-delete-spell-state="false"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete a Spell</span></a>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="5">
        <div class="row">
          <div class="col-1">
            <h2>5</h2>
          </div>
          <div class="col-7">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell" value="">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spells-daily-level-5">Daily</label>
              <input class="input-field" id="input-spells-daily-level-5" type="text" value="0">
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spell-dc-level-5">DC</label>
              <input class="input-field" id="input-spell-dc-level-5" type="text" value="21">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <div class="spells-known spell-level-5" data-delete-spell-state="false"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete a Spell</span></a>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="6">
        <div class="row">
          <div class="col-1">
            <h2>6</h2>
          </div>
          <div class="col-7">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell" value="">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spells-daily-level-6">Daily</label>
              <input class="input-field" id="input-spells-daily-level-6" type="text" value="0">
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spell-dc-level-6">DC</label>
              <input class="input-field" id="input-spell-dc-level-6" type="text" value="22">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <div class="spells-known spell-level-6" data-delete-spell-state="false"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete a Spell</span></a>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="7">
        <div class="row">
          <div class="col-1">
            <h2>7</h2>
          </div>
          <div class="col-7">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell" value="">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spells-daily-level-7">Daily</label>
              <input class="input-field" id="input-spells-daily-level-7" type="text" value="0">
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spell-dc-level-7">DC</label>
              <input class="input-field" id="input-spell-dc-level-7" type="text" value="23">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <div class="spells-known spell-level-7" data-delete-spell-state="false"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete a Spell</span></a>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="8">
        <div class="row">
          <div class="col-1">
            <h2>8</h2>
          </div>
          <div class="col-7">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell" value="">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spells-daily-level-8">Daily</label>
              <input class="input-field" id="input-spells-daily-level-8" type="text" value="0">
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spell-dc-level-8">DC</label>
              <input class="input-field" id="input-spell-dc-level-8" type="text" value="24">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <div class="spells-known spell-level-8" data-delete-spell-state="false"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete a Spell</span></a>
          </div>
        </div>
      </div>
      <div class="spell-level" data-spell-level="9">
        <div class="row">
          <div class="col-1">
            <h2>9</h2>
          </div>
          <div class="col-7">
            <div class="new-spell">
              <div class="spell-name">
                <input type="text" placeholder="Add Spell" value="">
              </div>
              <a href="javascript:void(0)" class="add-spell button button-secondary button-small"><span class="icon-add"></span></a>
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spells-daily-level-9">Daily</label>
              <input class="input-field" id="input-spells-daily-level-9" type="text" value="0">
            </div>
          </div>
          <div class="col-2">
            <div class="input-block">
              <label class="input-label" for="input-spell-dc-level-9">DC</label>
              <input class="input-field" id="input-spell-dc-level-9" type="text" value="25">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <div class="spells-known spell-level-9" data-delete-spell-state="false"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-11 col-offset-1">
            <a href="javascript:void(0)" class="remove-spell button button-secondary button-small hidden"><span class="icon icon-close"></span><span class="text">Delete a Spell</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h2>0 Level Prepared</h2>
        </div>
        <div class="col-11 col-offset-1">
          <div class="spells-prepared spell-level-0 clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>1 Level Prepared</h2>
        </div>
        <div class="col-11 col-offset-1">
          <div class="spells-prepared spell-level-1 clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>2 Level Prepared</h2>
        </div>
        <div class="col-11 col-offset-1">
          <div class="spells-prepared spell-level-2 clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>3 Level Prepared</h2>
        </div>
        <div class="col-11 col-offset-1">
          <div class="spells-prepared spell-level-3 clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>4 Level Prepared</h2>
        </div>
        <div class="col-11 col-offset-1">
          <div class="spells-prepared spell-level-4 clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>5 Level Prepared</h2>
        </div>
        <div class="col-11 col-offset-1">
          <div class="spells-prepared spell-level-5 clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>6 Level Prepared</h2>
        </div>
        <div class="col-11 col-offset-1">
          <div class="spells-prepared spell-level-6 clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>7 Level Prepared</h2>
        </div>
        <div class="col-11 col-offset-1">
          <div class="spells-prepared spell-level-7 clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>8 Level Prepared</h2>
        </div>
        <div class="col-11 col-offset-1">
          <div class="spells-prepared spell-level-8 clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>9 Level Prepared</h2>
        </div>
        <div class="col-11 col-offset-1">
          <div class="spells-prepared spell-level-9 clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>