<section id="spells" class="hidable-block" data-all-hidden="false">
  <div class="section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>Spells</h1>
        </div>
        <div class="col-xs-6">
          <div class="section-controls">
            <button class="hidable-toggle button button-primary button-icon button-small"><span class="icon icon-unfold-less"></span><span class="text">Hide</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="spell-controls">
          <button class="spell-state-control prepare-spell button button-secondary button-icon"><span class="icon icon-radio-button-checked"></span>Prepare</button>
          <button class="spell-state-control unprepare-spell button button-secondary button-icon"><span class="icon icon-refresh"></span>Unprepare</button>
          <button class="spell-state-control cast-spell button button-secondary button-icon"><span class="icon icon-radio-button-unchecked"></span>Cast</button>
          <button class="spell-state-control active-spell button button-secondary button-icon"><span class="icon icon-play-arrow"></span>Active</button>
          <button class="spell-state-control remove-spell button button-secondary button-icon"><span class="icon icon-close"></span>Remove</button>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="spell-level" data-spell-level="0">
          <div class="row">
            <div class="col-xs-12">
              <h2>Level 0</h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="new-spell">
                    <input type="text" class="spell-name" placeholder="Add Spell" tabindex="3">
                    <button class="add-spell button button-tertiary button-small" tabindex="3"><span class="icon-add"></span></button>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-known-level-0">Known</label>
                    <input class="input-field" id="spells-known-level-0" data-path="spells.known.level_0" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-daily-level-0">Daily</label>
                    <input class="input-field" id="spells-daily-level-0" data-path="spells.per_day.level_0" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-dc-level-0">DC</label>
                    <input class="input-field" id="spells-dc-level-0" data-path="spells.dc.level_0" type="text" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="spells-known spell-level-0"></div>
            </div>
          </div>
        </div>
        <div class="spell-level" data-spell-level="1">
          <div class="row">
            <div class="col-xs-12">
              <h2>Level 1</h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="new-spell">
                    <input type="text" class="spell-name" placeholder="Add Spell" tabindex="3">
                    <button class="add-spell button button-tertiary button-small" tabindex="3"><span class="icon-add"></span></button>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-known-level-1">Known</label>
                    <input class="input-field" id="spells-known-level-1" data-path="spells.known.level_1" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-daily-level-1">Daily</label>
                    <input class="input-field" id="spells-daily-level-1" data-path="spells.per_day.level_1" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-dc-level-1">DC</label>
                    <input class="input-field" id="spells-dc-level-1" data-path="spells.dc.level_1" type="text" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="spells-known spell-level-1"></div>
            </div>
          </div>
        </div>
        <div class="spell-level" data-spell-level="2">
          <div class="row">
            <div class="col-xs-12">
              <h2>Level 2</h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="new-spell">
                    <input type="text" class="spell-name" placeholder="Add Spell" tabindex="3">
                    <button class="add-spell button button-tertiary button-small" tabindex="3"><span class="icon-add"></span></button>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-known-level-2">Known</label>
                    <input class="input-field" id="spells-known-level-2" data-path="spells.known.level_2" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-daily-level-2">Daily</label>
                    <input class="input-field" id="spells-daily-level-2" data-path="spells.per_day.level_2" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-dc-level-2">DC</label>
                    <input class="input-field" id="spells-dc-level-2" data-path="spells.dc.level_2" type="text" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="spells-known spell-level-2"></div>
            </div>
          </div>
        </div>
        <div class="spell-level" data-spell-level="3">
          <div class="row">
            <div class="col-xs-12">
              <h2>Level 3</h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="new-spell">
                    <input type="text" class="spell-name" placeholder="Add Spell" tabindex="3">
                    <button class="add-spell button button-tertiary button-small" tabindex="3"><span class="icon-add"></span></button>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-known-level-3">Known</label>
                    <input class="input-field" id="spells-known-level-3" data-path="spells.known.level_3" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-daily-level-3">Daily</label>
                    <input class="input-field" id="spells-daily-level-3" data-path="spells.per_day.level_3" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-dc-level-3">DC</label>
                    <input class="input-field" id="spells-dc-level-3" data-path="spells.dc.level_3" type="text" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="spells-known spell-level-3"></div>
            </div>
          </div>
        </div>
        <div class="spell-level" data-spell-level="4">
          <div class="row">
            <div class="col-xs-12">
              <h2>Level 4</h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="new-spell">
                    <input type="text" class="spell-name" placeholder="Add Spell" tabindex="3">
                    <button class="add-spell button button-tertiary button-small" tabindex="3"><span class="icon-add"></span></button>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-known-level-4">Known</label>
                    <input class="input-field" id="spells-known-level-4" data-path="spells.known.level_4" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-daily-level-4">Daily</label>
                    <input class="input-field" id="spells-daily-level-4" data-path="spells.per_day.level_4" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-dc-level-4">DC</label>
                    <input class="input-field" id="spells-dc-level-4" data-path="spells.dc.level_4" type="text" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="spells-known spell-level-4"></div>
            </div>
          </div>
        </div>
        <div class="spell-level" data-spell-level="5">
          <div class="row">
            <div class="col-xs-12">
              <h2>Level 5</h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="new-spell">
                    <input type="text" class="spell-name" placeholder="Add Spell" tabindex="3">
                    <button class="add-spell button button-tertiary button-small" tabindex="3"><span class="icon-add"></span></button>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-known-level-5">Known</label>
                    <input class="input-field" id="spells-known-level-5" data-path="spells.known.level_5" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-daily-level-5">Daily</label>
                    <input class="input-field" id="spells-daily-level-5" data-path="spells.per_day.level_5" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-dc-level-5">DC</label>
                    <input class="input-field" id="spells-dc-level-5" data-path="spells.dc.level_5" type="text" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="spells-known spell-level-5"></div>
            </div>
          </div>
        </div>
        <div class="spell-level" data-spell-level="6">
          <div class="row">
            <div class="col-xs-12">
              <h2>Level 6</h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="new-spell">
                    <input type="text" class="spell-name" placeholder="Add Spell" tabindex="3">
                    <button class="add-spell button button-tertiary button-small" tabindex="3"><span class="icon-add"></span></button>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-known-level-6">Known</label>
                    <input class="input-field" id="spells-known-level-6" data-path="spells.known.level_6" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-daily-level-6">Daily</label>
                    <input class="input-field" id="spells-daily-level-6" data-path="spells.per_day.level_6" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-dc-level-6">DC</label>
                    <input class="input-field" id="spells-dc-level-6" data-path="spells.dc.level_6" type="text" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="spells-known spell-level-6"></div>
            </div>
          </div>
        </div>
        <div class="spell-level" data-spell-level="7">
          <div class="row">
            <div class="col-xs-12">
              <h2>Level 7</h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="new-spell">
                    <input type="text" class="spell-name" placeholder="Add Spell" tabindex="3">
                    <button class="add-spell button button-tertiary button-small" tabindex="3"><span class="icon-add"></span></button>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-known-level-7">Known</label>
                    <input class="input-field" id="spells-known-level-7" data-path="spells.known.level_7" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-daily-level-7">Daily</label>
                    <input class="input-field" id="spells-daily-level-7" data-path="spells.per_day.level_7" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-dc-level-7">DC</label>
                    <input class="input-field" id="spells-dc-level-7" data-path="spells.dc.level_7" type="text" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="spells-known spell-level-7"></div>
            </div>
          </div>
        </div>
        <div class="spell-level" data-spell-level="8">
          <div class="row">
            <div class="col-xs-12">
              <h2>Level 8</h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="new-spell">
                    <input type="text" class="spell-name" placeholder="Add Spell" tabindex="3">
                    <button class="add-spell button button-tertiary button-small" tabindex="3"><span class="icon-add"></span></button>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-known-level-8">Known</label>
                    <input class="input-field" id="spells-known-level-8" data-path="spells.known.level_8" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-daily-level-8">Daily</label>
                    <input class="input-field" id="spells-daily-level-8" data-path="spells.per_day.level_8" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-dc-level-8">DC</label>
                    <input class="input-field" id="spells-dc-level-8" data-path="spells.dc.level_8" type="text" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="spells-known spell-level-8"></div>
            </div>
          </div>
        </div>
        <div class="spell-level" data-spell-level="9">
          <div class="row">
            <div class="col-xs-12">
              <h2>Level 9</h2>
            </div>
            <div class="col-xs-12 hidable">
              <div class="row no-gutter">
                <div class="col-xs-6">
                  <div class="new-spell">
                    <input type="text" class="spell-name" placeholder="Add Spell" tabindex="3">
                    <button class="add-spell button button-tertiary button-small" tabindex="3"><span class="icon-add"></span></button>
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-known-level-9">Known</label>
                    <input class="input-field" id="spells-known-level-9" data-path="spells.known.level_9" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-daily-level-9">Daily</label>
                    <input class="input-field" id="spells-daily-level-9" data-path="spells.per_day.level_9" type="text" tabindex="3">
                  </div>
                </div>
                <div class="col-xs-2">
                  <div class="input-block">
                    <label class="input-label" for="spells-dc-level-9">DC</label>
                    <input class="input-field" id="spells-dc-level-9" data-path="spells.dc.level_9" type="text" tabindex="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="spells-known spell-level-9"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>