<section id="statistics">  <div class="row">
    <div class="col-xs-12">
      <h1>Statistics</h1>
    </div>
  </div>
  <div class="stat-block row">
    <div class="col-xs-12">
      <div class="stats str row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name">Str</h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <input class="score text-center" type="number" placeholder="Score" value="8" tabindex="1">
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input">-1</p>
            </div>
            <div class="col-xs-3">
              <input class="temp-score text-center" type="number" placeholder="Temp" tabindex="2">
            </div>
            <div class="col-xs-3">
              <p class="temp-modifier text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats dex row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name">Dex</h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <input class="score text-center" type="number" placeholder="Score" value="17" tabindex="1">
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input">3</p>
            </div>
            <div class="col-xs-3">
              <input class="temp-score text-center" type="number" placeholder="Temp" value="16" tabindex="2">
            </div>
            <div class="col-xs-3">
              <p class="temp-modifier text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats con row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name">Con</h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <input class="score text-center" type="number" placeholder="Score" value="14" tabindex="1">
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input">2</p>
            </div>
            <div class="col-xs-3">
              <input class="temp-score text-center" type="number" placeholder="Temp" tabindex="2">
            </div>
            <div class="col-xs-3">
              <p class="temp-modifier text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats int row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name">Int</h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <input class="score text-center" type="number" placeholder="Score" value="21" tabindex="1">
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input">5</p>
            </div>
            <div class="col-xs-3">
              <input class="temp-score text-center" type="number" placeholder="Temp" value="23" tabindex="2">
            </div>
            <div class="col-xs-3">
              <p class="temp-modifier text-center inline-with-input underline-with-input">6</p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats wis row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name">Wis</h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <input class="score text-center" type="number" placeholder="Score" value="12" tabindex="1">
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input">1</p>
            </div>
            <div class="col-xs-3">
              <input class="temp-score text-center" type="number" placeholder="Temp" tabindex="2">
            </div>
            <div class="col-xs-3">
              <p class="temp-modifier text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats cha row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name">Cha</h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <input class="score text-center" type="number" placeholder="Score" value="10" tabindex="1">
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input">0</p>
            </div>
            <div class="col-xs-3">
              <input class="temp-score text-center" type="number" placeholder="Temp" tabindex="2">
            </div>
            <div class="col-xs-3">
              <p class="temp-modifier text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2>Feats</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div contentEditable="true" class="textarea textarea-feats" tabindex="3">Alertness, Augment Summoning, Craft Wondrous Item, Greater Spell Focus (Conjuration), Scribe Scroll, Spell Focus (Conjuration)</div>
    </div>
    <div class="col-xs-12 col-md-3">
      <h2>Traits</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div contentEditable="true" class="textarea textarea-traits" tabindex="3">Resilient</div>
    </div>
    <div class="col-xs-12 col-md-3">
      <h2>Languages</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div contentEditable="true" class="textarea textarea-languages" tabindex="3">Celestial, Common, Draconic, Dwarven, Elven, Giant, Gnome, Goblin, Orc, Sylvan, Undercommon</div>
    </div>
    <div class="col-xs-12 col-md-3">
      <h2>Special Abilities</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div contentEditable="true" class="textarea textarea-special-abilities" tabindex="3">
      <p>
        <strong>Arcane bond (Su)</strong> Rat (Bower, +2 Fortitude save), 
        <strong>Bonus feats</strong>, 
        <strong>Cantrips</strong>, 
        <strong>Arcane schools</strong> (Conjuration), 
        <strong>Teleportation sub school</strong>, 
        <strong>Opposition arcane school</strong> (Enchantment, Necromancy), 
        <strong>Elven Immunities (Ex)</strong> (+2 against enchantment spells and effects), 
        <strong>Elven Magic (Ex)</strong> (+2 caster level checks made to overcome SR. +2 Spellcraft check to identify properties of magic items), 
        <strong>Keen Senses (Ex)</strong> (+2 Perception checks), 
        <strong>Low-Light Vision (Ex)</strong> (see x2 as far as humans in low illumination), 
        <strong>Headband of Intellect Skill</strong> (Use Magic Device), 
        <strong>Linguistics Skill</strong> (Dwarven, Giant, Undercommon), 
        <strong>Resilient</strong> (+1 trait bonus on Fortitude saves), 
        <strong>Shift (Su)</strong> (Teleport 15 feet 9 times per day), 
        <strong>Summoner's Charm (Su)</strong> (+2 rounds duration for Conjuration [summoning] spells), 
        <strong>Weapon Familiarity (Ex)</strong> (Proficient with longbows [including composite longbows], longswords, rapiers, and shortbows [including composite shortbows], treat weapon with "elven" in name as a martial weapon)
      </p>
      </div>
    </div>
  </div>
</section>
