<section id="statistics">
  <div class="row">
    <div class="col-xs-12">
      <h1>Statistics</h1>
    </div>
  </div>
  <div class="stat-block">
    <div class="row">
      <div class="stats str">
        <div class="col-xs-3">
          <h2 class="name">Str</h2>
        </div>
        <div class="col-xs-9 col-sm-8 col-md-7 col-lg-6 col-xl-5">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block">
                <input class="input-field score text-center" id="statistics-stats-str-score" data-path="statistics.stats.str.score" type="number" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input"></p>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <input class="input-field score-temp text-center" id="statistics-stats-str-temp" data-path="statistics.stats.str.temp" type="number" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier-temp text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="stats dex">
        <div class="col-xs-3">
          <h2 class="name">Dex</h2>
        </div>
        <div class="col-xs-9 col-sm-8 col-md-7 col-lg-6 col-xl-5">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block">
                <input class="input-field score text-center" id="statistics-stats-dex-score" data-path="statistics.stats.dex.score" type="number" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input"></p>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <input class="input-field score-temp text-center" id="statistics-stats-dex-temp" data-path="statistics.stats.dex.temp" type="number" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier-temp text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="stats con">
        <div class="col-xs-3">
          <h2 class="name">Con</h2>
        </div>
        <div class="col-xs-9 col-sm-8 col-md-7 col-lg-6 col-xl-5">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block">
                <input class="input-field score text-center" id="statistics-stats-con-score" data-path="statistics.stats.con.score" type="number" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input"></p>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <input class="input-field score-temp text-center" id="statistics-stats-con-temp" data-path="statistics.stats.con.temp" type="number" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier-temp text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="stats int">
        <div class="col-xs-3">
          <h2 class="name">Int</h2>
        </div>
        <div class="col-xs-9 col-sm-8 col-md-7 col-lg-6 col-xl-5">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block">
                <input class="input-field score text-center" id="statistics-stats-int-score" data-path="statistics.stats.int.score" type="number" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input"></p>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <input class="input-field score-temp text-center" id="statistics-stats-int-temp" data-path="statistics.stats.int.temp" type="number" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier-temp text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="stats wis">
        <div class="col-xs-3">
          <h2 class="name">Wis</h2>
        </div>
        <div class="col-xs-9 col-sm-8 col-md-7 col-lg-6 col-xl-5">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block">
                <input class="input-field score text-center" id="statistics-stats-wis-score" data-path="statistics.stats.wis.score" type="number" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input"></p>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <input class="input-field score-temp text-center" id="statistics-stats-wis-temp" data-path="statistics.stats.wis.temp" type="number" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier-temp text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="stats cha">
        <div class="col-xs-3">
          <h2 class="name">Cha</h2>
        </div>
        <div class="col-xs-9 col-sm-8 col-md-7 col-lg-6 col-xl-5">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block">
                <input class="input-field score text-center" id="statistics-stats-cha-score" data-path="statistics.stats.cha.score" type="number" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input"></p>
            </div>
            <div class="col-xs-3">
              <div class="input-block">
                <input class="input-field score-temp text-center" id="statistics-stats-cha-temp" data-path="statistics.stats.cha.temp" type="number" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier-temp text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2 class="margin-with-input">Abilities</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12">
          <div class="textarea-block">
            <label class="textarea-label" for="statistics-feats">Feats</label>
            <div class="textarea-box" id="statistics-feats" data-path="statistics.feats" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="textarea-block">
            <label class="textarea-label" for="statistics-traits">Traits</label>
            <div class="textarea-box" id="statistics-traits" data-path="statistics.traits" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="textarea-block">
            <label class="textarea-label" for="statistics-special-abilities">Special Abilities</label>
            <div class="textarea-box" id="statistics-special-abilities" data-path="statistics.special_abilities" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="textarea-block">
            <label class="textarea-label" for="statistics-languages">Languages</label>
            <div class="textarea-box" id="statistics-languages" data-path="statistics.languages" contentEditable="true" tabindex="3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
