<section id="statistics">
  <div class="row">
    <div class="col-xs-12">
      <h1>Statistics</h1>
    </div>
  </div>
  <div class="stat-block row">
    <div class="col-xs-12">
      <div class="stats str row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name">Str</h2>
        </div>
        <div class="col-xs-9">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block" data-input-store="true">
                <input class="input-field score text-center" data-store="stat" id="stat-str-score" type="number" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input"></p>
            </div>
            <div class="col-xs-3">
              <div class="input-block" data-input-store="true">
                <input class="input-field score-temp text-center" data-store="stat" id="stat-str-temp" type="number" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier-temp text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats dex row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name">Dex</h2>
        </div>
        <div class="col-xs-9">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block" data-input-store="true">
                <input class="input-field score text-center" data-store="stat" id="stat-dex-score" type="number" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input"></p>
            </div>
            <div class="col-xs-3">
              <div class="input-block" data-input-store="true">
                <input class="input-field score-temp text-center" data-store="stat" id="stat-dex-temp" type="number" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier-temp text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats con row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name">Con</h2>
        </div>
        <div class="col-xs-9">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block" data-input-store="true">
                <input class="input-field score text-center" data-store="stat" id="stat-con-score" type="number" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input"></p>
            </div>
            <div class="col-xs-3">
              <div class="input-block" data-input-store="true">
                <input class="input-field score-temp text-center" data-store="stat" id="stat-con-temp" type="number" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier-temp text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats int row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name">Int</h2>
        </div>
        <div class="col-xs-9">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block" data-input-store="true">
                <input class="input-field score text-center" data-store="stat" id="stat-int-score" type="number" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input"></p>
            </div>
            <div class="col-xs-3">
              <div class="input-block" data-input-store="true">
                <input class="input-field score-temp text-center" data-store="stat" id="stat-int-temp" type="number" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier-temp text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats wis row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name">Wis</h2>
        </div>
        <div class="col-xs-9">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block" data-input-store="true">
                <input class="input-field score text-center" data-store="stat" id="stat-wis-score" type="number" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input"></p>
            </div>
            <div class="col-xs-3">
              <div class="input-block" data-input-store="true">
                <input class="input-field score-temp text-center" data-store="stat" id="stat-wis-temp" type="number" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier-temp text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats cha row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name">Cha</h2>
        </div>
        <div class="col-xs-9">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <div class="input-block" data-input-store="true">
                <input class="input-field score text-center" data-store="stat" id="stat-cha-score" type="number" placeholder="Score" tabindex="1">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input"></p>
            </div>
            <div class="col-xs-3">
              <div class="input-block" data-input-store="true">
                <input class="input-field score-temp text-center" data-store="stat" id="stat-cha-temp" type="number" placeholder="Temp" tabindex="2">
              </div>
            </div>
            <div class="col-xs-3">
              <p class="modifier-temp text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2>Feats</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div contentEditable="true" class="textarea-block" data-store="statistics" id="statistics-feats" tabindex="3"></div>
    </div>
    <div class="col-xs-12 col-md-3">
      <h2>Traits</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div contentEditable="true" class="textarea-block" data-store="statistics" id="statistics-traits" tabindex="3"></div>
    </div>
    <div class="col-xs-12 col-md-3">
      <h2>Languages</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div contentEditable="true" class="textarea-block" data-store="statistics" id="statistics-languages" tabindex="3"></div>
    </div>
    <div class="col-xs-12 col-md-3">
      <h2>Special Abilities</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div contentEditable="true" class="textarea-block" data-store="statistics" id="statistics-special-abilities" tabindex="3"></div>
    </div>
  </div>
</section>