<section id="statistics">
  <h1>Statistics</h1>
  <div class="stat-block row">
    <div class="col-xs-12">
      <div class="stats str row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name inline-with-input">Str</h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <input class="score text-center" type="number" placeholder="Score" value="8" tabindex="1">
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input">-1</p>
            </div>
            <div class="col-xs-3">
              <input class="temp-score text-center" type="number" placeholder="Temp" tabindex="2">
            </div>
            <div class="col-xs-3">
              <p class="temp-modifier text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats dex row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name inline-with-input">Dex</h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <input class="score text-center" type="number" placeholder="Score" value="17" tabindex="1">
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input">3</p>
            </div>
            <div class="col-xs-3">
              <input class="temp-score text-center" type="number" placeholder="Temp" tabindex="2">
            </div>
            <div class="col-xs-3">
              <p class="temp-modifier text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats con row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name inline-with-input">Con</h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <input class="score text-center" type="number" placeholder="Score" value="14" tabindex="1">
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input">2</p>
            </div>
            <div class="col-xs-3">
              <input class="temp-score text-center" type="number" placeholder="Temp" tabindex="2">
            </div>
            <div class="col-xs-3">
              <p class="temp-modifier text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats int row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name inline-with-input">Int</h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <input class="score text-center" type="number" placeholder="Score" value="21" tabindex="1">
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input">5</p>
            </div>
            <div class="col-xs-3">
              <input class="temp-score text-center" type="number" placeholder="Temp" value="23" tabindex="2">
            </div>
            <div class="col-xs-3">
              <p class="temp-modifier text-center inline-with-input underline-with-input">6</p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats wis row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name inline-with-input">Wis</h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <input class="score text-center" type="number" placeholder="Score" value="12" tabindex="1">
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input">1</p>
            </div>
            <div class="col-xs-3">
              <input class="temp-score text-center" type="number" placeholder="Temp" tabindex="2">
            </div>
            <div class="col-xs-3">
              <p class="temp-modifier text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="stats cha row">
        <div class="col-xs-3 col-sm-3">
          <h2 class="name inline-with-input">Cha</h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-6">
          <div class="row no-gutter">
            <div class="col-xs-3">
              <input class="score text-center" type="number" placeholder="Score" value="10" tabindex="1">
            </div>
            <div class="col-xs-3">
              <p class="modifier text-center inline-with-input underline-with-input">0</p>
            </div>
            <div class="col-xs-3">
              <input class="temp-score text-center" type="number" placeholder="Temp" tabindex="2">
            </div>
            <div class="col-xs-3">
              <p class="temp-modifier text-center inline-with-input underline-with-input"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h2>Feats</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div contentEditable="true" class="textarea textarea-feats" tabindex="3">Alertness, Augment Summoning, Craft Wondrous Item, Greater Spell Focus (Conjuration), Scribe Scroll, Spell Focus (Conjuration)</div>
    </div>
    <div class="col-xs-12 col-md-3">
      <h2>Traits</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div contentEditable="true" class="textarea textarea-traits" tabindex="3">Resilient You gain a +1 trait bonus on Fortitude saves.</div>
    </div>
    <div class="col-xs-12 col-md-3">
      <h2>Languages</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div contentEditable="true" class="textarea textarea-languages" tabindex="3">Celestial, Common, Draconic, Dwarven, Elven, Giant, Gnome, Goblin, Orc, Sylvan</div>
    </div>
    <div class="col-xs-12 col-md-3">
      <h2>Special Qualities</h2>
    </div>
    <div class="col-xs-12 col-md-9">
      <div contentEditable="true" class="textarea textarea-sq" tabindex="3">Arcane Bond, Bonus Feats, Cantrips, Conjuration School, Elven Immunities, Elven Magic, Enchantment Opposition School, Familiar, Keen Senses, Low-light Vision, Necromancy Opposition School, Shift, Summoner's Charm, Low-light Vision</div>
    </div>
  </div>
</section>
