<section class="style-guide style-guide-grid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Columns</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-1">
        <p class="style-guide-column">1</p>
      </div>
      <div class="col-xs-12 col-md-11">
        <p class="style-guide-column">11</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-2">
        <p class="style-guide-column">2</p>
      </div>
      <div class="col-xs-12 col-md-10">
        <p class="style-guide-column">10</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <p class="style-guide-column">3</p>
      </div>
      <div class="col-xs-12 col-md-9">
        <p class="style-guide-column">9</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p class="style-guide-column">4</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <p class="style-guide-column">8</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <p class="style-guide-column">5</p>
      </div>
      <div class="col-xs-12 col-md-7">
        <p class="style-guide-column">7</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p class="style-guide-column">6</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <p class="style-guide-column">6</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <p class="style-guide-column">7</p>
      </div>
      <div class="col-xs-12 col-md-5">
        <p class="style-guide-column">5</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <p class="style-guide-column">8</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <p class="style-guide-column">4</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <p class="style-guide-column">9</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <p class="style-guide-column">3</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10">
        <p class="style-guide-column">10</p>
      </div>
      <div class="col-xs-12 col-md-2">
        <p class="style-guide-column">2</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-11">
        <p class="style-guide-column">11</p>
      </div>
      <div class="col-xs-12 col-md-1">
        <p class="style-guide-column">1</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <p class="style-guide-column">12</p>
      </div>
    </div>
  </div>
</section>
<section class="style-guide style-guide-buttons">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Buttons</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="button button-primary">Button Primary</button>
        <button class="button button-secondary">Button Secondary</button>
        <button class="button button-tertiary">Button Tertiary</button>
        <button class="button button-quaternary">Button Quaternary</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="button button-primary button-small">Button Primary</button>
        <button class="button button-secondary button-small">Button Secondary</button>
        <button class="button button-tertiary button-small">Button Tertiary</button>
        <button class="button button-quaternary button-small">Button Quaternary</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="button button-primary button-large">Button Primary</button>
        <button class="button button-secondary button-large">Button Secondary</button>
        <button class="button button-tertiary button-large">Button Tertiary</button>
        <button class="button button-quaternary button-large">Button Quaternary</button>
      </div>
    </div>
  </div>
</section>
