<div class="l-style-guide-section-wrapper">
  {{> section }}
  {{> tabs }}
  {{> edit }}
  {{> colors }}
  {{> columns }}
  {{> buttons }}
  {{> typography }}
  {{> forms }}
  {{> icons }}
  {{> display }}
</div>
