<section id="utilities">
  <div class="row">
    <div class="col-xs-12">
      <a href="javascript:void(0)" class="button button-primary button-small clear-local-storage"><span class="icon-clear-all"></span>Clear local storage</a>
      <a href="javascript:void(0)" class="button button-primary button-small toggle-fullscreen"><span class="icon-fullscreen"></span>Fullscreen</a>
    </div>
  </div>
</section>
