<section id="utilities">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="javascript:void(0)" class="button button-primary clear-local-storage"><span class="icon-clear-all"></span>Clear local storage</a>
        <a href="javascript:void(0)" class="button button-primary toggle-fullscreen"><span class="icon-fullscreen"></span>Fullscreen</a>
      </div>
    </div>
  </div>
</section>
