.m-card {
  background-color: $white;
  position: relative;
  box-sizing: border-box;
  box-shadow: $shadow-small;
  border-radius: $border-radius-medium;
  overflow: hidden;
  width: 100%;
}
.m-card-head {
  position: relative;
  background-color: $secondary-color-06;
}
.m-card-head-controls {
  position: relative;
  padding: 0 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.m-card-title {
  font-family: $open-sans-semi-bold;
  color: $white;
  font-size: $font-size-100;
  padding: 0.3em 1em 0.3em 0;
  flex: 1 0 auto;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:not(:only-child):not(:last-child) {
    margin: 0;
  }
}
.m-card-title-icon {
  margin-right: 1em;
}
.m-card-button {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0.3em 1em;
  font-size: $font-size-100;
  color: $white;
  z-index: 2;
  transition: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  [class*=" icon-"],
  [class^="icon-"] {}
  &:link,
  &:visited {
    color: $white;
  }
  &:focus,
  &:hover {
    color: $white;
  }
  &.is-active,
  &:active {
    color: $white;
  }
}
.m-card-body {
  padding: 2em 1em;
  position: relative;
}
.m-card-body-controls {
  margin: 1em 0;
  box-sizing: border-box;
}
.is-pinned {
  .m-card-body-controls {
    margin-bottom: 0;
    position: fixed;
    top: 5.5em;
    z-index: $card-controls;
    animation: card-body-controls-down-xs ease-in-out 0.6s;
    box-shadow: $shadow-large;
  }
}
.is-minimise {
  .m-card-head {
    background-color: $gray-08;
  }
  .m-card-body {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    overflow: hidden;
  }
}
.is-night-mode {
  .m-card {
    background-color: $gray-03;
  }
}
.is-display-mode {
  .m-card-head {
    background-color: $primary-color-06;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {
  .is-pinned {
    .m-card-body-controls {
      top: 1em;
      animation: card-body-controls-down-lg ease-in-out 0.5s;
    }
  }
}
@media (min-width: $screen-xl) {}
