.m-card {
  background-color: $white;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.m-card-head {
  position: relative;
  background-color: $secondary-color-06;
  transition: background-color $transition-ease-medium;
}
.m-card-head-controls {
  margin: 0;
  box-sizing: border-box;
  .m-card-title {
    flex: 1 1 auto;
    text-align: left;
    justify-content: flex-start;
  }
  .button {
    padding-left: 1.5em;
    padding-right: 1.5em;
    line-height: 2.5;
    [class*=" icon-"],
    [class^="icon-"] {
      font-size: 1.4em;
    }
  }
}
.m-card-head-controls-button-group {
  margin-bottom: 0;
  .button {
    font-size: $font-size-125;
  }
}
.m-card-body {
  padding: 2em;
  position: relative;
}
.m-card-body-controls {
  margin: 1em 0;
  box-sizing: border-box;
}
.is-pinned {
  .m-card-body-controls {
    margin-bottom: 0;
    position: fixed;
    top: 5.5em;
    z-index: $card-controls;
    animation: card-body-controls-down-xs ease-in-out 0.6s;
    box-shadow: $shadow-large;
  }
}
.is-minimise {
  .m-card-head {
    background-color: $secondary-color-05;
  }
  .m-card-body {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    overflow: hidden;
  }
}
.is-night-mode {
  .m-card {
    background-color: $gray-03;
  }
}
.is-display-mode {
  .m-card-head {
    background-color: $primary-color-06;
  }
  &.is-minimise {
    .m-card-head {
      background-color: $primary-color-05;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-card {
    border-radius: $border-radius-large;
    box-shadow: $shadow-small;
  }
  .m-card-head {
    border-radius: $border-radius-large $border-radius-large 0 0;
  }
  .is-minimise {
    .m-card-head {
      border-radius: $border-radius-large;
    }
  }
}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {
  .is-pinned {
    .m-card-body-controls {
      top: 1em;
      animation: card-body-controls-down-lg ease-in-out 0.5s;
    }
  }
}
@media (min-width: $screen-xl) {}
