.m-card {
  background-color: $white;
  position: relative;
  z-index: $body;
  box-sizing: border-box;
  width: 100%;
}
.m-card-head {
  position: relative;
}
.m-card-body {
  padding: 2em 1em;
  position: relative;
}
.m-card-body-dark {
  background-color: $gray-20;
  padding: 2em 1em;
  position: relative;
}
.m-card-title {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
  color: $secondary-color-08;
  border-top: 0.4em solid $secondary-color-08;
  padding: 2em 2em 0 2em;
  margin: 0;
}
.m-card-link-self {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &.is-active,
  &:active,
  &:focus,
  &:hover,
  &:link,
  &:visited {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
  }
  &:not(:last-child) {
    margin-bottom: 0;
  }
}
.m-card-link-toggle {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: 0;
  margin: 0;
  padding: 1.4em 1em 1em 1em;
  color: $secondary-color-08;
  z-index: 2;
  [class*=" icon-"],
  [class^="icon-"] {
    font-size: $font-size-100;
    line-height: $line-height-160;
    &:before {
    }
  }
  &:link,
  &:visited {
    background-color: transparent;
    color: $secondary-color-08;
  }
  &:focus,
  &:hover {
    background-color: transparent;
    color: $secondary-color-06;
  }
  &.is-active,
  &:active {
    background-color: transparent;
    color: $secondary-color-04;
  }
}
.is-night-mode {
  .m-card {
    background-color: $gray-03;
  }
  .m-card-body-dark {
    background-color: $secondary-color-02;
  }
  .m-card-link-self {
    &.is-active,
    &:active,
    &:focus,
    &:hover,
    &:link,
    &:visited {
      background-color: transparent;
      border-color: transparent;
      color: transparent;
    }
  }
  .m-card-link-toggle {
    background-color: transparent;
    color: $secondary-color-08;
    &:link,
    &:visited {
      background-color: transparent;
      color: $secondary-color-08;
    }
    &:focus,
    &:hover {
      background-color: transparent;
      color: $secondary-color-06;
    }
    &.is-active,
    &:active {
      background-color: transparent;
      color: $secondary-color-04;
    }
  }
}
.is-display-mode {
  .m-card-title {
    color: $primary-color-08;
    border-color: $primary-color-08;
  }
  .m-card-link-toggle {
    background-color: transparent;
    color: $primary-color-08;
    &:link,
    &:visited {
      background-color: transparent;
      color: $primary-color-08;
    }
    &:focus,
    &:hover {
      background-color: transparent;
      color: $primary-color-06;
    }
    &.is-active,
    &:active {
      background-color: transparent;
      color: $primary-color-04;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
