.m-card {
  background-color: $white;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  transition: background-color $transition-ease-medium;
  &:hover {
    .m-card-head {
      background-color: $secondary-color-06;
    }
    .m-card-tabs {
      background-color: $secondary-color-05;
    }
  }
}
.m-card-head {
  background-color: $secondary-color-05;
  position: relative;
  transition: background-color $transition-ease-medium;
}
.m-card-controls {
  margin: 0;
  box-sizing: border-box;
  .m-card-title {
    flex: 1 1 auto;
    text-align: left;
    justify-content: flex-start;
    position: relative;
  }
  .button {
    padding: 0 1.5em;
    line-height: 2.5;
    [class*=" icon-"],
    [class^="icon-"] {
      font-size: 1.2em;
    }
  }
}
.m-card-tabs {
  background-color: $secondary-color-04;
  transition: background-color $transition-ease-medium;
}
.m-card-body {
  padding: 2em;
  position: relative;
}
.is-display-mode {
  .m-card {
    &:hover {
      .m-card-head {
        background-color: $primary-color-06;
      }
    }
  }
  .m-card-head {
    background-color: $primary-color-05;
  }
}
.is-minimise {
  .m-card {
    background-color: transparent;
    box-shadow: none;
  }
  .m-card-body {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .m-card-head {
    background-color: $secondary-color-04;
  }
  &.is-display-mode {
    .m-card-head {
      background-color: $primary-color-04;
    }
  }
}
.is-night-mode {
  .m-card {
    background-color: $gray-02;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-card {
    border-radius: $border-radius-large;
    box-shadow: $shadow-small;
  }
  .m-card-head {
    border-radius: $border-radius-large $border-radius-large 0 0;
  }
  .is-minimise {
    .m-card {
      &:hover {
        .m-card-head,
        .m-card-tabs {
          background-color: $gray-17;
        }
      }
    }
    .m-card-head {
      background-color: $gray-18;
      border-radius: $border-radius-large;
      .button {
        color: $gray-05;
      }
    }
    &.is-display-mode {
      .m-card-head {
        background-color: $gray-18;
        .button {
          color: $gray-05;
        }
      }
    }
  }
  .is-night-mode {
    .m-card {
      box-shadow: none;
    }
    .is-minimise {
      .m-card {
        &:hover {
          .m-card-head,
          .m-card-tabs {
            background-color: $gray-03;
          }
        }
      }
      .m-card-head {
        background-color: $gray-02;
        .button {
          color: $white;
        }
      }
      &.is-display-mode {
        .m-card-head {
          background-color: $gray-02;
          .button {
            color: $white;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-md) {
  .m-card-controls {
    .button {
      line-height: 3;
      [class*=" icon-"],
      [class^="icon-"] {
        font-size: 1.4em;
      }
    }
  }
}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {
  .m-card {
    box-shadow: none;
    &:hover {
      .m-card-head {
        background-color: transparent;
      }
      .m-card-tabs {
        background-color: transparent;
      }
    }
  }
  .m-card-head {
    background-color: transparent;
    border-bottom: 2px solid $gray-02;
  }
  .m-card-body {
    padding: 2em 0;
  }
  .m-card-controls {
    .button {
      display: none;
    }
    .m-card-title {
      padding-left: 0;
      padding-right: 0;
      color: $black;
      display: block;
      [class*=" icon-"],
      [class^="icon-"] {
        display: none;
      }
    }
  }
  .is-display-mode {
    .m-card {
      &:hover {
        .m-card-head {
          background-color: transparent;
        }
      }
    }
    .m-card-head {
      background-color: transparent;
    }
  }
  .is-minimise {
    display: none;
  }
}
