.m-card {
  background-color: $white;
  position: relative;
  // z-index: $body;
  box-sizing: border-box;
  box-shadow: $shadow-small;
  border-radius: $border-radius-medium;
  overflow: hidden;
  width: 100%;
}
.m-card-head {
  position: relative;
}
.m-card-head-controls {
  border-top: 0.4em solid $secondary-color-08;
  // background-color: $secondary-color-alpha-20;
  position: relative;
  padding: 0 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.m-card-title {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
  color: $secondary-color-08;
  padding: 1em;
  flex: 1 0 auto;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:not(:only-child):not(:last-child) {
    margin: 0;
  }
}
.m-card-display-toggle {
  background-color: transparent;
  margin: 0;
  border: 0;
  margin: 0;
  padding: 1em;
  color: $secondary-color-08;
  font-family: $open-sans-semi-bold;
  z-index: 2;
  [class*=" icon-"],
  [class^="icon-"] {
    font-size: $font-size-100;
    line-height: $line-height-160;
    &:before {}
  }
  &:link,
  &:visited {
    background-color: transparent;
    color: $secondary-color-08;
  }
  &:focus,
  &:hover {
    background-color: transparent;
    color: $secondary-color-06;
  }
  &.is-active,
  &:active {
    background-color: transparent;
    color: $secondary-color-04;
  }
}
.m-card-body {
  padding: 2em 1em;
  position: relative;
}
.m-card-body-controls {
  margin: 1em 0;
  box-sizing: border-box;
}
.is-pinned {
  .m-card-body-controls {
    margin-bottom: 0;
    position: fixed;
    top: 5.5em;
    z-index: $card-controls;
    animation: card-body-controls-down-xs ease-in-out 0.6s;
    box-shadow: $shadow-large;
  }
}
.is-night-mode {
  .m-card {
    background-color: $gray-03;
  }
  .m-card-body-dark {
    background-color: $secondary-color-02;
  }
  .m-card-link-self {
    &.is-active,
    &:active,
    &:focus,
    &:hover,
    &:link,
    &:visited {
      background-color: transparent;
      border-color: transparent;
      color: transparent;
    }
  }
  .m-card-display-toggle {
    background-color: transparent;
    color: $secondary-color-08;
    &:link,
    &:visited {
      background-color: transparent;
      color: $secondary-color-08;
    }
    &:focus,
    &:hover {
      background-color: transparent;
      color: $secondary-color-06;
    }
    &.is-active,
    &:active {
      background-color: transparent;
      color: $secondary-color-04;
    }
  }
}
.is-display-mode {
  .m-card-head-controls {
    border-color: $primary-color-08;
    // background-color: $primary-color-alpha-20;
  }
  .m-card-title {
    color: $primary-color-08;
  }
  .m-card-display-toggle {
    background-color: transparent;
    color: $primary-color-08;
    &:link,
    &:visited {
      background-color: transparent;
      color: $primary-color-08;
    }
    &:focus,
    &:hover {
      background-color: transparent;
      color: $primary-color-06;
    }
    &.is-active,
    &:active {
      background-color: transparent;
      color: $primary-color-04;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {
  .is-pinned {
    .m-card-body-controls {
      top: 1em;
      animation: card-body-controls-down-lg ease-in-out 0.5s;
    }
  }
}
@media (min-width: $screen-xl) {}
