.m-card {
  background-color: $white;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.m-card-head {
  position: relative;
  background-color: $secondary-color-06;
  border: $border;
  transition: background-color $transition-ease-medium;
}
.m-card-head-controls {
  margin: 0;
  box-sizing: border-box;
  .m-card-title {
    flex: 1 1 auto;
    text-align: left;
    justify-content: flex-start;
  }
  .button {
    padding-left: 1.5em;
    padding-right: 1.5em;
    line-height: 2.5;
    [class*=" icon-"],
    [class^="icon-"] {
      font-size: 1.4em;
    }
  }
}
.m-card-head-controls-button-group {
  margin-bottom: 0;
  .button {
    font-size: $font-size-125;
  }
}
.m-card-body {
  padding: 2em;
  position: relative;
}
.is-minimise {
  .m-card-head {
    background-color: $secondary-color-05;
  }
  .m-card-body {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
.is-night-mode {
  .m-card {
    background-color: $gray-03;
  }
}
.is-display-mode {
  .m-card-head {
    background-color: $primary-color-06;
  }
  &.is-minimise {
    .m-card-head {
      background-color: $primary-color-05;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-card {
    border-radius: $border-radius-large;
    box-shadow: $shadow-small;
  }
  .m-card-head {
    border-radius: $border-radius-large $border-radius-large 0 0;
  }
  .is-minimise {
    .m-card {
      box-shadow: none;
    }
    .m-card-head {
      background-color: $gray-17;
      border-color: $gray-15;
      border-radius: $border-radius-large;
      .button {
        color: $gray-08;
      }
    }
  }
  .is-night-mode {
    .is-minimise {
      .m-card-head {
        background-color: $gray-05;
        border-color: $gray-07;
        .button {
          color: $gray-14;
        }
      }
    }
    .m-card {
      background-color: $gray-03;
    }
  }
  .is-display-mode {
    .m-card-head {
      background-color: $primary-color-06;
    }
  }
  .is-minimise {
    &.is-display-mode {
      .m-card-head {
        background-color: $gray-17;
        border-color: $gray-15;
        .button {
          color: $gray-08;
        }
      }
    }
  }
  .is-night-mode {
    .is-minimise {
      &.is-display-mode {
        .m-card-head {
          background-color: $gray-05;
          border-color: $gray-07;
          .button {
            color: $gray-14;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {
  .m-card {
    box-shadow: none;
  }
  .m-card-head {
    background-color: transparent;
    border-bottom: 2px solid $gray-02;
  }
  .m-card-body {
    padding: 2em 0;
  }
  .m-card-head-controls {
    .button {
      display: none;
    }
    .m-card-title {
      padding-left: 0;
      padding-right: 0;
      color: $black;
      display: block;
      [class*=" icon-"],
      [class^="icon-"] {
        display: none;
      }
    }
  }
  .is-display-mode {
    .m-card-head {
      background-color: transparent;
    }
  }
  .is-minimise {
    display: none;
  }
}
