.m-character-image-preview {
  background-color: $gray-19;
  background-color: $secondary-color-20;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  min-height: 20em;
  width: 100%;
  font-size: $font-size-root-100;
  box-sizing: border-box;
  border-radius: $border-radius-medium;
  border: $border;
  border-color: $gray-16;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.m-character-image {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.m-character-image-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.m-character-image-label {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  display: flex;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {}
