.m-character-select {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 1;
  &.is-open {
    &:after {
      // transform: rotate(180deg);
    }
  }
}
.m-character-select-current-title {
  margin: 0;
  padding: 0 1em;
  font-size: 1em;
  // font-family: $open-sans-bold;
  color: $white;
  line-height: 3em;
  flex: 0 0 auto;
  z-index: 2;
  transition: $transition-ease-fast;
  cursor: pointer;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
  &:hover {
    background-color: $dark-alpha-19;
  }
  &:active,
  &:focus {
    background-color: $dark-alpha-16;
  }
}
.m-character-select-current-arrow {
  position: absolute;
  top: 55%;
  right: 3em;
  width: 0;
  height: 0;
  cursor: pointer;
  transition: $transition-ease-fast;
  &:after,
  &:before {
    content: "";
    background-color: $white;
    position: absolute;
    width: 0.7em;
    height: 3px;
    top: 0;
    border-radius: 3px;
    z-index: 2;
    transition: $transition-ease-fast;
  }
  &:before {
    right: -1px;
    transform-origin: top right;
    transform: rotate(45deg) translateY(-50%);
  }
  &:after {
    left: -1px;
    transform-origin: top left;
    transform: rotate(-45deg) translateY(-50%);
  }
}
.m-character-select-list {
  background-color: $white;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 3;
  box-shadow: $shadow-small;
  list-style-type: none;
  display: none;
  li:not(:last-child) {
    margin-bottom: 0;
  }
}
.m-character-select-index {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.m-character-select-item {
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: $font-size-100;
  line-height: $line-height-160;
  font-family: $open-sans-semi-bold;
  display: block;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  input {
    &[type="checkbox"],
    &[type="radio"] {
      top: 50%;
      transform: translate(-50%, -50%);
      & + label {
        height: 3.5em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        &:before {
          flex: 0 0 20%;
          font-size: 1.4em;
          line-height: 1;
          display: inline-block;
          color: $secondary-color-08;
          text-align: center;
          transition: none;
        }
        .m-character-select-details {
          flex: 0 0 80%;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          width: 80%;
        }
        .m-character-select-class-level,
        .m-character-select-name {
          white-space: nowrap;
          display: inline-block;
          line-height: $line-height-160;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .m-character-select-class-level {
          color: $secondary-color-08;
          font-size: $font-size-075;
        }
        .m-character-select-name {
          color: $base-color;
          font-family: $open-sans-semi-bold;
          flex: 1 0 100%;
        }
        .m-character-select-class {
          margin-right: $font-size-050;
        }
      }
      &:hover {
        & + label {
          background-color: $gray-19;
          color: $base-color;
        }
      }
      &:focus {
        & + label {
          background-color: $gray-19;
        }
      }
      &:active {
        & + label {
          background-color: $primary-color-06;
          color: $white;
          &:before {
            color: $white;
          }
          .m-character-select-class-level {
            color: $primary-color-17;
          }
          .m-character-select-name {
            color: $white;
          }
        }
      }
      &:checked {
        & + label {
          background-color: $primary-color-10;
          color: $white;
          &:before {
            color: $white;
          }
          .m-character-select-class-level {
            color: $primary-color-17;
          }
          .m-character-select-name {
            color: $white;
          }
        }
        &:focus,
        &:hover {
          & + label {
            background-color: $primary-color-08;
            color: $white;
            &:before {
              color: $white;
            }
          }
        }
        &:active {
          & + label {
            background-color: $primary-color-06;
            color: $white;
            &:before {
              color: $white;
            }
            .m-character-select-class-level,
            .m-character-select-name {
              color: $white;
            }
          }
        }
      }
    }
  }
  &:not(:last-child):not(:only-child) {
    margin-bottom: 0;
  }
}
.is-open {
  .m-character-select-current {
    background-color: $dark-alpha-16;
  }
  .m-character-select-list {
    display: block;
  }
  .m-character-select-current-arrow {
    top: 45%;
    &:before {
      transform: rotate(-45deg) translateY(-50%);
    }
    &:after {
      transform: rotate(45deg) translateY(-50%);
    }
  }
}
