.m-character-image-preview {
  background-color: $gray-20;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid $secondary-color-06;
  border-radius: $border-radius-large;
  margin: 0 auto;
  width: 18em;
  height: 18em;
  max-width: 70vw;
  max-height: 70vw;
  border-radius: 50%;
  font-size: $font-size-root-100;
  box-sizing: border-box;
}
.m-character-image {
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.m-character-image-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.m-character-image-label {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  display: flex;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {}
