.m-character-select-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  font-size: $font-size-root-100;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  z-index: 1;
}
.m-character-select-control {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  flex: 0 0 50%;
  z-index: 2;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-character-select-control-item {
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-character-select-button {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  color: $light-alpha-08;
  transition: color $transition-ease-fast;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  [class*=" icon-"],
  [class^="icon-"] {
    font-size: $font-size-150;
  }
  &:link,
  &:visited {
    color: $light-alpha-08;
  }
  &:focus,
  &:hover {
    background-color: transparent;
    color: $white;
    text-decoration: none;
    outline: 0;
  }
  &:active {
    color: $white;
  }
}
.m-character-select {
  background-color: $white;
  padding: 1em 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  // width: calc(100% - 8em);
  width: 100%;
  max-height: calc(100vh - 3em);
  font-size: $font-size-root-100;
  // border-radius: 0 0 $border-radius-large $border-radius-large;
  overflow: scroll;
  transform: translate(0, calc(-100vh + 3em));
  transition: transform $transition-ease-medium;
  z-index: $character-select;
  box-sizing: border-box;
  &.is-open {
    transform: translate(0, 3em);
  }
}
.m-character-select-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-character-select-list-item {
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: $font-size-100;
  line-height: $line-height-160;
  font-family: $open-sans-semi-bold;
  display: block;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  input {
    &[type="checkbox"],
    &[type="radio"] {
      top: 50%;
      transform: translate(-50%, -50%);
      & + label {
        height: 3em;
        display: block;
        &:before {
          display: none;
        }
        .m-character-select-list-item-details {
          margin: 0 2em;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          width: calc(100% - 4em);
          height: 100%;
          box-sizing: border-box;
        }
        .m-character-select-list-item-class-level,
        .m-character-select-list-item-name {
          white-space: nowrap;
          display: inline-block;
          line-height: $line-height-160;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .m-character-select-list-item-class-level {
          color: $secondary-color-08;
          font-size: $font-size-075;
          flex: 0 1 auto;
          min-width: 3em;
        }
        .m-character-select-list-item-name {
          color: $base-color;
          font-family: $open-sans-semi-bold;
          flex: 0 1 auto;
          margin-right: 1em;
        }
      }
      &:hover {
        & + label {
          background-color: $gray-19;
          color: $base-color;
        }
      }
      &:focus {
        & + label {
          background-color: $gray-19;
        }
      }
      &:active {
        & + label {
          background-color: $primary-color-06;
          color: $white;
          .m-character-select-list-item-class-level {
            color: $primary-color-17;
          }
          .m-character-select-list-item-name {
            color: $white;
          }
        }
      }
      &:checked {
        & + label {
          background-color: $primary-color-10;
          color: $white;
          .m-character-select-list-item-class-level {
            color: $primary-color-17;
          }
          .m-character-select-list-item-name {
            color: $white;
          }
        }
        &:focus,
        &:hover {
          & + label {
            background-color: $primary-color-08;
            color: $white;
          }
        }
        &:active {
          & + label {
            background-color: $primary-color-06;
            color: $white;
            .m-character-select-list-item-class-level,
            .m-character-select-list-item-name {
              color: $white;
            }
          }
        }
      }
    }
  }
  &:not(:last-child):not(:only-child) {
    margin-bottom: 0;
  }
}
.m-character-select-toggle {
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
  z-index: 2;
  transition: $transition-ease-fast;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:hover {
    background-color: $dark-alpha-18;
  }
  &:focus {
    outline: none;
    background-color: $dark-alpha-16;
  }
  &.is-active {
    background-color: $dark-alpha-14;
  }
}
.m-character-select-name {
  margin: 0;
  padding: 0 4em 0 1em;
  font-size: 1em;
  height: 3em;
  flex: 0 0 auto;
  z-index: 2;
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-character-select-name-text,
.m-character-select-name-title {
  font-size: $font-size-075;
  line-height: $line-height-160;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-character-select-name-title {
  margin: 0 1em 0 0;
  color: $light-alpha-06;
  flex: 0 0 auto;
}
.m-character-select-name-text {
  font-family: $open-sans-bold;
  color: $white;
}
.m-character-select-arrow {
  position: absolute;
  top: 60%;
  right: 2em;
  width: 0;
  height: 0;
  cursor: pointer;
  transition: $transition-ease-fast;
  &:after,
  &:before {
    content: "";
    background-color: $white;
    position: absolute;
    width: 0.7em;
    height: 2px;
    top: 0;
    border-radius: 3px;
    z-index: 2;
    transition: $transition-ease-fast;
  }
  &:before {
    right: -0.5px;
    transform-origin: top right;
    transform: rotate(45deg) translateY(-50%);
  }
  &:after {
    left: -0.5px;
    transform-origin: top left;
    transform: rotate(-45deg) translateY(-50%);
  }
}
.is-active {
  .m-character-select {
    background-color: $dark-alpha-16;
  }
  .m-character-select-arrow {
    top: 40%;
    &:before {
      transform: rotate(-45deg) translateY(-50%);
    }
    &:after {
      transform: rotate(45deg) translateY(-50%);
    }
  }
}
.is-night-mode {
  .m-character-select-list-item {
    input {
      &[type="checkbox"],
      &[type="radio"] {
        & + label {
          &:before {
            color: $secondary-color-12;
          }
          .m-character-select-list-item-name {
            color: $white;
          }
          .m-character-select-list-item-class-level {
            color: $secondary-color-12;
          }
        }
        &:hover {
          & + label {
            background-color: $gray-06;
          }
        }
        &:focus {
          & + label {
            background-color: $gray-19;
          }
        }
        &:checked {
          & + label {
            &:before {
              color: $white;
            }
            .m-character-select-list-item-class-level {
              color: $primary-color-17;
            }
            .m-character-select-list-item-name {
              color: $white;
            }
          }
          &:focus,
          &:hover {
            & + label {
              background-color: $primary-color-08;
            }
          }
        }
      }
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-character-select-list-item {
    input {
      &[type="checkbox"],
      &[type="radio"] {
        & + label {
          height: 4em;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          overflow: hidden;
          &:before {
            flex: 0 0 20%;
            font-size: 1.4em;
            line-height: 1;
            display: inline-block;
            color: $secondary-color-08;
            text-align: center;
            transition: none;
          }
          .m-character-select-list-item-details {
            margin: 0 1em 0 0;
            width: calc(80% - 1em);
          }
          // .m-character-select-list-item-details {
          //   margin: 0;
          //   flex: 0 0 auto;
          //   flex-flow: column wrap;
          //   align-items: flex-start;
          //   width: calc(80% - 1em);
          //   height: initial;
          // }
          // .m-character-select-list-item-class-level,
          // .m-character-select-list-item-name {
          //   max-width: 100%;
          //   flex: 1 0 100%;
          // }
          // .m-character-select-list-item-name {
          //   margin-right: 0;
          // }
        }
        &:active {
          & + label {
            &:before {
              color: $white;
            }
          }
        }
        &:checked {
          & + label {
            &:before {
              color: $white;
            }
          }
          &:focus,
          &:hover {
            & + label {
              &:before {
                color: $white;
              }
            }
          }
          &:active {
            & + label {
              &:before {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: $screen-md) {
  .m-character-select {
    left: inherit;
    right: 0;
    max-width: 50vw;
  }
}
@media (min-width: $screen-lg) {
  .m-character-select {
    max-width: 40vw;
  }
}
@media (min-width: $screen-xl) {
  .m-character-select {
    max-width: 30vw;
  }
}
