.m-clone-block {
  .m-clone-block-target {
    .m-clone {
      transition: all $transition-ease-extra-fast;
      position: relative;
      .textarea,
      textarea {
        transition: background-color $transition-ease-extra-fast, border $transition-ease-extra-fast, margin $transition-ease-extra-fast, padding $transition-ease-extra-fast;
      }
      input {
        &[type="email"],
        &[type="number"],
        &[type="password"],
        &[type="search"],
        &[type="tel"],
        &[type="text"] {
          transition: background-color $transition-ease-extra-fast, border $transition-ease-extra-fast, margin $transition-ease-extra-fast, padding $transition-ease-extra-fast;
        }
      }
      label {
        transition: all $transition-ease-extra-fast;
      }
      .m-clone-block-content {
        margin: 0;
        padding: 0;
        border-radius: 0;
        position: relative;
        z-index: 1;
        transition: all $transition-ease-extra-fast;
        .m-clone-flash {
          background-color: $primary-color-10;
          position: absolute;
          display: block;
          top: 1em;
          left: 0;
          width: 0;
          height: 0;
          border-radius: 100%;
          border: 0 solid transparent;
          transform: translate(-50%, -50%);
          z-index: 3;
          &:before {
            content: "";
            background-color: $primary-color-alpha-01;
            display: block;
            position: relative;
            width: 0;
            height: 0;
            border-radius: 100%;
            box-shadow: 0 0 0 60px transparent;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
          }
        }
        &.m-clone-block-content-box {
          background-color: $gray-20;
          border-bottom: $border;
          border-color: $gray-19;
          padding: 1em 1em 0;
          .m-clone-flash {
            top: 0;
          }
          &:not(:only-child):not(:last-child) {
            margin-bottom: 1em;
          }
        }
      }
      .m-clone-block-delete-controls {
        position: absolute;
        top: 0;
        right: 0;
        transform-origin: top right;
        transform: scale(0);
        visibility: hidden;
        z-index: 2;
        overflow: hidden;
        transition: all $transition-ease-extra-fast 0s;
        .button {
          padding: 0 $font-size-050;
          margin: 0;
          font-size: $font-size-150;
          border-radius: 0 $border-radius-medium 0 0;
          [class*=" icon-"],
          [class^="icon-"] {
            margin-right: 0;
          }
        }
      }
      .u-background-with-input,
      .u-margin-with-input,
      .u-underline-with-input {
        transition: margin $transition-ease-extra-fast, background-color $transition-ease-extra-fast, border-color $transition-ease-extra-fast;
      }
    }
  }
  &:not(.is-delete-state) {
    .m-clone-block-target {
      .m-clone {
        .m-clone-block-content {
          .m-clone-flash {
            animation: new-flash-center ease 3s 1;
            &:before {
              animation: new-flash-pulse ease 3s 1;
            }
          }
        }
      }
    }
  }
  &.is-delete-state {
    .m-clone-block-target {
      .m-clone {
        margin: 0 0 $font-size-025;
        .textarea,
        textarea {
          background-color: transparent;
          border-color: $primary-color-alpha-18;
          margin: 0 0 1em;
          padding: 0 10px $font-size-050 0;
        }
        input {
          &[type="email"],
          &[type="number"],
          &[type="password"],
          &[type="search"],
          &[type="tel"],
          &[type="text"] {
            background-color: transparent;
            border-color: $primary-color-alpha-18;
            padding: 0 10px 0 0;
            margin: 0;
          }
        }
        label {
          color: transparent;
          visibility: hidden;
        }
        .m-clone-block-content {
          background-color: $primary-color-19;
          padding: 1em 4em 1em 1em;
          border-color: transparent;
          border-radius: $border-radius-medium;
          &.m-clone-block-content-box {
            padding: 1em 4em 1em 1em;
          }
        }
        .u-underline-with-input {
          border-color: $primary-color-alpha-18;
        }
        .u-margin-with-input {
          margin: 0;
        }
        .u-background-with-input {
          background-color: transparent;
          color: $base-color;
        }
        .m-clone-block-delete-controls {
          visibility: visible;
          transform: scale(1);
          transition: all $transition-bounce-fast 0.2s;
        }
        &:last-child {
          margin: 0 0 1em;
        }
      }
    }
  }
}
.is-night-mode {
  .m-clone-block {
    .m-clone-block-target {
      .m-clone {
        .m-clone-block-content {
          &.m-clone-block-content-box {
            border-color: $gray-04;
            background-color: $gray-02;
          }
        }
      }
    }
    &.is-delete-state {
      .m-clone-block-target {
        .m-clone {
          .m-clone-block-content {
            background-color: $primary-color-06;
          }
          .textarea,
          textarea {
            border-color: $primary-color-04;
          }
          input {
            &[type="email"],
            &[type="number"],
            &[type="password"],
            &[type="search"],
            &[type="tel"],
            &[type="text"] {
              border-color: $primary-color-04;
            }
          }
          .u-underline-with-input {
            border-color: $primary-color-04;
          }
          .u-background-with-input {
            background-color: transparent;
            color: $white;
          }
        }
      }
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
