.m-clone-block {
  .m-clone-block-target {
    width: 100%;
    .m-clone {
      position: relative;
      transition: all $transition-ease-medium 0.2s;
      .m-clone-block-content {
        border-radius: 0;
        position: relative;
        z-index: 1;
        transition: all $transition-ease-fast 0.2s, transform $transition-ease-fast;
        transform-origin: center center;
        .m-edit-box,
        .m-edit-box-guides {
          transition: border-color $transition-ease-fast 0.2s, padding $transition-ease-fast 0.2s, margin $transition-ease-fast 0.2s;
        }
        .m-edit-box-body-item-margin-large,
        .m-edit-box-body-item-margin-medium,
        .m-edit-box-body-item-margin-small {
          [class*="m-edit-box-item"],
          [class^="m-edit-box-item"] {
            transition: margin $transition-ease-fast 0.2s;
          }
        }
        .m-clone-flash {
          background-color: $primary-color-10;
          position: absolute;
          display: block;
          top: 50%;
          left: -1em;
          width: 0;
          height: 0;
          border-radius: 100%;
          border: 0 solid transparent;
          transform: translate(-50%, -50%);
          z-index: 3;
          &:before {
            content: "";
            background-color: $primary-color-alpha-01;
            display: block;
            position: relative;
            width: 0;
            height: 0;
            border-radius: 100%;
            box-shadow: 0 0 0 60px transparent;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
          }
        }
        &.m-clone-block-content-box {
          background-color: $gray-20;
          border: $border;
          border-color: $gray-17;
          border-radius: $border-radius-large;
          margin: 0 0 1em;
          padding: 1em 1em 0;
          width: 100%;
          box-sizing: border-box;
        }
      }
      .m-clone-block-delete-controls {
        position: absolute;
        top: 6px;
        right: 6px;
        transform-origin: center center;
        transform: scale(0);
        visibility: hidden;
        z-index: 2;
        transition: all $transition-ease-fast 0s;
        .button {
          padding: 0 0.55em;
          margin: 0;
          height: 2.5em;
          line-height: 2.5;
        }
      }
    }
  }
  &:not(.is-delete-state) {
    .m-clone-block-target {
      .m-clone {
        .m-clone-block-content {
          .m-clone-flash {
            animation: new-flash-center ease 3s 1;
            &:before {
              animation: new-flash-pulse ease 3s 1;
            }
          }
        }
      }
    }
  }
  &.is-delete-state {
    .m-clone-block-target {
      .m-clone {
        transition: all $transition-ease-fast 0s;
        .m-clone-block-content {
          background-color: $primary-color-19;
          margin-top: 2px;
          padding: 6px 3.5em 6px 6px;
          border-radius: $border-radius-large;
          transition: all $transition-ease-fast 0s;
          .m-edit-box,
          .m-edit-box-guides {
            border-color: transparent;
            padding: 0;
            margin: 0;
            transition: border-color $transition-ease-fast 0s, padding $transition-ease-fast 0s, margin $transition-ease-fast 0s;
          }
          .m-edit-box-body-item-margin-large,
          .m-edit-box-body-item-margin-medium,
          .m-edit-box-body-item-margin-small {
            [class*="m-edit-box-item"],
            [class^="m-edit-box-item"] {
              margin: 0;
              transition: margin $transition-ease-fast 0s;
            }
          }
          &.m-clone-block-content-box {
            padding: 1em 3.5em 1em 1em;
            border-color: $primary-color-16;
          }
        }
        .m-clone-block-delete-controls {
          visibility: visible;
          transform: scale(1);
          transition: all $transition-bounce-medium 0.2s;
        }
        &:last-child {
          margin-bottom: 1em;
        }
      }
    }
  }
}
.is-night-mode {
  .m-clone-block {
    .m-clone-block-target {
      .m-clone {
        .m-clone-block-content {
          &.m-clone-block-content-box {
            border-color: $gray-04;
            background-color: $gray-02;
          }
        }
      }
    }
    &.is-delete-state {
      .m-clone-block-target {
        .m-clone {
          .m-clone-block-content {
            background-color: $primary-color-04;
          }
        }
      }
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
