.m-clone-block {
  .m-clone-block-target {
    .m-clone {
      transition: all $transition-ease-extra-fast;
      position: relative;
      textarea,
      .textarea {
        transition: background-color $transition-ease-extra-fast, border $transition-ease-extra-fast, margin $transition-ease-extra-fast, padding $transition-ease-extra-fast;
      }
      input {
        &[type="email"],
        &[type="number"],
        &[type="search"],
        &[type="text"],
        &[type="tel"],
        &[type="password"] {
          transition: background-color $transition-ease-extra-fast, border $transition-ease-extra-fast, margin $transition-ease-extra-fast, padding $transition-ease-extra-fast;
        }
      }
      label {
        transition: visibility $transition-ease-extra-fast, color $transition-ease-extra-fast;
      }
      .m-clone-block-content {
        margin: 0;
        padding: 0;
        border-radius: 0;
        position: relative;
        z-index: 1;
        transition: all $transition-ease-extra-fast;
      }
      .m-clone-block-delete-controls {
        position: absolute;
        top: 0;
        right: 0;
        transform-origin: top right;
        transform: scale(0);
        visibility: hidden;
        z-index: 2;
        overflow: hidden;
        transition: all $transition-ease-extra-fast 0s;
        .button {
          padding-top: 0;
          padding-bottom: 0;
          margin: 0;
          font-size: $font-size-150;
          border-radius: 0 $border-radius-medium 0 $border-radius-medium;
          [class^="icon-"],
          [class*=" icon-"] {
            margin-right: 0;
          }
        }
      }
      .u-underline-with-input {
        transition: border-color $transition-ease-extra-fast;
      }
    }
  }
  &.is-delete-state {
    .m-clone-block-target {
      .m-clone {
        margin: 0 0 $font-size-100 0;
        textarea,
        .textarea {
          background-color: transparent;
          border-color: $primary-color-alpha-18;
          margin: 0 0 $font-size-100 0;
          padding: 0 10px $font-size-050 0;
        }
        input {
          &[type="email"],
          &[type="number"],
          &[type="search"],
          &[type="text"],
          &[type="tel"],
          &[type="password"] {
            background-color: transparent;
            border-color: $primary-color-alpha-18;
            margin: 0 0 $font-size-100 0;
            padding: 0 10px 0 0;
          }
        }
        label {
          color: transparent;
          visibility: hidden;
        }
        .m-clone-block-content {
          background-color: $primary-color-19;
          padding: $font-size-100 $font-size-500 0 $font-size-100;
          border-radius: $border-radius-medium;
        }
        .u-underline-with-input {
          border-color: $primary-color-alpha-18;
        }
        .m-clone-block-delete-controls {
          visibility: visible;
          transform: scale(1);
          transition: all $transition-ease-extra-fast 0.2s;
        }
      }
    }
  }
}

.is-night-mode {
  .m-clone-block {
    &.is-delete-state {
      .m-clone-block-target {
        .m-clone {
          .m-clone-block-content {
            background-color: $primary-color-06;
          }
          textarea,
          .textarea {
            border-color: $primary-color-04;
          }
          input {
            &[type="email"],
            &[type="number"],
            &[type="search"],
            &[type="text"],
            &[type="tel"],
            &[type="password"] {
              border-color: $primary-color-04;
            }
          }
          .u-underline-with-input {
            border-color: $primary-color-04;
          }
        }
      }
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
