.m-demo {
  .m-card {
    border: $border;
    border-width: 10px;
    border-color: $secondary-color-06;
  }
}
.m-demo-heading {
  font-size: $font-size-150;
}
.m-demo-description {}
.m-demo-add-new-character {}
.m-demo {
  &.is-display-mode {
    .m-card {
      border-color: $primary-color-06;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-demo {
    .m-card {
      border-width: 2px;
    }
  }
}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {
  .m-demo {
    display: none;
  }
}
