.m-display-block {
  margin: 0 0 20px 0;
  .m-display-block-icon {
    font-size: 2em;
    color: $primary-color-alpha-04;
  }
  .js-display-innter-html {
    margin: 0 0 1em 0;
  }
  .m-display-item {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid $secondary-color-18;
    display: inline-block;
    &:first-child {
      margin-left: 0;
      padding-left: 0;
      border-left: 0;
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
