// --------------------------------------------------
// display area
// --------------------------------------------------
.m-display-area {
  position: relative;
  display: block;
  font-size: $font-size-root-100;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 1.5em;
  }
}
// --------------------------------------------------
// intro
// --------------------------------------------------
// .m-display-intro {
//   border: 1px solid red;
//   .m-display-intro-class,
//   .m-display-intro-image,
//   .m-display-intro-name {
//     border: 1px solid blue;
//   }
// }
// --------------------------------------------------
// image
// --------------------------------------------------
.m-display-image-wrapper {
  background-color: $white;
  border-radius: 50%;
  margin: -3em auto 1em;
  width: 14em;
  height: 14em;
  min-width: 14em;
  min-height: 14em;
  max-width: 14em;
  max-height: 14em;
  box-sizing: border-box;
  position: relative;
  box-shadow: $shadow-large;
  overflow: hidden;
}
.m-display-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}
// --------------------------------------------------
// prefix suffix value
// --------------------------------------------------
.m-display-head {
  color: $primary-color-08;
  font-size: $font-size-075;
  font-family: $open-sans-semi-bold;
  &:not(:last-child):not(:last-child) {
    margin-bottom: 0.5em;
  }
}
.m-display-prefix,
.m-display-suffix {
  font-size: $font-size-075;
  font-family: $open-sans-italic;
  &:not(:last-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-display-prefix {
  display: block;
  color: $primary-color-08;
}
.m-display-suffix {
  color: $gray-06;
}
h1,
h2,
h3 {
  .m-display-value {
    font-size: $font-size-150;
  }
}
.is-night-mode {
  .m-display-head {
    color: $primary-color-12;
  }
  .m-display-prefix {
    color: $primary-color-12;
  }
  .m-display-suffix {
    color: $gray-14;
  }
}
// --------------------------------------------------
// snippet
// --------------------------------------------------
.m-display-snippet {
  font-size: $font-size-100;
}
.m-display-snippet-item {
  display: inline-block;
  position: relative;
  .m-display-prefix {
    margin-right: 0.8em;
    display: inline-block;
  }
  .m-display-suffix {
    margin-left: 0.5em;
    display: inline-block;
  }
  &:not(:only-child):not(:last-child) {
    padding-right: 1em;
    margin-right: 1em;
    &:after {
      content: "";
      background-color: $gray-18;
      display: block;
      width: 1px;
      height: 80%;
      position: absolute;
      top: 50%;
      right: 0;
      transform: rotate(10deg) translate(-50%, -50%);
      transform-origin: top;
    }
  }
}
.is-night-mode {
  .m-display-snippet-item {
    &:not(:only-child):not(:last-child) {
      &:after {
        background-color: $gray-04;
      }
    }
  }
}
// --------------------------------------------------
// text block
// --------------------------------------------------
.m-display-text-block {
  position: relative;
  box-sizing: border-box;
  .m-display-prefix {
    margin-right: 0.8em;
    display: block;
  }
  .m-display-value {
    margin-left: 0.5em;
    display: block;
  }
}
// --------------------------------------------------
// stats
// --------------------------------------------------
.m-display-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: relative;
  margin-left: -1em;
  margin-right: -1em;
  box-sizing: border-box;
}
.m-display-stats-item {
  flex: 1 1 33%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  &:not(:last-child):not(:last-child) {
    margin-bottom: 0;
  }
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    padding: 0 0.5em 0.5em;
  }
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    padding: 0.5em 0.5em 0;
  }
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    &:before {
      content: "";
      background-color: $gray-18;
      display: block;
      width: 80%;
      height: 1px;
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate(50%, 50%);
    }
  }
  &:nth-child(3n+1),
  &:nth-child(3n+2) {
    &:after {
      content: "";
      background-color: $gray-18;
      display: block;
      width: 1px;
      height: 80%;
      position: absolute;
      top: 50%;
      right: 3%;
      transform: rotate(10deg) translate(-50%, -50%);
    }
  }
  &:nth-child(1),
  &:nth-child(2) {
    &:after {
      transform-origin: bottom;
    }
  }
  &:nth-child(4),
  &:nth-child(5) {
    &:after {
      transform-origin: top;
    }
  }
}
.m-display-mod,
.m-display-stat {
  text-align: center;
}
.m-display-stat {
  color: $primary-color-08;
  font-family: $open-sans-semi-bold;
}
.m-display-stat-name {
  margin-right: $font-size-050;
}
.is-night-mode {
  .m-display-stats-item {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      &:before {
        background-color: $gray-04;
      }
    }
    &:nth-child(3n+1),
    &:nth-child(3n+2) {
      &:after {
        background-color: $gray-04;
      }
    }
  }
  .m-display-stat {
    color: $primary-color-12;
  }
}
// --------------------------------------------------
// list
// --------------------------------------------------
[class*="m-display-list"],
[class^="m-display-list"] {
  margin-left: 0.5em;
  .m-display-list-item {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: $border;
    border-bottom-color: $gray-18;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    .m-display-list-item-prefix,
    .m-display-list-item-suffix,
    .m-display-list-item-text-block {
      flex: 1 1 auto;
      margin: 0;
      display: block;
    }
    .m-display-list-item-prefix,
    .m-display-list-item-suffix {
      font-size: $font-size-075;
      font-family: $open-sans-italic;
    }
    .m-display-list-item-prefix {
      color: $primary-color-08;
    }
    .m-display-list-item-suffix {
      color: $gray-06;
    }
    .m-display-list-item-name {
      margin: 0;
      padding: 0;
      overflow: hidden;
      flex: 1 1 auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:not(:only-child):not(:last-child) {
        margin-right: 0.5em;
      }
    }
    .m-display-list-item-value {
      margin: 0;
      padding: 0;
      flex: 0 0 auto;
      align-self: flex-start;
      text-align: right;
    }
    .m-display-list-item-percentage {
      background: $secondary-color-10;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 1px;
      &:after {
        content: "";
        background-color: $secondary-color-10;
        display: block;
        width: 1px;
        height: 0.4em;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
.m-display-list-dash {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
  .m-display-list-item {
    display: inline-block;
    position: relative;
    padding: 0;
    border: 0;
    &:not(:last-child):not(:last-child) {
      margin: 0 0.5em 0 0;
      padding: 0 0.5em 0 0;
      &:after {
        content: "";
        background-color: $gray-18;
        display: block;
        width: 1px;
        height: 1em;
        position: absolute;
        top: 50%;
        right: 0;
        transform: rotate(10deg) translate(-50%, -50%);
        transform-origin: center;
      }
    }
  }
}
.m-display-list-stack {
  .m-display-list-item {
    display: block;
    .m-display-list-item-name,
    .m-display-list-item-prefix,
    .m-display-list-item-suffix,
    .m-display-list-item-value {
      display: block;
    }
    .m-display-list-item-name {
      overflow: auto;
      text-overflow: inherit;
      white-space: inherit;
      &:not(:only-child):not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
.m-display-list-compact {
  .m-display-list-item {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
.is-night-mode {
  [class*="m-display-list"],
  [class^="m-display-list"] {
    .m-display-list-item {
      border-bottom-color: $gray-04;
      .m-display-list-item-prefix {
        color: $primary-color-12;
      }
      .m-display-list-item-suffix {
        color: $gray-14;
      }
    }
  }
  .m-display-list-dash {
    .m-display-list-item {
      &:not(:last-child):not(:last-child) {
        &:after {
          background-color: $gray-04;
        }
      }
    }
  }
}
// --------------------------------------------------
// display spell
// --------------------------------------------------
.m-display-list-spell {
  .m-display-list-item-spell {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: $border;
    border-bottom-color: $gray-18;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .m-display-list-item-spell-name {
    margin: 0;
    flex: 1 1 auto;
    display: block;
    .m-display-list-item-spell-active {
      margin: 0 0.5em 0 0;
      color: $primary-color-10;
    }
  }
  .m-display-list-item-spell-count {
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
    align-self: flex-start;
    text-align: right;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    color: $secondary-color-10;
  }
}
.is-night-mode {
  .m-display-list-spell {
    .m-display-list-item-spell {
      border-bottom-color: $gray-04;
    }
  }
}
// --------------------------------------------------
// attack
// --------------------------------------------------
.m-display-list-attack {
  .m-display-list-item-attack {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: $border;
    border-bottom-color: $gray-18;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
  }
}
.m-display-list-item-attack-ammo,
.m-display-list-item-attack-attack,
.m-display-list-item-attack-critical,
.m-display-list-item-attack-damage,
.m-display-list-item-attack-range,
.m-display-list-item-attack-type,
.m-display-list-item-attack-weapon {
  margin: 0;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  .m-display-list-item-attack-prefix {
    margin: 0;
    font-size: $font-size-075;
    font-family: $open-sans-italic;
    color: $primary-color-08;
    display: inline-block;
  }
  .m-display-list-item-attack-value {
    display: inline-block;
  }
}
.m-display-list-item-attack-weapon {
  flex: 1 0 100%;
}
.m-display-list-item-attack-ammo,
.m-display-list-item-attack-attack,
.m-display-list-item-attack-critical,
.m-display-list-item-attack-damage,
.m-display-list-item-attack-range,
.m-display-list-item-attack-type {
  flex: 0 0 auto;
  &:not(:only-child):not(:last-child) {
    padding-right: 1em;
    margin-right: 1em;
    &:after {
      content: "";
      background-color: $gray-18;
      display: block;
      width: 1px;
      height: 80%;
      position: absolute;
      top: 50%;
      right: 0;
      transform: rotate(10deg) translate(-50%, -50%);
      transform-origin: top;
    }
  }
}
.is-night-mode {
  .m-display-list-attack {
    .m-display-list-item-attack {
      border-bottom-color: $gray-04;
    }
  }
  .m-display-list-item-attack-ammo,
  .m-display-list-item-attack-attack,
  .m-display-list-item-attack-critical,
  .m-display-list-item-attack-damage,
  .m-display-list-item-attack-range,
  .m-display-list-item-attack-type,
  .m-display-list-item-attack-weapon {
    .m-display-list-item-attack-prefix {
      color: $primary-color-12;
    }
  }
  .m-display-list-item-attack-ammo,
  .m-display-list-item-attack-attack,
  .m-display-list-item-attack-critical,
  .m-display-list-item-attack-damage,
  .m-display-list-item-attack-range,
  .m-display-list-item-attack-type {
    &:not(:only-child):not(:last-child) {
      &:after {
        background-color: $gray-04;
      }
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  // stats
  .m-display-stats {
    flex-flow: row nowrap;
  }
  .m-display-stats-item {
    flex: 1 1 15%;
    box-sizing: border-box;
    position: relative;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      padding: 0;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      &:before {
        content: none;
      }
    }
    &:nth-child(3n+1),
    &:nth-child(3n+2) {
      &:after {
        content: none;
      }
    }
    &:not(:only-child):not(:last-child) {
      &:after {
        content: "";
        background-color: $gray-18;
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(10deg) translate(-50%, 0);
        transform-origin: center;
      }
    }
  }
  .is-night-mode {
    .m-display-stats-item {
      &:not(:only-child):not(:last-child) {
        &:after {
          background-color: $gray-04;
        }
      }
    }
  }
  // list
  .m-display-list-responsive {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    .m-display-list-item {
      flex: 0 0 46%;
      max-width: 46%;
      &:nth-child(odd) {
        margin-right: 8%;
      }
    }
  }
  .m-display-list-spell {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    .m-display-list-item-spell {
      flex: 0 0 46%;
      max-width: 46%;
      &:nth-child(odd) {
        margin-right: 8%;
      }
    }
  }
}
@media (min-width: $screen-md) {
  // intro
  .m-display-intro {
    display: grid;
    grid-template-columns: 16em 2fr;
    grid-template-rows: 8em 8em;
    .m-display-intro-image {
      grid-row-start: 1;
      grid-row-end: 9;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .m-display-intro-name {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
      align-self: end;
    }
    .m-display-intro-class {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
      align-self: start;
    }
  }
  // image
  .m-display-image-wrapper {
    margin: 0 1em 0 -4em;
    width: 16em;
    height: 16em;
    min-width: 16em;
    min-height: 16em;
    max-width: 16em;
    max-height: 16em;
  }
  // snippet
  .m-display-snippet-item {
    .m-display-prefix {
      margin-right: 0;
      display: block;
    }
    .m-display-suffix,
    .m-display-value {
      &:not(:only-child) {
        margin-left: 0.5em;
      }
    }
    &:not(:only-child):not(:last-child) {
      padding-right: 1em;
      margin-right: 1em;
      &:after {
        height: 90%;
      }
    }
  }
  // text block
  .m-display-text-block {
    .m-display-value {
      margin-left: 0.5em;
      display: block;
    }
    .m-display-prefix {
      margin-right: 0;
      display: block;
    }
  }
  // attack
  .m-display-list-attack {
    .m-display-list-item-attack {
      justify-content: flex-end;
    }
  }
  .m-display-list-item-attack-weapon {
    flex: 1 0 auto;
    .m-display-list-item-attack-prefix {
      display: block;
    }
    &:not(:only-child):not(:last-child) {
      margin-right: 1em;
    }
  }
  .m-display-list-item-attack-ammo,
  .m-display-list-item-attack-attack,
  .m-display-list-item-attack-critical,
  .m-display-list-item-attack-damage,
  .m-display-list-item-attack-range,
  .m-display-list-item-attack-type {
    flex: 0 0 auto;
    .m-display-list-item-attack-prefix {
      display: block;
    }
    &:not(:only-child):not(:last-child) {
      padding-right: 1em;
      margin-right: 1em;
      &:after {
        content: "";
        background-color: $gray-18;
        display: block;
        width: 1px;
        height: 80%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: rotate(10deg) translate(-50%, -50%);
        transform-origin: top;
      }
    }
  }
  .is-night-mode {
    .m-display-list-item-attack-ammo,
    .m-display-list-item-attack-attack,
    .m-display-list-item-attack-critical,
    .m-display-list-item-attack-damage,
    .m-display-list-item-attack-range,
    .m-display-list-item-attack-type {
      &:not(:only-child):not(:last-child) {
        &:after {
          background-color: $gray-04;
        }
      }
    }
  }
}
@media (min-width: $screen-lg) {
  // list
  .m-display-list-responsive {
    .m-display-list-item {
      flex: 0 0 30%;
      max-width: 30%;
      &:nth-child(odd) {
        margin-right: 0;
      }
      &:nth-child(3n+1),
      &:nth-child(3n+2) {
        margin-right: 5%;
      }
    }
  }
  .m-display-list-spell {
    .m-display-list-item-spell {
      flex: 0 0 30%;
      max-width: 30%;
      &:nth-child(odd) {
        margin-right: 0;
      }
      &:nth-child(3n+1),
      &:nth-child(3n+2) {
        margin-right: 5%;
      }
    }
  }
}
@media (min-width: $screen-xl) {
  // attack
  .m-display-list-attack {
    .m-display-list-item-attack {
      justify-content: flex-end;
    }
  }
  .m-display-list-item-attack-weapon {
    flex: 0 0 35%;
    &:not(:only-child):not(:last-child) {
      padding-right: 1em;
    }
  }
  .m-display-list-item-attack-attack {
    flex: 1 0 auto;
  }
  .m-display-list-item-attack-ammo,
  .m-display-list-item-attack-critical,
  .m-display-list-item-attack-damage,
  .m-display-list-item-attack-range,
  .m-display-list-item-attack-type {
    flex: 0 1 auto;
  }
  .m-display-list-item-attack-ammo,
  .m-display-list-item-attack-attack,
  .m-display-list-item-attack-critical,
  .m-display-list-item-attack-damage,
  .m-display-list-item-attack-range,
  .m-display-list-item-attack-type,
  .m-display-list-item-attack-weapon {
    .m-display-list-item-attack-prefix {
      display: block;
    }
  }
  .m-display-list-item-attack-attack,
  .m-display-list-item-attack-weapon {
    &:not(:only-child):not(:last-child) {
      margin-right: 1em;
      &:after {
        content: none;
      }
    }
  }
}
