.m-display-wrapper {
  padding: $font-size-300 0 0 0;
}

.m-display-wrapper-nav-padding {
  padding-top: $font-size-450;
}

.m-display-section {
  margin: 0 0 $font-size-200 0;
}

.m-display-section-divider {
  background-color: $gray-18;
  margin: 0 0 $font-size-400 0;
  width: 100%;
  height: 2px;
  position: relative;
  transition: all $transition-ease-medium;
  .m-display-section-icon {
    background-color: $white;
    border: 2px solid $gray-18;
    position: absolute;
    top: -1px;
    left: 50%;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
    color: $gray-05;
    font-size: $font-size-200;
    display: block;
    transform: translate(-50%, -50%);
    transition: all $transition-ease-medium;
  }
}

.m-display-item,
.m-display-spell,
.m-display-skills,
.m-display-attack {
  margin-right: 20px;
  position: relative;
  display: inline-block;
  &:after {
    background-color: $gray-18;
    content: "";
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    top: 50%;
    right: -10px;
    border-radius: $border-radius-medium;
    transform: translate(50%, -50%);
    transition: background-color $transition-ease-medium;
  }
  &:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    &:after {
      display: none;
    }
  }
}

.m-display-spell {
  .m-display-spell-name {}
  .m-display-spell-active {
    margin-right: 5px;
    font-size: $font-size-075;
  }
  .m-display-spell-marks {
    margin-left: 8px;
    font-size: $font-size-075;
  }
}

.m-display-block-tab {
  margin-left: $font-size-150;
}

.m-display-block-sub {
  color: $dark-alpha-10;
}

.m-display-block-list {
  height: 250px;
  display: flex;
  flex-flow: column wrap;
  .m-display-item {
    flex: none;
  }
}

.m-display-block-target-spacer {
  min-width: $font-size-300;
  display: inline-block;
}

.m-display-block-quick-control {
  display: inline-block;
  vertical-align: bottom;
  .m-display-block-quick-control-item {
    padding-right: $font-size-100;
    padding-left: $font-size-100;
    margin-bottom: 0;
    min-width: $font-size-300;
    [class^="icon-"],
    [class*=" icon-"] {
      margin-right: 0;
    }
  }
}

.is-night-mode {
  .m-display-block-sub {
    color: $light-alpha-10;
  }
  .m-display-section-divider {
    background-color: $gray-05;
    .m-display-section-icon {
      background-color: $gray-02;
      border-color: $gray-05;
      color: $gray-18;
    }
  }
  .m-display-item,
  .m-display-spell,
  .m-display-skills,
  .m-display-attack {
    &:after {
      background-color: $gray-05;
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}

@media print {
  .m-display-wrapper {
    padding: 0;
    margin: 0;
  }
  .m-display-wrapper-nav-padding {
    padding-top: 0;
  }
  .m-display-section {
    margin: 0;
  }
  .m-display-section-divider,
  .m-display-block-quick-edit,
  .m-display-block-quick-control,
  .m-quick-edit {
    display: none;
  }
}
