.m-edit-wrapper {
  margin: 2em 1em;
}
.m-edit-title {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
}
.m-edit-controls {
  margin: 1em 0;
  box-sizing: border-box;
  .button-group {
    margin-bottom: 0;
  }
}
.m-edit-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.m-edit-box-head {
  flex: 0 0 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.m-edit-box-no-head-on-large {
  padding-left: 0;
}
.m-edit-box-no-head-on-small {
  padding-left: 30%;
}
.m-edit-box-break {
  flex-flow: column wrap;
  .m-edit-box-head {
    flex: 1 0 100%;
  }
}
[class^="m-edit-box-title"] {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
  margin-bottom: 0;
}
.m-edit-box-title-with-label {
  margin-top: 1.25em;
}
.m-edit-box-body {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: -$gutter;
  margin-right: -$gutter;
}
.m-edit-box-body-group {
  position: relative;
  flex-flow: row nowrap;
  z-index: 1;
  margin-left: 0;
  margin-right: 0;
  [class^="m-edit-box-item"] {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    .button,
    .m-stat-block-modifier,
    .m-total-block-total {
      border-radius: 0;
    }
    .m-input-block {
      margin-right: -1px;
      z-index: 2;
      &.is-focus {
        z-index: 3;
      }
      .m-input-block-field {
        border-radius: 0;
      }
    }
    &:hover {
      .m-input-block {
        z-index: 3;
      }
    }
    &:first-of-type {
      .button,
      .m-edit-box-item-button,
      .m-stat-block-modifier,
      .m-total-block-total {
        border-radius: $border-radius-large 0 0 $border-radius-large;
      }
      .m-input-block {
        .m-input-block-field {
          border-radius: $border-radius-large 0 0 $border-radius-large;
        }
      }
    }
    &:last-of-type {
      .button,
      .m-edit-box-item-button,
      .m-stat-block-modifier,
      .m-total-block-total {
        border-radius: 0 $border-radius-large $border-radius-large 0;
      }
      .m-input-block {
        .m-input-block-field {
          border-radius: 0 $border-radius-large $border-radius-large 0;
        }
      }
    }
  }
}
[class^="m-edit-box-item"] {
  flex: 0 0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
}
.m-edit-box-item-total {
  flex: 0 0 4em;
}
.m-edit-box-item-small {
  flex: 1 1 20%;
}
.m-edit-box-item-medium {
  flex: 1 1 40%;
}
.m-edit-box-item-large {
  flex: 1 1 50%;
}
.m-edit-box-item-max {
  flex: 1 1 100%;
}
.m-edit-box-item-button {
  align-self: flex-end;
  flex: 0 0 3em;
  .button {
    margin-bottom: 1em;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
[class^="m-edit-box-label"] {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: $font-size-075;
  font-family: $open-sans-semi-bold;
  color: $secondary-color-06;
  box-sizing: border-box;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}
.m-edit-box-label-total {
  color: $gray-14;
}
.is-pinned {
  .m-edit-controls {
    margin: 0;
    position: fixed;
    top: 5em;
    z-index: $card-controls;
    animation: edit-controls-down-xs ease-in-out 0.6s;
    .button-group {
      box-shadow: $shadow-small;
      border-radius: $border-radius-large;
    }
  }
}
.is-night-mode {
  .m-edit-heading {
    background-color: $secondary-color-04;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-edit-box-head {
    flex: 0 0 30%;
  }
  .m-edit-box-break {
    flex-flow: row nowrap;
    .m-edit-box-head {
      flex: 0 0 30%;
    }
  }
  .m-edit-box-no-head-on-large,
  .m-edit-box-no-head-on-small {
    padding-left: 30%;
  }
  .m-edit-box-item-small {
    flex: 0 1 20%;
  }
  .m-edit-box-item-medium {
    flex: 1 1 25%;
  }
  .m-edit-box-item-large {
    flex: 1 1 45%;
  }
  .m-edit-box-item-button {
    flex: 0 0 2em;
  }
}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {
  .is-pinned {
    .m-edit-controls {
      top: 0.5em;
      animation: edit-controls-down-lg ease-in-out 0.5s;
    }
  }
}
@media (min-width: $screen-xl) {}
