.m-edit-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  transition: margin $transition-ease-fast, padding $transition-ease-fast;
}
.m-edit-box-group {
  background-color: $gray-20;
  border: $border;
  border-color: $gray-17;
  border-radius: $border-radius-large;
  margin: 0 0 1em;
  padding: 1em 1em 0;
  width: 100%;
  box-sizing: border-box;
}
.m-edit-box-guides {
  padding: 0.5em 0;
  margin: 0;
  border-bottom: $border;
  border-bottom-color: $gray-18;
  transition: border-color $transition-ease-fast, margin $transition-ease-fast, padding $transition-ease-fast;
}
[class*="m-edit-box-head"],
[class^="m-edit-box-head"] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.m-edit-box-head-small {
  flex: 0 0 25%;
}
.m-edit-box-head-medium {
  flex: 0 0 35%;
}
.m-edit-box-head-large {
  flex: 0 0 45%;
}
.m-edit-box-no-head-small {
  padding-left: 25%;
}
.m-edit-box-no-head-medium {
  padding-left: 35%;
}
.m-edit-box-no-head-large {
  padding-left: 45%;
}
[class*="m-edit-box-title"],
[class^="m-edit-box-title"] {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
  margin-bottom: 0;
  margin-right: 1em;
  padding: 0.5em 0;
  line-height: $line-height-150;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-edit-box-title-with-label {
  margin-top: 1.25em;
}
.m-edit-box-body {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: -$gutter;
  margin-right: -$gutter;
}
.m-edit-box-body-end {
  justify-content: flex-end;
}
.m-edit-box-body-multiple {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
[class*="m-edit-box-item"],
[class^="m-edit-box-item"] {
  flex: 0 0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  transition: margin $transition-ease-medium;
}
.m-edit-box-item-text {
  flex: 0 0 0;
}
.m-edit-box-item-total {
  flex: 0 0 3em;
}
.m-edit-box-item-check {
  flex: 0 0 3em;
}
.m-edit-box-item-small {
  flex: 0 1 25%;
}
.m-edit-box-item-medium {
  flex: 1 1 30%;
}
.m-edit-box-item-large {
  flex: 1 1 40%;
}
.m-edit-box-item-max {
  flex: 1 1 100%;
}
.m-edit-box-item-button {
  flex: 0 0 2.5em;
  .button {
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.m-edit-box-item-control {
  flex: 0 1 5em;
}
.m-edit-box-body-group {
  position: relative;
  flex-flow: row nowrap;
  z-index: 1;
  margin-left: 0;
  margin-right: 0;
  [class*="m-edit-box-item"],
  [class^="m-edit-box-item"] {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    .button,
    button {
      margin-bottom: 0;
    }
    .button,
    .button,
    .m-check-block,
    .m-stat-modifier,
    .m-total-block-total,
    .m-edit-box-text,
    button {
      border-radius: 0;
    }
    .button,
    .m-check-block,
    .m-input-block,
    .m-stat-modifier,
    .m-total-block-total,
    .m-edit-box-text,
    button {
      margin-left: -1px;
    }
    .button {
      z-index: 2;
      &:focus {
        z-index: 3;
      }
    }
    &:hover {
      .button {
        z-index: 3;
      }
    }
    .m-input-block {
      z-index: 2;
      &.is-focus {
        z-index: 3;
      }
      .m-input-block-field {
        border-radius: 0;
        &:focus {
          z-index: 3;
        }
      }
    }
    &:hover {
      .m-input-block {
        z-index: 3;
      }
    }
    &:first-of-type {
      .button,
      .m-check-block-check-icon,
      .m-edit-box-item-button,
      .m-stat-modifier,
      .m-total-block-total,
      .m-edit-box-text {
        border-radius: $border-radius-large 0 0 $border-radius-large;
      }
      .m-input-block {
        .m-input-block-field {
          border-radius: $border-radius-large 0 0 $border-radius-large;
        }
      }
    }
    &:last-of-type {
      .button,
      .m-check-block-check-icon,
      .m-edit-box-item-button,
      .m-stat-modifier,
      .m-total-block-total,
      .m-edit-box-text {
        border-radius: 0 $border-radius-large $border-radius-large 0;
      }
      .m-input-block {
        .m-input-block-field {
          border-radius: 0 $border-radius-large $border-radius-large 0;
        }
      }
    }
    &:first-of-type:last-of-type {
      .button,
      .m-check-block-check-icon,
      .m-edit-box-item-button,
      .m-stat-modifier,
      .m-total-block-total,
      .m-edit-box-text {
        border-radius: $border-radius-large;
      }
      .m-input-block {
        .m-input-block-field {
          border-radius: $border-radius-large;
        }
      }
    }
  }
}
.m-edit-box-body-item-margin-large {
  [class*="m-edit-box-item"],
  [class^="m-edit-box-item"] {
    margin-bottom: 1em;
  }
}
.m-edit-box-body-item-margin-medium {
  [class*="m-edit-box-item"],
  [class^="m-edit-box-item"] {
    margin-bottom: 0.5em;
  }
}
.m-edit-box-body-item-margin-small {
  [class*="m-edit-box-item"],
  [class^="m-edit-box-item"] {
    margin-bottom: 4px;
  }
}
[class*="m-edit-box-label"],
[class^="m-edit-box-label"] {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: $font-size-075;
  font-family: $open-sans-semi-bold;
  color: $secondary-color-06;
  box-sizing: border-box;
  width: 100%;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-edit-box-label-total {
  color: $gray-08;
}
.m-edit-box-text {
  background-color: $gray-19;
  padding: 0 0.3em;
  margin: 0;
  height: 2.5em;
  width: 100%;
  font-size: $font-size-100;
  line-height: $line-height-250;
  font-family: $open-sans-regular;
  box-sizing: border-box;
  border-radius: $border-radius-large;
  border: 0;
  border: $border;
  border-color: $gray-16;
  color: $gray-10;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-edit-controls {
  margin: 0 0 1em;
  // box-sizing: border-box;
  .button-group {
    margin-bottom: 0;
  }
}
.is-pinned {
  .m-edit-controls {
    margin: 0;
    position: fixed;
    top: 5em;
    z-index: $card-controls;
    animation: edit-controls-down-xs ease-in-out 0.6s;
    .button-group {
      .button {
        // box-shadow: $shadow-small;
      }
    }
  }
}
.is-night-mode {
  .m-edit-box-group {
    border-color: $gray-06;
    background-color: $gray-04;
  }
  .m-edit-box-guides {
    border-bottom-color: $gray-06;
  }
  .m-edit-heading {
    background-color: $secondary-color-04;
  }
  [class*="m-edit-box-label"],
  [class^="m-edit-box-label"] {
    color: $secondary-color-08;
  }
  .m-edit-box-label-total {
    color: $gray-12;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-edit-box-item-total {
    flex: 0 0 4em;
  }
  .m-edit-box-head-small {
    flex: 0 0 30%;
  }
  .m-edit-box-head-medium {
    flex: 0 0 40%;
  }
  .m-edit-box-head-large {
    flex: 0 0 50%;
  }
  .m-edit-box-no-head-small {
    padding-left: 30%;
  }
  .m-edit-box-no-head-medium {
    padding-left: 40%;
  }
  .m-edit-box-no-head-large {
    padding-left: 50%;
  }
  .m-edit-box-item-small {
    flex: 0 1 20%;
  }
  .m-edit-box-item-button {
    flex: 0 0 2em;
  }
}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {
  .is-pinned {
    .m-edit-controls {
      top: 0.5em;
      animation: edit-controls-down-lg ease-in-out 0.5s;
    }
  }
}
@media (min-width: $screen-xl) {}
