.m-edit-wrapper {
  margin: 2em 1em;
}
.m-edit-title {
  margin-bottom: 3em;
  text-transform: uppercase;
  font-family: $open-sans-bold;
  font-size: $font-size-075;
  color: $secondary-color-12;
}
.m-edit-title-fade {
  color: $gray-08;
}
.m-edit-box {
  margin-bottom: 2em;
  font-size: $font-size-root-100;
}
.m-edit-box-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.m-edit-box-title {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
  margin-bottom: 1em;
}
.m-edit-box-item {
  flex: 1 1 0;
}
.m-edit-box-bonus {
  flex: 0 0 auto;
}
.m-edit-box-bonus-button {
  padding: 0 0.5em;
  border-radius: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 2px;
  border-left-width: 0;
}
// .m-edit-controls {
//   position: relative;
//   display: flex;
//   flex-flow: row nowrap;
//   justify-content: flex-end;
//   .button-group,
//   .button-group-strech {
//     .button {
//       margin: 0;
//       padding-top: 0;
//       padding-bottom: 0;
//       border: 0;
//       border-radius: 0;
//       height: 4em;
//     }
//   }
// }
.m-edit-heading-sub {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
}
.m-edit-heading {
  margin: 0 1em;
  padding: 0;
  position: relative;
  z-index: $section-heading;
  transition: background-color $transition-bounce-medium;
}
.is-night-mode {
  .m-edit-heading {
    background-color: $secondary-color-04;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {
  .m-edit-box-title {
    border-bottom: $border;
    border-color: $gray-19;
    margin-bottom: 0;
    margin-right: -($gutter * 2);
  }
  .m-edit-box-bonus-button {
    padding: 0;
  }
}
@media (min-width: $screen-xl) {}
