.m-edit-wrapper {
  margin: 2em 1em;
}
.m-edit-title {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
}
.m-edit-controls {
  margin: 1em 0;
  box-sizing: border-box;
}
.is-pinned {
  .m-edit-controls {
    margin-bottom: 0;
    position: fixed;
    top: 5.5em;
    z-index: $card-controls;
    animation: edit-controls-down-xs ease-in-out 0.6s;
    box-shadow: $shadow-large;
  }
}
.m-edit-box {
  font-size: $font-size-root-100;
}
.m-edit-box-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.m-edit-box-title {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
}
.m-edit-box-item {
  flex: 1 1 0;
}
.m-edit-box-item-20 {
  flex-basis: 20%;
}
.m-edit-box-item-40 {
  flex-basis: 40%;
}
.m-edit-box-item-60 {
  flex-basis: 60%;
}
.m-edit-box-item-80 {
  flex-basis: 80%;
}
.m-edit-box-bonus {
  flex: 0 0 auto;
}
.m-edit-box-bonus-button {
  padding: 0 0.5em;
  margin: 0;
}
.is-night-mode {
  .m-edit-heading {
    background-color: $secondary-color-04;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {
  .m-edit-box-title {
    border-bottom: $border;
    border-color: $gray-19;
    margin-right: -($gutter * 2);
  }
}
@media (min-width: $screen-lg) {
  .m-edit-box-bonus-button {
    padding: 0;
  }
  .is-pinned {
    .m-edit-controls {
      top: 1em;
      animation: edit-controls-down-lg ease-in-out 0.5s;
    }
  }
  .is-night-mode {
    .m-edit-box-title {
      border-color: $light-alpha-19;
    }
  }
}
@media (min-width: $screen-xl) {}
