// --------------------------------------------------
// edit box
// --------------------------------------------------
.m-edit-box {
  display: block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  transition: margin $transition-ease-fast, padding $transition-ease-fast;
}
.m-edit-box-head {
  width: 100%;
  .m-edit-box-description {
    margin-bottom: 1em;
  }
}
.m-edit-box-head-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  > * {
    &:not(:only-child):not(:last-child) {
      margin-right: 1em;
    }
  }
}
.m-edit-box-body {
  max-width: 100%;
}
.m-edit-box-content {
  margin-left: -$gutter;
  margin-right: -$gutter;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}
// --------------------------------------------------
// edit body text
// --------------------------------------------------
.m-edit-box-text-only {
  .m-edit-box-title {
    padding-top: 0;
    padding-bottom: 0;
  }
}
// --------------------------------------------------
// edit body indent
// --------------------------------------------------
.m-edit-box-indent {
  .m-edit-box-body {
    margin-left: 1em;
  }
}
// --------------------------------------------------
// edit no wrap
// --------------------------------------------------
.m-edit-box-content-nowrap {
  flex-wrap: nowrap;
}
// --------------------------------------------------
// edit outline
// --------------------------------------------------
.m-edit-box-content-outline {
  background-color: $gray-20;
  border: $border;
  border-color: $gray-17;
  border-radius: $border-radius-extra-large;
  padding: 1em 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
}
// --------------------------------------------------
// edit margin
// --------------------------------------------------
[class*="m-edit-box-content-margin"],
[class^="m-edit-box-content-margin"] {
  &.m-edit-box-content-outline {
    padding-bottom: 0;
  }
}
.m-edit-box-content-margin-large,
.m-edit-box-content-margin-medium,
.m-edit-box-content-margin-small {
  > [class*="m-edit-box-item"],
   > [class^="m-edit-box-item"] {
    &.u-no-margin {
      margin-bottom: 0;
    }
  }
}
.m-edit-box-content-margin-large {
  > [class*="m-edit-box-item"],
   > [class^="m-edit-box-item"] {
    margin-bottom: 1em;
  }
}
.m-edit-box-content-margin-medium {
  > [class*="m-edit-box-item"],
   > [class^="m-edit-box-item"] {
    margin-bottom: 0.5em;
  }
}
.m-edit-box-content-margin-small {
  > [class*="m-edit-box-item"],
   > [class^="m-edit-box-item"] {
    margin-bottom: 4px;
  }
}
// --------------------------------------------------
// edit
// --------------------------------------------------
.m-edit-box {
  [class*="m-edit-box-item"],
  [class^="m-edit-box-item"] {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}
// --------------------------------------------------
// edit guides
// --------------------------------------------------
.m-edit-box-guides {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition: border-color $transition-ease-fast, margin $transition-ease-fast, padding $transition-ease-fast;
  &:not(:only-child):not(:last-child) {
    border-bottom: $border;
    border-bottom-color: $gray-19;
  }
}
// --------------------------------------------------
// edit title
// --------------------------------------------------
.m-edit-box-title {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
  margin-bottom: 0;
  padding: 0.5em 0;
  line-height: $line-height-150;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
// --------------------------------------------------
// edit description
// --------------------------------------------------
.m-edit-box-description {
  font-family: $open-sans-regular;
  font-size: 0.8em;
  line-height: $line-height-200;
  strong {
    background-color: $secondary-color-20;
    color: $secondary-color-08;
    padding: 1px;
    white-space: nowrap;
  };
}
// --------------------------------------------------
// edit items
// --------------------------------------------------
[class*="m-edit-box-item"],
[class^="m-edit-box-item"] {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  max-width: 100%;
  box-sizing: border-box;
  transition: margin $transition-ease-medium;
}
.m-edit-box-item-modifier,
.m-edit-box-item-stat,
.m-edit-box-item-total {
  flex-grow: 0;
  min-width: 5em;
}
.m-edit-box-item-check {
  flex-grow: 0;
  min-width: 4em;
}
.m-edit-box-item-small {
  flex-grow: 0;
  flex-basis: 5em;
}
.m-edit-box-item-medium {
  flex-grow: 0;
  flex-basis: 10em;
}
.m-edit-box-item-large {
  flex-grow: 1;
  flex-basis: 15em;
}
.m-edit-box-item-max {
  flex-grow: 1;
  flex-basis: 100%;
}
// [class*="m-edit-box-item-button"],
// [class^="m-edit-box-item-button"] {
//   // flex: 0 1 auto;
//   // .button {
//   //   margin: 0;
//   // }
// }
.m-edit-box-item-button-small {
  flex-grow: 0;
  // flex-basis: 2em;
  min-width: 2em;
}
.m-edit-box-item-button-large {
  flex-grow: 0;
  // flex-basis: 3em;
  min-width: 3em;
}
// .m-edit-box-item-shrink {
//   flex-grow: 0;
//   min-width: 5em;
// }
// .m-edit-box-item-grow {
//   flex-grow: 1;
// }
// --------------------------------------------------
// edit end
// --------------------------------------------------
.m-edit-box-content {
  &.m-edit-box-content-end {
    justify-content: flex-end;
    [class*="m-edit-box-item"],
    [class^="m-edit-box-item"] {
      justify-content: flex-end;
    }
  }
}
// --------------------------------------------------
// edit group
// --------------------------------------------------
[class*="m-edit-box-group"],
[class^="m-edit-box-group"] {
  flex: 0 1 0;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  z-index: 1;
  [class*="m-edit-box-item"],
  [class^="m-edit-box-item"] {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: -1px;
    & > * {
      border-radius: 0;
      margin-bottom: 0;
    }
    .button {
      z-index: 2;
      &:focus {
        z-index: 3;
      }
    }
    &:hover {
      .button {
        z-index: 3;
      }
    }
    .m-auto-suggest,
    .m-check-block,
    .m-input-block,
    .m-input-file-block,
    .m-radio-block,
    .m-select-block {
      z-index: 2;
      &.is-focus {
        z-index: 4;
      }
      .m-auto-suggest-field,
      .m-check-block-check-icon,
      .m-input-block-field,
      .m-input-file-block-field,
      .m-radio-block-radio-icon,
      .m-select-block-dropdown {
        border-radius: 0;
        &:focus {
          z-index: 3;
        }
      }
    }
    &:hover {
      .m-auto-suggest,
      .m-check-block,
      .m-input-block,
      .m-input-file-block,
      .m-radio-block,
      .m-select-block {
        z-index: 3;
      }
    }
    &:first-of-type {
      & > * {
        border-radius: $border-radius-large 0 0 $border-radius-large;
      }
      .m-check-block {
        .m-check-block-check-icon {
          border-radius: $border-radius-large 0 0 $border-radius-large;
        }
      }
      .m-radio-block {
        .m-radio-block-radio-icon {
          border-radius: $border-radius-large 0 0 $border-radius-large;
        }
      }
      .m-select-block {
        .m-select-block-dropdown {
          border-radius: $border-radius-large 0 0 $border-radius-large;
        }
      }
      .m-input-block {
        .m-input-block-field {
          border-radius: $border-radius-large 0 0 $border-radius-large;
        }
      }
      .m-auto-suggest {
        .m-auto-suggest-field {
          border-radius: $border-radius-large 0 0 $border-radius-large;
        }
      }
      .m-input-file-block {
        .m-input-file-block-label {
          border-radius: $border-radius-large 0 0 $border-radius-large;
        }
      }
    }
    &:last-of-type {
      & > * {
        border-radius: 0 $border-radius-large $border-radius-large 0;
      }
      .m-check-block {
        .m-check-block-check-icon {
          border-radius: 0 $border-radius-large $border-radius-large 0;
        }
      }
      .m-radio-block {
        .m-radio-block-radio-icon {
          border-radius: 0 $border-radius-large $border-radius-large 0;
        }
      }
      .m-select-block {
        .m-select-block-dropdown {
          border-radius: 0 $border-radius-large $border-radius-large 0;
        }
      }
      .m-input-block {
        .m-input-block-field {
          border-radius: 0 $border-radius-large $border-radius-large 0;
        }
      }
      .m-auto-suggest {
        .m-auto-suggest-field {
          border-radius: 0 $border-radius-large $border-radius-large 0;
        }
      }
      .m-input-file-block {
        .m-input-file-block-label {
          border-radius: 0 $border-radius-large $border-radius-large 0;
        }
      }
    }
    &:first-of-type:last-of-type {
      & > * {
        border-radius: $border-radius-large;
      }
      .m-check-block {
        .m-check-block-check-icon {
          border-radius: $border-radius-large;
        }
      }
      .m-radio-block {
        .m-radio-block-radio-icon {
          border-radius: $border-radius-large;
        }
      }
      .m-select-block {
        .m-select-block-dropdown {
          border-radius: $border-radius-large;
        }
      }
      .m-input-block {
        .m-input-block-field {
          border-radius: $border-radius-large;
        }
      }
      .m-auto-suggest {
        .m-auto-suggest-field {
          border-radius: $border-radius-large;
        }
      }
      .m-input-file-block {
        .m-input-file-block-label {
          border-radius: $border-radius-large;
        }
      }
    }
  }

  .m-edit-box-item-small {
    min-width: 2em;
    flex-basis: 5em;
  }
  .m-edit-box-item-medium {
    min-width: 4em;
    flex-basis: 10em;
  }
  .m-edit-box-item-large {
    min-width: 6em;
    flex-basis: 15em;
  }
  &.m-edit-box-item-max {
    flex-grow: 1;
    flex-basis: 100%;
  }
}
.m-edit-box-group-control-set {
  flex-grow: 0;
  flex-basis: 13em;
  [class*="m-edit-box-item"],
  [class^="m-edit-box-item"] {
    flex-grow: 1;
  }
  [class*="m-edit-box-item-button"],
  [class^="m-edit-box-item-button"] {
    flex-grow: 0;
  }
  .m-edit-box-item-button-large {
    flex-basis: 3em;
  }
}
// --------------------------------------------------
// edit label
// --------------------------------------------------
.m-edit-box-label {
  margin: 0 1em 0 0;
  padding: 0;
  display: block;
  font-size: $font-size-075;
  font-family: $open-sans-semi-bold;
  color: $secondary-color-06;
  box-sizing: border-box;
  white-space: nowrap;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
// --------------------------------------------------
// edit text
// --------------------------------------------------
.m-edit-box-total {
  background-color: $gray-19;
  padding: 0 1em;
  margin: 0;
  font-size: $font-size-100;
  font-family: $open-sans-semi-bold;
  line-height: $line-height-250;
  height: 2.5em;
  box-sizing: border-box;
  border-radius: $border-radius-large;
  border: 0;
  border: $border;
  border-color: $gray-16;
  color: $base-color;
  text-align: center;
  white-space: nowrap;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-edit-box-check-label,
.m-edit-box-radio-label {
  background-color: $white;
  padding: 0 0.8em;
  margin: 0;
  font-size: $font-size-100;
  font-family: $open-sans-semi-bold;
  line-height: $line-height-250;
  height: 2.5em;
  box-sizing: border-box;
  border-radius: $border-radius-large;
  border: 0;
  border: $border;
  border-color: $gray-16;
  color: $base-color;
  cursor: pointer;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
// --------------------------------------------------
// edit controls
// --------------------------------------------------
.m-edit-controls {
  margin: 0 0 1em;
  position: sticky;
  top: 6.5em;
  transition: top $transition-ease-fast;
  z-index: $edit-controls;
  .button-group {
    margin-bottom: 0;
  }
}
.is-header-pinned {
  .m-edit-controls {
    top: 3.5em;
  }
}
// --------------------------------------------------
// night mode
// --------------------------------------------------
.is-night-mode {
  .m-edit-box-guides {
    &:not(:only-child):not(:last-child) {
      border-bottom-color: $gray-03;
    }
  }
  .m-edit-heading {
    background-color: $secondary-color-04;
  }
  .m-edit-box-description {
    strong {
      background-color: $secondary-color-01;
      color: $secondary-color-12;
    };
  }
  .m-edit-box-label {
    color: $secondary-color-16;
  }
  .m-edit-box-total {
    background-color: $gray-05;
    border-color: $gray-06;
    color: $gray-18;
  }
  .m-edit-box-check-label,
  .m-edit-box-radio-label {
    background-color: $gray-03;
    border-color: $gray-06;
    color: $gray-18;
  }
  .m-edit-box-content-outline {
    background-color: $gray-04;
    border-color: $gray-06;
    background-color: $gray-01;
    border-color: $gray-04;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-edit-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  .m-edit-box-body {
    flex: 1 1 auto;
  }
  .m-edit-box-head {
    .m-edit-box-description {
      margin-bottom: 0;
    }
  }
  .m-edit-box-head-row {
    > * {
      margin-right: 1em;
    }
  }
  .m-edit-box-indent {
    .m-edit-box-body {
      margin-left: 0;
    }
  }
  .m-edit-box-labels {
    .m-edit-box-head,
    .m-edit-box-head-row {
      > * {
        margin-top: 1.25em;
      }
    }
  }
  .m-edit-box-head-small {
    .m-edit-box-head,
    .m-edit-box-head-row {
      flex: 0 0 30%;
      max-width: 30%;
    }
    .m-edit-box-body {
      flex: 0 0 70%;
      max-width: 70%;
    }
  }
  .m-edit-box-head-large {
    .m-edit-box-head,
    .m-edit-box-head-row {
      flex: 0 0 40%;
      max-width: 40%;
    }
    .m-edit-box-body {
      flex: 0 0 60%;
      max-width: 60%;
    }
  }
  .m-edit-box-no-head-small {
    padding-left: 30%;
  }
  .m-edit-box-no-head-large {
    padding-left: 40%;
  }
  .m-edit-box-check-label,
  .m-edit-box-radio-label {
    line-height: $line-height-250;
    height: 2.5em;
  }
  .m-edit-box-total {
    line-height: $line-height-250;
    height: 2.5em;
  }
}
@media (min-width: $screen-md) {
  .m-edit-controls {
    top: 6.5em;
  }
  .is-header-pinned {
    .m-edit-controls {
      top: 3.5em;
    }
  }
}
@media (min-width: $screen-lg) {
  .m-edit-controls {
    top: 3.5em;
  }
}
@media (min-width: $screen-xl) {}
@media print {
  .m-edit-controls {
    display: none;
  }
}
