.m-edit-wrapper {
  margin: 2em 1em;
}
.m-edit-title {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
}
.m-edit-controls {
  margin: 1em 0;
  box-sizing: border-box;
}
.m-edit-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  .m-input-block-field {
    margin-bottom: 0;
  }
}
.m-edit-box-no-head {
  margin-left: 30%;
}
.m-edit-box-head {
  flex: 0 0 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.m-edit-box-body {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.m-edit-box-title {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
  margin-bottom: 0;
}
.m-edit-box-item {
  flex: 1 1 auto;
  margin-right: 1em;
  margin-bottom: 1em;
  &:last-of-type {
    margin-right: 0;
  }
}
.m-edit-box-item-small {
  max-width: 5em;
}
.m-edit-box-bonus-button {
  align-self: flex-end;
}
.m-edit-box-input-group {
  position: relative;
  z-index: 1;
  .m-edit-box-item {
    margin-right: 0;
    .m-input-block {
      margin-left: -1px;
      z-index: 2;
      &.is-focus,
      &.is-hover {
        z-index: 3;
      }
      .m-input-block-field {
        border-radius: 0;
      }
    }
    &:hover {
      .m-input-block {
        z-index: 3;
      }
    }
    &:first-of-type {
      .button,
      .m-total-block-total {
        border-radius: $border-radius-large 0 0 $border-radius-large;
      }
      .m-input-block {
        .m-input-block-field {
          border-radius: $border-radius-large 0 0 $border-radius-large;
        }
      }
    }
    &:last-of-type {
      .button,
      .m-total-block-total {
        border-radius: 0 $border-radius-large $border-radius-large 0;
      }
      .m-input-block {
        .m-input-block-field {
          border-radius: 0 $border-radius-large $border-radius-large 0;
        }
      }
    }
  }
}
.m-edit-box-bonus-button {
  .button {
    padding: 0 0.5em;
  }
}
.is-pinned {
  .m-edit-controls {
    margin: 0;
    position: fixed;
    top: 5em;
    z-index: $card-controls;
    animation: edit-controls-down-xs ease-in-out 0.6s;
    box-shadow: $shadow-small;
  }
}
.is-night-mode {
  .m-edit-heading {
    background-color: $secondary-color-04;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {
  .m-edit-box-bonus-button {
    .button {
      padding: 0;
    }
  }
  .is-pinned {
    .m-edit-controls {
      top: 0.5em;
      animation: edit-controls-down-lg ease-in-out 0.5s;
    }
  }
}
@media (min-width: $screen-xl) {}
