.m-fab {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: $root-font-size-extra-large;
  z-index: $fab;
  transition: all $transition-ease-fast;
}

.is-onscreen-snack {
  .m-fab {
    bottom: 6rem;
  }
}

.is-onscreen-nav {
  .m-fab {
    right: -10rem;
  }
  &.is-onscreen-snack {
    .m-fab {
      right: -10rem;
    }
  }
}

.m-fab-button {
  width: 55px;
  height: 55px;
  font-size: $font-size-1-5;
  line-height: 55px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  transition: all $transition-ease-slow;
  box-shadow: $shadow-small;
  [class^="icon-"],
  [class*=" icon-"] {
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 55px;
    transition: all $transition-ease-slow;
  }
  &:focus,
  &:hover {
    transition: all $transition-ease-extra-fast;
    box-shadow: $shadow-medium;
    [class^="icon-"],
    [class*=" icon-"] {
      transition: all $transition-ease-extra-fast;
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .is-onscreen-snack {
    .m-fab {
      bottom: 3rem;
    }
  }
}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
