.m-fab {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: $font-size-root-100;
  z-index: $fab;
  transition: all $transition-ease-medium;
  transform: rotate(0);
}

.is-onscreen-snack {
  .m-fab {
    bottom: 6rem;
  }
}

.is-nav-open {
  .m-fab {
    right: -10rem;
    transform: rotate(180deg);
  }
  &.is-onscreen-snack {
    .m-fab {
      right: -10rem;
      transform: rotate(180deg);
    }
  }
}

.m-fab-button {
  width: 55px;
  height: 55px;
  font-size: $font-size-150;
  line-height: 55px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  transition: all $transition-ease-slow;
  box-shadow: $shadow-small;
  [class^="icon-"],
  [class*=" icon-"] {
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 55px;
    transition: all $transition-ease-slow;
  }
  &:focus,
  &:hover {
    transition: all $transition-ease-extra-fast;
    box-shadow: $shadow-medium;
    [class^="icon-"],
    [class*=" icon-"] {
      transition: all $transition-ease-extra-fast;
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .is-onscreen-snack {
    .m-fab {
      bottom: 1.5rem;
    }
  }
}

@media (min-width: $screen-md) {
  .m-fab {
    bottom: 2rem;
    right: 2rem;
  }
  .is-onscreen-snack {
    .m-fab {
      bottom: 2rem;
    }
  }
}

@media (min-width: $screen-lg) {
  .m-fab {
    bottom: 3rem;
    right: 3rem;
  }
  .is-onscreen-snack {
    .m-fab {
      bottom: 3rem;
    }
  }
}

@media (min-width: $screen-xl) {}

@media print {
  .m-fab {
    display: none;
  }
}
