.m-fab {
  position: fixed;
  bottom: 2em;
  right: 2em;
  font-size: $font-size-root-100;
  z-index: $fab;
  transform: translate(0, 0);
  transition: all $transition-ease-fast;
  transform: scale(1);
}
.is-onscreen-snack {
  .m-fab {
    transform: translate(0, -3em);
  }
}
.m-fab-button {
  width: 4.5em;
  height: 4.5em;
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  transition: all $transition-ease-slow;
  box-shadow: $shadow-small;
  &:focus,
  &:hover {
    transition: all $transition-ease-extra-fast;
    box-shadow: $shadow-medium;
  }
  &:active {
    transform: scale(1.1);
    transition: all $transition-bounce-extra-fast;
  }
  [class*=" icon-"],
  [class^="icon-"] {
    font-size: 2.2em;
  }
}
.is-night-mode {
  .m-fab-button {
    box-shadow: none;
    &:focus,
    &:hover {
      box-shadow: none;
    }
    &:active {
      box-shadow: none;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .is-onscreen-snack {
    .m-fab {
      transform: translate(0, -4em);
    }
  }
}
@media (min-width: $screen-md) {
  .m-fab-button {
    font-size: 0.8em;
  }
  .is-onscreen-snack {
    .m-fab {
      transform: translate(0, 0);
    }
  }
}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {
  .m-fab {
    display: none;
  }
}
