.m-fab {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: $font-size-root-100;
  z-index: $fab;
  transition: all $transition-ease-fast;
  transform: scale(1);
}

.is-onscreen-snack {
  .m-fab {
    bottom: 6rem;
  }
}

.is-nav-open {
  .m-fab {
    transform: scale(0);
    transition: all $transition-ease-fast;
  }
  &.is-onscreen-snack {
    .m-fab {
      transform: scale(0);
      transition: all $transition-ease-fast;
    }
  }
}

.m-fab-button {
  width: 2.5em;
  height: 2.5em;
  font-size: $font-size-200;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  transition: all $transition-ease-slow;
  box-shadow: $shadow-small;
  &:focus,
  &:hover {
    transition: all $transition-ease-extra-fast;
    box-shadow: $shadow-medium;
  }
  &:active {
    transform: scale(1.1);
    transition: all $transition-bounce-extra-fast;
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .is-onscreen-snack {
    .m-fab {
      bottom: 1.5rem;
    }
  }
}

@media (min-width: $screen-md) {
  .m-fab {
    bottom: 2rem;
    right: 2rem;
  }
  .m-fab-button {
    font-size: $font-size-150;
  }
  .is-onscreen-snack {
    .m-fab {
      bottom: 2rem;
    }
  }
}

@media (min-width: $screen-lg) {
  .m-fab {
    bottom: 3rem;
    right: 3rem;
  }
  .is-onscreen-snack {
    .m-fab {
      bottom: 3rem;
    }
  }
}

@media (min-width: $screen-xl) {}

@media print {
  .m-fab {
    display: none;
  }
}
