.m-hamburger {
  position: relative;
  width: 1.5em;
  height: 100%;
  line-height: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  .m-hamburger-inner {
    background-color: $white;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    border-radius: $border-radius-medium;
    transform: translatey(-50%) rotate(0deg);
    display: block;
    transition: background-color $transition-ease-medium 0s, transform $transition-ease-medium 0s;
    &:after,
    &:before {
      background-color: $white;
      opacity: 1;
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      transition: background-color $transition-ease-medium 0s, top $transition-ease-medium 0.1s, transform $transition-ease-medium 0s;
      border-radius: $border-radius-medium;
      display: block;
    }
    &:before {
      top: -6px;
    }
    &:after {
      top: 6px;
      transform: rotate(0deg);
    }
  }
  &.is-open {
    .m-hamburger-inner {
      background-color: $white;
      transform: translatey(-50%) rotate(135deg);
      transition: background-color $transition-ease-medium 0s, transform $transition-ease-medium 0.2s;
      &:after,
      &:before {
        background-color: $white;
        transition: background-color $transition-ease-medium 0s, top $transition-ease-medium 0s, transform $transition-ease-medium 0.3s;
      }
      &:before {
        top: 0;
      }
      &:after {
        top: 0;
        transform: rotate(90deg);
      }
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {
  .m-hamburger {
    // width: 30px;
    .m-hamburger-inner {
      height: 3px;
      &:after,
      &:before {
        height: 3px;
      }
      &:before {
        top: -7px;
      }
      &:after {
        top: 7px;
      }
    }
  }
}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
