.m-header {
  background-color: $secondary-color-05;
  font-size: $font-size-root-100;
  height: 3em;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: $header;
}
.m-header-hamburger {
  flex: 0 0 auto;
  width: 4em;
}
.m-header-select {
  flex: 0 0 auto;
  width: calc(100% - 4em);
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {}
