.m-import-select-wrapper {
  text-align: center;
}
.m-import-select {
  position: relative;
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
}
.m-import-select-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.m-import-select-label {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  display: flex;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &.m-import-select-label-ok {
    [class*=" icon-"],
    [class^="icon-"] {
      color: $secondary-color-10;
    }
  }
  &.m-import-select-label-error {
    [class*=" icon-"],
    [class^="icon-"] {
      color: $primary-color-10;
    }
  }
}
.m-import-select-label-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
