.m-import-select {
  position: relative;
  cursor: pointer;
  .m-import-select-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
  }
  .m-import-select-label {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    width: 100%;
    &.m-import-select-label-ok {
      [class^="icon-"],
      [class*=" icon-"] {
        color: $secondary-color-10;
      }
    }
    &.m-import-select-label-error {
      [class^="icon-"],
      [class*=" icon-"] {
        color: $primary-color-10;
      }
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
