.m-input-block {
  position: relative;
  z-index: 1;
}

.m-input-block-field {
  position: relative;
  z-index: 1;
}

.m-input-block-label {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 2;
  transition: all $transition-ease-extra-fast;
  cursor: text;
  box-sizing: border-box;
  white-space: nowrap;
  &.is-active {
    top: -1.5em;
    left: 0;
    color: $gray-12;
    font-size: $root-font-size-extra-small;
    height: $line-height-1-5;
    line-height: $line-height-1-5;
  }
}

.m-input-block-label-dark {
  color: $dark-alpha-16;
  &.is-active {
    color: $dark-alpha-12;
  }
}

.m-input-block-label-large {
    font-size: $font-size-2;
    height: $line-height-2;
    line-height: $line-height-2;
  &.is-active {
    height: $line-height-1-5;
    line-height: $line-height-1-5;
  }
}

.m-input-block-field-dark {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="password"] {
    background-color: $dark-alpha-19;
    color: $white;
    &:focus {
      border-color: $secondary-color-15;
    }
  }
}

.m-input-block-field-large {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="password"] {
    font-size: $font-size-2;
    height: $line-height-2;
    line-height: $line-height-2;
    margin: 0 0 1em 0;
  }
}

.m-input-block-controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  .button {
    border: 0;
    height: $root-line-height-extra-large;
    line-height: $root-line-height-extra-large;
    margin: 0;
    padding: 0 15px;
    float: left;
    [class*=" icon-"],
    [class^="icon-"] {
      margin: 0;
      height: $root-line-height-extra-large;
      line-height: $root-line-height-extra-large;
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
