.m-input-block {
  position: relative;
  z-index: 1;
  font-size: $font-size-root-100;
}
.m-input-block-auto-suggest-list {
  background-color: $gray-20;
  overflow-y: auto;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 30vh;
  border-radius: $border-radius-small;
  box-shadow: $shadow-large;
  z-index: $auto-suggest;
  box-sizing: border-box;
}
.m-input-block-auto-suggest-list-item {
  padding: 0;
  &:not(:last-child) {
    margin-bottom: 0;
  }
}
.m-input-block-auto-suggest-link {
  color: $gray-06;
  padding: 0.5em 1em;
  display: block;
  text-decoration: none;
  &:link,
  &:visited {
    color: $gray-06;
    text-decoration: none;
  }
  &:focus,
  &:hover {
    background-color: $gray-19;
    color: $gray-06;
    text-decoration: none;
  }
  &:active {
    background-color: $primary-color-06;
    color: $white;
    .m-input-block-auto-suggest-strong {
      color: $primary-color-16;
    }
  }
  .m-input-block-auto-suggest-strong {
    color: $secondary-color-10;
  }
}
.m-input-block-label {
  margin: 0 1em 0 0;
  padding: 0;
  display: block;
  z-index: 2;
  color: $secondary-color-06;
  font-size: $font-size-075;
  font-family: $open-sans-semi-bold;
  box-sizing: border-box;
  white-space: nowrap;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-input-block-field {
  position: relative;
  z-index: 1;
}
.m-input-block-large {
  .m-input-block-field {
    font-size: $font-size-150;
  }
}
.m-input-block-quick-value-button-group {
  .button,
  button {
    [class*=" icon-"],
    [class^="icon-"] {
      &:not(:only-child):not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
.is-night-mode {
  .m-input-block-label {
    color: $secondary-color-16;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
