.m-input-block {
  position: relative;
  z-index: 1;
  font-size: $font-size-root-100;
}
.m-input-block-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  .m-input-block {
    flex: 1 1 30%;
    min-width: 8em;
  }
}
.m-input-block-label {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 1em;
  left: 10px;
  z-index: 2;
  color: $secondary-color-12;
  transition: all $transition-ease-extra-fast;
  cursor: text;
  box-sizing: border-box;
  white-space: nowrap;
  &.is-active {
    top: 0;
    left: 0;
    color: $secondary-color-16;
    font-size: $font-size-075;
    height: $line-height-100;
    line-height: $line-height-100;
  }
}
.m-input-block-field {
  position: relative;
  z-index: 1;
}
.m-input-block-large {
  font-size: $font-size-root-150;
}
.is-night-mode {
  .m-input-block-label {
    &.is-active {
      color: $secondary-color-06;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
