.m-input-block {
  position: relative;
  z-index: 1;
  font-size: $font-size-root-100;
}
.m-input-block-label {
  margin: 0;
  padding: 0;
  display: block;
  z-index: 2;
  color: $secondary-color-06;
  font-size: $font-size-075;
  font-family: $open-sans-semi-bold;
  box-sizing: border-box;
  white-space: nowrap;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-input-block-field {
  position: relative;
  z-index: 1;
}
.m-input-block-large {
  .m-input-block-field {
    font-size: $font-size-150;
  }
}
.m-input-block-quick-value-button-group {
  .button,
  button {
    [class*=" icon-"],
    [class^="icon-"] {
      &:not(:only-child):not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
.is-night-mode {
  .m-input-block-label {
    color: $secondary-color-08;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
