/* input-block
------------------------------------------------- */

.input-block {
  position: relative;
  z-index: 1;
  .input-label {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    color: $dark-alpha-14;
    top: 0;
    left: 10px;
    font-size: 0.9rem;
    height: 2.5rem;
    line-height: 2.5rem;
    z-index: 2;
    transition: all $transition-ease-fast;
    cursor: text;
    box-sizing: border-box;
    white-space: nowrap;
    // &.input-label-focus {
    //   color: $primary-color-07;
    // }
    &.input-label-active {
      top: -1.5rem;
      left: 0;
      color: $dark-alpha-12;
      font-size: $small-text;
      height: 1.5rem;
      line-height: 1.5rem;
    }
  }
  .input-controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    .button {
      border: 0;
      height: 2.5rem;
      line-height: 2.5rem;
      margin: 0;
      padding: 0 15px;
      float: left;
      [class*=" icon-"],
      [class^="icon-"] {
        margin: 0;
        height: 2.5rem;
        line-height: 2.5rem;
      }
    }
  }
  .input-field {
    position: relative;
    z-index: 1;
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
