.m-log {
  position: fixed;
  bottom: 1em;
  left: 1em;
  font-size: $font-size-root-100;
  z-index: $log;
  width: 20em;
  max-width: calc(100% - 2em);
  min-width: 200px;
  opacity: 0;
  perspective: 1000px;
  transition: all $transition-ease-fast;
}
.is-onscreen-snack {
  .m-log {
    bottom: 5.5em;
  }
}
.m-log-wrapper {
  box-sizing: border-box;
  transition: all $transition-ease-fast;
  .container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
.m-log-body {
  background-color: $secondary-color-07;
  border-radius: $border-radius-medium $border-radius-medium 0 0;
  padding: 1em;
  max-height: calc(50vh - 3.6666666667em);
  overflow: scroll;
  box-sizing: border-box;
}
.m-log-heading {
  padding: 0 0.65em;
  margin-bottom: 0.5em;
  font-family: $open-sans-semi-bold;
  font-size: $font-size-150;
  color: $white;
  &:focus {
    outline: 0;
  }
}
.m-log-list {
  .m-log-list-item {}
  .m-log-list-item-alert {
    background-color: $gray-19;
    padding: 0.2em 3em 0.2em 1em;
    position: relative;
    border-radius: $border-radius-medium;
    .m-log-list-item-alert-icon {
      position: absolute;
      top: 50%;
      right: 0.5em;
      color: $primary-color-10;
      font-size: $font-size-150;
      transform: translate(0, -50%);
    }
  }
}
.m-log-list-short {
  .m-log-list-item {
    padding: 0.25em 1em;
    line-height: $line-height-160;
    border: $border;
    color: $white;
  }
  .m-log-list-item-alert {
    background-color: $secondary-color-06;
    padding-right: 3em;
    border-color: $secondary-color-14;
    border-radius: $border-radius-medium;
    position: relative;
    font-family: $open-sans-semi-bold;
    .m-log-list-item-alert-icon {
      position: absolute;
      top: 50%;
      right: 0.5em;
      color: $secondary-color-18;
      font-size: $font-size-150;
      transform: translate(0, -50%);
    }
  }
}
.m-log-controls {
  border-radius: 0 0 $border-radius-medium $border-radius-medium;
  overflow: hidden;
  .button {
    margin: 0;
    &.button {
      border-radius: 0 0 $border-radius-small $border-radius-small;
    }
  }
}
.is-night-mode {
  .m-log-shade {
    background-color: $dark-alpha-08;
  }
  .m-log {
    .m-log-body {
      background-color: $secondary-color-03;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-log {
    max-width: 90%;
  }
}
@media (min-width: $screen-md) {
  .m-log {
    max-width: 80%;
  }
}
@media (min-width: $screen-lg) {
  .m-log {
    left: 5.5em;
  }
}
@media (min-width: $screen-xl) {}
