.m-log {
  position: fixed;
  bottom: 1em;
  left: 1em;
  font-size: $font-size-root-100;
  z-index: $log;
  width: 20em;
  max-width: calc(100% - 2em);
  min-width: 200px;
  opacity: 0;
  perspective: 1000px;
  transition: opacity $transition-ease-fast;
  &.is-transition-end {
    transition: opacity $transition-ease-medium;
  }
}
.is-onscreen-snack {
  .m-log {
    bottom: 5.5em;
  }
}
.m-log-wrapper {
  background-color: $secondary-color-04;
  border-radius: $border-radius-large;
  box-sizing: border-box;
  position: relative;
  transition: all $transition-bounce-fast;
}
.is-transition-end {
  .m-log-wrapper {
    transition: all $transition-ease-medium;
  }
}
.m-log-body {
  padding: 2em;
  max-height: calc(50vh - 3.6666666667em);
  overflow: scroll;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  // transition: all $transition-bounce-fast;
  // transform: translate(0, 0);
  // transition-delay: 0.1s;
}
// .is-transition-end {
//   .m-log-body {
//     transition: all $transition-ease-fast;
//   }
// }
// .is-jumping-up {
//   .m-log-body {
//     transform: translate(0, 4em);
//   }
// }
// .is-sitting {
//   .m-log-body {
//     transform: translate(0, 0);
//   }
// }
// .is-droping-down {
//   .m-log-body {
//     transform: translate(0, -2em);
//   }
// }
.m-log-heading {
  margin-bottom: 0.5em;
  font-family: $open-sans-semi-bold;
  font-size: $font-size-150;
  color: $white;
  &:focus {
    outline: 0;
  }
}
.m-log-list {
  padding-left: 1em;
  .m-log-list-item {}
  .m-log-list-item-alert {
    background-color: $gray-19;
    padding: 0.5em 3em 0.5em 1em;
    position: relative;
    border-radius: $border-radius-medium;
    .m-log-list-item-alert-icon {
      position: absolute;
      top: 50%;
      right: 0.5em;
      color: $primary-color-10;
      font-size: $font-size-150;
      transform: translate(0, -50%);
    }
  }
}
.m-log-list-short {
  padding-left: 1em;
  .m-log-list-item {
    line-height: $line-height-160;
    color: $white;
  }
  a {
    color: $primary-color-16;
    &:link,
    &:visited {
      color: $primary-color-16;
    }
    &:hover {
      color: $primary-color-14;
    }
    &:active {
      color: $primary-color-12;
    }
  }
}
.m-log-controls {
  border-radius: 0 0 $border-radius-medium $border-radius-medium;
  .button {
    margin: 0;
    &.button {
      border-radius: 0 0 $border-radius-small $border-radius-small;
    }
  }
}
.is-night-mode {
  .m-log {
    .m-log-body {
      background-color: $secondary-color-02;
    }
  }
  .m-log-list {
    .m-log-list-item-alert {
      background-color: $gray-03;
    }
  }
  .m-log-list-short {
    .m-log-list-item-alert {
      background-color: $gray-03;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-log {
    max-width: 90%;
  }
}
@media (min-width: $screen-md) {
  .m-log {
    max-width: 80%;
  }
}
@media (min-width: $screen-lg) {
  .m-log {
    left: 4em;
  }
}
@media (min-width: $screen-xl) {}
@media print {
  .m-log {
    display: none;
  }
}
