.m-modal-shade {
  background-color: $dark-alpha-06;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: $modal;
  transition: all $transition-ease-fast;
}

.m-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  perspective: 800px;
  transform: translate(-50%, -50%) rotateX(-90deg);
  opacity: 0;
  z-index: $modal;
}

.m-modal-wrapper {
  background-color: $white;
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // z-index: $modal;
  width: 80%;
  max-height: 80%;
  min-width: 300px;
  box-sizing: border-box;
  font-size: $root-font-size-large;
  border-radius: $border-radius-medium;
  // transform: translate(-50%, -50%);
  // opacity: 0;
  transition: all $transition-ease-fast;
}

.m-modal-controls {
  .button {
    margin: 0;
    &.button {
      border-right: 0;
      border-bottom: 0;
      border-left: 0;
      border-radius: 0 0 $border-radius-small $border-radius-small;
    }
  }
}
