.m-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: $font-size-root-100;
  z-index: $modal;
  width: 45em;
  max-width: calc(100% - 6em);
  min-width: 10em;
  transform: translate(-50%, -50%);
  opacity: 0;
  perspective: 1000px;
  transition: opacity $transition-ease-fast;
  &.is-transition-end {
    transition: opacity $transition-ease-medium;
  }
}
.m-modal-large {
  width: 65em;
}
.m-modal-small {
  width: 25em;
}
.m-modal-wrapper {
  box-sizing: border-box;
  position: relative;
  transition: all $transition-bounce-fast;
  .container {
    max-width: 100%;
  }
}
.is-transition-end {
  .m-modal-wrapper {
    transition: all $transition-ease-medium;
  }
}
.m-modal-body {
  background-color: $white;
  border-radius: $border-radius-large $border-radius-large 0 0;
  border-bottom: 1em solid transparent;
  border-bottom-color: $white;
  padding: 2em;
  max-height: calc(90vh - 3.6666666667em);
  overflow: scroll;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  .m-modal-heading {
    font-family: $open-sans-semi-bold;
    font-size: $font-size-150;
    &:not(:only-child):not(:last-child) {
      margin-bottom: 0.5em;
    }
    &:focus {
      outline: 0;
    }
  }
}
.m-modal-controls {
  margin: -1em 0 0;
  position: relative;
  z-index: 2;
  border-radius: 0 0 $border-radius-large $border-radius-large;
  .button {
    margin: 0;
    border-radius: 0 0 $border-radius-large $border-radius-large;
  }
}
.is-night-mode {
  .m-modal-body {
    background-color: $gray-03;
    border-bottom-color: $gray-03;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {
  .m-modal {
    max-width: calc(100% - 4em);
  }
}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {
  .m-modal {
    display: none;
  }
}
