.m-modal-shade {
  background-color: rgba($secondary-color-03, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: $modal;
  transition: all $transition-ease-fast;
}
.m-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: $font-size-root-100;
  z-index: $modal;
  width: 45em;
  max-width: calc(100% - 2em);
  min-width: 200px;
  transform: translate(-50%, -50%);
  opacity: 0;
  perspective: 1000px;
  transition: all $transition-ease-fast;
}
.m-modal-wrapper {
  box-sizing: border-box;
  transition: all $transition-ease-fast;
  .container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
.m-modal-body {
  background-color: $white;
  border-radius: $border-radius-medium $border-radius-medium 0 0;
  padding: 2em;
  max-height: calc(90vh - 3.6666666667em);
  overflow: scroll;
  box-sizing: border-box;
  .m-modal-heading {
    font-family: $open-sans-semi-bold;
    font-size: $font-size-150;
    &:focus {
      outline: 0;
    }
  }
}
.m-modal-controls {
  border-radius: 0 0 $border-radius-medium $border-radius-medium;
  overflow: hidden;
  .button {
    margin: 0;
    &.button {
      border-radius: 0 0 $border-radius-small $border-radius-small;
    }
  }
}
.is-night-mode {
  .m-modal-shade {
    background-color: $dark-alpha-08;
  }
  .m-modal {
    .m-modal-wrapper {
      background-color: $secondary-color-03;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-modal {
    max-width: 90%;
  }
}
@media (min-width: $screen-md) {
  .m-modal {
    max-width: 80%;
  }
}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
