.m-nav {
  background-color: $white;
  padding: 60px 0;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: $nav;
  border-bottom: 2px solid $gray-18;
  transition: top $transition-ease-extra-fast;
  .m-nav-list {
    margin: 0;
    padding: $font-size-medium 0;
    width: 100%;
    overflow-y: auto;
    > li {
      margin-bottom: 0;
      text-align: left;
      list-style-type: none;
      &.m-nav-divide {
        margin: $font-size-medium 0;
        background-color: $gray-19;
        height: 1px;
      }
    }
  }
  &.is-open {
    top: 0;
    transition: top $transition-ease-medium;
  }
}

.m-nav-title {
  margin-bottom: 0;
  margin-left: 20%;
  font-size: $font-size-medium;
  font-family: $open-sans-bold;
  line-height: $root-line-height-extra-large;
  width: 80%;
  display: block;
  text-transform: uppercase;
  text-align: left;
}

.m-nav-link {
  font-size: $font-size-medium;
  font-family: $open-sans-bold;
  line-height: $root-line-height-extra-large;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .m-nav-link-name {
    line-height: $root-line-height-extra-large;
    display: inline-block;
  }
  [class^="icon-"],
  [class*=" icon-"] {
    width: 20%;
    color: $secondary-color-03;
    text-align: center;
    line-height: $root-line-height-extra-large;
    display: block;
    float: left;
  }
  &:focus,
  &:hover {
    background-color: $dark-alpha-20;
    text-decoration: none;
  }
  &.is-active,
  &:active {
    background-color: $primary-color-10;
    color: $white;
    [class^="icon-"],
    [class*=" icon-"] {
      color: $white;
    }
  }
}

.m-nav-characters {
  margin: 0;
  padding: 0;
}

.m-nav-character {
  margin-bottom: 0;
  position: relative;
  font-size: $font-size-medium;
  font-family: $open-sans-bold;
  line-height: $line-height-medium;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  input {
    &[type="radio"],
    &[type="checkbox"] {
      top: 50%;
      transform: translate(-50%, -50%);
      & + label {
        line-height: $root-line-height-medium;
        transition: none;
        &:before {
          color: $secondary-color-03;
          width: 20%;
          margin: 0;
          // font-size: 1em;
          height: 50px;
          line-height: 50px;
          text-align: center;
          transition: none;
        }
        .m-nav-characters-name,
        .m-nav-characters-class,
        .m-nav-characters-level {
          display: inline-block;
        }
        .m-nav-characters-class,
        .m-nav-characters-level {
          color: $secondary-color-03;
        }
        .m-nav-characters-class {
          margin-right: 5px;
          margin-bottom: 0.5rem;
        }
        .m-nav-characters-level {
          margin-bottom: 0.5rem;
        }
        .m-nav-characters-name {
          color: $primary-color-10;
          font-family: $open-sans-semi-bold;
          width: 80%;
          margin-top: 0.5rem;
        }
      }
      &:hover {
        & + label {
          background-color: $dark-alpha-20;
          color: $secondary-color-03;
          &:before {
            color: $secondary-color-03;
          }
        }
      }
      &:focus {
        & + label {
          background-color: $dark-alpha-20;
          &:before {
            color: $secondary-color-03;
          }
        }
      }
      &:active {
        & + label {
          background-color: $primary-color-06;
          color: $white;
          &:before {
            color: $white;
          }
          .m-nav-characters-name,
          .m-nav-characters-class,
          .m-nav-characters-level {
            color: $white;
          }
        }
      }
      &:checked {
        & + label {
          background-color: $primary-color-10;
          color: $white;
          &:before {
            color: $white;
          }
          .m-nav-characters-name,
          .m-nav-characters-class,
          .m-nav-characters-level {
            color: $white;
          }
        }
        &:focus,
        &:hover {
          & + label {
            background-color: $primary-color-08;
            color: $white;
            &:before {
              color: $white;
            }
          }
        }
        &:active {
          & + label {
            background-color: $primary-color-06;
            color: $white;
            &:before {
              color: $white;
            }
            .m-nav-characters-name,
            .m-nav-characters-class,
            .m-nav-characters-level {
              color: $white;
            }
          }
        }
      }
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-nav {
    padding: 0;
    top: 80px;
    left: inherit;
    right: -400px;
    width: 360px;
    height: auto;
    border-radius: $border-radius-medium;
    transition: right $transition-ease-extra-fast;
    &.is-open {
      box-shadow: $shadow-small;
      top: 80px;
      right: 20px;
      transition: right $transition-bounce-medium;
    }
  }
}

@media (min-width: $screen-md) {
  .m-nav-title {
    font-size: $font-size-small;
  }
  .m-nav-link {
    font-size: $font-size-small;
  }
  .m-nav-character {
    font-size: $font-size-small;
  }
}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
