.m-nav {
  position: fixed;
  top: 3em;
  left: 0;
  width: 100%;
  height: 3em;
  font-size: $font-size-root-100;
  z-index: $nav;
  transition: top $transition-bounce-slow;
  &.is-pinned {
    top: 0;
    transition: top $transition-ease-slow;
  }
}
.m-nav-bar {
  background-color: $secondary-color-07;
  padding: 0 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: background-color $transition-ease-fast;
}
.m-nav-list {
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-nav-list-item {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-nav-link {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  color: $secondary-color-04;
  transition: color $transition-ease-fast;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  [class*=" icon-"],
  [class^="icon-"] {
    font-size: $font-size-150;
  }
  &:link,
  &:visited {
    color: $dark-alpha-08;
  }
  &:focus {
    background-color: transparent;
    color: $dark-alpha-14;
  }
  &:hover {
    color: $light-alpha-10;
    text-decoration: none;
    outline: 0;
  }
  &:active {
    color: $light-alpha-08;
  }
  &.is-active {
    color: $white;
    &:focus {
      color: $white;
    }
  }
}
.is-display-mode {
  .m-nav-bar {
    background-color: $primary-color-07;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {
  .m-nav {
    width: 3em;
    top: 0;
    height: 100%;
  }
  .m-nav-bar {
    padding: 0;
    flex-flow: column nowrap;
    justify-content: center;
  }
  .m-nav-list {
    max-height: 70vh;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .m-nav-list-item {
    flex-flow: column nowrap;
  }
  .m-nav-link {
    [class*=" icon-"],
    [class^="icon-"] {
      // font-size: $font-size-200;
    }
  }
}
@media (min-width: $screen-xl) {}
@media print {
  .m-nav {
    display: none;
  }
}
