.m-nav {
  background-color: $white;
  padding: $font-size-450 0;
  position: fixed;
  right: 0;
  width: 80%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: $nav;
  transition: transform $transition-ease-medium;
  transform: translate(100%, 0);
  .m-nav-list {
    padding: $font-size-100 0;
    margin: 0;
    width: 100%;
    overflow-y: auto;
    > li {
      margin-bottom: 0;
      text-align: left;
      list-style-type: none;
      &.m-nav-divide {
        margin: $font-size-100 0;
        background-color: $gray-19;
        height: 1px;
        // transition: background-color $transition-ease-medium;
      }
    }
  }
  &.is-open {
    transform: translate(0, 0);
  }
}

.m-nav-shade {
  background-color: $dark-alpha-10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: $nav;
  transition: opacity $transition-ease-medium, transform $transition-ease-medium;
}

.m-nav-title {
  margin-bottom: 0;
  margin-left: 20%;
  font-family: $open-sans-bold;
  line-height: $line-height-300;
  width: 80%;
  display: block;
  text-transform: uppercase;
  text-align: left;
  transition: none;
  &:focus {
    outline: 0;
  }
}

.m-nav-link {
  font-family: $open-sans-semi-bold;
  line-height: $line-height-300;
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .m-nav-link-name {}
  .m-nav-link-shortcut {
    margin-right: 20px;
    float: right;
    font-family: $open-sans-light;
  }
  [class^="icon-"],
  [class*=" icon-"] {
    width: 20%;
    font-size: $font-size-125;
    color: $secondary-color-03;
    text-align: center;
    display: block;
    float: left;
    // transition: color $transition-ease-medium;
  }
  &:focus,
  &:hover {
    background-color: $dark-alpha-20;
    text-decoration: none;
  }
  &.is-active,
  &:active {
    background-color: $primary-color-10;
    color: $white;
    [class^="icon-"],
    [class*=" icon-"] {
      color: $white;
    }
  }
  &.is-active {
    &:focus,
    &:hover {
      background-color: $primary-color-08;
    }
  }
}

.m-nav-characters {
  margin: 0;
  padding: 0;
}

.m-nav-character {
  margin: 0;
  position: relative;
  height: $line-height-400;
  line-height: $line-height-400;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  input {
    &[type="radio"],
    &[type="checkbox"] {
      top: 50%;
      transform: translate(-50%, -50%);
      & + label {
        height: $line-height-400;
        line-height: $line-height-400;
        transition: none;
        // transition: color $transition-ease-medium;
        &:before {
          color: $secondary-color-03;
          width: 20%;
          margin: 0;
          text-align: center;
          float: left;
          transition: none;
          // transition: color $transition-ease-medium;
        }
        .m-nav-characters-name,
        .m-nav-characters-class,
        .m-nav-characters-level {
          display: block;
          float: left;
          line-height: $line-height-160;
        }
        .m-nav-characters-class,
        .m-nav-characters-level {
          color: $primary-color-10;
        }
        .m-nav-characters-name {
          color: $secondary-color-03;
          font-family: $open-sans-semi-bold;
          width: 80%;
          margin-top: 5px;
        }
        .m-nav-characters-class {
          margin-right: $font-size-050;
        }
      }
      &:hover {
        & + label {
          background-color: $dark-alpha-20;
          color: $secondary-color-03;
          &:before {
            color: $secondary-color-03;
          }
        }
      }
      &:focus {
        & + label {
          background-color: $dark-alpha-20;
          &:before {
            color: $secondary-color-03;
          }
        }
      }
      &:active {
        & + label {
          background-color: $primary-color-06;
          color: $white;
          &:before {
            color: $white;
          }
          .m-nav-characters-name,
          .m-nav-characters-class,
          .m-nav-characters-level {
            color: $white;
          }
        }
      }
      &:checked {
        & + label {
          background-color: $primary-color-10;
          color: $white;
          &:before {
            color: $white;
          }
          .m-nav-characters-name,
          .m-nav-characters-class,
          .m-nav-characters-level {
            color: $white;
          }
        }
        &:focus,
        &:hover {
          & + label {
            background-color: $primary-color-08;
            color: $white;
            &:before {
              color: $white;
            }
          }
        }
        &:active {
          & + label {
            background-color: $primary-color-06;
            color: $white;
            &:before {
              color: $white;
            }
            .m-nav-characters-name,
            .m-nav-characters-class,
            .m-nav-characters-level {
              color: $white;
            }
          }
        }
      }
    }
  }
}

.m-nav-character:not(:last-child) {
  margin: 0;
}

.is-night-mode {
  .m-nav-shade {
    background-color: $dark-alpha-08;
  }
  .m-nav {
    background-color: $secondary-color-03;
    .m-nav-list {
      > li {
        &.m-nav-divide {
          background-color: $secondary-color-05;
        }
      }
    }
  }
  .m-nav-link {
    [class^="icon-"],
    [class*=" icon-"] {
      color: $white;
    }
    &:focus,
    &:hover {
      background-color: $secondary-color-04;
    }
    &.is-active {
      &:focus,
      &:hover {
        background-color: $primary-color-08;
      }
    }
  }
  .m-nav-character {
    input {
      &[type="radio"],
      &[type="checkbox"] {
        & + label {
          &:before {
            color: $white;
          }
          .m-nav-characters-name {
            color: $white;
          }
        }
        &:hover {
          & + label {
            background-color: $secondary-color-04;
          }
        }
        &:checked {
          & + label {
            .m-nav-characters-name,
            .m-nav-characters-class,
            .m-nav-characters-level {
              color: $white;
            }
          }
          &:focus,
          &:hover {
            & + label {
              background-color: $primary-color-08;
            }
          }
        }
      }
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-nav {
    border: 0;
    padding: $font-size-450 0;
    right: 0;
    width: 400px;
    transform: translate(400px, 0);
    &.is-open {
      transform: translate(0, 0);
    }
  }
}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}

@media print {
  .m-nav {
    display: none;
  }
}
