.m-pill-block {}
.m-pill-block-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  &.is-state-remove {
    .m-pill-item {
      .m-pill-item-name {
        max-width: 80%;
      }
      .m-pill-item-remove {
        display: block;
        visibility: visible;
      }
    }
  }
  &:not(.is-state-remove) {
    .m-pill-flash {
      animation: new-flash-center ease 1.5s 1;
      &:before {
        animation: new-flash-pulse ease 1.5s 1;
      }
    }
  }
}
.m-pill-item {
  margin: 0 0 0.5em;
  flex: 0 0 49%;
  max-width: 49%;
  text-align: left;
  position: relative;
  white-space: normal;
  text-transform: none;
  font-family: $open-sans-regular;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  .m-pill-item-name {
    flex: 1 1 auto;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .m-pill-item-remove {
    display: none;
    visibility: hidden;
  }
  .m-pill-flash {
    background-color: $primary-color-10;
    position: absolute;
    display: block;
    top: 50%;
    left: -1em;
    width: 0;
    height: 0;
    border-radius: 100%;
    border: 0 solid transparent;
    transform: translate(-50%, -50%);
    z-index: 3;
    &:before {
      content: "";
      background-color: $primary-color-alpha-01;
      display: block;
      position: relative;
      width: 0;
      height: 0;
      border-radius: 100%;
      box-shadow: 0 0 0 60px transparent;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}