.m-placeholder {
  background-color: $gray-20;
  border: $border;
  border-color: $gray-17;
  border-radius: $border-radius-large;
  margin: 0 0 1em;
  padding: 2em 4em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.m-placeholder-description {
  text-align: center;
  margin: 0;
  flex: 0 0 auto;
}
.m-placeholder-key {
  background-color: $secondary-color-alpha-20;
  border-bottom: $border;
  border-color: $secondary-color-alpha-14;
  white-space: nowrap;
  padding: 0.2em 0.5em;
}
.is-night-mode {
  .m-placeholder {
    border-color: $gray-04;
    background-color: $gray-02;
  }
  .m-key {
    background-color: $secondary-color-alpha-19;
  }
}
.is-display-mode {
  .m-placeholder {
    margin: 0;
  }
  .m-placeholder-key {
    background-color: $primary-color-alpha-20;
    border-color: $primary-color-alpha-14;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
