.m-prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: $font-size-root-100;
  z-index: $prompt;
  width: 30em;
  max-width: 95%;
  min-width: 200px;
  transform: translate(-50%, -50%);
  opacity: 0;
  perspective: 1000px;
  transition: opacity $transition-ease-fast;
  &.is-transition-end {
    transition: opacity $transition-ease-medium;
  }
}
.m-prompt-wrapper {
  background-color: $white;
  border-radius: $border-radius-large;
  box-sizing: border-box;
  position: relative;
  transition: all $transition-bounce-fast;
}
.is-transition-end {
  .m-prompt-wrapper {
    transition: all $transition-ease-medium;
  }
}
.m-prompt-body {
  padding: $font-size-200;
  z-index: 1;
  position: relative;
  .m-prompt-heading {
    font-family: $open-sans-semi-bold;
    font-size: $font-size-150;
    &:focus {
      outline: 0;
    }
  }
  .m-prompt-text {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.m-prompt-controls {
  margin: 0;
  position: relative;
  z-index: 2;
  .button {
    margin: 0;
    &:first-child {
      border-radius: 0 0 0 $border-radius-large;
    }
    &:last-child {
      border-radius: 0 0 $border-radius-large 0;
    }
  }
}
.m-prompt-code {
  background-color: $dark-alpha-06;
  max-height: 300px;
  overflow-y: scroll;
  margin: 0;
  padding: 20px 60px;
  color: $white;
  box-sizing: border-box;
  box-shadow: $shadow-large-inset;
  white-space: pre-wrap;
}
.is-night-mode {
  .m-prompt {
    .m-prompt-wrapper {
      background-color: $gray-04;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-prompt {
    max-width: 90%;
  }
}
@media (min-width: $screen-md) {
  .m-prompt {
    max-width: 80%;
  }
}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {
  .m-prompt {
    display: none;
  }
}
