.m-prompt-shade {
  background-color: rgba($secondary-color-03, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: $prompt;
  transition: all $transition-ease-fast;
}
.m-prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: $font-size-root-100;
  z-index: $prompt;
  width: 30em;
  max-width: 95%;
  min-width: 200px;
  transform: translate(-50%, -50%);
  opacity: 0;
  perspective: 1000px;
  transition: all $transition-ease-fast;
}
.m-prompt-wrapper {
  background-color: $white;
  box-sizing: border-box;
  border-radius: $border-radius-large;
  transition: all $transition-ease-fast;
}
.m-prompt-body {
  padding: $font-size-200;
  .m-prompt-heading {
    font-family: $open-sans-semi-bold;
    font-size: $font-size-150;
    &:focus {
      outline: 0;
    }
  }
  .m-prompt-text {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.m-prompt-controls {
  margin: 0;
  .button {
    margin: 0;
    // width: 50%;
    &:first-child {
      border-radius: 0 0 0 $border-radius-large;
    }
    &:last-child {
      border-radius: 0 0 $border-radius-large 0;
    }
  }
}
.m-prompt-code {
  background-color: $dark-alpha-06;
  max-height: 300px;
  overflow-y: scroll;
  margin: 0;
  padding: 20px 60px;
  color: $white;
  box-sizing: border-box;
  box-shadow: $shadow-large-inset;
  white-space: pre-wrap;
}
.is-night-mode {
  .m-prompt-shade {
    background-color: $dark-alpha-08;
  }
  .m-prompt {
    .m-prompt-wrapper {
      background-color: $gray-03;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-prompt {
    max-width: 90%;
  }
}
@media (min-width: $screen-md) {
  .m-prompt {
    max-width: 80%;
  }
}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
