.m-prompt-shade {
  background-color: $dark-alpha-06;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: $prompt;
  transition: all $transition-ease-fast;
}

.m-prompt {
  background-color: $white;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: $prompt;
  width: 80%;
  max-height: 80%;
  min-width: 300px;
  box-sizing: border-box;
  font-size: $root-font-size-medium;
  border-radius: $border-radius-medium;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all $transition-ease-fast;
}

.m-prompt-message {
  padding: 30px 40px;
  min-height: 60px;
  .m-prompt-heading {
    font-size: $font-size-1-5;
    font-family: $open-sans-semi-bold;
    &:focus {
      outline: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .m-prompt-text {
    font-size: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.m-prompt-controls {
  .button {
    margin: 0;
    width: 50%;
    &.button {
      border-right: 0;
      border-bottom: 0;
      border-left: 0;
    }
    &:first-child {
      border-radius: 0 0 0 $border-radius-small;
    }
    &:last-child {
      border-radius: 0 0 $border-radius-small 0;
    }
  }
}

.m-prompt-code {
  background-color: $dark-alpha-06;
  max-height: 300px;
  overflow-y: scroll;
  margin: 0;
  padding: 20px 60px;
  color: $white;
  box-sizing: border-box;
  box-shadow: $shadow-large-inset;
  white-space: pre-wrap;
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {
  .m-prompt {
    width: 50%;
  }
  .m-prompt-controls {
    .button {
    }
  }
}

@media (min-width: $screen-lg) {
  .m-prompt {
    width: 40%;
  }
}

@media (min-width: $screen-xl) {
  .m-prompt {
    width: 30%;
  }
}
