.m-quick-edit {
  background-color: $gray-19;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  transition: height $transition-ease-fast, background-color $transition-ease-medium;
  border-radius: $border-radius-large;
  .container {
    max-width: 90%;
  }
  .m-section-heading {
    background-color: $gray-10;
  }
  .m-section-controls {
    .button-group,
    .button-group-strech {
      position: relative;
    }
  }
  .m-section-wrapper {
    padding: $font-size-200 0;
  }
  .textarea,
  textarea {
    background-color: $light-alpha-03;
  }
  input {
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="text"],
    &[type="tel"],
    &[type="password"] {
      background-color: $light-alpha-03;
    }
  }
  &.is-collapsed {
    height: 0;
    overflow-y: hidden;
  }
  &.is-expanded {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: $font-size-500;
  }
}

.is-night-mode {
  .m-quick-edit {
    background-color: $gray-03;
    .m-section-heading {
      background-color: $gray-04;
    }
    .textarea,
    textarea {
      background-color: $secondary-color-alpha-19;
    }
    input {
      &[type="email"],
      &[type="number"],
      &[type="search"],
      &[type="text"],
      &[type="tel"],
      &[type="password"] {
        background-color: $secondary-color-alpha-19;
      }
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {
  .m-quick-edit {
    max-width: 70%;
  }
}

@media (min-width: $screen-xl) {
  .m-quick-edit {
    max-width: 60%;
  }
}
