.m-quick-nav {
  background-color: $secondary-color-06;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $quick-nav;
  transition: all $transition-ease-fast;
}

.m-quick-nav-display {
  background-color: $light-alpha-04;
  border-bottom: 2px solid $gray-20;
}

.m-quick-nav-list {
  margin: 0;
  padding: 0;
  > li {
    margin: 0;
    padding: 0;
    height: 4.5rem;
    width: 11.1111111111%;
    display: block;
    float: left;
    list-style-type: none;
    text-align: center;
  }
}

.m-quick-nav-link {
  width: 100%;
  height: 4.5rem;
  line-height: 4.5rem;
  font-size: 2em;
  text-decoration: none;
  color: $secondary-color-04;
  transform: scale(1);
  display: block;
  transition: color $transition-ease-fast;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:link,
  &:visited {
    color: $secondary-color-04;
  }
  &:focus {
    background-color: transparent;
    color: $secondary-color-12;
  }
  &:hover {
    color: $secondary-color-12;
    text-decoration: none;
    outline: 0;
  }
  &:active {
    color: $secondary-color-16;
  }
  &.is-active {
    color: $white;
  }
}

.m-nav-toggle {
  padding: 0 20%;
  position: relative;
  width: 60%;
  display: inline-block;
  transition: all $transition-ease-fast;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-nav-toggle {
    padding: 0 25%;
    width: 50%;
  }
}

@media (min-width: $screen-md) {
  .m-nav-toggle {
    padding: 0 30%;
    width: 40%;
  }
}

@media (min-width: $screen-lg) {
  .m-nav-toggle {
    padding: 0 35%;
    width: 30%;
  }
}

@media (min-width: $screen-xl) {}
