.m-quick-nav {
  background-color: $secondary-color-07;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5em;
  z-index: $quick-nav;
}
.m-quick-nav-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.m-quick-nav-hamburger {
  flex: 0 1 11.1111111111%
}
.m-quick-nav-list {
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
  > li {
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
    height: 4.5em;
    display: block;
    list-style-type: none;
    text-align: center;
  }
}
.m-quick-nav-link {
  width: 100%;
  height: $font-size-450;
  line-height: $font-size-450;
  text-decoration: none;
  color: $secondary-color-04;
  display: block;
  transition: color $transition-ease-fast;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  [class*=" icon-"],
  [class^="icon-"] {
    font-size: $font-size-200;
  }
  &:link,
  &:visited {
    color: $secondary-color-04;
  }
  &:focus {
    background-color: transparent;
    color: $secondary-color-12;
  }
  &:hover {
    color: $secondary-color-12;
    text-decoration: none;
    outline: 0;
  }
  &:active {
    color: $secondary-color-16;
  }
  &.is-active {
    color: $white;
  }
}
.m-nav-toggle {
  position: relative;
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.is-night-mode {
  .m-quick-nav {
    background-color: $secondary-color-06;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {
  .m-quick-nav {
    background-color: $secondary-color-07;
    position: fixed;
    top: 0;
    left: 0;
    width: 4.5em;
    height: 100%;
    z-index: $quick-nav;
  }
  .m-quick-nav-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .m-quick-nav-list {

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

  }

}
@media (min-width: $screen-xl) {}
@media print {
  .m-quick-nav {
    display: none;
  }
}
