.m-quick-edit {
  width: 90%;
  margin-left: 5%;
  border-radius: $border-radius-large;
  overflow: hidden;
  box-shadow: $shadow-large;
  .m-section-wrapper {
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
