.m-quick-edit {
  width: 80%;
  margin-left: 10%;
  border-radius: $border-radius-large;
  box-sizing: border-box;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  padding: 0;
  transition: all $transition-ease-medium;
  &.is-collapsed {
    height: 0;
    overflow-y: hidden;
  }
  &.is-expanded {
    height: 300px;
    overflow-y: scroll;
    border-color: $dark-alpha-19;
    padding: 10px;
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
