.m-quick-nav {
  background-color: $secondary-color-06;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $quick-nav;
}

.m-quick-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  > li {
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
    height: 4.5em;
    display: block;
    list-style-type: none;
    text-align: center;
  }
}

.m-quick-nav-link {
  width: 100%;
  height: $font-size-450;
  line-height: $font-size-450;
  text-decoration: none;
  color: $secondary-color-04;
  display: block;
  transition: color $transition-ease-fast;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  [class^="icon-"],
  [class*=" icon-"] {
    font-size: $font-size-200;
  }
  &:link,
  &:visited {
    color: $secondary-color-04;
  }
  &:focus {
    background-color: transparent;
    color: $secondary-color-12;
  }
  &:hover {
    color: $secondary-color-12;
    text-decoration: none;
    outline: 0;
  }
  &:active {
    color: $secondary-color-16;
  }
  &.is-active {
    color: $white;
  }
}

.m-nav-toggle {
  position: relative;
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.is-display-mode {
  .m-quick-nav {
    top: -$font-size-450;
  }
  .m-quick-nav-list-item-nav {
    position: relative;
    top: $font-size-450;
  }
}

.is-night-mode {
  .m-quick-nav {
    background-color: $secondary-color-05;
  }
  &.is-display-mode {
    .m-quick-nav {
      background-color: transparent;
    }
  }
  .m-quick-nav-link {
    color: $secondary-color-03;
    &:link,
    &:visited {
      color: $secondary-color-03;
    }
    &:focus {
      color: $secondary-color-10;
    }
    &:hover {
      color: $secondary-color-10;
    }
    &:active {
      color: $secondary-color-14;
    }
    &.is-active {
      color: $white;
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}

@media print {
  .m-quick-nav {
    display: none;
  }
}
