.m-radio-block {
  position: relative;
  z-index: 1;
  font-size: $font-size-root-100;
}
.m-radio-block-label {
  margin: 0;
  padding: 0;
  display: block;
  z-index: 2;
  font-size: $font-size-075;
  font-family: $open-sans-semi-bold;
  box-sizing: border-box;
  white-space: nowrap;
}
.m-radio-block-radio {
  &[type="radio"] {
    position: relative;
    z-index: 1;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: none;
    &.m-radio-block-radio-with-label {
      top: 1.25em;
      height: calc(100% - 1.25em);
    }
    & + .m-radio-block-radio-icon {
      background-color: $white;
      border: $border;
      border-color: $gray-16;
      line-height: $line-height-300;
      height: 3em;
      padding: 0;
      box-sizing: border-box;
      border-radius: $border-radius-large;
      text-align: center;
      position: relative;
      display: block;
      &:before {
        opacity: 1;
        font-family: "Icons" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        display: block;
        font-size: $font-size-150;
        line-height: 1;
        color: $secondary-color-04;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: color $transition-ease-fast;
      }
    }
    &:hover {
      & + .m-radio-block-radio-icon {
        &:before {
          color: $secondary-color-10;
        }
      }
    }
    &:focus {
      & + .m-radio-block-radio-icon {
        &:before {
          color: $primary-color-10;
        }
      }
    }
    &:checked {
      &:hover {
        & + .m-radio-block-radio-icon {
          &:before {
            color: $secondary-color-10;
          }
        }
      }
      &:focus {
        & + .m-radio-block-radio-icon {
          &:before {
            color: $primary-color-10;
          }
        }
      }
    }
    &[type="radio"] {
      & + .m-radio-block-radio-icon {
        &:before {
          content: "\e25e";
        }
      }
      &:checked {
        & + .m-radio-block-radio-icon {
          &:before {
            content: "\e25f";
          }
        }
      }
    }
  }
}
.is-night-mode {
  .m-radio-block-radio {
    &[type="radio"] {
      & + .m-radio-block-radio-icon {
        background-color: $gray-03;
        border-color: $gray-04;
        color: $gray-18;
        &:before {
          color: $white;
        }
      }
      &:hover {
        & + .m-radio-block-radio-icon {
          &:before {
            color: $secondary-color-10;
          }
        }
      }
      &:focus {
        & + .m-radio-block-radio-icon {
          &:before {
            color: $primary-color-10;
          }
        }
      }
      &:checked {
        &:hover {
          & + .m-radio-block-radio-icon {
            &:before {
              color: $secondary-color-10;
            }
          }
        }
        &:focus {
          & + .m-radio-block-radio-icon {
            &:before {
              color: $primary-color-10;
            }
          }
        }
      }
      &[type="radio"] {
        & + .m-radio-block-radio-icon {
          &:before {
            content: "\e25e";
          }
        }
        &:checked {
          & + .m-radio-block-radio-icon {
            &:before {
              content: "\e25f";
            }
          }
        }
      }
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-radio-block-radio {
    &[type="radio"] {
      & + .m-radio-block-radio-icon {
        line-height: $line-height-250;
        height: 2.5em;
      }
    }
  }
}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
