.m-section-controls {
  position: relative;
  .button-group,
  .button-group-strech {
    position: absolute;
    right: 0;
    .button {
      padding: 0 5px;
      margin: 0;
      border: 0;
      border-radius: 0;
      height: $root-line-height-extra-large;
      line-height: $root-line-height-extra-large;
    }
  }
  .button-group-strech {
    width: 100%;
    .button {
      padding: 0;
    }
  }
}

.m-section-heading {
  background-color: $secondary-color-08;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  z-index: $section-heading;
  box-shadow: $shadow-small;
  h1 {
    color: $white;
    margin: 0;
    font-family: $open-sans-semi-bold;
    font-size: 1.2em;
    line-height: $root-line-height-extra-large;
  }
  &.is-pinned {
    margin: 0;
    position: fixed;
    top: 60px;
    width: 100%;
  }
}

.m-section-heading-sub {
  font-family: $open-sans-semi-bold;
  font-size: 1.1em;
}

.m-section-wrapper {
  padding: 2.5rem 0;
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-sm) {
  .m-section-wrapper {
    padding: 3.5rem 0;
  }
}

@media (min-width: $screen-md) {
  .m-section-controls {
    .button-group,
    .button-group-strech {
      .button {
        padding: 0 10px;
      }
    }
    .button-group-strech {
      width: inherit;
    }
  }
  .m-section-wrapper {
    padding: 5rem 0;
  }
}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
