.m-section-controls {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  .button-group,
  .button-group-strech {
    .button {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      border: 0;
      border-radius: 0;
      height: 4em;
    }
  }
}
.m-section-heading {
  background-color: $secondary-color-08;
  padding: 0;
  position: relative;
  z-index: $section-heading;
  transition: background-color $transition-bounce-medium;
  .m-section-heading-title {
    color: $white;
    margin: 0;
    text-transform: uppercase;
    font-family: $open-sans-semi-bold;
    font-size: $font-size-100;
    line-height: 3em;
  }
  &.is-pinned {
    margin: 0;
    position: fixed;
    top: $font-size-450;
    width: 100%;
  }
  &.is-faded {
    background-color: $secondary-color-05;
  }
}
.m-section-heading-sub {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-100;
}
.m-section-wrapper {
  padding: 2em 0;
}
.m-section-wrapper-nav-padding {
  padding-top: 8em;
}
.is-night-mode {
  .m-section-heading {
    background-color: $secondary-color-04;
    &.is-faded {
      background-color: $secondary-color-03;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {
  .m-section-wrapper {
    padding: $font-size-300 0;
  }
  .m-section-wrapper-nav-padding {
    padding-top: 10em;
  }
}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
