.m-section-controls {
  position: relative;
  .button-group,
  .button-group-strech {
    position: absolute;
    right: 0;
    .button {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      border: 0;
      border-radius: 0;
      font-size: 0.8em;
      height: 40px;
      line-height: 40px;
    }
  }
  .button-group-strech {
    width: 100%;
    .button {
      padding: 0;
    }
  }
}

.m-section-heading {
  background-color: $secondary-color-08;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  z-index: $section-heading;
  transition: background-color $transition-ease-medium;
  h1 {
    color: $white;
    margin: 0;
    font-family: $open-sans-semi-bold;
    font-size: $font-size-1;
    line-height: 40px;
  }
  &.is-pinned {
    margin: 0;
    position: fixed;
    top: 4.5rem;
    width: 100%;
  }
  &.is-faded {
    background-color: $secondary-color-05;
  }
}

.m-section-heading-sub {
  font-family: $open-sans-semi-bold;
  font-size: $font-size-1;
}

.m-section-wrapper {
  padding: $font-size-2 0;
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {
  .m-section-controls {
    .button-group,
    .button-group-strech {
      .button {
        padding: 0 10px;
        font-size: $root-font-size-small;
      }
    }
    .button-group-strech {
      width: inherit;
    }
  }
}

@media (min-width: $screen-lg) {
  .m-section-controls {
    .button-group,
    .button-group-strech {
      .button {
        padding: 0 15px;
      }
    }
  }
}

@media (min-width: $screen-xl) {}
