.m-shade {
  background-color: rgba($secondary-color-01, 0.8);
  position: fixed;
  top: -1em;
  left: -1em;
  width: calc(100% + 2em);
  height: calc(100% + 2em);
  opacity: 0;
  z-index: $shade;
  transition: all $transition-ease-fast;
  &.is-display-mode {
    background-color: rgba($primary-color-01, 0.8);
  }
}
.m-shade-top {
  z-index: $shade-top;
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
@media print {
  .m-shade {
    display: none;
  }
}
