.m-skill {
  .m-skill-name,
  .m-skill-stat,
  .m-skill-total,
  .m-skill-ranks,
  .m-skill-misc,
  .m-skill-class-skill {
    float: left;
    display: block;
    margin: 0;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }
  .m-skill-name {
    width: 35%;
  }
  .m-skill-stat {
    width: 20%;
    text-align: center;
  }
  .m-skill-total {
    width: 15%;
    font-family: $open-sans-semi-bold;
    text-align: center;
  }
  .m-skill-ranks,
  .m-skill-misc {
    width: 10%;
    text-align: center;
    input {
      &[type="email"],
      &[type="number"],
      &[type="search"],
      &[type="text"],
      &[type="tel"],
      &[type="url"],
      &[type="password"] {
        text-align: center;
        padding: 0;
      }
    }
  }
  .m-skill-class-skill {
    width: 10%;
    label {
      &:before {
        width: 100%;
        text-align: center;
        margin-right: 0;
      }
    }
  }
}

#skills {
  .skill-list {
    clear: both;
    margin: 0 0 1rem 0;
    &:last-child {
      margin: 0;
    }
    .skill {
      .name,
      .type,
      .stat,
      .total,
      .ranks,
      .misc,
      .skill-bonus,
      .class-skill {
        float: left;
        display: block;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
      }
      .name {
        width: 35%;
        &.with-type {
          width: 15%;
        }
        &.custom-name {
          width: 55%;
        }
      }
      .type {
        width: 20%;
      }
      .stat {
        width: 20%;
        text-align: center;
        &.stat-select {
          cursor: pointer;
          transition: all $transition-ease-fast;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          &:active {
            background-color: $secondary-color-alpha-16;
          }
        }
      }
      .total {
        width: 15%;
        font-family: $open-sans-semi-bold;
        text-align: center;
      }
      .class-skill {
        width: 10%;
        height: 2.5rem;
        box-sizing: border-box;
        input {
          &[type="checkbox"] {
            & + label {
              &:before {
                width: 100%;
                margin: 0;
                text-align: center;
              }
            }
          }
        }
      }
      .skill-bonus {
        width: 12.5%;
      }
      .ranks,
      .misc {
        width: 10%;
        text-align: center;
        input {
          &[type="email"],
          &[type="number"],
          &[type="search"],
          &[type="text"],
          &[type="tel"],
          &[type="url"],
          &[type="password"] {
            text-align: center;
            padding: 0;
          }
        }
      }
    }
  }
  &[data-all-hidden="true"] {
    .skill-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: space-between;
      height: 530px;
      &.custom-skills {
        height: 60px;
      }
      .skill {
        width: 48%;
        .name {
          width: 85%;
          &.with-type {
            width: 30%;
          }
          .input-field {
            background-color: transparent;
            border-color: $secondary-color-alpha-20;
            padding: 0;
            &:hover {
              border-color: $primary-color-10;
            }
          }
        }
        .type {
          width: 55%;
          .input-field {
            background-color: transparent;
            border-color: $secondary-color-alpha-20;
            padding: 0;
            &:hover {
              border-color: $primary-color-10;
            }
          }
        }
        .total {
          width: 15%;
        }
      }
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  #skills {
    &[data-all-hidden="true"] {
      .skill-list {
        height: 630px;
      }
    }
  }
}

@media (min-width: $screen-md) {
  #skills {
    .skill-list {
      .skill {
        .name {
          width: 45%;
          &.with-type {
            width: 15%;
          }
        }
        .type {
          width: 30%;
        }
        .stat {
          width: 10%;
        }
        .total {
          width: 15%;
        }
        .class-skill {
          width: 10%;
        }
        .ranks,
        .misc {
          width: 10%;
        }
      }
    }
    &[data-all-hidden="true"] {
      .skill-list {
        height: 740px;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  #skills {
    &[data-all-hidden="true"] {
      .skill-list {
        // height: 740px;
      }
    }
  }
}

@media (min-width: $screen-xl) {
  #skills {
    &[data-all-hidden="true"] {
      .skill-list {
        height: 520px;
        .skill {
          width: 30%;
        }
      }
    }
  }
}
