.m-skill {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  &:last-of-type {
    margin-bottom: 2em;
  }
}
.m-skill-name {
  font-size: $font-size-100;
  flex: 1 0 40%;
  &:not(:last-child) {
    margin-bottom: 0;
  }
}
.m-skill-total {
  flex: 0 0 15%;
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 0;
  }
}
.m-skill-misc,
.m-skill-ranks {
  flex: 0 0 10%;
  input {
    &[type="email"],
    &[type="number"],
    &[type="password"],
    &[type="search"],
    &[type="tel"],
    &[type="text"],
    &[type="url"] {
      text-align: center;
      padding: 0;
    }
  }
}
.m-skill-class-skill {
  position: relative;
  flex: 0 0 10%;
  text-align: center;
}
.m-skill-bonus {
  flex: 0 0 0;
}
.m-skill-bonus-button {
  padding: 0 0.5em;
  margin: 0;
}
.m-skill-variant {
  .m-skill-name {
    flex: 0 0 20%;
  }
  .m-skill-variant-name {
    flex: 1 0 20%;
  }
}
.m-skill-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.m-skill-bonus-title {
  margin: 0;
}
.m-skill-class-skill-title,
.m-skill-misc-title,
.m-skill-name-title,
.m-skill-ranks-title,
.m-skill-total-title {
  margin: 0 0 1em;
  line-height: $line-height-160;
}
.m-skill-name-title {
  flex: 1 0 40%;
}
.m-skill-total-title {
  flex: 0 0 15%;
  text-align: center;
}
.m-skill-misc-title,
.m-skill-ranks-title {
  flex: 0 0 10%;
  text-align: center;
}
.m-skill-class-skill-title {
  flex: 0 0 10%;
  text-align: center;
}
.m-skill-bonus-title {
  flex: 0 0 auto;
}
.m-skill-bonus-title {
  flex: 0 0 0;
}
.m-skill-bonus-title-spacer {
  padding: 0 0.5em;
  display: block;
  [class*=" icon-"],
  [class^="icon-"] {
    font-size: $font-size-150;
    display: inline-block;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {
  .m-skill-bonus-button {
    padding: 0;
  }
  .m-skill-bonus-title-spacer {
    padding: 0;
  }
}
@media (min-width: $screen-xl) {}
