.m-skill {
  font-size: $font-size-root-100;
}
.m-skill-name {
  width: 100%;
  margin-right: 0;
}
.m-skill-variant-name {
  width: 100%;
  &:not(:only-child):not(:last-child) {
    margin: 0 0 0 1em;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}