.m-snack-bar {
  background-color: $gray-01;
  padding: 5px 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: all $transition-ease-medium;
  transform: translateY(100px);
  opacity: 0;
  .m-snack-bar-message {
    margin: 0;
    color: $white;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    font-family: $open-sans-semi-bold;
    white-space: nowrap;
    overflow: hidden;
  }
  &.is-reveal {
    transform: translateY(0);
    opacity: 1;
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-snack-bar {
    border-radius: $border-radius-medium;
    box-shadow: $shadow-medium;
    box-sizing: border-box;
    .m-snack-bar-message {
      height: 35px;
      line-height: 35px;
    }
  }
}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
