.m-spells {
  &.is-state-prepare,
  &.is-state-unprepare,
  &.is-state-cast,
  &.is-state-active {
    .m-spell-book-known {
      .m-spell {
        background-color: $secondary-color-alpha-19;
        color: $base-color;
        border-color: transparent;
        &:link,
        &:visited {}
        &:focus {
          outline: 0;
          text-decoration: none;
        }
        &:hover {
          background-color: $secondary-color-alpha-16;
          outline: 0;
          text-decoration: none;
        }
        &:active,
        &.is-active {
          background-color: $secondary-color-alpha-14;
        }
      }
    }
  }
  &.is-state-remove {
    .m-spell-book-known {
      .m-spell {
        background-color: $primary-color-19;
        color: $base-color;
        border-color: transparent;
        &:link,
        &:visited {
          color: $gray-10;
        }
        &:focus {
          outline: 0;
          text-decoration: none;
        }
        &:hover {
          background-color: $primary-color-alpha-16;
          outline: 0;
          text-decoration: none;
        }
        &:active,
        &.is-active {
          background-color: $primary-color-alpha-14;
        }
        .m-spell-marks {
          display: none;
          visibility: hidden;
        }
        .m-spell-active {
          display: none;
          visibility: hidden;
        }
        .m-spell-remove {
          display: block;
          visibility: visible;
        }
      }
    }
  }
}

.m-spell-book {
  .m-spell-book-known {
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.m-spell {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 0 3px 0;
  width: 100%;
  text-align: left;
  overflow: hidden;
  position: relative;
  white-space: normal;
  font-size: $font-size-root-100;
  line-height: $line-height-160;
  font-family: $open-sans-regular;
  .m-spell-active,
  .m-spell-name,
  .m-spell-marks,
  .m-spell-remove {
    [class*=" icon-"],
    [class^="icon-"] {
      top: 0;
    }
  }
  .m-spell-active,
  .m-spell-name {
    float: left;
    margin: 0 5px 0 0;
    display: block;
    text-transform: none;
  }
  .m-spell-active {
    visibility: visible;
    [class*=" icon-"],
    [class^="icon-"] {
      float: left;
      margin: 0;
    }
  }
  .m-spell-name {
    white-space: nowrap;
    overflow: hidden;
  }
  .m-spell-marks {
    float: right;
    display: block;
    visibility: visible;
    [class*=" icon-"],
    [class^="icon-"] {
      float: right;
      margin: 0 0 0 1px;
    }
  }
  .m-spell-remove {
    float: right;
    margin: 0 0 0 5px;
    display: none;
    visibility: hidden;
    [class*=" icon-"],
    [class^="icon-"] {
      float: right;
      margin: 0 0 0 1px;
    }
  }
}

.m-new-spell {
  position: relative;
  z-index: 1;
  .m-new-spell-field {
    padding-right: 4em;
  }
  .m-new-spell-add {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    [class*=" icon-"],
    [class^="icon-"] {
      margin: 0;
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-spell {
    width: 49.5%;
  }
}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {
  .m-spell {
    margin: 0 0 6px 0;
  }
}

@media (min-width: $screen-xl) {}
