.m-spell-block {
  &.is-state-remove {
    .m-spell-block-known {
      .m-spell {
        .m-spell-name {
          max-width: 80%;
        }
        .m-spell-marks {
          display: none;
          visibility: hidden;
        }
        .m-spell-active {
          display: none;
          visibility: hidden;
        }
        .m-spell-remove {
          display: block;
          visibility: visible;
        }
      }
    }
  }
  &:not(.is-state-remove) {
    .m-spell {
      .m-spell-flash {
        animation: new-flash-center ease 3s 1;
        &:before {
          animation: new-flash-pulse ease 3s 1;
        }
      }
    }
  }
}
.m-spell-block-known {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}
.m-spell-col {
  margin: 0 0 0.5em;
  flex: 0 0 49%;
  max-width: 49%;
}
.m-spell {
  margin: 0;
  width: 100%;
  text-align: left;
  position: relative;
  white-space: normal;
  text-transform: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-family: $open-sans-regular;
  .m-spell-flash {
    background-color: $primary-color-10;
    position: absolute;
    display: block;
    top: 50%;
    left: -1em;
    width: 0;
    height: 0;
    border-radius: 100%;
    border: 0 solid transparent;
    transform: translate(-50%, -50%);
    z-index: 3;
    &:before {
      content: "";
      background-color: $primary-color-alpha-01;
      display: block;
      position: relative;
      width: 0;
      height: 0;
      border-radius: 100%;
      box-shadow: 0 0 0 60px transparent;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
  .m-spell-active,
  .m-spell-marks,
  .m-spell-name,
  .m-spell-remove {
    [class*=" icon-"],
    [class^="icon-"] {
      top: 0;
    }
  }
  .m-spell-name {
    flex: 1 1 auto;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .m-spell-active {
    visibility: visible;
    [class*=" icon-"],
    [class^="icon-"] {
      float: left;
      margin: 0 5px 0 0;
    }
  }
  .m-spell-marks {
    flex: 1 1 auto;
    visibility: visible;
    [class*=" icon-"],
    [class^="icon-"] {
      float: right;
      margin: 0 0 0 2px;
    }
  }
  .m-spell-remove {
    flex: 1 1 auto;
    display: none;
    visibility: hidden;
    [class*=" icon-"],
    [class^="icon-"] {
      float: right;
    }
  }
}
.m-spell-control {
  hr {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
