.m-spells {
  &.is-state-prepare,
  &.is-state-unprepare,
  &.is-state-cast,
  &.is-state-active {
    .m-spell-book-known {
      .m-spell {
        background-color: $secondary-color-alpha-19;
        color: $base-color;
        border-color: transparent;
        &:link,
        &:visited {}
        &:focus {
          outline: 0;
          text-decoration: none;
        }
        &:hover {
          background-color: $secondary-color-alpha-16;
          outline: 0;
          text-decoration: none;
        }
        &:active,
        &.is-active {
          background-color: $secondary-color-alpha-14;
        }
      }
    }
  }
  &.is-state-remove {
    .m-spell-book-known {
      .m-spell {
        background-color: $primary-color-19;
        color: $base-color;
        border-color: transparent;
        &:link,
        &:visited {
          color: $gray-10;
        }
        &:focus {
          outline: 0;
          text-decoration: none;
        }
        &:hover {
          background-color: $primary-color-alpha-16;
          outline: 0;
          text-decoration: none;
        }
        &:active,
        &.is-active {
          background-color: $primary-color-alpha-14;
        }
        .m-spell-marks {
          display: none;
          visibility: hidden;
        }
        .m-spell-active {
          display: none;
          visibility: hidden;
        }
        .m-spell-remove {
          display: block;
          visibility: visible;
        }
      }
    }
  }
  &:not(.is-state-remove) {
    .m-spell {
      .m-spell-flash {
        animation: new-flash ease-in 0.4s 2;
      }
    }
  }
}

.m-spell-book {
  .m-spell-book-known {
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.m-spell {
  padding: 0 0.5em;
  margin: 0 0 0.3em 0;
  width: 100%;
  text-align: left;
  position: relative;
  white-space: normal;
  font-size: $font-size-root-100;
  line-height: $line-height-160;
  font-family: $open-sans-regular;
  display: block;
  .m-spell-flash {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 2;
  }
  .m-spell-active,
  .m-spell-name,
  .m-spell-marks,
  .m-spell-remove {
    [class*=" icon-"],
    [class^="icon-"] {
      top: 0;
    }
  }
  .m-spell-active,
  .m-spell-name {
    float: left;
    display: block;
    text-transform: none;
  }
  .m-spell-active {
    margin: 0 5px 0 0;
    visibility: visible;
    [class*=" icon-"],
    [class^="icon-"] {
      float: left;
      margin: 0;
    }
  }
  .m-spell-name {
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }
  .m-spell-marks {
    float: right;
    display: block;
    visibility: visible;
    [class*=" icon-"],
    [class^="icon-"] {
      float: right;
      margin: 0 0 0 1px;
    }
  }
  .m-spell-remove {
    float: right;
    display: none;
    visibility: hidden;
    [class*=" icon-"],
    [class^="icon-"] {
      float: right;
      margin: 0;
    }
  }
}

.m-new-spell {
  position: relative;
  z-index: 1;
  .m-new-spell-field {
    padding-right: 4em;
  }
  .m-new-spell-add {
    padding-left: 0.8em;
    padding-right: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    [class*=" icon-"],
    [class^="icon-"] {
      margin: 0;
    }
  }
}

.is-night-mode {
  .m-spells {
    &.is-state-prepare,
    &.is-state-unprepare,
    &.is-state-cast,
    &.is-state-active {
      .m-spell-book-known {
        .m-spell {
          background-color: $secondary-color-06;
          color: $white;
          &:hover {
            background-color: $secondary-color-04;
          }
          &:active,
          &.is-active {
            background-color: $secondary-color-02;
          }
        }
      }
    }
    &.is-state-remove {
      .m-spell-book-known {
        .m-spell {
          background-color: $primary-color-06;
          color: $white;
          &:hover {
            background-color: $primary-color-04;
          }
          &:active,
          &.is-active {
            background-color: $primary-color-02;
          }
        }
      }
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
