.m-spells {
  &.is-state-active,
  &.is-state-cast,
  &.is-state-prepare,
  &.is-state-unprepare {
    .m-spell-book-known {
      .m-spell {
        background-color: $secondary-color-10;
        border-color: $secondary-color-08;
        color: $white;
        &:link,
        &:visited {
          background-color: $secondary-color-10;
          border-color: $secondary-color-08;
          color: $white;
        }
        &:focus,
        &:hover {
          background-color: $secondary-color-08;
          border-color: $secondary-color-06;
          color: $white;
        }
        &.is-active,
        &:active {
          background-color: $secondary-color-06;
          border-color: $secondary-color-04;
          color: $white;
        }
      }
    }
  }
  &.is-state-remove {
    .m-spell-book-known {
      .m-spell {
        background-color: $primary-color-10;
        border-color: $primary-color-08;
        color: $white;
        &:link,
        &:visited {
          background-color: $primary-color-10;
          border-color: $primary-color-08;
          color: $white;
        }
        &:focus,
        &:hover {
          background-color: $primary-color-08;
          border-color: $primary-color-06;
          color: $white;
        }
        &.is-active,
        &:active {
          background-color: $primary-color-06;
          border-color: $primary-color-04;
          color: $white;
        }
        .m-spell-name {
          max-width: 85%;
        }
        .m-spell-marks {
          display: none;
          visibility: hidden;
        }
        .m-spell-active {
          display: none;
          visibility: hidden;
        }
        .m-spell-remove {
          display: block;
          visibility: visible;
        }
      }
    }
  }
  &:not(.is-state-remove) {
    .m-spell {
      .m-spell-flash {
        animation: new-flash ease-in 0.4s 2;
      }
    }
  }
}
.m-spell-book {
  .m-spell-book-known {
    margin: 1em 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .m-spell-col {
    flex: 0 0 46%;
    max-width: 46%;
    margin: 0 0 0.5em;
  }
}
.m-spell {
  margin: 0;
  width: 100%;
  text-align: left;
  position: relative;
  white-space: normal;
  text-transform: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  font-family: $open-sans-regular;
  .m-spell-flash {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 2;
  }
  .m-spell-active,
  .m-spell-marks,
  .m-spell-name,
  .m-spell-remove {
    [class*=" icon-"],
    [class^="icon-"] {
      top: 0;
    }
  }
  .m-spell-name {
    flex: 1 1 auto;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }
  .m-spell-active {
    visibility: visible;
    [class*=" icon-"],
    [class^="icon-"] {
      float: left;
      margin: 0 5px 0 0;
    }
  }
  .m-spell-marks {
    flex: 1 1 auto;
    visibility: visible;
    [class*=" icon-"],
    [class^="icon-"] {
      float: right;
      margin: 0 0 0 1px;
    }
  }
  .m-spell-remove {
    display: none;
    visibility: hidden;
    font-size: $font-size-150;
    [class*=" icon-"],
    [class^="icon-"] {
      float: right;
      margin: 0;
    }
  }
}
.m-spell-controls {
  .button,
  button {
    flex-basis: 30%;
  }
}
.m-new-spell {
  position: relative;
  z-index: 1;
}
.m-spell-control-block {
  &:not(:last-child):not(:only-child) {
    margin-bottom: 1em;
  }
}
.m-spell-control-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
  &:not(:last-child):not(:only-child) {
    margin-bottom: 1em;
  }
}
.m-spell-control-title {
  flex: 0 0 100%;
}
.m-spell-control-count {
  flex: 1 1 40%;
  text-align: center;
  font-family: $open-sans-semi-bold;
  color: $secondary-color-08;
}
.m-spell-control-input {
  flex: 1 1 auto;
  position: relative;
}
.m-spell-control-textarea {
  flex: 1 1 auto;
  overflow: scroll;
}
.m-spell-control-button {
  flex: 1 1 auto;
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-spell-control-row {
    flex-flow: row nowrap;
  }
  .m-spell-control-count {
    padding-left: 1em;
    padding-right: 1em;
  }
  .m-spell-control-button {
    padding-left: 1em;
    padding-right: 1em;
  }
  .m-spell-control-title {
    flex: 0 0 40%;
    // border-bottom: $border;
    // border-color: $gray-19;
  }
}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
