.m-stat-block {
  margin-bottom: 2rem;
}
.m-stat-block-modifier {
  background-color: $gray-19;
  border: $border;
  border-color: $gray-17;
  font-family: $open-sans-bold;
  height: 2.5em;
  line-height: $line-height-250;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.m-stat-block-title {
  width: 100%;
  text-align: center;
  font-size: $font-size-075;
  font-family: $open-sans-bold;
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
