.m-stat-block {
  margin-bottom: 2rem;
}

.m-stat-block-modifier {
  font-family: $open-sans-semi-bold;
  color: $secondary-color-08;
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
