.m-stat-modifier {
  background-color: $gray-19;
  border: $border;
  border-color: $gray-17;
  font-family: $open-sans-bold;
  height: 2.5em;
  line-height: $line-height-250;
  padding: 0 0.5em;
  box-sizing: border-box;
  text-align: center;
}
.is-night-mode {
  .m-stat-modifier {
    background-color: $gray-04;
    border-color: $gray-06;
    color: $gray-18;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
