.style-guide-column {
  background-color: $secondary-color-19;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: $font-size-small;
  text-align: center;
}

.style-guide-dark {
  background-color: $secondary-color-08;
  padding: 20px;
  margin-bottom: 2rem;
}
