.m-tab-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  font-size: $font-size-100;
  padding: 0;
  background-color: $secondary-color-06;
  max-width: 100%;
  overflow: auto;
}
.m-tab-item {
  background-color: transparent;
  color: $secondary-color-16;
  padding: 0.25em 1em;
  margin: 0;
  border: 0;
  border-bottom: 6px solid transparent;
  border-radius: 0;
  box-shadow: none;
  z-index: 1;
  flex: 1 1 auto;
  &:link,
  &:visited {
    background-color: transparent;
    border: 0;
    border-bottom: 6px solid transparent;
    color: $secondary-color-16;
  }
  &:focus,
  &:hover {
    background-color: transparent;
    border-bottom-color: $secondary-color-12;
    color: $secondary-color-18;
    outline: 0;
    text-decoration: none;
    box-shadow: none;
    z-index: 2;
  }
  &:active {
    background-color: transparent;
    border-bottom-color: $secondary-color-16;
    color: $white;
    outline: 0;
    text-decoration: none;
    box-shadow: none;
  }
  &.is-active {
    background-color: transparent;
    background-color: $secondary-color-07;
    border-bottom-color: $white;
    color: $white;
    box-shadow: none;
    z-index: 2;
  }
}
.m-tab-text {
  font-size: 0.9em;
}
