.m-tab-group {
  font-size: $font-size-100;
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}
.m-tab-row {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  flex: 0 1 auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.m-tab-indicator {
  background-color: $white;
  width: 10em;
  height: 8px;
  position: absolute;
  bottom: -3px;
  left: calc(50% - 5em);
  z-index: 2;
  pointer-events: none;
  border-radius: $border-radius-extra-small $border-radius-extra-small 0 0;
  transition: all $transition-ease-medium;
}
.m-tab-item {
  background-color: transparent;
  margin: 0;
  padding: 0.5em 2em;
  color: $light-alpha-06;
  border: 0;
  border-radius: 0;
  border-color: transparent;
  box-shadow: none;
  position: relative;
  flex: 0 1 auto;
  transition: none;
  .m-tab-text {
    color: $light-alpha-06;
    font-size: 0.9em;
    position: relative;
    display: inline-block;
  }
  &:link,
  &:visited {
    background-color: transparent;
    border-color: transparent;
    border: 0;
    color: $light-alpha-06;
    .m-tab-text {
      color: $light-alpha-06;
    }
  }
  &:focus,
  &:hover {
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    text-decoration: none;
    box-shadow: none;
    color: $light-alpha-06;
    .m-tab-text {
      color: $light-alpha-06;
    }
  }
  &:active {
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    text-decoration: none;
    box-shadow: none;
    color: $white;
    .m-tab-text {
      color: $white;
    }
  }
  &.is-active {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: $white;
    .m-tab-text {
      color: $white;
    }
  }
}
.m-tab-arrow {
  display: none;
}
.is-night-mode {
  .m-tab-item {
    background-color: transparent;
    color: $white;
    border-color: transparent;
    box-shadow: none;
    &:link,
    &:visited {
      background-color: transparent;
      border-color: transparent;
      color: $white;
    }
    &:focus,
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $white;
      box-shadow: none;
    }
    &:active {
      background-color: transparent;
      border-color: transparent;
      color: $white;
      box-shadow: none;
    }
    &.is-active {
      background-color: transparent;
      border-color: transparent;
      color: $white;
      box-shadow: none;
    }
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-tab-group {
    justify-content: space-between;
  }
  .m-tab-arrow {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 0;
    flex: 0 0 auto;
    position: relative;
    z-index: 2;
    display: block;
    [class*=" icon-"],
    [class^="icon-"] {
      font-size: 1.4em;
      display: block;
    }
  }
}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
