.m-textarea-block {
  position: relative;
  z-index: 1;
  font-size: $font-size-root-100;
}

.m-textarea-block-modal {
  margin: 0 -2em -2em -2em;
}

.m-textarea-block-label {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 2;
  color: $secondary-color-12;
  transition: all $transition-ease-extra-fast;
  cursor: text;
  box-sizing: border-box;
  white-space: nowrap;
  &.is-active {
    top: -1.5em;
    left: 0;
    color: $secondary-color-16;
    font-size: $font-size-075;
    height: $line-height-100;
    line-height: $line-height-100;
  }
}

.m-textarea-block-label-modal {
  top: 1.6em;
  left: 2em;
  &.is-active {
    left: 2.75em;
  }
}

.m-textarea-block-field {
  position: relative;
  z-index: 1;
}

.m-textarea-block-field-modal {
  margin: 1.5em 0 0 0;
  padding: 2em;
  border: 0;
  min-height: 30vh;
  max-height: 50vh;
  resize: none;
  display: block;
  overflow-y: auto;
}

.is-night-mode {
  .m-textarea-block-label {
    &.is-active {
      color: $secondary-color-06;
    }
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
