/* textarea-block
------------------------------------------------- */

.textarea-block {
  position: relative;
  z-index: 1;
  .textarea-label {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    color: $dark-alpha-14;
    top: 0;
    left: 10px;
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    z-index: 2;
    transition: all $transition-ease-fast;
    cursor: text;
    box-sizing: border-box;
    // &.textarea-label-focus {
    //   color: $primary-color-07;
    // }
    &.textarea-label-active {
      top: -1.5rem;
      left: 0;
      color: $dark-alpha-12;
      font-size: $small-text;
      height: 1.5rem;
      line-height: 1.5rem;
    }
  }
  .textarea-box {
    position: relative;
    z-index: 1;
    &.tall {
      min-height: 70px;
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
