.m-tip {
  position: absolute;
  max-width: 20em;
  margin: 0.5em;
  left: 0;
  top: 0;
  font-size: $font-size-root-125;
  opacity: 1;
  z-index: $tip;
  transition: opacity $transition-ease-medium;
  transform-origin: bottom center;
  pointer-events: none;
}
.m-tip-intro {
  animation: grow $transition-ease-medium 1;
}
.m-tip-outro {
  animation: shirnk $transition-ease-medium 1;
}
.m-tip-push-left {
  left: 20%;
  transform: translate(-60%, 0);
  &:before {
    left: 80%;
  }
}
.m-tip-push-right {
  left: 80%;
  transform: translate(-40%, 0);
  &:before {
    left: 20%;
  }
}
.m-tip-message {
  padding: 0.5em 1em;
  background-color: $dark-alpha-02;
  border-radius: $border-radius-large;
  color: $white;
  font-size: 0.8em;
  font-family: $open-sans-semi-bold;
  text-align: center;
  position: relative;
  display: block;
  z-index: 1;
  // box-shadow: $shadow-large;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-tip-arrow {
  border: 0.4em solid transparent;
  border-top-color: $dark-alpha-02;
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  display: block;
  z-index: 2;
  transform: translate(-50%, 0);
}
.is-night-mode {
  .m-tip-message {
    background-color: $light-alpha-02;
    color: $black;
  }
  .m-tip-arrow {
    border-top-color: $light-alpha-02;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-tip {
    font-size: $font-size-root-100;
  }
}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
