.m-tip {
  position: absolute;
  max-width: 20em;
  // bottom: 3.5em;
  // left: 50%;
  left: 0;
  top: 0;
  font-size: $font-size-root-100;
  opacity: 0;
  z-index: $tip;
  transition: opacity $transition-ease-fast;
  // transform: translate(-50%, 0);
}
.m-tip-push-left {
  left: 20%;
  transform: translate(-60%, 0);
  &:before {
    left: 80%;
  }
}
.m-tip-push-right {
  left: 80%;
  transform: translate(-40%, 0);
  &:before {
    left: 20%;
  }
}
.m-tip-box {
  padding: 0.5em 1em;
  background-color: $dark-alpha-05;
  border-radius: $border-radius-large;
  color: $white;
  font-size: 0.8em;
  font-family: $open-sans-semi-bold;
  text-align: center;
  position: relative;
  display: block;
  z-index: 2;
  box-shadow: $shadow-medium;
  &:before {
    content: "";
    border: 0.5em solid transparent;
    border-top-color: $dark-alpha-05;
    position: absolute;
    width: 0;
    height: 0;
    bottom: calc(-1em + 0.5px);
    left: 50%;
    display: block;
    z-index: 1;
    transform: translate(-50%, 0);
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
