.m-total-block-total {
  background-color: $gray-19;
  border: $border;
  border-color: $gray-17;
  border-radius: $border-radius-large;
  font-family: $open-sans-bold;
  height: 2.5em;
  line-height: $line-height-250;
  padding: 0 0.5em;
  box-sizing: border-box;
  text-align: center;
}

.m-total-block-label {
  display: block;
  color: $gray-14;
  font-size: $font-size-075;
  font-family: $open-sans-semi-bold;
  transition: all $transition-ease-extra-fast;
  box-sizing: border-box;
  white-space: nowrap;
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.is-night-mode {
  .m-total-block-total {
    color: $secondary-color-12;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
