.m-input-file-block {
  position: relative;
  z-index: 1;
  font-size: $font-size-root-100;
}
.m-input-file-block-label {
  background-color: $gray-20;
  color: $base-color;
  padding: 0.25em 1em;
  border: 0;
  border: $border;
  border-color: $gray-16;
  border-radius: $border-radius-large;
  margin: 0 0 1em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: $font-size-100;
  line-height: $line-height-200;
  font-family: $open-sans-semi-bold;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: none;
  transition: background-color $transition-ease-fast, border-color $transition-ease-fast, color $transition-ease-fast, padding $transition-ease-fast, box-shadow $transition-ease-fast;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  span {
    flex: 0 0 auto;
    height: initial;
  }
  [class*=" icon-"],
  [class^="icon-"] {
    font-size: 1em;
    line-height: 1;
    display: inline-block;
    &:not(:only-child):not(:last-child) {
      margin-right: 0.4em;
    }
  }
  .m-input-file-block-label-text {
    display: block;
    position: relative;
  }
  &:focus,
  &:hover {
    background-color: $gray-18;
    border-color: $gray-14;
    color: $base-color;
    outline: 0;
    text-decoration: none;
    box-shadow: 0 0 0 3px $dark-alpha-20;
  }
  &:active {
    background-color: $gray-16;
    border-color: $gray-12;
    color: $base-color;
    outline: 0;
    text-decoration: none;
    box-shadow: 0 0 0 3px $dark-alpha-19;
  }
  &:not(:only-child):not(:last-child) {
    margin-bottom: 0;
  }
}
.m-input-file-block-field {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}
.is-night-mode {
  .m-input-file-block-label {
    // color: $secondary-color-16;
  }
}
// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {
  .m-input-file-block-label {
    line-height: $line-height-160;
  }
}
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
@media (min-width: $screen-xl) {}
